<!-- Branch Listing -->
<div class="animated calendar" ng-controller="adminCalendarController">
    <div class="admin-top-header sep-bot">
        <div class="row">
            <form name="calendarfilter">
                <div class="col-md-4">
                    <div class="date-range no-mar">
                        <label for="range">Filter By Range <em>*</em></label>
                        <div class="form-group no-mar clearfix">
                            <input type="text" class="form-control icons-calendar" daterangepicker ng-model="fromDate" placeholder="DD-MM-YYYY - DD-MM-YYYY" required>
                            <!-- <span class="bold">to</span> -->
                            <!-- <input type="text" class="form-control icons-calendar" referraldatepicker ng-model="toDate" placeholder="DD/MM/YYYY"> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="radio-options no-mar">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="filtype" value="sc" name="disablesearch" ng-click="hospitalCollection.disabled = false; doctorList.disabled = true; doctorList.selected = undefined;"> Search by Location <em>*</em>
                            </label>
                        </div>
                        <div class="form-group no-mar">
                            <ui-select ng-model="hospitalCollection.selected" reset-search-input="true" theme="bootstrap" append-to-body="true" required="" ng-change="hospitalSelected()" ng-disabled="hospitalCollection.disabled" ng-required="filtype == 'sc'">
                                <ui-select-match placeholder="Search Using Location Name">
                                    <span ng-bind="$select.selected.HospitalInfo.HospitalDetails.HospitalName"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter="" repeat="data in hospitalCollection | filter: $select.search">
                                    <span ng-bind="data.HospitalInfo.HospitalDetails.HospitalName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="radio-options no-mar">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="filtype" value="ss" name="disablesearch" ng-click="doctorList.disabled = false; hospitalCollection.disabled = true; hospitalCollection.selected = undefined;"> Search by Sonographers <em>*</em>
                            </label>
                        </div>
                        <div class="form-group no-mar">
                            <ui-select ng-model="doctorList.selected" reset-search-input="true" theme="bootstrap" append-to-body="true" required="" ng-change="hospitalSelected()" ng-disabled="doctorList.disabled" ng-required="filtype == 'ss'">
                                <ui-select-match placeholder="Search Using Sonographer Name">
                                    <span ng-bind="$select.selected.doctorname"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter="" repeat="data in doctorList | filter: $select.search">
                                    <span ng-bind="data.doctorname"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center pt-20">
                    <button class="btn btn-primary" ng-disabled="!calendarfilter.$valid" ng-click="applyFilter()">Apply</button>
                </div>
            </form>
        </div>
    </div>
    

    <div class="calendar-schedule">
        <div class="swiper-container swiper-calendar">
            <div class="swiper-wrapper">
                <div class="swiper-slide slot-card" ng-repeat="calendar in calendarCollection | orderBy: 'timestamp'">
                    <div class="head text-center blue">
                        <h3>{{calendar.date}}</h3>
                    </div>
                    <div class="top-sect">
                        <p>Location</p>
                        <h6 class="primary">{{calendar.hospitalname}}</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Sonographer</p>
                                <h6 class="orange">{{calendar.sonographername}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p>Support Worker</p>
                                <h6 class="secondary">{{calendar.supportworkername}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Time Slot:</p>
                                <h6 class="primary">{{calendar.minpercaseval}} Min</h6>
                            </div>
                            <div class="col-sm-6">
                                <p>Total Slots</p>
                                <h6 class="secondary">{{calendar.totalslot}}</h6>
                            </div>
                        </div>
                        <p class="inline">List of Time Slot's </p>
                    </div>
                    <div class="time-slot">
                        <ul class="slots pt-10">
                            <li ng-class="{'booked': slots.booked == true, 'emer': slots.emer == true, 'break': slots.break == true}" ng-repeat="slots in calendar.slotscoll" ng-click="getBookedDetails(slots)">{{slots.time}}</li>
                            <!-- <li ng-class="{'booked': slots.split('~')[1] == 'Y'}" ng-repeat="slots in calendar.time2">{{slots.split('~')[0]}}</li> -->
                        </ul>
                    </div>
                </div>
                <!-- <div class="swiper-slide slot-card">
                    <div class="head text-center orange">
                        <h3>15-12-2018(Tuesday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center pink">
                        <h3>16-12-2018(Wednesday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center brown">
                        <h3>17-12-2018(Thursday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center grey">
                        <h3>18-12-2018(Friday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div> -->
            </div>
	        <div class="swiper-button-prev" ng-show="calendarCollection.length > 0"></div>
	        <div class="swiper-button-next" ng-show="calendarCollection.length > 0"></div>
        </div>
        <div class="form-group mt-20">
        </div>
    </div>

    <div ng-show="calendarCollection.length == 0" class="bold text-center">
        No records found
    </div>
</div>

<script>
</script>