<div ng-controller="costAnalyticReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range
                                <em>*</em>
                            </label>
                            <div class="form-group clearfix no-mar">
                                <input type="text" class="form-control icons-calendar" daterangedashboardpicker ng-model="fromDate" placeholder="DD-MM-YYYY - DD-MM-YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-mar">
                            <label for="range">Region</label>
                            <ui-select ng-model="costCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false" required="">
                                <ui-select-match placeholder="Select Region">
                                    <span ng-bind="$select.selected.regionname"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter="" repeat="data in costCollection | filter: $select.search | filter: {active:true} | orderBy: 'regionname'">
                                    <span ng-bind="data.regionname"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center pt-20">
                        <button class="btn btn-primary" ng-click="applyFilterData()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clsNewDash">
        <ul class="clearfix unstyled">
            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/GP.png">
                        </div>
                        <h3 class=""> {{costAnalyticCollection[0].GPvalue}} </h3>
                        <p class=""> GP </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/GP_per.png">
                        </div>
                        <h3 class=""> {{costAnalyticCollection[0].GPpercentvalue}} </h3>
                        <p class=""> GP % </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Cost.png">
                        </div>
                        <h3 class=""> {{costAnalyticCollection[0].Costvalue}} </h3>
                        <p class=""> Cost </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Revenue.png">
                        </div>
                        <h3 class=""> {{costAnalyticCollection[0].Revenuevalue}} </h3>
                        <p class=""> Revenue </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Capacity.png">
                        </div>
                        <h3 class=""> {{costAnalyticCollection[0].Capacitypercent}} </h3>
                        <p class=""> Capacity % </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap eleven" ng-class="showTotalRevenue?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Gross_profit.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted eleven-c bigger">{{costAnalyticCollection[0].GPvalue}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-muted">
                    <span class="green">GP </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap twelve" ng-class="showTotalOutstanding?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/percntage.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted twelve-c bigger">{{costAnalyticCollection[0].GPpercentvalue}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-green">
                    <span class="green">GP % </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap thirteen" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Cost.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted thirteen-c bigger">{{costAnalyticCollection[0].Costvalue}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Cost </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap fourteen" ng-class="showTotalTreatment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/gross.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted fourteen-c bigger">{{costAnalyticCollection[0].Revenuevalue}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Revenue </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap sixteen" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Capacity.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted sixteen-c bigger">{{costAnalyticCollection[0].Capacitypercent}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Capacity % </span>
                </span>
            </div>
        </div>
    </div> -->

</div>