<style>
    .cropArea {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 320px;
        height: 240px;
    }
    
    img-crop.fixed-height canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    img-crop canvas {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none;
    }
    
    img-crop.fixed-height {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    img-crop {
        width: 100%;
        display: block;
    }
    
    .loading {
        display: none;
    }
    
    .ui-datepicker-year {
        width: auto !important;
    }
    
    .global-white-bg input.hasDatepicker:focus {
        background: #fffadc url(./images/cal-icon.png) no-repeat !important;
        background-position: 95% center !important;
    }
    
    .global-white-bg em {
        line-height: 11px;
    }
    
    .new-radio label {
        padding: 0px !important;
        width: auto !important;
        display: inline-block !important;
        background: transparent !important;
        margin: 0px 10px 0px 0px !important;
    }
    
    .new-radio label:after {
        display: none !important;
    }
    /*
.upload.box__dragndrop,
.upload.box__uploading,
.upload.box__success,
.upload.box__error {
  display: none;
}
.upload.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.upload.box.has-advanced-upload .upload.box__dragndrop {
  display: inline;
}
.upload.box.is-dragover {
  background-color: grey;
}
.upload.box.is-uploading .upload.box__input {
  visibility: none;
}
.upload.box.is-uploading .upload.box__uploading {
  display: block;
}
.upload.box__button {
  display: none;
}
.no-js .upload.box__button {
  display: block;
}*/
</style>

<body>
    <link rel="stylesheet" href="css/upload.css" />

    <div class="reg-patient-body mt-15 mb-15">

        <form name="patientform" novalidate>
            <div class="container global-white-bg">
                <h3 class="reg-header" ng-show="patientedit">Update Referral</h3>
                <h3 class="reg-header" ng-hide="patientedit">Register Referral</h3>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="add-membership-box">
                            <div class="page-header">
                                <h4>BASIC DETAILS</h4>
                            </div>
                            <div class="panel-body global-panel-body">
                                <!-- <div class="memb-pro-photo">
                                    <div class="profile-avatar">
                                        <a href="">
                                            <img src="img/new-img/default_profile_photo.png" alt="">
                                            <div class="photo-upload">
                                                <a href="javascript:;" class="photo-upload-label"></a>
                                            </div>
                                            <div class="vip-txt" ng-show="vip">
                                                <a href="javascript:;" class="vip-txt-label">VIP</a>
                                            </div>
                                    </div>
                                </div> -->

                                <div class="form-wrap js">
                                    <div class="row pb-20">
                                        <div class="col-md-1">
                                            <i class="fa fa-attach"></i>
                                        </div>
                                        <div class="col-sm-11">
                                            <label>Please choose pdf, jpeg, png, doc, docx <em>*</em> </label>
                                            <!-- <input class="form-control" id="UploadDocument" type="file" name="" class="ng-pristine ng-untouched ng-valid" ng-model="addUpdatePat.patientDetails.EnquiryDetails.enquiryfileurl"> -->
                                            <!-- 
                                            <div class="upload-btn-wrapper">
                                              <button class="btn">Choose Document</button> 
                                              <span class="plt-10">{{fileurl}}</span>
                                              <input type="file" id="UploadDocument" name="myfile" custom-on-change="uploadFile" accept=".pdf, .doc, .docx, .jpg, .jped, .png" required="required"/>
                                            </div> -->
                                            <div class="upload box has-advanced-upload">
                                                <div class="upload box__input">
                                                    <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50"
                                                        height="43" viewBox="0 0 50 43">
                                                        <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path>
                                                    </svg>
                                                    <input class="upload box__file" type="file" name="files[]" id="UploadDocument"
                                                        name="myfile" accept=".pdf, .doc, .docx, .jpg, .jped, .png"
                                                        required="required" />
                                                    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop">
                                                            or drag it here</span>.</label>
                                                </div>
                                                <div class="upload box__uploading">Uploading&hellip;</div>
                                                <div class="upload box__success">Done!</div>
                                                <div class="upload box__error">Error! <span></span>.</div>
                                                <div class="black">{{fileurl}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/pannumber.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>NHS NUMBER <em>*</em></label>
                                            <input class="form-input addrow-form" id="getNHS" ng-model="addUpdatePat.patientDetails.PatientOtherDetails.AadhaarID"
                                                placeholder="Enter NHS Number" type="text" required="required"
                                                ng-disabled="nhsstatus" ng-blur="checkNHSNumber()">
                                        </div>
                                        <div class="col-md-2 mt-20 no-pad">
                                            <button class="btn btn-filled ml" ng-disabled="edit" ng-click="nhslookup()">Look
                                                Up</button>
                                        </div>
                                        <div class="col-md-4 pr-0">
                                            <label>DW ID</label>
                                            <input class="form-input addrow-form" disabled ng-model="addUpdatePat.patientDetails.PatientID"
                                                placeholder="Id Generated On Registering" type="text">
                                        </div>
                                    </div>

                                    <div class="row mt-20">
                                        <div class="col-md-1">
                                            <i class="fa fa-name"></i>
                                        </div>
                                        <div class="col-md-2 pr-0">
                                            <label>Title
                                                <em>*</em>
                                            </label>
                                            <select class="form-input select-dropdown" ng-model="addUpdatePat.patientDetails.Title"
                                                required="required" ng-disabled="nhsstatus">
                                                <option value="Miss">Miss</option>
                                                <option value="Mr">Mr</option>
                                                <option value="Ms">Ms</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Dr">Dr</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 pr-0">
                                            <label>Forename <em>*</em></label>
                                            <input class="form-input" ng-model="addUpdatePat.patientDetails.FirstName"
                                                placeholder="Enter Forename" type="text" required="required"
                                                ng-disabled="nhsstatus">
                                        </div>
                                        <div class="col-md-5">
                                            <label>Surname <em>*</em></label>
                                            <input class="form-input pa-reg-name" ng-model="addUpdatePat.patientDetails.LastName"
                                                placeholder="Enter Surname" type="text" required="required" ng-disabled="nhsstatus">
                                            <!-- <div class="add-vip-member">
                                                <div class="vip-checkbox">
                                                    <input type="checkbox" class="checkbox" ng-model="vip">
                                                    <span class="lbl"></span>
                                                    <label class="viplbl" for="custom_vip">VIP</label>
                                                </div>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                                <div class="form-wrap" style="margin: 20px 0px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-dob"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="memb-dob">
                                                        <label>DATE OF BIRTH
                                                            <em>*</em>
                                                        </label>
                                                        <input class="form-input icons-calendar" ng-model="addUpdatePat.patientDetails.DOB"
                                                            ng-change="calculateAge(addUpdatePat.patientDetails.DOB)"
                                                            placeholder="DD-MM-YYYY" type="text" referraldatepicker
                                                            required="required" ng-disabled="nhsstatus">
                                                    </div>
                                                </div>

                                                <div class="col-md-1 no-pad">
                                                    <label>Age</label>
                                                    <input class="form-input addrow-form" ng-model="addUpdatePat.patientDetails.Age"
                                                        type="number" disabled>
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fa fa-gender"></i>
                                                </div>
                                                <div class="col-md-4 pr-0">
                                                    <label>GENDER <em>*</em></label>
                                                    <select class="form-input select-dropdown" placeholder="Choose Option"
                                                        ng-model="addUpdatePat.patientDetails.Gender" required="required"
                                                        ng-disabled="nhsstatus">
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                        <option value="U">Unknown</option>
                                                        <option value="O">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-wrap mr-bt-none">
                                    <div class="row">
                                        <!-- <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div> -->
                                        <div class="col-md-12">
                                            <label>CONTACT NUMBER
                                                <!-- <em>*</em> -->
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div>
                                        <!-- <div class="col-md-11"> -->
                                        <!-- <div class="row"> -->
                                        <!-- <div class="col-md-3" style="padding-right: 5px; padding-bottom: 5px;
                                                width: 20%">
                                                    <label style="font-size: 13px;border: 1px solid #ccc;padding: 8px 10px 9px 10px;background: white;font-weight: normal;">
                                                        DayTime
                                                    </label>
                                                </div> -->
                                        <div class="col-sm-5">
                                            <input class="form-input" ng-model="patientnumber[0].FullNumber"
                                                placeholder="Enter Telephone number" type="text" numbers-only
                                                ng-disabled="nhsstatus">
                                        </div>

                                        <div class="col-sm-6">
                                            <input class="form-input" placeholder="Description" type="text" ng-model="patientnumber[0].PhDescription">
                                        </div>
                                        <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div>
                                        <!-- <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                <label style="font-size: 13px;border: 1px solid #ccc;padding: 8px 10px 9px 10px;background: white;font-weight: normal;">
                                                    Evening
                                                </label>
                                            </div> -->
                                        <div class="col-sm-5">
                                            <input class="form-input" ng-model="patientnumber[1].FullNumber"
                                                placeholder="Enter Telephone number" type="text" numbers-only
                                                ng-disabled="nhsstatus">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-input" placeholder="Description" type="text" ng-model="patientnumber[1].PhDescription">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div>
                                        <!-- <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                        <label style="font-size: 13px;border: 1px solid #ccc;padding: 8px 10px 9px 10px;background: white;font-weight: normal;">
                                                            Mobile
                                                        </label>
                                                    </div> -->
                                        <div class="col-sm-5">
                                            <input class="form-input" ng-model="patientnumber[2].FullNumber"
                                                placeholder="Enter Mobile number" type="text" numbers-only ng-disabled="nhsstatus">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-input" placeholder="Description" type="text" ng-model="patientnumber[2].PhDescription">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap mr-bt-none">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <!-- <i class="fa fa-number"></i> -->
                                        </div>
                                        <div class="col-md-11">
                                            <label>COMMUNICATION PREFERENCES</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap mb-20">
                                    <div class="row pb-10">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-11">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="add-vip-member" style="margin-left: 0px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isEmail"
                                                                class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Email</label>
                                                        </div>
                                                    </div>
                                                    <div class="add-vip-member" style="margin-left: 20px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isLetter"
                                                                class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Letter</label>
                                                        </div>
                                                    </div>
                                                    <div class="add-vip-member" style="margin-left: 20px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isSms"
                                                                class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">SMS</label>
                                                        </div>
                                                    </div>
                                                    <div class="add-vip-member" style="margin-left: 20px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" class="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isVoicemail">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Voicemail</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mt-15">
                                                    <div class="add-vip-member" style="margin-left: 0px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isMobilityissues"
                                                                class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Mobility Issues</label>
                                                        </div>
                                                    </div>
                                                    <div class="add-vip-member" style="margin-left: 20px;">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isCommunicationissues"
                                                                class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Communication Issues</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-email"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <label>EMAIL ID</label>
                                            <input class="form-input" ng-model="addUpdatePat.patientEmail[0].EmailID"
                                                placeholder="Enter Email ID" type="email" ng-disabled="nhsstatus"
                                                ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-wrap mb-20" ng-init="issuereason = false">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-11">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="add-vip-member">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" class="checkbox" ng-model="issuereason">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Issues</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" ng-show="issuereason">
                                                    <select class="form-input select-dropdown" ng-model="addUpdatePat.patientDetails.EnquiryDetails.manageid"
                                                        convertToNumber ng-required="issuereason && addUpdatePat.patientDetails.EnquiryDetails.manageid == 0">
                                                        <option value="0">-- Select Issue Reason --</option>
                                                        <option ng-repeat="iss in issueCollection" value="{{iss.manageid}}">{{iss.managedesc}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-12 pt-10" ng-show="issuereason">
                                                    <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.issueReason"
                                                        rows="3" class="form-control" placeholder="Enter Issue Reason"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="registration-right-side">
                            <div class="registration-accordion">
                                <div class="first-tab">
                                    <input class="registration-radio" name="small-reg1" checked id="small-reg" value="small-reg"
                                        type="radio">
                                    <label for="small-reg" class="acc-lbl-conadress">CONTACT ADDRESS <em>*</em></label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="accordion-form">

                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="form-group" id="patientlookup">
                                                                <input type="text" name="Code" class="form-control"
                                                                    style="width:calc(100% - 120px);display: inline-block;"
                                                                    placeholder="Enter Postcode" ng-model="addUpdatePat.patientAddress[0].Postcode"
                                                                    required="required" ng-disabled="nhsstatus">
                                                                <button class="btn btn-filled" ng-click="getloockup()"
                                                                    data-target="#patientlookup" data-toggle="dropdown">Look
                                                                    Up</button>
                                                                <ul class="dropdown-menu addressselect">
                                                                    <li ng-repeat="address in addressCollection"
                                                                        ng-click="selectpostcode(address)">
                                                                        {{address}}
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input name="" ng-model="addUpdatePat.patientAddress[0].Address1"
                                                                class="form-input addrow-form" placeholder="Address Line 1"
                                                                type="text" ng-disabled="nhsstatus">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input name="" ng-model="addUpdatePat.patientAddress[0].Address2"
                                                                class="form-input addrow-form" placeholder="Address Line 2"
                                                                type="text" ng-disabled="nhsstatus">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input ng-model="addUpdatePat.patientAddress[0].Address3"
                                                                placeholder="Address Line 3" class="form-input" type="text"
                                                                ng-disabled="nhsstatus">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <input ng-model="addUpdatePat.patientAddress[0].Address4"
                                                                class="form-input addrow-form" placeholder="Address Line 4"
                                                                type="text" ng-disabled="nhsstatus">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input ng-model="addUpdatePat.patientAddress[0].CityTown"
                                                                class="form-input addrow-form" placeholder="Town" type="text"
                                                                ng-disabled="nhsstatus">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <input ng-model="addUpdatePat.patientAddress[0].State"
                                                                class="form-input addrow-form" placeholder="County"
                                                                type="text" ng-disabled="nhsstatus">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input ng-model="addUpdatePat.patientAddress[0].Country"
                                                                class="form-input addrow-form" placeholder="country"
                                                                disabled type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="third-tab-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium3-reg" value="medium3-reg"
                                        type="radio">
                                    <label for="medium3-reg" class="acc-lbl-emg">Referrer Details </label>
                                    <article class="emg-contact-acc">
                                        <div class="accordion-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-wrap">
                                                        <span>CCG <em>*</em></span>

                                                        <ui-select ng-model="ccgData.selected" reset-search-input="true"
                                                            theme="bootstrap" append-to-body="true" required="required"
                                                            ng-change="updateccg()">
                                                            <ui-select-match placeholder="">
                                                                <span ng-bind="$select.selected.ccgname"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices group-by="" group-filter="" repeat="data in ccgData | filter: $select.search">
                                                                <span ng-bind="data.ccgname"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <!-- <input ng-model="addUpdatePat.patientReferral.ccgname" type="text" placeholder="Enter CCG" class="form-input" name=""> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-wrap">
                                                        <span>Practice <em>*</em></span>

                                                        <ui-select ng-model="practiceData.selected" reset-search-input="true"
                                                            theme="bootstrap" append-to-body="true" required="required"
                                                            ng-change="updatePractice()">
                                                            <ui-select-match placeholder="">
                                                                <span ng-bind="$select.selected.practicename"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices group-by="" group-filter="" repeat="data in practiceData | filter: $select.search">
                                                                <span ng-bind="data.practicename"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <!-- <input ng-model="addUpdatePat.patientReferral.practicename" type="text" placeholder="Enter Practice" class="form-input" name=""> -->
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <span>Referrer Name <em>*</em></span>
                                                        <div class="apptsearchdroplist no-pad">
                                                            <ui-select ng-model="doctorData.selected"
                                                                reset-search-input="true" theme="bootstrap"
                                                                append-to-body="true" required="required" ng-change="updateDoctor()">
                                                                <ui-select-match placeholder="">
                                                                    <span ng-bind="$select.selected.doctorname"></span>
                                                                </ui-select-match>
                                                                <ui-select-choices group-by="" group-filter="" repeat="data in doctorData | filter: $select.search">
                                                                    <span ng-bind="data.doctorname"></span>
                                                                </ui-select-choices>
                                                            </ui-select>

                                                            <!-- <div class="input-group search-control no-pad">
                                                                <input ng-model="addUpdatePat.patientReferral.doctorname" type="text" class="form-control" placeholder="Enter Name to search / GP Code" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                </span>
                                                            </div>
                                                            <ul>
                                                                <li role="presentation">
                                                                    <a href="javascript:;"> {{item.FullName}} </a>
                                                                </li>
                                                            </ul> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="second-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium-reg" value="medium-reg"
                                        type="radio">
                                    <label for="medium-reg" class="acc-lbl-addetails">ENQUIRY DETAILS </label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="row accordion-addrow">
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-4">
                                                    <span>Referral Created <em>*</em></span>
                                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalcreated"
                                                        class="form-control icons-calendar" placeholder="DD-MM-YYYY"
                                                        type="text" referraldatepickerone required="required">
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Referral Received <em>*</em></span>
                                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalreceived"
                                                        class="form-control icons-calendar" placeholder="DD-MM-YYYY"
                                                        type="text" referraldatepickerone required="required"
                                                        data-min-date="{{addUpdatePat.patientDetails.EnquiryDetails.referalcreated}}">
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Referral Processed <em>*</em></span>
                                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalprocessed"
                                                        class="form-control icons-calendar" disabled placeholder="DD-MM-YYYY"
                                                        type="text" referraldatepickerone>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-12">
                                                    <span>PRESENTING COMPLAINT</span>
                                                    <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.clinicalnotes"
                                                        class="form-input pa-reg-name" placeholder="PRESENTING COMPLAINT"
                                                        type="text" style="height:60px !important"></textarea>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-12">
                                                    <span>PROVISIONAL DIAGNOSIS</span>
                                                    <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.clinicaldetails"
                                                        class="form-input pa-reg-name" placeholder="PROVISIONAL DIAGNOSIS"
                                                        type="text" style="height:60px !important"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-10">
                                                    <span>Speciality <em>*</em></span>
                                                    <ui-select multiple ng-model="specialityCollection.selected"
                                                        reset-search-input="true" theme="bootstrap" append-to-body="false"
                                                        required ng-change="selectspeciality()">
                                                        <ui-select-match placeholder="">
                                                            <span ng-bind="$item.specialitydesc"></span>
                                                        </ui-select-match>
                                                        <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: $select.search">
                                                            <span ng-bind="data.specialitydesc"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-12">
                                                    <span>Sub Speciality <em>*</em></span>

                                                    <ui-select multiple ng-model="subSpecialityCollection.selected"
                                                        reset-search-input="true" theme="bootstrap" append-to-body="false"
                                                        required>
                                                        <ui-select-match placeholder="">
                                                            <span ng-bind="$item.DoctorSpecialityDesc"></span>
                                                        </ui-select-match>
                                                        <ui-select-choices group-by="'speldesc'" group-filter="" repeat="data in subSpecialityCollection | filter: $select.search">
                                                            <span ng-bind="data.DoctorSpecialityDesc"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="row pt-10 pb-50">

                                                <div class="col-md-5">
                                                    <span>Enquiry Source <em>*</em></span>
                                                    <select name="" id="" class="form-control" ng-model="addUpdatePat.patientDetails.EnquiryDetails.enquirysourceid"
                                                        required="required">
                                                        <option value="FAX">Fax</option>
                                                        <option value="EMAIL">e-mail</option>
                                                        <option value="ERS">eRS</option>
                                                        <option value="ELECTRONIC">Electronic</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7">
                                                    <span>Appointment Type <em>*</em></span>
                                                    <div class="input-set-row">
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                                                    type="radio" name="apttype" value="URGENT" checked="checked"
                                                                    required="required">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-man"></i> Urgent</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                                                    type="radio" name="apttype" value="ROUTINE"
                                                                    required="required">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-woman"></i>Routine</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                                                    type="radio" name="apttype" value="DVT" required="required">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-woman"></i>DVT</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="row accordion-addrow mt-15">
                                                <div class="col-md-6">
                                                    <span>Enquiry Source <em>*</em></span>
                                                    <select name="" id="" class="form-control" ng-model="addUpdatePat.patientDetails.EnquiryDetails.enquirysourceid" required="required">
                                                        <option value="FAX">Fax</option>
                                                        <option value="EMAIL">e-mail</option>
                                                        <option value="ERS">eRS</option>
                                                        <option value="ELECTRONIC">Electronic</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mt-20">
                                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.enquiryfileurl" type="file" name="">
                                                    <small style="margin-top: 2px; display: inline-block; font-size: 10px">(PDF, Word, Jpeg, Png)</small>
                                                </div>
                                            </div> -->
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.notes" cols="30"
                                        rows="5" class="form-control" placeholder="Notes"></textarea>
                                </div>
                            </div>
                            <div class="reg-pat-btn clearfix pull-right">
                                <button class="btn btn-filled pull-left" ng-click="cancel()">cancel</button>
                                <button style="margin-left:10px;" ng-show="patientedit" ng-disabled="!patientform.$valid"
                                    ng-click="update()" class="btn btn-primary pull-right mw-100">Update</button>
                                <button style="margin-left:10px;" ng-disabled="!patientform.$valid" ng-hide="patientedit"
                                    ng-click="register()" class="btn btn-primary pull-right mw-100">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div id="re-photo-wrap" class="modal-dialog" role="document">
                <div class="re-photo-wrap">
                    <div class="modal-header">
                        <span class="close" data-dismiss="modal" aria-label="Close">X</span>
                        <h4 class="modal-title" id="myModalLabel">Patient Profile Photo</h4>
                    </div>
                    <div class="re-photo-inner">
                        <ul class="re-tab">
                            <li class="{{ tabno ==1 ? 'active' :''}}">
                                <a href="javascript:;" ng-class="ShowTab(1)" ng-click="tabno=1">
                                    Take Photo
                                </a>
                            </li>
                            <li class="{{tabno ==2 ? 'active' :''}}">
                                <a href="javascript:;" ng-click="tabno=2" ng-click="upload()">
                                    Upload Photo
                                </a>
                            </li>
                        </ul>
                        <div ng-show="tabno ==1">
                            <div>
                                <div class="no-video alert-error ng-scope" ng-show="webcamError">
                                    <img src="img/new-img/no-video.png">
                                    <h5>We can't find your webcam.</h5>
                                    <span>Check to be sure your webcam is connected and installed properly.</span>
                                </div>
                                <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                                <div class="text-center" ng-hide="webcamError">
                                    <a href="" class="take-photo-btn" ng-click="makeSnapshot()" ng-hide="openset">
                                        <img src="img/new-img/take_photo_png.png">
                                    </a>
                                </div>
                                <canvas id="snapshot" width="300" height="300" hidden></canvas>
                            </div>
                            <div class="choose-local-storage">
                                <div class="{{ photoTaken == true ? 're-photo-preview' : 're-photo-preview upp'}}"
                                    data-ng-click="openLightboxModal($index)">
                                    <img data-ng-src="{{snapshotData}}">
                                    <div class="cropArea">
                                        <img-crop image="snapshotData" area-type="circle" chargement="'Loading'"
                                            result-image="myCroppedImage"></img-crop>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" ng-show="openset">
                                <p>Are you sure you want to upload this photo ?</p>
                                <button type="button" class="btn btn-filled" ng-click="closeSet()">
                                    No
                                </button>
                                <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary"
                                    data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                        <div class="re-up-photo" ng-show="tabno ==2">
                            <div class="crop-upload" ng-show="myImage.length > 0">
                                <img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                            </div>
                            <div class="re-up-photo-info" ng-show="myImage.length == 0">
                                <i class=""></i>
                                <img class="upload-icon" src="img/new-img/max-upload-icon.png">
                                <p>
                                    Maximum File Size is 5MB
                                    <br> Supported File Formats - .jpg, .png, .gif
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="browsefilebtn">
                                        <label for="file" class="btn btn-primary photo-lbl-popup" accept="image/*"
                                            ng-click="brwseOpen()" ng-show="browseOpenSet && myImage.length ==0">Browse
                                            file</label>
                                        <input type="file" id="fileInput" class="photo-inp-brwse" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" ng-show="myImage.length > 0">
                                <p>Are you sure you want to upload this photo ?</p>
                                <button type="button" class="btn btn-filled" ng-click="clearImg()" ng-show="browseOpenSet">
                                    No
                                </button>
                                <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary"
                                    data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-common new modal fade custom-modal" id="emailExclusion" data-backdrop="static" data-keyboard="false">
            <div class="modal-common-dialog app-confirm">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">X</span>
                    <h4 class="modal-title">Letter & Email Confirmation</h4>
                </div>
                <div class="modal-body">
                    <h4>Choose Letter or Email to be sent.</h4>
                    <div class="form-group clearfix">
                        <label class="control control--checkbox mt-10">
                            <span>Send Email</span>
                            <input type="checkbox" ng-model="emailexclusion.sendemail">
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox mt-10">
                            <span>Print Letter</span>
                            <input type="checkbox" ng-model="emailexclusion.sendletter">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="form-group mt-20 clearfix">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-primary orange" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="exclusionemail()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>