<div class="search" ng-show=searchshow>
    <div class="patient-list">
        <div class="patients-list-box">
            <div class="row search-patient">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="inner-addon right-addon col-sm-8">
                                    <div class="clearfix clsPatientSearch">
                                        <!-- <span class="input-group-addon"><i class="fa fa-search pos-rel" aria-hidden="true"></i></span> -->
                                        <input type="text" class="form-control" ng-model="searchPatient"
                                            placeholder="Search by Patient Name / Contact number / NHS Number / DW ID and click Search button">
                                        <span class="" ng-show="searchPatient != ''" ng-click="clearSearchPatient()"><i
                                                class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary mw-100" ng-click="search()"> Search </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="norecords-found-patients text-center" ng-show="searchCollection.length == 0 && showResult">
                <img src="img/no-data/no-results.png">
                <div class="msg">
                    <p class="goback-text">No results found</p>
                    <p class="goback-text-line2">Try using a different criteria to view better results.</p>
                </div>
            </div>
            <div class="norecords-found-patients text-center" ng-show="searchCollection.length == 0 && !showResult">
                <img src="img/no-data/search_here.png">
                <div class="msg">
                    <p class="goback-text">Search patient here</p>
                    <p class="goback-text-line2"></p>
                </div>
            </div>
            <div class="row pt-10" ng-show="searchCollection.length != 0">
                <div class="col-md-4 boxhover" ng-repeat="search in searchCollection">
                    <div class="well pa-search-box patients-info-wrap dr-search-results" ng-mouseenter="hover(search)"
                        ng-mouseleave="hover(search)">
                        <div class="patientlist-photo">
                            <!-- <div><img class="pat-search-star-img" src="img/star_tick.png"></div> -->
                            <div class="profile-image">
                                <span ng-show="search.imageurl == null || search.imageurl.length == 0">
                                    {{search.patientname | limitTo:2}}

                                </span>
                                <img ng-show="search.imageurl.length > 0" ng-src="{{search.imageurl}}" alt=""
                                    class="pro-img-pat">
                            </div>
                            <div class="patient-info patientlist-info">
                                <h3 ng-bind="search.patientname"></h3>
                                <div class="patientlist-age">
                                    <h4 class="pat-dob">
                                        <span class="inline-show valign-top pr-10"> {{search.dob}} </span> /
                                        <span class="inline-show valign-top pl-10 text-b">
                                            {{search.gender == 'M' ? 'Male' : search.gender == 'F' ? 'Female' :
                                            search.gender == 'U' ? 'Unknown' : 'Others' }}
                                        </span>
                                    </h4>
                                </div>
                                <!-- <div class="pa-app noborderL patientlist-app">
                                    <h4 class="pa-ph">{{search.patientid}}</h4>
                                </div> -->
                            </div>
                            <div class="vip-label" ng-show="search.vipFlag=='Y'">
                                <h6>VIP</h6>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row text-center pl-60">
                                <div class="col-sm-6">
                                    <div class="pa-id">NHS NUMBER:
                                        <strong>{{search.nhsid}}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pa-id">DW ID:
                                        <strong>{{search.patientid}}</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="patientlist-ltime">
                                <span>Last Consulted<strong>12/12/12</strong></span>
                            </div>
                            <div class="pa-due-amt">
                                <span>Due: 423 </span>
                            </div> -->
                        </div>
                        <div class="pts-actions">
                        </div>
                        <div class="patient-actions text-center">
                            <a class="patient-search-btns view-history" ng-click="viewCase(search)"
                                ng-show="search.showHover">View
                                Case History</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="past-records fadeIn" ng-show="!searchshow">
    <div class="plr-15">
        <div class="patients-profile clearfix">
            <div class="profile-detail">
                <div class="profile-avatar"
                    ng-hide="selectUserInfo.imageurl != null && selectUserInfo.imageurl.length != 0">
                    <img ng-hide="selectUserInfo.gender == 'F'" class="pt-photo" src="img/srch_defaultusr_male.png"
                        width="58" height="58">
                    <img ng-show="selectUserInfo.gender == 'F'" class="pt-photo" src="img/srch_defaultusr_female.png"
                        width="58" height="58">
                </div>
                <div class="profile-avatar"
                    ng-show="selectUserInfo.imageurl != null && selectUserInfo.imageurl.length != 0">
                    <img ng-srcset="{{selectUserInfo.imageurl}}">
                </div>
                <div class="profile-name">
                    <h3 ng-bind="selectUserInfo.patientname"></h3>
                    <p>
                        <span>{{selectUserInfo.age}} y</span> /
                        <span>{{selectUserInfo.gender == 'M' ? 'Male' : selectUserInfo.gender == 'F' ? 'Female' :
                            selectUserInfo.gender == 'U' ? 'Unknown' : 'Others' }}</span>
                    </p>
                </div>
            </div>
            <ul>
                <li>
                    <h3>NHS NUMBER</h3>
                    <p>{{selectUserInfo.nhsid}}</p>
                </li>
                <li class="">
                    <h3>DW ID</h3>
                    <p>{{selectUserInfo.patientid}}</p>
                </li>
            </ul>
            <div class="pat-strip-icon">

                <a href="javascritp:;" class="app-td-icon ap-iv view-vitals-popup"
                    ng-click="getPatientDetails('#patientView')">
                    <i class="fa fa-eye dis_inline patient_view" data-tooltip="View Patient Info"
                        aria-hidden="true"></i>
                    <a href="javascritp:;" class="app-td-icon ap-iv view-vitals-popup"
                        ng-click="getPatientDetails('#editPatient')">
                        <i class="fa fa-pencil dis_inline " aria-hidden="true"></i>
                    </a>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pr-0">
        <div class="previous-cases">
            <ul class="pr-tab">
                <li class="{{(case.isSelected) ? 'active':''}}"
                    ng-repeat="case in caseViewCollection | orderBy: -referalreceived">
                    <div class="interm-consult" ng-click="detailedView(case, $index)">
                        <h6><span>Received Date </span><strong>{{case.referalreceived}}</strong></h6>
                        <h6 class="clsEye"><span>Referrer </span><strong>{{case.referdoctorname}}</strong>
                            <button href="javascript:void(0);" class="color-primary"
                                ng-click="getPatientDetails('#Referral')">Referral</button><a href="javascript:void(0);"
                                ng-click="doctorDetails('#referrerView', case)"><i class="fa fa-eye color-primary"
                                    aria-hidden="true"></i></a>
                        </h6>
                        <h6><span>Speciality </span><strong>{{case.speciality}}</strong></h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="follow-ups clearfix">
            <!-- <h4 class="followstext_align text-bold col-sm-12 no-pad">Follow ups</h4> -->
            <div class="table-responsive col-sm-12 no-pad">
                <table class="table color-theme-one">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Region</th>
                            <th>Sonographer</th>
                            <!-- <th>Location</th> -->
                            <th>Location</th>
                            <th>Reports</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-init="toggle = 1">
                        <tr>
                            <td>{{selectedCollection.referalcreated}}</td>
                            <td>{{selectedCollection.regionname}}</td>
                            <td>{{selectedCollection.sonographarname}}</td>
                            <!-- <td>{{selectedCollection.citylocation}}</td> -->
                            <td>{{selectedCollection.scancentre}}<span
                                    ng-show="selectedCollection.citylocation!='' && selectedCollection.scancentre!=''">,
                                </span>{{selectedCollection.citylocation}}</td>
                            <td class="reports">
                                <span><a href="javascript:void(0);"
                                        ng-click="getPatientDetails('#referralpopup')">Referral</a></span>
                                <span class="ml-10"><a href="javascript:void(0);"
                                        ng-click="getPatientDetails('#scanpopup')">Scan</a></span>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="addnotes()" data-toggle="modal"
                                    data-target="#notes"><i class="fa fa-file-text-o mr-10 color-b cursor"
                                        aria-hidden="true"></i></a>
                                <input class="custom-file-input" type="file" name="otherfiles" id="UploadDoc3"
                                    accept=".pdf, .doc, .docx, .jpg, .jped, .png" />
                            </td>
                        </tr>
                        <tr class="inner" ng-show="toggle == 1">
                            <td colspan="15">
                                <table class="table color-theme-two mb-10">

                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Activity</th>
                                            <th>Comments / Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--  <tr ng-repeat="enquiries in enquiriesCollection | orderBy : '-timestamp'">
                                        <td>{{enquiries.date}}</td>
                                        <td>{{enquiries.username}}</td>
                                        <td ng-class="{'appointment-success': enquiries.enquirystatusid == 'BOOKED', 'appointment-danger': enquiries.enquirystatusid == 'DNA' }" ng-hide="enquiries.enquirystatusid == 'TRIAGE'">{{enquiries.enquirystatusid | enquirystatus}}</td>
                                        <td ng-show="enquiries.enquirystatusid == 'TRIAGE'">Referral Added</td>
                                        <td ng-show="enquiries.enquirystatusid != 'BOOKED'">{{enquiries.notes}}</td>
                                        <td ng-show="enquiries.enquirystatusid == 'BOOKED'">
                                            <p class="no-mar"><strong>Time:</strong> {{enquiries.appointmenttime}}</p>
                                            <p class="no-mar"><strong>Hospital Name:</strong> {{enquiries.hospitalname}}</p>
                                            <p class="no-mar"><strong>Address:</strong> {{enquiries.Address1}}, {{enquiries.Address2}}, {{enquiries.Address3}}, {{enquiries.Address4}}</p>
                                            <p class="no-mar"><strong>Notes:</strong> {{enquiries.notes}}</p>
                                        </td>
                                    </tr> -->

                                        <!-- <tr ng-repeat="enquiries in enquiriesCollection">
                                            <td>{{enquiries.dateNew}}</td>
                                            <td>{{enquiries.username}}</td>
                                            <td ng-class="{'appointment-success': enquiries.enquirystatusid == 'BOOKED', 'appointment-danger': enquiries.enquirystatusid == 'DNA' }"
                                                ng-hide="enquiries.enquirystatusid == 'TRIAGE'"><span
                                                    ng-show="enquiries.statusflag != 'RS'">{{enquiries.enquirystatusid
                                                    | enquirystatus}}</span> <span class="appointment-info"
                                                    ng-show="enquiries.statusflag == 'RS'">Rescheduled</span></td>
                                            <td ng-show="enquiries.enquirystatusid == 'TRIAGE'">Referral Added</td>
                                            <td
                                                ng-show="list.enquirystatusid != 'BOOKED' && list.enquirystatusid != 'ReminderAdded' && list.enquirystatusid != 'ReminderCompleted'">
                                                <div
                                                    ng-hide="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail' || list.enquirystatusid == 'DocumentUpload'">
                                                    {{list.notes}}</div>

                                                <div ng-show="list.enquirystatusid == 'DocumentUpload'">
                                                    <a href={{list.documenturl}}
                                                        target="_blank">{{list.documenturl}}</a>
                                                </div>

                                                <div class="email"
                                                    ng-show="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail'">
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = true; list.emailobj.sendletter = false; emailActoin(list.emailobj, list.enquirystatusid, false, true)">Resend
                                                        Email</a>
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = false; list.emailobj.sendletter = true; emailActoin(list.emailobj, list.enquirystatusid, true, false)">Download
                                                        Letter</a>
                                                </div>
                                            </td>
                                            <td ng-show="enquiries.enquirystatusid == 'BOOKED'">
                                                <p class="no-mar"><strong>Time:</strong> {{enquiries.appointmentdate |
                                                    convertdate }} : {{enquiries.appointmenttime}}</p>
                                                <p class="no-mar"><strong>Sonographer Name:</strong>
                                                    {{enquiries.sonographerName}}</p>
                                                <p class="no-mar"><strong>Location Name:</strong>
                                                    {{enquiries.hospitalname}}</p>
                                                <p class="no-mar"><strong>Address:</strong> {{enquiries.Address1}},
                                                    {{enquiries.Address2}}, {{enquiries.Address3}},
                                                    {{enquiries.Address4}}</p>
                                                <p class="no-mar"><strong>Notes:</strong> {{enquiries.notes}}</p>
                                            </td>
                                        </tr> -->

                                        <tr ng-repeat="list in enquiriesCollection">
                                            <td>{{list.dateNew}}</td>
                                            <td>{{list.username}}</td>
                                            <td ng-class="{'appointment-success': list.enquirystatusid == 'BOOKED' || list.enquirystatusid == 'SCANCOMPLETED', 'appointment-danger': list.enquirystatusid == 'DNA' }"
                                                ng-hide="list.enquirystatusid == 'TRIAGE'"><span
                                                    ng-show="list.statusflag != 'RS'">{{list.enquirystatusid
                                                    | enquirystatus}}</span> <span class="appointment-info"
                                                    ng-show="list.statusflag == 'RS'">Rescheduled</span></td>
                                            <td ng-show="list.enquirystatusid == 'TRIAGE'">Referral Added</td>
                                            <td
                                                ng-show="list.enquirystatusid != 'BOOKED' && list.enquirystatusid != 'ReminderAdded' && list.enquirystatusid != 'ReminderCompleted' && list.enquirystatusid != 'COMPLETE'">
                                                <div
                                                    ng-hide="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail' || list.enquirystatusid == 'DocumentUpload'">
                                                    {{list.notes}}</div>

                                                <div class="truncate"
                                                    ng-show="list.enquirystatusid == 'DocumentUpload'">
                                                    <a href={{list.documenturl}}
                                                        target="_blank">{{list.documenturl}}</a>
                                                </div>

                                                <div class="email"
                                                    ng-show="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail'">
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = true; list.emailobj.sendletter = false; emailActoin(list, false, true)">Resend
                                                        Email</a>
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = false; list.emailobj.sendletter = true; emailActoin(list, true, false)">Download
                                                        Letter</a>
                                                </div>

                                            </td>
                                            <td ng-show="list.enquirystatusid == 'BOOKED'">
                                                <p class="no-mar"><strong>Time:</strong> {{list.appointmentdate |
                                                    convertdate }} : {{list.appointmenttime}}</p>
                                                <p class="no-mar"><strong>Sonographer Name:</strong>
                                                    {{list.sonographerName}}</p>
                                                <p class="no-mar"><strong>Location Name:</strong>
                                                    {{list.hospitalname}}</p>
                                                <p class="no-mar"><strong>Address:</strong>
                                                    {{list.Address1 +', '+ list.Address2 +', '+ list.Address3 +', '+
                                                    list.Address4 | patientAddress}}
                                                </p>
                                                <p class="no-mar"><strong>Notes:</strong> {{list.notes}}</p>
                                            </td>
                                            <td
                                                ng-show="list.enquirystatusid == 'ReminderAdded' || list.enquirystatusid == 'ReminderCompleted'">
                                                <p class="no-mar"><strong>Reminder Due Date:</strong>
                                                    {{list.reminderduedate |
                                                    convertdate }}</p>
                                                <p class="no-mar"><strong>Reminder Notes:</strong>
                                                    {{list.notes}}</p>
                                            </td>
                                            <td ng-show="list.enquirystatusid == 'COMPLETE'">

                                                <div class="email">
                                                    <span>Sono: {{list.sonographerName}}</span> <br>
                                                    <a href="javascript:void(0);"
                                                        ng-click="sendpublishemail(list)">Resend
                                                        Email</a>
                                                    <a href="{{list.reportdocument}}" target="_blank">Download
                                                        Letter</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="no-record-wrap" ng-show="caseidhistory.length ==0">
        <img src="img/no-data/no past records_review.png">
        <div class="no-records-txt-line2">No previous visit by this patient</div>
    </div>
</div>
<div class="modal-common new fade modal" id="referrerView">
    <div class="modal-common-dialog view">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Name</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-primary">
                        <p>{{doctorInfo.doctor[0].FullName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Sex</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctor[0].Gender == 'M' ? 'Male' : doctorInfo.doctor[0].Gender == 'F' ?
                            'Female' : doctorInfo.doctor[0].Gender == 'U' ? 'Unknown' : 'Others' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>External Practice(s)</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p ng-repeat="doc in doctorInfo.PractiesDetails">{{doc.practicename}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>CCG</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-info">
                        <p ng-repeat="doc in doctorInfo.PractiesDetails">{{doc.ccgname}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Daytime Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[0].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Evening Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[1].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Mobile Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Fax No</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorOtherDetails.faxno}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-success-light">
                        <p>{{doctorInfo.doctorEmail[0].EmailID}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>GP Code</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-danger">
                        <p>{{doctorInfo.doctorOtherDetails.gpcode}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Notes</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorOtherDetails.notes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-common new fade modal" id="patientView">
    <div class="modal-common-dialog view">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Patient</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p class="appointment-primary">{{patientDetails.Patient[0].FullName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Age</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.Patient[0].CurrentAge.year}}</p>
                    </div>
                </div>
                <div class="row" ng-show="patientDetails.PatientAddress.length > 0">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Address</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.PatientAddress[0].Address1 +', '+ patientDetails.PatientAddress[0].Address2
                            +', '+ patientDetails.PatientAddress[0].Address3 +', '+
                            patientDetails.PatientAddress[0].CityTown +', '+ patientDetails.PatientAddress[0].State +',
                            '+ patientDetails.PatientAddress[0].Country | patientAddress}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>NHS Number</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon appointment-success-light">
                        <p>{{patientDetails.Patient[0].PatientOtherDetails[0].AadhaarID}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Status</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.EnquiryDetails.enquirystatusid | enquirystatus}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Phone Number 1</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'D'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'D'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'D'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'D'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'D'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'D'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Phone Number 2</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'E'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'E'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'E'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'E'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'E'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'E'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Phone Number 3</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'M'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'M'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'M'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'M'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'M'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'M'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.PatientEmail[0].EmailID}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>DNAs</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">Yes</p>
                        <p ng-hide="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">No</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Date Of Birth</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.Patient[0].DOB | date:'yyyy-MM-dd'}}</p>
                        <!-- <p ng-show="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">Yes</p>
                        <p ng-hide="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">No</p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-common auto fade modal" id="referralpopup">
    <div class="modal-common-dialog manage" style="min-height: 600px;">
        <span class="close" data-dismiss="modal" ng-click="attachstatustype = ''">X</span>
        <!-- <div class="col-sm-12 loadingbg"
            ng-class="{'loadingbg': (patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined || patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined), 'loadingbg1': (patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc == undefined && patientDetails.EnquiryDetails.enquiryfileurl.additional_doc == undefined)}">
            <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}" type="application/pdf"
                width="100%" height="600px">
            <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                type="application/pdf" width="100%" height="600px">
        </div> -->

        <div class="col-sm-12 text-center">
            <div class="loadingbg" ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'SUCCESS'">
                <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                    ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}"
                    type="application/pdf" width="100%" height="100%">
                <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                    ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                    type="application/pdf" width="100%" height="100%">
            </div>
            <div ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'FAILURE'">
                <p>No Data Found</p>
            </div>
            <div ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'IN_PROGRESS'">
                <p>Document/Image is being processed</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-common auto fade modal" id="scanpopup">
    <div class="modal-common-dialog manage" style="min-height: 600px;">
        <span class="close" data-dismiss="modal" ng-click="attachstatustype = ''">X</span>
        <div
            ng-class="(patientDetails.diagnosisReportURL != 'Not Availbale')? 'col-sm-12 loadingbg': 'col-sm-12 loadingbg1'">
            <embed ng-src="{{patientDetails.diagnosisReportURL | trustUrl}}" type="application/pdf" width="100%"
                height="600px">
        </div>
    </div>
</div>

<div class="modal-common new fade modal" id="notes">
    <div class="modal-common-dialog manage">
        <span class="close" data-dismiss="modal" ng-click="Gnnotes = ''">X</span>
        <div class="row">
            <div class="col-md-12">
                <textarea ng-model="Gnnotes" rows="10" class="form-control"
                    style="height: auto; width: 100%"></textarea>
                <div class="mt-10">
                    <button class="btn btn-primary pull-right" ng-disabled="Gnnotes == ''"
                        ng-click="submitnotes()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-common auto fade modal" id="Referral">
    <div class="modal-common-dialog manage">
        <span class="close" data-dismiss="modal">X</span>
        <div class="clearfix modal-body">
            <form name="patientform" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>REFERRER DETAILS</h4>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-15">
                        <div class="form-wrap">
                            <span>CCG <em>*</em></span>

                            <ui-select ng-model="ccgData.selected" required="required" ng-change="updateccg()">
                                <ui-select-match placeholder="">
                                    <span ng-bind="$select.selected.ccgname"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter=""
                                    repeat="data in ccgData | filter: $select.search">
                                    <span ng-bind="data.ccgname"></span>
                                </ui-select-choices>
                            </ui-select>
                            <!-- <input ng-model="addUpdatePat.patientReferral.ccgname" type="text" placeholder="Enter CCG" class="form-input" name=""> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-15">
                        <div class="form-wrap">
                            <span>Practice <em>*</em></span>

                            <ui-select ng-model="practiceData.selected" required="required"
                                ng-change="updatePractice()">
                                <ui-select-match placeholder="">
                                    <span ng-bind="$select.selected.practicename"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter=""
                                    repeat="data in practiceData | filter: $select.search">
                                    <span ng-bind="data.practicename"></span>
                                </ui-select-choices>
                            </ui-select>
                            <!-- <input ng-model="addUpdatePat.patientReferral.practicename" type="text" placeholder="Enter Practice" class="form-input" name=""> -->
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 mb-15">
                        <div class="form-wrap">
                            <span>Referrer Name <em>*</em></span>
                            <div>
                                <ui-select ng-model="doctorData.selected" required="required"
                                    ng-change="updateDoctor()">
                                    <ui-select-match placeholder="">
                                        <span ng-bind="$select.selected.doctorname"></span>
                                    </ui-select-match>
                                    <ui-select-choices group-by="" group-filter=""
                                        repeat="data in doctorData | filter: $select.search">
                                        <span ng-bind="data.doctorname"></span>
                                    </ui-select-choices>
                                </ui-select>

                                <!-- <div class="input-group search-control no-pad">
                                <input ng-model="addUpdatePat.patientReferral.doctorname" type="text" class="form-control" placeholder="Enter Name to search / GP Code" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                            <ul>
                                <li role="presentation">
                                    <a href="javascript:;"> {{item.FullName}} </a>
                                </li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <h4>ENQUIRY DETAILS </h4>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-15">
                        <span>Referral Created <em>*</em></span>
                        <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalcreated"
                            class="form-control icons-calendar" placeholder="DD-MM-YYYY" type="text"
                            referraldatepickerone required="required">
                    </div>
                    <div class="col-md-4 col-xs-12 mb-15">
                        <span>Referral Received <em>*</em></span>
                        <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalreceived"
                            class="form-control icons-calendar" placeholder="DD-MM-YYYY" type="text"
                            referraldatepickerone required="required"
                            data-min-date="{{addUpdatePat.patientDetails.EnquiryDetails.referalcreated}}">
                    </div>
                    <div class="col-md-4 col-xs-12 mb-15">
                        <span>Referral Processed <em>*</em></span>
                        <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.referalprocessed"
                            class="form-control icons-calendar" disabled placeholder="DD-MM-YYYY" type="text"
                            referraldatepickerone>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sx-12 mb-15">
                        <span>Presenting Complaint</span>
                        <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.clinicalnotes"
                            class="form-input pa-reg-name" placeholder="PRESENTING COMPLAINT" type="text"
                            style="height:60px !important"></textarea>
                    </div>
                    <div class="col-md-6 col-sx-12 mb-15">
                        <span>Provisional Diagnosis</span>
                        <textarea ng-model="addUpdatePat.patientDetails.EnquiryDetails.clinicaldetails"
                            class="form-input pa-reg-name" placeholder="PROVISIONAL DIAGNOSIS" type="text"
                            style="height:60px !important"></textarea>
                    </div>


                    <div class="col-md-6  col-sx-12 mb-15">
                        <span>Speciality <em>*</em></span>
                        <ui-select multiple ng-model="specialityCollection.selected" reset-search-input="true"
                            theme="bootstrap" append-to-body="false" required ng-change="selectspeciality()">
                            <ui-select-match placeholder="">
                                <span ng-bind="$item.specialitydesc"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="" group-filter=""
                                repeat="data in specialityCollection | filter: $select.search">
                                <span ng-bind="data.specialitydesc"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6  col-sx-12 mb-15">
                        <span>Sub Speciality <em>*</em></span>

                        <ui-select multiple ng-model="subSpecialityCollection.selected" reset-search-input="true"
                            theme="bootstrap" append-to-body="false" required>
                            <ui-select-match placeholder="">
                                <span ng-bind="$item.DoctorSpecialityDesc"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="'speldesc'" group-filter=""
                                repeat="data in subSpecialityCollection | filter: $select.search">
                                <span ng-bind="data.DoctorSpecialityDesc"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-6  col-sx-12 mb-15">
                        <span>Enquiry Source <em>*</em></span>
                        <select name="" id="" class="form-control"
                            ng-model="addUpdatePat.patientDetails.EnquiryDetails.enquirysourceid" required="required">
                            <option value="FAX">Fax</option>
                            <option value="EMAIL">e-mail</option>
                            <option value="ERS">eRS</option>
                            <option value="ELECTRONIC">Electronic</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sx-12 mb-15">
                        <span>Appointment Type <em>*</em></span>
                        <div class="input-set-row">
                            <span class="input-col input-checkbox new-radio">
                                <label class="item item-radio">
                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                        type="radio" name="apttype" value="URGENT" checked="checked"
                                        required="required">
                                    <div class="item-content" style="display: inline-block;">
                                        <i class="icon ion-man"></i> Urgent
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                </label>
                            </span>
                            <span class="input-col input-checkbox new-radio">
                                <label class="item item-radio">
                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                        type="radio" name="apttype" value="ROUTINE" required="required">
                                    <div class="item-content" style="display: inline-block;">
                                        <i class="icon ion-woman"></i>Routine
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                </label>
                            </span>
                            <span class="input-col input-checkbox new-radio">
                                <label class="item item-radio">
                                    <input ng-model="addUpdatePat.patientDetails.EnquiryDetails.appointmenttypeid"
                                        type="radio" name="apttype" value="DVT" required="required">
                                    <div class="item-content" style="display: inline-block;">
                                        <i class="icon ion-woman"></i>DVT
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                                </label>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="clearfix pull-right">
                    <button class="btn btn-filled pull-left" ng-click="cancel()">cancel</button>
                    <button style="margin-left:10px;" ng-disabled="!patientform.$valid" ng-click="UpdateEnquiry()"
                        class="btn btn-primary pull-right mw-100">Update</button>

                </div>
            </form>

        </div>
    </div>
</div>
<!-- EDIT PATIENT DETAILS -->
<div class="modal-common big fade modal" id="editPatient">
    <div class="modal-common-dialog manage" style="min-height: 600px;">
        <h5>Update Patient Details</h5>
        <span class="close" data-dismiss="modal">X</span>
        <style>
            .cropArea {
                position: absolute;
                top: 0;
                overflow: hidden;
                width: 320px;
                height: 240px;
            }

            img-crop.fixed-height canvas {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            img-crop canvas {
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                outline: none;
            }

            img-crop.fixed-height {
                height: 100%;
                position: relative;
                overflow: hidden;
            }

            img-crop {
                width: 100%;
                display: block;
            }

            .loading {
                display: none;
            }

            .ui-datepicker-year {
                width: auto !important;
            }

            .global-white-bg input.hasDatepicker:focus {
                background: #fffadc url(./images/cal-icon.png) no-repeat !important;
                background-position: 95% center !important;
            }

            .global-white-bg em {
                line-height: 11px;
            }

            .new-radio label {
                padding: 0px !important;
                width: auto !important;
                display: inline-block !important;
                background: transparent !important;
                margin: 0px 10px 0px 0px !important;
            }

            .new-radio label:after {
                display: none !important;
            }

            /*
        .upload.box__dragndrop,
        .upload.box__uploading,
        .upload.box__success,
        .upload.box__error {
          display: none;
        }
        .upload.box.has-advanced-upload {
          background-color: white;
          outline: 2px dashed black;
          outline-offset: -10px;
        }
        .upload.box.has-advanced-upload .upload.box__dragndrop {
          display: inline;
        }
        .upload.box.is-dragover {
          background-color: grey;
        }
        .upload.box.is-uploading .upload.box__input {
          visibility: none;
        }
        .upload.box.is-uploading .upload.box__uploading {
          display: block;
        }
        .upload.box__button {
          display: none;
        }
        .no-js .upload.box__button {
          display: block;
        }*/
        </style>


        <div class="reg-patient-body mt-15 mb-15">

            <form name="patientform" novalidate>
                <div class="container global-white-bg">
                    <h3 class="reg-header" ng-show="patientedit">Update Referral</h3>
                    <!-- <h3 class="reg-header" ng-hide="patientedit">Register Referral</h3> -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="add-membership-box">
                                <div class="page-header">
                                    <h4>BASIC DETAILS</h4>
                                </div>
                                <div class="panel-body global-panel-body">
                                    <div class="form-wrap js">
                                        <div class="row pb-20">
                                            <div class="col-md-1">
                                                <i class="fa fa-attach"></i>
                                            </div>

                                            <div class="col-md-4">
                                                <label>NHS NUMBER <em>*</em></label>
                                                <input class="form-input addrow-form" id="getNHS"
                                                    ng-model="addUpdatePat.patientDetails.PatientOtherDetails.AadhaarID"
                                                    placeholder="Enter NHS Number" type="text" required="required"
                                                    ng-disabled="nhsstatus" ng-blur="checkNHSNumber()">
                                            </div>
                                            <div class="col-md-2 mt-20 no-pad">
                                                <button class="btn btn-filled ml" ng-disabled="edit"
                                                    ng-click="nhslookup()">Look
                                                    Up</button>
                                            </div>
                                            <div class="col-md-4 pr-0">
                                                <label>DW ID</label>
                                                <input class="form-input addrow-form" disabled
                                                    ng-model="addUpdatePat.patientDetails.PatientID"
                                                    placeholder="Id Generated On Registering" type="text">
                                            </div>
                                        </div>

                                        <div class="row mt-20">
                                            <div class="col-md-1">
                                                <i class="fa fa-name"></i>
                                            </div>
                                            <div class="col-md-2 pr-0">
                                                <label>Title
                                                    <em>*</em>
                                                </label>
                                                <select class="form-input select-dropdown"
                                                    ng-model="addUpdatePat.patientDetails.Title" required="required"
                                                    ng-disabled="nhsstatus">
                                                    <option value="Miss">Miss</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Dr">Dr</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 pr-0">
                                                <label>Forename <em>*</em></label>
                                                <input class="form-input"
                                                    ng-model="addUpdatePat.patientDetails.FirstName"
                                                    placeholder="Enter Forename" type="text" required="required"
                                                    ng-disabled="nhsstatus">
                                            </div>
                                            <div class="col-md-5">
                                                <label>Surname <em>*</em></label>
                                                <input class="form-input pa-reg-name"
                                                    ng-model="addUpdatePat.patientDetails.LastName"
                                                    placeholder="Enter Surname" type="text" required="required"
                                                    ng-disabled="nhsstatus">
                                                <!-- <div class="add-vip-member">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" class="checkbox" ng-model="vip">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">VIP</label>
                                                        </div>
                                                    </div> -->
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-wrap" style="margin: 20px 0px;">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <i class="fa fa-dob"></i>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="memb-dob">
                                                            <label>DATE OF BIRTH
                                                                <em>*</em>
                                                            </label>
                                                            <input class="form-input icons-calendar"
                                                                ng-model="addUpdatePat.patientDetails.DOB"
                                                                ng-change="calculateAge(addUpdatePat.patientDetails.DOB)"
                                                                placeholder="DD-MM-YYYY" type="text" referraldatepicker
                                                                required="required" ng-disabled="nhsstatus">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1 no-pad">
                                                        <label>Age</label>
                                                        <input class="form-input addrow-form"
                                                            ng-model="addUpdatePat.patientDetails.Age" type="number"
                                                            disabled>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <i class="fa fa-gender"></i>
                                                    </div>
                                                    <div class="col-md-4 pr-0">
                                                        <label>GENDER <em>*</em></label>
                                                        <select class="form-input select-dropdown"
                                                            placeholder="Choose Option"
                                                            ng-model="addUpdatePat.patientDetails.Gender"
                                                            required="required" ng-disabled="nhsstatus">
                                                            <option value="M">Male</option>
                                                            <option value="F">Female</option>
                                                            <option value="U">Unknown</option>
                                                            <option value="O">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-wrap mr-bt-none">
                                        <div class="row">
                                            <!-- <div class="col-md-1">
                                                    <i class="fa fa-number"></i>
                                                </div> -->
                                            <div class="col-md-12">
                                                <label>CONTACT NUMBER
                                                    <!-- <em>*</em> -->
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <i class="fa fa-number"></i>
                                            </div>
                                            <div class="col-sm-5">
                                                <input class="form-input" ng-model="patientnumber[0].FullNumber"
                                                    placeholder="Enter Telephone number" type="text" numbers-only
                                                    ng-disabled="nhsstatus">
                                            </div>

                                            <div class="col-sm-6">
                                                <input class="form-input" placeholder="Description" type="text"
                                                    ng-model="patientnumber[0].PhDescription">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <i class="fa fa-number"></i>
                                            </div>
                                            <!-- <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                        <label style="font-size: 13px;border: 1px solid #ccc;padding: 8px 10px 9px 10px;background: white;font-weight: normal;">
                                                            Evening
                                                        </label>
                                                    </div> -->
                                            <div class="col-sm-5">
                                                <input class="form-input" ng-model="patientnumber[1].FullNumber"
                                                    placeholder="Enter Telephone number" type="text" numbers-only
                                                    ng-disabled="nhsstatus">
                                            </div>
                                            <div class="col-sm-6">
                                                <input class="form-input" placeholder="Description" type="text"
                                                    ng-model="patientnumber[1].PhDescription">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <i class="fa fa-number"></i>
                                            </div>
                                            <!-- <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                                <label style="font-size: 13px;border: 1px solid #ccc;padding: 8px 10px 9px 10px;background: white;font-weight: normal;">
                                                                    Mobile
                                                                </label>
                                                            </div> -->
                                            <div class="col-sm-5">
                                                <input class="form-input" ng-model="patientnumber[2].FullNumber"
                                                    placeholder="Enter Mobile number" type="text" numbers-only
                                                    ng-disabled="nhsstatus">
                                            </div>
                                            <div class="col-sm-6">
                                                <input class="form-input" placeholder="Description" type="text"
                                                    ng-model="patientnumber[2].PhDescription">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap mr-bt-none">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <!-- <i class="fa fa-number"></i> -->
                                            </div>
                                            <div class="col-md-11">
                                                <label>COMMUNICATION PREFERENCES</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap mb-20">
                                        <div class="row pb-10">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-11">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="add-vip-member" style="margin-left: 0px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isEmail"
                                                                    class="checkbox">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="add-vip-member" style="margin-left: 20px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isLetter"
                                                                    class="checkbox">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Letter</label>
                                                            </div>
                                                        </div>
                                                        <div class="add-vip-member" style="margin-left: 20px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isSms"
                                                                    class="checkbox">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">SMS</label>
                                                            </div>
                                                        </div>
                                                        <div class="add-vip-member" style="margin-left: 20px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox" class="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isVoicemail">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Voicemail</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 mt-15">
                                                        <div class="add-vip-member" style="margin-left: 0px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isMobilityissues"
                                                                    class="checkbox">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Mobility
                                                                    Issues</label>
                                                            </div>
                                                        </div>
                                                        <div class="add-vip-member" style="margin-left: 20px;">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox"
                                                                    ng-model="addUpdatePat.patientDetails.EnquiryDetails.checkboxdetails.isCommunicationissues"
                                                                    class="checkbox">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Communication
                                                                    Issues</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-wrap">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <i class="fa fa-email"></i>
                                            </div>
                                            <div class="col-md-5">
                                                <label>EMAIL ID</label>
                                                <input class="form-input"
                                                    ng-model="addUpdatePat.patientEmail[0].EmailID"
                                                    placeholder="Enter Email ID" type="email" ng-disabled="nhsstatus"
                                                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-wrap mb-20" ng-init="issuereason = false">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-11">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="add-vip-member">
                                                            <div class="vip-checkbox">
                                                                <input type="checkbox" class="checkbox"
                                                                    ng-model="issuereason">
                                                                <span class="lbl"></span>
                                                                <label class="viplbl" for="custom_vip">Issues</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" ng-show="issuereason">
                                                        <select class="form-input select-dropdown"
                                                            ng-model="addUpdatePat.patientDetails.EnquiryDetails.manageid"
                                                            convertToNumber
                                                            ng-required="issuereason && addUpdatePat.patientDetails.EnquiryDetails.manageid == 0">
                                                            <option value="0">-- Select Issue Reason --</option>
                                                            <option ng-repeat="iss in issueCollection"
                                                                value="{{iss.manageid}}">{{iss.managedesc}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-12 pt-10" ng-show="issuereason">
                                                        <textarea
                                                            ng-model="addUpdatePat.patientDetails.EnquiryDetails.issueReason"
                                                            rows="3" class="form-control"
                                                            placeholder="Enter Issue Reason"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="registration-right-side">
                                <div class="registration-accordion">
                                    <div class="first-tab">
                                        <input class="registration-radio" name="small-reg1" checked id="small-reg"
                                            value="small-reg" type="radio">
                                        <label for="small-reg" class="acc-lbl-conadress">CONTACT ADDRESS
                                            <em>*</em></label>
                                        <article>
                                            <div class="accordion-content">
                                                <div class="accordion-form">

                                                    <div class="form-wrap">
                                                        <div class="row">
                                                            <div class="col-md-12">

                                                                <div class="form-group" id="patientlookup">
                                                                    <input type="text" name="Code" class="form-control"
                                                                        style="width:calc(100% - 120px);display: inline-block;"
                                                                        placeholder="Enter Postcode"
                                                                        ng-model="addUpdatePat.patientAddress[0].Postcode"
                                                                        required="required" ng-disabled="nhsstatus">
                                                                    <button class="btn btn-filled"
                                                                        ng-click="getloockup()"
                                                                        data-target="#patientlookup"
                                                                        data-toggle="dropdown">Look
                                                                        Up</button>
                                                                    <ul class="dropdown-menu addressselect">
                                                                        <li ng-repeat="address in addressCollection"
                                                                            ng-click="selectpostcode(address)">
                                                                            {{address}}
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-wrap">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input name=""
                                                                    ng-model="addUpdatePat.patientAddress[0].Address1"
                                                                    class="form-input addrow-form"
                                                                    placeholder="Address Line 1" type="text"
                                                                    ng-disabled="nhsstatus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-wrap">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input name=""
                                                                    ng-model="addUpdatePat.patientAddress[0].Address2"
                                                                    class="form-input addrow-form"
                                                                    placeholder="Address Line 2" type="text"
                                                                    ng-disabled="nhsstatus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-wrap">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input
                                                                    ng-model="addUpdatePat.patientAddress[0].Address3"
                                                                    placeholder="Address Line 3" class="form-input"
                                                                    type="text" ng-disabled="nhsstatus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-wrap">
                                                        <div class="row ">
                                                            <div class="col-md-6">
                                                                <input
                                                                    ng-model="addUpdatePat.patientAddress[0].Address4"
                                                                    class="form-input addrow-form"
                                                                    placeholder="Address Line 4" type="text"
                                                                    ng-disabled="nhsstatus">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input
                                                                    ng-model="addUpdatePat.patientAddress[0].CityTown"
                                                                    class="form-input addrow-form" placeholder="Town"
                                                                    type="text" ng-disabled="nhsstatus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-wrap">
                                                        <div class="row ">
                                                            <div class="col-md-6">
                                                                <input ng-model="addUpdatePat.patientAddress[0].State"
                                                                    class="form-input addrow-form" placeholder="County"
                                                                    type="text" ng-disabled="nhsstatus">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="addUpdatePat.patientAddress[0].Country"
                                                                    class="form-input addrow-form" placeholder="country"
                                                                    disabled type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="reg-pat-btn clearfix pull-right">
                                        <button class="btn btn-filled pull-left" ng-click="cancel()">cancel</button>
                                        <button style="margin-left:10px;" ng-disabled="!patientform.$valid"
                                            ng-click="update()"
                                            class="btn btn-primary pull-right mw-100">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>