<div class="container-fluid pt-20">
    <div class="table-responsive">
        <table class="table color-theme-one">
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Patient Name </th>
                    <th> DW ID </th>
                    <th> NHS Number </th>
                    <th> Notes </th>
                    <th> Due Date </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td> 11-12-2018 </td>
                    <td> Christian Hudson </td>
                    <td> pat12345 </td>
                    <td> 07884547938 </td>
                    <td> Aylesbury Vale </td>
                    <td> 25-12-2018 </td>
                    <td> <a data-toggle="modal" data-target="#reminderconfirm" class="btn btn-primary btn-xs"> Done </a>
                    </td>
                </tr> -->
                <tr ng-repeat="item in reminderList" ng-show="reminderList.length > 0">
                    <td> {{item.referalreceived  | convertdate}} </td>
                    <td> {{item.patientname}} </td>
                    <td> {{item.patientid}} </td>
                    <td> {{item.nhsnumber}} </td>
                    <td> {{item.remindernotes}} </td>
                    <td> {{item.reminderduedate  | convertdate}} </td>
                    <td ng-show="item.reminderconfirmdate == null || item.reminderconfirmdate == ''"> <a
                            data-toggle="modal" data-target="#reminderconfirm" ng-click="setReminderData(item)"
                            class="btn btn-primary btn-xs"> Done </a>
                    </td>
                    <td ng-hide="item.reminderconfirmdate == null || item.reminderconfirmdate == ''">
                        {{item.reminderconfirmdate  | convertdate}}</td>
                </tr>
                <tr ng-show="reminderList.length == 0 || reminderList == null">
                    <td colspan="20" class="text-center">
                        No Records Found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="reminderconfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">X</span>
                    <h4 class="modal-title text-center"> Reminder Confirmation </h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark this event as completed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" ng-click="updateReminder()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-primary.btn-xs,
    .btn-primary.btn-xs:hover,
    .btn-primary.btn-xs:active,
    .btn-primary.btn-xs:focus {
        padding: 2px 6px !important;
        font-size: 12px;
        text-transform: capitalize;
    }
</style>