<div class="c7report" ng-controller="referralDataIndicationController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group clearfix no-mar">
                                <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY" ng-model="refdaterange" type="text" daterangedashboardpicker id="referaldaterange">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-2 text-center pt-25">
                        <button class="btn btn-primary" ng-click="getReportData()">Apply</button>
                    </div> -->
                    <div class="col-md-1 text-left pt-20">
                        <figure class="cursor export-excel ml-10" title="Export to Excel" ng-click="getReportData()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <!-- <div ng-show="referralData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>