body {
    background: #eeeef0 !important;
}

.no-pad-left {
    padding-left: 0
}

.no-pad-right {
    padding-right: 0
}

.tab-admin-globle {
    margin: 15px 0 0px 10px;
    /*overflow: hidden;*/
}

.tab-admin-globle a {
    background: #4f7995;
    color: #fff;
    padding: 8px 20px 13px;
    float: left;
    margin: 0 2px 0px;
    font-size: 14px;
    border: 1px solid #4f7995;
    border-bottom: 0;
    transition: all 0.5s ease-in;
    min-width: 152px;
    text-align: center;
    position: relative;
}

.tab-admin-globle a:hover,
.tab-admin-globle a.tab-active {
    background: #fff;
    border-color: #d8d8d8;
    border-style: solid;
    color: #48687d;
}

.tab-admin-globle a:after {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 0;
    border-bottom: 4px solid #eeeef0;
}

.tab-admin-globle a.tab-active:after,
.tab-admin-globle a.tab-active:hover:after,
.tab-admin-globle a.tab-active:active:after,
.tab-admin-globle a.tab-active:focus:after {
    position: absolute;
    display: block;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 3px;
    border-bottom-color: #fff;
}

.admin-top-header {
    background: #fff;
    padding: 15px 25px;
    position: relative;
}

.admin-top-header h4 {
    margin: 0 0 5px;
    font-weight: 500;
    color: #28465a;
}

.admin-top-header p,
.admin-top-subheader p {
    margin-bottom: 0;
    font-weight: 300;
    color: #8e8e8e
}

.admin-top-subheader {
    padding: 0 0 10px;
}

.admin-top-subheader h4 {
    margin: 0 0 5px;
    font-weight: 600;
    color: #28465a;
    font-size: 16px;
}

.action-primary {
    color: #FFF;
    background: #00c853;
    border: 0px !important;
    position: relative;
    text-transform: uppercase;
    /*height: 32px;*/
    /*min-width: 100px*/
}

a.action-primary {
    line-height: 32px;
    padding: 0 15px
}

button.action-primary {
    padding: 7px 15px;
}

.action-primary:hover {
    background: #43a047;
    color: #fff
}

.action-filled {
    color: #00c853;
    background: #fff;
    border: 2px solid #00c853;
    position: relative;
    text-transform: uppercase;
    /*height: 32px;*/
}

button.action-filled {
    padding: 6px 15px 6px;
}

.action-filled:hover {
    background: #43a047;
    border: 2px solid #43a047;
    color: #fff
}

.admin-form-type {
    background: #f7f7f7;
    padding: 10px 20px 10px 25px;
    overflow: hidden;
}

.branch-type {
    float: left;
    width: 230px;
    margin-right: 10px;
}

.branch-type label {
    float: left;
    width: 70px;
    color: #3e5d71;
    margin-top: 5px;
}

.form-style {
    color: #272727;
    box-shadow: none;
    border: 1px solid #949494;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 14px;
    padding: 7px 10px;
    width: 100%;
    /*height: 32px;*/
}

.form-style:hover {
    border-color: #00c853;
}

input[disabled].form-style {
    border-color: #ccc;
}

.form-style:focus {
    border: 1px solid #53bce8;
    outline: none;
    box-shadow: 0 0 5px #a8d9ff;
}

.branch-type select {
    width: 160px;
    float: left;
}

.branch-data-list {
    position: relative;
}

.data-table-top {
    padding: 10px 20px 10px 25px;
    overflow: hidden;
}

.data-row-count {
    float: left;
}

.data-row-count label {
    float: left;
    width: 45px;
    margin-top: 5px;
    font-weight: 600;
    color: #717171;
}

.data-row-count select {
    width: 60px;
    float: left;
}

.data-row-count span {
    float: left;
    color: #717171;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
}

.data-row-pagination {
    float: right;
    margin-top: 3px;
}

.data-row-pagination .pagination {
    margin: 0
}

.data-row-pagination li {
    list-style: none;
    float: left;
}

.data-row-pagination .pagination a {
    display: block;
    /* width: 26px; */
    /* height: 26px; */
    text-align: center;
    /* line-height: 26px !important; */
    color: #717171;
    font-weight: 600;
    background: #fff;
    margin-left: 5px !important;
    border-radius: 3px;
    padding: 6px 12px !important;
    border: none !important;
}

.data-row-pagination .pagination a:hover {
    background: #d2d2d2 !important
}

.data-row-pagination .pagination li.active a {
    background: #676767 !important;
    color: #f2f2f2
}

.branch-data-table {
    width: 100%;
    position: relative;
}

.branch-data-table th {
    padding: 10px 15px;
    background: #fff;
    border-left: 1px solid #eeeef0;
    color: #28465a;
    font-weight: 600;
    font-size: 14px;
}

.branch-data-table th:first-child {
    border-left: none;
}

.branch-data-table th:last-child {
    border-left: none;
}

.branch-data-table td {
    padding: 10px 15px;
    border-top: 1px solid #eeeef0;
    border-bottom: 1px solid #eeeef0;
    color: #28465a;
}

.branch-data-table tr:nth-child(odd) td {
    background-color: #fff;
}

.branch-data-table tr:nth-child(even) td {
    background-color: #f7f7f7;
}

a.admin-td-action {
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 33px;
    background: transparent;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    margin-left: 5px;
    color: #0156a5;
}

a.atc-view:hover {
    /*background: #5ecb66;*/
    color: #5ecb66;
}

a.atc-edit:hover {
    /*background: #63caf7;*/
    color: #63caf7;
}

a.atc-edit:hover .glyphicon-pencil {
    color: #63caf7 !important;
}

a.atc-del:hover {
    /*background: #f96865;*/
    color: #f96865;
}

.data-row-delete {
    position: absolute;
    border: 1px solid #f9a5a3;
    width: 100%;
    padding: 10px 10px;
    left: 0;
    z-index: 99;
    background: linear-gradient(to left, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
    will-change: opacity;
    -webkit-transition: max-height 0.25s, opacity 0.5s;
    transition: max-height 0.25s, opacity 0.5s;
    opacity: 0
}

.show-error .data-row-delete {
    opacity: 1;
    transform: translateY(0px);
}

.dr-action {
    float: right;
}

.dr-action a {
    width: 60px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    float: left;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.yes-btn {
    background: #f34541
}

.yes-btn:hover {
    background: #dc302c
}

.no-btn {
    background: #00c853;
    margin-left: 10px;
}

.no-btn:hover {
    background: #43a047;
}

.data-row-delete p {
    font-weight: 600;
    font-size: 15px;
    color: #28465a;
    float: left;
    margin: 4px 15px 0 0;
}


/**/

.new-branch-from {
    background: #f7f7f7;
    padding: 15px 25px;
}

.back-list {
    color: #28465a;
    font-weight: 400;
    margin-bottom: 20px;
    display: inline-block;
    background: url(../img/admin-img/back-icon.png) no-repeat 0 center;
    padding: 0 0 0 25px;
    text-decoration: underline;
}

.form-wrap {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

.form-wrap label {
    color: #383838;
    font-size: 13px;
    width: 170px;
    float: left;
    margin-top: 5px;
}

.form-wrap label small {
    color: #f00
}

.form-wrap label span {
    display: block;
    font-size: 12px;
    color: #8e8e8e;
    line-height: normal;
    font-weight: 300;
}

.non-editable {
    background: #ebebeb;
    pointer-events: none;
}

.form-wrap .fm-box {
    width: 300px;
    float: right;
    position: relative;
    padding-right: 15px;
}

.fm-box h5 {
    font-size: 15px;
    font-weight: 300;
    color: #28465a;
}

.fm-error .form-style {
    border: 1px solid #f00;
    background: #fef5f5;
}

.no-verify {
    clear: both;
    padding: 5px 0 25px;
}

.no-verify a {
    float: left;
    color: #00c853;
    font-size: 13px;
    font-weight: 300;
}

.no-verify h6 {
    float: right;
    margin: 0;
    color: #686868;
    font-size: 13px;
    font-weight: 300;
}

.pat-id-no {
    box-shadow: 0 0 5px #e2e0e0;
    background: #fff;
    padding: 0px 10px;
    overflow: hidden;
    margin: 15px 0 0;
}

.pat-id-no span {
    font-weight: 600;
    color: #fa625c;
}

.pid-cb small {
    position: absolute;
    font-weight: 300;
    color: #686868;
    font-size: 14px;
    top: 6px;
    left: 20px;
}

.patient-id {
    overflow: hidden;
    border-top: 1px solid #dfdfe3;
    padding: 20px 0 0;
}

.patient-id h4 {
    margin: 0 0 20px;
    font-weight: 600;
    color: #28465a;
}

.patient-id p {
    margin: -10px 0 20px;
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 300;
    line-height: normal;
}

span.input-hint {
    position: absolute;
    right: 25px;
    top: 5px;
    color: #b9b9b9;
    font-weight: 300;
}

.fm-error {
    will-change: opacity;
    -webkit-transition: max-height 0.25s, opacity 0.5s;
    transition: max-height 0.25s, opacity 0.5s;
}

.fm-error .fm-error-text {
    opacity: 1;
    transform: translateY(5px);
}

.fm-error-text {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #fa625c;
    padding: 0 0 0 20px;
    background: url(../img/admin-img/error-icon.png) no-repeat 0 1px;
    transform: translateY(-15px);
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    opacity: 0
}

.fm-cal {
    background-image: url(../img/new-green-cal.png);
    background-position: 95% 5px;
    background-repeat: no-repeat;
}

.cal-size {
    width: 135px;
}

.fm-action .action-primary,
.fm-action .action-filled {
    float: left;
}

.fm-action .action-primary {
    margin-left: 10px;
}

.fm-landline {
    width: 101px;
    float: left;
}

.fm-stdcode {
    width: 60px;
    float: left;
    margin-left: 5px;
}

.fm-ctno {
    width: 110px;
    float: left;
    margin-left: 5px;
}

.add-no {
    font-weight: 300;
    color: #00c853;
    font-size: 13px;
    /* display: inline-block; */
    padding: 0 0 0 17px;
    float: right;
    background: url(../img/admin-img/add-icon.png) no-repeat 0 3px;
}

.add-no:hover {
    text-decoration: underline;
    color: #00c853;
}

.branch-location {
    overflow: hidden;
}

.branch-location h5 {
    font-size: 16px;
    font-weight: 600;
    color: #28465a;
    margin: 0 0 5px
}

.branch-location p {
    margin-bottom: 0;
    font-weight: 300;
    color: #8e8e8e;
}

.google-map {
    border: 1px solid #dadada;
    margin-top: 10px;
    position: relative;
}

.map-search-box {
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, .2);
    width: 99%;
    padding: 5px;
    margin: 0.5%;
}

.ml-box {
    float: left;
    width: 60%
}

button.map-r-btn {
    float: right;
}


/**/

.profile-settings {
    margin: 10px 0;
}

.pro-role-list {
    background: #fff;
    padding: 10px 10px 0 10px;
    position: relative;
    /* min-height: 460px; */
    overflow: hidden;
    /* max-height: 460px; */
}

.role-list-header {
    overflow: hidden;
    margin-bottom: 20px;
}

.role-list-header h4 {
    margin: 0;
    color: #28465a;
    font-weight: 600;
    float: left;
    font-size: 16px;
}

.role-list-header .add-pro-link {
    float: right;
    color: #00c853;
    font-weight: 400;
    font-size: 13px;
    background: url(../img/admin-img/add-icon.png) no-repeat 0 3px;
    padding: 0 0 0 17px;
}

.i-pad {
    padding-right: 30px;
}

.i-search {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #969696;
    font-size: 12px;
}

.pro-role-list .no-data-found {
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    width: 160px;
    margin-left: -80px;
}

.no-data-found {
    text-align: center;
}

.no-data-found h5 {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
}

.add-new-profile {
    background: #fff;
    /*padding: 15px 20px 0;*/
    margin-bottom: 10px;
}

.add-new-profile h4 {
    color: #28465a;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
}

.add-new-profile .form-wrap span {
    font-size: 15px;
    padding-bottom: 5px;
    color: #383838;
    display: block;
}

.add-new-action {
    margin-top: 25px;
    float: right;
}

a.select-all {
    color: #28465a;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0 0;
}

.btn-reset {
    background: none;
    border: none;
    font-size: 15px;
    color: #28465a;
    font-weight: 600;
    margin: 5px 0 0 50px;
}


/*Custom Checkbox*/

.sel-settings {
    overflow: hidden;
    padding: 10px 15px;
    /*background: #f1f4f7;*/
    background: #c0d2de;
}

.checkbox {
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
}

.cn small {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    color: #000;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
}

.checkbox .checkbox-material:before {
    position: absolute;
    left: 8px;
    top: 2px;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 4px;
    width: 4px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}

.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards ease-out;
    animation: checkbox-off 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:focus+.checkbox-material .check:after {
    opacity: 0.2;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards ease-out;
    animation: checkbox-on 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material:before {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:after {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox][disabled]:not(:checked)~.checkbox-material .check:before,
.checkbox input[type=checkbox][disabled]+.circle {
    opacity: 0.5;
}

.checkbox input[type=checkbox][disabled]+.checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.coloured .checkbox-material .check {
    color: #2FAEF8;
}

.coloured .checkbox-material:before {
    background-color: #2FAEF8;
}

.coloured input[type=checkbox]:checked+.checkbox-material .check {
    color: #2FAEF8;
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

ul.chec-list {
    padding: 15px 15px 0;
    background: #fff;
    margin: 0;
    height: 221px;
    overflow: scroll;
}

ul.chec-list li {
    list-style: none;
    padding-bottom: 15px;
}

ul.chec-list li:last-child {
    padding-bottom: 0
}

ul.chec-list small {
    color: #6e7e89;
    font-weight: 400
}

.pro-list ul {
    margin: 0;
    padding: 0
}

.pro-list ul li {
    list-style: none;
    background: #fff;
    padding: 6px 8px;
    margin-bottom: 5px;
    border: 1px solid #e2e2e2;
}

.pro-list ul li.active {
    border: 1px solid #7ba4bf;
    /*box-shadow: 0 0 10px rgb(158, 203, 222);*/
    background: #c0d2dead;
}

.pro-list ul li:last-child {
    margin-bottom: 0;
}

.pro-list h5 {
    margin-top: 0;
    font-size: 15px;
    color: #28465a;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.pro-list-action {
    overflow: hidden;
}

.pro-list-action p {
    width: 80%;
    float: left;
    margin: 0;
    color: #576772;
    font-weight: 300;
    font-size: 13px;
}

.pl-button {
    float: right;
}

.pl-button a {
    float: left;
}

a.i-edit {
    background: url(../img/admin-img/edit-icon.png) no-repeat 0 0;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

a.i-delete {
    background: url(../img/admin-img/trash-icon.png) no-repeat 0 0;
    width: 14px;
    height: 17px;
    margin-left: 15px;
}

.action-disable {
    opacity: 0.3;
    pointer-events: none;
}


/*Manage User*/

.manage-users {
    position: relative;
    height: 460px;
    /*overflow: hidden;
    overflow-y: auto;
    padding-right: 5px;*/
}

.mu-header {
    overflow: hidden;
    padding-bottom: 20px
}

.mu-header h4 {
    font-size: 16px;
    font-weight: 600;
    color: #28465a;
    margin: 10px 0 0
}

.manage-users .no-data-found {
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    width: 185px;
    margin-left: -80px;
}

.add-user-form {
    background: #f7f7f7;
    margin: 10px 0;
    padding: 15px 25px;
}

.auf-header {
    overflow: hidden;
    padding-bottom: 25px;
}

.auf-header h4 {
    font-size: 16px;
    margin: 0 0 5px;
    font-weight: 600;
    color: #28465a;
}

.auf-header p {
    color: #8e8e8e;
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}

.sub-specialtiy {
    overflow: hidden;
    margin: 7px 0 0;
}

.sub-specialtiy span {
    float: left;
    color: #383838;
    font-size: 14px;
    margin-top: 5px;
}

.sub-specialtiy .ss-box {
    width: 70%;
    float: right;
}

.double-form {
    padding-bottom: 5px;
    position: relative;
}

.i-delrow {
    background: url(../img/admin-img/delete-icon.png) no-repeat 0 0;
    width: 12px;
    height: 15px;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -10px;
}

.access-rights {
    background: #eceeef;
    padding: 10px 10px 5px;
    overflow: hidden;
}

.access-rights h5 {
    margin: 0 0 15px;
    font-size: 16px;
    color: #28465a;
}

.access-rights .col-md-4 {
    margin-bottom: 10px;
}

.access-rights-list {
    padding: 10px 10px 10px 40px;
    font-size: 13px;
    font-weight: 300;
    color: #28465a;
    background: url(../img/admin-img/tick-icon.png) no-repeat 10px center #fff;
    box-shadow: 0 2px 2px #ccc;
}

.sarayu-form {
    border-bottom: 1px solid #dfdfe3;
    margin-bottom: 20px;
    overflow: hidden;
}

.sarayu-form:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.sarayu-form h4 {
    font-size: 16px;
    color: #28465a;
    font-weight: 600;
    margin: 0 0 20px
}

.sa-consult {
    padding: 10px 10px;
    background: #eeeef0;
}

.sa-consult .form-wrap:last-child {
    padding: 0;
}

.sarayu-form .add-no {
    margin: 10px 0;
}

.manage-user-profile {
    /*background: #ebf2f6;*/
    background: #c0d2de;
    border: 1px solid #d5dee3;
    padding: 10px 15px 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

h4.dr-name {
    font-size: 16px;
    font-weight: 600;
    color: #28465a;
    margin: 0;
    float: left;
    text-transform: uppercase;
}

.mup-action {
    float: right;
}

.mup-action a {
    float: left;
    margin-left: 20px;
}

.mup-info {
    margin-top: 5px;
}

.mup-info li {
    list-style: none;
    float: left;
    width: 19%;
    margin: 0 1% 10px 0;
}

.mup-info li span {
    display: block;
    color: #383838;
    font-size: 15px;
    font-weight: 300
}

.mup-info li h5 {
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mup-info li h5,
.mup-info li h5 span {
    color: #383838;
    font-size: 15px;
    font-weight: 500;
    margin: 0
}

.branch-timing {
    padding: 10px;
    background: #fff;
    height: 470px;
}

.branch-timing h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0
}

.add-time-slot {
    padding: 15px;
    background: #fff;
    overflow: hidden;
    height: 285px;
}

.add-time-slot.active {
    box-shadow: 0 0 3px #2aa7fb;
    transition: all 1s ease-in-out
}

.se-timebox {
    overflow: hidden;
    padding: 20px 0;
}

.add-time-slot h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: #28465a;
    float: left;
}

a.ts-rbtn {
    float: right;
    font-size: 13px;
    color: #28465a;
    font-weight: 400;
}

.s-time {
    float: left;
    width: 130px;
}

.e-time {
    float: right;
    width: 125px;
}

.s-time label,
.e-time label {
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 3px;
}

.st-fbox,
.st-tbox {
    width: 60px;
    float: left;
}

.st-fbox {
    margin-right: 5px;
}

.select-days label {
    float: left;
    font-size: 15px;
    color: #383838;
    font-weight: 300
}

a.sd-uselect {
    float: right;
    font-size: 13px;
    color: #28465a;
    margin: 4px 0 0;
}

ul.d-list {
    overflow: hidden;
    margin: 10px 0 20px;
}

.d-list li {
    list-style: none;
}

.d-list a {
    float: left;
    padding: 1px 5px 2px;
    display: block;
    line-height: normal;
    font-size: 14px;
    color: #383838;
    font-weight: 300;
    text-transform: uppercase;
    background: #fff;
    margin: 0 5px 0 0;
    border-radius: 10px;
}

.d-list a:hover,
.d-list li.active a {
    background: #448ccb;
    color: #fff
}

.days-name {
    float: left;
    width: 100px;
    margin-top: 15px;
}

.days-name h5 {
    text-transform: uppercase;
    color: #28465a;
}

.avail-time-slot table {
    width: 100%
}

.avail-time-slot th {
    background: none;
    padding: 0 10px;
}

.avail-time-slot table td {
    text-align: left;
    padding: 5px 10px;
    background: none
}

.avail-time-slot table td {
    cursor: pointer;
}

.avail-time-slot table td:first-child {
    cursor: default;
}

.avail-time-slot li {
    list-style: none;
    float: left;
    margin: 0 10px 10px;
    line-height: 12px;
}

.avail-time-slot span {
    float: left;
    font-size: 15px;
}

a.avt-green {
    float: left;
    background: url(../img/unselected-green.png) no-repeat 0 3px;
    width: 16px;
    height: 19px;
    margin: 0px 0 0 7px;
}

i.avt-grey {
    float: left;
    background: url(../img/delete-button.png) no-repeat 0 3px;
    width: 16px;
    height: 19px;
    margin: 0px 0 0 7px;
}

a.tin {
    display: table-cell;
    padding: 1px 5px 2px 6px;
    border: 1px solid transparent;
    color: #393939;
    transition: all .5s;
}

a.tin:hover {
    border: 1px solid #ccc;
}

.time-slot {
    background: #fff;
    height: 285px;
    padding: 15px;
    position: relative;
}

.time-slot h5 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    margin-top: 0
}

span.bulb-green {
    float: left;
    background: url(../img/unselected-green.png) no-repeat 0 center;
    height: 16px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
}

span.bulb-grey {
    float: left;
    background: url(../img/inactive.png) no-repeat 0 center;
    height: 16px;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
}

.new-branch-info .col-lg-4 {
    margin-bottom: 20px;
}

.new-add-branch {
    border: 1px dashed #dadada;
    text-align: center;
}

.new-add-branch a {
    color: #28465a;
    padding: 26px;
    display: block;
}

.new-add-branch h5 {
    font-size: 15px;
    font-weight: 300;
}

.added-branch {
    display: inline-block;
    width: calc(100% - 10px);
    margin: 0 auto;
    text-align: left;
    border: 0px solid #d7d7d7;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.ab-header {
    background: #f4f4f4;
    /* border-bottom: 1px solid #d7d7d7; */
    padding: 10px 15px;
    overflow: hidden;
}

.ab-header h4 {
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #28465a;
    /*width: 85%;*/
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 94%;
}

.ab-header a {
    float: right;
}

.ab-address {
    background: #fff;
    padding: 15px 20px;
    height: 100px;
    overflow-y: auto;
}

.ab-address p {
    font-size: 13px;
}

.ab-address h4 {
    font-size: 16px;
    font-weight: 600;
    color: #28465a;
    text-transform: uppercase;
}

#progressbar {
    margin-bottom: 0;
    counter-reset: step;
    text-align: center;
    position: absolute;
    right: 0;
    top: 11px;
}

#progressbar li {
    list-style-type: none;
    color: #898989;
    text-transform: uppercase;
    font-size: 12px;
    width: 120px;
    float: left;
    position: relative;
    font-weight: 300;
    cursor: pointer;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 32px;
    line-height: 29px;
    display: block;
    height: 32px;
    font-size: 20px;
    color: #c3c3c3;
    background: -webkit-radial-gradient(circle, #ffffff, #c3c3c3);
    border-radius: 100%;
    font-weight: 600;
    margin: 0 auto 5px auto;
}

#progressbar li.active {
    color: #30b165
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #30b165;
    color: #fff;
}


/**/

.admin-dashborad {
    clear: both;
    padding: 20px;
    /*background: #e3e3e5;*/
    background: #fff;
}

.admin-dashborad h3 {
    font-size: 25px;
    font-weight: 600;
    color: #5d5d5d;
    margin: 0 0 10px;
}

.licenses-info {
    background: #fff;
    padding: 25px 50px 25px 92px;
    box-shadow: 0px 0px 5px #dcdcde;
    border-radius: 3px;
    position: relative;
    margin-bottom: 25px;
}

.licenses-info h1 {
    font-size: 23px;
    color: #777f8d;
    font-weight: 700;
    margin: 0
}

.licenses-info p {
    color: #747474;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

.license-purchased,
.branch-allowed,
.dr-purchased,
.recep-branch,
.unlimited-purchase {
    float: left;
    padding: 0 45px;
}

.license-purchased,
.branch-allowed,
.dr-purchased,
.recep-branch {
    border-right: 3px solid #e3e8f1;
}

.license-purchased {
    padding-left: 0
}

.license-purchased h1 {
    background: url(../img/admin-img/doc-icon.png) no-repeat 0 9px;
    padding: 0 0 0 35px;
}

.branch-allowed h1 {
    background: url(../img/admin-img/branch-icon.png) no-repeat 0 center;
    padding: 0 0 0 35px;
}

.dr-purchased h1 {
    background: url(../img/admin-img/dr-icon.png) no-repeat 0 center;
    padding: 0 0 0 35px;
}

.recep-branch h1 {
    background: url(../img/admin-img/recept-icon.png) no-repeat 0 center;
    padding: 0 0 0 35px;
}

.unlimited-purchase h1 {
    background: url(../img/admin-img/un-dr-icon.png) no-repeat 0 center;
    padding: 0 0 0 35px;
    color: #ff8463
}

.i-settings {
    background: url(../img/admin-img/settings-icon.png) no-repeat 0 0;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.user-statistics h4 {
    font-size: 16px;
    font-weight: 300;
    color: #777f8d;
    margin-top: 0
}

.dash-branch {
    width: 45%;
    position: relative;
    background: #fff;
    padding: 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #eee;
    -webkit-box-shadow: 0px 0px 5px 0px #eee;
    float: left;
    min-height: 135px;
    margin: 0 15px 15px 0;
    border: 0px solid #073b6b;
}

.branch-count img {
    float: left;
    margin-top: 6px;
}

.bc-no {
    float: left;
    margin-left: 12px;
}

.bc-no h1 {
    margin: 0;
    float: left;
    font-size: 35px;
    color: #5d5d5d;
    font-weight: 700;
}

.cd-count h2 {
    margin: 0;
    font-size: 35px;
    color: #5d5d5d;
    font-weight: 700;
}

.bc-no span {
    float: left;
    margin: 9px 0 0 10px;
    color: #747474;
    font-size: 15px;
    font-weight: 300;
}

.bc-no-1 {
    clear: both;
}

.cd-count span {
    display: block;
    float: none;
    margin: 9px 0 0;
}

.dash-user-profiles {
    background: #fff;
    padding: 10px 30px;
    box-shadow: 0px 0px 5px 0px #eee;
    -webkit-box-shadow: 0px 0px 5px 0px #eee;
    width: 50%;
    border-radius: 3px;
    position: relative;
    float: left;
    border: 0px solid #073b6b;
}

.total-users-added {
    border-bottom: 3px solid #e3e8f1;
    padding: 25px 50px 35px;
}

.dash-user-profiles h1,
.total-pro-created h1 {
    margin: 0;
    font-size: 35px;
    color: #5d5d5d;
    font-weight: 700;
}

.total-users-added h1 {
    background: url(../img/admin-img/user-icon.png) no-repeat 0 center;
    padding: 0 0 0 35px;
}

.dash-user-profiles p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    color: #5d5d5d;
    padding-top: 10px;
}

.total-pro-created {
    padding: 25px 50px 35px;
    position: relative;
}

.total-pro-created h1 {
    background: url(../img/admin-img/profile-icon.png) no-repeat 0 center;
    padding: 0 0 0 30px;
}

a.i-arrow-big {
    background: url(../img/admin-img/arrow-big.png) no-repeat 0 0;
    width: 28px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
}

.list-profile {
    float: right;
    width: 48%;
    padding: 10px 15px 0;
    border: 1px solid #ff8463;
    background: #fff;
    border-radius: 5px;
    /*box-shadow: 0px 0px 5px #dcdcde;*/
    position: relative;
}

.list-profile h5 {
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.list-profile ul {
    margin: 15px 0;
    height: 225px;
    overflow: scroll;
}

.list-profile li {
    list-style: none;
    color: #747474;
    font-size: 15px;
    line-height: 14px;
    font-weight: 300;
    padding-bottom: 15px;
    text-transform: uppercase;
}

a.i-close {
    position: absolute;
    right: 15px;
    top: 10px;
}

.list-profile::-webkit-scrollbar {
    width: 8px;
}

.list-profile::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.list-profile::-webkit-scrollbar-thumb {
    background: #aaa;
}

.f-text {
    color: #28465a;
    font-size: 17px;
    margin: 44px 0 0;
    font-weight: 300;
}

.f-text strong {
    color: #f36f21;
    font-size: 18px;
}


/*div table*/

.rTable {
    display: table;
    width: 100%;
}

.rTableHeading {
    display: table-header-group;
}

.rTableHead {
    display: table-cell;
    padding: 14px 15px;
    background: #fff;
    border-left: 1px solid #eeeef0;
    color: #28465a;
    font-weight: 600;
    font-size: 14px;
}

.rTableCell {
    display: table-cell;
    padding: 10px 15px;
    color: #28465a;
    vertical-align: middle;
}

.rTableBody {
    display: table-row-group;
}

.rTableRow {
    display: table-row;
    position: relative;
}

.rTableRow:nth-of-type(even) {
    background-color: #fff;
}

.rTableRow:nth-of-type(odd) {
    background: #f7f7f7;
}

.rTableHead.tb-sort {
    background: url(../img/admin-img/sort-icon.png) no-repeat 92% center #fff;
    cursor: pointer;
}

.rTableHead.tb-asc {
    background: url(../img/admin-img/sort-asc.png) no-repeat 92% center #fff;
    cursor: pointer;
}

.rTableHead.tb-dec {
    background: url(../img/admin-img/sort-dec.png) no-repeat 92% center #fff;
    cursor: pointer;
}

.rTableHead:first-child {
    border: none;
}

.rTableHead:last-child {
    border: none;
}


/*Feedback*/

.feedback-question {
    margin: 10px 0;
}

.select-branch label {
    width: 100px;
    float: left;
    margin-top: 5px
}

.select-branch .form-group {
    float: left;
    margin: 0;
    width: 81.3%;
}

.choose-lang {
    height: 400px;
    background: #f7f7f7;
    padding: 25px;
}

.choose-lang h5 {
    margin-top: 0;
    font-weight: 300;
    color: #383838;
    font-size: 15px;
}

.choose-lang .checkbox {
    margin: 0 20px 0 0;
}

.question-form {
    margin: 30px 0;
}

label.feed-ques-lbl {
    font-size: 15px;
    color: #383838;
    padding-bottom: 20px;
    line-height: 13px;
    font-weight: 300;
}

.b-btm-msg .action-filled {
    margin-right: 10px;
}

.branch-questions {
    background: #f7f7f7;
    padding: 0 0 25px;
    position: relative;
    height: 400px;
}

.branch-questions h6 {
    padding: 25px 25px 10px;
    font-size: 16px;
    margin: 0 0 10px
}

.branch-questions ul {
    height: 312px;
    overflow-y: scroll;
    padding: 3px 15px 0 25px;
    margin: 0 15px 0 0;
}

.branch-questions li {
    list-style: none;
    overflow: hidden;
    box-shadow: 0 0 4px #ccc;
    position: relative;
    margin-bottom: 10px;
}

.branch-questions li:last-child {
    margin-bottom: 3px;
}

.question-no {
    float: left;
    background: #fff;
    position: absolute;
    font-size: 28px;
    color: #4f7995;
    font-weight: 600;
    width: 15%;
    text-align: center;
    left: 0;
    height: 100%;
    padding: 20px 0 0;
}

.question-info {
    float: left;
    margin-left: 15%;
    width: 85%;
    padding: 2% 2% 0;
}

.quest-wrap {
    clear: both;
}

.q-eng,
.q-tam,
.q-hin {
    overflow: hidden;
    padding-bottom: 10px;
}

.question-info span {
    float: left;
    width: 12%;
}

.question-info p {
    float: left;
    width: 88%;
    margin: 0;
    line-height: normal;
}

.question-edit {
    float: right;
}

.question-edit a {
    float: left;
    margin-left: 15px;
}

.ng-animate {
    transition: 0s none !important;
    -webkit-transition: 0s none !important;
    animation: 0s none !important;
    -webkit-animation: 0s none !important;
}

.col-md-4 .access-list {
    margin-bottom: 30px;
    border: 0px solid #c0d2de;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.reg-checkbox {
    margin: 10px 0;
}

.reg-actions {
    margin: 10px 0 0 15px;
    overflow: hidden;
}

.reg-actions .action-filled {
    margin-right: 10px;
}

.f-pwdbox {
    display: inline-block;
    color: #4CAF50;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 13px;
}

.time-lft-box {
    height: 285px;
}

.time-slot-action {
    margin-top: 15px;
    float: right;
}

.time-slot-action .action-filled {
    margin-right: 10px;
}

.no-time-slot {
    text-align: center;
    color: #bfbfbf;
    width: 125px;
    left: 50%;
    position: absolute;
    height: 90px;
    top: 50%;
    margin: -45px 0 0 -63px;
}

.no-time-slot p {
    margin: 5px 0 0;
}

.no-question {
    width: 145px;
    position: absolute;
    text-align: center;
    height: 90px;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -73px;
}

.no-question p {
    margin: 0;
    color: #bfbfbf
}

.quesiton-popup {
    width: 800px;
    background: #fff;
    margin: 0 auto;
}

.qp-header {
    overflow: hidden;
    background: #f9f9f9;
    padding: 20px 35px;
    position: relative;
}

.qp-header img {
    float: left;
    margin: 4px 0 0 0;
}

.ap-header-lft {
    float: left;
    margin-left: 15px;
}

.ap-header-lft h2 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #28465a;
    font-weight: 600;
}

.ap-header-lft p {
    font-size: 16px;
    margin: 2px 0 0;
    color: #647d8e;
}

.qp-desc {
    height: 500px;
    overflow-y: auto;
    padding: 20px 35px;
}

.qp-desc ul {
    margin: 0;
}

.qp-desc li {
    list-style: none;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #fafafa;
    margin-bottom: 20px;
}

.qp-desc h4 {
    font-size: 16px;
    font-weight: 600;
    color: #28465a;
    margin: 0;
}

.qp-desc p {
    color: #9a9393;
    font-size: 15px;
    margin: 5px 0 0;
}

a.qp-pclose {
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -10px;
}

.receptionist-timeslot {
    min-height: 260px;
    background: #fff;
    position: relative;
}

.noBranch_position {
    margin-top: 80px;
}

.helpIcon {
    cursor: pointer;
}

.new-add-branch {
    position: relative;
}

.new-add-branch .show-over {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 50px 30px;
    height: 100%;
    background: #d6d6d6b5;
}

.color-theme-one.rTable>.rTableHeading>.rTableHead {
    /*background: #e2e8ee;
    color: #14324e;*/
    background: #fff;
    color: #222;
    border-bottom: 1px solid #ddd;
    border-left: 0px;
}

.color-theme-one.rTable>.rTableHeading>.rTableHead:first-child {
    border-top-left-radius: 5px;
}

.color-theme-one.rTable>.rTableHeading>.rTableHead:last-child {
    border-top-right-radius: 5px;
}

.color-theme-one.rTable>.rTableBody>.rTableRow:last-child>.rTableCell:first-child {
    border-bottom-left-radius: 5px;
}

.color-theme-one.rTable>.rTableBody>.rTableRow:last-child>.rTableCell:last-child {
    border-bottom-right-radius: 5px;
}

.color-theme-one.rTable>.rTableBody>.rTableRow>.rTableCell {
    border-top: 0px;
    border-bottom: 1px solid #e5ebf2;
    color: #3c3d40;
    background: #fff;
    vertical-align: middle;
    font-size: 14px;
    padding: 7px 15px;
    font-weight: 500;
}

.color-theme-one.rTable>.rTableBody>.rTableRow:last-child>.rTableCell {
    border-bottom: 0px;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.disable>.rTableCell {
    background: #f9f9f9;
    color: #ccc;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.bg-red>.rTableCell:first-child {
    position: relative;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.bg-red>.rTableCell:first-child:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #03a9f4;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.bg-urgent>.rTableCell:first-child {
    position: relative;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.bg-urgent>.rTableCell:first-child:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #ff0000;
}

.color-theme-one.rTable>.rTableBody>.rTableRow.inner .rTableCell {
    background: #f1f4f8;
    padding: 15px 15px;
}

.color-theme-one.rTable>.rTableBody>.rTableRow>.rTableCell .toggle {
    cursor: pointer;
}

.color-theme-one.rTable .rTableCell i {
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.color-theme-one.rTable .rTableCell i.fa-ban {
    color: #ff9e9e;
}

.color-theme-one.rTable .rTableCell i.fa-check {
    color: #77e400;
}

.color-theme-one.rTable select.status-select {
    border: 0px;
    outline: none;
}

.add-user-new .search-relt {
    background: #fff;
    padding: 5px 10px;
    height: 200px;
    overflow: auto;
}

.add-user-new .search-relt.min {
    height: 155px;
}

.add-user-new .search-relt ul li {
    width: 100%;
    padding: 7px 10px;
}

.add-user-new .search-relt ul li:nth-child(odd) {
    background: #fff;
}

.add-user-new .search-relt ul li:nth-child(even) {
    background: #f7f7f7;
}

.add-user-new .search-relt ul li .fa {
    float: right;
    margin: 3px 0px 0px 0px;
    cursor: pointer;
}

.add-user-new .control {
    font-size: 14px;
}

.sep-bor {
    border: 1px solid #d8d8d8;
    min-height: calc(100vh - 130px);
    background: #fff;
}

.sep-top {
    border-top: 1px solid #d8d8d8;
}

.sep-bot {
    border-bottom: 1px solid #d8d8d8;
}

.no-pad {
    padding: 0px !important;
}

.no-mar {
    margin: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.prb-15 {
    padding-right: 15px;
    padding-bottom: 15px;
}

.p-15 {
    padding: 15px;
}

.plr-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.plr-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.pro-list ul {
    overflow-y: auto;
    /* max-height: 400px; */
    padding-right: 5px;
}

.new-branch-info {
    height: 310px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 10px;
}

input.btn-reset:hover,
input.btn-reset:active,
input.btn-reset:focus {
    border: 0px !important;
    box-shadow: none;
}

select,
select.form-control,
select.form-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select-icon.png) no-repeat 98% 12px;
}

.rTableRow:nth-of-type(odd)>.rTableCell {
    background: #fafafa !important;
}

.rTableRow:nth-of-type(even)>.rTableCell {
    background: #fff !important;
}

.admin-dashborad .bc-no {
    width: calc(100% - 85px);
}

.admin-dashborad .bc-no span {
    margin: 9px 0 0 0;
    font-size: 13px;
    width: 100%;
}
