.p-0 {
    padding: 0px;
}
.m-0 {
    margin: 0px;
}

.mt-0 {
    margin-top: 0px !important;
}

.pt-0 {
    padding-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.pt-25 {
    padding-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.plr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.p-15 {
    padding: 15px;
}
.text-12 {
    font-size: 12px;
    line-height: 18px;
}

.text-13 {
    font-size: 13px;
    line-height: 19px;
}

.text-14 {
    font-size: 14px;
    line-height: 20px;
}

.text-16 {
    font-size: 16px;
    line-height: 22px;
}

.text-18 {
    font-size: 18px;
    line-height: 24px;
}

.text-20 {
    font-size: 20px;
    line-height: 36px;
}

.text-22 {
    font-size: 22px;
    line-height: 28px;
}

.text-24 {
    font-size: 24px;
    line-height: 30px;
}

.text-26 {
    font-size: 26px;
    line-height: 32px;
}

.text-28 {
    font-size: 28px;
    line-height: 34px;
}

.text-30 {
    font-size: 30px;
    line-height: 36px;
}

body::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

body {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    line-height: inherit;
}

input.placeholder,
textarea.placeholder {
    color: #999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

.htruncate-ml4 {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-overflow: -o-ellipsis-lastline;
    height: 80px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.htruncate-ml2 {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-overflow: -o-ellipsis-lastline;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.htruncate-sl2 {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-overflow: -o-ellipsis-lastline;
    height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.square {
    width: 100px;
    height: 100px;
}

.size {
    width: auto;
    height: auto;
}

.gradient {
    background: #07c;
    background: -webkit-linear-gradient(top, #07c, #06f);
    background: linear-gradient(to bottom, #07c, #06f);
}

.vc-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body .sfont {
    font-size: 80%;
}

.cur {
    cursor: pointer;
}

.over-hide {
    overflow: hidden;
}

.no-bg {
    background: none;
}

.no-bor {
    border: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.no-mar {
    margin: 0 !important;
}

.no-round {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.no-under,
.no-under:hover {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.z-top {
    z-index: 100;
}

.blackc {
    color: #000;
}

.whitec {
    color: #fff;
}

.over-hide {
    overflow: hidden;
}

.no-shad {
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

ul li,
ol li {
    list-style-type: none;
}


/*# sourceMappingURL=base.css.map */