/*---- Button ----*/

body {
    /* font-family: 'Ubuntu'; */
    font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    font-size: 13px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    font-size: 13px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 13px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    font-size: 13px;
}

input.btn-filled,
button.btn-filled,
a.btn-filled,
input.btn-filled:focus,
button.btn-filled:focus,
a.btn-filled:focus,
input.btn-filled:hover,
button.btn-filled:hover,
a.btn-filled:hover {
    border: 2px solid #00c853 !important;
    background: #fff;
    color: #00c853;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 6px 15px;
    min-width: 100px;
    line-height: 18px;
    /*margin: 0;*/
    font-size: 15px;
    box-shadow: none;
    vertical-align: top;
}

input.btn-filled-one,
button.btn-filled-one,
a.btn-filled-one,
input.btn-filled-one:hover,
button.btn-filled-one:hover,
a.btn-filled-one:hover,
input.btn-filled-one:focus,
button.btn-filled-one:focus,
a.btn-filled-one:focus {
    border: 4px solid #28465a;
    background: #28465a;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 5px 15px;
    min-width: 100px;
    line-height: 18px;
    /*margin: 0;*/
    font-size: 16px;
    box-shadow: none;
}

input.btn-filled-one.orange,
button.btn-filled-one.orange,
a.btn-filled-one.orange,
input.btn-filled-one.orange:hover,
button.btn-filled-one.orange:hover,
a.btn-filled-one.orange:hover,
input.btn-filled-one.orange:focus,
button.btn-filled-one.orange:focus,
a.btn-filled-one.orange:focus {
    background: #f38832;
    border-color: #f38832 !important;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 5px 15px;
    min-width: 100px;
    line-height: 18px;
    margin: 0;
    font-size: 16px;
    box-shadow: none;
}

input.btn-filled-red,
button.btn-filled-red,
a.btn-filled-red,
input.btn-filled-red:hover,
button.btn-filled-red:hover,
a.btn-filled-red:hover,
input.btn-filled-red:focus,
button.btn-filled-red:focus,
a.btn-filled-red:focus {
    border: 2px solid #fd132c;
    background: #ffd1d1;
    color: #fd132c;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 5px 15px;
    min-width: 100px;
    line-height: 18px;
    margin: 0;
    font-size: 16px;
    box-shadow: none;
}

button.btn-primary,
a.btn-primary,
input.btn-primary,
button.btn-primary:hover,
a.btn-primary:hover,
input.btn-primary:hover,
button.btn-primary:focus,
a.btn-primary:focus,
input.btn-primary:focus {
    background: #0055a5 !important;
    border-color: #0055a5;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 7px 15px;
    /*min-width: 100px;*/
    line-height: 18px;
    font-size: 16px;
    box-shadow: none;
    padding: 7px 28px !important;
}

.btn-small,
.btn-small:hover,
.btn-small:focus {
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 2px 10px;
    min-width: 70px;
    line-height: 14px;
    text-align: center;
    margin: 0;
    font-size: 12px;
    vertical-align: top;
    box-shadow: none;
}

.btn-small.active,
.btn-small.active:hover,
.btn-small.active:focus {
    background: #3ed002 !important;
    border-color: #3ed002;
    box-shadow: none;
}

.btn-small.inactive,
.btn-small.inactive:hover,
.btn-small.inactive:focus {
    background: #d8d8d8 !important;
    border-color: #cecece;
    box-shadow: none;
}

input.load-more,
button.load-more,
a.load-more,
input.load-more:focus,
button.load-more:focus,
a.load-more:focus,
input.load-more:hover,
button.load-more:hover,
a.load-more:hover {
    border: 1px solid #0055a5 !important;
    background: #fff;
    color: #0055a5;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 4px 15px;
    min-width: 100px;
    line-height: 18px;
    font-size: 13px;
    box-shadow: none;
    vertical-align: top;
}

.btn-small.active.ml {
    position: relative;
    left: -10px;
    top: 16px;
    padding: 8px 5px;
    min-width: auto;
    display: inline-block;
}

input[type="file"].form-control,
input[type="file"]:focus.form-control,
input[type="file"],
input[type="file"]:hover {
    cursor: pointer;
    border: 0px !important;
    color: #222;
    background: transparent;
    padding: 0px;
    height: auto;
    box-shadow: none;
}

input[disabled],
select[disabled],
textarea[disabled] {
    background: #f1f1f1 !important;
    cursor: not-allowed !important;
}

.toggle .plus,
.toggle.open .minus {
    display: inline-block;
}

.toggle .minus,
.toggle.open .plus {
    display: none;
}

.fa-pencil {
    position: relative;
    right: auto;
    top: auto;
    color: #555;
}

.min-wids {
    min-width: 130px;
    padding: 8px 10px;
}

.min-wids a {
    margin: 0px 5px 0px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* .font-ubuntu {
    font-family: Ubuntu;
} */

.black {
    color: #000 !important;
}

.onoffswitch {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #e5ebf2;
    border-radius: 22px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Active";
    padding-left: 15px;
    background-color: #49E845;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Inactive";
    padding-right: 8px;
    background-color: #FF8C8C;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    border: 1px solid #e5ebf2;
    border-radius: 36px;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch.active .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch.active .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.p-5 {
    padding: 5px;
}


/*---- Ripple Animation ----*/

.ripeff {
    cursor: pointer;
    padding: 10px 13px;
    background: #ddd;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .5s ease;
}

@-webkit-keyframes rippleDrop {
    100% {
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes rippleDrop {
    100% {
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
}


/*@-webkit-keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}*/

.top-bar-menu {
    min-width: 500px;
    width: auto;
    float: left;
}


/*---- Dashboard and Enquiry ----*/

.dnavmenu .nav-records img.active {
    display: none;
}

.dnavmenu .nav-records img.deactive {
    display: inline-block;
}

.dnavmenu .nav-records.activeSideMenu img.active {
    display: inline-block;
}

.dnavmenu .nav-records.activeSideMenu img.deactive {
    display: none;
}

.dashpagecontent {
    position: relative;
    width: 100%;
    background-color: #073b6b;
    height: calc(100vh - 60px);
    overflow: auto;
}

.dashpagecontent .sec-left {
    position: fixed;
    top: 65px;
    bottom: 0px;
    z-index: 1;
}

.dashpagecontent .sec-right {
    overflow-y: auto;
    margin-left: 190px;
    width: calc(100% - 190px);
    padding: 0px 15px 0px 15px;
    height: calc(100vh - 60px);
}

.dashboardwrap .min-wids {
    min-width: 100px;
}


/*
.loading {
    position: relative;
}

.loading:after {
    z-index: 10;
    content: '';
    background: rgba(255, 255, 255, 0.6) url('images/loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 30px;
}*/

.report {
    margin-top: 15px;
}

.report .btn-book {
    background: transparent;
    padding: 1px 20px;
    border-radius: 4px;
}

.sec-left {
    width: 190px;
}

.dash_sidebar {
    background-color: #073b6b;
    /* font-family: 'proxima_novasemibold'; */
    height: calc(100vh - 90px);
    color: #ccc;
    width: 190px;
    overflow-y: auto;
}

.snap {
    text-align: center;
    border: 1px solid transparent;
}

.snap .bg-icon {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0px 0px;
    /*background-color: #fff;*/
}

.dash1 {
    top: auto;
    position: relative;
    left: auto;
    width: 80%;
}

.snap.one {
    border-color: #d82929;
}

.snap.two {
    border-color: #9daf22;
}

.snap.three {
    border-color: #0daf94;
}

.snap.four {
    border-color: #168e82;
}

.snap.five {
    border-color: #33a255;
}

.snap.six {
    border-color: #00415b;
}

.snap.seven {
    border-color: #148db2;
}

.snap.eight {
    border-color: #cc9315;
}

.snap.nine {
    border-color: #c92c12;
}

.snap.ten {
    border-color: #891907;
}

.snap.eleven {
    border-color: #800a9d;
}

.snap.twelve {
    border-color: #0d9583;
}

.snap.thirteen {
    border-color: #145f0a;
}

.snap.fourteen {
    border-color: #1594ce;
}

.snap.fifteen {
    border-color: #f23b1c;
}

.snap.sixteen {
    border-color: #5251bc;
}

.snap .one-c {
    color: #f45c4b;
}

.snap .two-c,
.snap .text-green {
    color: #9daf22;
}

.snap .three-c {
    color: #0daf94;
}

.snap .four-c {
    color: #168e82;
}

.snap .five-c {
    color: #33a255;
}

.snap .six-c {
    color: #00415b;
}

.snap .seven-c {
    color: #148db2;
}

.snap .eight-c {
    color: #cc9315;
}

.snap .nine-c {
    color: #c92c12;
}

.snap .ten-c {
    color: #891907;
}

.snap .eleven-c {
    color: #891907;
}

.snap .twelve-c {
    color: #0d9583;
}

.snap .thirteen-c {
    color: #145f0a;
}

.snap .fourteen-c {
    color: #1594ce;
}

.snap .fifteen-c {
    color: #f23b1c;
}

.snap .sixteen-c {
    color: #5251bc;
}

.snap .text-muted.bigger {
    font-size: 30px;
    font-weight: 500;
}

.primary,
.primary a {
    color: #139ceb;
}

.new-enquiry {
    margin-top: 15px;
}

.new-enquiry .btn-book {
    background: transparent;
    padding: 1px 20px;
    border-radius: 4px;
}

.new-enquiry .min-wids {
    width: 170px;
    padding: 8px 10px;
}

.new-enquiry table td .email a {
    display: inline-block;
    margin: 0px 20px 0px 0px;
}

.table-responsive {
    /*border: 1px solid #e5ebf2;*/
    /* border: 1px solid #073b6b; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.table-responsive .table {
    margin: 0px;
    font-size: 14px;
}

.table>tbody>tr>td {
    font-size: 14px;
}

.table-responsive .table tbody tr:last-child td {
    border-bottom: 0px;
}

.color-theme-one.table>thead>tr>th {
    /*background: #e2e8ee;
    color: #073b6b;
    border-bottom: 1px solid #e5ebf2;*/
    background: #fff;
    color: #222;
    border-bottom: 1px solid #e5ebf2 !important;
}

.color-theme-one.table>thead>tr+tr>th {
    border: 0px;
}

.color-theme-one.table>thead>tr>th:first-child {
    border-top-left-radius: 5px;
}

.color-theme-one.table>thead>tr>th:last-child {
    border-top-right-radius: 5px;
}

.color-theme-one.table>tbody>tr:last-child>th:first-child {
    border-bottom-left-radius: 5px;
}

.color-theme-one.table>tbody>tr:last-child>th:last-child {
    border-bottom-right-radius: 5px;
}

.color-theme-one.table>tbody>tr>td {
    border-top: 0px;
    border-bottom: 1px solid #f9f9f9;
    color: #404040;
    background: #fff;
    vertical-align: middle;
    font-weight: 500;
}

.table.color-theme-one tbody tr:nth-child(odd) td {
    background: #fff;
    border-radius: 0;
}

.table.color-theme-one tbody tr:nth-child(even) td {
    background: #073b6b29;
    border-radius: 0;
}

.color-theme-one.table>tbody>tr.disable>td {
    background: #f9f9f9;
    color: #ccc;
}


/* .color-theme-one.table>tbody>tr.bg-red>td {
    background: #ffdada;
} */

.color-theme-one.table>tbody>tr.bg-red>td:first-child {
    position: relative;
}

.color-theme-one.table>tbody>tr.bg-red>td:first-child:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #03a9f4;
}

.color-theme-one.table>tbody>tr.bg-urgent>td:first-child {
    position: relative;
}

.color-theme-one.table>tbody>tr.bg-urgent>td:first-child:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #ff0000;
}

.color-theme-one.table>tbody>tr.inner td {
    background: #f1f4f8;
    padding: 15px 15px;
}

.appointment-primary {
    color: #139ceb !important;
    font-weight: 600 !important;
}

.appointment-secondary {
    color: #ee6513 !important;
    font-weight: 600 !important;
}

.appointment-success {
    color: #12887e !important;
    font-weight: 600 !important;
}

.appointment-success-light {
    color: #18a733 !important;
    font-weight: 600 !important;
}

.appointment-info {
    color: #e19f26 !important;
    font-weight: bold !important;
}

.appointment-danger {
    color: #ee0e2e !important;
    font-weight: bold !important;
}

.color-theme-one.table>tbody>tr>td .toggle {
    cursor: pointer;
}

.color-theme-one.table td i {
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.color-theme-one.table td i.fa-ban {
    color: #ff9e9e;
}

.color-theme-one.table td i.fa-check {
    color: #4CAF50;
}

.color-theme-one.table select.status-select {
    border: 1px solid #ddd;
    outline: none;
    padding: 5px 10px;
    background: #fff;
    color: #073b6b;
}

.color-theme-two.table>thead>tr>th {
    background: #d1dae1;
    color: #28465a;
    border-bottom: 0px;
}

tr.inner .color-theme-two.table>tbody>tr>td {
    border-top: 0px;
    background: #fff;
    color: #61686e;
    border-bottom: 1px solid #e5ebf2;
    padding: 10px 15px;
    vertical-align: middle;
}

tr.inner .color-theme-two.table>tbody>tr.disable>td {
    background: #f9f9f9;
    color: #ccc;
}

.color-theme-three.table {
    margin-top: 10px;
}

.color-theme-three.table>thead>tr>th {
    background: #f9d8d8;
    color: #28465a;
    border-bottom: 0px;
}

tr.inner .color-theme-three.table>tbody>tr>td {
    border-top: 0px;
    background: #fff;
    color: #61686e;
    border-bottom: 1px solid #e5ebf2;
    padding: 10px 15px;
}

.modal-common.new .modal-title {
    text-align: left;
    padding: 15px 20px;
}

.modal-common.big .modal-common-dialog,
.modal.big .modal-dialog {
    max-width: 1200px;
    width: 100%;
}

.modal-common.auto .modal-common-dialog {
    max-width: 850px;
    width: 100%;
    background: #f8f9fa;
    /*margin: 20px auto 20px;*/
}

.modal-common.new .modal-common-dialog {
    max-width: 900px;
    width: 100%;
    background: #f8f9fa;
    /*margin: 20px auto 20px;*/
}

.modal-common.new .form-horizontal .control-label {
    padding-top: 0px;
}

.modal-common.new .form-control.gray-bg {
    background: #ebebeb;
    color: #7c7d7f;
    border: 0px !important;
}


/*.modal-common.new .form-control {
    border: 1px solid #949494 !important;
}
*/

.modal-common.new .form-control:hover {
    border: 1px solid #00c853 !important;
}

.modal-common.new .form-control.w-auto {
    width: auto;
    display: inline-block;
    margin: 0px 4px 0px 4px;
}

.modal-common.new p {
    margin: 6px 0 0 0;
}

.location-view {
    border: 1px solid #eeedee;
    margin: 5px 0px 0px 0px;
}

.location-view .head {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #dddddd;
    font-size: 12px;
}

.modal-common.new .location-view .head .form-control {
    float: left;
    width: 150px;
    margin: 0px 0px 0px 0px;
    padding: 3px 10px;
    height: auto;
    border-radius: 3px;
    box-shadow: none;
}

.location-view .head .control {
    font-size: 12px;
}

.location-view .head .btn-filled {
    min-width: 70px;
}

.location-view .body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 6px 10px;
    background: #f4f5f6;
    height: 160px;
    overflow: auto;
}

.location-view .body .control {
    font-size: 13px;
}

.location-view .control.w-auto {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    margin-bottom: 0px !important;
}

.location-view .control .cont {
    display: inline-block;
    width: 55%;
}

.location-view .control .one,
.location-view .control .two {
    margin: 0px 0px 0px 10px;
    min-width: 60px;
    text-align: center;
    display: inline-block;
}

.location-view .control__indicator {
    top: 1px;
}


/* .location-view .filter {} */

.location-view .btn-sort,
.location-view .btn-sort:hover,
.location-view .btn-sort:focus {
    background: transparent;
    padding: 1px 20px;
    border-radius: 4px;
}

.modal-common.small .modal-common-dialog {
    max-width: 600px;
}

.modal-overlay {
    z-index: 10999;
}

.modal-common {
    z-index: 11000 !important;
}

.modal-common .collon:before {
    position: absolute;
    content: ':';
    left: 0px;
    top: 6px;
}

.modal-common.new .view .lable {
    color: #3d596b;
}

.modal-common.new .modal-common-dialog.view {
    background: #fff;
    max-width: 700px;
}

.modal-common.new .view p {
    margin: 8px 0px;
    font-size: 14px;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 1;
    font-weight: 500;
    font-size: 17px;
    background: #fff;
    padding: 5px 9px;
    border-radius: 50%;
    text-shadow: none;
    box-shadow: 0px 0px 5px #000;
}

.close:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    filter: alpha(opacity=90);
    opacity: .9;
}

.modal-common.new.small .manage {
    max-width: 500px;
}

.modal-common.new .manage {
    max-width: 1250px;
    /*background: #fff;*/
}

.modal-common.new .manage embed {
    height: 750px;
}

.modal-common .manage embed {
    height: 750px;
}

.modal-common.new .manage .form-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.modal-common.new .manage .form-control {
    margin-top: 5px;
}

.bold {
    font-weight: 600;
}

.modal-backdrop {
    z-index: 10040;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.fa-eye {
    color: #1fb2d1;
}

.fa-cog {
    color: #0055a5;
}

.fa-paperclip {
    color: #f19c02;
}

.icon-Calendar {
    color: #d3623d;
}

.cus-radio {
    display: block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 6px !important;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 26px;
}

.cus-radio input {
    position: absolute;
    opacity: 0;
}

.cus-radio .checkmark {
    position: absolute;
    top: 4px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-color: #fbfbfb;
    border-radius: 50%;
    border: 1px solid #9dd6ff;
}


/*.cus-radio:hover input ~ .checkmark {
    background-color: #ccc;
}*/

.cus-radio input:checked~.checkmark {
    background-color: #fff;
}

.cus-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cus-radio input:checked~.checkmark:after {
    display: block;
}

.cus-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0095ff;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 17px;
}

.patient-details {
    background: #eee;
    padding: 30px;
    border-radius: 10px;
    font-size: 15px;
}

.patient-details .edit {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 10px;
}

.patient-details .edit.top {
    top: 40px;
}

.modal-common.new .patient-details p {
    margin: 7px 0 7px 0;
}

.modal-common.new .manage .form-inline .form-group {
    width: auto;
    float: left;
    margin-bottom: 10px;
}

.full-width {
    width: 100% !important;
}

.manage .nav-tabs.nav {
    border: 0px;
}

.manage .nav-tabs.nav>li>a {
    padding: 5px 15px 10px 15px;
    font-weight: bold;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 0px 0px -1px 0px;
    font-size: 18px;
}

.manage .nav-tabs.nav>li>a:before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 10px;
    height: 2px;
    width: 0px;
    background: #139ceb;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.manage .nav-tabs.nav>li>a i {
    margin: 2px 5px 0px 0px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.manage .tab-pane {
    margin: 0px;
    border-top: 0px;
    padding-top: 20px;
}

.manage .nav-tabs>li.active>a,
.manage .nav-tabs>li.active>a:hover,
.manage .nav-tabs>li.active>a:focus {
    background-color: transparent !important;
    background: transparent;
    outline: none;
}

.manage .nav-tabs>li.active>a:before,
.manage .nav-tabs>li.active>a:hover:before,
.manage .nav-tabs>li.active>a:focus:before,
.manage .nav-tabs>li>a:focus:before,
.manage .nav-tabs>li>a:hover:before {
    width: calc(100% - 20px);
}

.modal-common.new .manage .tab-content .form-group {
    margin-bottom: 10px;
}

.modal-common.full-size .modal-common-dialog {
    max-width: 1300px;
    width: 100%;
    background: #fff;
}

.custom-modal .modal-body {
    padding: 20px 30px;
}

.custom-modal .modal-header {
    background: #ececec;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0px;
}

.custom-modal .modal-dialog {
    border-radius: 5px;
}

.custom-modal .modal-title {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.app-confirm {
    padding: 0px;
    margin-bottom: 15px;
}

.modal-common.new .modal-common-dialog.app-confirm {
    background: #fff;
}

.app-confirm .modal-title {
    margin-bottom: 0px;
}

.app-confirm .info {
    float: left;
    padding: 15px 15px 5px 15px;
    margin: 0px 0px 20px 0px;
    background: #f5f5f5;
    width: 100%;
}

.app-confirm p {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.app-confirm p span {
    float: left;
    width: 150px;
    color: #8c8c8c;
    padding-right: 20px;
}

.app-confirm p span.rt {
    float: left;
    width: calc(100% - 150px);
    margin-left: 0px;
    position: relative;
}

.app-confirm p span.rt:before {
    position: absolute;
    content: ':';
    left: -15px;
    padding: 0px 5px;
    font-weight: normal !important;
    color: #8c8c8c;
}

.app-confirm h4 {
    font-size: 14px;
    font-weight: 700;
    color: #0f75b1;
    margin: 0;
    margin-bottom: 10px;
}

.blue {
    color: #0f75b1;
}

.red {
    color: #b30921;
}

.orange {
    color: #e8400c;
}

.bold {
    font-weight: 600;
}

.book-schedule h4 {
    font-size: 16px;
    font-weight: bold;
}

.book-schedule li {
    list-style-type: none;
}

.book-schedule .info-left p {
    font-size: 14px;
    margin: 15px 0px 20px 0px;
}

.book-schedule .info-left ul {
    padding: 0px;
    width: 100%;
}

.book-schedule .info-left ul li {
    padding: 15px 10px 15px 20px;
    background: #f4f4f4;
    color: #222;
    border-bottom: 1px solid #e7e9ea;
}

.book-schedule .info-left ul li.active {
    background: #d9ecfe;
}

.book-schedule .info-left ul li input {
    margin: 0px 6px 0px 0px;
    position: relative;
    top: 2px;
}

.book-schedule .titles {
    display: inline-block;
    width: 100%;
}

.book-schedule .titles li {
    float: left;
    padding: 10px 15px;
    position: relative;
}

.book-schedule .titles label {
    padding: 0px 0px 5px 0px;
}

.book-schedule .titles li input,
.book-schedule .titles li select {
    max-width: 100px;
    width: 100%;
    padding: 0px 5px;
    height: 28px;
}

.pl-0 {
    padding-left: 0px;
}

.book-schedule .titles li+li:before {
    position: absolute;
    content: '';
    left: 0px;
    height: 50px;
    width: 1px;
    background: #e7e9ea;
}

.book-schedule .titles li:first-child {
    padding-left: 0;
}

.book-schedule .titles li:last-child {
    padding-right: 0;
}

.fs-22 {
    font-size: 22px;
    line-height: 22px;
}

.book-schedule h4 {
    font-size: 16px;
    font-weight: bold;
}

.book-schedule li {
    list-style-type: none;
}

.book-schedule .info-left p {
    font-size: 14px;
    margin: 15px 0px 20px 0px;
}

.book-schedule .info-left ul {
    padding: 0px;
    width: 100%;
}

.book-schedule .info-left ul li {
    padding: 15px 10px 15px 20px;
    background: #f4f4f4;
    color: #222;
    border-bottom: 1px solid #e7e9ea;
}

.book-schedule .info-left ul li.active {
    background: #d9ecfe;
}

.book-schedule .info-left ul li input {
    margin: 0px 6px 0px 0px;
    position: relative;
    top: 2px;
}

.book-schedule .titles {
    display: inline-block;
    width: 100%;
}

.book-schedule .titles li {
    float: left;
    padding: 10px 15px;
    position: relative;
}

.book-schedule .titles label {
    padding: 0px 0px 5px 0px;
}

.book-schedule .titles li input,
.book-schedule .titles li select {
    max-width: 100px;
    width: 100%;
    padding: 0px 5px;
    height: 28px;
}

.pl-0 {
    padding-left: 0px;
}

.book-schedule .titles li+li:before {
    position: absolute;
    content: '';
    left: 0px;
    height: 50px;
    width: 1px;
    background: #e7e9ea;
}

.book-schedule .titles li:first-child {
    padding-left: 0;
}

.book-schedule .titles li:last-child {
    padding-right: 0;
}


/*---- Book slot ----*/

.no-pad {
    padding: 0px;
}

.book-slot .head {
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #ddd;
}

.book-slot li {
    list-style-type: none;
}

.book-slot .impt-notes {
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
}

.book-slot .impt-notes li {
    float: left;
    padding: 0px 10px;
    margin: 0px 0px 0px 0px;
}

.book-slot .impt-notes li+li {
    border-left: 2px solid #cbcbcb;
}

.book-slot .impt-notes li h4 {
    width: 100%;
    margin: 0px 0px 5px 0px;
    font-weight: 400;
    font-size: 14px;
}

.book-slot .impt-notes li p {
    width: 100%;
    margin: 0px;
}

.book-slot .impt-notes .primary {
    color: #152577;
}

.book-slot .impt-notes .secondary {
    color: #ee0823;
}

.book-slot .leagent {
    text-align: right;
}

.book-slot .leagent span {
    margin: 0px 5px 5px 6px;
    position: relative;
}

.book-slot .leagent button {
    margin: 0px 0px 5px 8px;
}

.book-slot .leagent .slot-blue,
.book-slot .leagent .slot-red {
    position: relative;
    padding: 0px 0px 0px 50px;
}

.book-slot .leagent .slot-blue,
.book-slot .leagent .slot-red {
    position: relative;
    padding: 0px 0px 0px 30px;
    font-size: 13px;
}

.book-slot .slot-blue:before,
.book-slot .slot-red:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 10px;
    left: 6px;
    top: 4px;
    border-radius: 2px;
}

.book-slot .slot-blue:before {
    background: #25bdef;
}

.book-slot .slot-red:before {
    background: #f47180;
}

#ui-datepicker-div {
    z-index: 11600 !important;
}

.book-slot .slot-card {
    margin: 20px 10px 0px 0px;
    padding: 0px;
    width: calc(50% - 10px);
}

.book-slot .slot-card .form-control {
    background-color: #fff;
    height: 29px;
    width: 100px;
}

.book-slot .card-head {
    width: 100%;
    padding: 10px 10px;
    background: #4fcdde;
    color: #222;
}

.book-slot .card-head h4 {
    width: 100%;
    margin: 0px;
    text-align: center;
    font-weight: 500;
}

.book-slot .card-body {
    width: 100%;
    padding: 5px;
    background: #fff;
    border: 1px solid #e0e1e1;
    border-top: 0px;
    overflow-y: auto;
    height: 600px;
}

.book-slot .clinic {
    margin: 0px 0px 10px 0px;
}

.book-slot .overview {
    background: #f4f4f4;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #eae6e6;
    vertical-align: top;
}

.book-slot .overview p {
    margin: 0px 0px;
    float: left;
    width: 50%;
}

.book-slot .overview p.full {
    width: 100%;
    margin: 5px 0px 0px 0px;
}

.book-slot .overview p>span {
    float: left;
    width: 65px;
    font-size: 12px;
    color: #a0a1a1;
    line-height: 17px;
}

.book-slot .overview p.sono .rt {
    color: #000;
}

.book-slot .overview p.support {
    width: 70%;
}

.book-slot .overview p.tot-slot {
    width: auto;
}

.book-slot .overview p.tot-slot span,
.book-slot .overview p.tot-slot .rt {
    width: auto;
}

.book-slot .overview p.tot-slot .rt {
    font-weight: bold !important;
}

.book-slot .overview p .rt {
    float: left;
    width: calc(100% - 65px);
    font-weight: 300;
    padding: 0px 0px 0px 20px;
    font-weight: normal;
    font-size: 13px;
    position: relative;
    text-transform: capitalize;
}

.book-slot .overview p .rt.fw {
    font-weight: 500;
}

.book-slot .overview p .rt:before {
    position: absolute;
    content: ':';
    left: 5px;
    padding: 0px 5px;
}

.book-slot .time-slot {
    width: 100%;
    padding: 15px 5px 5px 5px;
    border: 1px solid #eae6e6;
    border-top: 0px;
}

.book-slot .time-slot li.selected-slot,
.book-slot .time-slot li.emergency-slot.selected-slot {
    background: #25bdef;
    color: #fff;
}

.book-slot .time-slot li.emergency-slot {
    background: #f47180;
    color: #fff;
}

.book-slot .slots {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.book-slot .slots li {
    float: left;
    /* width: calc(25% - 10px); */
    padding: 3px 8px;
    text-align: center;
    margin: 0px 4px 10px;
    border-radius: 3px;
    font-size: 12px;
    background: #ebebeb;
    cursor: pointer;
}

.book-slot .slots li.strike {
    text-decoration: line-through;
    pointer-events: none;
    background: #d4d4d4;
    color: #888;
}

.swiper-container {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0px 20px;
}

.modal {
    padding: 10px;
}

.modal-common.max .modal-common-dialog {
    max-width: 100%;
}

.book-slot .blue-bg {
    background: #4fcdde;
}

.book-slot .orange-bg {
    background: #f4ac50;
}

.book-slot .red-bg {
    background: #f68979;
}

.book-slot .gray-bg {
    background: #b7aaa5;
}

.emergency-info {
    color: #d00728;
    font-weight: normal;
}

.emergency-info span {
    font-weight: 600;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 17px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 17px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
}


/*-----  Admin Module  -------*/


/* .form-control,
.input-group,
.form-style {
    margin-top: 3px;
} */

.input-group .form-control {
    margin-top: 0px;
}

.fm-ctno {
    width: auto;
    float: left;
    margin-left: 5px;
}

.new-flow .form-wrap {
    padding-bottom: 15px;
}

.new-flow .form-wrap .fm-box {
    float: none;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

.new-flow .form-wrap label span {
    font-weight: 400;
    width: 100%;
    color: #2d2b2b;
    font-size: 14px;
}

.new-flow .form-wrap label {
    width: 100%;
}

.control__indicator {
    top: 0px;
}

.add-user-new .form-wrap .fm-box {
    width: 100%;
    float: left;
    position: relative;
    padding-right: 0px;
}

.spaciality .option {
    float: right;
}

.spaciality .option .fa {
    float: left;
    cursor: pointer;
    margin: 2px 0px 0px 8px;
    font-size: 15px;
}


/*sathish styles*/

.calendar {
    width: 100%;
    padding: 0px;
}

.calendar-schedule {
    width: 100%;
    margin: 20px 0px 0px 0px;
    position: relative;
}

.calendar .radio-options .radio {
    margin: 0;
    padding-left: 0;
}

.calendar .head {
    padding: 10px 0px;
}

.calendar .slot-card {
    background: #fff;
    border: 1px solid #c7c8c9;
}

.calendar .slot-card li {
    list-style-type: none;
}

.head.blue {
    background: #4fcdde;
    color: #333;
}

.head.orange {
    background: #f4ac50;
    color: #333;
}

.head.pink {
    background: #f89283;
    color: #333;
}

.head.brown {
    background: #b7aaa5;
    color: #333;
}

.head.grey {
    background: #a8babb;
    color: #333;
}

.calendar .head h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.calendar .form-group {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0px 0px 0px;
}

.calendar .form-control {
    border: 1px solid #ccc;
    font-weight: 600;
}

.calendar .input-group .form-control:focus {
    box-shadow: none;
}

.calendar .input-group .form-control {
    background: #f8f6f6;
}

.calendar .input-group-addon {
    background: #c8c7c7;
}

.calendar .radio {
    padding: 0px;
}

.calendar .radio-options,
.calendar .date-range {
    margin: 15px 0px;
}

.calendar .date-range .form-group span {
    float: left;
    width: 60px;
    text-align: center;
    margin: 8px 0px 0px 0px;
}

.calendar .date-range .form-control {
    float: left;
    width: 100%;
}

.calendar label {
    font-weight: normal;
    margin-bottom: 0;
}

.calendar .top-sect {
    padding: 5px 25px 0px 25px;
}

.calendar .top-sect p {
    font-size: 13px;
    color: #adadad;
    margin: 0px 0px 2px 0px;
}

.calendar .top-sect h6 {
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.calendar .top-sect .primary {
    color: #2d4c61;
}

.calendar .top-sect .secondary {
    color: #218a98;
}

.calendar .top-sect .orange {
    color: #f54c11;
}

.calendar .btn-grp {
    padding: 5px 0;
    min-width: 109px;
    border: 1px solid #cccccc;
    font-size: 13px;
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
}

.calendar .btn-grp:focus,
.calendar .btn-grp:hover {
    box-shadow: none;
}

.calendar .btn-group .btn-grp:first-child {
    color: #458da5;
}

.calendar .btn-group .btn-grp:last-child {
    color: #f61e24;
}

.calendar .fa-search {
    position: relative;
    top: auto;
    right: auto;
    color: #fff;
}

.calendar .slot-card .slots li {
    float: left;
    width: calc(20% - 10px);
    padding: 5px 5px;
    text-align: center;
    margin: 0px 5px 5px;
    border-radius: 3px;
    background: #eaeaea;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 13px;
}

.calendar .slot-card .slots li.emer {
    background: #f795a0;
    color: #fff;
}

.calendar .slot-card .slots li.booked,
.calendar .slot-card .slots li.emer.booked {
    background: #00c0ff;
    color: #fff;
    cursor: pointer;
}

.calendar .slot-card .slots li.break {
    text-decoration: line-through;
    color: #bfbfbf;
}

.calendar .time-slot {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 0px 10px 10px 10px;
    height: auto;
}

.calendar .radio input[type="radio"] {
    box-shadow: none;
    margin: 2px 0px 0px -20px;
}

.calendar .popover-content {
    padding: 10px 15px;
    min-width: 200px;
}

.calendar .popover-content p {
    color: #adadad;
    margin: 0px 0px 2px 0px;
}

.calendar .popover-content h6 {
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0px 15px 0px;
}

.calendar .popover-content h6:last-child {
    margin: 0px 0px 0px 0px;
}


/*2nd pop*/

.calendar .clinic-list {
    border-right: 1px solid #e2e2e2;
}

.calendar .clinic-list ul {
    padding-left: 0;
    padding: 10px 0px 10px 10px;
}

.calendar .doctor-list ul {
    padding-left: 0;
    padding-top: 10px;
}

.calendar .clinic-list li {
    padding: 5px;
}

.calendar .clinic-list li.active {
    border-left: 2px solid #28465a;
    background: #f9f9f9;
}

.calendar .clinic-list li>h6 {
    font-weight: 600;
    margin: 5px 0px;
    font-size: 13px;
}

.calendar .clinic-list li>span {
    font-size: 11px;
    display: inline;
    color: #ababab;
}

.calendar .doctor-list .form-control {
    border-radius: 0;
    min-height: 54px;
}

.action-primary {
    min-width: 80px;
}

.calendar .calendar-schedule .inline>span {
    float: right;
}

.calendar .swiper-button-next,
.calendar .swiper-button-prev {
    position: fixed;
    top: 50%;
    width: 20px;
    height: 20px;
}

.scheduling .date-select {
    display: inline-block;
    width: auto;
    margin: 0px;
}

.scheduling .date-select .fa {
    float: left;
    margin: 10px 20px 0px 20px;
    font-size: 16px;
}

.scheduling .date-select .form-control {
    float: left;
    width: auto;
    margin: 0px;
}

.scheduling .head.gray {
    background: #b3c3c4;
    color: #203645;
    padding: 5px 10px;
    min-height: 44px;
}

.scheduling .head.blue {
    background: #4f7995;
    color: #fff;
}

.scheduling .head {
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.scheduling .head h3 {
    float: left;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    line-height: 24px;
}

.scheduling .head.text-center h3 {
    width: 100%;
    text-align: center;
}

.scheduling .head .form-control {
    float: left;
    /*height: 24px;
    line-height: 24px;*/
    font-size: 12px;
    padding: 0px 5px;
    margin: 0px;
    background-color: #fff;
}

.scheduling .head .btn {
    background: #222;
    color: #fff;
    line-height: 10px;
    margin: 0px 0px 0px 5px;
    font-size: 12px;
}

.scheduling .head .cus-wid {
    float: left;
    width: 25%;
}

.scheduling .head .cus-wid:nth-child(1) {
    float: left;
    width: 12.5%;
}

.scheduling .head .cus-wid h3 {
    text-align: left;
}

.scheduling li {
    list-style-type: none;
}

.scheduling-card {
    border: 1px solid #c7c8c9;
    background: #fff;
}

.scheduling-card.bl-0 {
    border-left: 0px;
}

.schedule-slot {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dbe5e1;
    vertical-align: top;
    position: relative;
}

.scheduling .clinic-coll {
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    height: 528px;
    vertical-align: top;
}

.scheduling .clinic-list {
    padding: 18px 15px;
    cursor: pointer;
    position: relative;
}

.schedule-slot .clinic-list:hover {
    background: #fbfbfb;
}

.schedule-slot .clinic-list.selected {
    background: #f3f3f3;
}


/*
.schedule-slot .clinic-list.selected:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 5px;
    background: transparent;
}*/

.scheduling .clinic-list .options {
    position: absolute;
    width: auto;
    right: 4px;
    top: 4px;
    font-size: 16px;
    margin: 0px;
    padding: 3px 8px;
}

.scheduling .clinic-list .options .fa {
    margin: 0px 5px;
    color: #073b6b;
    cursor: pointer;
}

.clinic-list.completed:before {
    position: absolute;
    content: '';
    background: url('../images/check.png') no-repeat center center;
    background-size: contain;
    width: 23px;
    height: 26px;
    right: 40px;
    top: 32px;
}

.scheduling .clinic-list>h6 {
    float: left;
    width: 100%;
    font-weight: 400;
    margin: 5px 0px 2px 0px;
    font-size: 17px;
}

.scheduling .clinic-list>span {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    color: #6b6b6b;
    vertical-align: top;
    line-height: 20px;
    margin: 5px 0px 0px 0px;
}

.scheduling .clinic-list>span>span {
    color: #ababab;
    font-size: 12px;
    margin: 0px 5px 0px 0px;
}

.scheduling .doctor-list {
    width: 100%;
    min-height: 528px;
    padding: 30px 30px 40px 30px;
    display: inline-block;
    background: #f3f3f3;
    vertical-align: top;
    /*border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;*/
}

.scheduling .doctor-list ul {
    padding: 10px;
    margin: 0px;
}

.scheduling .doctor-list .form-control {
    border-radius: 0;
    height: 30px;
    line-height: 20px;
    font-size: 13px;
    padding: 4px 12px;
    background-color: #fff;
}

.scheduling .doctor-list .form-control+.form-control {
    margin-top: 15px;
}

.c-blue {
    color: #071d64;
}

.c-dark-blue {
    color: #10334b;
}

.c-red {
    color: #d2021f;
}

.c-black {
    color: #111;
}

.scheduling .slot-booking {
    display: inline-block;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.scheduling .schedule-slot.completed .form-control {
    pointer-events: none;
    background: #ddd;
}

.scheduling .schedule-slot.completed.editable .form-control {
    pointer-events: all;
    background: #fff;
}

.scheduling .slot-booking li {
    float: left;
    width: 12.5%;
    padding: 0px 3px;
}

.scheduling .slot-booking li .time-icon {
    position: relative;
    display: inline-block;
    /*max-width: 70px;*/
    width: 100%;
}

.scheduling .slot-booking li .time-icon:before {
    position: absolute;
    content: '\f017';
    font-family: FontAwesome;
    font-size: 13px;
    bottom: 4px;
    right: 1px;
    padding: 2px 8px;
}

.scheduling .slot-booking li label {
    width: 100%;
    font-size: 11px;
    color: #000;
}

.scheduling .slot-booking li .form-control {
    float: left;
    width: 100%;
    padding: 0px 5px;
    line-height: 21px;
    height: auto;
    font-size: 13px;
    height: 25px;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    cursor: pointer;
}

.scheduling .bttn {
    background: #28465a;
    color: #fff;
    padding: 5px 15px;
    line-height: 11px;
    font-size: 13px;
    font-weight: 600;
    margin: 22px 0px 0px 0px;
}

.scheduling .bttn.update {
    background: #f06854;
}

.scheduling .break-slots {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.scheduling .break-slots li {
    display: inline-block;
    position: relative;
    width: auto;
    text-align: center;
    padding: 3px 10px;
    margin: 0px 10px 0px 5px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
    line-height: 17px;
}

.scheduling .break-slots li:after {
    position: absolute;
    content: '';
    right: -10px;
    height: 17px;
    top: 3px;
    width: 1px;
    background: #28465a;
}

.scheduling .break-slots li:nth-child(1):before {
    position: absolute;
    content: '';
    left: -10px;
    height: 17px;
    width: 1px;
    background: #28465a;
}

.scheduling .break-slots li.active {
    background: #28465a;
    color: #fff;
    border-radius: 3px;
}

.dropdown.timechoose .dropdown-menu {
    padding: 0px;
    margin: 0px;
    border: 0px;
    top: 28px;
}

.dropup.timechoose .dropdown-menu {
    padding: 0px;
    margin: 0px;
    border: 0px;
    /*top: 28px;*/
}

.dropdown.timechoose .table-responsive {
    margin: 0px;
}

.dropup.timechoose .table-responsive {
    margin: 0px;
}

.ml-15 {
    margin-left: 15px;
}

.specialities {
    background: #fff;
}

.specialities .form-control {
    width: auto;
    float: left;
    margin: 0px 10px 0 0;
    min-width: 300px;
}

.specialities textarea.form-control {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 34px;
}

.specialities textarea.form-control:focus {
    height: 80px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.specialities .btn {
    /*float: left;
    background: #28465a;
    color: #fff;
    padding: 5px 15px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 0px 15px;*/
    vertical-align: top;
}

.specialities .panel-group {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.specialities .panel-group .panel {
    margin: 0;
    border-radius: 2px;
    overflow: visible;
}

.specialities .panel-group .panel+.panel {
    border-top: 0px;
}

.specialities .panel-heading {
    display: inline-block;
    width: 100%;
    padding: 5px 50px;
    vertical-align: top;
}

.specialities .panel-title a {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 0px;
    color: #073b6b;
}

.specialities .panel-title a:before {
    position: absolute;
    content: '';
    left: -25px;
    top: 0px;
    font-size: 20px;
    font-family: FontAwesome;
}

.specialities .panel-title a[aria-expanded="false"]:before {
    content: '\f105';
}

.specialities .panel-title a[aria-expanded="true"]:before {
    content: '\f107';
}

.specialities .panel-title a.nodrop:before {
    display: none;
}

.specialities .panel-default>.panel-heading {
    background: #fff;
}

.specialities .panel-default .panel-title {
    text-align: left;
    color: #222;
}

.specialities .panel-title .title {
    font-size: 15px;
    /*font-weight: 600;*/
    line-height: 30px;
}

.specialities .panel-title .count {
    font-size: 18px;
    color: #888;
    font-weight: 400;
    cursor: default;
}

.specialities .panel-title .add a {
    text-decoration: underline;
    font-weight: 400;
}

.specialities .icons .fa {
    font-size: 20px;
    cursor: pointer;
}


/*
.specialities .icons .fa-pencil-square-o {
    color: #28465a;
}

.specialities .icons .fa-trash-o {
    color: #f7707b;
}*/

.specialities .icons {
    text-align: center;
}

.specialities .icons a {
    display: inline-block;
    width: 24px;
    position: relative;
    text-align: center;
    padding: 0px;
    color: #222;
    float: none;
    margin: 0px 5px 0 0;
}

.specialities .panel-body ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 10px 0 0 0;
}

.specialities .panel-body li {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0px 90px;
    font-size: 16px;
    font-weight: 400;
}

.specialities .panel-body li .cont {
    display: block;
    /*width: 20%;*/
    padding-top: 4px;
    font-size: 14px;
    text-transform: capitalize;
}

.specialities .panel-body li .cont em {
    color: #7b7b7b;
    font-size: 14px;
    vertical-align: inherit;
    font-weight: 600;
    line-height: 11px;
    margin: 0px 0px 0px 11px;
    letter-spacing: 1px;
}

.specialities .form-control.small {
    height: auto;
    padding: 6px 15px 5px 15px;
}

.specialities .panel-body li .icons {
    display: inline-block;
    /*width: 30%;*/
    padding: 0px 0px 0px 0px;
}

.specialities [data-id="page-scroll"] {
    height: calc(100vh - 220px);
    overflow-y: auto;

}

.specialities .show-error .data-row-delete {
    top: 0px;
    padding: 10px 10px 10px 10px;
}

.specialities .dr-action a {
    width: 60px;
    text-align: center;
    color: #fff;
    padding: 5px;
    line-height: 18px;
}

.subspeciality .modal-dialog {
    max-width: 500px;
    width: 100%;
}

.subspeciality .new {
    padding: 0px;
}

.subspeciality .model-popup-header {
    margin: 0px;
}

.subspeciality .modal-title {
    margin: 0px;
    font-weight: 600;
}

.subspeciality .modal-body {
    padding: 15px 50px;
    background: #fafafa;
}

.subspeciality .modal-body label {
    font-weight: 600;
}

.subspeciality .modal-body .form-control {
    margin: 3px 0px 0px 0px;
}

.subspeciality .modal-body .addnew {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    cursor: pointer;
}

.subspeciality .modal-body .addnew .fa {
    margin: 0px 7px 0px 0px;
}

.subspeciality .modal-body .btn {
    margin: 10px 0px 0px 0px;
}

.modal-backdrop {
    z-index: 10000;
}

.subspeciality .btn {
    display: inline-block;
    background: #28465a;
    color: #fff;
    padding: 7px 15px;
    /*line-height: 22px;*/
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}


/*.modal-backdrop.in {
    opacity: 0.5 !important;
    background-color: #000 !important;
}

.modal-common-dialog.new .close {
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 1;
    font-weight: 500;
    font-size: 17px;
    background: #fff;
    padding: 5px 9px;
    border-radius: 50%;
    text-shadow: none;
    box-shadow: 0px 0px 5px #000;
}
.modal-common-dialog.new .close:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
}*/

.modal-common {
    position: fixed;
}

.modal.fade .modal-common-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-common-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal {
    text-align: center;
    padding: 0px 20px !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    /* Adjusts for spacing */
}

.modal-common-dialog,
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 50px auto;
}

.global-white-bg .accordion-addrow input,
.global-white-bg .accordion-addrow select,
.global-white-bg .accordion-addrow textarea {
    width: 100%;
    font-size: 13px;
}

.global-white-bg .accordion-content span {
    font-size: 10px;
    font-weight: 500;
}

.global-white-bg .add-membership-box label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.form-control:-moz-placeholder,
input:-moz-placeholder {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.logo-hCue img {
    width: 60px;
}

.reg-patient-body {
    background: transparent;
}

.reg-patient-body .page-header h4 {
    font-size: 13px;
    font-weight: 500;
}

.reg-patient-body .registration-accordion label {
    font-size: 13px !important;
    font-weight: 500;
    color: #000 !important;
}

.reg-patient-body .global-white-bg .add-membership-box .viplbl {
    font-size: 13px;
    font-weight: 500;
}

label {
    font-size: 14px;
    margin-bottom: 3px;
}

.modal {
    z-index: 11500;
}

.top-bar-logo {
    background: #fff;
    text-align: center;
    min-height: 60px;
    width: 195px;
}

.top-bar-logo:after {
    display: none;
}

.top-bar-logo img {
    float: left;
    width: 50px;
    margin: 5px 0px 5px 20px;
}

.top-bar-logo h1,
.top-bar-logo h2 {
    float: left;
    width: auto;
    text-align: left;
}

.top-bar-logo h1 {
    font-size: 28px;
    width: calc(100% - 70px);
    padding: 5px 0px 0px 10px;
    margin: 0px;
    line-height: 32px;
    color: #0055ad;
    font-weight: 600;
}

.top-bar-logo h2 {
    width: calc(100% - 70px);
    padding: 0px 0px 0px 10px;
    margin: 0px;
    font-size: 12px;
    color: #0055ad;
}

.logo-hCue {
    padding: 0 15px;
    border-right: 3px solid #337ab7;
}


/**/

header {
    height: 60px;
    background: #073b6b;
    border-bottom: 2px solid #073b6b;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.10);
}

.main-nav>li .icon-rupee:before,
.main-nav>li .guide-icon:before,
.main-nav>li .icon-Dashboard:before,
.main-nav>li .icon-Calendar:before,
.main-nav>li .icon-Patients:before,
.main-nav>li .icon-CareTeam:before,
.main-nav>li .icon-Communication:before,
.main-nav>li .icon-Reports:before,
.main-nav>li .icon-Settings:before {
    font-size: 22px;
    color: #ffffff;
}

.main-nav>li a:hover .icon-rupee:before,
.main-nav>li a:hover .guide-icon:before,
.main-nav>li a:hover .icon-Dashboard:before,
.main-nav>li a:hover .icon-Calendar:before,
.main-nav>li a:hover .icon-Patients:before,
.main-nav>li a:hover .icon-CareTeam:before,
.main-nav>li a:hover .icon-Communication:before,
.main-nav>li a:hover .icon-Reports:before,
.main-nav>li a:hover .icon-Settings:before {
    color: #073b6b;
}

.tabs-header.new-tabs li.active>a {
    background-color: #fff;
    border-top: none !important;
}

.tabs-header .nav-tabs>li {
    position: relative;
}

.tabs-header .nav-tabs>li>a {
    font-weight: 500;
    color: #073b6b;
    letter-spacing: 0.4px;
    font-size: 15px;
}

.tabs-header .nav-tabs>li>.super {
    position: absolute;
    top: 0px;
    right: -10px;
    /* background: #ff0000; */
    color: #ff0000;
    padding: 3px 5px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50%;
}

.tabs-header .nav-tabs>li.active>a {
    background-color: #fff;
    border-top: none !important;
    box-shadow: inset 0 -3px #0055a5;
    -moz-box-shadow: inset 0 -3px #0055a5;
    -webkit-box-shadow: inset 0 -3px #0055a5;
}

.tabs-header.new-tabs li a:hover {
    background: none !important;
    box-shadow: inset 0 -3px #0055a5;
    -moz-box-shadow: inset 0 -3px #0055a5;
    -webkit-box-shadow: inset 0 -3px #0055a5;
}

.tabs-header .nav-tabs>li a:hover {
    background: none !important;
    box-shadow: inset 0 -3px #0055a5;
    -moz-box-shadow: inset 0 -3px #0055a5;
    -webkit-box-shadow: inset 0 -3px #0055a5;
}

.global-white-bg input:focus,
.global-white-bg textarea:focus,
.global-white-bg select:focus {
    background: #fff;
}

.registration-accordion .form-control {
    border: 1px solid #dcdcdc !important
}

.profile-info {
    float: right;
    margin: 4px 10px 0 0;
}


/*---- MycareTeam ----*/

.care-team-header .right-addon .glyphicon {
    padding: 0;
    font-size: 16px;
    top: 11px;
    right: 10px;
}

.form-control {
    border: 1px solid #949494 !important;
    height: 34px;
    margin: 0px 0px 0px 0px;
}

.modal-common.new .view .lable p {
    font-size: 14px;
}

.color-theme-two .control__indicator {
    top: 0px;
}

.table>tbody+tbody {
    border-top: 1px solid #e5ebf2;
}

.new-sla {
    width: 100%;
}

.new-sla .sla-head {
    display: inline-block;
    width: 100%;
    background: #3a647f;
    padding: 7px 20px;
    margin: 20px 0px 10px 0px;
    color: #fff;
}

.new-sla .sla-head .form-control {
    float: left;
    width: 240px;
    margin: 0px 0px 0px 20px;
    padding: 3px 10px;
    height: auto;
    border-radius: 3px;
}

.new-sla .sla-head .btn {
    float: left;
    margin: 0px 0px 0px 20px;
    padding: 3px 10px;
    height: auto;
    border-radius: 3px;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    border-color: #3a647f !important;
}

.new-sla h3 {
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
}

.new-sla h4 {
    width: 100%;
    padding: 7px 0px 0px 0px;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    font-weight: 600;
}

.new-sla .hint {
    font-size: 11px;
    margin: 0px 0px 0px 5px;
}

.new-sla table>thead>tr>th {
    text-align: center;
}

.new-sla table>tbody>tr>td {
    vertical-align: middle;
}


/* .new-sla .color-theme-one.table {
    width: 60%;
} */

.new-sla .color-theme-one.table>tbody>tr:last-child>td {
    border-bottom: 0px;
}

.expired-sla {
    width: 100%;
}

.expired-sla .sla-head {
    display: inline-block;
    width: 100%;
    background: #3a647f;
    padding: 7px 20px;
    margin: 20px 0px 10px 0px;
    color: #fff;
}

.expired-sla h3 {
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.expired-sla table {
    width: 100%;
    margin-bottom: 0px;
}

.expired-sla .table-responsive {
    border: 1px solid #c6d1d9;
    margin: 20px 0px 10px 0px;
}

.expired-sla table thead tr:first-child th {
    text-align: center;
}

.expired-sla table thead th.color-dvt {
    color: #4f0b9a;
}

.expired-sla table thead th.color-red {
    color: #f51429;
}

.expired-sla table thead th.color-blue {
    color: #0b4e8d;
}

.expired-sla table thead th {
    background: #edeeef;
}

.expired-sla table thead th.min {
    width: 100px;
}

.expired-sla table thead tr:nth-child(2) th {
    font-weight: 400;
    padding: 8px 4px;
}

.expired-sla table tbody tr td {
    padding: 8px 4px;
}

.expired-sla .table>thead>tr>th,
.expired-sla .table>tbody>tr>td {
    border: 0px;
    border-bottom: 1px solid #c6d1d9;
}

.modal-common.new .addeditccg {
    background: #fff;
}

.addeditccg h3 {
    display: inline-block;
    width: 100%;
    background: #3a647f;
    padding: 7px 20px;
    margin: 20px 0px 10px 0px;
    color: #fff;
    font-size: 16px;
}

.addeditccg .new-sla .color-theme-one.table {
    width: 100%;
}

.addeditccg .color-theme-one.table thead th:first-child {
    width: 200px;
    text-align: left;
}

.addeditccg .table-responsive {
    border: 1px solid #c6d1d9;
    margin: 20px 0px 10px 0px;
}

.addeditccg .table>thead>tr>th,
.expired-sla .table>tbody>tr>td {
    border: 0px;
    border-bottom: 1px solid #c6d1d9;
}

.addeditccg table thead th {
    background: #edeeef;
    color: #555;
    font-weight: 500;
}

.addeditccg table tbody td {
    background: #edeeef;
    color: #555;
    font-weight: 500;
}

.addeditccg .search-relt {
    background: #fff;
    padding: 5px 10px;
    height: 240px;
    overflow: auto;
}

.addeditccg .search-relt ul {
    margin: 0px;
}

.addeditccg .search-relt ul li {
    width: 100%;
    padding: 7px 10px;
}

.addeditccg .search-relt ul li .fa {
    float: right;
    margin: 3px 0px 0px 0px;
    cursor: pointer;
}

.addeditccg .search-relt ul li:nth-child(odd) {
    background: #fff;
}

.addeditccg .search-relt ul li:nth-child(even) {
    background: #f7f7f7;
}

.addeditccg .control {
    font-size: 14px;
}

.addeditccg .input-group input {
    margin: 0px;
    height: 28px;
    border-radius: 3px 0px 0px 3px;
    border-color: #ccc !important;
}

.addeditccg .input-group .input-group-addon {
    padding: 5px 10px;
    border-radius: 0px 3px 3px 0px;
    font-size: 12px;
}

.addeditccg .contract-group {
    float: left;
    width: 100%;
    background: #eee;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.addeditccg .table-responsive {
    margin: 5px 0px 5px 0px;
}

.edit {
    cursor: pointer;
}

.color-white,
.color-white .fa-pencil {
    color: #fff;
}


/*---- Patient ----*/

.view-history {
    float: none;
    display: inline-block;
}

.past-records .follow-ups .toggle .plus,
.past-records .follow-ups .toggle.open .minus {
    display: inline-block;
}

.past-records .follow-ups .toggle .minus,
.past-records .follow-ups .toggle.open .plus {
    display: none;
}

.past-records li a .interm-consult h6 {
    line-height: 20px;
}

.past-records li a .interm-consult p {
    margin-bottom: 5px;
}

.past-records li a .interm-consult .fa {
    color: #139ceb;
    font-size: 20px;
    margin: 0px 0px 0px 5px;
}

.past-records .dis_inline {
    display: inline-block;
    vertical-align: top;
    line-height: 28px;
}

.past-records .patient_view {
    color: #bcbcbc;
}

.past-records .patient_view:hover {
    color: #f66308;
}

.pat-strip-icon a {
    position: relative;
    padding: 6px 5px;
}

.pat-strip-icon .fa-eye {
    color: #b7b7b7;
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
}

.pat-strip-icon a:hover .fa-eye {
    color: #f66308;
}

.pat-strip-icon .fa-pencil {
    color: #b7b7b7;
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
}

.pat-strip-icon a:hover .fa-pencil {
    color: #f66308;
}

.patient-actions {
    bottom: calc(50% - 15px);
}

.form-group.required .form-control,
.required .form-control,
.required.form-control {
    border-color: #ff0000 !important;
}

div.error-alert {
    margin-top: 0px;
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: #fa625c;
    padding: 0 0 0 20px;
    background: url(../img/admin-img/error-icon.png) no-repeat 1px 0px;
}

.adddoc .table-responsive {
    overflow: auto;
    height: 210px;
}


/*----  Search select  ----*/

.ui-select-container * {
    outline: none;
    transition: none;
}

.ui-select-container .form-control {
    transition: none;
    background: #fff;
    box-shadow: none;
    margin: 0px;
    color: #222;
}

.ui-select-container .btn,
.ui-select-container .btn:hover,
.ui-select-container .btn:focus {
    background-color: #fff !important;
    color: #000;
    border: 1px solid #222;
    padding: 3px 12px;
}

.ui-select-container .close {
    position: relative;
    border-radius: 0px;
    box-shadow: none;
    top: 3px;
    background: transparent;
    padding: 0px;
    right: -6px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    border-top: 1px solid #ddd;
    margin-left: -2px;
    width: 100% !important;
}

.ui-select-container input,
.ui-select-container input:focus,
.ui-select-container input:hover {
    box-shadow: none;
}

.ui-select-container:focus,
.ui-select-container div:focus {
    outline: none;
}

.global-white-bg .accordion-content .ui-select-match-text span {
    font-size: 13px;
    margin: 3px 0px;
}

.global-white-bg .accordion-content .ui-select-match-item span {
    font-size: 13px;
}

.global-white-bg .accordion-content .ui-select-container span.ui-select-match-item {
    padding: 2px 9px;
}

.global-white-bg .accordion-content .ui-select-container span.ui-select-match-close {
    position: relative;
    box-shadow: none;
    padding: 0px;
    top: 2px;
    right: -5px;
    background: transparent;
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #ddd;
    border-top: 0px;
}

.ui-select-bootstrap>.ui-select-choices span,
.ui-select-bootstrap>.ui-select-no-choice span {
    font-size: 13px;
}

.global-white-bg .fa-attach {
    background: url(../images/attachment.png) no-repeat 0 0;
    float: left;
    width: 20px;
    height: 22px;
    position: relative;
    top: 19px;
    right: -10px;
}

.addressselect {
    padding: 0px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0px;
    width: 300px;
    box-shadow: none;
    margin: 0px;
}

.addressselect li {
    float: left;
    width: 100%;
    padding: 7px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-flow .form-wrap.lookup {
    overflow: visible;
}

.global-panel-body {
    padding: 15px 25px 15px 25px;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    padding: 9px 20px;
}

.ui-select-bootstrap .ui-select-choices-row:nth-child(odd) {
    background: #fff;
}

.ui-select-bootstrap .ui-select-choices-row:nth-child(even) {
    background: #f9f9f9;
}

.ui-select-container .text-muted {
    color: #8e8e8e;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 300;
    font-size: 13px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    height: auto;
    background-color: #fff;
    padding: 0px;
    width: auto;
}

.bootstrap-datetimepicker-widget table td {
    height: 54px;
    line-height: 54px;
    width: 40px;
    min-width: 40px;
}

.scheduling .slot-booking li.picker-switch {
    float: right;
    padding: 0px;
    width: 40px;
}


/*---- DatePicker ----*/

.datetimepicker .table td,
.datetimepicker .table th {
    border: 0;
    border-radius: 4px;
    height: auto;
    text-align: center;
    width: 100%;
    border-radius: 0px;
}

.scheduling .datetimepicker .table th:nth-child(2).switch {
    min-width: 230px;
}


/*
.scheduling .datetimepicker .minute.disabled {
    display: none;
}

.scheduling .datetimepicker .table>thead {
    display: none;
}*/

.datetimepicker .minute:hover,
.datetimepicker .hour:hover,
.datetimepicker .day:hover,
.datetimepicker .switch:hover,
.datetimepicker .left:hover,
.datetimepicker .right:hover {
    background: #cae8ecc9;
    cursor: pointer;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scheduling .viewUp {
    position: fixed;
    z-index: 2010;
    top: 160px;
    left: 20px;
    right: 20px;
    margin: -80px 0px 0px 0px;
    background: #fff;
}

.scheduling .viewUp:before {
    content: '';
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.scheduling .viewUp .schedule-slot {
    z-index: 2010;
    top: calc(50% - 55px);
    padding: 20px;
}

.scheduling .viewUp .close {
    top: -10px;
    z-index: 2030;
}

.scheduling .viewUp .doctor-list {
    min-height: 0px;
    padding: 10px;
}

.daterangepicker {
    z-index: 12001;
}

.daterangepicker th {
    background: #fff;
    color: black;
}

.daterangepicker td.in-range {
    background-color: #ccf1f2;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.end-date.in-range.available,
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #00b8bf;
    color: #fff;
}

.date-range .form-control {
    float: left;
    width: calc(100% - 85px);
}

.date-range .btn,
.date-range .btn:hover,
.date-range .btn:focus {
    float: left;
    margin: 4px 0px 0px 3px;
}

.appointmentlist .form-control {
    margin: 0px;
    /*height: 32px;*/
    min-width: 170px;
}

.appointmentlist .inner-addon .glyphicon {
    font-size: 16px;
}

.appointmentlist .bg1 {
    background: #6cb3df;
}

.appointmentlist .bg2 {
    background: #88c43e;
}

.appointmentlist .bg3 {
    background: #f69548;
}

.appointmentlist .bg4 {
    background: #e4a32b;
}

.appointmentlist .bg5 {
    background: #ffaa7d;
}

.appointmentlist .bg6 {
    background: #835daa;
}

.appointmentlist .bg7 {
    background: #05c1ff;
}

.appointmentlist .bg8 {
    background: #ccc;
}

.appointmentlist .c1 {
    color: #6cb3df;
}

.appointmentlist .c2 {
    color: #88c43e;
}

.appointmentlist .c3 {
    color: #f69548;
}

.appointmentlist .c4 {
    color: #e4a32b;
}

.appointmentlist .c5 {
    color: #ffaa7d;
}

.appointmentlist .c6 {
    color: #ca7d37;
}

.appointmentlist .c7 {
    color: #404e59;
}

.appointmentlist .c8 {
    color: #01c853;
}

.appointmentlist .c9 {
    color: #907525;
}

.appointmentlist .c10 {
    color: #3e4687;
}

.appointmentlist tr th,
.appointmentlist tr td {
    padding: 8px 8px !important;
}

.appointmentlist td .form-control {
    width: 90px;
    padding: 3px 5px;
    height: 30px;
    min-width: 0;
}

.appointmentlist td select.form-control {
    width: 160px;
}

.appointmentlist .commonData {
    display: inline-block;
    width: 100%;
}

.appointmentlist .commonData li {
    float: left;
    width: 16.66%;
    padding: 10px 20px;
}

.appointmentlist .commonData li .title {
    width: 100%;
    font-size: 12px;
    float: left;
}

.appointmentlist .commonData li .name {
    width: 100%;
    font-size: 15px;
    float: left;
    font-weight: 900;
    margin: 7px 0px 0px 0px;
}

.appointmentlist td .fa {
    font-size: 20px;
}

.appointmentlist .profile-avatar-image {
    height: 35px;
    width: 35px;
}

.appointmentlist .profile-avatar-image span {
    font-size: 11px;
}

.appointmentlist .table tr {
    position: relative;
}

.appointmentlist .spl-notes {
    top: 0px;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    transform: translateY(0px);
    position: absolute;
    border: 1px solid #f9a5a3;
    width: 100%;
    padding: 10px 10px;
    left: 0;
    background: linear-gradient(to left, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.7) 100%);
    will-change: opacity;
    -webkit-transition: max-height 0.25s, opacity 0.5s;
    transition: max-height 0.25s, opacity 0.5s;
    z-index: 10000;
}

.appointmentlist .m-wid {
    width: 220px;
}

.appointmentlist .mm-wid {
    width: 106px;
}

.top-header {
    width: 100%;
    background: #f9f9fa;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
    position: relative;
    /*box-shadow: 0px 0px 10px 0px rgba(69, 72, 72, 0.5); 
    -webkit-box-shadow: 0px 0px 10px 0px rgba(69, 72, 72, 0.5); */
    border-bottom: 1px solid #073b6b26;
}


/* .top-header label~.ui-select-container {
    margin-top: 3px;
} */

.c7report .report-cont {
    padding: 20px;
    width: 100%;
    /*background: #fff;*/
}

.c7report .color-theme-one.table>tbody>tr>td {
    border-top: 0px;
    border-bottom: 0px;
    padding: 8px 15px;
    font-size: 15px;
}

.c7report .color-theme-one.table>tbody>tr {
    border-bottom: 1px solid #eee;
}

.c7report .color-theme-one.table>tbody>tr:last-child {
    border-bottom: 0px;
}

.c7report .color-theme-one.table>tbody>tr:nth-child(even) td {
    background: #fff;
}

.c7report .color-theme-one th .fa {
    margin: 0px 0px 0px 2px;
}

.c7report .color-theme-one th.fill {
    background: #fff;
    color: #073b6b;
}


/* 
.c7report .color-theme-one tr:nth-child(2) th:nth-child(6),
.c7report .color-theme-one tr:nth-child(2) th:nth-child(8) {
    background: #6135b1;
}

.c7report .color-theme-one tr:nth-child(2) th:nth-child(7),
.c7report .color-theme-one tr:nth-child(2) th:nth-child(9) {
    background: #00bcd4; 
}*/

.c7report .color-theme-one tr:nth-child(odd) td {
    background: #fff;
}

.c7report .color-theme-one tr:nth-child(even) td {
    background: #f8f8f8;
}

.c7report .color-theme-one tr td:nth-child(6),
.c7report .color-theme-one tr td:nth-child(8) {
    background: #f0fbfe;
}

.c7report .color-theme-one tr td:nth-child(7),
.c7report .color-theme-one tr td:nth-child(9) {
    background: #fffbf6;
}

.c7report .color-theme-one tr:nth-child(even) td:nth-child(6),
.c7report .color-theme-one tr:nth-child(even) td:nth-child(8) {
    background: #eef6f8;
}

.c7report .color-theme-one tr:nth-child(even) td:nth-child(7),
.c7report .color-theme-one tr:nth-child(even) td:nth-child(9) {
    background: #f8f6f2;
}

.cursor {
    cursor: pointer !important;
}

.input-group.branch-type {
    width: 380px;
}

.input-group.branch-type .form-style {
    margin-top: 0;
}

.input-group-btn .action-primary {
    font-size: 14px;
    background: #fff;
    border: 1px solid #949494 !important;
    color: #949494;
}

.input-group-btn .action-primary:hover,
.input-group-btn .action-primary:active,
.input-group-btn .action-primary:focus {
    border: 1px solid #00c853 !important;
}

.clsAdmin_new .admin-top-header h4,
.clsAdmin_new .admin-top-header p {
    display: inline-block;
    vertical-align: top;
}

.bg-white {
    background: #fff;
}

.clsAdmin_new .admin-form-type {
    background: #fff;
}

.schedule-slot.completed {
    background: #00c85361;
}

.mt-8 {
    margin-top: 8px;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.panel-group .panel-default:nth-child(odd) .panel-heading {
    background: #fafafa;
    border-radius: 0;
}

.specialities .panel-default {
    border-color: #eaeaea;
}

.specialities .btn.btn-site-primary {
    background: #28465a;
    color: #fff;
    border-color: #28465a;
}

.specialities .btn.btn-site-default {
    background: #fff;
    color: #28465a;
    border-color: #28465a;
}

.specialities .panel-body li label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.specialities .panel-body .form-control {
    width: 100%;
    min-width: inherit;
}

.pr {
    position: relative;
}

.clsRemove {
    position: absolute;
    top: 10px;
    right: -5px;
    cursor: pointer;
    color: #3a647f;
}

.clsRemove:hover,
.clsRemove:active,
.clsRemove:focus {
    color: #f96865;
}

.subspeciality .modal-body .addnew:hover .fa,
.subspeciality .modal-body .addnew:active .fa,
.subspeciality .modal-body .addnew:focus .fa {
    color: #3a647f;
}

.specialities .icons.clsInnerIcons a {
    font-size: 13px;
}

.specialities .icons.clsInnerIcons {
    margin-left: -80px;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    border-radius: 1.5rem;
    color: #fff;
    background: #f96865;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
    outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
    line-height: 1.5rem;
    width: 45px;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 2px;
    transition: opacity .25s;
}

.btn-toggle.active:before {
    content: 'Active';
    left: 7px;
    color: #fff;
}

.btn-toggle:before {
    content: 'Inactive';
    right: 3px;
    opacity: 1;
}

.btn-toggle>.handle {
    position: absolute;
    top: 2px;
    left: 0.1875rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    transition: left .25s;
}

.btn-toggle.active {
    transition: background-color 0.25s;
    background: #4CAF50;
}

.btn-toggle.active>.handle {
    left: 52px;
    transition: left .25s;
}

.btn-toggle.active:before {
    opacity: 1;
}

.btn-toggle.active:after {
    opacity: 1;
}

.btn-toggle>.handle i.fa {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: -2px;
}

.btn-toggle>.handle i.fa-times {
    color: #f96865;
    top: 3px;
}

.color-theme-one tr.toggle {
    cursor: pointer;
}

.loadingbg,
.loadingbg1 {
    position: relative;
}

.loadingbg:before {
    position: absolute;
    content: 'Loading ...';
    top: 50px;
    left: 50%;
    z-index: -1;
}

.loadingbg1:before {
    position: absolute;
    content: 'No Data Found';
    top: 50px;
    left: 50%;
    z-index: -1;
}

.clsCostBlock .inner-block {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 5px 0 20px;
}

.input-group .form-style {
    border-right: 0px !important;
}

.cur {
    cursor: pointer;
}

.table.color-theme-one.tbody tbody:nth-child(odd) td {
    background: #fff;
    border-radius: 0;
}

.table.color-theme-one.tbody tbody:nth-child(even) td {
    background: #fafafa;
    border-radius: 0;
}

.table.color-theme-one.tbody .inner tbody:nth-child(odd) td,
.table.color-theme-one.tbody .inner tbody:nth-child(even) td {
    background: #fff;
    border-radius: 0;
}

.table.color-theme-one.color-theme tbody tr:nth-child(odd) td {
    background: #fff;
    border-radius: 0;
}

.table.color-theme-one.color-theme tbody tr:nth-child(even) td {
    background: #fafafa;
    border-radius: 0;
}

.table.color-theme-one.doc tbody tr:nth-child(odd) td {
    background: #fff;
    border-radius: 0;
}

.table.color-theme-one.doc tbody tr:nth-child(even) td {
    background: #fafafa;
    border-radius: 0;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-btn-wrapper .btn {
    float: left;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.upload-btn-wrapper span {
    float: left;
    width: 50%;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin: 8px 0px;
    padding: 0px 0px 0px 10px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.patient-details.clsGreen {
    background: #00c85345;
    border: 1px solid #00c853;
}

.calendar .slot-card .slots li .patient-details.clsGreen {
    display: none;
}

.calendar .slot-card .slots li.emer .patient-details.clsGreen {
    display: block;
}

.calendar .slot-card .slots li.clsBreak {
    text-decoration: line-through;
    color: #ccc;
}

.clsTitle {
    position: relative;
}


/* .clsTitle:before {} */

.snap.one .text-muted {
    color: #d82929;
}

.snap.three .text-pink {
    color: #0daf94;
}

.snap.four .text-success {
    color: #168e82;
}

.snap.five .text-primary {
    color: #33a255;
}

.snap.six .text-muted {
    color: #00415b;
}

.snap.seven .text-green {
    color: #148db2;
}

.snap.eight .text-pink {
    color: #cc9315;
}

.snap.nine .text-success {
    color: #c92c12;
}

.snap.ten .text-success {
    color: #891907;
}

.snap.eleven .text-muted {
    color: #800a9d;
}

.snap.twelve .text-green {
    color: #0d9583;
}

.snap.thirteen .text-pink {
    color: #145f0a;
}

.snap.fourteen .text-pink {
    color: #1594ce;
}

.snap.fifteen .text-pink {
    color: #f23b1c;
}

.snap.sixteen .text-pink {
    color: #5251bc;
}

.ui-select-match .btn {
    border-radius: 0px;
}

.past-records {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.past-records .previous-cases {
    background: #fff;
    border-radius: 5px;
}

.past-records .previous-cases ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
}

.past-records .previous-cases ul li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #a9a9a9;
}

.past-records .previous-cases ul li:nth-child(odd) {
    background: #eee;
}

.past-records .previous-cases ul li:nth-child(even) {
    background: #fff;
}

.past-records .previous-cases ul li:hover,
.past-records .previous-cases ul li.active {
    background: #d8d8d8;
}

.past-records li h6 {
    float: left;
    width: 100%;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

.past-records li h6.clsEye {
    position: relative;
    padding-right: 20px;
}

.past-records li h6.clsEye a {
    position: absolute;
    top: 0px;
    right: 3px;
    color: #073b6b;
}

.past-records li h6.clsEye a .fa-eye {
    color: #073b6b;
}

.past-records li h6 span {
    float: left;
    width: 94px;
    position: relative;
    font-size: 12px;
}

.past-records li h6 span:before {
    position: absolute;
    content: ':';
    right: 3px;
    top: 0px;
    color: #444;
}

.past-records li h6 strong {
    margin: 0px 0px 0px 3px;
}

.pos-rel {
    position: relative;
    top: auto;
    right: auto;
    color: #000;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
}

.ui-select-container.ng-dirty.ng-invalid .form-control,
.form-control.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
.form-style.ng-dirty.ng-invalid,
.form-input.ng-dirty.ng-invalid {
    border-color: red !important;
}

select.hide-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select.hide-arrow::-ms-expand {
    display: none;
}


/*.form-wraplookup button.btn-filled {
    border-color: #949494 !important;
    color: #949494 !important;
}*/

.clsRequried_filed {
    display: block;
    font-size: 10px;
    color: #949494;
    margin-top: 10px;
}

.clsRequried_filed span {
    color: red;
    font-size: 7px;
}

.sep_border {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px #ccc;
    padding: 15px;
    background: #fff;
}

.specialities .panel-body li:nth-child(even) {
    background: #eee;
}


/*.form-control, input, select, textarea {
    text-transform: capitalize;
}*/

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.clsPatientSearch {
    position: relative;
    padding-right: 32px;
}

.clsPatientSearch span {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(204, 204, 204);
    padding: 7px 10px;
    display: block;
    border-radius: 0px 4px 4px 0px;
}


/* New Dashboard design css */

.clsNewDash ul {
    margin: 40px 0px;
}

.clsNewDash ul li {
    float: left;
    width: 24%;
    margin-left: 1%;
    padding: 0 15px 50px 40px;
}

.clsNewDash ul li .clsInnerContent {
    padding: 25px 15px 25px 45px;
    position: relative;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    min-height: 100px;
}

.clsNewDash ul li .clsInnerContent .clsImg {
    position: absolute;
    top: 13px;
    left: -40px;
}

.clsNewDash ul li .clsInnerContent .clsImg img {
    width: 40%;
}

.clsNewDash ul li .clsInnerContent h3 {
    font-weight: 700;
    margin: 0px 0 5px;
    color: #073b6b;
    font-size: 24px;
}

.clsNewDash ul li .clsInnerContent p {
    color: #68686a;
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
}


/* New Dashboard design css */

.appointmentlist .form-control::placeholder {
    color: #999;
    font-weight: 400;
}

.p-10 {
    padding: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.modal-footer.text-center {
    text-align: center;
}

.pl-60 {
    padding-left: 60px;
}

.mr-25 {
    margin-right: 25px;
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
    max-height: 150px;
}

.color-theme-one.clsCostReport.table>thead>tr>th:first-child,
.color-theme-one.clsCostReport.table>tbody>tr>td:first-child,
.color-theme-one.clsCostReport.table>thead>tr>th:last-child,
.color-theme-one.clsCostReport.table>tbody>tr>td:last-child {
    min-width: 100px;
}

.color-theme-one.clsCostReport.table>thead>tr>th:nth-child(3),
.color-theme-one.clsCostReport.table>tbody>tr>td:nth-child(3) {
    min-width: 100px;
}

.color-theme-one.clsCostReport.table>thead>tr>th:nth-child(2),
.color-theme-one.clsCostReport.table>tbody>tr>td:nth-child(2) {
    min-width: 200px;
}

.clsMinwidth-60 {
    min-width: 60px;
}

.clsMinwidth-100 {
    min-width: 100px;
}

.clsMinwidth-150 {
    min-width: 150px;
}

.color-theme-one.table>thead>tr+tr>th:first-child {
    border-radius: 0px;
}

.color-theme-one.table>thead>tr+tr>th:last-child {
    border-radius: 0px;
}

.swiper-button-next,
.swiper-button-prev {
    background-size: 15px 30px;
}

.clsDateWidth button.btn-primary {
    padding: 7px 10px !important;
}

.appointmentlist .appintment_view_pane.table-responsive {
    height: calc(100vh - 200px);
}

.appointmentlist .dropdown-toggle {
    display: block;
}

.pointer-none,
.pointer-none * {
    pointer-events: none !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 0 0 2px;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
    cursor: default;
}

.capitalize {
    text-transform: capitalize;
}

.user-delete {
    position: absolute;
    top: 10px;
    right: 30px;
}


/* Apploinment list */

.clsApp_list {
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.clsApp_list .bg-gray {
    background: #fff;
    padding: 10px 20px 5px 20px;
    color: #222;
    border-bottom: 1px solid #ddd;
}


/*.clsApp_list .bg-gray label {
    color: #ff0000;
}*/

.clsApp_list .bg-gray h4 {
    margin: 0;
    font-size: 16px;
}

.clsApp_list .clsInner {
    padding: 15px 0px;
    height: 400px;
    overflow-y: auto;
}

.clsInner ul {
    float: right;
}

.clsApp_list .redlc {
    color: #f16969;
}

.clsApp_list i.fa-envelope-o {
    font-size: 18px;
    color: blue;
    margin: 0px 0px 0px 2px;
}

.clsInner ul li {
    float: left;
    padding: 0 30px;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 13px;
}

.clsInner ul li:first-child {
    padding-left: 0px;
}

.clsInner ul li:last-child {
    padding-right: 0px;
    border-right: 0;
}

.clsApp_list .table>thead>tr>th {
    border-bottom: 0px solid #ddd;
    text-transform: capitalize;
    color: #43557a;
    background: #fafafa;
    font-weight: 400;
}

.clsApp_list .table>tbody>tr:last-child>td {
    border-bottom: 1px solid #ddd;
}

.clsApp_list .clsBreak {
    background: #edf0f5;
}

.clsApp_list .clsBreak span {
    color: #cc6c60;
    text-transform: capitalize;
}

.clsApp_list .gray-dark {
    color: #888;
    padding: 0px 0px;
    width: 100%;
    display: inline-block;
}

.clsApp_list .table>tbody>tr>td {
    padding: 10px 20px;
}

.clsApp_list .table>tbody:nth-child(odd)>tr>td {
    background: #fafafa;
}

.p-20 {
    padding: 20px;
}


/* Apploinment list */

.second-tab .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    margin: 0px;
    border-top: 1px solid #ddd;
    left: -1px;
    position: relative;
    width: 100% !important;
    box-shadow: none;
}

.color-theme-plain.table>thead>tr>th {
    background: #073b6b;
    color: #fff;
    border-bottom: 0px solid #e5ebf2;
}

.color-theme-plain.table>thead>tr+tr>th {
    border: 0px;
}

.color-theme-plain.table>thead>tr>th:first-child {
    border-top-left-radius: 5px;
}

.color-theme-plain.table>thead>tr>th:last-child {
    border-top-right-radius: 5px;
}

.color-theme-plain.table>tbody>tr:last-child>th:first-child {
    border-bottom-left-radius: 5px;
}

.color-theme-plain.table>tbody>tr:last-child>th:last-child {
    border-bottom-right-radius: 5px;
}

.color-theme-plain.table>tbody>tr>td {
    border-top: 0px;
    border-bottom: 1px solid #e5ebf2;
    color: #404040;
    background: #fff;
    vertical-align: middle;
    font-weight: 500;
}

.color-theme-plain.table>tbody>tr.disable>td {
    background: #f9f9f9;
    color: #ccc;
}

.c7report .color-theme-plain .region_data td {
    background: #ddd;
}

.c7report .color-theme-plain .bold td {
    font-weight: 700;
    font-size: 15px;
}

.listview {
    background: #fff;
    width: 100%;
    padding: 0px 20px;
}

.referral .color-theme-one .btn {
    padding: 5px 20px !important;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px !important;
}

.referral .color-theme-one .btn.info {
    background: #b94622 !important;
    border-color: #b94622 !important;
}

.referral .color-theme-one td {
    font-size: 14px;
}

.listview .btn-send {
    position: absolute;
    right: -5px;
    top: -10px;
    padding: 2px 10px;
    border-radius: 0px;
    font-size: 13px;
    background: #0043ff;
    color: #fff;
    font-weight: 600;
}

.export-excel {
    display: inline-block;
    vertical-align: top;
}

.export-excel img {
    width: 27px;
}

span.csv img {
    width: 14px;
}

.border-top {
    border-top: 1px solid #ddd;
}

.input-group .ui-select-toggle {
    margin-top: 0px;
}

.input-group-addon.custom-select-addon {
    padding: 5px 12px;
}

.input-group .ui-select-no-choice {
    border: 0px;
}

.modal-common.new .manage .input-group .form-control {
    margin-top: 0px;
}

.input-group .ui-select-container .text-muted {
    color: #8e8e8e;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;
    margin: 5px 0px 0px 0px;
    float: left;
}

.input-group span.ui-select-match-text span {
    margin: 3px 0px 0px 0px;
    float: left;
    max-width: 350px;
    text-overflow: ellipsis;
}

.main-nav li a img.normal {
    display: block;
    margin: 0 auto;
}

.main-nav li a img.hover {
    display: none;
}

.main-nav li a span {
    display: block;
    padding-top: 5px;
}

.main-nav li.active img.normal,
.main-nav li:hover img.normal,
.main-nav li:focus img.normal {
    display: none;
}

.main-nav li.active img.hover,
.main-nav li:hover img.hover,
.main-nav li:focus img.hover {
    display: block;
    margin: 0 auto;
}

.main-nav li a span.clsCount {
    position: absolute;
    top: 6px;
    left: auto;
    right: 15px;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    line-height: 15px;
    color: #073b6b;
    font-size: 12px;
}

.main-nav li.active a span.clsCount,
.main-nav li a:hover span.clsCount,
.main-nav li a:active span.clsCount,
.main-nav li a:focus span.clsCount {
    background: #073b6b;
    color: #fff;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input {
    display: inline-block !important;
    width: 20px;
    vertical-align: top;
    height: 17px !important;
}

.custom-file-input::before {
    content: "\f093";
    display: inline-block;
    border: 0px solid #999;
    padding: 0px 2px;
    font-family: FontAwesome;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: -3px;
    color: #0055a5;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.truncate {
    overflow: hidden;
    width: 250px;
    text-overflow: ellipsis;
}

.color-b {
    color: #084680;
}

i.fa.sandel {
    color: #f19c02;
}

i.fa.brown {
    color: #8c6f3b;
}

i.fa.red {
    color: #ff0000;
    border: 0px;
}


i.fa.blue {
    color: #5289af;
}

.errorborder .form-control.ng-dirty.ng-invalid,
.errorborder input.ng-dirty.ng-invalid {
    border: solid 2px red !important;
}


.timeformat .formatspan {
    position: absolute;
    margin-top: -25px;
    right: 4px;
}