td.close-control,
td.details-control {
    cursor: pointer;
    width: 32px;
    height: 32px
}

.tagBg,
.tagBgEdit,
.tagBgSelect {
    font-family: proxima_novaregular, sans-serif
}

.formTitle,
table.dataTable tfoot th,
table.dataTable thead th {
    font-weight: 700
}

.subTitle,
table.dataTable td.dt-left,
table.dataTable th.dt-left {
    text-align: left
}

table.dataTable tbody td.dt-body-nowrap,
table.dataTable tbody th.dt-body-nowrap,
table.dataTable td.dt-nowrap,
table.dataTable tfoot td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable th.dt-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable thead th.dt-head-nowrap,
table.dataTable.nowrap td,
table.dataTable.nowrap th {
    white-space: nowrap
}

td.details-control {
    background: url(../img/icon-edit.png) center center no-repeat
}

td.details-control.open,
tr.shown td.details-control {
    background: url(../img/icon-save.png) center center no-repeat;
    width: 32px;
    height: 32px
}

td.close-control.open,
tr.shown td.close-control {
    background: url(../img/close_blc_icon.png) center center no-repeat;
    width: 32px;
    height: 32px
}

.tagBg,
.tagBg1,
.tagBgEdit {
    background-color: #d7d7d7;
    float: left;
    cursor: pointer
}

.mainDiv {
    width: 100%;
    margin: 0 auto 7px
}

.formTitle {
    color: #000;
    font-size: 14px;
    text-transform: uppercase
}

.fl {
    float: left
}

.tblAnimate {
    height: 0
}

.subTitle {
    color: #484848;
    font-size: 12px
}

.tagBg,
.tagBgEdit {
    font-size: 13px;
    padding: 8px 10px;
    margin: 0 5px 5px 0;
    box-shadow: inset 0 0 3px 3px #c7c7c7
}

.tagBg1,
.tagBgSelect {
    font-size: 13px;
    padding: 8px 10px;
    margin-right: 5px
}

.tagBg1 {
    color: #828282
}

.tagBgSelect {
    background-color: #1dc3c4;
    color: #fff;
    box-shadow: inset 0 0 3px 3px #1bb4b5
}

.grayTxt {
    color: #888;
    font-size: 14px
}

.highlightDiv {
    background-color: #c9efef
}

.txtBox {
    width: 200px;
    padding: 5px;
    border: 1px solid #e4e4e4
}

div.slider {
    display: none
}

table.dataTable tbody td.no-padding {
    padding: 0
}

table.dataTable {
    width: 100%;
    margin: 0 auto 20px;
    clear: both;
    border-collapse: separate;
    border-spacing: 1;
    background: #e7e7e7
}

table.dataTable thead td,
table.dataTable thead th {
    padding: 10px 18px;
    background: #9ad4d4;
    color: #fff
}

table.dataTable thead td:active,
table.dataTable thead th:active {
    outline: 0
}

table.dataTable tfoot td,
table.dataTable tfoot th {
    padding: 10px 18px 6px;
    border-top: 1px solid #111
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right
}

table.dataTable thead .sorting {
    background-image: url(../img/sort_both.png)
}

table.dataTable thead .sorting_asc {
    background-image: url(../img/sort_asc.png)
}

table.dataTable thead .sorting_desc {
    background-image: url(../img/sort_desc.png)
}

table.dataTable thead .sorting_asc_disabled {
    background-image: url(../img/sort_asc_disabled.png)
}

table.dataTable thead .sorting_desc_disabled {
    background-image: url(../img/sort_desc_disabled.png)
}

table.dataTable tbody tr {
    background-color: #fff
}

.slider tbody {
    padding: 17px 0
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9
}

table.dataTable tbody td,
table.dataTable tbody th {
    padding: 5px 10px
}

table.dataTable.display tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.row-border tbody tr:first-child th {
    border-top: none
}

table.dataTable.cell-border tbody td,
table.dataTable.cell-border tbody th {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd
}

table.dataTable.cell-border tbody tr td:first-child,
table.dataTable.cell-border tbody tr th:first-child {
    border-left: 1px solid #ddd
}

table.dataTable.cell-border tbody tr:first-child td,
table.dataTable.cell-border tbody tr:first-child th {
    border-top: none
}

table.dataTable.display tbody tr.odd,
table.dataTable.stripe tbody tr.odd {
    background-color: #f9f9f9
}

table.dataTable.display tbody tr.odd.selected,
table.dataTable.stripe tbody tr.odd.selected {
    background-color: #acbad4
}

table.dataTable.display tbody tr:hover.selected,
table.dataTable.hover tbody tr:hover.selected {
    background-color: #aab7d1
}

table.dataTable.compact thead td,
table.dataTable.compact thead th {
    padding: 4px 17px 4px 4px
}

table.dataTable.compact tbody td,
table.dataTable.compact tbody th,
table.dataTable.compact tfoot td,
table.dataTable.compact tfoot th {
    padding: 4px
}

table.dataTable td.dataTables_empty,
table.dataTable td.dt-center,
table.dataTable th.dt-center {
    text-align: center
}

table.dataTable td.dt-right,
table.dataTable th.dt-right {
    text-align: right
}

table.dataTable td.dt-justify,
table.dataTable th.dt-justify {
    text-align: justify
}

table.dataTable tfoot td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable thead th.dt-head-left {
    text-align: left
}

table.dataTable tfoot td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable thead th.dt-head-center {
    text-align: center
}

table.dataTable tfoot td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable thead th.dt-head-right {
    text-align: right
}

table.dataTable tfoot td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable thead th.dt-head-justify {
    text-align: justify
}

table.dataTable tbody td.dt-body-left,
table.dataTable tbody th.dt-body-left {
    text-align: left
}

table.dataTable tbody td.dt-body-center,
table.dataTable tbody th.dt-body-center {
    text-align: center
}

table.dataTable tbody td.dt-body-right,
table.dataTable tbody th.dt-body-right {
    text-align: right
}

table.dataTable tbody td.dt-body-justify,
table.dataTable tbody th.dt-body-justify {
    text-align: justify
}

table.dataTable,
table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1
}

.dataTables_wrapper .dataTables_length {
    float: left;
    padding-top: .755em;
    padding-left: 30px
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: .5em
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: .755em
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: .25em
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .2em .7em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    color: #66c1d3!important;
    background-color: #f9f9f9;
    border: 1px solid silver;
    text-transform: uppercase;
    border-radius: 1px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: 0 solid #979797;
    background-color: #51a3b3
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666!important;
    border: 0 solid transparent;
    background: #c9c9c9;
    box-shadow: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff!important;
    background-color: #51a3b3;
    border-radius: 1px
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: 0;
    background-color: #2b2b2b
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, .9)), color-stop(75%, rgba(255, 255, 255, .9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%)
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
    color: #333
}

.dataTables_wrapper .dataTables_scroll {
    clear: both
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    -webkit-overflow-scrolling: touch
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th {
    vertical-align: middle
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0!important;
    padding: 0!important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111
}

.dataTables_wrapper.no-footer div.dataTables_scrollBody table,
.dataTables_wrapper.no-footer div.dataTables_scrollHead table {
    border-bottom: none
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

@media screen and (max-width:767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: .5em
    }
}

@media screen and (max-width:640px) {
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_length {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: .5em
    }
}

#example td {
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}

#example tbody tr:last-child>td {
    border-bottom: 1px solid #ccc
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #f9f9f9
}

table.dataTable tr.even td.sorting_1 {
    background-color: #fff
}
