.wd_100 {
  float: left;
  width: 100%;
}
.max_width {
  max-width: 1290px;
  margin: auto;
}
.left_side_menu {
  background: #3c3c3c;
  min-height: 630px;
}
.right_side_content .right_container {
  /*width: 75%;
  padding: 45px;
  float: left;
  min-height: 630px;*/
}
.right_side_content .right_container .search_wrapper {
  width: 100%;
  float: left;
  position: relative;
 /* font-family: 'proxima_novalight';*/
}
.right_side_content .right_container .search_wrapper .search_input {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 15px;
  letter-spacing: 0.3px;
  height: 44px;
  background: #FFF;
  color: #000;
}
.right_side_content .right_container .search_wrapper .search_input:focus {
  outline: none;
}
.right_side_content .right_container .search_wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.right_side_content .right_container .my_network_wrapper {
  width: 100%;
  float: left;
  padding: 30px 0 0 0;
}
.right_side_content .right_container .my_network_wrapper label {
  font-size: 18px;
  margin-bottom: 0;
  color: #3c3c3c;
 /* font-family: 'proxima_novalight';*/
}
.right_side_content .right_container .my_network_wrapper button {
  float: right;
  padding: 6px 10px;
  border: 0;
  border-radius: 3px;
  background: #f57104;
  color: rgba(255, 255, 255, 0.9);
}
.right_side_content .right_container .my_network_wrapper button:hover {
  color: #FFF;
}
.right_side_content .right_container .my_network_wrapper button:focus {
  outline: none;
}
.right_side_content .right_container .mid_line {
  width: 100%;
  height: 1px;
  background: #dddddd;
  float: left;
}
.right_side_content .right_container .doctors_list_wrapper {
  width: 100%;
  float: left;
  padding-top: 5px;
}
.right_side_content .right_container .doctors_list_wrapper .padding_left_no {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
.right_side_content .right_container .doctors_list_wrapper .padding_right_no {
  padding-right: 0 !important;
  padding-left: 10px !important;
}
.right_side_content .right_container .doctors_list_wrapper .indiv_doctor {
  width: 100%;
  height: 115px;
  border: 1px solid #d7d7d7;
  padding: 11px 14px;
  background: #FFF;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}
.right_side_content .right_container .doctors_list_wrapper .indiv_doctor:hover
{
  background: rgba(226, 245, 241, 0.3);
}
.right_side_content .right_container .doctors_list_wrapper .active
{
    
    border: 1px solid #d1e7e3 !important;
}
.right_side_content .right_container .doctors_list_wrapper .indiv_doctor .check_mark {
  position: absolute;
  top: 5px;
  right: 10px;
}
.right_side_content .right_container .doctors_list_wrapper .profile_pic {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid #d9d9d9;
  vertical-align: top;
  margin-top: 5px;
  background: #e1e1e1;
  position: relative;
}
.right_side_content .right_container .doctors_list_wrapper .profile_pic img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info {
  display: inline-block;
  padding-left: 10px;
 /* font-family: 'proxima_novalight';*/
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info label {
  display: block;
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .dr_name {
  color: #56799e;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  /*font-family: 'proxima_novalight';*/
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .practice_hospital
{
  font-size: 14px;
  cursor: pointer;
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .practice_hospital img
{
  vertical-align: top;
  margin-right: 3px;
  cursor: pointer;
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .email {
  color: #646464;
  margin-bottom: 0;
  font-size: 14px;
  cursor: pointer;

}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .email img {
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;

}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .mobile_no {
  color: #646464;
  margin-bottom: 2px;
  font-size: 13px;
  cursor: pointer;
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info .mobile_no img {
  margin-right: 3px;
  vertical-align: top;
}
.right_side_content .right_container .doctors_list_wrapper .doctors_info p {
  color: #3c3c3c;
  padding: 0;
  font-size: 15px;
  margin: 0 0 7px 0;
  cursor: pointer;
}
.new_doctor_modal_container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 999;
  transition: all 0.5s ease;
}
.add_new_doctor_modal {
  width: 53%;
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 3px;
  right: 0;
  background: #b4c8c4;
  padding: 15px 10px 10px 10px;
 /* font-family: 'proxima_novalight';*/
  box-shadow: 0 0 10px 2px rgba(217, 217, 217, 0.2);
}
.add_new_doctor_modal .heading {
  text-align: center;
  width: 100%;
  float: left;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.3px;
  padding-bottom: 15px;
  font-weight: bold;
  /*font-family: 'proxima_novalight';*/
}
.add_new_doctor_modal .form_wrapper {
  width: 100%;
  background: #FFF;
  float: left;
  padding: 15px 45px 20px 45px;
}
.add_new_doctor_modal .form_wrapper .form_element {
  width: 100%;
  float: left;
  padding-bottom: 17px;
}
.add_new_doctor_modal .form_wrapper .form_element label {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.add_new_doctor_modal .form_wrapper .form_element label span {
  color: #FE0304;
}
.add_new_doctor_modal .form_wrapper .form_element input[type="text"], .add_new_doctor_modal .form_wrapper .form_element input[type="number"], .add_new_doctor_modal .form_wrapper .form_element input[type="email"] {
  width: 100%;
  padding: 0 15px;
  border: 1px solid #c5dad6;
  border-radius: 3px;
  height: 34px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFF;
}
.add_new_doctor_modal .form_wrapper .form_element input[type="text"]:focus, .add_new_doctor_modal .form_wrapper .form_element input[type="number"]:focus, .add_new_doctor_modal .form_wrapper .form_element input[type="email"]:focus {
  outline: none;
}
.add_new_doctor_modal .form_wrapper .form_element .gender {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  margin-top: 7px;
  cursor: pointer;
}
.add_new_doctor_modal .form_wrapper .form_element .gender input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 18px;
  border: 2px solid #dbece9;
  height: 18px;
  border-radius: 100%;
  cursor: pointer;
  background: #dbece9;
  outline: none;
  margin: -4px 5px -4px 0;
}
.add_new_doctor_modal .form_wrapper .form_element .gender input[type="radio"]:checked {
  box-shadow: inset 0 0 0 3px #dbece9;
  background: #65a398;
}
.add_new_doctor_modal .form_wrapper .form_element .gender:last-child {
  margin-right: 0;
}
.add_new_doctor_modal .form_wrapper .form_element select {
  width: 100%;
  padding: 0 15px;
  border: 1px solid #c5dad6;
  border-radius: 3px;
  height: 34px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFF;
}
.add_new_doctor_modal .form_wrapper .form_element select:focus {
  outline: none;
}
.add_new_doctor_modal .form_wrapper .mid_line {
  width: 100%;
  background: #e1e1e1;
  height: 1px;
  float: left;
}
.add_new_doctor_modal .form_wrapper .row_padding {
  padding-top: 10px;
  padding-bottom: 5px;
}
.add_new_doctor_modal .form_wrapper .control_options {
  width: 100%;
  float: left;
  text-align: right;
  padding-top: 15px;
}
.add_new_doctor_modal .form_wrapper .control_options .cancel_btn {
  background: #c6c6c6;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 4px;
}
.add_new_doctor_modal .form_wrapper .control_options .cancel_btn:focus {
  outline: none;
}
.add_new_doctor_modal .form_wrapper .control_options .cancel_btn:hover {
  color: #FFF;
}
.add_new_doctor_modal .form_wrapper .control_options .add_btn {
  background: #f57104;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 3px;
  padding: 5px 20px;
  margin-left: 4px;
}
.add_new_doctor_modal .form_wrapper .control_options .add_btn:focus {
  outline: none;
}
.add_new_doctor_modal .form_wrapper .control_options .add_btn:hover {
  color: #FFF;
}
.referral_modal_container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 999;
}
.referral_modal {
  width: 53%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 3px;
  right: 0;
  background: #b4c8c4;
  padding: 15px 10px 10px 10px;
 /* font-family: 'proxima_novalight';*/
  box-shadow: 0 0 10px 2px rgba(217, 217, 217, 0.2);
}
.referral_modal .heading {
  text-align: center;
  width: 100%;
  float: left;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.3px;
  padding-bottom: 15px;
  font-weight: bold;
  /*font-family: 'proxima_novalight';*/
}
.referral_modal .form_wrapper {
  width: 100%;
  background: #FFF;
  float: left;
  padding: 15px 45px 20px 45px;
}
.referral_modal .form_wrapper .form_element {
  width: 100%;
  float: left;
  padding-bottom: 12px;
}
.referral_modal .form_wrapper .form_element label {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.referral_modal .form_wrapper .form_element label span {
  color: #FE0304;
}
.referral_modal .form_wrapper .form_element textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #c5dad6;
  border-radius: 3px;
  height: 55px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFF;
  resize: none;
}
.referral_modal .form_wrapper .form_element textarea:focus {
  outline: none;
}
.referral_modal .form_wrapper .form_element .gender {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 20px;
}
.referral_modal .form_wrapper .form_element select {
  width: 100%;
  padding: 0 15px;
  border: 1px solid #c5dad6;
  border-radius: 3px;
  height: 34px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFF;
}
.referral_modal .form_wrapper .form_element select:focus {
  outline: none;
}
.referral_modal .form_wrapper .mid_line {
  width: 100%;
  background: #e1e1e1;
  height: 1px;
  float: left;
  margin-top: 5px;
}
.referral_modal .form_wrapper .control_options {
  width: 100%;
  float: left;
  text-align: right;
  padding-top: 15px;
}
.referral_modal .form_wrapper .control_options .cancel_btn {
  background: #c6c6c6;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 4px;
}
.referral_modal .form_wrapper .control_options .cancel_btn:focus {
  outline: none;
}
.referral_modal .form_wrapper .control_options .cancel_btn:hover {
  color: #FFF;
}
.referral_modal .form_wrapper .control_options .add_btn {
  background: #f57104;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 3px;
  padding: 5px 20px;
  margin-left: 4px;
}
.referral_modal .form_wrapper .control_options .add_btn:focus {
  outline: none;
}
.referral_modal .form_wrapper .control_options .add_btn:hover {
  color: #FFF;
}
.referral_modal .form_wrapper .record_voice_note_btn {
  display: inline-block;
  border: 1px solid #acacac;
  padding: 3px 25px 3px 10px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
}
.referral_modal .form_wrapper .record_voice_note_btn img {
  margin-right: 5px;
  cursor: pointer;
}
.referral_modal .form_wrapper .record_voice_note_btn label {
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
.referral_modal .form_wrapper .record_voice_note_play_btn {
  display: inline-block;
  border: 1px solid #acacac;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  vertical-align: top;
}
.referral_modal .form_wrapper .record_voice_note_play_btn img {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.referral_modal .form_wrapper .record_voice_note_play_btn label {
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width:767px) {
  .right_side_content .right_container {
    width: 100%;
    margin: auto;
    float: none;
    min-height: auto;
    padding: 40px 10px;
  }
  .right_side_content .right_container .search_wrapper .search_input {
    font-size: 13px;
  }
  .add_new_doctor_modal {
    width: 90%;
  }
  .add_new_doctor_modal .form_wrapper {
    padding: 15px 25px;
  }
  .referral_modal {
    width: 90%;
  }
  .referral_modal .form_wrapper {
    padding: 15px 25px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .right_side_content .right_container {
    width: 90%;
    min-height: auto;
  }
  .add_new_doctor_modal {
    width: 80%;
  }
  .referral_modal {
    width: 70%;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .right_side_content .right_container {
    width: 95%;
    min-height: auto;
  }
  .add_new_doctor_modal {
    width: 70%;
  }
  .referral_modal {
    width: 70%;
  }
}
.referrad_doctor .profile_pic img {
  border-radius: 50%
}