
/**Left view**/
/**Overall css**/
body .cal_position .btn{font-size:12px;}
body .cal_position table tbody tr td button{padding:2px 10px!important;}
.cal_position{border:1px solid #efefef;font-family:"proxima_nova_regular",Helvetica;}
.cal_position .btn-default[disabled],.cal_position .btn-dafult:focus{border-color: #FFF}

/**Header css**/
.cal_position thead tr th{font-size: 12px;background:#FFF;}
.cal_position thead tr:first-child th:hover{background:#FFF;}
.cal_position thead tr:first-child .btn:hover{border:1px solid #fff;background:none!important;color:#26A792;}
.cal_position thead tr:nth-child(2) th{position: relative;background: #FFCBAC;border-bottom:1px dashed #ccc;font-weight: lighter;}
.cal_position thead tr:nth-child(2) th small{font-size: 12px!important}


/**Body css**/
.cal_position tbody tr td:first-child{background:#efefef;}
.cal_position tbody tr td:first-child em{color:#1FD0A8;}

/**Date level css**/
.cal_position tbody tr td .btn.active{border-radius:0px;background: #26A792;box-shadow: none}
.cal_position tbody tr td .btn-info{background: #FFF;color:#000;}
.cal_position tbody tr td .btn:hover{border-radius:0;background:#efefef;color:#000;border:1px solid #ccc;-webkit-transition:all 0.3s linear;}
.cal_position tbody tr td .btn-info:hover,.cal_position tbody tr td .btn.active:hover{border-radius:0;background:#efefef;border:1px solid #ccc;-webkit-transition:all 1s linear;}
.cal_position tbody tr td .btn .text-info{color:#000;}
.cal_position tbody tr td .btn.active span,.cal_position tbody tr td .btn.active .text-info{color:#fff!important;}
.cal_position tbody tr td .btn.active:hover span,.cal_position tbody tr td .btn-info:hover span,.cal_position tbody tr td .btn.active:hover .text-info{color:#000!important;-webkit-transition:all 1s linear;}
.cal_position tr .btn:focus{border:1px solid transparent!important;outline: 0px none!important}
/**calendar first character of the day**/
/**
.cal_position th.ng-scope{visibility: hidden;padding-left:10px;}
.cal_position th.ng-scope:first-letter{visibility: visible;}
**/

/**Right view**/

.cal-day-box .cal-row-head .cal-cell{font-size:14px;font-family: "proxima_novalight",Helvetica;text-align: center;}
.cal-day-box .cal-row-head{border:1px solid #EFEFEF;}
.cal-day-box .cal-row-head .cal-cell:hover{background:#FFF;}
.cal-day-box .slot_unavailable{color:#888;}
.cal-day-box .cal-day-hour{text-transform: lowercase;}
.cal-day-box .cal-day-hour-part{border-bottom:1px solid #EFEFEF!important;}
.cal-day-box .cal-day-hour-part div:first-child{border-right:1px solid #EFEFEF;background:#FFF;}
.cal-day-hour-part .span1.col-xs-1 {
    text-align: center;
}
.cal-day-hour .cal-day-hour-part{position: relative;}
.cal-day-hour .cal-day-hour-part:hover{background: #FFF1CF;transition: background 1.5s linear;}
.cal-day-hour .cal-day-hour-part:after{content:"Click to book an appointment";text-transform:capitalize;color:#FFF;opacity: 0;position: absolute;top: 0;left: 45%;font-size: 12px}
.cal-day-hour .cal-day-hour-part:hover:after{color:#000;opacity: 1;animation-name: slideTop;animation-duration: 1s}
.slot_unavailable .cal-day-hour-part:hover{background:#CCC;transition: background 1s linear}
.cal-day-box.cal-week-box .cal-day-hour .cal-day-hour-part:after{content:""}
body .cal-week-box.cal-day-box .cal-row-head{padding-left: 88px}
/*.cal-week-box .cal-row-head [class*=cal-cell],.call-week-box .cal-row-head [class*=cal-cell]:first-child{width:120px;}
*/
/**Appointment information**/
body .cal-day-box .day-highlight.dh-event-info{border:1px solid #fff!important;background:#A4DED1;}
.day-highlight.dh-event-info, .day-highlight.dh-event-info:hover{box-shadow: none!important}

/**Month View**/
.cal-day-box .cal-day-today{background: #26A792;color: #FFF}
.cal-day-box .cal-day-today span[data-cal-date]{color:#FFF;}
.cal-day-box .cal-day-today:hover,.cal-day-box .cal-day-today:hover span[data-cal-date]{color:#000;}
body .cal-month-box .day-highlight.dh-event-info, .day-highlight.dh-event-info:hover{background:#efefef;margin-top:0px!important;margin-bottom:0px!important;}
body .cal-month-box .events-list{position: relative!important;clear: both;padding-top: 7px;}
body .cal-month-box .cal-row-fluid,body .cal-year-box .row{display: flex;}
body .cal-slide-content {padding: 20px;color: #170606;background-color: #FBFBFB;box-shadow: inset 0 0 10px 0 rgba(117, 117, 117, 0.5);}
body .cal-slide-content ul li a span{color:#000;}
body .cal-slide-content ul li a i{color:#26A792;}
body .cal-slide-content ul li{padding:5px 0;}
body .cal-events-num{background: #F37224}
body .event-info{background: #26A792}
body .cal-month-day .cal-events-num{margin-top: 7px}
body span[data-cal-date]{margin-top: 7px}
body .cal-month-box .cal-day-today span[data-cal-date]{font-size:1.7rem;}

/**Animation css**/
@-webkit-keyframes slideTop {
    0% { top: -5px;opacity: 0 }
    100%{top:0px;opacity: 1}
}
