fv * {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}
.wd_100 {
  float: left;
  width: 100%;
}
.max_width {
  max-width: 1290px;
  margin: auto;
}
.header_container {
  width: 100%;
  float: left;
}
.header_container .logo {
  padding: 10px 20px;
  margin-right: 30px;
}
.header_container .logo img {
  width: 125px;
  max-width: 100%;
}
.header_container .navbar_bg {
  background: #FFF;
  margin: 0 !important;
  min-height: auto !important;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0;
}
.header_container .m_hamburger_icon {
  background: #FFF;
  box-shadow: 0 0px 1px 1px #DDD;
}
.header_container .m_hamburger_icon span {
  background: #DDD;
}
.header_container .navbar-toggle {
  margin-top: 14px;
}
.header_container ul a {
  padding: 10px 0 !important;
  margin: 0 20px;
}
.header_container ul a:hover, .header_container ul:focus {
  background-color: #FFF !important;
}
.header_container ul div {
  text-align: center;
}
.header_container ul label {
  text-transform: uppercase;
  color: #26a792;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  padding-top: 3px;
}
.header_container .profile_wrapper {
  display: inline-block;
  float: right;
  padding: 10px 0;
  vertical-align: middle;
}
.header_container .profile_wrapper a {
  text-decoration: none;
}
.header_container .profile_wrapper a:hover {
  text-decoration: none;
}
.header_container .profile_wrapper .profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.header_container .profile_wrapper .profile_pic img {
  max-width: 100%;
}
.header_container .profile_wrapper label {
  color: #26a792;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 400;
}
.doctor_profile_header {
  background: #6d71b0;
}
.doctor_profile_container {
  width: 66%;
  margin: 0px auto;
  background: #6d71b0;
}
.doctor_profile_container .doctor_profile_wrapper {
  width: 100%;
  margin: auto;
  padding: 25px 0;
  color: #ffffff;
  position: relative;
}
.doctor_profile_container .doctor_profile_wrapper .error-msg {
  color: #fdc9c9;
}
.doctor_profile_container .doctor_profile_wrapper .edit_icon {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 18px;
  height: 18px;
}
.doctor_profile_container .doctor_profile_wrapper .edit_icon img {
  width: 11px;
  cursor: pointer;
}
.doctor_profile_container .doctor_profile_wrapper .pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  position:relative;
}
.doctor_profile_container .doctor_profile_wrapper .pic img {
  max-width: 100%;
  /*border-radius: 50%;*/
  /*height: 90px;*/
}
.doctor_profile_container .doctor_profile_wrapper .info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  width: 75%;
}
.doctor_profile_container .doctor_profile_wrapper .info label {
  display: block;
  font-size: 20px;
  margin-bottom: 4px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 16px;
}
.dr-qualification {
    font-size: 16px;
}
.doctor_profile_container .doctor_profile_wrapper .info input {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  font-size: 13px;
  color: #454545;
  border: 0;
  padding: 2px 10px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.doctor_profile_container .doctor_profile_wrapper .info input:read-only {
  background: transparent;
  color: #FFF;
  padding: 0;
}
.doctor_profile_container .doctor_profile_wrapper .info input[disabled] {
  background: transparent;
  color: #FFF;
  padding: 0;
}
.doctor_profile_container .doctor_profile_wrapper .info input:last-child {
  margin-bottom: 0;
}
.doctor_profile_container .doctor_profile_wrapper .info .specialist {
  font-size: 12px;
}
.doctor_profile_container .doctor_profile_wrapper .experiece_container {
  padding: 13px;
  text-align: right;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  vertical-align: top;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info .years {
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info .years input {
  display: inline-block;
  width: 40px;
  color: #454545;
  border: 0;
  background: #FFF;
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info .years input[disabled] {
  background: transparent;
  color: #FFF;
  width: 33px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info .years .years_lab {
  font-size: 14px;
  position: relative;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info .years .years_edit {
  position: none;
  padding-left: 5px;
}
.doctor_profile_container .doctor_profile_wrapper .experience_info p {
  font-size: 13px;
  margin: 0;
}
.doctor_profile_container .doctor_profile_wrapper .registration_info {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 10px 20px;
}
.doctor_profile_container .doctor_profile_wrapper .registration_info input {
  display: inline-block;
  color: #454545;
  width: 110px;
  background: #FFF;
  border-radius: 3px;
  border: 0;
}
.doctor_profile_container .doctor_profile_wrapper .registration_info input[disabled] {
  background: transparent;
  color: #FFF;
  padding: 0;
  width: 110px;
  font-size: 18px;
  font-weight: 600;
}
.doctor_profile_container .doctor_profile_wrapper .registration_info .regis_id {
  font-size: 15px;
  text-align: left;
  font-weight: 600;
  padding: 3px 5px 2px;
  margin: 0;
}
.doctor_profile_container .doctor_profile_wrapper .registration_info p {
  font-size: 13px;
  margin: 0;
}
.tab_container {
  width: 100%;
  float: left;
}
.tab {
  background-color: #fff !important;
  width: 100%;
  float: left;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  z-index: 1;
}
.tab ul {
  list-style: none;
  margin: auto;
  width: 55%;
  padding: 0;
}
.tab li {
  width: 50%;
  padding: 10px;
  float: left;
  text-align: center;
  font-size: 15px;
  color: #969696;
}
.tab li img {
  margin-right: 10px;
  vertical-align: middle;
}
.tab li label {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
}
.tab li a {
  cursor: pointer;
  color: #969696;
}
.tab li a:hover {
  text-decoration: none;
  color: #646464;
}
.tab li a:focus {
  outline: none;
  text-decoration: none;
}
.tab .active {
  border-bottom: 2px solid #f37224;
}
.tab .active a {
  color: #646464 !important;
}
.tab_content {
  width: 100%;
  float: left;
  min-height: 500px;
  background: #F9F9F9;
  padding: 30px 0;
}
.my_practice_tab {
  width: 100%;
  float: left;
}
.my_practice_tab .my_practice_container {
  width: 70%;
  margin: -15px auto;
}
.my_practice_tab .add_clinics {
  color: #fff;
  background: #f5812f;
  padding: 6px 15px;
  border: 0px;
  font-size: 13px;
  cursor: pointer;
  float: right;
  margin-right: 0px;
  border-radius: 3px;
  margin-bottom: -5px;
  font-weight: 600;
}
.add_clinics {
  margin-top: -4px;
}
.my_practice_tab .add_clinics:hover {
  color: #ffffff;
}
.my_practice_tab .add_clinics:focus {
  outline: none;
}
.my_practice_tab .clinic_container {
  width: 100%;
  float: left;
}
.my_practice_tab .padding_left {
  padding-left: 0 !important;
  clear: left;
}
.my_practice_tab .padding_right {
  padding-right: 0 !important;
}
.my_practice_tab .indiv_clinics {
  padding-top: 20px;
}
.my_practice_tab .indiv_clinics .clinic_wrapper {
  box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.15);
  width: 100%;
  padding: 15px;
  float: left;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background: #ffffff;
  position: relative;
}
.my_practice_tab .indiv_clinics .clinic_wrapper .hospital-icon {
  background: url("../img/hospital.png") no-repeat center;
  vertical-align: text-top;
  width: 18px;
  height: 14px;
  margin-right: 5px;
  display: inline-block;
}
.my_practice_tab .indiv_clinics .clinic_wrapper .location-icon {
  background: url("../img/map_pin.png") no-repeat center;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 5px;
  display: inline-block;
}
.my_practice_tab .indiv_clinics .clinic_wrapper .fee-icon {
  background: url("../img/ruppee-icon.png") no-repeat center;
  vertical-align: text-top;
  width: 18px;
  height: 14px;
  margin-right: 5px;
  display: inline-block;
  z-index: 2;
}
.my_practice_tab .indiv_clinics .clinic_wrapper .clock-icon {
  background: url("../img/clock_icon.png") no-repeat center;
  vertical-align: text-top;
  width: 18px;
  height: 14px;
  margin-right: 5px;
  display: inline-block;
}
.my_practice_tab .indiv_clinics .clinic_wrapper .mobile-icon {
  background: url("../img/mobile_icon.png") no-repeat center;
  vertical-align: text-top;
  width: 18px;
  height: 14px;
  margin-right: 5px;
  display: inline-block;
}
.my_practice_tab .indiv_clinics .heading {
  width: 100%;
  float: left;
}
.my_practice_tab .indiv_clinics .heading h1 {
  font-size: 16px;
  color: #28465A;
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: 0;
  font-weight: bold;
}
.my_practice_tab .indiv_clinics .heading img {
  float: right;
  padding: 2px;
  cursor: pointer;
}
.my_practice_tab .indiv_clinics .mid_line {
  background: #dfdfdf;
  width: 100%;
  height: 1px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.my_practice_tab .indiv_clinics .separator {
  background: #dfdfdf;
  width: 100%;
  height: 1px;
  float: left;
  margin: 10px 0;
}
.my_practice_tab .indiv_clinics .sub_line {
  /*background: #dfdfdf;*/
  width: 100%;
  height: 1px;
  float: left;
  margin: 8px 0;
}
.my_practice_tab .indiv_clinics .clinic_images {
  padding-top: 0px;
  position: relative;
}
.my_practice_tab .indiv_clinics .clinic_images img {
  border-radius: 4px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}
.my_practice_tab .indiv_clinics .clinic_images img:last-child {
  margin-right: 0;
}
.my_practice_tab .indiv_clinics .clinic_images .view_all {
  margin-top: 5px;
}
.my_practice_tab .indiv_clinics .clinic_images .view_all a {
  color: #0087c6;
  text-decoration: underline;
  font-size: 12px;
}
.my_practice_tab .indiv_clinics .address_wrapper .address_icon {
  width: 20px;
  vertical-align: top;
  float: left;
}
.my_practice_tab .indiv_clinics .address_wrapper .address {
  float: left;
  color: #646464;
  margin-top: 3px;
  width: 90%;
  margin-left: 1%;
}
.my_practice_tab .indiv_clinics .address_wrapper .address label {
  display: block;
  padding: 1px 0 0 0;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.my_practice_tab .indiv_clinics .mobile_wrapper .mobile_icon {
  width: 20px;
  vertical-align: top;
  float: left;
}
.my_practice_tab .indiv_clinics .mobile_wrapper .mobile_number {
  display: inline-block;
  color: #646464;
  margin-top: 3px;
  width: 90%;
  margin-bottom: 2px;
  margin-left: 1%;
}
.my_practice_tab .indiv_clinics .mobile_wrapper .mobile_number label {
  display: block;
  padding: 1px 0 0 0;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.my_practice_tab .indiv_clinics .timing_wrapper .time_icon {
  width: 20px;
  vertical-align: top;
  float: left;
}
.my_practice_tab .indiv_clinics .timing_wrapper .timing {
  float: left;
  margin-top: 3px;
  color: #646464;
  margin-left: 1%;
}
.my_practice_tab .indiv_clinics .timing_wrapper .timing label {
  display: block;
  padding: 1px 0 3px 0;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.my_practice_tab .indiv_clinics .timing_wrapper .timing label:first-child {
  font-weight: bold;
}
.my_practice_tab .indiv_clinics .timing_wrapper .timing .view_all a {
  color: #0087c6;
  text-decoration: underline;
  font-size: 12px;
}
.empty_state {
  color: rgba(70, 70, 70, 0.6);
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.about_tab {
  width: 100%;
  float: left;
}
.about_tab_container {
  width: 70%;
  margin: auto;
  padding: 0 15px;
}
.about_tab_container .indiv_info {
  width: 100%;
  float: left;
  padding: 11px 15px;
  background: #FFF;
  box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.15);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
}
.about_tab_container .indiv_info li {
  list-style: none;
}
.about_tab_container .indiv_heading {
  text-transform: uppercase;
  color: #26a792;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.ep-abtedit-img {
  margin: 2px 5px;
}
.about_tab_container .indiv_heading img {
  margin: 2px 3px 2px 0px;
  vertical-align: top;
  cursor: pointer;
}
.about_tab_container .indiv_heading label {
  margin-bottom: 0;
}
.about_tab_container .mid_line {
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  float: left;
  margin: 8px 0 15px 0;
}
.about_tab_container .bottom_line {
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  float: left;
  margin: 12px 0 0 0;
}
.about_tab_container .add_link {
  color: #0087c6;
  cursor: pointer;
  margin-top: 10px;
}
.about_tab_container .add_link::first-letter {
  font-weight: bold;
}
.about_tab_container .info_wrapper {
  width: 100%;
  float: left;
  line-height: 1.5;
  color: #464646;
}
.about_tab_container .info_wrapper .info {
  display: inline-block;
  width: 92%;
  float: left;
  margin-bottom: 0;
}
.about_tab_container .info_wrapper .about_content {
  margin-bottom: 0;
  text-align: justify;
}
.about_tab_container .info_wrapper .education_content {
  color: #464646;
  font-size: 14px;
  line-height: 1.5;
}
.about_tab_container .info_wrapper .education_content img {
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  width: 35px;
  float: left;
  height: 35px;
  margin-right: 15px;
  max-width: 100%;
  display: none;
}
.about_tab_container .info_wrapper .education_content ul {
  padding: 0;
  display: inline-block;
  float: left;
  margin: 0;
  list-style: none;
}
.about_tab_container .info_wrapper .education_content ul li:first-child {
  font-weight: bold;
}
.about_tab_container .info_wrapper .education_content ul li {
  width: 285px;
}
.about_tab_container .info_wrapper .specialization_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about_tab_container .info_wrapper .services_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about_tab_container .info_wrapper .achievements_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about_tab_container .info_wrapper .edit_icon {
  width: 8%;
  float: left;
  display: inline-block;
}
.about_tab_container .info_wrapper .edit_icon img {
  float: right;
  cursor: pointer;
}
.about_tab_container .edit_about, .about_tab_container .add_about {
  width: 100%;
  float: left;
}
.about_tab_container .edit_about p, .about_tab_container .add_about p {
  font-weight: bold;
  font-size:15px;
  margin-bottom: 4px;
}
.about_tab_container .edit_about textarea, .about_tab_container .add_about textarea {
  resize: none;
  border-radius: 3px;
  width: 100%;
  height: 140px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.about_tab_container .edit_about textarea:focus, .about_tab_container .add_about textarea:focus {
  outline: none;
}
.about_tab_container .edit_about .user_actions, .about_tab_container .add_about .user_actions {
  text-align: right;
  padding-top: 5px;
}
.about_tab_container .edit_about .user_actions button, .about_tab_container .add_about .user_actions button {
  padding: 5px 8px;
  /*border: 0;
  color: rgba(255, 255, 255, 1);*/
  border-radius: 3px;
}
.about_tab_container .edit_about .user_actions button:focus, .about_tab_container .add_about .user_actions button:focus {
  outline: none;
}
.about_tab_container .edit_about .user_actions button:hover, .about_tab_container .add_about .user_actions button:hover {
  color: white;
}
.about_tab_container .edit_about .user_actions .update_btn, .about_tab_container .add_about .user_actions .update_btn {
  background: #f57104;
}
.about_tab_container .edit_about .user_actions .cancel_btn, .about_tab_container .add_about .user_actions .cancel_btn {
  background: #e8e8e8;
  color: #000;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.about_tab_container .edit_about .user_actions .cancel_btn:hover, .about_tab_container .add_about .user_actions .cancel_btn:hover {
  color: #000;
}
.about_tab_container .edit_about .user_actions .add_btn, .about_tab_container .add_about .user_actions .add_btn {
  background: #f57104;
}
.about_tab_container .edit_education, .about_tab_container .add_education {
  padding-right: 10px;
}
.about_tab_container .edit_education .indiv_form label, .about_tab_container .add_education .indiv_form label {
  display: block;
  font-weight: 500;
}
.about_tab_container .edit_education .indiv_form label span, .about_tab_container .add_education .indiv_form label span {
  color: #ff0202;
}
.about_tab_container .edit_education .indiv_form input, .about_tab_container .add_education .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 100%;
  margin-bottom: 12px;
}
.about_tab_container .edit_education .indiv_form input:focus, .about_tab_container .add_education .indiv_form input:focus {
  outline: none;
}
.about_tab_container .edit_education .indiv_form .hyphen, .about_tab_container .add_education .indiv_form .hyphen {
  color: #ccc;
  margin: 0 10px;
  font-weight: bold;
}
.about_tab_container .edit_education .indiv_form .from, .about_tab_container .edit_education .indiv_form .to, .about_tab_container .add_education .indiv_form .from, .about_tab_container .add_education .indiv_form .to {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  width: 65px;
  font-size: 13px;
  height: 34px;
  text-align: center;
  margin-bottom: 12px;
}
.about_tab_container .edit_education .indiv_form .from:focus, .about_tab_container .edit_education .indiv_form .to:focus, .about_tab_container .add_education .indiv_form .from:focus, .about_tab_container .add_education .indiv_form .to:focus {
  outline: none;
}
.about_tab_container .edit_education .upload_link, .about_tab_container .add_education .upload_link {
  color: #0087c6;
  cursor: pointer;
  margin-bottom: 5px;
}
.about_tab_container .edit_education .user_actions, .about_tab_container .add_education .user_actions {
  text-align: right;
  padding-top: 5px;
}
/* .about_tab_container .edit_education .user_actions button, .about_tab_container .add_education .user_actions button { */
  /* padding: 5px 8px; */
  /* border: 0; */
  /* color: rgba(255, 255, 255, 1); */
  /* border-radius: 3px; */
/* } */
.about_tab_container .edit_education .user_actions button:focus, .about_tab_container .add_education .user_actions button:focus {
  outline: none;
}
.about_tab_container .edit_education .user_actions button:hover, .about_tab_container .add_education .user_actions button:hover {
  color: white;
}
.about_tab_container .edit_education .user_actions .add_btn, .about_tab_container .add_education .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.about_tab_container .edit_education .user_actions .cancel_btn, .about_tab_container .add_education .user_actions .cancel_btn {
  background: #e8e8e8;
  color: #000;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.about_tab_container .edit_education .user_actions .cancel_btn:hover, .about_tab_container .add_education .user_actions .cancel_btn:hover {
  color: #000;
}
.about_tab_container .edit_education .user_actions .update_btn, .about_tab_container .add_education .user_actions .update_btn {
  background: #f57104;
}
.about_tab_container .edit_specialization .indiv_form label, .about_tab_container .add_specialization .indiv_form label {
  display: block;
  font-weight: 500;
}
.about_tab_container .edit_specialization .indiv_form label span, .about_tab_container .add_specialization .indiv_form label span {
  color: #ff0202;
}
.about_tab_container .edit_specialization .indiv_form input, .about_tab_container .add_specialization .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 100%;
  margin-bottom: 12px;
}
.about_tab_container .edit_specialization .indiv_form input:focus, .about_tab_container .add_specialization .indiv_form input:focus {
  outline: none;
}
.about_tab_container .edit_specialization .user_actions, .about_tab_container .add_specialization .user_actions {
  text-align: right;
  padding-top: 5px;
}
.about_tab_container .edit_specialization .user_actions button, .about_tab_container .add_specialization .user_actions button {
  padding: 5px 8px;
  /*border: 0;
  color: rgba(255, 255, 255, 1);*/
  border-radius: 3px;
}
.about_tab_container .edit_specialization .user_actions button:focus, .about_tab_container .add_specialization .user_actions button:focus {
  outline: none;
}
.about_tab_container .edit_specialization .user_actions button:hover, .about_tab_container .add_specialization .user_actions button:hover {
  color: white;
}
.about_tab_container .edit_specialization .user_actions .add_btn, .about_tab_container .add_specialization .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.about_tab_container .edit_specialization .user_actions .cancel_btn, .about_tab_container .add_specialization .user_actions .cancel_btn {
  background: #e8e8e8;
  border: 1px solid #CCC;
  color: #000;
  margin-right: 5px;
}
.about_tab_container .edit_specialization .user_actions .cancel_btn:hover, .about_tab_container .add_specialization .user_actions .cancel_btn:hover {
  color: #000;
}
.about_tab_container .edit_specialization .user_actions .update_btn, .about_tab_container .add_specialization .user_actions .update_btn {
  background: #f57104;
}
.about_tab_container .edit_services .indiv_form label, .about_tab_container .add_services .indiv_form label {
  display: block;
  font-weight: 500;
}
.about_tab_container .edit_services .indiv_form label span, .about_tab_container .add_services .indiv_form label span {
  color: #ff0202;
}
.about_tab_container .edit_services .indiv_form input, .about_tab_container .add_services .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 93%;
  margin-bottom: 12px;
}
.about_tab_container .edit_services .indiv_form input:focus, .about_tab_container .add_services .indiv_form input:focus {
  outline: none;
}
.about_tab_container .edit_services .user_actions, .about_tab_container .add_services .user_actions {
  text-align: right;
  padding-top: 5px;
}
.about_tab_container .edit_services .user_actions button, .about_tab_container .add_services .user_actions button {
  padding: 5px 8px;
  /*border: 0;
  color: rgba(255, 255, 255, 1);*/
  border-radius: 3px;
}
.about_tab_container .edit_services .user_actions button:focus, .about_tab_container .add_services .user_actions button:focus {
  outline: none;
}
.about_tab_container .edit_services .user_actions button:hover, .about_tab_container .add_services .user_actions button:hover {
  color: white;
}
.about_tab_container .edit_services .user_actions .add_btn, .about_tab_container .add_services .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.about_tab_container .edit_services .user_actions .cancel_btn, .about_tab_container .add_services .user_actions .cancel_btn {
  background: #e8e8e8;
  border: 1px solid #ccc;
  color: #000;
  margin-right: 5px;
}
.about_tab_container .edit_services .user_actions .cancel_btn:hover, .about_tab_container .add_services .user_actions .cancel_btn:hover {
  color: #000;
}
.about_tab_container .edit_services .user_actions .update_btn, .about_tab_container .add_services .user_actions .update_btn {
  background: #f57104;
}
.about_tab_container .edit_achievements p, .about_tab_container .add_achievements p {
  font-weight: 500;
  margin-bottom: 5px;
}
.about_tab_container .edit_achievements textarea, .about_tab_container .add_achievements textarea {
  resize: none;
  border-radius: 3px;
  width: 95%;
  height: 110px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.about_tab_container .edit_achievements textarea:focus, .about_tab_container .add_achievements textarea:focus {
  outline: none;
}
.about_tab_container .edit_achievements .user_actions, .about_tab_container .add_achievements .user_actions {
  text-align: right;
  padding-top: 5px;
}
/* .about_tab_container .edit_achievements .user_actions button, .about_tab_container .add_achievements .user_actions button { */
  /* padding: 5px 8px; */
  /* border: 0; */
  /* color: rgba(255, 255, 255, 1); */
  /* border-radius: 3px; */
/* } */
.about_tab_container .edit_achievements .user_actions button:focus, .about_tab_container .add_achievements .user_actions button:focus {
  outline: none;
}
.about_tab_container .edit_achievements .user_actions button:hover, .about_tab_container .add_achievements .user_actions button:hover {
  color: white;
}
.about_tab_container .edit_achievements .user_actions .add_btn, .about_tab_container .add_achievements .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.about_tab_container .edit_achievements .user_actions .cancel_btn, .about_tab_container .add_achievements .user_actions .cancel_btn {
  background: #e8e8e8;
  color: #000;
  border: 1px solid #CCC;
  margin-right: 5px;
}
.about_tab_container .edit_achievements .user_actions .cancel_btn:hover, .about_tab_container .add_achievements .user_actions .cancel_btn:hover {
  color: #000;
}
.about_tab_container .edit_achievements .user_actions .update_btn, .about_tab_container .add_achievements .user_actions .update_btn {
  background: #f57104;
}
.about_tab_container .padding_left {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
.about_tab_container .padding_right {
  padding-right: 0 !important;
  padding-left: 10px !important;
}
.others_tab {
  width: 100%;
  float: left;
}
.others_tab_container {
  width: 70%;
  margin: auto;
  padding: 0 15px;
}
.others_tab_container .indiv_info {
  width: 100%;
  float: left;
  padding: 11px 15px;
  box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.15);
  background: #FFF;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 15px;
}
.others_tab_container .indiv_heading {
  text-transform: uppercase;
  color: #26a792;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.7px;
}
.others_tab_container .indiv_heading img {
  margin: 2px 8px 2px 0px;
  vertical-align: top;
}
.others_tab_container .indiv_heading label {
  margin-bottom: 0;
}
.others_tab_container .mid_line {
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  float: left;
  margin: 8px 0 15px 0;
}
.others_tab_container .bottom_line {
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  float: left;
  margin: 12px 0 0 0;
}
.others_tab_container .add_link {
  color: #0087c6;
  cursor: pointer;
  margin-top: 10px;
}
.others_tab_container .add_link::first-letter {
  font-weight: bold;
}
.others_tab_container .info_wrapper {
  width: 100%;
  float: left;
  line-height: 1.5;
  color: #464646;
}
.others_tab_container .info_wrapper .info {
  display: inline-block;
  width: 92%;
  float: left;
  margin-bottom: 0;
}
.others_tab_container .info_wrapper .membership_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.others_tab_container .info_wrapper .publication_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.others_tab_container .info_wrapper .awards_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.others_tab_container .info_wrapper .edit_icon {
  width: 8%;
  float: left;
  display: inline-block;
}
.others_tab_container .info_wrapper .edit_icon img {
  float: right;
  cursor: pointer;
}
.others_tab_container .edit_membership .indiv_form label, .others_tab_container .add_membership .indiv_form label {
  display: block;
  font-weight: 500;
}
.others_tab_container .edit_membership .indiv_form label span, .others_tab_container .add_membership .indiv_form label span {
  color: #ff0202;
}
.others_tab_container .edit_membership .indiv_form input, .others_tab_container .add_membership .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 93%;
  margin-bottom: 12px;
}
.others_tab_container .edit_membership .indiv_form input:focus, .others_tab_container .add_membership .indiv_form input:focus {
  outline: none;
}
.others_tab_container .edit_membership .user_actions, .others_tab_container .add_membership .user_actions {
  text-align: right;
  padding-top: 5px;
}
.others_tab_container .edit_membership .user_actions button, .others_tab_container .add_membership .user_actions button {
  padding: 5px 8px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}
.others_tab_container .edit_membership .user_actions button:focus, .others_tab_container .add_membership .user_actions button:focus {
  outline: none;
}
.others_tab_container .edit_membership .user_actions button:hover, .others_tab_container .add_membership .user_actions button:hover {
  color: white;
}
.others_tab_container .edit_membership .user_actions .add_btn, .others_tab_container .add_membership .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.others_tab_container .edit_membership .user_actions .cancel_btn, .others_tab_container .add_membership .user_actions .cancel_btn {
  background: #e8e8e8;
  margin-right: 5px;
  color: #000;
  border: 1px solid #ccc;
}
.others_tab_container .edit_membership .user_actions .cancel_btn:hover, .others_tab_container .add_membership .user_actions .cancel_btn:hover {
  color: #000;
}
.others_tab_container .edit_membership .user_actions .update_btn, .others_tab_container .add_membership .user_actions .update_btn {
  background: #f57104;
}
.others_tab_container .edit_publication .indiv_form label, .others_tab_container .add_publication .indiv_form label {
  display: block;
  font-weight: 500;
}
.others_tab_container .edit_publication .indiv_form label span, .others_tab_container .add_publication .indiv_form label span {
  color: #ff0202;
}
.others_tab_container .edit_publication .indiv_form input, .others_tab_container .add_publication .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 95%;
  margin-bottom: 12px;
}
.others_tab_container .edit_publication .indiv_form input:focus, .others_tab_container .add_publication .indiv_form input:focus {
  outline: none;
}
.others_tab_container .edit_publication .user_actions, .others_tab_container .add_publication .user_actions {
  text-align: right;
  padding-top: 5px;
}
.others_tab_container .edit_publication .user_actions button, .others_tab_container .add_publication .user_actions button {
  padding: 5px 8px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}
.others_tab_container .edit_publication .user_actions button:focus, .others_tab_container .add_publication .user_actions button:focus {
  outline: none;
}
.others_tab_container .edit_publication .user_actions button:hover, .others_tab_container .add_publication .user_actions button:hover {
  color: white;
}
.others_tab_container .edit_publication .user_actions .add_btn, .others_tab_container .add_publication .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.others_tab_container .edit_publication .user_actions .cancel_btn, .others_tab_container .add_publication .user_actions .cancel_btn {
  background: #e8e8e8;
  border: 1px solid #CCC;
  color: #000;
  margin-right: 5px;
}
.others_tab_container .edit_publication .user_actions .cancel_btn:hover, .others_tab_container .add_publication .user_actions .cancel_btn:hover {
  color: #000;
}
.others_tab_container .edit_publication .user_actions .update_btn, .others_tab_container .add_publication .user_actions .update_btn {
  background: #f57104;
}
.others_tab_container .edit_awards .indiv_form label, .others_tab_container .add_awards .indiv_form label {
  display: block;
  font-weight: 500;
}
.others_tab_container .edit_awards .indiv_form label span, .others_tab_container .add_awards .indiv_form label span {
  color: #ff0202;
}
.others_tab_container .edit_awards .indiv_form input, .others_tab_container .add_awards .indiv_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  height: 34px;
  width: 95%;
  margin-bottom: 12px;
}
.others_tab_container .edit_awards .indiv_form input:focus, .others_tab_container .add_awards .indiv_form input:focus {
  outline: none;
}
.others_tab_container .edit_awards .user_actions, .others_tab_container .add_awards .user_actions {
  text-align: right;
  padding-top: 5px;
}
.others_tab_container .edit_awards .user_actions button, .others_tab_container .add_awards .user_actions button {
  padding: 5px 8px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}
.others_tab_container .edit_awards .user_actions button:focus, .others_tab_container .add_awards .user_actions button:focus {
  outline: none;
}
.others_tab_container .edit_awards .user_actions button:hover, .others_tab_container .add_awards .user_actions button:hover {
  color: white;
}
.others_tab_container .edit_awards .user_actions .add_btn, .others_tab_container .add_awards .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.others_tab_container .edit_awards .user_actions .cancel_btn, .others_tab_container .add_awards .user_actions .cancel_btn {
  background: #e8e8e8;
  margin-right: 5px;
  border: 1px solid #CCC;
  color: #000;
}
.others_tab_container .edit_awards .user_actions .cancel_btn:hover, .others_tab_container .add_awards .user_actions .cancel_btn:hover {
  color: #000;
}
.others_tab_container .edit_awards .user_actions .update_btn, .others_tab_container .add_awards .user_actions .update_btn {
  background: #f57104;
}
.others_tab_container .padding_left {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
.others_tab_container .padding_right {
  padding-right: 0 !important;
  padding-left: 10px !important;
}
@media (max-width:767px) {
  .header_container ul li {
    border-bottom: 1px solid #F2F2F2;
  }
  .header_container ul li div {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
  }
  .doctor_profile_container .doctor_profile_wrapper {
    width: 100%;
    padding: 20px 0 5px 0;
    text-align: center;
  }
  .doctor_profile_container .doctor_profile_wrapper .pic {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .doctor_profile_container .doctor_profile_wrapper .info {
    padding-left: 0;
    padding-top: 10px;
  }
  .doctor_profile_container .doctor_profile_wrapper .info p {
    padding-bottom: 5px;
  }
  .doctor_profile_container .doctor_profile_wrapper .experience_info {
    border-left: 0;
    padding: 0 15px;
  }
  .doctor_profile_container .doctor_profile_wrapper .registration_info {
    padding: 0 15px;
  }
  .doctor_profile_container .doctor_profile_wrapper .experiece_container {
    text-align: center;
  }
  .tab ul {
    width: 100%;
    float: left;
  }
  .tab li img {
    display: block;
    margin: auto;
  }
  .my_practice_tab .my_practice_container {
    width: 100%;
    float: left;
  }
  .about_tab .about_tab_container {
    width: 100%;
    float: left;
  }
  .others_tab .others_tab_container {
    width: 100%;
    float: left;
  }
  .my_practice_tab .padding_left {
    padding-left: 15px !important;
  }
  .my_practice_tab .padding_right {
    padding-right: 15px !important;
  }
  .my_practice_tab .add_clinics {
    margin-right: 15px;
  }
  .header_container .profile_wrapper {
    float: none;
    margin-left: 10px;
    display: block;
    padding: 0 0 10px 0;
  }
  .header_container .profile_wrapper .profile_pic {
    margin-right: 10px;
  }
  .header_container .profile_wrapper label {
    width: 75%;
  }
  .navbar-header {
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .about_tab_container .padding_left {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .about_tab_container .padding_right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .others_tab_container .padding_left {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .others_tab_container .padding_right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .doctor_profile_container .doctor_profile_wrapper {
    width: 90%;
  }
  .my_practice_tab .my_practice_container {
    width: 90%;
  }
  .about_tab .about_tab_container {
    width: 90%;
  }
  .others_tab .others_tab_container {
    width: 90%;
  }
  .my_practice_tab .padding_left {
    padding-left: 15px !important;
  }
  .my_practice_tab .padding_right {
    padding-right: 15px !important;
  }
  .header_container .logo {
    margin-right: 10px;
  }
  .header_container ul a {
    margin: 0 10px;
    padding: 7px 0 !important;
  }
  .tab ul {
    width: 90%;
  }
  .header_container .profile_wrapper label {
    width: 75px;
  }
  .header_container ul label {
    font-size: 11px;
  }
  .my_practice_tab .add_clinics {
    margin-right: 15px;
  }
  .about_tab_container .padding_left {
    padding-left: 0 !important;
    padding-right: 10px !important;
  }
  .about_tab_container .padding_right {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
  .others_tab_container .padding_left {
    padding-left: 0 !important;
    padding-right: 10px !important;
  }
  .others_tab_container .padding_right {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .doctor_profile_container .doctor_profile_wrapper {
    width: 70%;
  }
  .my_practice_tab .my_practice_container {
    width: 70%;
  }
  .about_tab .about_tab_container {
    width: 70%;
  }
  .others_tab .others_tab_container {
    width: 70%;
  }
  .tab ul {
    width: 70%;
  }
}
.speciality_set {
  font-size: 1em !important;
  font-weight: normal !important;
}
.my_practice_container_edit .indiv_form label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}
.my_practice_container_edit .mid_line {
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  float: left;
  margin: 8px 0 15px 0;
}
.my_practice_container_edit .indiv_form input[type="text"], 
.my_practice_container_edit .indiv_form input[type="tel"] {
  border: 1px solid #ccc !important;
  border-radius: 3px;
  padding: 5px 10px 5px 30px;
  font-size: 13px;
  height: 34px;
  width: 100%;
  margin-bottom: 12px;
  color: #6e6e6e;
}
.my_practice_container_edit .indiv_form select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 6px;
  font-size: 13px;
  height: 34px;
  width: 100%;
  margin-bottom: 12px;
  color: #6e6e6e;
}
.my_practice_container_edit .indiv_form .from.st {
  width:30%;
}
.my_practice_container_edit .indiv_form .from.ea {
  width: 50%;
  padding:5px 10px
}
.my_practice_container_edit .indiv_form .p-edit-m {
  display: inline-block;
  color: #a3a3a3;
  top:5px;
}
.my_practice_container_edit .user_actions {
  text-align: right;
  padding-top: 5px;
  clear: both;
}
.my_practice_container_edit .user_actions .cancel_btn {
  background: #e8e8e8;
  margin-right: 5px;
  border: 1px solid #ccc;
  color: #000;
}
.my_practice_container_edit .user_actions .cancel_btn:hover {
  color: #000;
}
/* .my_practice_container_edit .user_actions button { */
  /* padding: 5px 8px; */
  /* border: 0; */
  /* color: rgba(255, 255, 255, 1); */
  /* border-radius: 3px; */
/* } */
.my_practice_container_edit .user_actions .add_btn {
  background: #f57104;
  padding: 5px 20px;
}
.my_practice_container_edit .p-edit-cbox {
  float: left;
  margin: 9px 0 0;
}
.my_practice_container_edit .p-edit-ic {
  float: left;
}
.add_timeslot_wrapper {
  box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.07);
  width: 100%;
  padding: 15px;
  float: left;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background: #fff;
  margin-top: 15px;
}
.p-edit-timeslot {
}
.p-edit-timeslot ul {
  padding: 0;
}
.p-edit-timeslot li {
  list-style: none;
  color: #646464;
  font-size: 16px;
  display: inline-block;
  margin: 0 7px 10px -3px;
}
.p-edit-timeslot li a {
  background:rgba(123, 142, 160, 0.47);;
  color: #fff;
  display: block;
  padding: 2px 12px 2px;
  border-radius: 5px;
  font-size: 13px;
}
.p-edit-timeslot li.active a {
  background-color: #0e85a2;
  color: #fff;
}
.p-edit-timeslot li a:hover {
  text-decoration: none;
}
.p-edit-enter-time .st-value, .p-edit-enter-time .et-value {
  width: 85px !important;
  font-size: 20px !important;
  font-weight: 700;
  line-height: 23px;
}
.p-edit-enter-time span {
  display: inline-block;
  margin-left: 5px;
  font-size:16px !important;
  font-weight:700;
  color:#333 !important;
}
.p-edit-enter-time {
  overflow: hidden;
  position: relative;
  left: -15px;
  top: 10px;
}
.stime, .etime {
  width: 40%;
  float: left;
}
.stime {
  margin-right: 5%;
}
.time-slots-table {
  box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.15);
  width: 70%;
  margin: 30px auto;
}
.time-slots-table th, .time-slots-table td {
  text-align: left !important;
}
.time-slots-table td span.avt,
.time-slots-table td span.uavt {
  display: inline-block;
  padding: 3px 30px 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  position: relative;
  width: 130px;
  margin-bottom: 1px;
}
span.avt {
  background: #ddf9f4;
  color: #000
}
span.uavt {
  background: #eee;
  color: #c7c7c7
}
.tst-tlast {
  text-align: center;
}
a.tsc {
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  text-align: center;
  line-height: 19px;
  color: #000;
  font-size: 14px;
}
.clinic-status-ia {
  color: #f00;
  text-align: center;
}
.modal1 {
  display: block;
  position: absolute !important;
  z-index: 1;
  padding-top: 100px;
  left: -11% !important;
  top: 375px !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 13px;
}
.modal1-content {
  background: #3db29f !important;
  margin: auto;
  padding: 2px 20px 20px 20px !important;
  border-radius: 2px !important;
  text-align: center;
  color: white !important;
  width: 168px;
  height: 170px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .5) !important;
  border: 0px solid #999 !important;
  border: 0px solid rgba(0, 0, 0, .2) !important;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.OK_btn {
  background: #3db29f !important;
  margin-right: 5px;
  border: 1px solid white !important;
  border-radius: 2px;
  width: 43px !important;
  height: 23px !important;
  margin-top: 10px !important;
  line-height: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.modal2 {
  display: none;    /* position: fixed;*/
  z-index: 1;
  padding-top: 100px;
  width: 50% !important;
  height: 100%;
  overflow: auto;
  display: block;
  position: absolute;
  top: 93%;
  left: 7%;
}
.modal-content2 {
  background: #3db29f !important;
  margin: auto;
  padding: 10px 12px 15px 12px !important;
  width: 188px;
  height: 134px;
  text-align: center;
  color: white !important;
}
.modal-content2 p {
  margin-bottom: 0px;
}
.modal-content p {
  margin-bottom: 0px;
}
.arrow_box {
  position: relative;
  background: #3DB29F;
  border: 4px solid #3DB29F;
  padding-top: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.arrow_box:after, .arrow_box:before {
  top: 120%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #3DB29F;
  border-width: 15px;
  margin-left: -55px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #3DB29F;
  border-width: 36px;
  margin-left: -36px;
}
.arrow_box2 {
  position: relative;
  background: #3DB29F;
  border: 0px solid #3DB29F;
}
.arrow_box2:after, .arrow_box:before {
  left: 100%;
  top: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box2:after {
  border-left-color: #3DB29F;
  border-width: 17px !important;
  margin-left: 16px !important;
}
.arrow_box2:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #3DB29F;
  border-width: 36px;
  margin-top: -36px;
}

/*
.my_practice_tab .indiv_clinics .heading h1:hover span
{
  display:block;
}*/
.user_actions .cancel_btn, .user_actions .update_btn {
  padding: 5px 8px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}
.user_actions .cancel_btn {
  background: #e8e8e8;
  margin-right: 5px;
  border: 1px solid #c6c6c6;
  color: #000;
}
.user_actions .update_btn {
  background: #f57104;
  padding: 5px 20px;
  color: #fff;
}
.checkbox-custom {
  opacity: 0;
  position: absolute;
}
input.checkbox-cust[type="checkbox"] {
  width: 21px !important
}
input.checkbox-cust[type="checkbox"]~.lbl {
  float: left
}
input.checkbox-cust[type="checkbox"]~.lbl:before {
  height: 20px
}
input.checkbox-cust[type="checkbox"]:checked~.lbl:before {
  background-position: -11px 5px;
  background-color: white;
}
.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox-custom-label {
  margin: 0px 0 0;
  float: left;
}
}
.checkbox-custom + .checkbox-custom-label:before {
content: '';
background: #fff;
border: 1px solid #ddd;
display: inline-block;
vertical-align: middle;
width: 16px;
height: 16px;
padding: 2px;
margin: -4px 0 0;
text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
background: #F37426;
box-shadow: inset 0px 0px 0px 4px #fff;
}
.no-pad {
padding: 0
}
a.pro-go-back {
background: url(../img/left-arrow.png) no-repeat 0 4px;
height: 20px;
display: inline-block;
padding-left: 20px;
font-size: 17px;
color: #000;
}
.pro-e-pencil {
position: absolute;
right: 30px;
top: 10px;
cursor:pointer;
}
.radio-custom {
opacity: 0;
position: absolute;
}
.pro-edit-dob div {
float: left;
margin: 0 15px 10px 0;
}
.radio-custom, .radio-custom-label {
display: inline-block;
vertical-align: middle;
cursor: pointer;
}
.radio-custom-label {
position: relative;
}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
content: '';
background: #fff;
border: 2px solid #ddd;
display: inline-block;
vertical-align: middle;
width: 20px;
height: 20px;
padding: 2px;
margin-right: 10px;
text-align: center;
}
.radio-custom + .radio-custom-label:before {
border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
background: #f57104;
box-shadow: inset 0px 0px 0px 4px #fff;
}
.inact-chbox {
margin-top: 10px;
}
.inact-chbox input[type="checkbox"] {
height: 20px;
width: 190px;
}

/* Animation css */

/*.sample-show-hide {
  padding:10px;
}*/
.sample-show-hide {
-webkit-transition: all linear 0.5s;
transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
opacity: 0;
}

/* Changes */
.address_wrapper.wd_100, .mobile_wrapper.wd_100 {
margin-bottom: -6px;
}
.remove_tag {
float: right;
}
.remove_tag img {
position: relative;
top: 5px;
width: 12px;
}
.p-edit-timeslot h6 {
color: #333;
font-size: 15px;
}
.my_practice_container_edit .indiv_form select:focus {
border: 1px solid #7B8EA0 !important;
}
.p-edit-timeslot {
margin-top: -10px;
}
input {
border: 1px solid #ccc;
border-radius: 3px;
padding: 5px 10px;
font-size: 13px;
height: 34px;
width: 100%;
margin-bottom: 12px;
}
.label_display {
font-weight: bold !important;
}
select {
border: 1px solid #ccc;
border-radius: 3px;
padding: 5px 6px;
font-size: 13px;
height: 34px;
width: 93%;
margin-bottom: 12px;
color: #6e6e6e;
}
.edit_education .ng-scope .mid_line:first-child {
border: 0px !important;
}
tbody {
background-color: #fff !important;
}
.legend_display_box {
display: block;
}
.legend_display_box p {
display: inline-block;
padding-right: 10px;
position: relative;
top: -4px;
left: 0px;
font-weight:700;
}
.legend_box {
  border:1px solid #ccc;
  background: #DCF9F4;
  display: inline-block;
  /*padding: 10px 10px 10px 12px;*/
  width: 18px;
  height: 18px;
}
.legend_box1 {
  border:1px solid #ccc;
  background: #EEEEEE;
  display: inline-block;
  /*padding: 10px 10px 10px 12px;*/
  width: 18px;
  height: 18px;
}
.center_block {
  width: 70%;
  display: block;
  margin: 0px auto;
  padding: 10px;
  height: 45px;
}
p.top_content {
font-size: 1.3em;
text-align: center;
position: absolute;
left: 17%;
top: 10px;
}
.contact_positions {
position: relative;
/*top: 30px;*/
}
.label_spacing {
margin-bottom: -5px;
}
.characters_left_spacing {
position: absolute;
color: #ccc;
margin-top: 2px;
}
.timing_mm_label {
margin-top: 20px;
}
.timing_mm_select {
margin-left: -22px;
}
.relative {
position: relative;
}
a.addMoreContact {
position: relative;
left: 10px;
top: 10px;
}
.edit-more-action {
  position: absolute;
  right: 10px;
  top: 5px;
}
a.removeMoreContact {
  background: url(../img/remove-icon.png) no-repeat 0 0;
  text-indent: -9999px;
  float: left;
  width: 12px;
  height: 12px;
  margin: 5px 0 0 5px;
}
.time-error-msg {
margin-top: 0px;
padding-top: 0px
}
a.addmore-btn {
  background: url(../img/plus.png) no-repeat 0 0;
  text-indent: -9999px;
  float: left;
  width: 22px;
  height: 22px;
}
.iconPositionLabel {
float: left;
padding-right: 10px;
position: relative;
top: 3px;
}
.hrs_text {
position: relative;
color: #e3e3e3;
top: -43px;
left: 52px;
font-size: 1.1em;
}
.exp_mno_btn {
border: 1px solid #fff !important;
position: relative;
margin-right: 18px;
}
.hospital_position_icon {
background: #fff;
top: 99px;
left: 22px;
position: absolute;
}
.hospital_location_icon {
background: #fff;
top: 340px;
left: 22px;
position: absolute;
}
.hospital_city_icon {
background: #fff;
top: 213px;
left: 22px;
position: absolute;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 8px 15px;
}
.empty_state1 {
margin-left: 25px;
margin-top: -13px;
}
.pad-lr-0 {
padding-left: 0;
padding-right: 0;
}
.pad-lr-5 {
padding-left: 5px !important;
padding-right: 5px !important;
}
.pad-l-0 {
padding-left: 0;
}
.pad-l-25 {
padding-left: 25px !important;
}
.mar-t-0 {
margin-top: 0;
}
.wd_100.mar-b-10 {
margin-bottom: 10px;
}
.mar-b-0 {
margin-bottom: 0 !important;
}
.consulting-fee-wrapper {
position: relative;
}
.consulting-fee-wrapper i.fee-icon {
position: absolute;
top: 10px;
left: 3px;
}
.consulting-time-wrapper {
position: relative;
    top: 8px;
}
.consulting-time-wrapper i.clock-icon {
position: absolute;
top: 1px;
left: 6px;
}
input.custom-width {
width: 93% !important;
display: inline-block;
}
.fright {
float: right;
}
.tcell img, .tcell p {
display: table-cell;
}
.cboth {
clear: both;
}
.checkbox-size {
width: 20px !important;
}
.reg_alignment {
  display: block;
  margin-top: 6px;
  font-weight: 600;
  text-align: left;
}

.indiv_form .asterick, .asterick{
  color:red !important;
  font-size: 20px;
  margin: 0px 0 0 2px;
}

.time-slots-table th{
  background-color:#7b8ea0;
  color:#fff;
  font-size:16px;
  font-weight: 500;
}
.phone-no{
  padding-left:5px !important;
}
/*.clinic_wrapper .error-msg{
  margin-top:0 !important;
  font-size: 12px;
}*/
.error-top {
   margin-top: -10px !important;
    margin-bottom: 10px;
}
.my_practice_tab .indiv_clinics .timing_wrapper .timing label:empty {
    display: none;
}
.indiv_form label {
    padding-bottom: 5px;
}
a.reg-add-opt {
    margin-left: 5px;
}
.ep-address {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.edit_membership input[type='text'],
.edit_awards input[type='text'],
.edit_publication input[type='text'] {
  width: 95%;
}

.contcat_editicon_alignment img{
    position: relative;
    left: -7px;
}


.p-edit-fsp {
    margin-bottom: 10px;
}
.p-edit-fsp input,
.p-edit-fsp select {
    margin-bottom: 0 !important
}
.edit_icon img {
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0 !important;
}
.visible-hidden {
  visibility: hidden;
}
.showMapBlock {
    position: fixed;
    top: 70px;
    left: 11%;
    width: 80%;
    margin: 0px auto;
    display: block;
    opacity: 1;
    background: #fff;
    height: 550px;
    z-index: 999;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px #ccc;
}
.showMapBlock .map-input {
    width: 30%;
}
.showMapBlock h2 {
  margin: 0;
  float: right;
}

.map_infotext {
      font-size: 20px;
    font-weight: 600;
}

.map_updatepopup_btn {
  padding:5px 10px;
  width: auto;
  float: right;    
  margin-top: 20px;
}
.edit_icon_hover  {
  cursor: pointer;
}
select.ui-datepicker-year {
  width: 100% !important;
  clear:both;
}

.read_locationview {
	margin-left:5px;
}

.error_location_mapping {
	color:#f00;
}

.map_reload_text {
	position: relative;
    top: -24px;
    font-size: 1.2em;
    cursor: pointer;
    color: #298781;
    font-weight: 600;
}

.dropdown-menu.settingsMenuProfile{
        display: block;
    padding: 0;
    width: 100%;
    border: 1px solid;
        position: absolute;
    right: -132px;
       
}
.dropdown-menu.settingsMenuProfile li a{
    padding: 3px 13px!important;
     min-width: auto!important;
    display: block;
}




