input, textarea {
	transition: all 0.3s ease;
}
input:hover, textarea:hover {
	border-color: #c7c7c7 !important;
}
input:focus, textarea:focus {
	box-shadow: 0 0 8px #dcdcdc;
	background-color: #fff;
	border-color: #afaeae !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	background-color: transparent !important;
}
/*.hcue-calender-section {
	background-color: rgba(150, 180, 200, 0.9);
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}*/
.middlealign {
	display: table;
	height: inherit;
	width: 100%;
}
.middlealign > div {
	display: table-cell;
	vertical-align: middle;
}

/* Place Holder CSS */
.form-section::-webkit-input-placeholder {
	color: #999;
	font-weight: 400;
	opacity: 0.5;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:-moz-placeholder {
	color: #999;
	font-weight: 400;
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section::-moz-placeholder {
	color: #999;
	font-weight: 400;
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:-ms-input-placeholder {
	color: #999;
	font-weight: 400;
	opacity: 0.5;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
.form-section:hover::-webkit-input-placeholder {
	opacity: 0.75;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:hover:-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:hover::-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:hover:-ms-input-placeholder {
	opacity: 0.75;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
.form-section:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:focus:-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:focus::-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.form-section {
	margin-bottom: 15px;
	position: relative;
}
.form-section label {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 6px !important;
	line-height: 14px;
	display: block;
}
.form-section label span {
	color: #999999;
	font-size: 12px;
	letter-spacing: 1px;
}
.form-section textarea {
	border: 1px solid #cdcdcd;
	display: block;
	padding: 5px 10px;
	width: 100%;
}
.form-section textarea:focus {
	box-shadow: 0 0 8px #dcdcdc;
	background-color: #fff;
	border-color: #afaeae !important;
}
.popup-icon-calendar {
	background-image: url(../images/cal-icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px);
	cursor: pointer;
	padding-right: 35px !important;
}

/* common input */
.text-section {
	background-color: #fff;
	border: 1px solid #cdcdcd;
	color: #000;
	font-size: 14px;
	line-height: normal;
	padding: 10px;
	height: 32px;
	width: 100%;
}

/* common dropdown end */
.popup-textarea textarea {
	border: 1px solid #d1d1d1;
	width: 100%;
	padding: 10px;
}

/* common radio button */
.popup-radio-button ul {
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.popup-radio-button ul li {
	position: relative;
	float: left;
	margin-bottom: 11px;
}
.popup-radio-button ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
	margin-top: 0;
	width: 12px;
	height: 12px;
}
.popup-radio-button label:after {
	display: none;
}
.popup-radio-button ul li label {
	background-color: transparent !important;
	cursor: pointer;
	color: #000;
	display: block;
	position: relative;
	padding: 0 20px 0 20px;
	margin: 0px auto;
	height: 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	-webkit-transition: all 0.25s linear;
	z-index: 9;
}
.popup-radio-button ul li .check {
	background-color: #fff;
	display: block;
	position: absolute;
	border: 1px solid #b7b7b7;
	border-radius: 100%;
	height: 12px;
	width: 12px;
	top: 0;
	left: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.popup-radio-button ul li:hover .check {
	border: 1px solid #00c853;
}
.popup-radio-button ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 4px;
	width: 4px;
	top: 3px;
	left: 3px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear
}
.popup-radio-button input[type=radio]:checked ~ .check {
	border: 1px solid #22ae81;
	background-color: #fff;
}
.popup-radio-button input[type=radio]:checked ~ .check::before {
	background: #00c853;
}
.popup-radio-button .search-patients {
	color: #999999;
	line-height: 14px;
	margin-right: 15px;
}

/* common radio  button end*/

/* common dropdown start */
.popup-dropdown:focus {
	box-shadow: 0 0 8px #dcdcdc;
	border-color: #afaeae !important;
}
.popup-dropdown option:first-child {
	color: #999999 !important;
	/*display: none;*/
}
.popup-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #cdcdcd;
	background-image: url("../images/popup-dropdown.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: #999999;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	height: 32px;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 7px 15px 7px 8px;
	text-overflow: ellipsis;
	outline: none;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
}
.float-checkbox {
	margin-bottom: 15px;
}
.float-checkbox .popup-checkbox {
	float: left;
	margin-left: 15px;
}
.float-checkbox .popup-checkbox:first-child {
	margin-left: 0;
}

/* common checkbox */
.popup-checkbox input[type="checkbox"] {
	display: none;
}
.popup-checkbox input[type="checkbox"] + label {
	cursor: pointer;
	color: #000;
	font-size: 14px;
	display: inline-block;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 0;
}
.popup-checkbox input[type="checkbox"] + label:before {
	background-image: url("../images/popup-checkbox.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	top: 4px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.popup-checkbox input[type="checkbox"]:checked + label:before {
	background-image: url("../images/popup-checkbox.png");
	background-repeat: no-repeat;
	background-position: 0 -17px;
	content: "";
	width: 17px;
	height: 17px
}
.popup-heading h3 {
	border-bottom: 1px solid #d6d6d6;
	color: #323232;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 18px;
	margin-bottom: 20px !important;
}
.hcue-calender-section .calender-popup-wrap {
	box-shadow: 0 0 8px #8ea7ac;
	max-width: 790px;
	margin: 0 auto;
	position: relative;
}
.hcue-calender-popup {
	background-color: #f8f8f8;
	position: relative;
}
.calender-popop-close {
/*	position: absolute;
	padding: 5px;
	right: 25px;
	top: 15px;
	z-index: 9;*/
	position: absolute;
    padding: 8px 10px;
    right: 0;
    top: 0;
    z-index: 9;
    background: #efeded;
}
.hcue-calender-popup .calender-user {
	background-color: #28465a;
	width: 250px;
	padding: 30px;
	text-align: center;
	float: left;
	position: relative;
	z-index: 9;
}
.hcue-calender-section .calender-popup-wrap:before {
	background-color: #28465a;
	content: "";
	position: absolute;
	width: 250px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.alternats-tablets{
	position: relative;
}
.alternats-tablets .calender-popup-wrap:before {
	background-color: #28465a;
	content: "";
	position: absolute;
	width: 250px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.hcue-calender-popup .calender-user img {
	border-radius: 50px;
	margin-bottom: 10px;
	width: 85px;
	height: 85px;
}
.hcue-calender-popup .calender-user h4 {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.hcue-calender-popup .calender-user-section {
	padding-top: 20px;
	margin-top: 20px;
	position: relative;
}
.hcue-calender-popup .calender-user-section:before {
	background-color: #536b7b;
	content: "";
	position: absolute;
	height: 1px;
	width: 78px;
	left: 50%;
	top: 0;
	margin-left: -39px;
}
.calender-user-section h6 {
	color: #c0e6ff;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
}
.calender-user-section h6:after {
	background-image: url(../images/popup-arrow2.png);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	width: 50px;
	right: -15px;
	height: 47px;
	top: -50px;
}
.hcue-calender-popup .calender-user .defult-name {
	color: #c0e6ff;
	font-size: 16px;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	line-height: 16px;
	margin-top: 5px;
	position: relative;
}
.hcue-calender-popup .calender-user .defult-name:after {
	background-image: url(../images/popup-arrow.png);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	width: 53px;
	right: -16px;
	height: 26px;
	top: -12px;
}
.hcue-calender-popup .calender-user .heading {
	color: #c0e6ff;
	font-size: 13px;
	font-weight: 500;
	line-height: 13px;
	margin: 0;
	margin-bottom: 10px;
}
.hcue-calender-popup .calender-user p {
	color: #fff;
	font-size: 15px;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	line-height: 15px;
	display: block;
	padding-bottom: 0;
	margin-bottom: 8px;
}
.hcue-calender-popup .calender-details {
	background-color: #f8f8f8;
	padding: 20px 15px;
	width: 550px;
	float: left;
}
.hcue-calender-popup .calender-user .costom {
	color: #c0e6ff;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	word-break: break-all;
}
.calender-user-section .dates {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 6px;
}
.calender-user-section time {
	color: #fff;
	display: block;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	font-size: 15px;
	line-height: 14px;
}
.calender-user-section p.droctor-name {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin-bottom: 5px;
}
.calender-user-section p.doctor-speciality {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}
.hcue-calender-popup .calender-details h4 {
	color: #8d8d8d;
	font-size: 14px;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	line-height: 14px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.hcue-calender-popup .calender-details h5 {
	color: #28465a;
	font-size: 16px;
	line-height: 16px;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.hcue-calender-popup .calender-details h5:before {
	background-color: #7b8d99;
	content: "";
	position: absolute;
	height: 1px;
	width: 78px;
	left: 0;
	bottom: 0;
}
.popup-timing .popup-dropdown {
	width: 47%;
	float: left;
	margin: 0 3%;
}
.popup-timing .popup-dropdown:first-child {
	margin-left: 0;
}
.popup-timing .popup-dropdown:last-child {
	margin-right: 0;
}
.add-patients {
	color: #00c853;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 0;
	margin: 6px 0;
}
.add-patients a {
	border-bottom: 1px solid #baeccf;
	color: #00c853;
	text-transform: uppercase;
	position: relative;
	margin-left: 5px;
}
.add-patients a:hover {
	border-bottom: 1px solid #28465a;
	color: #28465a;
}
.previous-appointment .heading, 
.previous-appointment h4, 
.previous-appointment p, 
.previous-appointment time {
	/*color: #536b7b !important;*/
	text-decoration: line-through;
}
.calender-details .mobile-register {
	color: #555555;			
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	margin-top: 6px;
}
.calender-details .mobile-register a {
	color: #00c853;
	border-bottom: 1px solid #00c853;
}
.calender-details .mobile-register a:hover {
	border-bottom: 1px solid #28465a;
	color: #28465a;
}
textarea::-webkit-scrollbar {
	width: 6px;
	height: 10px;
}
textarea::-webkit-scrollbar-corner {
	background-color: #fff;
}
textarea::-webkit-scrollbar-thumb {
	background-color: #28465a;
	min-height: 28px;
}
textarea::-webkit-scrollbar-track {
	background-color: #fff;
	border: none;
}
.popup-patient-search {
	background-color: #fff;
	border: 1px solid #cdcdcd;
	border-top: 0;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 1;
	height: 215px;
	overflow-y: scroll;
}
.popup-patient-search::-webkit-scrollbar {
	width: 6px;
	height: 10px;
}
.popup-patient-search::-webkit-scrollbar-corner {
	background-color: #fff;
}
.popup-patient-search::-webkit-scrollbar-thumb {
	background-color: #28465a;
	min-height: 28px;
}
.popup-patient-search::-webkit-scrollbar-track {
	background-color: #fff;
	border: none;
}
.popup-patient-search ul {
	margin: 0;
	padding: 0;
}
.popup-patient-search li font {
	color: #000;
}
.popup-patient-search li {
    cursor: pointer;
    color: #777;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    display: block;
}
.popup-patient-search li:hover {
	background-color: #f6f6f6;
}
.popup-patient-search [class*="col-md"] {
	float: left;
}
.popup-button {
	background-color: #00c853;
	border: 0;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 20px;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
	position: relative;
}
.popup-button:hover {
	background: #43a047;
}
.search-options ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.search-options li {
	float: left;
	margin-bottom: 6px;
}
.search-options .search-patients {
	color: #999999;
	line-height: 14px;
	margin-right: 15px;
	margin-top: 5px;
}
.margin-bottom-25 {
	margin-bottom: 25px;
}
.calender-details .create-event {
	margin-right: 50px;
	color: #00c853;
	font-size: 13px;
	font-weight: 500;
	line-height: 14px;
	padding: 0;
	border-bottom: 1px solid #00c853;
	text-transform: uppercase;
}
.calender-details .create-event:hover {
	border-bottom: 1px solid #28465a;
	color: #28465a;
}
.appointment-popover {
	position: relative;
}
.appointment-popover-header {
	margin-bottom: 5px;
}
.appointment-popover .appointment-popover-section {
	box-shadow: 0 0 8px #dcdcdc;
	background-color: #fff;
	display: none;
	width: 415px;
	padding: 15px 1px 1px 1px; 
}
.appointment-popover:hover .appointment-popover-section {
	display: block;
}
.popover-image {
	width: 30%
}
.popover-details {
	width: 70%
}
.appointment-popover-section .popover-image,
.appointment-popover-section .popover-details {
	float: left;
	padding: 10px 0 0;
}
.appointment-popover-section .col-md-7 {
	border-right: 1px solid #e8e8e8;
}
.appointment-popover-section .popover-image img {
	border-radius: 50px;
	width: 53px;
	height: 53px;
	margin-right: 16px;
	margin-left:5px;
	float: left;
}
.appointment-popover-section .popover-details h3 {
	color: #1b4c5e;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 8px;
}
.appointment-popover-section .popover-details p {
	color: #555555;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 8px;
	padding: 0;
}
.appointment-popover-section .popover-details p:last-child,
.appointment-popover-section .popover-timming p:last-child {
	margin-bottom: 0;
}
.appointment-popover-section .popover-timming {
	margin: 21px 0;
}
.appointment-popover-section .popover-timming p {
	color: #1b4c5e;
	/*font-family: 'proxima_novasemibold';*/
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
}
.appointment-popover-section .popover-button button{
	border: none;
    background-color: #00c853;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0 4px;
   /* font-family: 'proxima_novasemibold';*/
   font-weight: 600;
    width: 100%;
    border: 1px solid #00c853;
    text-transform: uppercase;
}
button.btn-cancel-app.app-cancel {
    background: #fff;
    border: 1px solid #00c853;
    color: #00c853;
}
.padding-right-0{
	padding-right: 0;
}
.padding-left-0{
	padding-left: 0;
}
.reschedule-button{
	border-left: 1px solid #fff;
	padding-left: 0;
}
.alternats-tablets{
	margin:-4px;
	display: none;
}
.hcue-calender-popup input[disabled],.hcue-calender-popup select[disabled]{
	background-color: #e1e1e1;
}
.popup-error-text{
	background:#ffdcdc;
	padding:5px;
	font-size:13px;
	border-radius:3px;
}
.popup-register-text{
	color: #00c853;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    border-bottom: 1px solid #baeccf;
    color: #00c853;
    text-transform: uppercase;
}
.no-action {
    opacity: 0.2;
    pointer-events: none;
}
.modal-backdrop {
    background-color: rgba(150, 180, 200, 0.9) !important;
    opacity: 1 !important;
}
/*radio*/
.rb input[type="radio"] {
    display: none;
}
.rb input[type="radio"] + label {
    color: #292321;
    font-size: 14px;
}
.rb input[type="radio"] + label span, 
.rb input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
.rb input[type="radio"] + label span {
    background-color: #fff;
}
.rb input[type="radio"]:checked + label span {
    border: 6px solid #00c853;
}
.rb input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #00c853;
}
.app-status-checkin{color:#70d7cc!important;}
.app-status-booked{color:#757ef8!important;}
.app-status-completed{color:#ff9024!important;}
.app-status-started{color:#77cb52!important;}
.evt-new .form-section {
    float: left;
}
.n-cal h6 {
	font-size: 14px;
    float: left;
    color: #000;
    margin: 5px 0 0;
}