.loader,
.loader:before,
.loader:after {
  border-top: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}

.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-top-color: #f772be;
  animation: rotate 1s infinite linear;
}
.loader:before, .loader:after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader:before {
  border-top-color: #27ef76;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  animation: rotate 2s infinite linear;
}
.loader:after {
  border-top-color: #f9ff08;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}