/**Login CSS**/

/* 
.login-section {
    padding: 60px 70px;
} */

.login-rightside h2 {
    color: #2baa96;
    font-size: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.product-feature {
    padding-left: 70px;
    position: relative;
    margin-bottom: 30px;
}

.product-feature .feature-icon {
    position: relative;
}

.product-feature .feature-icon {
    position: absolute;
    left: 0;
}

.product-feature .product-details h3 {
    color: #646464;
    font-size: 18px;
}

.product-feature .product-details span {
    color: #969696;
    font-size: 14px;
}

.left-cont {
    float: left;
    width: 50%;
    padding: 50px 40px 0;
}

.left-cont:before {
    position: fixed;
    content: '';
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    background: #0358a5;
    z-index: 0;
}

.left-cont:after {
    position: fixed;
    content: '';
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    background: #fff;
    z-index: 0;
}

.left-cont * {
    position: relative;
    color: #fff;
}

.left-cont .log {
    margin-bottom: 40px;
}

.left-cont .auth {
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
    color: #fff;
}

.left-cont p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px 0px 25px 0px;
    text-align: justify;
}

/* ----   Login   ----- */

/*
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
*/

.right-cont {
    float: left;
    width: 50%;
}

.right-cont .dib {
    display: inline-block;
}

.right-cont .formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(3, 88, 165, 0.3);
    box-shadow: 0px 0px 50px 0px rgba(3, 88, 165, 0.3);
    text-align: center;
    margin: 80px auto 40px;
}

.right-cont .formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: right;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.login-section input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #0459a5;
    border: none !important;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgb(226, 229, 232);
    box-shadow: 0 10px 30px 0 rgb(226, 229, 232);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-section input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #0459a5 !important;
}

.login-section input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95) !important;
}

.login-section input[type=password],
.login-section input[type=email] {
    background-color: #f8f8f842;
    border: none !important;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #0459a552 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.login-section input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9 !important;
}

.login-section input[type=text]:placeholder {
    color: #cccccc;
}

.right-cont .footer,
.left-cont .footer {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin: 70px 0px 0px 0px;
    padding: 0px 0 0 0px;
}

.right-cont address,
.left-cont address {
    padding: 0px 0px 0px 16px;
    text-align: left;
    font-size: 12px;
    line-height: 26px;
}

.right-cont address:before,
.left-cont address::before {
    position: absolute;
    content: '\f041';
    left: -3px;
    top: 0px;
    font-family: 'FontAwesome';
    font-size: 18px;
}

.right-cont ul,
.left-cont ul {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.right-cont ul li,
.left-cont ul li {
    float: none;
    width: 100%;
    font-size: 12px;
    position: relative;
    padding: 0px 30px;
    margin: 0px 0px 0px 0px;
    line-height: 27px;
}

.right-cont ul.phone li:nth-child(1):before,
.left-cont ul.phone li:nth-child(1):before {
    position: absolute;
    content: '\f095';
    left: 5px;
    top: 0px;
    font-family: 'FontAwesome';
    font-size: 16px;
}

/* .right-cont ul li:nth-child(2):before,
.left-cont ul li:nth-child(2):before {
    position: absolute;
    content: '\f0ac';
    left: 5px;
    top: 0px;
    font-family: 'FontAwesome';
    font-size: 16px;
} */

.right-cont ul.mail li:nth-child(1):before,
.left-cont ul.mail li:nth-child(1):before {
    position: absolute;
    content: '\f003';
    left: 5px;
    top: 0px;
    font-family: 'FontAwesome';
    font-size: 16px;
}

.right-cont ul.mail li:nth-child(2):before,
.left-cont ul.mail li:nth-child(2):before {
    position: absolute;
    content: '\f0ac';
    left: 5px;
    top: 0px;
    font-family: 'FontAwesome';
    font-size: 16px;
}

/* ANIMATIONS */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

*:focus {
    outline: none;
}

#icon {
    width: 100px;
    margin: 30px 0px;
}

/*.login-form {
    background: #fafafa;
    -webkit-box-shadow: 0 0 5px rgb(150, 144, 144);
    -moz-box-shadow: 0 0 5px rgb(150, 144, 144);
    box-shadow: 0 0 5px rgb(150, 144, 144);
    padding: 20px 0;
    position: absolute;
    width: 100%;
    max-width: 350px;
    right: calc(25% - 175px);
    top: 200px;
}

.login-form .logo-header {
    color: #48b09e;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px
}

.login-form .logo-header span {
    color: #F5812F;
}

.login-form .logo-tagline {
    color: #3E3E3E;
    font-size: 18px;
    font-family: 'proxima_novalight', sans-serif
}

.login-form .header {
    color: #6d6d6d;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px
}

.login-form .form-control.ctrl {
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #d1d1d1;
    padding: 10px 30px 10px 12px;
}

.login-form .form-control.ctrl::-webkit-input-placeholder {
    color: #999;
}

.login-form .form-control.ctrl:-moz-placeholder {
    color: #999;
}

.login-form .form-control.ctrl::-moz-placeholder {
    color: #999;
}

.login-form .form-control.ctrl:-ms-input-placeholder {
    color: #999;
}

.login-form .form-control.ctrl::-ms-input-placeholder {
    color: #999;
}

.login-form .form-control.ctrl:placeholder-shown {
    color: #999;
}

.login-form .btn.btn-primary {
    font-size: 16px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 0 7px;
}

.login-form .txt-ctrl {
    font-size: 14px;
    color: #838383;
    margin: 0;
    cursor: pointer;
}

.forgotpassword label {
    cursor: pointer;
}

.login-form a.green-font {
    color: #48b09e;
}*/

.view-frame {
    padding: 0px !important;
}

.paage-content,
.view-container,
.view-frame {
    height: 100%
}

/**Username and Password CSS**/

.user-ctrl {
    position: relative;
}

.user-ctrl:after {
    content: '';
    top: 50%;
    right: 15px;
    z-index: 1;
    position: absolute;
    background: url(../img/login-email.png) no-repeat 0px 1px;
    display: inline-block;
    width: 15px;
    height: 13px;
    border: 0px none;
    margin-top: -7px;
}

.pswd-ctrl {
    position: relative;
}

.pswd-ctrl:after {
    content: '';
    top: 50%;
    right: 15px;
    z-index: 1;
    position: absolute;
    background: url(../img/login-password.png) no-repeat 0px 1px;
    display: inline-block;
    width: 15px;
    height: 13px;
    border: 0px none;
    margin-top: -7px;
}

.webapp-resetpassword footer {
    left: inherit;
    position: inherit;
    margin-left: inherit;
    bottom: inherit;
}

@media (max-width: 1024px) {
    .login-section {
        padding: 35px 0;
    }
    .login-form {
        padding: 10px 0;
    }
    .form-group {
        padding: 0 15px;
    }
}

@media (max-width: 1200px) {
    .webapp-login footer {
        left: 50%;
        margin-left: -485px !important;
    }
    .webapp-resetpassword footer {
        left: inherit;
        margin-left: inherit !important;
    }
}

/*forgotpassword section*/

.forgotpassword-section {
    padding: 60px 0;
}

.forgotpassword-section h2 {
    font-size: 28px;
    font-weight: 200;
    color: #66757f;
    margin-top: 0;
    margin-bottom: 36px;
}

.forgotpassword-section h4 {
    color: #292f33;
    font-size: 14px;
    margin: 0;
    padding-bottom: 20px;
    max-width: 600px;
    line-height: 20px;
}

.forgotpassword .form-group {
    padding-left: 0;
    padding-right: 0;
    margin: 0px 0px 25px 0px;
}

.forgotpassword-section .sendpassword-button {
    padding: 10px 15px 9px;
}

.no-access {
    padding-top: 5px;
}

.no-access a {
    color: #2baa96;
    font-size: 13px;
}

.resetpassword strong {
    display: block;
    margin-bottom: 5px;
}

.forgotpassword-section .userprofile {
    min-height: 60px;
    height: 1px;
    display: table;
    padding-left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.forgotpassword-section .userprofile img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    left: 0;
    position: absolute;
    top: 0;
}

.forgotpassword-section .userprofile span {
    color: #2baa96;
    font-size: 24px;
    line-height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.forgotpassword-section .fm-error-text {
    color: red;
    font-weight: 300;
    font-size: 11px;
}

.resetpassword h2 {
    margin-bottom: 10px;
}

/*.resetpassword{
	padding: 40px 0;
}*/

.forgotpassword-section h4 a {
    color: #2baa96;
}

.frgtpaswd input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.helplinetxt {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: #818181;
    font-size: 12px;
    text-transform: uppercase;
}

.helplinenum {
    font-weight: normal;
    color: black;
    margin-left: 10px;
}

.webapp-login header {
    position: relative;
    z-index: 1;
    height: 60px;
    padding: 0px;
    background: #073b6b;
    border-bottom: 2px solid #073b6b;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.10);
}

.webapp-login .support-no span {
    padding-top: 5px;
    display: inline-block;
}

.webapp-login .support-no h4 {
    margin: 0px;
}

.webapp-login {
    background: #fefefe;
}

.log img {
    width: 100%;
}

.error-mesg-wrap {
    text-align: left;
    padding-left: 35px;
}