.adult-child i,
.df-cf-nv-tb>li>a,
.di-bp-cl,
.di-bp-cl span,
.min-ti-al label,
.nam-op-mcka p,
.text-align,
.type-chart label {
    text-align: center
}

.cash-rec-lab span,
.lbl,
label {
    vertical-align: middle
}

* {
    padding: 0;
    margin: 0
}

.list-option {
    list-style: none;
    padding: 0;
    margin-bottom: 20px
}

.list-option li {
    display: block
}

.close-icn,
.text-view {
    padding-left: 5px
}

.checkbox-in {
    width: 30px;
    height: 30px;
    font-size: 20px
}

.images-top {
    top: -10px
}

.text-view {
    padding-right: 40px
}

.boder-fix-layout {
    background-color: #fff;
    border: 1px solid #bdcfca
}

.margin {
    margin-top: 30px
}

.search-item {
    width: 100%;
    padding: 10px
}

.fa-pencil {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #8d8d8d
}

.tab-width {
    width: 33.3333%
}

.left-border-height {
    height: 150px;
    width: 2px;
    background-color: #484848;
    margin-top: 1px;
    float: left
}

.df-cf-nv-tb>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #09a0a0;
    color: #fff
}

.df-cf-nv-tb>li>a {
    font-size: 15px;
    border-radius: 0;
    background-color: #afe2e2;
    color: #029494;
    height: 40px
}

.df-cf-nv-tb {
    border-bottom: 4px solid #09a0a0
}

.border-inside-text label,
.border-inside-text-bottom {
    border: 2px solid #c0bfbf;
    background-color: #f8f8f8;
    height: 40px;
    line-height: 36px
}

.vital-box {
    margin-top: 15%;
    float: left;
    margin-left: 25%
}

.vital-box label {
    font-size: 20px;
    font-family: Calibri;
    padding-left: 5px
}

.border-inside-text label {
    width: 135px
}

.border-inside-text-bottom {
    width: 205px
}

.vital-box-bottom {
    margin-top: 19%;
    float: left;
    margin-left: 13%
}

.vital-box-bottom label {
    font-size: 20px;
    font-family: Calibri;
    padding-left: 5px
}

.vital-box-right-border {
    float: left;
    width: 2px;
    height: 107px;
    background-color: #c0bfbf;
    margin-top: 15%
}

.done-button input {
    width: 100%;
    height: 50px;
    background-color: #029494;
    border-radius: 8px;
    color: #fff
}

.done-button {
    margin-top: 30px
}

.border-width-fit {
    background-color: #fff;
    border: 2px solid #becfca
}

.add-question-search label {
    color: #009393
}

.search-item-bottom input {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 12px;
    border: 1px solid #d4d4d4
}

.search-item-bottom {
    float: left;
    width: 94%
}

.search-add-plus-button {
    float: left;
    width: 5%;
    margin-left: 1%
}

.search-add-plus-button img {
    cursor: pointer
}

.search-in-label input {
    margin-top: 10px;
    border: 1px solid #d4d4d4;
    padding: 15px;
    width: 97%;
    border-radius: 5px
}

.tab-width-dentals {
    width: 50%
}

.type-chart {
    width: 100%;
    max-width: 225px;
    margin: auto
}

.type-chart label {
    font-size: 20px;
    color: #959595;
    margin-top: 50%
}

.adult-child {
    border: 2px solid #969696;
    width: 150px;
    height: 150px;
    border-radius: 125px;
    margin: auto;
    cursor: pointer
}

.adult-child i {
    font-size: 100px;
    padding-top: 25px;
    color: #969696
}

.ad-chi-name label {
    font-size: 20px;
    padding-top: 5px;
    color: #959595
}

.chd-adt {
    margin-top: 15px
}

.adult-child i:hover {
    color: #01928f
}

.evaltion-box {
    width: 100%;
    background-color: #f3f0f0;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px
}

.evaltion-box label {
    font-size: 17px;
    padding: 12px 0 0 22px;
    color: #3f3f3f
}

.evaltion-box img {
    padding: 10px 15px 0 0;
    cursor: pointer
}

.line-fix {
    width: 95%;
    height: 2px;
    background-color: #d6d6d6;
    margin: auto
}

.tmjev label {
    font-size: 15px;
    font-weight: 700;
    padding: 15px 0 0 20px
}

.evaltion-box-clse {
    width: 100%;
    background-color: #f3f0f0;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px
}

.evaltion-box-clse label {
    font-size: 17px;
    padding: 12px 0 0 22px;
    color: #3f3f3f
}

.evaltion-box-clse img {
    padding: 10px 26px 0 21px;
    cursor: pointer
}

.tmjev span {
    font-size: 16px;
    padding: 28px 14px 0 4px
}

.blue-bce3e3-back {
    background-color: #bce3e3!important;
    border-radius: 2px;
    margin-top: 50px
}

.tmjev-bce3e3 label {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 0 0
}


/*.evaltion-box-bce3e3 {
    width: 100%;
    background-color: #f3f0f0;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px
}*/

.evaltion-box-bce3e3 label {
    font-size: 15px;
    padding: 12px 0 0 22px;
    color: #3f3f3f
}

.evaltion-box-bce3e3 img {
    padding: 10px 15px 0 0;
    cursor: pointer
}

.tmjev span-bce3e3 {
    font-size: 16px;
    padding: 30px 14px 0 4px
}

.evaltion-box-bce3e3 i {
    font-size: 25px;
    padding: 14px 0 0;
    color: #ec2327;
    cursor: pointer
}

.search-bce3e3 input {
    width: 100%;
    height: 40px;
    margin: 2px 0 10px 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding-left: 15px
}

.tote-se-clll label img {
    padding: 5px
}

.tote-se-clll span {
   
    
    
    
    /* line-height: 34px;*/
    margin: 0 0 0 9px;
    padding: 2px 10px 1px;
    /* position: absolute*/
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 5px 11px 5px 10px;
    border-radius: 16px;
    background-color: #a4a4a4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.tote-se-clll span i {
    padding: 10px 0 0 20px;
    color: #fff;
    font-size: 17px;
    cursor: pointer
}

.per-fa-t-clo {
    float: left
}

.paddinh-not {
    padding: 0!important
}

.top-header-slide {
    height: 100px;
    background-color: #f8fafe
}

.lab-name {
    width: 20%;
    float: left
}

.lab-name label {
    padding: 20px 0 0 29px;
    font-size: 20px;
    color: #009393;
    font-weight: 700
}

.lab-name p {
    padding-left: 30px;
    font-size: 15px
}

.ag-gen-size {
    width: 10%;
    float: left
}

.ag-gen-size label {
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0 0
}

.hea-top-line {
    width: 2px;
    height: 70px;
    background-color: #d9d9d9;
    float: left;
    margin: 15px
}

.juts-wid {
    width: 15%
}

.nam-op-mcka {
    float: left;
    background-color: #a9dcdd;
    width: 5%;
    height: 100px
}

.nam-op-mcka p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #fff
}

.di-bp-cl {
    width: 5%;
    float: left
}

.di-bp-cl label {
    font-weight: 700;
    padding-top: 15px
}

.evaltion-box-bce3e3 label img {
    padding: 0;
    margin-right: 5px
}

.aditional-bottom-search input {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: 50px;
    margin: 7px 0 10px;
    padding-left: 15px;
    width: 100%
}

.margin-top {
    margin-top: .5em
}

.tmt-tgu-fh {
    background-color: #cae8ec;
    border-radius: 5px 5px 0 0;
   /* border-bottom: 1px solid #bcbcbc;*/
    width: 100%;
    float: left
}

.tmt-tgu-fh label {
    padding: 5px 0 0 10px;
    font-size: 17px
}

.tmt-tgu-fh label img {
    padding-right: 1px
}

.ri-eg-tk-in {
    float: left;
    width: 4%;
    height: 35px
}

.ri-eg-tk-in i {
    font-size: 20px;
    padding: 0 0 0 10px;
    position: absolute;
    right: 12px;
    top: 8px;
    color: #918f8f;
    cursor: pointer
}

.prdnts {
    width: 100%;
    height: 100%!important;
    background-color: #f3f0f0;
    float: left;
    padding-bottom: 10px
}

.prdnts-Lymphadenopathy,
.prdnts-Mucosa,
.prdnts-toothgum {
    width: 96%;
    height: 100%!important;
    background-color: #f3f0f0;
    float: left
}

.prdnts-toothgum {
    min-height: 200px
}

.prdnts-Mucosa {
    min-height: 130px
}

.prdnts-Lymphadenopathy {
    min-height: 80px;
    margin-top: 20px
}

.tht-prder {
    width: 20%;
    float: left
}

.tht-wth-cnt {
    width: 80%;
    /*float: left;*/
    height: auto
}

.tht-prder label {
    padding: 7px 0 0;
    font-size: 14px;
    color: #3f3f3f;
    margin: 0
}

.tht-wth-icn,
.tht-wth-note {
    /*margin-top: 15px;*/
    float: left
}

.tht-wth-note input {
    width: 100%;
    /* height: 45px;*/
    border: 1px solid #d4d4d4;
    /* border-radius: 5px;*/
    padding-left: 10px;
    color: #3f3f3f;
    font-size: 14px;
    margin-bottom: 10px;
    /*   background-color: #f1fcfc;*/
}

.tht-wth-note select,
.tht-wth-note select option {
    border: 1px solid #d4d4d4;
    padding-left: 10px;
    cursor: pointer
}

.tht-wth-note {
    height: auto;
    /* width: 54% */
}

.tht-wth-note-botom {
    width: 74%
}

.tht-wth-note-next {
    float: left;
    height: auto;
    width: 19%;
    margin-left: 1%
}

.tht-wth-icn {
    height: 50px
}

.tht-wth-icn img {
    margin: 5px 8px 0 15px;
    cursor: pointer
}

.prdnt-cont-nr {
    width: 100%
}

.margin-top-px {
    margin-top: 15px
}

.tht-nt-btm {
    margin-top: -9px!important
}

.tht-wth-note select option {
    border-radius: 5px;
    color: #3f3f3f;
    font-size: 16px;
    height: 50px!important;
    width: 100%
}

.tht-wth-note select {
    width: 100%!important;
    /*border-radius: 5px;
    height: 45px*/
}

.tht-wth-notesDoctor select {
    width: 80%!important;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 151px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: 36px;
    cursor: pointer
}

.tht-wth-notesDoctor {
    float: left;
    height: auto;
    width: 100%;
    padding-left: 20%
}

.list-actionDoctor {
    top: 3px;
    right: 0
}

.gum-tee-hgt {
    height: 200px!important
}

.tht-prder span {
    color: #3ab929;
    padding: 0 0 0 25px;
    font-size: 17px
}

.tht-prder-abnormal span {
    color: #ec2529;
    padding: 0 0 0 25px;
    font-size: 17px
}

.cstm-btm,
.pri-button i {
    font-size: 18px;
    color: #fff
}

.cstm-btm {
    width: 100%;
    background-color: #029393
}

.btn-default:hover {
    background-color: #04aaaa;
    color: #fff
}

.back-border {
    border: 1px solid #bdcfca;
    border-radius: 0 0 5px 5px
}

.he-name-fot label {
    font-size: 19px;
    font-weight: 600;
    padding: 11px 0 0;
       color: #28465a;
}

.he-name-fot p {
    font-size: 17px;
    padding: 0;
    color: #010101
}

.inline-border-dp {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
}

.head-border {
       background-color: #eaf1fb;
    margin: 0px;
    color: #28465a;
}

.head-border label {
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 600;
        color: #28465a;
}

.vtl-in-cnt label,
.vtl-in-cnt-botm {
    font-size: 15px;
    font-weight: 700
}

.vtl-in-cnt {
    color: #080808
}

.bordr-in-md-cnt {
    background-color: #d1d1d1;
    width: 90%;
    margin: auto;
    height: 1px
}

.vtl-in-cnt-botm {
    color: #080808
}

.vtl-in-cnt-botm p {
    color: #564b36;
    padding-top: 10px
}

.margin-top-tm {
    margin-top: 3em
}

.margin-btm-pm {
    margin-bottom: .5em
}

.margin-top-om {
    margin-bottom: 1em
}

.link-list-on label {
    font-size: 13px;
    padding: 5px
}

.link-list-on label img {
    margin-right: 5px
}

.link-list-on span {
    color: #000;
    font-size: 12px
}

.dtl-hst label {
    padding: 13px 0 0 4px;
    padding-bottom: 0!important;
    font-size: 15px;
    float: left;
    width: 95%;
    word-break: break-all
}

.dtl-hst label img {
    padding: 15px
}

.bordr-in-md-cnt-btm {
    background-color: #d1d1d1;
    height: 1px;
    margin: auto;
    width: 95%
}

.line-yel-drp,
.line-yel-drp ul {
    margin-top: 10px
}

.ad-nt-ed label {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px 0
}

.dtl-hst img {
    float: left;
    padding-top: 19px;
    padding-right: 5px
}

.dtl-hst-bottom label {
    padding: 0 0 0 4px;
    font-size: 15px;
    width: 95%;
    float: left
}

.dtl-hst-bottom img {
    padding: 5px 7px 0 10px;
    float: left
}

.hea-dcn-dn label {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 15px;
    color: #28465a;
}

.brd-btm-lab label {
    padding: 10px 0;
    font-weight: 700;
    font-size: 13px
}

.brd-btm-lab label img {
    padding-right: 5px
}

.lag-nabd-lab label {
    padding: 14px 14px 0;
    color: #3f3f3f;
    font-size: 13px;
    font-weight: 700
}

.dtl-hst-ddt-tbm label {
    padding: 10px 0 10px 15px;
    padding-bottom:0 !important;
    font-size: 14px;
    /*color: #787878*/
}

.dtl-hst-ddt-tbm label img {
    padding: 9px
}

.dtl-hst-ddt-tbm-next label {
    padding-bottom: 0!important;
    padding-left: 4px;
    padding-right: 0;
    font-size: 12px;
    padding-top: 0
}

.dtl-hst-ddt-tbm-next label img {
    padding: 0 15px 15px;
    position: relative;
    top: 7px
}

.pre-crip-inf label {
    font-size: 13px;
    padding: 15px 28px 0 3px;
    color: #3f3f3f
}

.pre-crip-inf-main label {
    font-size: 16px;
    padding: 5px 15px 0 13px;
    color: #3f3f3f;
    float: none;
    margin-bottom: 0
}

.pre-crip-inf-main p {
    font-size: 16px;
    padding: 0 15px 0 13px;
    color: #b0b0b0;
    float: none
}

.follo-uwp label {
    padding: 15px 0 0;
    font-size: 20px;
    color: #009393;
    font-weight: 700
}

.time-wid label {
    padding: 0 0 0 15px;
    font-size: 13px;
    font-weight: 700
}

.time-wid span {
    padding: 0 0 0 5px;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: 5px
}

.min-ti-al {
    border: 1px solid silver;
    border-radius: 5px
}

.min-ti-al label {
    font-size: 13px;
    color: #3f3f3f;
    padding: 5px 5px 0 10px;
    line-height: 25px
}

.or-ti-sel-dat label {
    padding: 15px;
    font-size: 13px;
    color: #3f3f3f
}

.or-ti-sel-dat label i {
    font-size: 20px;
    color: #029393;
    padding-left: 5px
}

.cs-not-meddss label {
    padding: 15px;
    color: #020202;
    font-size: 13px
}

.cs-not-meddss label i {
    cursor: pointer
}

.cs-not-meddss input {
    width: 100%;
    border: none;
    padding-left: 15px
}

.day-ye-we span {
    /* display: inline-block; */
    float: left;
    border-radius: 0;
    border-right: none!important
}

.btn-radio-group {
    border-radius: 0;
    padding-right: 14px;
    width: 100%;
    background-color: #ededed;
    color: #707070
}

.line-yel-drp,
.line-yel-drp ul li {
    background-color: #F3F0F0;
    height: 50px;
    border-radius: 5px
}

.subConditions {
    width: 95%;
    margin-left: 5%
}

.line-yel-drp {
    width: 100%
}

.line-yel-drp label {
    padding: 15px 0 0 20px;
    font-weight: 700
}

.line-yel-drp ul li {
    width: 95%;
    list-style-type: none;
    padding: 15px 0 0 20px;
    margin-top: 7px
}

.line-yel-drp img {
    padding: 22px 0 0 13px
}

.stTrtmnt,
.stTrtmntCndtn {
    height: 46px;
    background-color: #f3f0f0;
    font-size: 15px;
    font-weight: 400;
    width: 25%;
    padding: 10px;
    float: left;
    margin-bottom: 10px;
    cursor: pointer
}

.stTrtmnt {
    border-radius: 4px;
    border: none;
    margin-left: 1%
}

.stTrtmntCndtn {
    border-radius: 4px;
    border: none
}

.treatmentLabels {
    float: left;
    width: 40%;
    padding: 7px;
    border: 1px solid #000
}

.cndtn,
.settingsData,
.subCndtn {
    background-color: #f3f0f0;
    border-radius: 4px
}

.checkedTreatments {
    width: 10%;
    float: left;
    padding: 15px;
    text-align: right
}

label.lblCancel,
label.lblOk {
    padding-top: 0;
    padding-bottom: 0;
    float: left
}

.historyTab {
    height: 30px
}

label.lblOk {
    padding-right: 0
}

label.lblCancel {
    padding-left: 0
}


/*.settingsData {
    padding: 10px;
    margin-bottom: 10px
}*/

.settingsData input.checkbox[type="checkbox"]:checked ~ .lbl::before {
    background-color: #fff;
    background-position: -11px 5px;
}

.settingsData label {
    width: 100%
}

.cndtn,
.subCndtn {
    width: 100%;
    padding: 10px
}

#changePwd {
    padding: 10px
}

.list-actionDoctor a {
    margin-left: 10px
}

.gap-height {
    width: 104%!important;
    height: 30px!important;
    background-color: #e7e7e7!important;
    position: relative;
    margin-top: 8px;
    left: -22px;
    margin-bottom: 10px;
    z-index: 1
}

.margin-btm-hgt {
    margin-bottom: 15px!important
}

input.checkbox-circle[type=checkbox],
input.radio-circle[type=radio] {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 12
}

input.checkbox-circle[type=checkbox]:checked~.lbl-not,
input.radio-circle[type=checkbox]:checked~.lbl-not,
input.radio-circle[type=radio]:checked~.lbl-not {
    background-color: #e66868;
    color: #fff
}

input.checkbox-circle[type=checkbox]~.lbl-not,
input.radio-circle[type=checkbox]~.lbl-not,
input.radio-circle[type=radio]~.lbl-not {
    background-color: #bcbcbc;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    top: -2px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    z-index: 11;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.reports-cont ul li a,
.show-data,
.show-graph {
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important
}

input.checkbox-circle[type=checkbox]:checked~.lbl-not.red-gray-notimp,
input.radio-circle[type=radio]:checked~.lbl-not.red-gray-notimp {
    background-color: #e66868
}

.ng-sc-li-st {
    margin-right: 5px;
    float: left
}

.heigh {
    height: 10px;
    width: auto
}

.muscle-ten label {
    padding: 8px 0 0 15px
}

.tht-Lymphadenopathy label {
    padding: 10px 0 0 15px
}

.tab-width-bill {
    width: 25%
}

.vist-reason {
    margin: 25px 0 10px
}

.vist-reason label {
   /* font-family: 'proxima_novasemibold';*/
   font-weight: 600;
    font-size: 15px
}

.vist-reason span {
    font-weight: 300;
    font-size: 15px
}

.data-tow-wards {
       width: 100%;
    margin: auto;
    height: 35px;
    background-color: #cae8ec;
    color: #000;
    font-size: 16px;
}

.data-tow-wards label {
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px
}

.cost-paid {
    width: 100%;
    height: 100%;
    /*background-color: #f7f6f6;*/
    padding-bottom: 10px;
    height: 100%;
    /* background-color: #fff; */
    /* padding: 10px; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */
    border-radius: 5px;
}

.date-calender,
.root-canal-tre {
    width: 65%;
    height: auto;
    float: left;
    margin-left: 15px
}

.date-calender input {
    padding: 0 0 0 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #aaa;
    color: #3f3f3f
}

.date-calender label {
    padding: 5px 0 0;
    font-weight: 400
}

.fa-calendar {
    /*font-size: 21px!important;*/
    /*padding: 12px 0 0 8px;*/
    color: #ee7805;
}

.negit-respon label,
.negitive-responce {
    color: red
}

.date-cal-icn {
    margin-top: 3px;
    margin-bottom: 5px
}

.select-img {
    float: left;
    width: 29%;
    height: 100%
}

.select-img img {
    margin: 5px 0 0 10px;
    cursor: pointer
}

.rup-amount {
    margin-top: 8px
}

.rup-amount label i {
    padding: 0 5px 0 10px;
    margin-top: 5px
}

.negit-respon {
    margin-top: 8px
}

.negit-respon label i {
    padding: 0 5px 0 10px;
    margin-top: 5px;
    color: red
}

.deflt-p-btn,
.search-box {
    margin-top: 10px
}

.font-bold {
    font-weight: 700!important
}

.ttl-bg-col {
    background-color: #d6f5f5;
    width: 100%;
    height: 50px;
    padding-bottom: 10px
}

.tot-amnt label {
    line-height: 38px;
    font-size: 18px;
    font-weight: 400
}


/*.amnt-res-inp {
    float: left
}*/

.amnt-res-inp input {
    width: 35%;
    height: 35px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 14px
}

.amnt-res-inp select {
    height: 35px;
    padding: 9px;
    float: left;
    margin-left: 10px
}

.lab-tax-all label {
    font-weight: 400;
    padding-top: 15px;
    padding-right: 25px;
    font-size: 15px
}

.deflt-p-btn {
    background-color: #029393;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    line-height: 17px
}

.deflt-p-btn:hover {
    color: #fff
}

.extra-amnt-add {
    width: 70%;
    height: 35px
}

.extra-amnt-add input {
    height: 35px;
    padding: 10px;
    width: 100%
}

.amnt-res-inp label {
    float: left;
    padding-top: 7px;
    font-size: 14px;
}

.vist-reason i {
    cursor: pointer;
    padding-left: 20px;
    font-size: 15px
}

.rt-tret-cnl input {
    width: 80%;
    height: 35px;
    /*margin-left: 5%;*/
    padding-left: 5px
}

.plana-rn-amnt label {
    padding-right: 10px;
    margin-top: 20px
}

.plana-rn-amnt img {
    cursor: pointer
}

.rt-tret-cnl img {
    margin-left: 10px
}

.ad-ne-estm {
    margin-top: 15px
}

.ad-ne-estm label {
    cursor: pointer;
    padding-right: 10px
}

.uplo-estim label {
    padding-top: 20px;
    color: #029393;
    font-size: 15px
}

.defult-btn-type input[type=file] {
    position: fixed
}

.deflt-p-btn {
    font-size: 14px;
    width: 95%;
    margin-left: 5%
}

.abc-dntl-labs input {
    width: 95%;
    height: 35px;
    padding-left: 5px;
    margin-left: 5%
}

.lab-tst-act input {
    width: 90%;
    height: 35px;
    padding-left: 5px;
    margin-left: 5%
}

.lab-tsd-img img {
    margin-top: 5px;
    cursor: pointer
}

.uplo-labco label {
    padding-top: 10px;
    color: #029393;
    font-size: 13px
}

.uplo-labco span {
    padding-top: 2px;
    color: #029393;
    font-size: 13px;
    float:left;
}

.hstry-list label {
    padding-left: 10px;
    color: #3f3f3f
}

.hstry-list a {
    color: #029393
}

.inp-check {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 5px 0 0 20px!important;
    border: 1px solid #a7a7a7
}

.dental-right {
    float: left;
    width: 365px;
    left: 30%;
    height: 429px;
    position: relative;
    margin-top: 15px
}

.hd-crown {
    margin-top: 10px
}

.hd-crown label {
    font-weight: 700
}

.hd-crown select {
    /*width: 100%;
    height: 40px;
    border: 1px solid #d4d4d4;*/
    color: #101010;
    padding-left: 5px;
    /* border-radius: 5px;
    font-size: 17px;
    cursor: pointer*/
}

.sel-got {
    width: 315px;
    height: auto;
    margin: auto;
    background-color: #ceff75;
    position: relative;
    top: 15px;
    text-align: center
}

.sg-close {
    width: 100%;
    height: 35px
}

.sg-close label {
    padding-top: 7px;
    cursor: pointer
}

.sg-conte {
    width: 100%;
    height: auto
}

.btn-gotit,
.btn-gotit:hover {
    background-color: #029393;
    color: #fff;
    margin-bottom: 15px
}

.triangle-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #ceff75;
    position: absolute;
    bottom: 13px;
    left: 46%
}

.eval-left-bx-wt-search label {
    font-size: 16px;
    /*padding-top: 14px*/
}

.eval-left-bx-wt-search img {
    padding-right: 5px
}

.trdl-date .delv-date label {
    color: #404040;
    font-size: 17px
}

.delv-date input,
.trdl-date input {
    width: 45%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    padding-left: 5px
}

.trdl-date .delv-date i {
    font-size: 20px!important
}

.raised-status label {
    font-size: 15px
}

.raised-status select {
    width: 57%;
    height: 40px;
    border: 1px solid #d4d4d4;
    font-size: 15px;
    cursor: pointer
}

.extra-add-btn {
    padding-bottom: 20px;
    padding-left: 40px
}

.condotions-bg-se {
    background-color: #fbfafa
}

.lettr-alpha-b label {
    text-transform: uppercase;
    /* padding: 22px 0 0 16px;*/
    color: #029393;
    cursor: pointer
}

.fa-search {
    position: absolute;
    right: 28px;
    top: 23px;
    color: #e1e1e1
}

.conditions-list label {
    /*padding: 10px 0 0 14px;*/
    color: #000
}

.conditions-l-img img {
    /*padding: 10px;*/
    cursor: pointer
}

.page-ntn-btm-bg {
    background-color: #f5f5f5;
    border-radius: 3px
}

.page-ntn label {
    padding: 16px 0
}

.page-ntn select {
    height: 30px
}

.page-next {
    margin: 12px 0 0
}

.page-next label {
    padding: 6px 14px;
    text-transform: uppercase;
    color: #fff
}

.page-next span {
    border: 1px solid #a2a2a2;
    padding: 10px 7px;
    cursor: pointer;
    color: #a2a2a2;
    margin: 3px
}

.cn-prev-btn {
    background-color: #cbcbcb;
    cursor: pointer
}

.cn-next-btn {
    background-color: #f57103;
    cursor: pointer
}

.cn-more-btn {
    border: none!important
}

.seletd-alph {
    background-color: #51a3b3!important;
    color: #fff!important
}

.trtmnt-rat {
    background-color: #d6f5f5;
    padding: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

.trtmt-label label {
    padding: 10px 0 4px;
    font-weight: 700;
    color: #000
}

.trtmt-label i {
    font-size: 25px;
    color: #bcbcbc;
    padding: 5px 0 0 8px;
    position: absolute;
    top: 3px
}

.rat-lsti {
    text-align: center
}

.condt-abcess {
    background-color: #f3ffd6;
    border-radius: 5px
}

.condt-abcess label {
    font-size: 14px
}

.cond-close {
    height: 20px;
    width: 100%
}

.cond-close label {
    cursor: pointer;
    color: #8c8d89;
    font-size: 18px
}

.condt-abcess p {
    font-size: 15px;
    font-weight: 400;
    text-align: center
}

.condt-abcess span {
    color: #269c98;
    font-size: 14px
}

.cn-white-bg {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 15px 2px #888;
    padding-bottom: 10px
}

.cn-cstm-btn {
    margin: 12px 0 0;
    background-color: #029393!important;
    color: #fff;
    width: 100%
}

.delt-condit p {
    color: #000;
    text-align: center;
    font-size: 14px!important;
    margin: 0
}

.dast-btm {
    margin-bottom: 15px
}

.border-bo {
    border-bottom: 1px solid #d2d3d5
}

.dash-from {
    float: left;
}

.dash-from label {
    margin-right: 5px
}

.dash-from input {
    width: 150px;
    height: 30px;
    padding-left: 5px;
    position: relative;
    border: 1px solid #ccc
}

.dash-from select,
.select-dr select {
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 30px 0 5px;
    width: 150px
}

.dash-from img {
    position: relative;
    right: 26px;
    bottom: 1px
}

.dash-submit span {
    background-color: #f57104;
    color: #fff;
    padding: 5px 10px 4px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.dash-height {
    height: 230px!important
}

div.dash-features {
    margin: 10px 0
}


/*div.dash-features span {
    display:inline-block;
    width:140px;
    padding-right:10px;
    font-size:13px;
    font-family:"proxima_novalight";
    font-weight:normal;
    float: left;
    text-align: left;
}*/

.t-name {
    width: 80%;
    padding-right: 10px;
    font-family: "proxima_novalight";
    font-weight: normal;
    float: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-value {
    float: right;
    color: #000;
    font-weight: normal;
}


/*div.dash-features p {
    font-size: 17px;
    overflow: hidden;
}*/

.dash-features-wrapper {
    padding-bottom: 40px;
}


/*.dash-total {
    position: relative;
    border-radius: 3px;
    height: 225px;
}

.dash-total label {
    color: #fff;
    background-color: #7b8e9f;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
}

.dash-total p {
    color: #28465a;
    font-size: 28px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}*/


/*.dash-new-visits {
    float: left;
}*/

.dash-fups {
    float: right;
}


/*.dash-new-visits,
.dash-fups {
    padding: 5px 20px;
}*/

.dash-new-visits span {
    display: block;
}


/*.country-code {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 13px;
}*/


/*.dash-total a,
.dash-total a:hover {
    color: #0396c9;
    text-decoration: none
}*/

.repo-menu,
.repot-dc-date {
    margin-top: 10px
}


/*.dash-view-box {
    border-top: 1px solid #e1e1e1;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}*/


/*.dash-total a {
    font-size: 13px;
    font-family: 'proxima_novasemibold';
}*/

.dash-rcash {
    padding: 5px 20px;
}


/*.dash-double-box {
    padding: 40px 0;
    overflow: hidden;
}*/

.dash-total .dash-rcash span {
    font-weight: normal;
    color: #28465a;
    font-size: 36px;
}


/*.dash-total span {
    font-size: 13px;
}*/

.dash-top label,
.dash-top span {
    font-size: 14px;
    font-weight: 700
}

.dash-top label {
    padding-top: 5px;
    color: #029292;
    padding-left: 10px
}

.dash-top span {
    padding-right: 10px;
    color: #010101
}

.th-lg-col {
    width: 33%;
    float: left
}

.reports-tabs li {
    border-radius: 0
}

.reports-tabs li:active {
    background-color: #51a2b3
}

.cash-rec-lab label {
    font-size: 22px;
    font-weight: 400;
    color: #000
}

.cash-rec-lab span {
    font-size: 22px;
   /* font-family: 'proxima_novasemibold';*/
   font-weight: 600;
    color: #000;
    padding: 0 0 0 13px
}

.rept-bl-bran {
    background-color: #a2a2a2;
    height: 80px
}

.bran-empty,
.date-empty,
.dist-empty,
.empty-space {
    height: 1px;
    float: left
}

.report-dabd {
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0
}

.report-dabd label {
    color: #fff;
    font-size: 14px
}

.report-dabd i {
    color: #010101;
    font-size: 18px
}

.report-dabd input {
    width: 100%;
    padding-left: 5px
}

.repo-menu {
    display: none
}

.repo-menu i {
    border: 1px solid #fff;
    font-size: 18px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer
}

.repot-dc-date label,
.repot-dc-date span {
    font-size: 14px
}

.date-width {
    width: 8%;
    float: left;
    margin-left: 15px
}

.date-empty {
    width: 4%
}

.amount-width {
    width: 15%;
    float: left
}

.branch-width {
    width: 7%;
    float: left
}

.treatment-width {
    width: 14%;
    float: left
}

.empty-space {
    width: 12%
}

.Estimate-width {
    width: 15%;
    float: left;
    margin-left: 15px
}

.sn-no {
    width: 2%;
    float: left;
    margin-left: 15px
}

.sn-no label {
    padding-top: 20px
}

.dist-empty {
    width: 5%
}

.bran-empty {
    width: 3%
}

.order-type-width {
    width: 9%;
    float: left
}

.ttlamnt-width {
    width: 10%;
    float: left
}

.lb-name {
    width: 11%;
    float: left
}

.reports-cont ul {
    border-bottom: none
}

.reports-cont ul li a {
    border-radius: 0;
    padding: 10px 30px;
    margin-right: 0;
    color: #000;
    font-size: 14px;
    border-width: 2px 0 0;
    border-color: #fff;
    border-style: solid;
    line-height: normal
}

.reports-tabs>li a:hover,
.reports-tabs>li.active>a,
.reports-tabs>li.active>a:hover {
    color: #000!important;
    background-color: #f9f9f9!important;
    border-width: 2px 0 0!important;
    border-color: orange!important;
    border-style: solid!important
}

.margin-two {
    margin-top: .2em
}

.date-search input {
    border: 1px solid #CCC;
    height: 30px;
    padding-left: 5px;
    width: 50%
}

.bdr-npmfx,
.di-col-wht, .bo-wht-ol {
    border-top: 1px solid #e7e7e7
}

.prescptn-new {
    background-color: #039394!important;
    margin-top: 10px
}

.gfray-new {
    background-color: #F2F2F2
}

.di-col-wht {
    width: 95%;
    margin-left: 25px
}

.bo-wht-ol {
    width: 100%;
    background-color: #fff
}

.vtl-in-cnt-botm {
    border-top: 1px solid #e7e7e7;
    padding-bottom: 10px
}

.prescptn-new label {
    line-height: 10px;
    color: #fff;
    padding: 5px 0 0 10px;
    font-size: 19px
}

.red-clear textarea,
.red-eclear input,
.red-eclear textarea {
    padding-right: 40px
}

label>input[type=checkbox]+span.lbl,
label>input[type=radio]+span.lbl {
    cursor: pointer
}

input.checkbox[type=checkbox],
input.radio[type=radio] {
    cursor: pointer;
    width: 22px;
    height: 22px;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    z-index: 12;
    filter: alpha(opacity=100)\9;
    visibility: visible\9
}

input.checkbox[type=checkbox]:checked,
input.checkbox[type=checkbox]:focus,
input.radio[type=radio]:checked,
input.radio[type=radio]:focus {
    outline: 0!important
}

input.checkbox[type=checkbox]~.lbl,
input.radio[type=radio]~.lbl {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    min-height: 22px;
    min-width: 22px;
    position: relative;
    vertical-align: top;
    z-index: 11
}

input.checkbox[type=checkbox]~.lbl:before,
input.radio[type=radio]~.lbl:before {
    background: url(../img/checkbox.png) 12px 12px no-repeat #fff;
    background: 0 0\9;
    content: " ";
    display: inline-block;
    height: 22px;
    margin-top: 0;
    margin-right: 0;
    min-width: 22px;
    vertical-align: middle;
    border: 1px solid #22ae81
}

input.radio[type=radio]~.lbl:before {
    height: 22px;
    min-width: 22px;
    border-radius: 50px
}

input.checkbox[type=checkbox]:checked~.lbl:before {
    background-color: #22ae81
}

input.checkbox[type=checkbox]:checked~.lbl:before,
input.radio[type=radio]:checked~.lbl:before {
    background-position: 5px 5px;
    content: " ";
    display: inline-block;
    border: 1px solid #22ae81
}

input.checkbox[type=checkbox]:checked[disabled]~.lbl:before {
    background-position: -18px 4px
}

input.radio[type=radio]:checked[disabled]~.lbl:before {
    background-position: -39px 4px
}

input.radio[type=radio]:checked~.lbl:before {
    background-position: -28px 4px
}

input.checkbox[type=checkbox]:checked[disabled]~.lbl,
input.checkbox[type=checkbox]:disabled~.lbl,
input.radio[type=radio]:checked[disabled]~.lbl,
input.radio[type=radio]:disabled~.lbl {
    cursor: default
}

.Smry-bot i,
.inp-panel img,
.lab-opti select,
.red-clear a,
.red-eclear a,
.span-close span,
.summ-play label i {
    cursor: pointer
}

input.checkbox.disabled[type=checkbox]~.lbl:before,
input.checkbox[type=checkbox]:disabled~.lbl:before,
input.radio.disabled[type=radio]~.lbl:before,
input.radio[type=radio]:disabled~.lbl:before {
    background-color: #f2f2f2;
    background-position: -20px -20px;
    border-color: #e3e3e3
}

input.checkbox-circle[type=checkbox]:checked~.lbl,
input.radio-circle[type=radio]:checked~.lbl {
    background-color: #00c853;
    color: #fff
}

input.checkbox-circle[type=checkbox]~.lbl,
input.radio-circle[type=radio]~.lbl {
    background-color: #bcbcbc;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    top: -2px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 11;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

input.checkbox-circle[type=checkbox]:checked~.lbl.glyphicon-remove,
input.radio-circle[type=radio]:checked~.lbl.glyphicon-remove {
    background-color: #e66868
}

.abnorm-lablgn {
    color: #EC2529;
    font-size: 15px
}

.norm-lablgn {
    color: #56C147;
    font-size: 15px
}

.Smry-bot label {
    width: 100%
}

.dtl-dst-col label {
    color: #3f3f3f!important
}

.red-eclear a {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 9px
}

.pre-crip-inf label {
    padding-left: 5px;
    text-align: left;
    word-wrap: break-word
}

.pre-crip-inf-main {
    padding-left: 5px
}

.pre-crip-inf-note label,
.pre-crip-infinflab label,
.pre-crip-paty-note label {
    padding-left: 15px;
    word-break: break-all;
    text-align: left
}

.pre-crip-inf-note label {
    padding-top: 5px
}

.pre-crip-paty-note label {
    padding-top: 12px
}

.pre-crip-infinflab label {
    padding-top: 5px
}

.dtl-hst-ddt-tbm img {
    padding-left: 5px
}

.thbil-adj>caption+thead>tr:first-child>td,
.thbil-adj>caption+thead>tr:first-child>th,
.thbil-adj>colgroup+thead>tr:first-child>td,
.thbil-adj>colgroup+thead>tr:first-child>th,
.thbil-adj>tbody>tr>td,
.thbil-adj>tbody>tr>th,
.thbil-adj>tfoot>tr>td,
.thbil-adj>tfoot>tr>th,
.thbil-adj>thead:first-child>tr:first-child>td,
.thbil-adj>thead:first-child>tr:first-child>th,
.thbil-adj>thead>tr>td,
.thbil-adj>thead>tr>th {
    text-align: left!important;
    padding-left: 23px!important
}

.pst-rcds img {
    padding-left: 10px
}

.inp-panel {
    margin-top: 16px;
    margin-bottom: 6px
}

.border-setting {
    background-color: #d1d1d1;
    height: 1px;
    margin: auto;
    width: 100%
}

.cond-search-bg {
    background-color: #f3f0f0;
    width: 100%;
    height: 100%
}

.marg-eight {
    margin-top: 8px!important;
    margin-left: 1px!important
}

.wi-tenp {
    width: 10%;
    float: left
}

.wid-oneper {
    width: 5%;
    float: left
}

.wid-tenpers {
    width: 75%;
    float: left;
    margin-left: 20px
}

.wid-twper {
    width: 10%;
    float: left
}

.medicine-table td {
    padding: 5px;
    vertical-align: top
}

.medicine-table h3 {
    font-size: 15px;
    margin: 0 0 5px;
    word-wrap: break-word
}

.medicine-table h4 {
    font-size: 16px;
    margin: 0 0 5px
}

.medicine-table p {
    color: #888
}

.medicine-table a.delete-link:hover {
    text-decoration: none
}

.medicine-table span.num {
    background-color: #7f7f7f;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    line-height: 14px
}

.lab-date,
.lab-type {
    margin-top: 10px!important;
    padding-left: 0!important;
    padding-right: 0!important
}

.padding-bottom {
    padding-bottom: 35px!important
}

.border-row {
    border: 1px solid #c2d3cd
}

.color-hcue {
      color: #28465a;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    margin: 0;
}

.color-hcue label {
    font-size: 19px
}

.col-white {
    background-color: #fff
}

.border-col {
    border: 1px solid #cbcbcb;
    padding-bottom: 10px
}

.lab-heading,
.lab-type {
    border-bottom: 1px solid #d1d1d1
}

.lab-heading {
    color: #009395;
    padding-top: 10px;
    padding-bottom: 5px
}

.lab-date label,
.lab-date span,
.lab-type label,
.lab-type span {
    color: #3f3f3f;
    font-size: 15px
}

.lab-type {
    padding-bottom: 10px!important
}

.lab-type label {
    font-weight: 600
}

.lab-date {
    padding-bottom: 0!important
}

.bck-f3f0f0,
.billing-gray,
.voice-time {
    margin-top: 5px
}

.lab-date label {
    font-weight: 600
}

.voice-note {
    background-color: #fefeda;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 60px
}

.summ-play label i {
    font-size: 30px;
    padding: 15px;
    color: #636363
}

.voice-time span {
    font-size: 15px;
    color: #3f3f3f
}

.circle-voice {
    width: 7px;
    height: 7px;
    border-radius: 30px;
    background-color: #9a9a8e;
    position: absolute;
    left: 5px
}

.lblRs,
.line-voice {
    position: relative
}

.line-voice {
    width: 95%;
    height: 1px;
    background-color: #9a9a8e;
    border-radius: 10px;
    top: 3px
}

.tim-rght {
    padding-right: 17px
}

.bill-span span,
.ttl-bill label {
    padding-right: 8px
}

.padtom {
    padding-bottom: 15px
}

.bill-root span,
.bipan-sp {
    padding-bottom: 10px
}

.billing-gray {
   background-color: #ffffff;
    height: 45px;
    border-bottom: 1px solid #ccc;
}

.billing-gray label {
    /*padding-top: 13px;*/
    color: #28465a;
    font-weight: 700;
    font-size: 16px;
}

.bill-root label,
.bill-span span {
    color: #3f3f3f;
    font-size: 15px;
    /*padding-top: 20px*/
}

.bill-root label {
    display: table-cell;
    font-weight: 600
}

.bill-root span {
    font-size: 15px;
    color: #3e3e3e;
    padding-top: 20px
}

.bill-bdrbtm {
    border-bottom: 1px solid #d1d1d1
}

.ttl-bill label {
    padding-top: 10px
}

.labtest-head label {
    font-weight: 700;
    color: #010101
}

.bck-f3f0f0 {
    background-color: #f3f0f0;
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px
}

.span-close span {
    background-color: #626262;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
    padding: 0 5px;
    margin-left: 10px
}

.hcue-bgcolor {
    background-color: #bce3e3!important;
    margin: 25px -43px -28px!important;
    padding: 20px 35px!important
}

.teet-head12 {
    margin-top: 5px;
    padding: 15px
}

.teet-head12 span {
    font-size: 14px;
    padding: 0 0 0 10px
}

.text-close {
    margin-top: 10px;
    width: auto;
    float: left;
    margin-left: 10px
}

.text-close label {
    background-color: #a4a4a4;
    padding: 7px 7px 7px 14px;
    border-radius: 5px;
    color: #fff
}

.text-close label span {
    margin-left: 25px
}

.final-deliver input,
.tria-dat input {
    padding-left: 5px;
    margin-left: 20px;
    display: inline-block
}

.add-delt-img {
    margin-top: 15px
}

.add-delt-img span {
    padding-right: 15px
}

.lab-search {
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 15px
}

.lab-search input {
    height: 50px
}

.labbdr-height {
    height: 2px;
    background-color: #b7b7b7
}

.tria-dat input {
    width: 35%
}

.margin-10 {
    margin-top: 10px;
    padding-bottom: 10px
}

.final-deliver input {
    width: 30%
}

.lab-opti select {
    height: 50px;
    display: inline-block;
    padding-right: 10px;
    width: 75%;
    margin-left: 10px;
    padding-left: 10px;
    color: #101010
}

.lblRs .fa-inr {
    left: 70px;
    position: absolute;
    font-size: 19px;
    top: 3px
}

.clsComplete .clsauto {
    float: left;
    width: 86%
}

.clsComplete .clsauto input {
    width: 93%;
    margin-left: 28px
}

.clsComplete .lblNewEst,
.clsComplete .lblnewmucosa,
.clsComplete .lblnewtmj {
    float: left;
    width: 8%
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px
}

form .progress {
    line-height: 15px
}

.progress {
    display: inline-block;
    width: 100%
}

.progress div {
    font-size: smaller;
    background: #008484;
    width: 0;
    border-radius: 10px;
    height: 6px
}

.show-data,
.show-graph {
    background-color: #fff;
    padding: 3px 10px 4px;
    font-size: 12px;
    color: #00c853;
    float: right;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #00c853;
}

.show-data:hover,
.show-graph:hover {
    background-color: #00c853;
    color: #fff
}

.no-pad {
    padding: 0
}

.graph-buttons {
    margin-bottom: 10px;
    overflow: hidden;
}

.not-available-page {
    text-align: center;
    min-height: 300px;
    padding: 50px 0
}

.not-available-page p {
    margin-bottom: 0;
    padding-bottom: 5px
}


/*Code merge CSS*/

.lettr-alpha-b label {
   text-transform: uppercase;
    width: 32px;
    color: #484848;
    cursor: pointer;
    background: #ffffff;
    margin: 5px 5px 10px 0 !important;
    border-radius: 100%;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #77cec0;
    font-size: 12px;
    font-weight: 600;
}

.lettr-alpha-b label:hover,
.lettr-alpha-b label.active {
    background: #2baa96;
    color: #fff
}

.trtmnt-rat {
    background-color: #cae8ec;
    padding: 0;
}

.trtmt-label label {
    padding: 10px 0;
    color: #000;
    font-weight: 600;
}

#conditionappend li,
.conditions-list li {
    /* height: 35px; */
    padding: 7px 15px;
    border-bottom: 1px solid #ededed;
    /* overflow: hidden; */
}

.tmt-tgu-fh label {
    padding: 10px 0 9px 10px;
    color: #636465;
}

.prdnts {
    width: 100%;
    height: 100% !important;
    background-color: #fff;
    padding: 15px;
}
.summary-tbl td
{
	padding:10px;
	vertical-align: top;
}

/*Code merge CSS End*/
