.tooth-action a,
.tooth-info ul li a {
    font-weight: 400;
    text-decoration: none
}

.tooth-info ul {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none
}

.tooth-info ul:last-child {
    padding-left: 10px
}

.tooth-info ul li {
    width: 100%;
    float: left;
    padding: 0 0 10px;
    list-style: none
}

.tooth-info ul li a {
    display: block;
    color: #3f3f3f;
    font-size: 15px;
    padding-left: 25px;
    background-image: url(../img/icons-dental.png);
    background-repeat: no-repeat;
    background-position: -2px 2px
}

.tooth-info ul li a:hover {
    color: #ff9000
}

.tooth-info ul li.addnew a {
    background-position: -2px -139px;
    color: #0594bb
}

.tooth-info ul li.active a {
    color: #000;
    background-position: -2px -24px
}

.tooth-info ul li.active a.arrow:after {
    border-left-color: #008200
}

.tooth-action {
    overflow: hidden
}

.tooth-action a {
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px 25px 11px;
    text-transform: uppercase
}

.tooth-action a.cancel-button {
    background: #2c2e2d
}

.tooth-action a.done-button {
    background: #ea4439
}

.adult-tooth.tooth-picture,
.adult-toothLab.tooth-picture ,.adult-toothP.tooth-picture{
    background: url(../img/Dental/adult-outer.png) left top no-repeat;
    position: relative;
    width: 385px;
    height: 470px;
    z-index: 8;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out
}

.tooth-diagram {
    min-height: 480px;
    max-width: 930px;
    margin: 0 auto;
    position: relative
}

.adult-tooth.tooth-picture {
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out
}

.adult-toothLab.tooth-picture {
    margin: 0 0 0 -193px;
    left: 50%;
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out
}
.adult-toothP.tooth-picture {
    margin: 0 0 0 -193px;
    left: 50%;
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out
}


.adult-tooth.tooth-picture:after,
.adult-toothLab.tooth-picture:after,
.adult-toothP.tooth-picture:after {
    content: '';
    width: 0;
    position: absolute;
    top: 28px;
    bottom: 26px;
    left: 51%;
    border-left: 1px dashed #333;
    letter-spacing: 10px
}

.adult-tooth.tooth-picture:before,
.adult-toothLab.tooth-picture:before ,.adult-toothP.tooth-picture:before
{
    content: '';
    height: 0%;
    position: absolute;
    top: 51%;
    left: 45px;
    right: 27px;
    border-top: 1px dashed #333;
    letter-spacing: 10px
}

.tooth-diagram-label,
.tooth-diagram-label_Lab {
    width: 24px;
    height: 24px;
    border: 1px solid #000
}

.tooth-diagram-label.active,
.tooth-diagram-label_Lab.active ,
.tooth-diagram-label_P.active {
    background-color: rgba(253, 86, 86, .8)
}

.adult-tooth .tooth-diagram-label.tl,
.adult-toothLab .tooth-diagram-label_Lab.tl,
.adult-toothP .tooth-diagram-label_P.tl {
    left: 162px;
    top: 206px;
    border-left: none;
    border-top: none
}

.adult-tooth .tooth-diagram-label.tl.active,
.adult-toothLab .tooth-diagram-label_Lab.tl.active,
.adult-toothP .tooth-diagram-label_P.tl.active {
    border-top-left-radius: 40px
}

.adult-tooth .tooth-diagram-label.tr,
.adult-toothLab .tooth-diagram-label_Lab.tr ,
.adult-toothP .tooth-diagram-label_P.tr{
    right: 154px;
    top: 206px;
    border-right: none;
    border-top: none
}

.adult-tooth .tooth-diagram-label.tr.active,
.adult-toothLab .tooth-diagram-label_Lab.tr.active,
.adult-toothP .tooth-diagram-label_P.tr.active {
    border-top-right-radius: 40px
}

.adult-tooth .tooth-diagram-label.center,
.adult-toothLab .tooth-diagram-label_Lab.center,.adult-toothP .tooth-diagram-label_P.center {
    width: 22px;
    height: 22px;
    right: 177px;
    top: 229px;
    border-radius: 50px;
    border: none
}

.adult-tooth .tooth-diagram-label.center:before,
.adult-toothLab .tooth-diagram-label_Lab.center:before ,
.adult-toothP.tooth-diagram-label_P.center:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 10px;
    border-left: 1px solid #000
}

.adult-tooth .tooth-diagram-label.center:after,
.adult-toothLab .tooth-diagram-label_Lab.center:after,
.adult-toothP .tooth-diagram-label_P.center:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 11px;
    left: 0;
    border-top: 1px solid #000
}

.adult-tooth .tooth-diagram-label.bl,
.adult-toothLab .tooth-diagram-label_Lab.bl ,
.adult-toothP .tooth-diagram-label_P.bl{
    left: 162px;
    bottom: 195px;
    border-left: none;
    border-bottom: none
}

.adult-tooth .tooth-diagram-label.bl.active,
.adult-toothLab .tooth-diagram-label_Lab.bl.active,
.adult-toothP .tooth-diagram-label_P.bl.active {
    border-bottom-left-radius: 40px
}

.adult-tooth .tooth-diagram-label.br,
.adult-toothLab .tooth-diagram-label_Lab.br,
.adult-toothP .tooth-diagram-label_P.br {
    right: 154px;
    bottom: 195px;
    border-right: none;
    border-bottom: none
}

.adult-tooth .tooth-diagram-label.br.active,
.adult-toothLab .tooth-diagram-label_Lab.br.active,
.adult-toothP .tooth-diagram-label_P.br.active {
    border-bottom-right-radius: 40px
}

.child-tooth .tooth-diagram-label.tl,
.child-toothLab .tooth-diagram-label_Lab.tl,
.child-toothP .tooth-diagram-label_P.tl {
    left: 112px;
    top: 184px;
    border-left: none;
    border-top: none
}

.child-tooth .tooth-diagram-label.tl.active,
.child-toothLab .tooth-diagram-label_Lab.tl.active,
.child-toothP .tooth-diagram-label_P.tl.active {
    border-top-left-radius: 40px
}

.child-tooth .tooth-diagram-label.tr,
.child-toothLab .tooth-diagram-label_Lab.tr,
.child-toothP .tooth-diagram-label_P.tr {
    right: 112px;
    top: 184px;
    border-right: none;
    border-top: none
}

.child-tooth .tooth-diagram-label.tr.active,
.child-toothLab .tooth-diagram-label_Lab.tr.active ,
.child-toothP .tooth-diagram-label_P.tr.active {
    border-top-right-radius: 40px
}

.child-tooth .tooth-diagram-label.center,
.child-toothLab .tooth-diagram-label_Lab.center,
.child-toothP .tooth-diagram-label_P.center {
    width: 22px;
    height: 22px;
    right: 132px;
    top: 204px;
    border-radius: 50px;
    border: none
}

.child-tooth .tooth-diagram-label.center:before,
.child-toothLab .tooth-diagram-label_Lab.center:before,
.child-toothP .tooth-diagram-label_P.center:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 10px;
    border-left: 1px solid #000
}

.child-tooth .tooth-diagram-label.center:after,
.child-toothLab .tooth-diagram-label_Lab.center:after ,
.child-toothP .tooth-diagram-label_P.center:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 11px;
    left: 0;
    border-top: 1px solid #000
}

.child-tooth .tooth-diagram-label.bl,
.child-toothLab .tooth-diagram-label_Lab.bl,
.child-toothP .tooth-diagram-label_P.bl {
    left: 112px;
    bottom: 181px;
    border-left: none;
    border-bottom: none
}

.child-tooth .tooth-diagram-label.bl.active,
.child-toothLab .tooth-diagram-label_Lab.bl.active,
.child-toothP .tooth-diagram-label_P.bl.active {
    border-bottom-left-radius: 40px
}

.child-tooth .tooth-diagram-label.br,
.child-toothLab .tooth-diagram-label_Lab.br,
.child-toothP .tooth-diagram-label_P.br {
    right: 112px;
    bottom: 181px;
    border-right: none;
    border-bottom: none
}

.child-tooth .tooth-diagram-label.br.active,
.child-toothLab .tooth-diagram-label_Lab.br.active
.child-toothP .tooth-diagram-label_P.br.active {
    border-bottom-right-radius: 40px
}

.tooth-diagram-infos,
.tooth-diagram-infosLab,
.tooth-diagram-infosP {
    margin: 0 auto 10px;
    position: relative;
    display: none
}

.tooth-info {
    display: none
}

.tooth-info>h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000
}

.adult-tooth ul,
.adult-toothLab ul,
.adult-toothP ul
.child-tooth ul,
.child-toothLab ul,.child-toothP ul {
    margin: 0!important
}

.adult-tooth li,
.adult-toothLab li,
.adult-toothP li,
.child-tooth li,
.child-toothLab li ,
.child-toothP li {
    position: absolute;
    background-image: url(../img/sprite-tooth.png);
    background-repeat: no-repeat;
    background-position: -9999px;
    display: block;
    text-decoration: none;
    color: #333
}

.adult-tooth li a.tooth,
.adult-tooth li a.tooth-gum-down,
.adult-tooth li a.tooth-gum-up,

.adult-toothLab li a.tooth-gum-down,
.adult-toothLab li a.tooth-gum-up,
.adult-toothLab li a.toothLab,

.adult-toothP li a.tooth-gum-down,
.adult-toothP li a.tooth-gum-up,
.adult-toothP li a.toothP,

.child-tooth li a.tooth,
.child-tooth li a.tooth-gum-down,
.child-tooth li a.tooth-gum-up,

.child-toothLab li a.tooth-gum-down,
.child-toothLab li a.tooth-gum-up,
.child-toothLab li a.toothLab,

.child-toothP li a.tooth-gum-down,
.child-toothP li a.tooth-gum-up,
.child-toothP li a.toothP
 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.adult-tooth li a.tooth-gum-down,
.adult-tooth li a.tooth-gum-up,

.adult-toothLab li a.tooth-gum-down,
.adult-toothLab li a.tooth-gum-up,


.adult-toothP li a.tooth-gum-down,
.adult-toothP li a.tooth-gum-up,

.child-tooth li a.tooth-gum-down,
.child-tooth li a.tooth-gum-up,

.child-toothLab li a.tooth-gum-down,
.child-toothLab li a.tooth-gum-up,

.child-toothP li a.tooth-gum-down,
.child-toothP li a.tooth-gum-up {
    background-color: rgba(253, 86, 86, .4);
    z-index: -1
}

.adult-tooth li a.tooth-gum-down.active,
.adult-tooth li a.tooth-gum-up.active,
.adult-toothLab li a.tooth-gum-down.active,
.adult-toothLab li a.tooth-gum-up.active,

.adult-toothP li a.tooth-gum-down.active,
.adult-toothP li a.tooth-gum-up.active,


.child-tooth li a.tooth-gum-down.active,
.child-tooth li a.tooth-gum-up.active,


.child-toothLab li a.tooth-gum-down.active,
.child-toothLab li a.tooth-gum-up.active,

.child-toothP li a.tooth-gum-down.active,
.child-toothP li a.tooth-gum-up.active

{
    background-color: rgba(253, 86, 86, 1)!important
}


.adult-tooth li a.tooth-gum-down.green,
.adult-tooth li a.tooth-gum-up.green,
.adult-toothLab li a.tooth-gum-down.green,
.adult-toothLab li a.tooth-gum-up.green,

.adult-toothP li a.tooth-gum-down.green,
.adult-toothP li a.tooth-gum-up.green,


.child-tooth li a.tooth-gum-down.green,
.child-tooth li a.tooth-gum-up.green,


.child-toothLab li a.tooth-gum-down.green,
.child-toothLab li a.tooth-gum-up.green,

.child-toothP li a.tooth-gum-down.green,
.child-toothP li a.tooth-gum-up.green

{
    background-color:rgba(129, 239, 199, 1);
}









.adult-tooth li span,
.adult-toothLab li span,
.adult-toothP li span,
.child-tooth li span,
.child-toothLab li span,
.child-toothP li span {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    color: #333;
    font-weight: 600;
    cursor: default
}

.adult-tooth .tooth-18,
.adult-toothLab .toothLab-18,
.adult-toothP .toothP-18 {
    width: 40px;
    height: 36px;
    background-position: 0 0;
    top: 201px;
    left: 76px
}

.adult-tooth .tooth-18.active,
.adult-toothLab .toothLab-18.active ,
.adult-toothP .toothP-18.active {
    background-position: 0 -43px
}

.adult-tooth .tooth-18 span,
.adult-toothLab .toothLab-18 span ,
.adult-toothP .toothP-18 span{
    margin: 4px 0 0 -40px
}

.adult-tooth .tooth-16 span,
.adult-tooth .tooth-17 span,
.adult-toothLab .toothLab-16 span,
.adult-toothLab .toothLab-17 span ,

.adult-toothP .toothP-16 span,
.adult-toothP .toothP-17 span{
    margin: 0 0 0 -41px
}

.adult-tooth .tooth-18 .tooth-gum-up,
.adult-toothLab .toothLab-18 .tooth-gum-up,
.adult-toothP .toothP-18 .tooth-gum-up {
    width: 25px;
    height: 32px;
    top: 3px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-18 .tooth-gum-down,
.adult-toothLab .toothLab-18 .tooth-gum-down,
.adult-toothP .toothP-18 .tooth-gum-down {
    width: 25px;
    height: 31px;
    top: 3px;
    left: 27px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-17,
.adult-toothLab .toothLab-17,
.adult-toothP .toothP-17 {
    width: 39px;
    height: 39px;
    background-position: -40px 0;
    top: 166px;
    left: 80px
}

.adult-tooth .tooth-17.active,
.adult-toothLab .toothLab-17.active,
.adult-toothP .toothP-17.active {
    background-position: -40px -43px
}

.adult-tooth .tooth-17 .tooth-gum-up,
.adult-toothLab .toothLab-17 .tooth-gum-up,
.adult-toothP .toothP-17 .tooth-gum-up {
    width: 25px;
    height: 35px;
    top: 1px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-17 .tooth-gum-down,
.adult-toothLab .toothLab-17 .tooth-gum-down,
.adult-toothP .toothP-17 .tooth-gum-down {
    width: 25px;
    height: 29px;
    top: 7px;
    left: 27px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-16,
.adult-toothLab .toothLab-16 ,
.adult-toothP .toothP-16 {
    width: 39px;
    height: 41px;
    background-position: -78px 0;
    top: 133px;
    left: 86px
}

.adult-tooth .tooth-16.active,
.adult-toothLab .toothLab-16.active ,
.adult-toothP .toothP-16.active {
    background-position: -78px -43px
}

.adult-tooth .tooth-16 .tooth-gum-up,
.adult-toothLab .toothLab-16 .tooth-gum-up,
.adult-toothP .toothP-16 .tooth-gum-up {
    width: 25px;
    height: 31px;
    top: 1px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-16 .tooth-gum-down,
.adult-toothLab .toothLab-16 .tooth-gum-down,
.adult-toothP .toothP-16 .tooth-gum-down {
    width: 25px;
    height: 32px;
    top: 6px;
    left: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-15,
.adult-toothLab .toothLab-15,
.adult-toothP .toothP-15 {
    width: 30px;
    height: 27px;
    background-position: -117px 0;
    top: 112px;
    left: 98px
}

.adult-tooth .tooth-15.active,
.adult-toothLab .toothLab-15.active,
.adult-toothP .toothP-15.active {
    background-position: -117px -43px
}

.adult-tooth .tooth-15 span,
.adult-toothLab .toothLab-15 span ,
.adult-toothP .toothP-15 span {
    margin: -10px 0 0 -41px
}

.adult-tooth .tooth-15 .tooth-gum-up,
.adult-toothLab .toothLab-15 .tooth-gum-up ,
.adult-toothP .toothP-15 .tooth-gum-up {
    width: 25px;
    height: 22px;
    top: -2px;
    left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-15 .tooth-gum-down,
.adult-toothLab .toothLab-15 .tooth-gum-down ,
.adult-toothP .toothP-15 .tooth-gum-down {
    width: 25px;
    height: 22px;
    top: 6px;
    left: 21px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-14,
.adult-toothLab .toothLab-14,
.adult-toothP .toothP-14  {
    width: 32px;
    height: 27px;
    background-position: -147px 0;
    top: 89px;
    left: 108px
}

.adult-tooth .tooth-14.active,
.adult-toothLab .toothLab-14.active ,
.adult-toothP .toothP-14.active {
    background-position: -147px -43px
}

.adult-tooth .tooth-14 span,
.adult-toothLab .toothLab-14 span,
.adult-toothP .toothP-14 span {
    margin: -16px 0 0 -40px
}

.adult-tooth .tooth-14 .tooth-gum-up,
.adult-toothLab .toothLab-14 .tooth-gum-up,
.adult-toothP .toothP-14 .tooth-gum-up {
    width: 25px;
    height: 21px;
    top: -1px;
    left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-14 .tooth-gum-down,
.adult-toothLab .toothLab-14 .tooth-gum-down,
.adult-toothP .toothP-14 .tooth-gum-down {
    width: 25px;
    height: 21px;
    top: 10px;
    left: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-13,
.adult-toothLab .toothLab-13,
.adult-toothP .toothP-13 {
    width: 26px;
    height: 29px;
    background-position: -179px 0;
    top: 67px;
    left: 120px
}

.adult-tooth .tooth-13.active,
.adult-toothLab .toothLab-13.active,
.adult-toothP .toothP-13.active {
    background-position: -179px -43px
}

.adult-tooth .tooth-13 span,
.adult-toothLab .toothLab-13 span ,
.adult-toothP .toothP-13 span {
    margin: -25px 0 0 -34px
}

.adult-tooth .tooth-13 .tooth-gum-up,
.adult-toothLab .toothLab-13 .tooth-gum-up ,
.adult-toothP .toothP-13 .tooth-gum-up {
    width: 31px;
    height: 25px;
    top: -4px;
    left: -11px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-13 .tooth-gum-down,
.adult-toothLab .toothLab-13 .tooth-gum-down,
.adult-toothP .toothP-13 .tooth-gum-down {
    width: 25px;
    height: 27px;
    top: 5px;
    left: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-12,
.adult-toothLab .toothLab-12,
.adult-toothP .toothP-12 {
    width: 27px;
    height: 26px;
    background-position: -205px 0;
    top: 54px;
    left: 139px
}

.adult-tooth .tooth-12.active,
.adult-toothLab .toothLab-12.active,
.adult-toothP .toothP-12.active {
    background-position: -205px -43px
}

.adult-tooth .tooth-12 span,
.adult-toothLab .toothLab-12 span,
.adult-toothP .toothP-12 span {
    margin: -39px 0 0 -16px
}

.adult-tooth .tooth-12 .tooth-gum-up,
.adult-toothLab .toothLab-12 .tooth-gum-up,
.adult-toothP .toothP-12 .tooth-gum-up {
    width: 31px;
    height: 26px;
    top: -10px;
    left: -6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-12 .tooth-gum-down,
.adult-toothLab .toothLab-12 .tooth-gum-down,
.adult-toothP .toothP-12 .tooth-gum-down {
    width: 25px;
    height: 26px;
    top: 5px;
    left: 11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-11,
.adult-toothLab .toothLab-11,
.adult-toothP .toothP-11 {
    width: 31px;
    height: 29px;
    background-position: -232px 0;
    top: 44px;
    left: 163px
}

.adult-tooth .tooth-11.active,
.adult-toothLab .toothLab-11.active,
.adult-toothP .toothP-11.active {
    background-position: -232px -43px
}

.adult-tooth .tooth-11 span,
.adult-toothLab .toothLab-11 span,
.adult-toothP .toothP-11 span {
    margin: -44px 0 0 8px
}

.adult-tooth .tooth-11 .tooth-gum-up,
.adult-toothLab .toothLab-11 .tooth-gum-up ,
.adult-toothP .toothP-11 .tooth-gum-up {
    width: 31px;
    height: 29px;
    top: -14px;
    left: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-11 .tooth-gum-down,
.adult-toothLab .toothLab-11 .tooth-gum-down,
.adult-toothP .toothP-11 .tooth-gum-down{
    width: 22px;
    height: 27px;
    top: 8px;
    left: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-21,
.adult-toothLab .toothLab-21,
.adult-toothP .toothP-21 {
    width: 33px;
    height: 29px;
    background-position: -263px 0;
    top: 44px;
    left: 197px
}

.adult-tooth .tooth-21.active,
.adult-toothLab .toothLab-21.active,
 .adult-toothP .toothP-21.active{
    background-position: -263px -43px
}

.adult-tooth .tooth-21 span,
.adult-toothLab .toothLab-21 span,
.adult-toothP .toothP-21 span {
    margin: -44px 0 0 16px
}

.adult-tooth .tooth-21 .tooth-gum-up,
.adult-toothLab .toothLab-21 .tooth-gum-up,
.adult-toothP .toothP-21 .tooth-gum-up {
    width: 27px;
    height: 29px;
    top: -14px;
    left: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-21 .tooth-gum-down,
.adult-toothLab .toothLab-21 .tooth-gum-down ,
.adult-toothP .toothP-21 .tooth-gum-down {
    width: 25px;
    height: 29px;
    top: 7px;
    left: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-22,
.adult-toothLab .toothLab-22,
.adult-toothP .toothP-22 {
    width: 27px;
    height: 26px;
    background-position: -296px 0;
    top: 54px;
    left: 225px
}

.adult-tooth .tooth-22.active,
.adult-toothLab .toothLab-22.active,
.adult-toothP .toothP-22.active {
    background-position: -296px -43px
}

.adult-tooth .tooth-22 span,
.adult-toothLab .toothLab-22 span,
.adult-toothP .toothP-22 span {
    margin: -43px 0 0 25px
}

.adult-tooth .tooth-22 .tooth-gum-up,
.adult-toothLab .toothLab-22 .tooth-gum-up,
.adult-toothP .toothP-22 .tooth-gum-up {
    width: 25px;
    height: 26px;
    top: -15px;
    left: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-22 .tooth-gum-down,
.adult-toothLab .toothLab-22 .tooth-gum-down,
.adult-toothP .toothP-22 .tooth-gum-down {
    width: 24px;
    height: 26px;
    top: 10px;
    left: -2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-23,
.adult-toothLab .toothLab-23,
.adult-toothP .toothP-23 {
    width: 26px;
    height: 29px;
    background-position: -323px 0;
    top: 67px;
    left: 243px
}

.adult-tooth .tooth-23.active,
.adult-toothLab .toothLab-23.active,
.adult-toothP .toothP-23.active {
    background-position: -323px -43px
}

.adult-tooth .tooth-23 span,
.adult-toothLab .toothLab-23 span,
.adult-toothP .toothP-23 span {
    margin: -32px 0 0 40px
}

.adult-tooth .tooth-23 .tooth-gum-up,
.adult-toothLab .toothLab-23 .tooth-gum-up ,
.adult-toothP .toothP-23 .tooth-gum-up{
    width: 25px;
    height: 37px;
    top: -14px;
    left: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-23 .tooth-gum-down,
.adult-toothLab .toothLab-23 .tooth-gum-down,
.adult-toothP .toothP-23 .tooth-gum-down {
    width: 25px;
    height: 29px;
    top: 11px;
    left: -6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-24,
.adult-toothLab .toothLab-24,
.adult-toothP .toothP-24{
    width: 32px;
    height: 27px;
    background-position: -349px 0;
    top: 88px;
    left: 250px
}

.adult-tooth .tooth-24.active,
.adult-toothLab .toothLab-24.active ,
.adult-toothP .toothP-24.active {
    background-position: -349px -43px
}

.adult-tooth .tooth-24 span,
.adult-toothLab .toothLab-24 span,
.adult-toothP .toothP-24 span {
    margin: -26px 0 0 49px
}

.adult-tooth .tooth-24 .tooth-gum-up,
.adult-toothLab .toothLab-24 .tooth-gum-up,
.adult-toothP .toothP-24 .tooth-gum-up {
    width: 25px;
    height: 27px;
    top: -1px;
    left: 22px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-24 .tooth-gum-down,
.adult-toothLab .toothLab-24 .tooth-gum-down ,
.adult-toothP .toothP-24 .tooth-gum-down {
    width: 25px;
    height: 27px;
    top: 7px;
    left: -4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-25,
.adult-toothLab .toothLab-25,
.adult-toothP .toothP-25 {
    width: 30px;
    height: 26px;
    background-position: -381px 0;
    top: 112px;
    left: 261px
}

.adult-tooth .tooth-25.active,
.adult-toothLab .toothLab-25.active,
.adult-toothP .toothP-25.active {
    background-position: -381px -43px
}

.adult-tooth .tooth-25 span,
.adult-toothLab .toothLab-25 span,
.adult-toothP .toothP-25 span {
    margin: -12px 0 0 56px
}

.adult-tooth .tooth-25 .tooth-gum-up,
.adult-toothLab .toothLab-25 .tooth-gum-up,
.adult-toothP .toothP-25 .tooth-gum-up {
    width: 25px;
    height: 26px;
    top: -1px;
    left: 22px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-25 .tooth-gum-down,
.adult-toothLab .toothLab-25 .tooth-gum-down,
.adult-toothP .toothP-25 .tooth-gum-down {
    width: 25px;
    height: 20px;
    top: 8px;
    left: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-26,
.adult-toothLab .toothLab-26 ,
.adult-toothP .toothP-26 {
    width: 38px;
    height: 41px;
    background-position: -411px 0;
    top: 133px;
    left: 264px
}

.adult-tooth .tooth-26.active,
.adult-toothLab .toothLab-26.active,
.adult-toothP .toothP-26.active {
    background-position: -411px -43px
}

.adult-tooth .tooth-26 span,
.adult-toothLab .toothLab-26 span,
.adult-toothP .toothP-26 span {
    margin: 2px 0 0 60px
}

.adult-tooth .tooth-26 .tooth-gum-up,
.adult-toothLab .toothLab-26 .tooth-gum-up ,
.adult-toothP .toothP-26 .tooth-gum-up {
    width: 25px;
    height: 34px;
    top: 1px;
    left: 27px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-26 .tooth-gum-down,
.adult-toothLab .toothLab-26 .tooth-gum-down,
.adult-toothP .toothP-26 .tooth-gum-down {
    width: 25px;
    height: 34px;
    top: 6px;
    left: -10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-27,
.adult-toothLab .toothLab-27,
.adult-toothP .toothP-27 {
    width: 39px;
    height: 39px;
    background-position: -449px 0;
    top: 167px;
    left: 270px
}

.adult-tooth .tooth-27.active,
.adult-toothLab .toothLab-27.active,
.adult-toothP .toothP-27.active {
    background-position: -449px -43px
}

.adult-tooth .tooth-27 span,
.adult-toothLab .toothLab-27 span,
.adult-toothP .toothP-27 span {
    margin: 6px 0 0 61px
}

.adult-tooth .tooth-27 .tooth-gum-up,
.adult-toothLab .toothLab-27 .tooth-gum-up,
.adult-toothP .toothP-27 .tooth-gum-up {
    width: 25px;
    height: 35px;
    top: 0;
    left: 27px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-27 .tooth-gum-down,
.adult-toothLab .toothLab-27 .tooth-gum-down ,
.adult-toothP .toothP-27 .tooth-gum-down {
    width: 25px;
    height: 32px;
    top: 5px;
    left: -13px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-28,
.adult-toothLab .toothLab-28 ,
.adult-toothP .toothP-28 {
    width: 40px;
    height: 36px;
    background-position: -488px 0;
    top: 201px;
    left: 274px
}

.adult-tooth .tooth-28.active,
.adult-toothLab .toothLab-28.active ,
.adult-toothP .toothP-28.active{
    background-position: -488px -43px
}

.adult-tooth .tooth-28 span,
.adult-toothLab .toothLab-28 span,
.adult-toothP .toothP-28 span {
    margin: 4px 0 0 60px
}

.adult-tooth .tooth-28 .tooth-gum-up,
.adult-toothLab .toothLab-28 .tooth-gum-up,
.adult-toothP .toothP-28 .tooth-gum-up {
    width: 25px;
    height: 36px;
    top: -1px;
    left: 27px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-28 .tooth-gum-down,
.adult-toothLab .toothLab-28 .tooth-gum-down,
.adult-toothP .toothP-28 .tooth-gum-down {
    width: 25px;
    height: 36px;
    top: -1px;
    left: -14px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-38,
.adult-toothLab .toothLab-38,
.adult-toothP .toothP-38 {
    width: 30px;
    height: 35px;
    background-position: -528px 0;
    top: 245px;
    left: 279px
}

.adult-tooth .tooth-38.active,
.adult-toothLab .toothLab-38.active ,
.adult-toothP .toothP-38.active {
    background-position: -528px -43px
}

.adult-tooth .tooth-38 span,
.adult-toothLab .toothLab-38 span,
.adult-toothP .toothP-38 span {
    margin: 2px 0 0 52px
}

.adult-tooth .tooth-38 .tooth-gum-up,
.adult-toothLab .toothLab-38 .tooth-gum-up,
.adult-toothP .toothP-38 .tooth-gum-up {
    width: 25px;
    height: 35px;
    top: -1px;
    left: 22px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-38 .tooth-gum-down,
.adult-toothLab .toothLab-38 .tooth-gum-down ,
.adult-toothP .toothP-38 .tooth-gum-down {
    width: 25px;
    height: 35px;
    top: -1px;
    left: -18px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-37,
.adult-toothLab .toothLab-37,
.adult-toothP .toothP-37 {
    width: 36px;
    height: 41px;
    background-position: -558px 0;
    top: 276px;
    left: 275px
}

.adult-tooth .tooth-37.active,
.adult-toothLab .toothLab-37.active,
.adult-toothP .toothP-37.active {
    background-position: -558px -43px
}

.adult-tooth .tooth-37 span,
.adult-toothLab .toothLab-37 span,
.adult-toothP .toothP-37 span {
    margin: 7px 0 0 56px
}

.adult-tooth .tooth-37 .tooth-gum-up,
.adult-toothLab .toothLab-37 .tooth-gum-up,
.adult-toothP .toothP-37 .tooth-gum-up {
    width: 25px;
    height: 41px;
    top: -1px;
    left: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-37 .tooth-gum-down,
.adult-toothLab .toothLab-37 .tooth-gum-down,
.adult-toothP .toothP-37 .tooth-gum-down {
    width: 25px;
    height: 37px;
    top: 1px;
    left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-36,
.adult-toothLab .toothLab-36,
.adult-toothP .toothP-36 {
    width: 40px;
    height: 42px;
    background-position: -594px 0;
    top: 312px;
    left: 265px
}

.adult-tooth .tooth-36.active,
.adult-toothLab .toothLab-36.active ,
.adult-toothP .toothP-36.active {
    background-position: -594px -43px
}

.adult-tooth .tooth-36 span,
.adult-toothLab .toothLab-36 span ,
.adult-toothP .toothP-36 span {
    margin: 13px 0 0 59px
}

.adult-tooth .tooth-36 .tooth-gum-up,
.adult-toothLab .toothLab-36 .tooth-gum-up,
.adult-toothP .toothP-36 .tooth-gum-up {
    width: 25px;
    height: 38px;
    top: 3px;
    left: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-36 .tooth-gum-down,
.adult-toothLab .toothLab-36 .tooth-gum-down,
.adult-toothP .toothP-36 .tooth-gum-down {
    width: 25px;
    height: 42px;
    top: -1px;
    left: -12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-35,
.adult-toothLab .toothLab-35,
.adult-toothP .toothP-35 {
    width: 28px;
    height: 29px;
    background-position: -634px 0;
    top: 348px;
    left: 259px
}

.adult-tooth .tooth-35.active,
.adult-toothLab .toothLab-35.active,
.adult-toothP .toothP-35.active {
    background-position: -634px -43px
}

.adult-tooth .tooth-35 span,
.adult-toothLab .toothLab-35 span,
.adult-toothP .toothP-35 span {
    margin: 17px 0 0 51px
}

.adult-tooth .tooth-35 .tooth-gum-up,
.adult-toothLab .toothLab-35 .tooth-gum-up ,
.adult-toothP .toothP-35 .tooth-gum-up {
    width: 25px;
    height: 26px;
    top: 4px;
    left: 23px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-35 .tooth-gum-down,
.adult-toothLab .toothLab-35 .tooth-gum-down,
.adult-toothP .toothP-35 .tooth-gum-down {
    width: 25px;
    height: 24px;
    top: -1px;
    left: -10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-34,
.adult-toothLab .toothLab-34 ,
.adult-toothP .toothP-34 {
    width: 27px;
    height: 29px;
    background-position: -662px 0;
    top: 369px;
    left: 245px
}

.adult-tooth .tooth-34.active,
.adult-toothLab .toothLab-34.active,
.adult-toothP .toothP-34.active {
    background-position: -662px -43px
}

.adult-tooth .tooth-34 span,
.adult-toothLab .toothLab-34 span ,
.adult-toothP .toothP-34 span {
    margin: 18px 0 0 43px
}

.adult-tooth .tooth-34 .tooth-gum-up,
.adult-toothLab .toothLab-34 .tooth-gum-up,
.adult-toothP .toothP-34 .tooth-gum-up {
    width: 25px;
    height: 29px;
    top: 7px;
    left: 17px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-34 .tooth-gum-down,
.adult-toothLab .toothLab-34 .tooth-gum-down,
.adult-toothP .toothP-34 .tooth-gum-down {
    width: 25px;
    height: 24px;
    top: -1px;
    left: -10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-33,
.adult-toothLab .toothLab-33,
.adult-toothP .toothP-33 {
    width: 25px;
    height: 27px;
    background-position: -689px 0;
    top: 388px;
    left: 229px
}

.adult-tooth .tooth-33.active,
.adult-toothLab .toothLab-33.active ,
.adult-toothP .toothP-33.active {
    background-position: -689px -43px
}

.adult-tooth .tooth-33 span,
.adult-toothLab .toothLab-33 span ,
.adult-toothP .toothP-33 span {
    margin: 22px 0 0 37px
}

.adult-tooth .tooth-33 .tooth-gum-up,
.adult-toothLab .toothLab-33 .tooth-gum-up,
.adult-toothP .toothP-33 .tooth-gum-up {
    width: 25px;
    height: 27px;
    top: 13px;
    left: 11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-33 .tooth-gum-down,
.adult-toothLab .toothLab-33 .tooth-gum-down,
.adult-toothP .toothP-33 .tooth-gum-down {
    width: 25px;
    height: 27px;
    top: -7px;
    left: -4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-32,
.adult-toothLab .toothLab-32,
.adult-toothP .toothP-32 {
    width: 21px;
    height: 26px;
    background-position: -714px 0;
    top: 397px;
    left: 214px
}

.adult-tooth .tooth-32.active,
.adult-toothLab .toothLab-32.active,
.adult-toothP .toothP-32.active {
    background-position: -714px -43px
}

.adult-tooth .tooth-32 span,
.adult-toothLab .toothLab-32 span ,
.adult-toothP .toothP-32 span {
    margin: 33px 0 0 25px
}

.adult-tooth .tooth-32 .tooth-gum-up,
.adult-toothLab .toothLab-32 .tooth-gum-up ,
.adult-toothP .toothP-32 .tooth-gum-up {
    width: 25px;
    height: 26px;
    top: 10px;
    left: 6px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-32 .tooth-gum-down,
.adult-toothLab .toothLab-32 .tooth-gum-down,
.adult-toothP .toothP-32 .tooth-gum-down {
    width: 25px;
    height: 26px;
    top: -8px;
    left: 1px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-31,
.adult-toothLab .toothLab-31,
.adult-toothP .toothP-31 {
    width: 23px;
    height: 22px;
    background-position: -735px 0;
    top: 403px;
    left: 196px
}

.adult-tooth .tooth-31.active,
.adult-toothLab .toothLab-31.active,
.adult-toothP .toothP-31.active {
    background-position: -735px -43px
}

.adult-tooth .tooth-31 span,
.adult-toothLab .toothLab-31 span,
.adult-toothP .toothP-31 span {
    margin: 34px 0 0 5px
}

.adult-tooth .tooth-31 .tooth-gum-up,
.adult-toothLab .toothLab-31 .tooth-gum-up,
.adult-toothP .toothP-31 .tooth-gum-up {
    width: 25px;
    height: 22px;
    top: 12px;
    left: 2px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-31 .tooth-gum-down,
.adult-toothLab .toothLab-31 .tooth-gum-down,
.adult-toothP .toothP-31 .tooth-gum-down {
    width: 25px;
    height: 22px;
    top: -11px;
    left: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-41,
.adult-toothLab .toothLab-41,
.adult-toothP .toothP-41 {
    width: 22px;
    height: 22px;
    background-position: -758px 0;
    top: 403px;
    left: 173px
}

.adult-tooth .tooth-41.active,
.adult-toothLab .toothLab-41.active,
.adult-toothP .toothP-41.active {
    background-position: -758px -43px
}

.adult-tooth .tooth-41 span,
.adult-toothLab .toothLab-41 span ,
.adult-toothP .toothP-41 span{
    margin: 34px 0 0 -3px
}

.adult-tooth .tooth-41 .tooth-gum-up,
.adult-toothLab .toothLab-41 .tooth-gum-up,
.adult-toothP .toothP-41 .tooth-gum-up {
    width: 25px;
    height: 22px;
    top: 12px;
    left: -3px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-41 .tooth-gum-down,
.adult-toothLab .toothLab-41 .tooth-gum-down,
.adult-toothP .toothP-41 .tooth-gum-down {
    width: 22px;
    height: 22px;
    top: -10px;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-42,
.adult-toothLab .toothLab-42,
.adult-toothP .toothP-42 {
    width: 23px;
    height: 26px;
    background-position: -780px 0;
    top: 397px;
    left: 154px
}

.adult-tooth .tooth-42.active,
.adult-toothLab .toothLab-42.active,
.adult-toothP .toothP-42.active {
    background-position: -780px -43px
}

.adult-tooth .tooth-42 span,
.adult-toothLab .toothLab-42 span ,
.adult-toothP .toothP-42 span {
    margin: 32px 0 0 -17px
}

.adult-tooth .tooth-42 .tooth-gum-up,
.adult-toothLab .toothLab-42 .tooth-gum-up,
.adult-toothP .toothP-42 .tooth-gum-up {
    width: 24px;
    height: 26px;
    top: 9px;
    left: -9px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-42 .tooth-gum-down,
.adult-toothLab .toothLab-42 .tooth-gum-down,
.adult-toothP .toothP-42 .tooth-gum-down {
    width: 25px;
    height: 26px;
    top: -12px;
    left: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-43,
.adult-toothLab .toothLab-43 ,
.adult-toothP .toothP-43 {
    width: 25px;
    height: 27px;
    background-position: -803px 0;
    top: 388px;
    left: 135px
}

.adult-tooth .tooth-43.active,
.adult-toothLab .toothLab-43.active,
.adult-toothP .toothP-43.active {
    background-position: -803px -43px
}

.adult-tooth .tooth-43 span,
.adult-toothLab .toothLab-43 span,
.adult-toothP .toothP-43 span {
    margin: 26px 0 0 -27px
}

.adult-tooth .tooth-43 .tooth-gum-up,
.adult-toothLab .toothLab-43 .tooth-gum-up,
.adult-toothP .toothP-43 .tooth-gum-up {
    width: 23px;
    height: 27px;
    top: 7px;
    left: -14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-43 .tooth-gum-down,
.adult-toothLab .toothLab-43 .tooth-gum-down,
.adult-toothP .toothP-43 .tooth-gum-down {
    width: 20px;
    height: 27px;
    top: -10px;
    left: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px
}

.adult-tooth .tooth-44,
.adult-toothLab .toothLab-44 ,
.adult-toothP .toothP-44{
    width: 27px;
    height: 28px;
    background-position: -828px 0;
    top: 370px;
    left: 118px
}

.adult-tooth .tooth-44.active,
.adult-toothLab .toothLab-44.active ,
.adult-toothP .toothP-44.active {
    background-position: -828px -43px
}

.adult-tooth .tooth-44 span,
.adult-toothLab .toothLab-44 span ,
.adult-toothP .toothP-44 span {
    margin: 21px 0 0 -37px
}

.adult-tooth .tooth-44 .tooth-gum-up,
.adult-toothLab .toothLab-44 .tooth-gum-up ,
.adult-toothP .toothP-44 .tooth-gum-up {
    width: 25px;
    height: 28px;
    top: 5px;
    left: -12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-44 .tooth-gum-down,
.adult-toothLab .toothLab-44 .tooth-gum-down,
.adult-toothP .toothP-44 .tooth-gum-down {
    width: 25px;
    height: 24px;
    top: -5px;
    left: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.adult-tooth .tooth-45,
.adult-toothLab .toothLab-45,
.adult-toothP .toothP-45 {
    width: 28px;
    height: 29px;
    background-position: -855px 0;
    top: 347px;
    left: 103px
}

.adult-tooth .tooth-45.active,
.adult-toothLab .toothLab-45.active,
.adult-toothP .toothP-45.active {
    background-position: -855px -43px
}

.adult-tooth .tooth-45 span,
.adult-toothLab .toothLab-45 span,
.adult-toothP .toothP-45 span {
    margin: 17px 0 0 -42px
}

.adult-tooth .tooth-45 .tooth-gum-up,
.adult-toothLab .toothLab-45 .tooth-gum-up,
.adult-toothP .toothP-45 .tooth-gum-up {
    width: 25px;
    height: 29px;
    top: 7px;
    left: -14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-45 .tooth-gum-down,
.adult-toothLab .toothLab-45 .tooth-gum-down,
.adult-toothP .toothP-45 .tooth-gum-down {
    width: 25px;
    height: 27px;
    top: -3px;
    left: 19px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-46,
.adult-toothLab .toothLab-46 ,
.adult-toothP .toothP-46 {
    width: 40px;
    height: 43px;
    background-position: -883px 0;
    top: 311px;
    left: 85px
}

.adult-tooth .tooth-46.active,
.adult-toothLab .toothLab-46.active,
.adult-toothP .toothP-46.active {
    background-position: -883px -43px
}

.adult-tooth .tooth-46 span,
.adult-toothLab .toothLab-46 span,
.adult-toothP .toothP-46 span {
    margin: 16px 0 0 -41px
}

.adult-tooth .tooth-46 .tooth-gum-up,
.adult-toothLab .toothLab-46 .tooth-gum-up,
.adult-toothP .toothP-46 .tooth-gum-up {
    width: 25px;
    height: 38px;
    top: 5px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-46 .tooth-gum-down,
.adult-toothLab .toothLab-46 .tooth-gum-down ,
.adult-toothP .toothP-46 .tooth-gum-down {
    width: 25px;
    height: 38px;
    top: 1px;
    left: 28px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-47,
.adult-toothLab .toothLab-47,
.adult-toothP .toothP-47 {
    width: 35px;
    height: 43px;
    background-position: -923px 0;
    top: 274px;
    left: 80px
}

.adult-tooth .tooth-47.active,
.adult-toothLab .toothLab-47.active ,
.adult-toothP .toothP-47.active{
    background-position: -923px -43px
}

.adult-tooth .tooth-47 span,
.adult-toothLab .toothLab-47 span,
.adult-toothP .toothP-47 span {
    margin: 13px 0 0 -42px
}

.adult-tooth .tooth-47 .tooth-gum-up,
.adult-toothLab .toothLab-47 .tooth-gum-up,
.adult-toothP .toothP-47 .tooth-gum-up {
    width: 27px;
    height: 38px;
    top: 4px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-47 .tooth-gum-down,
.adult-toothLab .toothLab-47 .tooth-gum-down ,
.adult-toothP .toothP-47 .tooth-gum-down {
    width: 25px;
    height: 36px;
    top: 3px;
    left: 26px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.adult-tooth .tooth-48,
.adult-toothLab .toothLab-48,
.adult-toothP .toothP-48 {
    width: 31px;
    height: 35px;
    background-position: -958px 0;
    top: 245px;
    left: 80px
}

.adult-tooth .tooth-48.active,
.adult-toothLab .toothLab-48.active,
.adult-toothP .toothP-48.active {
    background-position: -958px -43px
}

.adult-tooth .tooth-48 span,
.adult-toothLab .toothLab-48 span,
.adult-toothP .toothP-48 span {
    margin: 4px 0 0 -43px
}

.adult-tooth .tooth-48 .tooth-gum-up,
.adult-toothLab .toothLab-48 .tooth-gum-up,
.adult-toothP .toothP-48 .tooth-gum-up {
    width: 25px;
    height: 32px;
    top: 2px;
    left: -12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.adult-tooth .tooth-48 .tooth-gum-down,
.adult-toothLab .toothLab-48 .tooth-gum-down,
.adult-toothP .toothP-48 .tooth-gum-down {
    width: 28px;
    height: 30px;
    top: 2px;
    left: 19px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth.tooth-picture,
.child-toothLab.tooth-picture ,
.child-toothP.tooth-picture{
    background: url(../img/Dental/child-outer.png) left top no-repeat;
    position: relative;
    width: 288px;
    height: 429px;
    margin: 20px 0 0 -145px;
    left: 50%;
    z-index: 9;
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out
}

.child-tooth.tooth-picture:after,
.child-toothLab.tooth-picture:after,
.child-toothP.tooth-picture:after {
    content: '';
    width: 0;
    position: absolute;
    top: -11px;
    bottom: -11px;
    left: 50%;
    border-left: 1px dashed rgba(0, 0, 0, 1)
}

.child-tooth.tooth-picture:before,
.child-toothLab.tooth-picture:before,
.child-toothP.tooth-picture:before {
    content: '';
    height: 0%;
    position: absolute;
    top: 50%;
    left: -6px;
    right: -6px;
    border-top: 1px dashed rgba(0, 0, 0, 1)
}

.tooth-diagram-label,
.tooth-diagram-label_Lab,
.tooth-diagram-label_P {
    font-size: 10px;
    color: #aaa;
    position: absolute;
    text-transform: uppercase
}

.child-tooth .tooth-55,
.child-toothLab .toothLab-55,
.child-toothP .toothP-55 {
    width: 49px;
    height: 55px;
    background-position: 0 -88px;
    top: 145px;
    left: 28px
}

.child-tooth .tooth-55.active,
.child-toothLab .toothLab-55.active,
.child-toothP .toothP-55.active {
    background-position: 0 -150px
}

.child-tooth .tooth-55 span,
.child-toothLab .toothLab-55 span,
.child-toothP .toothP-55 span {
    margin: 4px 0 0 -42px
}

.child-tooth .tooth-55 .tooth-gum-up,
.child-toothLab .toothLab-55 .tooth-gum-up,
.child-toothP .toothP-55 .tooth-gum-up {
    width: 35px;
    height: 55px;
    top: -1px;
    left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-55 .tooth-gum-down,
.child-toothLab .toothLab-55 .tooth-gum-down,
.child-toothP .toothP-55 .tooth-gum-down {
    width: 35px;
    height: 53px;
    top: 1px;
    left: 28px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-54,
.child-toothLab .toothLab-54,
.child-toothP .toothP-54 {
    width: 43px;
    height: 48px;
    background-position: -51px -88px;
    top: 99px;
    left: 42px
}

.child-tooth .tooth-54.active,
.child-toothLab .toothLab-54.active ,
.child-toothP .toothP-54.active {
    background-position: -51px -150px
}

.child-tooth .tooth-54 span,
.child-toothLab .toothLab-54 span,
.child-toothP .toothP-54 span {
    margin: 0 0 0 -45px
}

.child-tooth .tooth-54 .tooth-gum-up,
.child-toothLab .toothLab-54 .tooth-gum-up,
.child-toothP .toothP-54 .tooth-gum-up {
    width: 25px;
    height: 44px;
    top: 2px;
    left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-54 .tooth-gum-down,
.child-toothLab .toothLab-54 .tooth-gum-down,
.child-toothP .toothP-54 .tooth-gum-down {
    width: 25px;
    height: 40px;
    top: 7px;
    left: 29px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-53,
.child-toothLab .toothLab-53,
.child-toothP .toothP-53 {
    width: 38px;
    height: 42px;
    background-position: -96px -88px;
    top: 68px;
    left: 54px
}

.child-tooth .tooth-53.active,
.child-toothLab .toothLab-53.active ,
.child-toothP .toothP-53.active {
    background-position: -96px -150px
}

.child-tooth .tooth-53 span,
.child-toothLab .toothLab-53 span,
.child-toothP .toothP-53 span {
    margin: -19px 0 0 -38px
}

.child-tooth .tooth-53 .tooth-gum-up,
.child-toothLab .toothLab-53 .tooth-gum-up ,
.child-toothP .toothP-53 .tooth-gum-up{
    width: 34px;
    height: 34px;
    top: 0;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-53 .tooth-gum-down,
.child-toothLab .toothLab-53 .tooth-gum-down ,
.child-toothP .toothP-53 .tooth-gum-down {
    width: 33px;
    height: 37px;
    top: 6px;
    left: 21px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-52,
.child-toothLab .toothLab-52,
.child-toothP .toothP-52 {
    width: 36px;
    height: 46px;
    background-position: -137px -88px;
    top: 39px;
    left: 77px
}

.child-tooth .tooth-52.active,
.child-toothLab .toothLab-52.active,
.child-toothP .toothP-52.active {
    background-position: -137px -150px
}

.child-tooth .tooth-52 span,
.child-toothLab .toothLab-52 span ,
.child-toothP .toothP-52 span {
    margin: -33px 0 0 -29px
}

.child-tooth .tooth-52 .tooth-gum-up,
.child-toothLab .toothLab-52 .tooth-gum-up,
.child-toothP .toothP-52 .tooth-gum-up {
    width: 43px;
    height: 41px;
    top: -8px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-52 .tooth-gum-down,
.child-toothLab .toothLab-52 .tooth-gum-down,
.child-toothP.toothP-52 .tooth-gum-down  {
    width: 32px;
    height: 46px;
    top: 8px;
    left: 13px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-51,
.child-toothLab .toothLab-51,
.child-toothP .toothP-51 {
    width: 30px;
    height: 50px;
    background-position: -175px -88px;
    top: 23px;
    left: 113px
}

.child-tooth .tooth-51.active,
.child-toothLab .toothLab-51.active,
.child-toothP .toothP-51.active {
    background-position: -175px -150px
}

.child-tooth .tooth-51 span,
.child-toothLab .toothLab-51 span,
.child-toothP .toothP-51 span {
    margin: -39px 0 0 4px
}

.child-tooth .tooth-51 .tooth-gum-up,
.child-toothLab .toothLab-51 .tooth-gum-up,
.child-toothP.toothP-51 .tooth-gum-up {
    width: 36px;
    height: 37px;
    top: -13px;
    left: -7px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-51 .tooth-gum-down,
.child-toothLab .toothLab-51 .tooth-gum-down,
.child-toothP .toothP-51 .tooth-gum-down {
    width: 30px;
    height: 50px;
    top: 11px;
    left: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-61,
.child-toothLab .toothLab-61,
.child-toothP .toothP-61 {
    width: 31px;
    height: 50px;
    background-position: -207px -88px;
    top: 23px;
    left: 146px
}

.child-tooth .tooth-61.active,
.child-toothLab .toothLab-61.active,
.child-toothP .toothP-61.active {
    background-position: -207px -150px
}

.child-tooth .tooth-61 span,
.child-toothLab .toothLab-61 span,
.child-toothP .toothP-61 span {
    margin: -39px 0 0 13px
}

.child-tooth .tooth-61 .tooth-gum-up,
.child-toothLab .toothLab-61 .tooth-gum-up,
.child-toothP .toothP-61 .tooth-gum-up {
    width: 31px;
    height: 50px;
    top: -13px;
    left: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-61 .tooth-gum-down,
.child-toothLab .toothLab-61 .tooth-gum-down,
.child-toothP .toothP-61 .tooth-gum-down {
    width: 28px;
    height: 50px;
    top: 11px;
    left: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-62,
.child-toothLab .toothLab-62,
.child-toothP .toothP-62 {
    width: 36px;
    height: 46px;
    background-position: -240px -88px;
    top: 38px;
    left: 178px
}

.child-tooth .tooth-62.active,
.child-toothLab .toothLab-62.active,
.child-toothP .toothP-62.active {
    background-position: -240px -150px
}

.child-tooth .tooth-62 span,
.child-toothLab .toothLab-62 span,
.child-toothP .toothP-62 span {
    margin: -31px 0 0 37px
}

.child-tooth .tooth-62 .tooth-gum-up,
.child-toothLab .toothLab-62 .tooth-gum-up,
.child-toothP .toothP-62 .tooth-gum-up {
    width: 35px;
    height: 46px;
    top: -13px;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-62 .tooth-gum-down,
.child-toothLab .toothLab-62 .tooth-gum-down ,
.child-toothP .toothP-62 .tooth-gum-down {
    width: 31px;
    height: 46px;
    top: 14px;
    left: -3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-63,
.child-toothLab .toothLab-63 ,
.child-toothP .toothP-63 {
    width: 38px;
    height: 42px;
    background-position: -278px -88px;
    top: 67px;
    left: 198px
}

.child-tooth .tooth-63.active,
.child-toothLab .toothLab-63.active,
.child-toothP .toothP-63.active {
    background-position: -278px -150px
}

.child-tooth .tooth-63 span,
.child-toothLab .toothLab-63 span ,
.child-toothP .toothP-63 span {
    margin: -17px 0 0 52px
}

.child-tooth .tooth-63 .tooth-gum-up,
.child-toothLab .toothLab-63 .tooth-gum-up,
.child-toothP .toothP-63 .tooth-gum-up {
    width: 35px;
    height: 45px;
    top: -12px;
    left: 11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-63 .tooth-gum-down,
.child-toothLab .toothLab-63 .tooth-gum-down,
.child-toothP .toothP-63 .tooth-gum-down {
    width: 30px;
    height: 38px;
    top: 14px;
    left: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-64,
.child-toothLab .toothLab-64,
.child-toothP .toothP-64 {
    width: 43px;
    height: 48px;
    background-position: -319px -88px;
    top: 98px;
    left: 206px
}

.child-tooth .tooth-64.active,
.child-toothLab .toothLab-64.active,
.child-toothP .toothP-64.active {
    background-position: -319px -150px
}

.child-tooth .tooth-64 span,
.child-toothLab .toothLab-64 span,
.child-toothP .toothP-64 span {
    margin: 5px 0 0 61px
}

.child-tooth .tooth-64 .tooth-gum-up,
.child-toothLab .toothLab-64 .tooth-gum-up,
.child-toothP .toothP-64 .tooth-gum-up {
    width: 35px;
    height: 45px;
    top: -1px;
    left: 22px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-64 .tooth-gum-down,
.child-toothLab .toothLab-64 .tooth-gum-down,
.child-toothP .toothP-64 .tooth-gum-down {
    width: 34px;
    height: 28px;
    top: 18px;
    left: -13px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-65,
.child-toothLab .toothLab-65,
.child-toothP .toothP-65 {
    width: 49px;
    height: 56px;
    background-position: -363px -88px;
    top: 144px;
    left: 213px
}

.child-tooth .tooth-65.active,
.child-toothLab .toothLab-65.active,
.child-toothP .toothP-65.active {
    background-position: -363px -150px
}

.child-tooth .tooth-65 span,
.child-toothLab .toothLab-65 span ,
.child-toothP .toothP-65 span {
    margin: 5px 0 0 65px
}

.child-tooth .tooth-65 .tooth-gum-up,
.child-toothLab .toothLab-65 .tooth-gum-up,
.child-toothP .toothP-65 .tooth-gum-up {
    width: 31px;
    height: 56px;
    top: -1px;
    left: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-65 .tooth-gum-down,
.child-toothLab .toothLab-65 .tooth-gum-down,
.child-toothP .toothP-65 .tooth-gum-down {
    width: 39px;
    height: 56px;
    top: -1px;
    left: -12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-75,
.child-toothLab .toothLab-75,
.child-toothP .toothP-75{
    width: 48px;
    height: 60px;
    background-position: -414px -88px;
    top: 225px;
    left: 214px
}

.child-tooth .tooth-75.active,
.child-toothLab .toothLab-75.active,
.child-toothP .toothP-75.active {
    background-position: -414px -150px
}

.child-tooth .tooth-75 span,
.child-toothLab .toothLab-75 span,
.child-toothP .toothP-75 span {
    margin: 18px 0 0 67px
}

.child-tooth .tooth-75 .tooth-gum-up,
.child-toothLab .toothLab-75 .tooth-gum-up,
.child-toothP .toothP-75 .tooth-gum-up {
    width: 30px;
    height: 54px;
    top: 4px;
    left: 31px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-75 .tooth-gum-down,
.child-toothLab .toothLab-75 .tooth-gum-down ,
.child-toothP .toothP-75 .tooth-gum-down {
    width: 25px;
    height: 54px;
    top: 4px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-74,
.child-toothLab .toothLab-74,
.child-toothP .toothP-74 {
    width: 46px;
    height: 52px;
    background-position: -464px -88px;
    top: 282px;
    left: 203px
}

.child-tooth .tooth-74.active,
.child-toothLab .toothLab-74.active,
.child-toothP .toothP-74.active {
    background-position: -464px -150px
}

.child-tooth .tooth-74 span,
.child-toothLab .toothLab-74 span,
.child-toothP .toothP-74 span {
    margin: 15px 0 0 68px
}

.child-tooth .tooth-74 .tooth-gum-up,
.child-toothLab .toothLab-74 .tooth-gum-up,
.child-toothP .toothP-74 .tooth-gum-up {
    width: 30px;
    height: 50px;
    top: 1px;
    left: 31px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-74 .tooth-gum-down,
.child-toothLab .toothLab-74 .tooth-gum-down,
.child-toothP .toothP-74 .tooth-gum-down {
    width: 25px;
    height: 43px;
    top: -1px;
    left: -13px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-73,
.child-toothLab .toothLab-73,
.child-toothP .toothP-73 {
    width: 35px;
    height: 40px;
    background-position: -512px -88px;
    top: 325px;
    left: 193px
}

.child-tooth .tooth-73.active,
.child-toothLab .toothLab-73.active,
.child-toothP .toothP-73.active {
    background-position: -512px -150px
}

.child-tooth .tooth-73 span,
.child-toothLab .toothLab-73 span,
.child-toothP .toothP-73 span {
    margin: 31px 0 0 52px
}

.child-tooth .tooth-73 .tooth-gum-up,
.child-toothLab .toothLab-73 .tooth-gum-up,
.child-toothP .toothP-73 .tooth-gum-up {
    width: 45px;
    height: 35px;
    top: 7px;
    left: 6px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-73 .tooth-gum-down,
.child-toothLab .toothLab-73 .tooth-gum-down,
.child-toothP .toothP-73 .tooth-gum-down {
    width: 25px;
    height: 35px;
    top: -1px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-72,
.child-toothLab .toothLab-72,
.child-toothP .toothP-72 {
    width: 32px;
    height: 38px;
    background-position: -549px -88px;
    top: 347px;
    left: 171px
}

.child-tooth .tooth-72.active,
.child-toothLab .toothLab-72.active {
    background-position: -549px -150px
}

.child-tooth .tooth-72 span,
.child-toothLab .toothLab-72 span,
.child-toothP .toothP-72 span {
    margin: 42px 0 0 36px
}

.child-tooth .tooth-72 .tooth-gum-up,
.child-toothLab .toothLab-72 .tooth-gum-up,
.child-toothP .toothP-72 .tooth-gum-up {
    width: 40px;
    height: 31px;
    top: 19px;
    left: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-72 .tooth-gum-down,
.child-toothLab .toothLab-72 .tooth-gum-down,
.child-toothP .toothP-72 .tooth-gum-down {
    width: 25px;
    height: 38px;
    top: -9px;
    left: -5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-71,
.child-toothLab .toothLab-71,
.child-toothP .toothP-71  {
    width: 27px;
    height: 35px;
    background-position: -583px -88px;
    top: 363px;
    left: 146px
}

.child-tooth .tooth-71.active,
.child-toothLab .toothLab-71.active ,
.child-toothP .toothP-71.active{
    background-position: -583px -150px
}

.child-tooth .tooth-71 span,
.child-toothLab .toothLab-71 span,
.child-toothP .toothP-71 span {
    margin: 49px 0 0 4px
}

.child-tooth .tooth-71 .tooth-gum-up,
.child-toothLab .toothLab-71 .tooth-gum-up,
.child-toothP .toothP-71 .tooth-gum-up {
    width: 29px;
    height: 35px;
    top: 16px;
    left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-71 .tooth-gum-down,
.child-toothLab .toothLab-71 .tooth-gum-down ,
.child-toothP .toothP-71 .tooth-gum-down{
    width: 25px;
    height: 35px;
    top: -14px;
    left: -1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-81,
.child-toothLab .toothLab-81,
.child-toothP .toothP-81 {
    width: 28px;
    height: 35px;
    background-position: -612px -88px;
    top: 365px;
    left: 115px
}

.child-tooth .tooth-81.active,
.child-toothLab .toothLab-81.active ,
.child-toothP .toothP-81.active {
    background-position: -612px -150px
}

.child-tooth .tooth-81 span,
.child-toothLab .toothLab-81 span,
.child-toothP .toothP-81 span {
    margin: 47px 0 0 2px
}

.child-tooth .tooth-81 .tooth-gum-up,
.child-toothLab .toothLab-81 .tooth-gum-up,
.child-toothP .toothP-81 .tooth-gum-up {
    width: 30px;
    height: 35px;
    top: 14px;
    left: -3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-81 .tooth-gum-down,
.child-toothLab .toothLab-81 .tooth-gum-down ,
.child-toothP .toothP-81 .tooth-gum-down {
    width: 25px;
    height: 35px;
    top: -16px;
    left: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-82,
.child-toothLab .toothLab-82 ,
.child-toothP .toothP-82{
    width: 33px;
    height: 38px;
    background-position: -642px -88px;
    top: 350px;
    left: 84px
}

.child-tooth .tooth-82.active,
.child-toothLab .toothLab-82.active ,
.child-toothP .toothP-82.active {
    background-position: -642px -150px
}

.child-tooth .tooth-82 span,
.child-toothLab .toothLab-82 span,
.child-toothP .toothP-82 span {
    margin: 48px 0 0 -16px
}

.child-tooth .tooth-82 .tooth-gum-up,
.child-toothLab .toothLab-82 .tooth-gum-up,
.child-toothP .toothP-82 .tooth-gum-up {
    width: 32px;
    height: 38px;
    top: 13px;
    left: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-82 .tooth-gum-down,
.child-toothLab .toothLab-82 .tooth-gum-down,
.child-toothP .toothP-82 .tooth-gum-down{
    width: 25px;
    height: 38px;
    top: -18px;
    left: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.child-tooth .tooth-83,
.child-toothLab .toothLab-83,
.child-toothP .toothP-83 {
    width: 36px;
    height: 40px;
    background-position: -677px -88px;
    top: 328px;
    left: 59px
}

.child-tooth .tooth-83.active,
.child-toothLab .toothLab-83.active,
.child-toothP .toothP-83.active {
    background-position: -677px -150px
}

.child-tooth .tooth-83 span,
.child-toothLab .toothLab-83 span ,
.child-toothP .toothP-83 span {
    margin: 38px 0 0 -35px
}

.child-tooth .tooth-83 .tooth-gum-up,
.child-toothLab .toothLab-83 .tooth-gum-up,
.child-toothP .toothP-83 .tooth-gum-up {
    width: 34px;
    height: 46px;
    top: 5px;
    left: -10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-83 .tooth-gum-down,
.child-toothLab .toothLab-83 .tooth-gum-down,
.child-toothP .toothP-83 .tooth-gum-down {
    width: 23px;
    height: 40px;
    top: -15px;
    left: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-84,
.child-toothLab .toothLab-84,
.child-toothP .toothP-84 {
    width: 45px;
    height: 52px;
    background-position: -715px -88px;
    top: 283px;
    left: 36px
}

.child-tooth .tooth-84.active,
.child-toothLab .toothLab-84.active ,
.child-toothP .toothP-84.active {
    background-position: -715px -150px
}

.child-tooth .tooth-84 span,
.child-toothLab .toothLab-84 span,
.child-toothP .toothP-84 span {
    margin: 29px 0 0 -43px
}

.child-tooth .tooth-84 .tooth-gum-up,
.child-toothLab .toothLab-84 .tooth-gum-up,
.child-toothP .toothP-84 .tooth-gum-up {
    width: 25px;
    height: 48px;
    top: 3px;
    left: -14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-84 .tooth-gum-down,
.child-toothLab .toothLab-84 .tooth-gum-down,
.child-toothP .toothP-84 .tooth-gum-down {
    width: 25px;
    height: 36px;
    top: -1px;
    left: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-85,
.child-toothLab .toothLab-85,
.child-toothP .toothP-85 {
    width: 49px;
    height: 60px;
    background-position: -762px -88px;
    top: 226px;
    left: 20px
}

.child-tooth .tooth-85.active,
.child-toothLab .toothLab-85.active,
.child-toothP .toothP-85.active {
    background-position: -762px -150px
}

.child-tooth .tooth-85 span,
.child-toothLab .toothLab-85 span,
.child-toothP .toothP-85 span {
    margin: 19px 0 0 -40px
}

.child-tooth .tooth-85 .tooth-gum-up,
.child-toothLab .toothLab-85 .tooth-gum-up ,
.child-toothP .toothP-85 .tooth-gum-up {
    width: 35px;
    height: 57px;
    top: 3px;
    left: -11px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.child-tooth .tooth-85 .tooth-gum-down,
.child-toothLab .toothLab-85 .tooth-gum-down,
.child-toothP .toothP-85 .tooth-gum-down {
    width: 25px;
    height: 55px;
    top: 2px;
    left: 35px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.child-tooth .tooth-diagram-label.top,
.child-toothLab .tooth-diagram-label_Lab.top,
.child-toothP .tooth-diagram-label_P.top {
    left: 50%;
    top: 113px;
    margin-left: -20px;
    font-size: 13px;
    color: #000
}

.child-tooth .tooth-diagram-label.bottom,
.child-toothLab .tooth-diagram-label_Lab.bottom ,
.child-toothP .tooth-diagram-label_P.bottom {
    left: 50%;
    bottom: 113px;
    margin-left: -20px;
    font-size: 13px;
    color: #000
}

.tooth-info h2 {
    margin: 0 0 20px;
    font-weight: 100;
    font-size: 30px
}

.tooth-info p {
    font-size: 100%;
    margin-bottom: 15px;
    color: #666
}