<!-- Branch Listing -->
<div class="animated specialities">
    <div class="admin-top-header sep-bot">
        <div class="row">
            <div class="col-sm-4">
                <h4>Manage Category, Speciality and Sub - Speciality</h4>
            </div>
            <div class="col-sm-8"> 
                <div class="form-group no-mar">
                    <!-- <input type="text" style="width:150px;min-width: 0px;" class="form-control" ng-model="main.createSpeciality" placeholder="Enter New Speciality">
                    <textarea style="width:200px;min-width: 0px;" class="form-control focus" ng-model="main.usernotes" placeholder="Enter Notes"></textarea>
                    <button class="btn btn-primary mr-25" ng-click="addSpeciality()" title="Create Speciality">Add New Speciality</button>
                     -->
                    <button data-toggle="modal" class="action-filled" ng-click="clearAddCategory()"
                        data-target="#addCategory" title="Add Category">Add Category</button>
                    <button data-toggle="modal" class="ml-10 action-filled" ng-click="clearAddSpeciality()"
                        data-target="#addSpeciality" title="Add Speciality">Add Speciality</button>
                    <button data-toggle="modal" class="ml-10 action-filled" ng-click="clearAddSubSpeciality()"
                        data-target="#addSubSpeciality" title="Add Sub-Speciality">Add Sub-Speciality</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-10">
        <div class="panel panel no-mar" data-id="page-scroll" id="page-scrollnew">
            <div class="panel-heading" ng-repeat="category in specialityCollection"><div style="font-weight: bold;
                color: #073b6b; margin-bottom: 20px;" class="panel-title">
                                        <div class="row">
                                                <div class="col-sm-2">

                                                <a data-toggle="collapse" data-target="#collapse0{{category.CategoryID}}" aria-expanded="false"
                                                ng-class="{'nodrop': speciality.length == 0}" ng-click="collapsescroll('collapse0{{category.CategoryID}}')">{{category.CategoryName}}</a>
                                                </div>
                                                </div>
                </div>
                <div id="collapse0{{category.CategoryID}}" class="panel-collapse collapse">

            <div class="panel panel-default" ng-repeat="speciality in category.speciality">
                <div class="panel-heading"
                    ng-class="(showDelete_{{$index}} == true)?'animated fadeIn rTableRow show-error':''">
                    <h4 class="panel-title">
                        <div class="row">
                            <div class="col-sm-4 title">
                                <a data-toggle="collapse" data-target="#collapse1{{category.CategoryID}}{{$index}}" aria-expanded="false"
                                    ng-class="{'nodrop': speciality.subspeciality.length == 0}"
                                    ng-show="!speciality.isEdit" ng-click="collapsescroll('collapse0{{category.CategoryID}}')">{{speciality.DoctorSpecialityDesc}}</a>
                                <input class="form-control small" style="width:150px;min-width: 0px;"
                                    ng-model="main.editSpeciality" ng-show="speciality.isEdit">
                                <input class="form-control small" style="width:150px;min-width: 0px;"
                                    ng-model="main.editusernotes" ng-show="speciality.isEdit">

                            </div>
                            <div class="col-sm-2 icons">
                                <a href="javascript:;" data-tooltip="Edit" class="admin-td-action atc-edit"
                                    ng-show="!speciality.isEdit" ng-click="onEditSpeciality(speciality)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="javascript:;" data-tooltip="Save" class="admin-td-action atc-edit"
                                    ng-show="speciality.isEdit" ng-click="updateSpeciality()">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;" data-tooltip="Delete" class="admin-td-action atc-del"
                                    ng-click="showDelete_{{$index}}=true">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                                <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" ng-show="!speciality.isEdit" ng-click="onEditSpeciality(speciality)"></i> -->
                                <!-- <i class="fa fa-save" aria-hidden="true" ng-show="speciality.isEdit" ng-click="updateSpeciality()"></i>                                -->
                                <!-- <i class="fa fa-trash-o" aria-hidden="true" ng-click="showDelete_{{$index}}=true"></i> -->
                            </div>
                            <div ng-class="(showDelete_{{$index}} == true)?'show-error data-row-delete':'data-row-delete'"
                                ng-show="showDelete_{{$index}} == true">
                                <div class="pull-right">
                                    <p>Do you want to permanently delete this data?</p>
                                    <div class="dr-action">
                                        <a href="javascript:;" class="yes-btn"
                                            ng-click="deleteSpeciality(speciality)">Yes</a>
                                        <a href="javascript:;" class="no-btn"
                                            ng-click="showDelete_{{$index}}=false">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
                <div id="collapse1{{category.CategoryID}}{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body no-pad">
                        <ul class="clearfix">
                            <li class="pt-0 pb-0">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for=""> Sub-Speciality</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for=""> DICOM Code </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="sub in speciality.subspeciality"
                                ng-class="(showsubDelete_{{$index}} == true)?'animated fadeIn rTableRow show-error':''">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row" ng-show="!sub.isEdit">
                                            <div class="col-sm-6">
                                                <span class="cont">{{sub.DoctorSpecialityDesc}}</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="cont"> {{sub.dicomcode}} </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input class="form-control small" ng-show="sub.isEdit"
                                                    ng-model="main.editSubSpeciality">
                                            </div>
                                            <div class="col-sm-4">
                                                <input class="form-control small" ng-show="sub.isEdit"
                                                    ng-model="main.dicomcode">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-2">
                                        <span class="icons clsInnerIcons">
                                            <a href="javascript:;" data-tooltip="Edit" class="admin-td-action atc-edit"
                                                ng-show="!sub.isEdit" ng-click="onEditSubSpeciality(sub, speciality)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            <a href="javascript:;" data-tooltip="Save" class="admin-td-action atc-edit"
                                                ng-show="sub.isEdit" ng-click="updateSubSpeciality()">
                                                <i class="fa fa-save" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" data-tooltip="Delete" class="admin-td-action atc-del"
                                                ng-click="showsubDelete_{{$index}}=true">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                            <!--  <i class="fa fa-pencil-square-o" aria-hidden="true" ng-show="!sub.isEdit" ng-click="onEditSubSpeciality(sub, speciality)"></i>
                                            <i class="fa fa-save" aria-hidden="true" ng-show="sub.isEdit" ng-click="updateSubSpeciality()"></i>
                                            <i class="fa fa-trash-o" aria-hidden="true" ng-click="showsubDelete_{{$index}}=true"></i> -->
                                        </span>
                                    </div>
                                </div>
                                <div ng-class="(showsubDelete_{{$index}} == true)?'show-error data-row-delete':'data-row-delete'"
                                    ng-show="showsubDelete_{{$index}} == true">
                                    <div class="pull-right">
                                        <p>Do you want to permanently delete this data?</p>
                                        <div class="dr-action">
                                            <a href="javascript:;" class="yes-btn"
                                                ng-click="deleteSubSpeciality(sub, speciality, category.CategoryID)">Yes</a>
                                            <a href="javascript:;" class="no-btn"
                                                ng-click="showsubDelete_{{$index}}=false">No</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div ng-show="speciality.subspeciality.length == 0">No data found</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>


</div>

<!-- Add Category -->
<div class="modal-common modal fade subspeciality" id="addCategory">
    <div class="modal-common-dialog new">
        <span class="close" data-dismiss="modal">X</span>
        <!-- <div class="modal-content"> -->
        <div class="model-popup-header">
            <h4 class="modal-title">Add New Category</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <form name="categoryform">
                        <div class="form-group">
                            <label>Enter Category</label>
                            <input type="text" class="form-control" style="margin-bottom: 10px;"
                                ng-model="main.createCategory" required placeholder="Enter Category">
                            <textarea class="form-control" ng-model="main.usercategorynotes"
                                placeholder="Enter Category Notes"></textarea>
                        </div>
                        <div class="form-group text-right mt-10">
                            <button type="button" class="btn btn-primary" ng-disabled="!categoryform.$valid"
                                ng-click="addCategory()">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="modal-common modal fade subspeciality" id="addSubSpeciality">
    <div class="modal-common-dialog new">
        <span class="close" data-dismiss="modal">X</span>
        <!-- <div class="modal-content"> -->
        <div class="model-popup-header">
            <h4 class="modal-title">Add New Sub-Speciality</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <form name="subspecialityform">
                        <div class="form-group">
                            <label>Select Category</label>
                            <select class="form-control" ng-model="main.categoryID" ng-options="special.CategoryID as special.CategoryName for special in specialityCollection" ng-change="selectspeciality(main.categoryID)" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Speciality</label>
                            <select class="form-control" ng-model="main.specialityId" ng-options="special.DoctorSpecialityID as special.DoctorSpecialityDesc for special in speciality.speciality"   required>
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label>Create Sub-Speciality</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>DICOM Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row pr" ng-repeat="add in subSpecialityAddCollection track by $index">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" ng-model="add.specialitydesc" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" ng-model="add.dicomcode" class="form-control" required>
                                </div>
                            </div>
                            <span class="clsRemove" title="Remove">
                                <i class="fa fa-times-circle" ng-click="removesub($index)"></i>
                            </span>
                        </div>
                        <div class="form-group text-right">
                            <span class="addnew" ng-click="addExtrabox()"><i class="fa fa-plus-square"
                                    aria-hidden="true"></i> Add New Sub-Speciality</span>
                        </div>
                        <div class="form-group text-right mt-10">
                            <button type="button" class="btn btn-primary" ng-disabled="!subspecialityform.$valid"
                                ng-click="onCreateSubSpeciality()">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="modal-common modal fade subspeciality" id="addSpeciality">
    <div class="modal-common-dialog new">
        <span class="close" data-dismiss="modal">X</span>
        <form name="addspeciality">
            <div class="model-popup-header">
                <h4 class="modal-title">Add New Speciality</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group">
                                    <label>Select Category</label>
                                    <select class="form-control" ng-model="main.specialityId" required>
                                        <option value="">Select</option>
                                        <option ng-repeat="spe in categoryCollection" value="{{spe.CategoryID}}">
                                            {{spe.CategoryName}}</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label>Enter Speciality</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px;"
                                    ng-model="main.createSpeciality" required placeholder="Enter Speciality">
                                <textarea class="form-control" ng-model="main.usernotes"
                                    placeholder="Enter Patient Preparation Notes"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label>Create Sub-Speciality</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>DICOM Code</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pr" ng-repeat="add in subSpecialityAddCollection track by $index">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="text" ng-model="add.specialitydesc" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input type="text" ng-model="add.dicomcode" class="form-control" required>
                                    </div>
                                </div>
                                <span class="clsRemove" title="Remove">
                                    <i class="fa fa-times-circle" ng-click="removesub($index)"></i>
                                </span>
                            </div>
                            <div class="form-group text-right">
                                <span class="addnew" ng-click="addExtrabox()"><i class="fa fa-plus-square"
                                        aria-hidden="true"></i> Add New Sub-Speciality</span>
                            </div>
                            <div class="form-group text-right mt-10">
                                <button type="button" class="btn btn-primary" ng-disabled="!addspeciality.$valid"
                                    ng-click="addSpeciality()">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>