<div class="admin-top-header sep-bot">
    <h4>Profile Settings</h4>
    <p>Create custom profiles, Set user roles, Set page level access to users</p>
</div>

<div class="profile-settings">
    <div class="row">
        <div class="col-md-3">
            <div class="pro-role-list">
                <div class="form-wrap">
                    <input type="text" name="search" class="form-style i-pad" placeholder="Search by Profile or Group Name" ng-model="searchBy" id="searchbyId">
                    <span class="glyphicon glyphicon-search i-search" aria-hidden="true"></span>
                </div>
                <div class="role-list-header">
                    <h4>List of Profile Roles</h4>
                    <a href="javascript:;" class="add-pro-link" ng-click="resetForm()" ng-if="edit_status">Add Profile</a>
                </div>
                <div class="pro-list" ng-if="rolesListing.length > 0">
                    <ul>
                        <li ng-repeat="roles in rolesListing | filter:{'Active':'Y'} | filter:searchBy" ng-class="(selectGroupCode == roles.GroupCode)?'active':''" style="cursor: pointer;">
                            <div ng-click="editRoles(roles)">
                                <h5 ng-bind="roles.GroupName"></h5>
                                <div class="pro-list-action">
                                    <p ng-bind="roles.RoleDesc"></p>
                                    <div ng-if="roles.RoleDesc != 'Administrator'" class="pl-button">
                                        <a href="javascript:;" class="i-edit" data-tooltip="Edit" ng-click="editRoles(roles)"></a>
                                        <a href="javascript:;" class="i-delete" data-tooltip="Delete" ng-click="deleteRole(roles)" ng-if="roles.ReadOnly != 'Y'"></a>
                                    </div>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
                <div class="no-data-found" ng-if="rolesListing.length == 0">
                    <img src="img/admin-img/no-list.png">
                    <h5>No Profile Roles available</h5>
                </div> 
            </div>
        </div>

        <div class="col-md-9">
            <div class="mr-15">
                <div class="add-new-profile">
                    <h4 ng-if="!edit_status">Add New Profile</h4>
                    <h4 ng-if="edit_status">Update Profile</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-wrap">
                                <span>Group Name</span>
                                <input type="text" name="group" ng-model="groupName.group" class="form-style" placeholder="Enter Group Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-wrap">
                                <span>Role Name</span>
                                <select class="form-style select-dropdown" ng-model="roleName.role" name="role">
                                        <option value="">Select Role</option>
                                        <option ng-repeat="roles in rolesList" value="{{roles.RoleID}}">{{roles.RoleDesc}}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-4 add-new-action pull-right">
                            <a href="javascript:;" class="select-all pull-left" ng-if="selectAllStatus" ng-click="selectAll()">Select All</a>
                            <a href="javascript:;" class="select-all pull-left" ng-if="!selectAllStatus" ng-click="deselectAll()">Deselect All</a>
                            <input type="RESET" name="" class="btn-reset pull-left" value="Reset" ng-click="resetForm()">
                            <button class="btn btn-primary pull-right" ng-click="addUpdateRole()" ng-if="!edit_status">Add</button>
                            <!-- action-disable -->
                            <button class="btn btn-primary pull-right " ng-if="edit_status" ng-click="addUpdateRole()">Update</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-class="nonedit == 'Y' ? 'pointerEventDisable':''">
                    <div class="col-md-4" ng-repeat="rights in rightsList">
                        <div class="access-list">
                            <div class="sel-settings">
                                <div class="checkbox cn pull-left">
                                    <label>
                                            <input type="checkbox" name="checkbox-1" ng-model="AllCheck[rights.AccessCategoryDesc]" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll(AllCheck,rights.AccessCategoryDesc)"><span class="checkbox-material">
                                            <span class="check"></span></span>
                                            <small ng-bind="rights.AccessCategoryDesc"></small>
                                        </label>
                                </div>
                                <div class="pull-right">
                                    <!--<img src="img/admin-img/notify-icon.png" alt="help" data-tooltip="Help" ng-click="showInfo(rights.AccessCategoryDesc)" class="helpIcon">-->
                                </div>
                            </div>
                            <ul class="chec-list">
                                <li class="clearfix" ng-repeat="listRights in rights.AccessRights | filter:{'ActiveIND':'Y'}">
                                    <div class="checkbox cn pull-left">
                                        <label>
                                                <input type="checkbox" name="checkbox-2" ng-model="rolesCollection[listRights.AccessID]" ng-true-value="'Y'" ng-false-value="'N'" ng-change="accessCheck(rolesCollection,listRights)">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                                <small ng-bind="listRights.AccessDesc"></small>
                                            </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" ng-if="showPopup == true"></div>
<div class="modal-common" ng-if="showPopup == true" style="margin-top: 80px;">
    <div class="quesiton-popup">
        <div class="qp-header">
            <img src="img/admin-img/question-popup.png">
            <div class="ap-header-lft">
                <h2 ng-bind="info_title"></h2>
                <p>By selecting this option, you are giving the user full access to:</p>
            </div>
            <a href="javascript:;" data-tooltip="Close" class="qp-pclose" ng-click="popupClose()"><img src="img/admin-img/close-icon.png"></a>
        </div>
        <div class="qp-desc">
            <ul>
                <li ng-repeat="val in info_details">
                    <h4 ng-bind="val.Title"></h4>
                    <p ng-bind="val.Description1" ng-if="val.Description1 != undefined"></p>
                    <p ng-bind="val.Description2" ng-if="val.Description2 != undefined"></p>
                    <p ng-bind="val.Description3" ng-if="val.Description3 != undefined"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-overlay" ng-show="newDeleteRolepupop == true"></div>
<div class="modal-common" ng-show="newDeleteRolepupop == true " id="chekin">
    <div class="modal-common-dialog pup-500">
        <div class="model-popup-header">
            <h4 class="modal-title" id="myModalLabel" style="padding:15px 0px !important; background:#e70e0e;"><img src="images/warning-icon.png" class="warning-img" />Warning</h4>
        </div>
        <div class="chout-msg">
            <p>You are now attempting to delete user role permanently from the system. As a result, the users assigned in this role will be unable to access the system.</p>
        </div>
        <div class="chout-msg">
            <p style="padding-top:5px;">Are you sure you want to delete the role permanently ?</p>
        </div>
        <div style="text-align:center;">
            <a href="javascript:;" ng-click="newDeletepupopCancel()" class="btn btn-grey" style="min-width: 45px; padding: 4px 12px; margin-right:15px;">No</a>
            <a href="javascript:;" ng-click="newDeletepupopOk()" class="btn btn-primary">Yes</a>
        </div>
    </div>
</div>