
<div class="add-user-form">
    <div class="auf-header">
        <h4>Consultant Information</h4>
        <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique justo, nec consequat turpis.</p>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form name="AddUpdateDoctor" novalidate>
                <div class="sarayu-form">
                    <h4>Department Information</h4>
                    <div class="form-wrap">
                        <label>Department <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.departmentID.$touched) && AddUpdateDoctor.departmentID.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <select class="form-style select-dropdown" ng-model="hosUserCollection.DoctorDepartments[0].DepartmentID" name="departmentID" ng-change="getSubDepartmentID()" required>
                               <option value="">Select department</option>
                               <option ng-repeat="department in DepartmentsList" value="{{department.DepartmentDtl.DepartmentID}}" ng-bind="department.DepartmentDtl.DepartmentDesc" ng-selected="department.DepartmentDtl.DepartmentID == hosUserCollection.DoctorDepartments[0].DepartmentID"></option>
                           </select>
                           <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.departmentID.$touched) && AddUpdateDoctor.departmentID.$error.required" class="fm-error-text">Select department</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Sub Department <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.subDepartmentID.$touched) && AddUpdateDoctor.subDepartmentID.$invalid)?'fm-box fm-error':'fm-box'}}">
                           <select class="form-style select-dropdown" ng-model="hosUserCollection.DoctorDepartments[0].SubDepartmentID" name="subDepartmentID" required>
                               <option value="">Select sub department</option>
                               <option ng-repeat="subdepartment in subDepartmentsList" value="{{subdepartment.SubDepartmentID}}" ng-bind="subdepartment.SubDepartmentDesc" ng-selected="subdepartment.SubDepartmentID == hosUserCollection.DoctorDepartments[0].SubDepartmentID"></option>
                           </select>
                           <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.subDepartmentID.$touched) && AddUpdateDoctor.subDepartmentID.$error.required" class="fm-error-text">Select sub department</span>
                        </div>
                    </div>
                </div>

                <div class="sarayu-form">
                    <h4>Consultation Structure</h4>
                    <div class="sa-consult" ng-repeat="billing in hosUserCollection.DoctorDepartments[0].BillingStructure">
                        <div class="form-wrap">
                            <label>Structure Name <small>*</small></label>
                            <div ng-class="((AddUpdateDoctor.$submitted || AddUpdateDoctor.structureName_{{$index}}.$touched) && AddUpdateDoctor.structureName_{{$index}}.$invalid)?'fm-box fm-error':'fm-box'">
                                <input type="text" class="form-style" name="structureName_{{$index}}" placeholder="Enter structure name" ng-model="billing.StructureName" required>
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.structureName_{{$index}}.$touched) && AddUpdateDoctor.structureName_{{$index}}.$error.required" class="fm-error-text">Enter structure name</span>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Display Name <small>*</small></label>
                            <div ng-class="((AddUpdateDoctor.$submitted || AddUpdateDoctor.displayName_{{$index}}.$touched) && AddUpdateDoctor.displayName_{{$index}}.$invalid)?'fm-box fm-error':'fm-box'">
                                <input type="text" class="form-style" name="displayName_{{$index}}" placeholder="Enter display name" ng-model="billing.StructureDPName" required>
                            </div>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.displayName_{{$index}}.$touched) && AddUpdateDoctor.displayName_{{$index}}.$error.required" class="fm-error-text">Enter display name</span>
                        </div>
                        <div class="form-wrap">
                            <label>Amount <small>*</small></label>
                            <div ng-class="((AddUpdateDoctor.$submitted || AddUpdateDoctor.amount_{{$index}}.$touched) && AddUpdateDoctor.amount_{{$index}}.$invalid)?'fm-box fm-error':'fm-box'">
                                <input type="text" class="form-style" name="amount_{{$index}}" placeholder="Enter amount" ng-model="billing.Amount" required>
                            </div>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.amount_{{$index}}.$touched) && AddUpdateDoctor.amount_{{$index}}.$error.required" class="fm-error-text">Enter amount</span>
                        </div>
                        <div class="form-wrap">
                            <label>Type <small>*</small></label>
                            <div ng-class="((AddUpdateDoctor.$submitted || AddUpdateDoctor.typeBilling_{{$index}}.$touched) && AddUpdateDoctor.typeBilling_{{$index}}.$invalid)?'fm-box fm-error':'fm-box'">
                                <select class="form-style select-dropdown" ng-model="billing.Type" name="typeBilling_{{$index}}" required>
                                    <option value="">Select Type</option>
                                    <option value="INDVL">Individual</option>
                                    <option value="ADDIN">Additional</option>
                                </select>
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.typeBilling_{{$index}}.$touched) && AddUpdateDoctor.typeBilling_{{$index}}.$error.required" class="fm-error-text">Select type</span>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Select Status</label>
                            <div ng-class="((AddUpdateDoctor.$submitted || AddUpdateDoctor.Status_{{$index}}.$touched) && AddUpdateDoctor.Status_{{$index}}.$invalid)?'fm-box fm-error':'fm-box'">
                                <select class="form-style select-dropdown" ng-model="billing.Status" name="Status_{{$index}}" required>
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.Status_{{$index}}.$touched) && AddUpdateDoctor.Status_{{$index}}.$error.required" class="fm-error-text">Select status</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="i-delrow" ng-click="removeBillingStructure($index)" ng-if="hosUserCollection.DoctorDepartments[0].BillingStructure.length > 1"></a>
                    </div>
                    <a href="javascript:;" class="add-no" ng-click="addBillingStructure()">Add More Consultation Structure</a>
                </div>
                <div class="sarayu-form">
                    <h4>Address</h4>
                    <div class="form-wrap">
                        <label>Registration No <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.registrationID.$touched) && AddUpdateDoctor.registrationID.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <input type="text" class="form-style" name="registrationID" placeholder="Enter registration no" ng-model="doctorRegistrationId" required>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.registrationID.$touched) && AddUpdateDoctor.registrationID.$error.required" class="fm-error-text">Enter registration id</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Pancard No <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.registrationID.$touched) && AddUpdateDoctor.registrationID.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <input type="text" class="form-style" name="pancard" placeholder="Enter pancard no" ng-model="hosUserCollection.doctorOtherDetails.PanCardID" required>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.pancard.$touched) && AddUpdateDoctor.pancard.$error.required" class="fm-error-text">Enter pancard</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Address 1 <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.Address1.$touched) && AddUpdateDoctor.Address1.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <input type="text" class="form-style" name="Address1" placeholder="Enter Address" ng-model="sarayu.Address1" required>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.Address1.$touched) && AddUpdateDoctor.Address1.$error.required" class="fm-error-text">Enter address1</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Address 2 <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.Address2.$touched) && AddUpdateDoctor.Address2.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <input type="text" class="form-style" name="Address2" placeholder="Enter Address" ng-model="sarayu.Address2" required>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.Address1.$touched) && AddUpdateDoctor.Address1.$error.required" class="fm-error-text">Enter address1</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Country <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.country.$touched) && AddUpdateDoctor.country.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <select class="form-style select-dropdown" ng-model="sarayuCountry.country" name="country" required ng-change="changeCountry()">
                               <option value="">Select country</option>
                               <option ng-repeat="country in adminMain.getCountry" value="{{country.CountryID}}" ng-selected="country.CountryID == sarayuCountry.country">{{country.CountryDesc}}</option>
                            </select>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.country.$touched) && AddUpdateDoctor.country.$error.required" class="fm-error-text">Select country</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>State <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.state.$touched) && AddUpdateDoctor.state.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <select class="form-style select-dropdown" ng-model="sarayuState.state" name="state" required ng-change="changeState()">
                               <option value="">Select state</option>
                               <option ng-repeat="state in stateList" value="{{state.StateID}}" ng-bind="state.StateDesc" ng-selected="state.StateID == sarayuState.state"></option>
                            </select>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.state.$touched) && AddUpdateDoctor.state.$error.required" class="fm-error-text">Select state</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>City <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.city.$touched) && AddUpdateDoctor.city.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <select class="form-style select-dropdown" ng-model="sarayuCity.city" name="city" required ng-change="changeCity()">
                               <option value="">Select city</option>
                               <option ng-repeat="city in cityList" value="{{city.CityID}}" ng-bind="city.CityIDDesc" ng-selected="city.CityID == sarayuCity.city"></option>
                            </select>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.city.$touched) && AddUpdateDoctor.city.$error.required" class="fm-error-text">Select city</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Location <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.location.$touched) && AddUpdateDoctor.location.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <select class="form-style select-dropdown" ng-model="sarayuLocation.location" name="location" required>
                               <option value="">Select location</option>
                               <option ng-repeat="location in locationList" value="{{location.LocationID}}" ng-bind="location.LocationIDDesc" ng-selected="location.LocationID == sarayuLocation.location"></option>
                            </select>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.location.$touched) && AddUpdateDoctor.location.$error.required" class="fm-error-text">Select location</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label>Pincode <small>*</small></label>
                        <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.pincode.$touched) && AddUpdateDoctor.pincode.$invalid)?'fm-box fm-error':'fm-box'}}">
                            <input type="text" class="form-style" name="pincode" ng-model="sarayu.Pincode" placeholder="Enter pincode" required>
                            <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.pincode.$touched) && AddUpdateDoctor.pincode.$error.required" class="fm-error-text">Enter pincode</span>
                        </div>
                    </div>
                </div>

                <div class="form-wrap">
                    <div class="fm-action pull-right">
                        <!-- Add pages -->
                        <button class="action-filled" type="button" ng-click="addUpdateDoctor('',2,'yes')" ng-if="!editDoctorBasic">Skip</button>
                        <button class="action-primary" type="submit" ng-if="!editDoctorBasic" ng-click="addUpdateDoctor(AddUpdateDoctor,2)">Next</button>
                        <!-- End of Add Pages -->
                        <!-- Only User Edit -->
                        <button class="action-primary" type="button" ng-if="editDoctorBasic" ng-click="addUpdateDoctor('',3,'yes')">Skip & Submit</button>
                        <button class="action-primary" type="submit" ng-click="addUpdateDoctor(AddUpdateDoctor,3,'no')" ng-if="editDoctorBasic">Submit</button>
                        <!-- End of only user edit -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
