 
<div class="add-user-form">
    <div class="admin-top-subheader">
        <a href="javascript:;" class="back-list" ng-show="showWizard" ng-click="pageChange('adduser')">Back</a>
        <a href="javascript:;" class="back-list" ng-if="addHospitalDoc" ng-click="pageChange('viewListing')">Back</a>
        <h4 ng-show="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Assign Branch &amp; Timings</h4>
        <h4 ng-hide="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Assign Branch</h4>
         <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique justo, nec consequat turpis.</p>
    </div>
    <div class="manage-user-profile">
        <div class="row">
            <div class="col-md-1 text-center"><img src="img/admin-img/avatar-icon.png"></div>
            <div class="col-md-11">
                <div class="clearfix">
                    <!--<h4 class="dr-name" ng-if="hosUserCollection.doctorDetails.FirstName != undefined" ng-bind="'Dr. '+ hosUserCollection.doctorDetails.FirstName + ' ' + hosUserCollection.doctorDetails.LastName"></h4>-->

                    <!--<h4 class="dr-name" ng-if="hosUserCollection.doctorDetails.FirstName == undefined" ng-bind="'Dr. '+ hosUserCollection.doctorDetails.FullName"></h4>-->
                    <h4 ng-show="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'" class="dr-name" ng-bind="(hosUserCollection.doctorDetails.FirstName != undefined) ? (drnameshw?'':'Dr. ')+ hosUserCollection.doctorDetails.FirstName + ' ' + hosUserCollection.doctorDetails.LastName : (drnameshw?'':'Dr. ')+ hosUserCollection.doctorDetails.FullName"></h4>

                    <h4 ng-hide="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'" class="dr-name" ng-bind="(hosUserCollection.doctorDetails.FirstName != undefined) ? hosUserCollection.doctorDetails.FirstName + ' ' + hosUserCollection.doctorDetails.LastName : hosUserCollection.doctorDetails.FullName"></h4>
                </div>
                <div class="mup-info clearfix">
                    <ul>
                       <li ng-hide="showWizard">
                            <span>Mobile:</span>
                            <h5 ng-repeat="phone in selectedDoctor.doctorPhone">
                                <span ng-if="phone.PhType == 'M'" ng-bind="'+'+phone.PhCntryCD +'- '+ phone.PhNumber">  
                                </span>
                                <span ng-if="phone.PhType == 'L'" ng-bind="'+'+phone.PhAreaCD +'- '+ phone.PhNumber">
                                </span>
                            </h5>
                       </li>
                        <li ng-show="showWizard">
                            <span>Mobile:</span>
                            <h5 ng-repeat="phone in hosUserCollection.DoctorPhone">
                                <span ng-if="phone.PhType == 'M'" ng-bind="'+'+phone.PhCntryCD +'- '+ phone.PhNumber">
                                </span>
                                <span ng-if="phone.PhType == 'L'" ng-bind="'+'+phone.PhAreaCD +'- '+ phone.PhNumber">
                                </span>
                            </h5>
                        </li>
                       <li>
                          <span>Username / Email: </span>
                          <h5 ng-bind="hosUserCollection.doctorDetails.DoctorLoginID"></h5>
                       </li>
                       <li>
                          <span>Role: </span>
                          <p ng-bind="(rolesID.role =='RECPTNIST')?'RECEPTIONIST':rolesID.role"></p>
                       </li>
                       <li>
                          <span>Group: </span>
                          <h5 ng-bind="groupId.group"></h5>
                       </li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>
    <div class="time-schedule">
        <div class="row pb-15">
            <div class="col-lg-3">
                <div class="branch-timing time-lft-box">
                    <h5  ng-show="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Please select branch to set timings:</h5>
                    <h5 ng-hide="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Please select branch:</h5>
                    <div class="form-wrap">
                        <label>Branch</label>
                        <select class="form-style select-dropdown" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDoctorsList" ng-model="addHospital.clinic" ng-change="AddClinicDoc()" ng-if="!addHospitalDoc"></select>

                        <select class="form-style select-dropdown" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in newAddHospitalList" ng-model="addHospital.clinic" ng-change="AddClinicDoc()" ng-if="addHospitalDoc"></select>
                    </div>
                    <div class="form-wrap" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                        <label>Average Consultation Time</label>
                        <select class="form-style select-dropdown" ng-change="changemintues()" ng-model="hospital.minpercase" name="hospitalTimings">
                            <option value="5">05</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 no-pad-left" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                <div ng-class="(updateTimingsStatus)?'add-time-slot active':'add-time-slot'">
                    <div class="clearfix">
                        <h4>Add time slot</h4>
                        <a href="javascript:;" class="ts-rbtn" ng-click="resetPreviousData()">Reset</a>
                    </div>
                    <div class="se-timebox">
                        <div class="s-time">
                            <label>Start Time:</label>
                            <select class="form-style st-fbox select-dropdown" ng-change="getEndTime(startTimeHH.start)" ng-model="startTimeHH.start">
                                <option ng-repeat="time in startValues" ng-bind="time.time" value="{{time.time}}"></option>
                            </select>
                            <select class="form-style st-tbox select-dropdown" ng-model="startTimeMM.end">
                                <option ng-selected="{{startTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option>
                            </select>
                        </div>
                        <div class="e-time">
                            <label>End Time:</label>
                            <select class="form-style st-fbox select-dropdown" ng-model="endTimeHH.start">
                                <option ng-repeat="time in endValues" ng-bind="time.time" value="{{time.time}}"></option>
                            </select>
                            <select class="form-style st-tbox select-dropdown" ng-model="endTimeMM.end">
                                <option ng-selected="{{startTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-days">
                        <div class="clearfix">
                            <label>Select Days:</label>
                            <a href="javascript:;" class="sd-uselect" ng-click="checkAll()"><span ng-if="selection.length != 7"> Select All</span><span ng-if="selection.length == 7"> Deselect All</span></a>
                        </div>
                        <ul class="d-list">
                            <li ng-repeat="day in daycdList" class="{{selection.indexOf(day.value) !== -1?'active':''}}"><a href="javascript:;" ng-click="toggleSelection(day.value)">{{day.value}}</a></li>
                        </ul>
                    </div>
                    <button class="action-primary pull-right" ng-click="submitTimings()" ng-if="!updateTimingsStatus">add</button>
                    <button class="action-primary pull-right" ng-click="submitTimings()" ng-if="updateTimingsStatus">Update</button>
                </div>
            </div>
            <div class="col-lg-6 no-pad-left" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                <div class="time-slot">
                    <div class="clearfix">
                        <div class="pull-right hide">
                            <span class="bulb-green">Available</span>
                            <!-- <span class="bulb-grey">Unavailable</span> -->
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="avail-time-slot">
                            <div class="no-time-slot" ng-if="consultationDetails.length == 1">
                                <img src="img/admin-img/no-time-slot.png">
                                <p>TIme slot is empty</p>
                            </div>
                            <table ng-if="consultationDetails.length > 1">
                                <tr>
                                    <th width="25%">Day</th>
                                    <th>Time Slots</th>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'SUN'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'MON'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'TUE'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i href="javascript:;" ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'WED'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'THU'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i href="javascript:;" ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'FRI'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'SAT'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="time-slot-action">
                    <button type="button" class="action-filled pull-left" ng-if="addHospitalDoc" ng-click="pageChange('viewListing')">Back</button>
                    <button type="submit" class="action-primary pull-left" name="final_submit" ng-click="addUpdateDoctor('',3,'yes')">Save</button>
                </div>
            </div>
            <div class="col-lg-9 no-pad-left" ng-if="rolesID.role != 'DOCTOR' && rolesID.role != 'DUTYDOCTOR' && rolesID.role != 'CONSULTANT' && rolesID.role != 'REFERRAL'&& rolesID.role != 'ADMIN' && rolesID.role != 'ADMINISTRATOR'">
                <div class="receptionist-timeslot">
                    <div class="no-time-slot">
                        <img src="img/admin-img/no-time-slot.png">
                        <p>No time slot</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="addnewTime == 1">
            <div class="col-lg-3">
                <div class="branch-timing time-lft-box">
                    <h5  ng-show="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Please select branch to set timings:</h5>
                    <h5 ng-hide="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR'|| rolesID.role == 'CONSULTANT'|| rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN'|| rolesID.role == 'ADMINISTRATOR'">Please select branch:</h5>
                    <div class="form-wrap">
                        <label>Branch</label>
                        <select class="form-style select-dropdown" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDoctorsList" ng-model="addHospital.clinic" ng-change="AddClinicDoc()" ng-if="!addHospitalDoc"></select>

                        <select class="form-style select-dropdown" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in newAddHospitalList" ng-model="addHospital.clinic" ng-change="AddClinicDoc()" ng-if="addHospitalDoc"></select>
                    </div>
                    <div class="form-wrap" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                        <label>Average Consultation Time</label>
                        <select class="form-style select-dropdown" ng-change="changemintues()" ng-model="hospital.minpercase" name="hospitalTimings">
                            <option value="5">05</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 no-pad-left" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                <div ng-class="(updateTimingsStatus)?'add-time-slot active':'add-time-slot'">
                    <div class="clearfix">
                        <h4>Add time slot</h4>
                        <a href="javascript:;" class="ts-rbtn" ng-click="resetPreviousData()">Reset</a>
                    </div>
                    <div class="se-timebox">
                        <div class="s-time">
                            <label>Start Time:</label>
                            <select class="form-style st-fbox select-dropdown" ng-change="getEndTime(startTimeHH.start)" ng-model="startTimeHH.start">
                                <option ng-repeat="time in startValues" ng-bind="time.time" value="{{time.time}}"></option>
                            </select>
                            <select class="form-style st-tbox select-dropdown" ng-model="startTimeMM.end">
                                <option ng-selected="{{startTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option>
                            </select>
                        </div>
                        <div class="e-time">
                            <label>End Time:</label>
                            <select class="form-style st-fbox select-dropdown" ng-model="endTimeHH.start">
                                <option ng-repeat="time in endValues" ng-bind="time.time" value="{{time.time}}"></option>
                            </select>
                            <select class="form-style st-tbox select-dropdown" ng-model="endTimeMM.end">
                                <option ng-selected="{{startTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-days">
                        <div class="clearfix">
                            <label>Select Days:</label>
                            <a href="javascript:;" class="sd-uselect" ng-click="checkAll()"><span ng-if="selection.length != 7"> Select All</span><span ng-if="selection.length == 7"> Deselect All</span></a>
                        </div>
                        <ul class="d-list">
                            <li ng-repeat="day in daycdList" class="{{selection.indexOf(day.value) !== -1?'active':''}}"><a href="javascript:;" ng-click="toggleSelection(day.value)">{{day.value}}</a></li>
                        </ul>
                    </div>
                    <button class="action-primary pull-right" ng-click="submitTimings()" ng-if="!updateTimingsStatus">add</button>
                    <button class="action-primary pull-right" ng-click="submitTimings()" ng-if="updateTimingsStatus">Update</button>
                </div>
            </div>
            <div class="col-lg-6 no-pad-left" ng-if="rolesID.role == 'DOCTOR' || rolesID.role == 'DUTYDOCTOR' || rolesID.role == 'CONSULTANT' || rolesID.role == 'REFERRAL'|| rolesID.role == 'ADMIN' || rolesID.role == 'ADMINISTRATOR'">
                <div class="time-slot">
                    <div class="clearfix">
                        <div class="pull-right hide">
                            <span class="bulb-green">Available</span>
                            <!-- <span class="bulb-grey">Unavailable</span> -->
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="avail-time-slot">
                            <div class="no-time-slot" ng-if="consultationDetails.length == 1">
                                <img src="img/admin-img/no-time-slot.png">
                                <p>TIme slot is empty</p>
                            </div>
                            <table ng-if="consultationDetails.length > 1">
                                <tr>
                                    <th width="25%">Day</th>
                                    <th>Time Slots</th>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'SUN'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'MON'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'TUE'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i href="javascript:;" ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'WED'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'THU'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i href="javascript:;" ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'FRI'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td ng-repeat="item in consultationDetails  | orderBy : '-Active'  | filter:{'DayCD':'SAT'} | filter:{'Active':'Y'}">
                                        <a href="javascript:;" class="tin">
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID != 0" data-tooltip="Edit"></span>
                                            <span ng-bind="item.StartTime +' to '+ item.EndTime" ng-click="editTimings(item)"  ng-if="item.AddressConsultID == 0"></span>
                                            <i ng-if="item.AddressConsultID != 0" class="avt-grey" ng-click="removeTimings(item)" data-tooltip="Delete"></i>
                                        </a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="time-slot-action">
                    <button type="button" class="action-filled pull-left" ng-if="addHospitalDoc" ng-click="pageChange('viewListing')">Back</button>
                    <button type="submit" class="action-primary pull-left" name="final_submit" ng-click="addUpdateDoctor('',3,'yes')">Save</button>
                </div>
            </div>
            <div class="col-lg-9 no-pad-left" ng-if="rolesID.role != 'DOCTOR' && rolesID.role != 'DUTYDOCTOR' && rolesID.role != 'CONSULTANT' && rolesID.role != 'REFERRAL'&& rolesID.role != 'ADMIN' && rolesID.role != 'ADMINISTRATOR'">
                <div class="receptionist-timeslot">
                    <div class="no-time-slot">
                        <img src="img/admin-img/no-time-slot.png">
                        <p>No time slot</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="time-slot-action">
                    <!--<button type="button" class="action-filled pull-left">Back</button>-->
                    <button type="submit" class="action-primary pull-left ml-10" name="final_submit" ng-click="addnewTime = 1">Add New Clinic</button>
                    <button type="submit" class="action-primary pull-left ml-10" name="final_submit" ng-click="addUpdateDoctor('',3,'yes')">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

