<div class="billing-cominsoon text-center">
    <img src="img/no-data/no permissions.png">
    <div class="msg">
        <p class="goback-text">You have no permission to view this report</p>
        <p class="no-records-txt-line2">Please contact the administrator of your hospital / clinic to view this report.
        </p>
    </div>
</div>