<div class="billing-cominsoon text-center">
    <img src="img/no-data/no permissions.png">
    <div class="msg">
        <p class="goback-text">This feature isn't available to you yet</p>
        <p class="no-records-txt-line2" ng-hide="urlpath">Get more efficient with detailed reports and statistics. Please contact <a href="mailto:support@hcue.co">support@hcue.co</a> for more details. </p>
        <p class="no-records-txt-line2" ng-show="urlpath">Get more efficient with detailed reports and statistics. Please contact <a href="mailto:justdentalindia@gmail.com">justdentalindia@gmail.com</a> for more details. </p>
    </div>
</div> 