<div class="c7report" ng-controller="c7AuditCriteriaReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3 no-pad">
                                <div class="form-group no-mar clearfix">
                                    <label for="range">Filter By Range <em>*</em></label>
                                    <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY" ng-model="daterange" type="text" daterangedashboardpicker id="dashdaterange">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group no-mar">
                                    <label for="range">Select Location</label>
                                    <select class="form-control" ng-model="hospitalID">
                                        <option value="0">All</option>
                                        <option ng-repeat="hospitalData in hospitalDoctorsList" value="{{hospitalData.HospitalInfo.HospitalDetails.HospitalID}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group no-mar">
                                    <label for="range">Select Region</label>
                                    <select class="form-control" ng-model="regionId">
                                        <option value="0">All</option>
                                        <option ng-repeat="region in allRegion" value="{{region.regionid}}">{{region.regionname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group no-mar">
                                    <label for="range">Select CCG</label>
                                    <select class="form-control" ng-model="ccgId">
                                        <option value="0">All</option>
                                        <option ng-repeat="ccg in allCCG" value="{{ccg.ccgid}}">{{ccg.ccgname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center no-pad">
                        <button class="btn btn-primary mt-20" style="padding: 7px 10px !important;" ng-click="getClinicAuditData()">Apply</button>
                        <!-- </div>
                    <div class="col-md-2 text-right pt-20"> -->
                        <figure class="cursor export-excel ng-scope pt-20 ml-10" title="Export to Excel" ng-if="clinicAuditData.length > 0" ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive" ng-hide="clinicAuditData.length==0">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th>DW ID</th>
                        <th>Patient Name</th>
                        <th>Scan date</th>
                        <th>Speciality</th>
                        <th>Sonographer name</th>
                        <th>Region</th>
                        <th>CCG name</th>
                        <th>Appointment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in clinicAuditData">
                        <td>{{data.DWID}}</td>
                        <td>{{data.Patientname}}</td>
                        <td>{{data.Scandate | convertdate}}</td>
                        <td>{{data.Speciality}}</td>
                        <td>{{data.SonographerName}}</td>
                        <td>{{data.RegionName}}</td>
                        <td>{{data.CcgName}}</td>
                        <td>{{data.AppointmentStatus}}</td>
                    </tr>
                </tbody>
                <tbody ng-show="clinicAuditData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div ng-show="clinicAuditData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>