<style>
    .pro-img-pat {
    width: 35px;
    height:35px;
    border-radius: 100%;
    left: 15px !important;
    top: 15px !important;
    position:static!important
}
</style>

<div class="wrapper " style="margin-top:20px;">
    <div class="container-fluid">
        <div class="pa-search-head" style="margin-bottom:15px;">
            <div class="row">
                <div class="col-lg-3 pull-left">
                    <a href="#/phonenumber" class="back-list" style="margin-bottom:5px">Back</a>
                </div>
                <div class="col-lg-6 pull-right">
                    <button class="btn pull-right btn-filled" ng-click="AddPatient()">Register Patient</button>
                </div>
            </div>
        </div>
        <div class="patient-list" ng-hide="patients.length == 0">
            <div class="patients-list-box">
                <div class="row" style="">
                    <div class="col-md-3 boxhover ng-scope" ng-repeat="patientinfo in (patients | orderBy:'-LastVisited'|emptyToEnd:'LastVisited')">

                        <div class="well pa-search-box patients-info-wrap dr-search-results" ng-mouseenter="hover(patientinfo)" ng-mouseleave="hover(patientinfo)" ng-click="toggleGroup(patientinfo)">
                            <div class="patientlist-photo">
                                <!--<div><img class="pat-search-star-img" src="img/star_tick.png"></div>-->
                                <div class="profile-image">
                                    <span ng-if="patientinfo.ProfileImg == null || patientinfo.ProfileImg.length == 0" style="background:
                                          {{patientinfo.colors}}">
                                        {{patientinfo.FullName | limitTo:2}}
                                    </span>
                                    <img ng-if="patientinfo.ProfileImg.length > 0" src="{{patientinfo.ProfileImg}}" alt="" class="pro-img-pat">
                                </div>
                                <div class="patient-info patientlist-info">
                                    <h3 class="ng-binding">{{(patientinfo.Title.length > 0)? (patientinfo.Title + '. '):""}}{{patientinfo.FullName}}</h3>
                                    <div class="patientlist-age">
                                        <h4 class="pat-dob ng-binding">
                                            Gender: {{patientinfo.Gender == 'M' ? 'Male' : 'Female'}} | Age: {{((patientinfo.CurrentAge === undefined) ? patientinfo.Age :(((patientinfo.CurrentAge.year > 0) ?patientinfo.CurrentAge.year + " y" : '' )+ ' ' + (((patientinfo.CurrentAge.month > 0) ? patientinfo.CurrentAge.month + " m" : '')))) }}
                                        </h4>
                                    </div>
                                    <div class="pa-app noborderL patientlist-app">
                                        <h4 class="pa-ph ng-binding"> {{patientinfo.ContactNumber}}</h4>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
								

                                 <div class="pa-id" ng-show="patientinfo.DisplayID !== undefined && patientinfo.DisplayID !== ''">Patient ID: <strong >{{patientinfo.DisplayID}}</strong></div>
                                <!-- <div class="fa-id" ng-show="patientinfo.FamilyDisplayID !== undefined && patientinfo.FamilyDisplayID !==' '">Family ID: <strong>{{patientinfo.FamilyDisplayID}}</strong></div> -->
                                <div class="patientlist-ltime">
                                   <span ng-hide="patientinfo.LastVisited == undefined">Last Consulted<strong>{{getLastVistedDate(patientinfo.LastVisited)}}</strong></span>
                                </div>
                                 <div class="pa-due-amt" ng-show="patientinfo.patientCaseBillingAmtInfo.length > 0" >
                                     <span  ng-hide="patientinfo.patientCaseBillingAmtInfo[0].totalBalanceCost == 0" >Due: {{((patientinfo.patientCaseBillingAmtInfo.length > 0) ? patientinfo.patientCaseBillingAmtInfo[0].totalBalanceCost : '')| number:0 }} </span>
                                </div>
                            </div>
                            <div class="pts-actions">
                                <a class="search-hov-edit" ng-show="patientinfo.showDelete && patientinfo.DisplayID !== undefined && patientinfo.DisplayID !== ''" ng-click="updatepatient(patientinfo)">
                                    <img src="img/editicon-green.png" title="Edit Patient">
                                </a>
                                <!-- <a class="search-hov-cal" ng-show="patientinfo.showDelete" ng-click="addPatientAppointment(patientinfo)"> -->
                                <a class="search-hov-cal">
                                    <img src="img/new-green-cal.png" title="Appointment  ">
                                </a>
                                <!-- <a class="search-hov-inr" ng-show="patientinfo.showDelete && showBilling" ng-click="addPatientBilling(patientinfo)">
                                    <img src="img/patient_list_money.png" title="Bill">
                                </a> -->
                            </div>
                                <div class="patient-actions">
                                    <a class="patient-search-btns strt-appoinmt" ng-show="patientinfo.showDelete" ng-click="consultationEntry(patientinfo)" style="">Start Consultation</a>
                                    <a class="patient-search-btns view-history " ng-show="patientinfo.showDelete" ng-click="ViewHistory(patientinfo)" style="">View Case History</a>
                                </div>
                            </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="billing-cominsoon norecords-found-patients text-center" ng-show="patients.length == 0">
            <img src="img/no-data/no-results.png">
            <div class="msg">
                <p class="goback-text">No patient found for this Contact number {{noResultNumber}}</p>
                <p class="goback-text-line2">Please register the patient.</p>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" ng-show="addAppointmentInfo == true" style="z-index:9;"></div>
<div class="modal-common" ng-show="addAppointmentInfo == true" style="" id="bkAppointment">
    <div class="modal-common-dialog" style="width:800px !important">
        <div class="model-popup-header">
            <h4 class="modal-title" id="myModalLabel">Book Appointment</h4>
        </div>
        <div class="pl-popup">
            <form name="patientform" class="css-form" novalidate>
                <div class="responsive patient-displayTable">
                    <table class="table">
                        <tr>
                            <th>Patient Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>
                                <p ng-show="PhoneNumber !== undefined || PhoneNumber.length > 0"> Contact Number </p>
                            </th>
                        </tr>
                        <tr>
                            <td>{{(Title === undefinedFullName) ? FullName : Title + ". " + FullName}}</td>
                            <td>{{Gender == 'M' ? 'Male': 'Female'}}</td>
                            <td>
                                {{((CurrentAge === undefined) ? '-' :(((CurrentAge.year > 0) ? CurrentAge.year + "y" : '' )+ ' ' + (((CurrentAge.month > 0) ? CurrentAge.month + "m" : ''))))}}
                            </td>
                            <td>
                                {{
PhoneNumber.length
                                < 6 ? "-": PhoneNumber
                                }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix">
                    <!--<label class="uppercase field-label">Comments</label>
                            <div class="chiefcomplaint">
                              <textarea ng-model="patient_problems" class="form-control" placeholder="Add any problems or symptoms here" name="patient_problems" id="patient_problems"></textarea>
                            </div>-->
                    <p ng-show="(docTimeStatus == 'A')" style="color: #333;
    background: #e9eef3;
    box-shadow: 1px 1px 3px rgba(47, 83, 107, 0.3);
    padding: 10px;
    border-radius: 4px;margin-bottom: 20px;">
                        Your doctor may not be available in this time.
                        <br />You can proceed with bookings anyway!
                    </p>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <div ng-show="showmandatory =='Y'">
                                <label class="uppercase required field-label light-label">Appointment Type <em data-ng-if="showmandatory == 'Y'">*</em></label>
                                <select name="appointment_type" id="appointment_type" class="form-control select-dropdown" ng-model="appointment_type" ng-change="apptypechange(appointment_type)" required>
                                    <option value="">Select Appointment Type</option>
                                    <option value="OTHERS">Others</option>
                                    <option value="HOMEVISIT">Home Visit</option>
                                    <option value="FOLLOWUP">Follow-Up Visit</option>
                                    <option value="NEWPATIENT">New Patient Visit</option>
                                    <option value="OLDPATIENT">Existing Patient</option>
                                    <option value="NURSING">Nursing Only</option>
                                    <option value="URGENT">Urgent Visit</option>
                                </select>
                            </div>
                            <div ng-show="showmandatory =='N'">
                                <label class="uppercase required field-label light-label">Appointment Type </label>
                                <select name="appointment_type" id="appointment_type" class="form-control select-dropdown" ng-model="appointment_type" ng-change="apptypechange(appointment_type)">
                                    <option value="">Select Appointment Type</option>
                                    <option value="OTHERS">Others</option>
                                    <option value="HOMEVISIT">Home Visit</option>
                                    <option value="FOLLOWUP">Follow-Up Visit</option>
                                    <option value="NEWPATIENT">New Patient Visit</option>
                                    <option value="OLDPATIENT">Existing Patient</option>
                                    <option value="NURSING">Nursing Only</option>
                                    <option value="URGENT">Urgent Visit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="uppercase required field-label light-label">Branch</label>
                            <!-- Admin doctor collection -->
                            <!--<select class="form-input select-dropdown " name="docAddress" ng-model="hospitalid" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalInfo.HospitalDetails.HospitalID" ng-change="getDoctorInfoByHospitalId(hospitalid)" style=""></select>-->
                            <!-- Admin doctor collection -->
                            <select class="form-control select-dropdown " name="docAddress" ng-model="hospitalid" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalInfo.HospitalDetails.HospitalID" ng-change="getDoctorInfoByHospitalId(hospitalid)" ng-show="hospitalLevelDoc" ></select>
                            <!-- End of admin doctor collection -->
                            <!-- Single Doctor -->
                            <select class="form-control select-dropdown " name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="DocChange(NewMain.SelectedDoctor)" style="width: 200px !important;" ng-show="!hospitalLevelDoc"></select>
                            <!-- End of single doctor -->
                        </div>
                        <div class="col-sm-4" ng-if="allDoctorAllowed">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Doctor(s)</label>
                                <!-- Admin created doctors -->
                                <select class="form-control select-dropdown" name="docID" ng-change="DocChange(NewMain.SelectedDoctor)" ng-model="NewMain.SelectedDoctor" ng-options="s.FullName for s in clinicDoctorList | filter:greaterThan('DoctorID',1)" style="" ng-show="hospitalLevelDoc">
                                    <option value="">Select Doctor</option>
                                </select>
                                <!-- End of admin created doctors -->
                                <!-- Single Doctor -->
                                <select class="form-control select-dropdown" name="docID" ng-change="DocChange(singleDoctorList)" ng-model="singleDoctorList" ng-options="s.FullName for s in doctorDataList | filter:greaterThan('DoctorID',1)" ng-show="!hospitalLevelDoc">
                                    <option value="">Select Doctor</option>
                                </select>
                                <!-- End of single doctor -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 " style="">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Date</label>
                                <input ng-model="referredappointmentdate" class="text-section popup-icon-calendar" ng-change="chgDate(referredappointmentdate)" type="text" datepickerappointmentlist readonly style="background-color: #fff;">
                                
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Start Time</label>
                                <select class="form-control select-dropdown" name="patinet_appStarttime" id="patinet_appStarttime" ng-options="patinet_appStarttime.startTime for patinet_appStarttime in setValue track by patinet_appStarttime.startTime" ng-model="patinet_appStarttime" ng-change="Endtimechange()">
                                    <option value="">Select Start Time</option>
                                </select>
                                <span ng-show="selectedSlotAppointmentInfo != undefined" class="error-msg">This slot have already occupied</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">End Time</label>
                                <select class="form-control select-dropdown" name="patinet_appEndtime" id="patinet_appEndtime" ng-options="patinet_appEndtime.endTime for patinet_appEndtime in setEndValue track by patinet_appEndtime.endTime" ng-model="EndtimeVAlue">
                                    <option value="">Select End Time</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="" class="light-label">Referral Source</label>
                            <select name="Source" class="form-control select-dropdown" id="Source" ng-model="Source" ng-change="SourceChange(Source)">
                                <option value="">Select Referral</option>
                                <option ng-repeat="Ref in ReferralList | filter:{'ActiveIND':'Y'}" value="{{Ref.ReferralID}}">{{Ref.ReferralTitle}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="" class="light-label">Sub Referral</label>
                            <select name="SubSource" class="form-control select-dropdown" id="SubSource" ng-model="SubSource">
                                <option value="">Select Sub Referral</option>
                                <option ng-repeat="sub in subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}">{{sub.SubCatagoryDesc}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">

                        </div>
                        <div class="col-md-4 form-group">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-6">
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup1" id="popup1" value="popup1" ng-model="notifySMS" class="ng-pristine ng-untouched ng-valid">
                                        <label for="popup1">Send SMS</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup2" id="popup2" value="popup2" ng-model="notifyMAIL" class="ng-pristine ng-untouched ng-valid">
                                        <label for="popup2">Send Email</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label class="light-label">Visit Reason</label>
                                <!--<input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="fullName" required="" placeholder="Enter Visit Reason" ng-model="othervisitrsn">-->
                                <textarea placeholder="Enter Visit Reason" class="msd-elastic form-control " ng-model="othervisitrsn" aw-limit-length="200" uib-typeahead="visitReasonitem as visitReasonitem.VisitRsnTitle for visitReasonitem in visitReasonList | filter:$viewValue | filter:{ActiveIND:'Y'}|limitTo:12" ng-change="visitReasonOnChange()" typeahead-on-select="onItemSelected(othervisitrsn)" typeahead-template-url="customTemplateMedHistory.html" typeahead-min-length="3" typeahead-wait-ms="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-grey" ng-click="closeAppointment()">Cancel</button>
                    <button class="btn btn-primary" ng-click="BookAppointment()">Confirm Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>

