
<div class="wrapper">
    <!-- <ion-content class="content-sec" >
        <div class="header-bar red-theme">
            <div class="row">
                <div class="col-10"><a href=""><i class="ion-android-hmenu"></i></a></div>
                <div class="col-80">
                    <h1 class="title text-center pastrecord-title">Past Records</h1>
                </div>
                <div class="col-10"></div>
            </div>
        </div>
        
</ion-content> -->
		<div style="margin: 50px 0">
         <div ng-include ="'templates/consultation/patient-summary.html'"></div>
        </div>	
    
</div>
