<div class="container">
	<div class="row">
    	<div id="wrapper" class="add-new-patinet" style="width:400px;">
        	<form name="phonenoform" class="css-form" novalidate>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 add-np">
                            <h3 class="">Search Existing Patient</h3>
                        </div>
                    </div>
                    <span class="error-msg" style="text-align: center;
    display: block;
    margin: 10px 0 -20px;" ng-show="error">Enter a valid mobile number or telephone number</span>
                <div class="inner-wbg">
                    <div class="row">
                         <div class="row">
                        <div class="col-lg-12 col-md-12" ng-show="Sarayu == 'PRIMEINDIA'">
                            <label class="form-header">Mobile Number/Family ID/Patient ID</label>
                        </div>
                        
                            <div class="col-lg-12 col-md-12" ng-hide="Sarayu == 'PRIMEINDIA'">
                                <label class="form-header">Mobile Number</label>
                            </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12">
                            <div class="row" ng-show="Sarayu == 'PRIMEINDIA'">
                                
                                <div class="col-md-12">
                                    <input type="text" name="familyid" class="form-control" placeholder="Search by mobilenumber / family ID / patient ID" ng-model="familyid">
                                </div>
                            </div>
                            <div class="row" ng-hide="Sarayu == 'PRIMEINDIA'">
                                <div class="col-md-3">
                                    <input type="text" placeholder="" ng-model="cntryCode" class="form-control std-code-no">
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="mobilenumber" class="form-control" ng-minlength="mobilenumber.length == 0? 0:10" ng-maxlength="10" ng-model="mobilenumber" onkeypress="return isNumber(event)"  aw-limit-length="10" placeholder="Search by mobile number" ng-model="mobilenumber" ng-change="mobilevalue(mobilenumber)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="phonenoform.$submitted || phonenoform.mobilenumber.$touched">                     
                        <span class="error-msg" ng-show="phonenoform.mobilenumber.$error.minlength">Enter a valid mobile number</span>
                        <span class="error-msg" ng-show="phonenoform.mobilenumber.$error.maxlength">Enter a valid mobile number (max)</span>
                    </div>                    
                       
                   
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <label class="form-header">Landline Number</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="tel" name="stdcode"  ng-maxlength="5" aw-limit-length="5"  class="form-control std-code-no pad-x-none" placeholder="STD" ng-change="StdcodeChange(stdcode)" ng-model="stdcode" required>
                                </div>
                                <div class="col-md-9">
                                    <input type="tel" name="telephonenumber" class="form-control"   ng-minlength="telephonenumber.length == 0? 0:6"  ng-maxlength="10" placeholder="Search by landline number"  ng-model="telephonenumber" onkeypress="return isNumber(event)" ng-change="landvalue(telephonenumber)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div ng-show="phonenoform.$submitted || phonenoform.stdcode.$touched">
                        <span class="error-msg"  ng-show="phonenoform.stdcode.$error.minlength">Enter std code (2 digits min)</span>
                    </div>-->
                        <div ng-show="Stdchck">
                            <span class="error-msg">Enter valid std code</span>
                        </div>
                        <!--<div ng-show="lndnumChck">
                            <span class="error-msg">Enter a valid telephone number 6 digit minimum</span>
                        </div>-->
                    <div ng-show="phonenoform.$submitted || phonenoform.telephonenumber.$touched">
                        <span class="error-msg" ng-show="phonenoform.telephonenumber.$error.minlength || lndnumChck">Enter a valid telephone number 6 digit minimum</span>
                        <span class="error-msg" ng-show="phonenoform.telephonenumber.$error.maxlength">Enter a valid 10 digit telephone number (max)</span>
                    </div>

                        <span class="error-msg" ng-show="errorvalue">Enter a valid mobile number or landline number to search patients</span>
                    <div class="row">
                    	<div class="patient-contact-action">
                            <div class="col-lg-12 text-center" style="margin-bottom: 30px; border-bottom: 1px solid #dcdcdc">
                                <!-- <button class="btn load-more-btn ng-binding" ng-click="AddPatient()">Don’t Know Number?</button> -->
                                    <a href="" style="margin-bottom:15px; display: inline-block" class="ng-binding" ng-click="AddPatient()">
                                    Don’t Know Number?</a>
                            </div>
                            <div class="row">
                                <div style="width: 210px; margin: 0 auto">
                                    <button class="btn btn-grey mw-100 pull-left" style="padding: 4px 12px 4px" ng-click="GetPatientCancel()">
                                    Cancel</button>
                                    <button class="btn btn-primary mw-100 pull-right" ng-click="GetPatient(phonenoform)">
                                    Next</button>
                                </div>
                            </div>
                        </div>
                      
                    
                </div>
        	</form>
       	</div>
 	</div>
</div>
