<html>

<head>
</head>
<style>
    .cropArea {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 320px;
        height: 240px;
    }

    img-crop.fixed-height canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    img-crop canvas {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none;
    }

    img-crop.fixed-height {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    img-crop {
        width: 100%;
        display: block;
    }

    .loading {
        display: none;
    }

    .ui-datepicker-year {
        width: auto !important;
    }

    .global-white-bg input.hasDatepicker:focus {
        background: #fffadc url(./images/cal-icon.png) no-repeat !important;
        background-position: 95% center !important;

    }

    i.spl {
        position: absolute;
        top: 27px;
        left: 21px;
        background: #eee;
        padding: 2px 5px 3px;
        display: inline-block;
        line-height: normal;
        border-radius: 3px;
        font-size: 11px;
        font-style: normal;
    }

    i.spl a {
        display: inline-block;
        margin-left: 9px;
        line-height: normal;
        font-size: 11px;
        color: #000;
    }

    .pr-0 {
        padding-right: 0px;
    }

    .pl-0 {
        padding-left: 0px;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .global-white-bg em {
        line-height: 11px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .new-radio label {
        padding: 0px !important;
        width: auto !important;
        display: inline-block !important;
        background: transparent !important;
        margin: 0px 10px 0px 0px !important;
    }

    .new-radio label:after {
        display: none !important;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }
</style>

<body>
    <div class="reg-patient-body">

        <form name="patientform" novalidate>
            <div class="container global-white-bg">
                <h3 class="reg-header">Register Patient</h3>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="add-membership-box">
                            <div class="page-header">
                                <h4>BASIC DETAILS</h4>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div id="re-photo-wrap" class="modal-dialog" role="document">
                                    <div class="re-photo-wrap">
                                        <div class="modal-header">
                                            <span class="close" data-dismiss="modal" aria-label="Close">X</span>
                                            <h4 class="modal-title" id="myModalLabel">Patient Profile Photo</h4>
                                        </div>
                                        <div class="re-photo-inner">
                                            <ul class="re-tab">
                                                <li class="{{ tabno ==1 ? 'active' :''}}">
                                                    <a href="javascript:;" ng-class="ShowTab(1)" ng-click="tabno=1">
                                                        Take Photo
                                                    </a>
                                                </li>
                                                <li class="{{tabno ==2 ? 'active' :''}}">
                                                    <a href="javascript:;" ng-click="tabno=2" ng-click="upload()">
                                                        Upload Photo
                                                    </a>
                                                </li>
                                            </ul>
                                            <div ng-show="tabno ==1">
                                                <div>
                                                    <div class="no-video alert-error ng-scope" ng-show="webcamError">
                                                        <img src="img/new-img/no-video.png">
                                                        <h5>We can't find your webcam.</h5>
                                                        <span>Check to be sure your webcam is connected and installed properly.</span>
                                                    </div>
                                                    <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                                                    <div class="text-center" ng-hide="webcamError">
                                                        <a href="" class="take-photo-btn" ng-click="makeSnapshot()" ng-hide="openset">
                                                            <img src="img/new-img/take_photo_png.png">
                                                        </a>
                                                    </div>
                                                    <canvas id="snapshot" width="300" height="300" hidden></canvas>
                                                </div>
                                                <div class="choose-local-storage">
                                                    <div class="{{ photoTaken == true ? 're-photo-preview' : 're-photo-preview upp'}}" data-ng-click="openLightboxModal($index)">
                                                        <img data-ng-src="{{snapshotData}}">
                                                        <div class="cropArea">
                                                            <img-crop image="snapshotData" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" ng-show="openset">
                                                    <p>Are you sure you want to upload this photo ?</p>
                                                    <button type="button" class="btn btn-filled" ng-click="closeSet()">
                                                        No
                                                    </button>
                                                    <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                                </div>
                                            </div>
                                            <div class="re-up-photo" ng-show="tabno ==2">
                                                <div class="crop-upload" ng-show="myImage.length > 0">
                                                    <img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                                                </div>
                                                <div class="re-up-photo-info" ng-show="myImage.length == 0">
                                                    <i class=""></i>
                                                    <img class="upload-icon" src="img/new-img/max-upload-icon.png">
                                                    <p>
                                                        Maximum File Size is 5MB
                                                        <br> Supported File Formats - .jpg, .png, .gif
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="browsefilebtn">
                                                            <label for="file" class="btn btn-primary photo-lbl-popup" accept="image/*" ng-click="brwseOpen()" ng-show="browseOpenSet && myImage.length ==0">Browse file</label>
                                                            <input type="file" id="fileInput" class="photo-inp-brwse" accept="image/*">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" ng-show="myImage.length > 0">
                                                    <p>Are you sure you want to upload this photo ?</p>
                                                    <button type="button" class="btn btn-filled" ng-click="clearImg()" ng-show="browseOpenSet">
                                                        No
                                                    </button>
                                                    <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body global-panel-body">
                                <div class="memb-pro-photo">
                                    <div class="profile-avatar">
                                        <a href="" ng-click="openPopup()">
                                            <img src="img/new-img/default_profile_photo.png" data-ng-src="{{showCroppedImage}}" alt="">
                                            <div class="photo-upload">
                                                <a href="javascript:;" class="photo-upload-label"></a>
                                            </div>
                                            <div class="vip-txt" ng-hide="patientinfo.vipFlag == 'N' || patientinfo.vipFlag ==false">
                                                <a href="javascript:;" class="vip-txt-label">VIP</a>
                                            </div>
                                    </div>
                                </div>

                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/pannumber.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>NHS NUMBER</label>
                                            <input class="form-input addrow-form" placeholder="Enter NHS Number">
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/pannumber.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>DW ID</label>
                                            <input class="form-input addrow-form" disabled value="HJBURXBMNWYFD-40" type="text">
                                        </div>
                                    </div>

                                    <div class="row mt-20">
                                        <div class="col-md-1">
                                            <i class="fa fa-name"></i>
                                        </div>
                                        <div class="col-md-2 pr-0">
                                            <label>Title
                                                <em>*</em>
                                            </label>
                                            <select class="form-input select-dropdown">
                                                <option value="Mr">Miss</option>
                                                <option value="Mrs">Mr</option>
                                                <option value="Mrs">Ms</option>
                                                <option value="Miss">Mrs</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 pr-0">
                                            <label>Forename</label>
                                            <input class="form-input" placeholder="Enter Forename" type="text">
                                        </div>
                                        <div class="col-md-5">
                                            <label>Surname</label>
                                            <input class="form-input pa-reg-name" placeholder="Enter Surname" type="text">
                                            <div class="add-vip-member">
                                                <div class="vip-checkbox">
                                                    <input type="checkbox" class="checkbox">
                                                    <span class="lbl"></span>
                                                    <label class="viplbl" for="custom_vip">VIP</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-wrap" style="margin: 20px 0px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-dob"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="memb-dob">
                                                        <label>DATE OF BIRTH
                                                            <!-- <em>*</em> -->
                                                        </label>
                                                        <input class="form-input icons-calendar" placeholder="DD/MM/YYYY" type="text" convertdate>
                                                    </div>
                                                </div>

                                                <div class="col-md-1 no-pad">
                                                    <label>Age</label>
                                                    <input class="form-input addrow-form" value="20" disabled type="text">
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fa fa-gender"></i>
                                                </div>
                                                <div class="col-md-4 pr-0">
                                                    <label>GENDER</label>
                                                    <select class="form-input select-dropdown" placeholder="Choose Option">
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                        <option value="UN">Unknown</option>
                                                        <option value="O">Other</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-wrap mr-bt-none">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <label>CONTACT NUMBER
                                                <em>*</em>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">

                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-3" style="padding-right: 5px; padding-bottom: 5px;
                                                width: 20%">
                                                    <label style="border: 1px solid #ccc;padding: 8px 10px;background: white;font-weight: normal;">
                                                        DayTime
                                                    </label>
                                                </div>
                                                <div class="col-md-8 pl-0">
                                                    <input class="form-input" placeholder="Enter Telephone number" type="text">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                    <label style="border: 1px solid #ccc;padding: 8px 10px;background: white;font-weight: normal;">
                                                        Evening
                                                    </label>
                                                </div>
                                                <div class="col-md-8 pl-0">

                                                    <input class="form-input" placeholder="Enter Telephone number" type="text">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3" style="padding-right: 5px;padding-bottom: 5px;width: 20%;">
                                                    <label style="border: 1px solid #ccc;padding: 8px 10px;background: white;font-weight: normal;">
                                                        Mobile
                                                    </label>
                                                </div>
                                                <div class="col-md-8 pl-0">

                                                    <input class="form-input" placeholder="Enter Mobile number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap mb-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-11">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="add-vip-member">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" class="checkbox">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Voicemail</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-email"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <label>EMAIL ID
                                                <em>*</em>
                                            </label>
                                            <input class="form-input" placeholder="Enter Email ID" type="email">
                                        </div>
                                        <div class="col-sm-6 no-pad">
                                            <label class="pl-10">Does Patient can accept Email / Letter</label>
                                            <div class="col-sm-12 pl-0">
                                                <div class="add-vip-member">
                                                    <div class="vip-checkbox">
                                                        <input type="checkbox" class="checkbox">
                                                        <span class="lbl"></span>
                                                        <label class="viplbl" for="custom_vip">Email</label>
                                                    </div>
                                                </div>
                                                <div class="add-vip-member" style="margin-left: 20px;">
                                                    <div class="vip-checkbox">
                                                        <input type="checkbox" class="checkbox">
                                                        <span class="lbl"></span>
                                                        <label class="viplbl" for="custom_vip">Letter</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-wrap mb-20" ng-init="issuereason = false">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-11">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="add-vip-member">
                                                        <div class="vip-checkbox">
                                                            <input type="checkbox" class="checkbox" ng-click="issuereason = !issuereason">
                                                            <span class="lbl"></span>
                                                            <label class="viplbl" for="custom_vip">Issues</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-input select-dropdown" ng-show="issuereason">
                                                        <option value="">-- Select Issue Reason --</option>
                                                        <option value="AQP Exclusion">AQP Exclusion</option>
                                                        <option value="Cancelled by GP">Cancelled by GP</option>
                                                        <option value="DNA">DNA</option>
                                                        <option value="Duplicate">Duplicate</option>
                                                        <option value="No Contact with Patient">No Contact with Patient</option>
                                                        <option value="Patient Declined">Patient Declined</option>
                                                        <option value="Rejected">Rejected</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="registration-right-side">
                            <div class="registration-accordion">
                                <div class="first-tab" >
                                    <input class="registration-radio" name="small-reg1" checked id="small-reg" value="small-reg" type="radio">
                                    <label for="small-reg" class="acc-lbl-conadress">CONTACT ADDRESS </label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="accordion-form">

                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input name="" class="form-input addrow-form" placeholder="Search postal code" type="text">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <button class="btn-filled btn-sort">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input name="" class="form-input addrow-form" placeholder="Address Line 1" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input name="" class="form-input addrow-form" placeholder="Address Line 2" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input placeholder="Street Name (Powered by Google)" class="form-input" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="State" type="text">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="County" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="second-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium-reg" value="medium-reg" type="radio">
                                    <label for="medium-reg" class="acc-lbl-addetails">ENQUIRY DETAILS </label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="row accordion-addrow">
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-4">
                                                    <span>Referal Created</span>
                                                    <input class="form-control icons-calendar" placeholder="DD/MM/YYYY" type="text" convertdate>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Referal Received</span>
                                                    <input class="form-control icons-calendar" placeholder="DD/MM/YYYY" type="text" convertdate>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Referal Processed</span>
                                                    <input class="form-control icons-calendar" placeholder="DD/MM/YYYY" type="text" convertdate>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-12">
                                                    <span>Clinical Notes</span>
                                                    <textarea class="form-input pa-reg-name" placeholder="Enter Clinical Notes" type="text" style="height:60px !important"></textarea>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-12">
                                                    <span>Clinical Details</span>
                                                    <textarea class="form-input pa-reg-name" placeholder="Enter Clinical Details" type="text" style="height:60px !important"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-10">
                                                    <span>Speciality </span>
                                                    <select class="form-control">
                                                        <option value="">Select Speciality</option>
                                                        <option value="">MSK </option>
                                                        <option value="">Abdominal</option>
                                                        <option value="">Pelvic</option>
                                                        <option value="">Chest</option>
                                                        <option value="">Neck</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-5">
                                                    <span>Sub Speciality</span>
                                                    <input type="text" class="form-input" name="">
                                                </div>

                                                <div class="col-md-7">
                                                    <span>Appointment Type</span>
                                                    <div class="input-set-row">
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input type="radio" name="apttype" value="Urgent" checked="checked">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-man"></i> Urgent</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input type="radio" name="apttype" value="Routine">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-woman"></i>Routine</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                        <span class="input-col input-checkbox new-radio">
                                                            <label class="item item-radio">
                                                                <input type="radio" name="apttype" value="DVT">
                                                                <div class="item-content" style="display: inline-block;">
                                                                    <i class="icon ion-woman"></i>DVT</div>
                                                                <i class="radio-icon ion-checkmark"></i>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow mt-15">
                                                <div class="col-md-6">
                                                    <span>Enquiry Source</span>
                                                    <select name="" id="" class="form-control">
                                                        <option value="Fax">Fax</option>
                                                        <option value="e-mail">e-mail</option>
                                                        <option value="eRS">eRS</option>
                                                        <option value="Electronic">Electronic</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mt-20">
                                                    <input type="file" name="">
                                                    <small style="margin-top: 2px; display: inline-block; font-size: 10px">(PDF, Word, Jpeg, Png)</small>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="third-tab-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium3-reg" value="medium3-reg" type="radio">
                                    <label for="medium3-reg" class="acc-lbl-emg">Referrer Details </label>
                                    <article class="emg-contact-acc">
                                        <div class="accordion-content">
                                            <div class="hide">
                                                <div class="form-wrap" style="margin-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span>Name
                                                                <em>*</em>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-3" style="padding-right: 5px;">
                                                            <select class="form-input select-dropdown pa-title">
                                                                <option value="Mr">Mr</option>
                                                                <option value="Mrs">Mrs</option>
                                                                <option value="Miss">Miss</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-8 no-pad">
                                                            <input class="form-input pa-reg-name" placeholder="Enter Name" type="text">
                                                            <input class="form-input pa-reg-name" placeholder="Enter Name" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-8">
                                                            <span>Relation
                                                                <em>*</em>
                                                            </span>
                                                            <select class="form-input select-dropdown pa-title">
                                                                <option value="">Choose Option</option>
                                                                <option value="Mother">Mother</option>
                                                                <option value="Father">Father</option>
                                                                <option value="Husband">Husband</option>
                                                                <option value="Wife">Wife</option>
                                                                <option value="Daughter">Daughter</option>
                                                                <option value="Son">Son</option>
                                                                <option value="Brother">Brother</option>
                                                                <option value="Sister">Sister</option>
                                                                <option value="Grandfather">Grandfather</option>
                                                                <option value="Grandmother">Grandmother</option>
                                                                <option value="Friend">Friend</option>
                                                                <option value="Other">Other</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-md-8">
                                                            <span>Relation</span>
                                                            <select class="form-input select-dropdown pa-title">
                                                                <option value="">Choose Option</option>
                                                                <option value="Mother">Mother</option>
                                                                <option value="Father">Father</option>
                                                                <option value="Husband">Husband</option>
                                                                <option value="Wife">Wife</option>
                                                                <option value="Daughter">Daughter</option>
                                                                <option value="Son">Son</option>
                                                                <option value="Brother">Brother</option>
                                                                <option value="Sister">Sister</option>
                                                                <option value="Grandfather">Grandfather</option>
                                                                <option value="Grandmother">Grandmother</option>
                                                                <option value="Other">Other</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap mr-bt-none">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span>CONTACT NUMBER
                                                                <em>*</em>
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-input" placeholder="Country code">

                                                                </div>
                                                                <div class="col-md-6 no-pad">
                                                                    <input class="form-input" type="text">
                                                                    <input class="form-input" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-wrap">
                                                        <span>CCG</span>
                                                        <input type="text" placeholder="Enter CCG" class="form-input" name="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-wrap">
                                                        <span>Practice</span>
                                                        <input type="text" placeholder="Enter Practice" class="form-input" name="">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <span>Search Referrer Name</span>
                                                        <div class="apptsearchdroplist no-pad">
                                                            <div class="input-group search-control no-pad">
                                                                <input type="text" class="form-control" placeholder="Enter Name to search / GP Code" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                </span>
                                                            </div>
                                                            <ul>
                                                                <li role="presentation">
                                                                    <!-- <a href="javascript:;"> {{item.FullName}} </a> -->
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea cols="30" rows="5" class="form-control" placeholder="Notes"></textarea>
                                </div>
                            </div>
                            <div class="reg-pat-btn clearfix pull-right">
                                <button class="btn btn-filled pull-left" ng-click="cancel(click)">cancel</button>
                                <button style="margin-left:10px;" class="btn btn-primary pull-right mw-100">
                                    REGISTER
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>