<style>
    .pa-search-box.col-md-2 {
        width: 18% !important;
    }
    
    .pa-search-head {
        padding: 10px 0 10px;
        overflow: hidden;
    }
    
    .pa-search-head h2 {
        color: #3c3c3c;
        font-size: 16px;
        margin: 10px 0 0;
        /*font-family: 'proxima_novasemibold';*/
        font-weight: 600;
    }
    
    .pro-img-pat {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        left: 15px !important;
        top: 15px !important;
        position: static!important
    }
    
    .search-patient-clearfield {
        z-index: 100;
    }
    
    .search-patient .form-control {
        padding: 16px 40px !important;
    }
    
    .inner-addon .glyphicon {
        padding: 10px 14px;
    }
</style>
<div class="wrapper">
    <div class="container-fluid">
        <div class="pa-search-head">
            <div class="row">
                <div class="col-lg-6" ng-show="count > 0">
                    <h2>Total Patients: <span>{{count}}</span></h2>
                </div>
                <div class="col-lg-6 pull-right">
                    <button class="btn pull-right btn-filled" ng-click="Regpatient(true)">Register Patient</button>
                </div>
            </div>
        </div>
        <div class="patient-list">
            <!-- <div class="search-filter">
                <h4>
                    Filter
                    <input type="button" class="patlist-clear" value="Clear Filters" ng-click="Reset('Clear')">
                </h4>
                <form>
                    <div ng-hide="drAccessShow">
                        <div class="branch" ng-show="showBranchDropdown == true">
                            <ul>
                                <h6>Branch</h6>
                                <label class="control control--checkbox">
                                    <span>All</span>
                                    <input type="checkbox" checked="true" ng-model="Allbranchcheck" ng-click="toggleAll()" ng-checked="isChecked()">
                                    <div class="control__indicator"></div>
                                </label>
                                <li ng-repeat="item in HospitalArray">
                                    <label class="control control--checkbox">
                                        <span>{{item.HospitalName}}</span>
                                        <input type="checkbox" ng-model="CheckHospitalId[$index]" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        <div class="control__indicator"></div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vip-patient">
                        <label class="control control--checkbox">
                            <span>VIP patient</span>
                            <input type="checkbox" checked="true" ng-model="ShowVIPpatient" ng-click="VIP()">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="age-scale">
                        <h6>Age</h6>
                        <div class="form-group">
                            <input type="text" name="" ng-model="Frmage" ng-change="frmageChange(Frmage)" class="age-box" placeholder="e.g. 0" numbers-only="numbers-only" aw-limit-length="3" style="width:60px">
                            <div class="line-split">to</div>
                            <input type="text" name="" ng-model="Toage" ng-change="toageChange(Toage)" class="age-box" placeholder="e.g. 10" numbers-only="numbers-only" aw-limit-length="3" style="width:60px">
                        </div>
                    </div>
                    <div class="lv-cal-box">
                        <h6>Last visited</h6>
                        <div class="dash-from">
                            <label>Between</label>
                            <input class="form-control icons-calendar" ng-model="Fromdate" datepickeraddpatient placeholder="DD/MM/YYYY" style="width: 140px;background-color: #ffffff" ng-change="chkLapsedTime()" readonly>
                        </div>
                        <div class="dash-from" style="margin-left: 15px;">
                            <label>And</label>
                            <input type="text" name="" ng-model="Todate" datepickeraddpatient class="form-control icons-calendar" placeholder="DD/MM/YYYY" ng-change="chkLapsedTime()" style="width: 140px;background-color: #fff" readonly>
                        </div>
                    </div>
                    <div class="lv-cal-box">
                        <h6>Date of Birth</h6>
                        <div class="dash-from">
                            <label>Born From</label>
                            <input class="form-control icons-calendar" ng-model="Fromdob" datepickeraddpatient placeholder="DD/MM/YYYY" style="width: 140px;background-color: #ffffff" ng-change="chkLapsedTime()" readonly>
                        </div>
                        <div class="dash-from" style="    margin-left: 15px;margin-bottom: 15px;">
                            <label>Till</label>
                            <input type="text" name="" ng-model="Todob" datepickeraddpatient class="form-control icons-calendar" placeholder="DD/MM/YYYY" ng-change="chkLapsedTime()" style="width: 140px;background-color: #ffffff" readonly>
                        </div>
                        <div class="col-md-12 no-pad text-right">
                            <input type="submit" class="btn btn-primary mw-100" value="Submit" ng-click="submit()" />
                        </div>
                    </div>
                </form>
            </div> -->
            <div class="patients-list-box">
                <div class="row search-patient" ng-init="LoadPatient()">
                    <div class="col-lg-12" style="margin-bottom: 20px;">
                        <form>
                            <div class="form-group">
                                <div class="inner-addon right-addon col-lg-8" style="padding-left:0;">
                                    <input type="text" class="form-control" placeholder="Enter Patient Name / Contact number and click Search button." ng-model="SearchBy" ng-hide="searchShow">
                                    <i class="fa search-patient-clearfield" ng-hide="searchShow" ng-click="clearModelValue()" style="top: 12px !important; right: 30px;"></i>
                                    <input type="text" class="form-control" placeholder="Search by Patient Name / Contact number / NHS Number / DW ID" ng-model="SearchBy" minlength="3" ng-change="SearchByText()" ng-show="searchShow">
                                    <i class="fa search-patient-clearfield" ng-show="showicon == true && searchShow" ng-click="clearModelValue()" style="top: 12px !important; right: 30px;"></i>
                                    <i class="glyphicon glyphicon-search" style="font-size: 15px; left: 0; top: 2px;"></i>
                                </div>
                                <div class="col-lg-4">
                                    <input type="submit" ng-hide="searchShow" class="btn btn-primary mw-100" ng-disabled="SearchBy.length < 4" value="Search" ng-click="SearchByText()" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="billing-cominsoon norecords-found-patients text-center" ng-show="ShowAllPatientsValue==true">
                    <img src="img/no-data/no-results.png">
                    <div class="msg">
                        <p class="goback-text">No results found</p>
                        <p class="goback-text-line2">Try using a different criteria to view better results.</p>
                    </div>
                </div>
                <div class="billing-cominsoon norecords-found-patients text-center" ng-show="ShowAllfilterPatientsValue==true">
                    <img src="img/no-data/no-results.png">
                    <div class="msg">
                        <p class="goback-text">No results found</p>
                        <p class="goback-text-line2">Try using a different criteria to view better results.</p>
                    </div>
                </div>
                <div class="row" ng-show="patients.length > 0 && ShowAllfilterPatientsValue == false">
                    <div class="col-md-4 boxhover" ng-repeat="patientitem in patients">
                        <div class="well pa-search-box patients-info-wrap dr-search-results" ng-mouseenter="hover(patientitem)" ng-mouseleave="hover(patientitem)" ng-click="toggleGroup(patientitem)">
                            <div class="patientlist-photo">
                                <div ng-show="patientitem.Reviewed =='Y'"><img class="pat-search-star-img" src="img/star_tick.png"></div>
                                <div class="profile-image">
                                    <span ng-if="patientitem.ProfileImg == null || patientitem.ProfileImg.length == 0" style="background:{{patientitem.colors}}">
                                          {{patientitem.FullName | limitTo:2}}      
                                    </span>
                                    <img ng-if="patientitem.ProfileImg.length > 0" src="{{patientitem.ProfileImg}}" alt="" class="pro-img-pat">
                                </div>
                                <div class="patient-info patientlist-info">
                                    <h3>{{(patientitem.Title.length > 0)? (patientitem.Title + '. '):""}}{{patientitem.FullName | firstUpper}}</h3>
                                    <div class="patientlist-age">
                                        <h4 class="pat-dob">
                                            {{((patientitem.CurrentAge === undefined) ? patientitem.Age :(((patientitem.CurrentAge.year > 0) ?patientitem.CurrentAge.year + "y" : '' )+ ' ' + (((patientitem.CurrentAge.month > 0) ? patientitem.CurrentAge.month + "m" : '')))) }} / {{patientitem.Gender
                                            == 'M' ? 'Male' : 'Female'}}
                                        </h4>
                                    </div>
                                    <div class="pa-app noborderL patientlist-app">
                                        <h4 class="pa-ph">{{patientitem.ContactNumber }}</h4>
                                    </div>
                                </div>
                                <div class="vip-label" ng-show="patientitem.vipFlag=='Y'">
                                    <h6>VIP</h6>
                                </div>
                                <div class="clearfix"></div>
                                <div class="pa-id" ng-show="patientitem.patientdisplayid !== undefined && showBranchDropdown == true && patientitem.patientdisplayid !== 0">Patient ID: <strong>{{patientitem.patientdisplayid}}</strong></div>
                                <div class="patientlist-ltime">
                                    <span ng-hide="patientitem.LastVisited == undefined">Last Consulted<strong>{{getLastVistedDate(patientitem.LastVisited)}}</strong></span>
                                </div>
                                <div class="pa-due-amt" ng-show="patientitem.patientCaseBillingAmtInfo.length > 0">
                                    <span ng-hide="patientitem.patientCaseBillingAmtInfo[0].totalBalanceCost == 0">Due: {{((patientitem.patientCaseBillingAmtInfo.length > 0) ? patientitem.patientCaseBillingAmtInfo[0].totalBalanceCost : '')| number:0 }} </span>
                                </div>
                            </div>
                            <div class="pts-actions">
                                <!-- <a class="search-hov-edit" ng-show="patientitem.showDelete" ng-click="editPatient(patientitem)">
                                    <img src="img/editicon-green.png" title="Edit Patient">
                                </a> -->
                                <!-- <a class="search-hov-cal" ng-show="patientitem.showDelete" ng-click="addPatientAppointment(patientitem)"> -->
                                <!-- <a class="search-hov-cal" ng-show="patientitem.showDelete">
                                    <img src="img/new-green-cal.png" data-toggle="modal" data-target="#manage" title="Appointment  ">
                                </a> -->
                                <!--  <a class="search-hov-inr" ng-show="patientitem.showDelete && showBilling == true" ng-click="addPatientBilling(patientitem)">
                                    <img src="app/img/patient_list_money.png" title="Bill">
                                </a> -->
                            </div>
                            <div class="patient-actions text-center">
                                <!-- <a class="patient-search-btns strt-appoinmt" ng-show="patientitem.showDelete" ng-click="consultationEntry(patientitem)">Start Consultation</a> -->
                                <a class="patient-search-btns view-history" ng-show="patientitem.showDelete" ng-click="ViewHistory(patientitem)">View Case History</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div ng-show="patients.length > 0 && ShowAllfilterPatientsValue == false">
                    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" ng-show="totalItems > 0" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" ng-show="addAppointmentInfo == true"></div>
<div class="modal-common" ng-show="addAppointmentInfo == true" style="" id="bkAppointment">
    <div class="modal-common-dialog" style="width:800px !important">
        <div class="model-popup-header">
            <h4 class="modal-title" id="myModalLabel">Book Appointment</h4>
        </div>
        <div class="pl-popup">
            <form name="patientform" class="css-form" novalidate>
                <div class="responsive patient-displayTable">
                    <table class="table">
                        <tr>
                            <th>Patient Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>
                                <p ng-show="PhoneNumber !== undefined || PhoneNumber.length > 0"> Contact Number </p>
                            </th>
                        </tr>
                        <tr>
                            <td>{{(Title === undefinedFullName) ? FullName : Title + ". " + FullName}}</td>
                            <td>{{Gender == 'M' ? 'Male': 'Female'}}</td>
                            <td>
                                {{((CurrentAge === undefined) ? '-' :(((CurrentAge.year > 0) ? CurrentAge.year + "y" : '' )+ ' ' + (((CurrentAge.month > 0) ? CurrentAge.month + "m" : ''))))}}
                            </td>
                            <td>
                                {{PhoneNumber.length
                                < 6 ? "-": PhoneNumber}} </td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix">
                    <p ng-show="(docTimeStatus == 'A')" style="color: #333;background: #e9eef3;box-shadow: 1px 1px 3px rgba(47, 83, 107, 0.3);padding: 10px;border-radius: 4px;margin-bottom: 20px;">
                        Your doctor may not be available in this time.
                        <br />You can proceed with bookings anyway!
                    </p>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <div ng-show="showmandatory =='Y'">
                                <label class="uppercase required field-label light-label">Appointment Type <em data-ng-if="showmandatory == 'Y'">*</em></label>
                                <select name="appointment_type" id="appointment_type" class="form-control select-dropdown" ng-model="appointment_type" ng-change="apptypechange(appointment_type)" required>
                                    <option value="">Select Appointment Type</option>
                                    <option value="OTHERS">Others</option>
                                    <option value="HOMEVISIT">Home Visit</option>
                                    <option value="FOLLOWUP">Follow-Up Visit</option>
                                    <option value="NEWPATIENT">New Patient Visit</option>
                                    <option value="OLDPATIENT">Existing Patient</option>
                                    <option value="NURSING">Nursing Only</option>
                                    <option value="URGENT">Urgent Visit</option>
                                </select>
                            </div>
                            <div ng-show="showmandatory =='N'">
                                <label class="uppercase required field-label light-label">Appointment Type </label>
                                <select name="appointment_type" id="appointment_type" class="form-control select-dropdown" ng-model="appointment_type" ng-change="apptypechange(appointment_type)">
                                    <option value="">Select Appointment Type</option>
                                    <option value="OTHERS">Others</option>
                                    <option value="HOMEVISIT">Home Visit</option>
                                    <option value="FOLLOWUP">Follow-Up Visit</option>
                                    <option value="NEWPATIENT">New Patient Visit</option>
                                    <option value="OLDPATIENT">Existing Patient</option>
                                    <option value="NURSING">Nursing Only</option>
                                    <option value="URGENT">Urgent Visit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="uppercase required field-label light-label"> Branch</label>
                            <select class="form-control select-dropdown " name="docAddress" ng-model="hospitalid" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalInfo.HospitalDetails.HospitalID"
                                ng-change="getDoctorInfoByHospitalId(hospitalid)" ng-show="hospitalLevelDoc"></select>
                            <select class="form-control select-dropdown " name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="DocChange(NewMain.SelectedDoctor)" style="width: 200px !important;"
                                ng-show="!hospitalLevelDoc"></select>
                        </div>
                        <div class="col-sm-4" ng-if="allDoctorAllowed">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Doctor(s)</label>
                                <select class="form-control select-dropdown" name="docID" ng-change="DocChange(NewMain.SelectedDoctor)" ng-model="NewMain.SelectedDoctor" ng-options="s.FullName for s in clinicDoctorList | filter:greaterThan('DoctorID',1)" style="" ng-show="hospitalLevelDoc">
                                    <option value="">Select Doctor</option>
                                </select>
                                <select class="form-control select-dropdown" name="docID" ng-change="DocChange(singleDoctorList)" ng-model="singleDoctorList" ng-options="s.FullName for s in doctorDataList | filter:greaterThan('DoctorID',1)" ng-show="!hospitalLevelDoc">
                                    <option value="">Select Doctor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 " style="">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Date</label>
                                <input ng-model="referredappointmentdate" class="text-section popup-icon-calendar" ng-change="chgDate(referredappointmentdate)" type="text" datepickerappointmentlist readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">Start Time</label>
                                <select class="form-control select-dropdown" name="patinet_appStarttime" id="patinet_appStarttime" ng-options="patinet_appStarttime.startTime for patinet_appStarttime in setValue track by patinet_appStarttime.startTime" ng-model="patinet_appStarttime"
                                    ng-change="Endtimechange()">
                                    <option value="">Select Start Time</option>
                                </select>
                                <span ng-show="selectedSlotAppointmentInfo != undefined" class="error-msg">This slot have already occupied</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="uppercase required field-label light-label">End Time</label>
                                <select class="form-control select-dropdown" name="patinet_appEndtime" id="patinet_appEndtime" ng-options="patinet_appEndtime.endTime for patinet_appEndtime in setEndValue track by patinet_appEndtime.endTime" ng-model="EndtimeVAlue">
                                    <option value="">Select End Time</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="" class="light-label">Referral Source</label>
                            <select name="Source" class="form-control select-dropdown" id="Source" ng-model="Source" ng-change="SourceChange(Source)">
                                <option value="">Select Referral</option>
                                <option ng-repeat="Ref in ReferralList | filter:{'ActiveIND':'Y'}" value="{{Ref.ReferralID}}">{{Ref.ReferralTitle}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="" class="light-label">Sub Referral</label>
                            <select name="SubSource" class="form-control select-dropdown" id="SubSource" ng-model="SubSource">
                                <option value="">Select Sub Referral</option>
                                <option ng-repeat="sub in subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}">{{sub.SubCatagoryDesc}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">

                        </div>
                        <div class="col-md-4 form-group">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-6">
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup1" id="popup1" value="popup1" ng-model="notifySMS" class="ng-pristine ng-untouched ng-valid">
                                        <label for="popup1">Send SMS</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup2" id="popup2" value="popup2" ng-model="notifyMAIL" class="ng-pristine ng-untouched ng-valid">
                                        <label for="popup2">Send Email</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label class="light-label">Visit Reason</label>
                                <textarea placeholder="Enter Visit Reason" class="msd-elastic form-control " ng-model="othervisitrsn" aw-limit-length="200" uib-typeahead="visitReasonitem as visitReasonitem.VisitRsnTitle for visitReasonitem in visitReasonList | filter:$viewValue | filter:{ActiveIND:'Y'}|limitTo:12"
                                    ng-change="visitReasonOnChange()" typeahead-on-select="onItemSelected(othervisitrsn)" typeahead-template-url="customTemplateMedHistory.html" typeahead-min-length="3" typeahead-wait-ms="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-grey" ng-click="closeAppointment()">Cancel</button>
                    <button class="btn btn-primary" ng-click="BookAppointment()">Confirm Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Auto complete -->
<script type="text/ng-template" id="customTemplateMedHistory.html">
    <a class="searchByResultTEst">
        <span ng-bind-html="match.model.VisitRsnTitle | uibTypeaheadHighlight:query" style="width:100% !important;"></span>
    </a>
</script>