﻿<html>
<head>
</head>
<style>
    .cropArea {
        position: absolute;
        top: 0;
        /*background: #E4E4E4;*/
        overflow: hidden;
        width: 320px;
        /**500px**/
        height: 240px;
        /**350**/
    }

    img-crop.fixed-height canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    img-crop canvas {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none;
    }

    img-crop.fixed-height {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    img-crop {
        width: 100%;
        display: block;
    }

    .loading {
        display: none;
    }

    .ui-datepicker-year {
        width: auto !important;
    }

    .global-white-bg input.hasDatepicker:focus {
        background: #fffadc url(./images/cal-icon.png) no-repeat !important;
        background-position: 95% center !important;
    }
</style>

<body>
    <div class="reg-patient-body">
        <form name="patientform" novalidate>
            <div class="container">
                <div class="pa-search-head" style="margin-bottom:10px;margin-top:10px;">
                    <div class="row">
                        <div class="pull-left">
                            <a ng-click="closeUpdate()" class="back-list" style="margin-bottom:5px">Back</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container global-white-bg">
                <h3 class="reg-header">Update Patient</h3>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="add-membership-box">
                            <div class="page-header">
                                <h4>BASIC DETAILS</h4>
                            </div>                          
                            <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div id="re-photo-wrap" class="modal-dialog" role="document">
                                    <div class="re-photo-wrap">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" border 0;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Patient Profile Photo</h4>
                                        </div>
                                        <div class="re-photo-inner">
                                            <ul class="re-tab">
                                                <li class="{{ tabno ==1 ? 'active' :''}}">
                                                    <a href="javascript:;" ng-class="ShowTab(1)" ng-click="tabno=1">
                                                        Take Photo
                                                    </a>
                                                </li>
                                                <li class="{{tabno ==2 ? 'active' :''}}">
                                                    <a href="javascript:;" ng-click="tabno=2" ng-click="upload()">
                                                        Upload Photo
                                                    </a>
                                                </li>
                                            </ul>
                                            <div ng-show="tabno ==1">
                                                <div>
                                                    <div class="no-video alert-error ng-scope" ng-show="webcamError" style="">
                                                        <img src="img/new-img/no-video.png">
                                                        <h5>We can't find your webcam.</h5>
                                                        <span>Check to be sure your webcam is connected and installed properly.</span>
                                                    </div>
                                                    <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                                                    <div class="text-center" ng-hide="webcamError">
                                                        <a href="" class="take-photo-btn" ng-click="makeSnapshot()" ng-hide="openset"><img src="img/new-img/take_photo_png.png"></a>
                                                    </div>
                                                    <canvas id="snapshot" width="300" height="300" hidden></canvas>
                                                </div>
                                                <div class="choose-local-storage">
                                                    <div class="{{ photoTaken == true ? 're-photo-preview' : 're-photo-preview upp'}}" data-ng-click="openLightboxModal($index)">
                                                        <img data-ng-src="{{snapshotData}}">
                                                        <div class="cropArea">
                                                            <img-crop image="snapshotData" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" ng-show="openset">
                                                    <p>Are you sure you want to upload this photo ?</p>
                                                    <button type="button" class="btn btn-filled" ng-click="closeSet()">
                                                        No
                                                    </button>
                                                    <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                                </div>
                                            </div>
                                            <div class="re-up-photo" ng-show="tabno ==2">                                               
                                                <div class="crop-upload" ng-show="myImage.length > 0">
                                                    <img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                                                </div>
                                                <div class="re-up-photo-info" ng-show="myImage.length == 0">
                                                    <i class=""></i>
                                                    <img class="upload-icon" src="img/new-img/max-upload-icon.png">
                                                    <p>
                                                        Maximum File Size is 5MB
                                                        <br> Supported File Formats - .jpg, .png, .gif
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="browsefilebtn">
                                                            <label for="file" class="btn btn-primary photo-lbl-popup" accept="image/*" ng-click="brwseOpen()" ng-show="browseOpenSet && myImage.length ==0">Browse file</label>
                                                            <input type="file" id="fileInput" class="photo-inp-brwse" accept="image/*">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" ng-show="myImage.length > 0">
                                                    <p>Are you sure
                                                    <p>Are you sure you want to upload this photo ?</p>                                                   
                                                    <button type="button" class="btn btn-filled" ng-click="clearImg()" ng-show="browseOpenSet">
                                                        No
                                                    </button>
                                                    <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="panel-body global-panel-body">
                                <!--<div class="memb-pro-photo">
                                    <div class="profile-avatar">
                                        <a href="" ng-click="openPopup()">
                                            <img src="img/new-img/default_profile_photo.png" data-ng-src="{{showCroppedImage}}" alt="">
                                            <div class="photo-upload">
                                                <a href="javascript:;" class="photo-upload-label"></a>
                                            </div>
                                            <div class="vip-txt" ng-hide="patientinfo.vipFlag == 'N' || patientinfo.vipFlag ==false">
                                                <a href="javascript:;" class="vip-txt-label">VIP</a>
                                            </div>
                                    </div>
                                </div>-->
								<!-- Vetinary screen -->
								
                                <div class="form-wrap" ng-show="isVetentry">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-vetinary-icon"></i>
                                        </div>
                                        <div class="col-md-4">
                                            <label>PET NAME<em>*</em></label>
											<input class="form-input" ng-model="patientedit.fullName" 
											placeholder="Enter Pet Name" type="text" aw-limit-length="50" required>
                                        </div>
                                        <div class="col-md-3">
											<label>SPECIES</label>
											<input class="form-input" ng-model="patientedit.species" aw-limit-length="100" placeholder="Enter Pet Species" type="text">
										</div>
                                        <div class="col-md-3">
                                            <label>BREED<em></em></label>
											<input class="form-input" ng-model="patientedit.breed" aw-limit-length="100" placeholder="Enter Pet Breed" type="text">
										</div>
										 
										<div ng-show="patientform.submitted && patientform.$submitted || patientform.fullName.$touched">
                                        <div class="popover fade top in reg-petname-error ng-scope" style="" ng-show="patientedit.fullName.length == '' ||patientedit.fullName.length == undefined ">
                                            <div class="popover-inner">
                                                <div class="popover-content"> Please enter Pet's Name </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
									 
                                </div>
                                <div class="form-wrap" ng-show="isVetentry">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-gender"></i>
                                        </div>
                                        <div class="col-md-4">
										 <label>GENDER<em></em></label>
                                             <select class="form-input select-dropdown" placeholder="Choose Option" ng-model="patientedit.Gender" required>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
											
                                        </div>
                                        <div class="col-md-3">
										  <label>COLOR<em></em></label>
                                            <input class="form-input" ng-model="patientedit.colour" aw-limit-length="100" placeholder="Enter Pet Color" type="text">
										</div>
                                        <div class="col-md-2">
                                            <div class="add-vip-member" style="top: 16px; position: absolute;left:6px;">
                                                <div class="vip-checkbox">
                                                    <input type="checkbox" class="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="patientedit.VIPflag == 'Y'" ng-model="patientedit.VIPflag">
                                                    <span class="lbl"></span>
                                                    <label class="viplbl" for="custom_vip">VIP</label>
                                                </div>
                                            </div>
                                        </div>
									</div>
                                </div>
                               
                                <!-- End Vetinary Screen -->
                                <div class="form-wrap" ng-hide="isVetentry">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-name"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <label>PATIENT NAME<em >*</em></label>
                                            <select class="form-input select-dropdown pa-title" ng-model="patientedit.Title">
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Miss">Miss</option>
                                                <option value="Master">Master</option>
                                                <option value="Baby">Baby</option>
                                            </select>
                                            <!--<input data-ng-if="RegFields[0].mandatory=='Y'" class="form-input pa-reg-name" placeholder="Enter Patient Name" ng-model="patientedit.fullName" required type="text" ng-class="{submitted:patientform.submitted}">-->
                                            <input  class="form-input pa-reg-name" placeholder="Enter Patient Name" ng-model="patientedit.fullName" required type="text">
                                            <div class="add-vip-member">
                                                <div class="vip-checkbox">
                                                    <input type="checkbox" class="checkbox"  ng-true-value="'Y'" ng-false-value="'N'" ng-checked="patientedit.VIPflag == 'Y'" ng-model="patientedit.VIPflag">
                                                    <span class="lbl"></span>
                                                    <label class="viplbl" for="custom_vip">VIP</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="patientform.$submitted || patientform.fullName.$touched">
                                        <div class="popover fade top in reg-patname-error ng-scope" style="" ng-show="patientedit.fullName.length == '' ||patientedit.fullName.length == undefined ">
                                            <div class="popover-inner">
                                                <div class="popover-content"> Please enter Patient Name </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap" style="margin-bottom: 25px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-dob"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="memb-dob">
                                                        <label>DATE OF BIRTH<em>*</em></label>
                                                        <input class="form-input icons-calendar" placeholder="DD/MM/YYYY" ng-model="patientedit.DOB" type="text" ng-change="getDate(patientedit.DOB)" datepickeraddpatient ng-class="{submitted:patientform.submitted}" readonly style="transition: all 0s;width: 183px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="lbl-or">(OR)</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>AGE<em>*</em></label>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-input" aw-limit-length="3" numbers-only="numbers-only" ng-model="dYear" ng-change="setAgeandMonth()" placeholder="0">
                                                            <span class="reg-patient-grey-txt age-years">Years</span>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <select class="form-input select-dropdown reg-mnth-drpdwn" ng-model="mYear" ng-change="setAgeandMonth()">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                            </select>
                                                            <span class="reg-patient-grey-txt age-mnths">Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="" ng-show="patientform.$submitted || patientform.dob.$touched">
                                                <div class="popover doberror fade top in ng-scope" ng-show="(patientedit.DOB == '' && mYear =='0' && dYear =='')">
                                                    <div class="popover-inner">
                                                        <div class="popover-content">Please Select DOB </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-wrap"  ng-show="isVetentry">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-name"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <label>OWNER NAME<em></em></label>
                                            <select class="form-input select-dropdown pa-title ng-pristine ng-untouched ng-valid" ng-model="patientedit.ownernametitle">
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Miss">Miss</option>
                                                <option value="Master">Master</option>
                                                <option value="Baby">Baby</option>
                                            </select>
                                            
											<input class="form-input pa-reg-name " aw-limit-length="150" placeholder="Enter Pet's Owner Name" ng-model="patientedit.ownername" type="text">
                                            
                                        </div>
										
                                    </div>
								
                                </div>
                                <div class="form-wrap"  ng-hide="isVetentry">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-gender"></i>
                                        </div>                                      
                                        <div class="col-md-4">
                                            <label>GENDER</label>
                                            <select class="form-input select-dropdown" placeholder="Choose Option" ng-model="patientedit.Gender" required>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <i class="fa fa-blood"></i>
                                        </div>
                                        <div class="col-md-4">
                                            <label>BLOOD GROUP</label>
                                            <select class="form-input select-dropdown " placeholder="Choose Option" ng-model="patientedit.BloodGroup">
                                                <option value="">Select Blood Group </option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap mr-bt-none" ng-hide="patientinfo.hasphone == false && frmAppointment == 'Start Consultation'">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="fa fa-number"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <label>CONTACT NUMBER</label>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <div class="row">
                                            <div class="col-md-3"  >
                                                <label style="border: 1px solid #ccc;padding: 6px 10px;background: white;font-weight: normal;">
                                                    Mobile
                                                </label>
                                            </div>                                           
                                            <div class="col-md-8 no-pad" style="padding-bottom: 5.5px;">
                                                <input type="text" class="form-input" placeholder="Country code" style="width: 25%;display: inline;vertical-align: bottom" aw-limit-length="4" numbers-only="numbers-only" ng-change="cntrychange(Mobnumber.PhCntryCD)"  ng-model="Mobnumber.PhCntryCD">
                                            
                                                <input class="form-input reg-mobno" ng-model="Mobnumber.PhNumber" numbers-only="numbers-only" aw-limit-length="10" ng-minlength="7" ng-maxlength="10" placeholder="Enter Contact Number" type="text" name="Userphone" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label style="border: 1px solid #ccc;padding: 6px 10px;background: white;font-weight: normal;">
                                                    Landline
                                                </label>
                                            </div>  
                                            <div class="col-md-8 no-pad" >
                                                <input class="form-input " placeholder="STD"  aw-limit-length="5"  ng-model="Landnumber.PhStdCD" type="text" numbers-only="numbers-only" style="width: 25%;display: inline;vertical-align: bottom" name="stdcodes" required ng-change="Stdvalue(Landnumber.PhStdCD)">
                                                <input class="form-input reg-mobno" ng-model="Landnumber.PhNumber" numbers-only="numbers-only" aw-limit-length="10"  placeholder="Enter Contact Number" type="text" name="Userphone1" required ng-change="Phvalue(Landnumber.PhNumber)">
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div ng-show="patientform.$submitted || patientform.Mobnumber.PhNumber.$touched">
                                    <div class="popover fade top in reg-updtMob-error ng-scope" style="" ng-show="patientform.Userphone.$error.minlength">
                                        <div class="popover-inner">
                                            <div class="popover-content"> Please enter 6 - 10 digit phone number </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="patientform.$submitted || patientform.Landnumber.PhNumber.$touched">
                                    <div class="popover fade top in reg-updtland-error ng-scope" style="" ng-show="patientform.Userphone1.$error.minlength">
                                        <div class="popover-inner">
                                            <div class="popover-content"> Please enter 6 - 10 digit landline number </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="popover fade top in reg-updtland-error ng-scope" style="" ng-show="stdLandError">
                                    <div class="popover-inner">
                                        <div class="popover-content"> Please enter 6 - 10 digit landline number </div>
                                    </div>
                                </div>

                                <div ng-show="patientform.$submitted || patientform.Landnumber.PhStdCD.$touched">
                                    <div class="popover fade top in reg-updtStd-error ng-scope" style="" ng-show="stdError || patientform.stdcodes.$error.minlength">
                                        <div class="popover-inner">
                                            <div class="popover-content">Enter STD Code </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="popover fade top in ng-scope reg-updtCntrycode-error" style="" ng-show="cntryError">
                                    <div class="popover-inner">
                                        <div class="popover-content">Enter country code</div>
                                    </div>
                                </div>

                                <div class="form-wrap">
                                    <div class="row ">
                                        <div class="col-md-1">
                                            <i class="fa fa-email"></i>
                                        </div>
                                        <div class="col-md-4 ">
                                            <label class="light-label">E-mail</label>
                                            <input type="email" name="EmailID" class="form-input" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" placeholder="Enter Email Id" ng-model="patientedit.EmailID">                                            
                                        </div>
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/pannumber.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>AADHAAR CARD NUMBER</label>
                                            <input class="form-input addrow-form" ng-model="patientedit.AdharNo" type="text" placeholder="Enter Aadhaar Card Number" numbers-only="numbers-only" aw-limit-length="12">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row ">
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/pannumber.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>PAN NUMBER</label>
                                            <input class="form-input addrow-form" placeholder="Enter Pan Number" ng-model="patientedit.PanNo" type="text" aw-limit-length="10">
                                        </div>
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/nationality.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>NATIONALITY</label>
                                            <input class="form-input addrow-form" placeholder="Enter Nationality" ng-model="patientedit.Nationality" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <div class="row ">
                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/passport.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>PASSPORT NUMBER</label>
                                            <input class="form-input addrow-form" placeholder="Enter Passport Number" ng-model="patientedit.PassportNo" type="text" aw-limit-length="15">
                                        </div>

                                        <div class="col-md-1">
                                            <img class="bavimgalign" src="img/new-img/passport.png">
                                        </div>
                                        <div class="col-md-4">
                                            <label>VISA STATUS</label>
                                            <input class="form-input addrow-form" placeholder="Enter Visa Status" ng-model="patientedit.Visastatus" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap mr-bt-none">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="reg-req-fields" style="padding-bottom: 0px !important;"><em>*</em> Mandatory fields</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="registration-right-side">
                            <div class="registration-accordion">
                                <div ng-show="Sarayucode == 'PRIMEINDIA'">
                                    <div class="fourth-tab" ng-if="openFamilyDetails==true">
                                        <input class="registration-radio" name="small-reg1" id="medium4-reg" value="medium4-reg" type="radio" ng-checked="openFamilyDetails && Sarayucode == 'PRIMEINDIA'">
                                        <label for="medium4-reg" class="acc-lbl-fd">Family Details</label>
                                        <article class="emg-contact-acc">
                                            <div class="accordion-content">
                                                <div class="row accordion-addrow">
                                                    <div class="col-md-12">
                                                        <div class="common-radio-button">
                                                            <ul class="clearfix">
                                                                <li>
                                                                    <input type="radio" id="add-existing-id" ng-model="existfamilyid" value="N" ng-checked="existfamilyid =='N'" name="PaymentType" ng-change="familyidChange(existfamilyid)" checked="checked">
                                                                    <label class="radio-header-text" for="add-existing-id">Add to existing Family ID</label>
                                                                    <div class="check"></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="add-existing-memid">
                                                            <input type="text" class="form-input pa-reg-name" placeholder="Search by Family Id, Mobile Number" ng-model="SearchBy" uib-typeahead="patientitem as patientitem.FullName for patientitem in patients | filter:$viewValue" ng-change="SearchByText(SearchBy)" typeahead-template-url="customLocalTemplate.html" typeahead-wait-ms="500" name="SearchBy" typeahead-on-select="onItemSelected(SearchBy)" />
                                                        </div>
                                                        <div class="col-md-6" ng-show="existfamilyid =='N'">
                                                            <span>FAMILY RELATION</span>
                                                            <select class="form-input select-dropdown pa-title" ng-model="patientinfo.familyRelation">
                                                                <option value="">Choose Option</option>
                                                                <option ng-repeat="familylist in familyRelationList | filter:{ActiveIND:'Y'}" value="{{familylist.FamilyRltnID}}">{{familylist.FamilyRltnDesc}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 clearfix">
                                                        <!-- <div class="f-id-no-data">
                                                            <p>No results found, <a href="javascript:;">Add New Family ID</a></p>
                                                        </div> -->
                                                        <div class="common-radio-button">
                                                            <ul class="clearfix">
                                                                <li>
                                                                    <input type="radio" id="add-new-id" name="PaymentType" ng-model="existfamilyid" value="Y" ng-change="familyidChange(existfamilyid)" ng-checked="existfamilyid =='Y'">
                                                                    <label class="radio-header-text" for="add-new-id">Create New Family ID</label>
                                                                    <div class="check"></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="f-id-show" ng-show="familyname.length > 0">
                                                            <h4>
                                                                Family ID:
                                                                <span class="f-id-no">{{familyname}}</span>
                                                                <span ng-show="patientinfo.membership.length > 0">Membership: {{patientinfo.membership}}</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="first-tab">
                                    <input class="registration-radio" name="small-reg1" id="small-reg" value="small-reg" type="radio" ng-checked="!openFamilyDetails || Sarayucode != 'PRIMEINDIA'">
                                    <label for="small-reg" class="acc-lbl-conadress">CONTACT ADDRESS</label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="accordion-form">
                                                <div class="form-wrap">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input name="" class="form-input addrow-form" placeholder="Door number, Building name &amp; number" value="" ng-model="patientedit.Address1" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">                                                   
                                                    <div class="row">
                                                        <div class="col-md-12">                                                          
                                                            <input name=""  places-auto-complete class="form-input addrow-form" placeholder="Street Name (Powered by Google)" value="" type="text" details="latlng" ng-model="patientedit.Address2" on-place-changed="placeChanged()" details="latlng">
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="Country" ng-model="patientedit.Country" type="text">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="State" ng-model="patientedit.State" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap">
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="City" ng-model="patientedit.CityTown" type="text">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input class="form-input addrow-form" placeholder="Area" id="Location" ng-model="patientedit.Location" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-wrap mr-bt-none">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input name="" class="form-input addrow-form" placeholder="Landmark" value="" type="text" ng-model="patientedit.LandMark">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input name="" class="form-input addrow-form pincode-input" placeholder="Pincode" value="" type="text" numbers-only="numbers-only" aw-limit-length="6" ng-model="patientedit.PinCode">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="second-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium-reg" value="medium-reg" type="radio">
                                    <label for="medium-reg" class="acc-lbl-addetails">ADDITIONAL DETAILS</label>
                                    <article>
                                        <div class="accordion-content">
                                            <div class="row accordion-addrow">
                                                <div class="col-md-6">
                                                    <span>Marital Status</span>
                                                    <select class="form-input select-dropdown pa-title" ng-model="patientedit.othDetailmaritalstatus" ng-class="{submitted:patientform.submitted}" required>
                                                        <option value="">Choose Option</option>
                                                        <option value="S">Single</option>
                                                        <option value="M">Married</option>
                                                    </select>                                                   
                                                </div>                                               
                                                <div class="col-md-6" >
                                                    <span>Education</span>
                                                    <select class="form-input select-dropdown pa-title" ng-model="patientedit.othDetaileducation" ng-class="{submitted:patientform.submitted}" required>
                                                        <option value="" selected='selected'>Select Education</option>
                                                        <option value="Primary">Primary</option>
                                                        <option value="Secondary">Secondary</option>
                                                        <option value="Diploma">Diploma</option>
                                                        <option value="Bachelor">Bachelor</option>
                                                        <option value="Masters">Masters</option>
                                                        <option value="Doctorate">Doctorate</option>
                                                        <option value="None">None</option>
                                                        <option value="Others">Others</option>
                                                    </select>                                                   
                                                </div>                                               
                                            </div>
                                            <div class="row accordion-addrow">                                               
                                                <div class="col-md-6">
                                                    <span>Occupation</span>
                                                    <select class="form-input select-dropdown pa-title" ng-model="patientedit.othDetailoccupation">
                                                        <option value="">Select Occupation</option>
                                                        <option value="Unemployed">Unemployed</option>
                                                        <option value="Retired">Retired</option>
                                                        <option value="Professional">Professional</option>
                                                        <option value="Self employed">Self employed</option>
                                                        <option value="Homemaker">Homemaker</option>
                                                        <option value="Salaried">Salaried</option>
                                                        <option value="Student">Student</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>                                               
                                                <div class="col-md-6" ng-if="ReferralList.length>0">
                                                    <span style="white-space: nowrap;">Referral</span>
                                                    <select class="form-input select-dropdown pa-title" ng-model="patientedit.othDetailreferralsource" ng-selected="{{patientedit.othDetailreferralsource}}" ng-change="SourceChange(patientedit.othDetailreferralsource)">
                                                        <option value="OTHERS">Select Referral</option>
                                                        <option ng-repeat="ref in ReferralList | filter:{ActiveIND:'Y'}" value="{{ref.ReferralTitle}}">{{ref.ReferralTitle}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow" ng-show="subSourceList.length>0">
                                                <div class="col-md-6">
                                                    <span>Sub Referral</span>
                                                    <select name="SubSource" class="form-control select-dropdown" id="SubSource" ng-model="SubSource" ng-change="SubValue(SubSource)">
                                                        <option value="">Select Sub Referral</option>
                                                        <option ng-repeat="sub in subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}">{{sub.SubCatagoryDesc}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row accordion-addrow">
                                                <div class="col-md-12">
                                                    <span>Notes</span>
                                                    <textarea class="form-input pa-reg-name" ng-model="patientedit.othrDetailNotes" placeholder="Enter Notes" aw-limit-length="500" type="text" style="height:60px !important"></textarea>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="third-tab-tab">
                                    <input class="registration-radio" name="small-reg1" id="medium3-reg" value="medium3-reg" type="radio">
                                    <label for="medium3-reg" class="acc-lbl-emg">EMERGENCY CONTACT</label>
                                    <article class="emg-contact-acc">
                                        <div class="accordion-content">
                                            <div class="form-wrap" style="margin-bottom: 0px;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span>Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-wrap">
                                                <div class="row">
                                                    <div class="col-md-3" style="padding-right: 5px;">
                                                        <select class="form-input select-dropdown pa-title" ng-model="patientedit.emgytitle">
                                                            <option value="Mr">Mr</option>
                                                            <option value="Mrs">Mrs</option>
                                                            <option value="Miss">Miss</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-8 no-pad">                                                       
                                                        <input class="form-input pa-reg-name" placeholder="Enter Name" ng-model="patientedit.emgyname" type="text">
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="form-wrap">                                        
                                                <div class="row ">
                                                    <div class="col-md-8">
                                                        <span>Relation</span>
                                                        <select class="form-input select-dropdown pa-title" ng-model="patientedit.emgyrelationship">
                                                            <option value="">Choose Option</option>
                                                            <option value="Mother">Mother</option>
                                                            <option value="Father">Father</option>
                                                            <option value="Husband">Husband</option>
                                                            <option value="Wife">Wife</option>
                                                            <option value="Daughter">Daughter</option>
                                                            <option value="Son">Son</option>
                                                            <option value="Brother">Brother</option>
                                                            <option value="Sister">Sister</option>
                                                            <option value="Grandfather">Grandfather</option>
                                                            <option value="Grandmother">Grandmother</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-wrap mr-bt-none">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span>CONTACT NUMBER</span>
                                                        <div class="row">                                                          
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-input" placeholder="Country code" aw-limit-length="4" numbers-only="numbers-only" ng-model="patientedit.CntryCD" ng-change="emgycntrychange(patientedit.CntryCD)">
                                                            </div>
                                                            <div class="col-md-6 no-pad">                                                              
                                                                <input  class="form-input" aw-limit-length="10" ng-minlength="6" ng-maxlength="10" placeholder="Enter Contact Number" numbers-only="numbers-only" ng-model="patientedit.emgymobilenumber" type="text" ng-class="{submitted:patientform.submitted}" name="userPatientPhone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="popover fade top in emg-contrycode-errormsg" ng-show="emgycntryError">
                                                    <div class="popover-inner">
                                                        <div class="popover-content">Enter country code</div>
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </article>
                                </div>
                                <div class="fourth-tab-tab" ng-show="MembershipList.length != 0">
                                    <input class="registration-radio" name="small-reg1" id="medium2-reg" value="medium2-reg" ng-click="Select()" type="radio">
                                    <label for="medium2-reg" class="acc-lbl-mem">Membership Details</label>
                                    <article class="emg-contact-acc">
                                        <div class="accordion-content mem-acc-hgt">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <span style="white-space: nowrap;">Membership Name</span>
                                                    <select class="form-input select-dropdown pa-title" ng-model="patientedit.MembershipDetails" ng-selected="{{patientedit.MembershipDetails}}" ng-change="AddMembership(patientedit.MembershipDetails)" ng-disabled="Membershipshow">
                                                        <option value="">Select Membership</option>
                                                        <option ng-repeat="mem in MembershipList" value="{{mem.MembershipID}}">{{mem.MembershipName}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <!--   Membership Add end -->
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="reg-pat-btn clearfix pull-right">
                                <button class="btn btn-filled pull-left" ng-click="closeUpdate()" style="padding: 8px 12px !important;">cancel</button>
                                <button style="margin-left:8px; top: 0px;left: 6px; padding: 8px 12px !important; min-width: 100px;"  class="btn btn-primary pull-right" ng-click="UpdatePatient(patientedit)">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--RegpFlowpopup-->
    <div class="modal-overlay" ng-show="Registeraddpopup==true"></div>
    <div class="modal-common" ng-show="Registeraddpopup==true">
        <div class="modal-common-dialog" style=" background-color #7d7d7d; width 680px;" ng-show="Registeraddpopup==true">
            <div class="bkapt-new" ng-show="Registeraddpopup==true">
                <div class="hcue-calender-popup">
                    <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()">
                        <img src="images/calender-popop-close.png" alt="">
                    </a>
                    <div class="calender-user">
                        <!--<img src="img/female-avatar.png" alt="">-->
                        <div class="fid-pa-photo" ng-show="newpatient.Patient[0].Gender == 'M'" style="left: 35px!important;">
                            <img ng-hide="newpatient.PatientImage.length > 0" src="img/male_selected.png" width="55px" height="55px" style="position: absolute;  top: 2px;">
                            <img ng-if="newpatient.PatientImage.length > 0" src="{{newpatient.PatientImage}}" alt="" class="pro-img-pat" style="position: absolute;top: 2px;">
                        </div>
                        <div class="fid-pa-photo" ng-show="newpatient.Patient[0].Gender == 'F'" style="left: 35px!important;">
                            <img ng-hide="newpatient.PatientImage.length > 0" src="img/female_selected.png" width="55px" height="55px" style="position: absolute;  top: 2px;">
                            <img ng-if="newpatient.PatientImage.length > 0" src="{{newpatient.PatientImage}}" alt="" class="pro-img-pat"
                                 style="position: absolute;top: 2px;">
                        </div>
                        <p class="costom ng-binding ng-hide" ng-show="isPatientSelected"></p>
                        <div class="calender-user-section cusinl" style="position: inherit;    margin-top: 58px;    background-color: #28465a !important;">
                            <p class="dates">{{newpatient.Patient[0].FullName}}</p>
                            <p class="dates">{{newpatient.Patient[0].Gender == "M" ? "Male" : "Female"}} - {{((newpatient.Patient[0].CurrentAge.year > 0) ? newpatient.Patient[0].CurrentAge.year + " y" : '' ) + ' ' + ((newpatient.Patient[0].CurrentAge.month > 0) ? newpatient.Patient[0].CurrentAge.month + " m" : '')}}</p>
                            <div class="ba-otherinfo">
                                <small>{{newpatient.PatientPhone[0].PhNumber}}</small>
                                <small>{{newpatient.PatientEmail[0].EmailID}}</small>
                                <small>Patient ID: {{newpatient.Patient[0].ClinicPreference.PatientDisPlayID}}</small>
                                <small ng-show="newpatient.Patient[0].ClinicPreference.FamilyDisplayID.length > 0">Family ID : {{newpatient.Patient[0].ClinicPreference.FamilyDisplayID}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="calender-details">
                        <div class="clearfix">
                            <h5 class="pull-left regtxtsuc" style="background-color: #f8f8f8;">The patient has been registered successfully</h5>
                        </div>
                        <div class="form-section">
                            <label>What do you want to do now?</label>
                            <div class="col-md-6 no-pad-left">
                                <a href="javascript:;" ng-click="bookAppointment();" class="cal-bp-link">Book Appointment</a>
                            </div>
                            <div class="col-md-6 no-pad-left">
                                <a href="javascript:;" ng-click="startConsultation(newpatient);" class="cal-stc-link">Start Consultation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="customLocalTemplate.html">
        <a class="searchByResultTEst" sad>
            <!-- <span ng-if="match.model.Title.length >0" ng-bind-html="match.model.Patient[0].Title +'.'+ match.model.FullName | uibTypeaheadHighlight:query"></span>-->
            <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span>
            <span ng-bind-html="match.model.Gender | uibTypeaheadHighlight:query" style="width: 5%"></span>
            <span ng-bind-html="((match.model.CurrentAge === undefined) ? ((match.model.Age)) : (((match.model.CurrentAge.year >
                0) ? match.model.CurrentAge.year + 'y'
                : '') + ' ' + ((match.model.CurrentAge.month > 0)? match.model.CurrentAge.month + 'm' : '')))" style="width: 15%">
            </span>
            <span ng-if="match.model.PhoneNumber == undefined" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
            <span ng-if="match.model.PhoneNumber.toString().length < 6" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
            <span ng-if="match.model.PhoneNumber != undefined" ng-bind-html="match.model.PhoneNumber | uibTypeaheadHighlight:query"></span>
            <!-- <span ng-hide="match.model.EmailID == undefined" ng-bind-html="match.model.EmailID | uibTypeaheadHighlight:query"
                  style="overflow: visible !important; vertical-align: top; "></span> -->
        </a>
    </script>
</body>
</html>
