<!--END ADMIN TABS-->
<div class="clsAdmin_new bg-white pt-10">
    <div class="row">
        <div class="col-sm-6">
            <div class="admin-top-header">
                <h4>Manage Users</h4>
                <p> ( Add, Edit, Delete, Search users ) </p>

                <ul id="progressbar" ng-show="showWizard">
                    <!--<li ng-class="(step1)?'active':''" ng-click="addUpdateDoctor('',0,'yes')">Basic Information</li>
                    <li ng-class="(step2)?'active':''" ng-if="hospitalCD == 'PRIMEINDIA'" ng-click="addUpdateDoctor('',1,'yes')">Consultant Info</li>
                    <li ng-class="(step3)?'active':''" ng-click="addUpdateDoctor('',2,'yes')">Branch &amp; Timings</li>-->
                    <li ng-class="(step1)?'active':''" ng-click="wizardStep(1); step1 = 1; step3 = 0;">Basic Information</li>
                    <!-- <li ng-class="(step2)?'active':''" ng-if="hospitalCD == 'PRIMEINDIA'"  ng-click="wizardStep(2)">Consultant Info</li> -->
                    <!-- <li ng-class="(step3)?'active':''" ng-click="wizardStep(3); step1 = 0; step3 = 1;">Branch &amp; Timings</li> -->
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="prb-15">
                <label>Select Locations</label> 
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-wrap no-pad">               
                           <select class="form-style select-dropdown" name="search" ng-disabled="!enableSearch" ng-model="New.selectBranch" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDoctorsList" ng-change="changeClinic(New.selectBranch, '2')">
                           </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-wrap no-pad">
                           <input type="text" name="" class="form-style i-pad" placeholder="Search by Username or Role" ng-hide="!enableSearch" ng-model="Main.searchbytext">
                           <span class="glyphicon glyphicon-search i-search" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Admin user listing -->
<div ng-include="'templates/admin/UserProfile/listing-users.html'" class="animated fadeIn" ng-if="listingUsers"></div>
<!-- End of admin user lisiting -->
<!-- Step 1 -->
<div ng-include="'templates/admin/UserProfile/user-step1.html'" class="animated fadeIn" ng-if="step1"></div>
<!-- Step 1 -->
<!-- Step 2 -->
<div ng-include="'templates/admin/admin-users/user-step2.html'" class="animated fadeIn" ng-if="step2"></div>
<!-- Step 2 -->
<!-- Step 3 -->
<div ng-include="'templates/admin/admin-users/user-step3.html'" class="animated fadeIn" ng-if="step3"></div>
<!-- Step 3 -->

