<div class="profile-settings no-mar sep-top bg-white">
    <div class="row mt-10">
        <div class="col-md-3">
            <div class="clearfix">
                <div class="pro-role-list">
                    <div class="pro-list no-mar" ng-if="doctorListing.length > 0">
                        <div class="role-list-header" ng-hide="doctorListing.length !== 0 && searchcount.length == 0">
                            <h4>List of Users (<span ng-show="Main.searchbytext == ''" ng-bind="doctorListing.length"></span><span ng-hide="Main.searchbytext == ''" ng-bind="searchcount.length"></span>)</h4>
                        </div>
                        <ul>
                            <li ng-repeat="doctorData in doctorListing | filter:Main.searchbytext as searchcount" ng-class="(selectedDocID == doctorData.DoctorID)?'active':''" style="cursor: pointer;">
                                <div ng-click="getDoctorDetails(doctorData, $index)">
                                    <h5 ng-bind="doctorData.FullName"></h5>
                                    <div class="pro-list-action">
                                        <p ng-bind="doctorData.RoleID"></p>
                                        <p ng-bind="'Last Login : '+doctorData.DoctorOtherDtls.DoctorLastLogin" ng-if="doctorData.DoctorOtherDtls.DoctorLastLogin != 'Online' && doctorData.DoctorOtherDtls.DoctorLastLogin != undefined"></p>
                                        <p ng-bind="'Last Login : '+doctorData.DoctorOtherDtls.DoctorLastLogin | date:'MM/dd/yyyy  h:mma'" ng-if="doctorData.DoctorOtherDtls.DoctorLastLogin == 'Online' && doctorData.DoctorOtherDtls.DoctorLastLogin != undefined"></p>
                                        <div class="pl-button">
                                            <a href="javascript:;" ng-hide="doctorData.DoctorID == newDoctorId" class="i-delete" data-tooltip="Delete" ng-click="getDeleteDoctorDetails(doctorData)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="no-data-found" ng-show="doctorListing.length !== 0 && searchcount.length == 0">
                            <img src="img/admin-img/no-list.png">
                            <h5>No results found</h5>
                        </div>
                    </div>

                    <div class="no-data-found" ng-if="doctorListing.length == 0">
                        <img src="img/admin-img/no-list.png">
                        <h5>No user available</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="clearfix bg-white">
                <div class="manage-users">
                    <div class="mu-header clearfix pb-10">
                        <h4 class="pull-left" ng-if="selectedDoctor != undefined && selectedDoctor.length != 0">Basic Information</h4>
                        <div class="pull-right mr-10">
                            <button class="btn btn-primary" ng-click="pageChange('addDoctor')">add user</button>
                        </div>
                    </div>
                    <div class="manage-user-profile" ng-if="selectedDoctor != undefined && selectedDoctor.length != 0">
                        <div class="row">
                            <div class="col-md-1 text-center"><img src="img/admin-img/avatar-icon.png"></div>
                            <div class="col-md-11">
                                <div class="clearfix">
                                    <h4 class="dr-name" ng-bind="selectedDoctor.doctor[0].FullName"></h4>
                                    <div class="mup-action">
                                        <a href="javascript:;" ng-click="pageChange('editUser')"><img src="img/admin-img/edit-icon.png" data-tooltip="Edit"></a>
                                    </div>
                                </div>
                                <div class="mup-info clearfix">
                                    <ul class="clearfix no-mar">
                                        <li>
                                            <span>Mobile:</span>
                                            <h5><span ng-bind="selectedDoctor.doctorPhone[0].PhNumber"></span></h5>

                                        </li>
                                        <li>
                                            <span>Username / Email: </span>
                                            <h5 ng-bind="selectedDoctor.doctor[0].DoctorLoginID"></h5>
                                        </li>
                                        <li>
                                            <span>Role: </span>
                                            <h5 ng-repeat="role in selectedDoctor.doctorAddress" ng-bind="role.ExtDetails.RoleID" ng-if="$first"></h5>
                                        </li>
                                        <li>
                                            <span>Group: </span>
                                            <h5 ng-repeat="group in selectedDoctor.doctorAddress" ng-bind="group.ExtDetails.GroupID" ng-if="$first"></h5>
                                        </li>
                                        <li ng-hide="drnameshw">
                                            <span>Gender: </span>
                                            <h5 ng-bind="(selectedDoctor.doctor[0].Gender == 'M')? 'Male':'Female'"></h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mu-header" ng-if="selectedDoctor.length > 0">
                        <h4>Basic Information</h4>
                    </div>
                    <div class="new-branch-info" ng-if="selectedDoctor != undefined && selectedDoctor.length != 0">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="role in selectedDoctor.doctorAddress" ng-if="role.ExtDetails.RoleID != 'RECPTNIST' && role.ExtDetails.RoleID != undefined && $first">
                                <div class="new-add-branch">
                                    <a href="javascript:;" ng-click="pageChange('addClinic')">
                                        <img src="img/admin-img/add-icon-nedium.png">
                                        <h5>Assign New Locations</h5>
                                    </a>
                                    <div class="show-over" ng-show="showaddclinic">
                                        <div class="form-wrap">
                                            <select class="form-style select-dropdown" ng-model="addHospital.newclinic">
                                        <option value="">All</option>
                                        <option ng-repeat="hospitalData in newAddHospitalList" value="{{hospitalData}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                    </select>
                                        </div>
                                        <button class="btn btn-primary" ng-click="addUpdateDoctor()">Add</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3 text-center" ng-repeat="clinicDetails in selectedDoctor.doctorAddress | filter:{'AddressType':'B'} | filter:{'Active':'Y'}">
                                <div class="added-branch">
                                    <div class="ab-header">
                                        <h4 ng-bind="clinicDetails.ClinicName"></h4>
                                        <div class="pl-button user-delete" ng-if="$index != 0">
                                            <!-- <a href="javascript:;" class="i-delete" ng-click="getDeleteClinicDetails(clinicDetails.ExtDetails.HospitalID)"></a> -->
                                            <a href="javascript:;" class="i-delete" ng-click="deleteUsersClinic(clinicDetails.AddressID, clinicDetails.ExtDetails.HospitalID, clinicDetails.ExtDetails.RoleID)"></a>
                                        </div>
                                    </div>
                                    <div class="ab-address">
                                        <p ng-bind="clinicDetails.Address1 +' '+ clinicDetails.Address2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-data-found" ng-if="selectedDoctor.length == 0">
                        <img src="img/admin-img/no-list.png">
                        <h5>No user information available</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>