<div class="add-user-form">
    <div class="auf-header">
        <a href="javascript:;" class="back-list" ng-click="pageChange('Listing')">Back to List</a>
        <h4>Basic Information</h4>
        <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique justo, nec consequat turpis.</p>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form class="add-user-new" name="AddUpdateDoctor" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap">
                            <label for="recipient-name" class="control-label">Title <em>*</em></label>
                            <!-- <input type="text" name="Name" class="form-control" ng-model="userCollection.doctorDetails.Title" placeholder="Title" required> -->
                            <select class="form-control select-dropdown" ng-model="userCollection.doctorDetails.Title" name="Name" required>
                                <option value="Miss">Miss</option>
                                <option value="Mr">Mr</option>
                                <option value="Ms">Ms</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Dr">Dr</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap">
                            <label>Forename <em>*</em></label>
                            <div class="fm-box">
                                <input type="text" class="form-control" name="fullname" placeholder="Enter Forename" ng-model="userCollection.doctorDetails.FirstName" required>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap">
                            <label>Surname <em>*</em></label>
                            <div class="fm-box">
                                <input type="text" class="form-control" name="lastname" placeholder="Enter Surname" ng-model="userCollection.doctorDetails.LastName" required>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap" ng-hide="drnameshw">
                            <label>Sex <em>*</em></label>
                            <div class="fm-box">
                                <select class="form-control select-dropdown" ng-model="userCollection.doctorDetails.Gender" name="gender" required>
                                   <option value="M">Male</option>
                                   <option value="F">Female</option>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap">
                            <label>Date of Birth</label>
                            <input type="text" name="Name" class="form-control icons-calendar" datepickeraddpatient ng-model="userCollection.doctorDetails.DOB" readonly placeholder="Date of Birth">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-wrap">
                            <label>Time Slots <i>(In Minutes)</i> <em ng-show="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'SONOGRAPHER'">*</em></label>
                            <select class="form-control" ng-model="userCollection.DoctorAddress[0].ExtDetails.MinPerCase" ng-required="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'SONOGRAPHER'">
                                <option value="5">05</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <!-- <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Daytime Tel </label>
                            <div class="fm-box">
                                <input type="text" class="form-control" name="contactMobileNo" placeholder="Enter No" ng-model="userCollection.DoctorPhone[0].PhNumber" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Evening Tel </label>
                            <div class="fm-box">
                                <input type="text" class="form-control" name="MobileNo" placeholder="Enter No" ng-model="userCollection.DoctorPhone[1].PhNumber" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Select Role <em>*</em></label>
                            <div class="fm-box">
                                <select class="form-control select-dropdown" name="rolesName" ng-model="userCollection.DoctorAddress[0].ExtDetails.RoleID" ng-change="changeRole()" required>
                                    <option value="">Select role</option>
                                   <option ng-repeat="role in rolesList" value="{{role.RoleID}}" ng-bind="role.RoleDesc" ></option>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Select Group <em>*</em></label>
                            <div class="fm-box">
                                <select class="form-control select-dropdown" ng-model="userCollection.DoctorAddress[0].ExtDetails.GroupID" name="groupName" ng-change="changeGroup(groupId.group)" required>
                                    <option value="">Select group</option>
                                    <option ng-repeat="groups in rolesListing | filter:roleFilter" value="{{groups.GroupName}}" ng-bind="groups.GroupName"></option>
                               </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>User Login Id (Email Id) <em>*</em></label>
                            <div class="fm-box">
                                <input type="text" ng-disabled='editStep1' class="form-control" name="username" placeholder="Enter email ID" ng-model="userCollection.doctorDetails.DoctorLoginID" ng-pattern="email_pattern" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label for="recipient-name" class="control-label">Registration Number </label>
                            <input type="text" name="Code" class="form-control" placeholder="Registration Number" ng-model="userCollection.doctorDetails.RegistrationNo">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!editStep1">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Password <em>*</em></label>
                            <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.password.$touched) && AddUpdateDoctor.password.$invalid)?'fm-box fm-error':'fm-box'}}">
                                <input type="password" class="form-control" name="password" placeholder="Enter password" ng-model="userCollection.doctorDetails.DoctorPassword" ng-required="!editStep1" id="password" ng-pattern="password_pattern" ng-maxlength="20">
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.password.$touched) && AddUpdateDoctor.password.$error" class="fm-error-text">Password Must contains Uppercase, Lowercase, Special character and Numbers, Should not contain white spaces</span>
                                <!-- <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.password.$touched) && AddUpdateDoctor.password.$error.pattern" class="fm-error-text">
                                    Password minimum length must be 6</span>  
                                    <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.password.$touched) && AddUpdateDoctor.password.$error.maxlength" class="fm-error-text">
                                    Password maximum length must be 20</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-wrap">
                            <label>Confirm Password <em>*</em></label>
                            <div class="{{((AddUpdateDoctor.$submitted || AddUpdateDoctor.confirmPassword.$touched) && AddUpdateDoctor.confirmPassword.$invalid)?'fm-box fm-error':'fm-box'}}">
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Re-enter password" ng-model="hCueConfimrPassword.confirmPassword" pw-check="password" id="confirmPassword" ng-required="!editStep1">
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.confirmPassword.$touched) && AddUpdateDoctor.confirmPassword.$error.required" class="fm-error-text">Enter confirm password</span>
                                <span ng-show="(AddUpdateDoctor.$submitted || AddUpdateDoctor.confirmPassword.$touched && !AddUpdateDoctor.confirmPassword.$error.required) && AddUpdateDoctor.confirmPassword.$error.pwmatch" class="fm-error-text">
                                    Password doesn't match
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox cn pull-left mb-15">
                            <label>
                                <input type="checkbox" name="checkbox-2" ng-model="locum">
                                <span class="checkbox-material">
                                    <span class="check"></span>
                                </span>
                                <small>Locum -(will be added to all Location)</small>
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="row" ng-show="userCollection.DoctorAddress[0].ExtDetails.RoleID != 'AGENT'" ng-hide="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'CLINICALSUPPWORKER'">
                    <div class="col-xs-12">
                        <div class="radio-options">
                            <div class="radio pl-0">
                                <label>
                                    <input type="radio" name="rateType" value="Procedure" ng-model="rateType" ng-click="rateintype()"> Per Procedure (PT)
                                    <!-- <input type="radio" name="rateType" value="Procedure" ng-model="rateType" ng-click="rateintype()" ng-required="userCollection.DoctorAddress[0].ExtDetails.RoleID != 'AGENT'"> Per Procedure (PT) <em>*</em> -->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12" ng-show="rateType == 'Procedure'">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">< 20 min</label>
                                    <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" placeholder="< 20 min" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateBelowTwenty">
                                    <!-- <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" placeholder="< 20 min" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateBelowTwenty" ng-required="rateType == 'Procedure'"> -->
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12" ng-show="rateType == 'Procedure'">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">> 20 min / Speciality Scans</label>
                                    <!-- <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" placeholder="> 20 min / Speciality Scans" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateAboveTwenty" ng-required="rateType == 'Procedure'"> -->
                                    <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" placeholder="> 20 min / Speciality Scans" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateAboveTwenty">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="userCollection.DoctorAddress[0].ExtDetails.RoleID != 'AGENT'">
                    <div class="col-xs-12">
                        <div class="radio-options">
                            <div class="radio pl-0">
                                <label>
                                    <input type="radio" name="rateType" value="Per Hour" ng-model="rateType" ng-click="rateintype()"> Per Hour (HR)
                                    <!-- <input type="radio" name="rateType" value="Per Hour" ng-model="rateType" ng-click="rateintype()" ng-required="userCollection.DoctorAddress[0].ExtDetails.RoleID != 'AGENT'"> Per Hour (HR) <em>*</em> -->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="rateType == 'Per Hour'">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Rate <i>(in GBP)</i></label>
                            <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateperHour" placeholder="Speciality Scans">
                            <!-- <input type="text" numbersdots-only pattern="^(\d*\.)?\d+$" name="Code" class="form-control" ng-model="userCollection.DoctorAddress[0].ExtDetails.RateperHour" placeholder="Speciality Scans" ng-required="rateType == 'Per Hour'"> -->
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'SONOGRAPHER'">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="pb-10">Speciality <em>*</em></label>
                            <!-- <div class="form-group"> -->
                            <!--                                 <ui-select ng-model="specialityCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false"  ng-change="selectspeciality()" >
                                    <ui-select-match placeholder="Select Speciality">
                                        <span ng-bind="$select.selected.specialitydesc"></span>
                                    </ui-select-match>
                                    <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: {isActive: false} |filter: $select.search">
                                        <span ng-bind="data.specialitydesc"></span>
                                    </ui-select-choices>
                                </ui-select> -->
                            <!-- </div> -->
                            <ui-select multiple ng-model="specialityCollection.selected" reset-search-input="true" theme="bootstrap" append-to-body="false" ng-required="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'SONOGRAPHER'" ng-change="selectspeciality()">
                                <ui-select-match placeholder="">
                                    <span ng-bind="$item.specialitydesc"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: $select.search">
                                    <span ng-bind="data.specialitydesc"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!--                         <div class="form-group">
                            <div class="search-relt min">
                                <ul class="list-unstyled">
                                    <li ng-show="speciality.isActive == true" ng-repeat="speciality in specialitydisplayCollection">
                                        {{speciality.specialitydesc}}
                                        <i class="fa fa-trash-o" aria-hidden="true" ng-click="speciality.isActive = false"></i>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="pb-10">Sub Specialities <em>*</em></label>

                            <ui-select multiple ng-model="subSpecialityCollection.selected" reset-search-input="true" theme="bootstrap" append-to-body="false" ng-required="userCollection.DoctorAddress[0].ExtDetails.RoleID == 'SONOGRAPHER'">
                                <ui-select-match placeholder="">
                                    <span ng-bind="$item.DoctorSpecialityDesc"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="'speldesc'" group-filter="" repeat="data in subSpecialityCollection | filter: $select.search">
                                    <span ng-bind="data.DoctorSpecialityDesc"></span>
                                </ui-select-choices>
                            </ui-select>


                            <!-- <div class="search-relt">
                                <ul class="list-unstyled no-mar" ng-show="speciality.isActive == true" ng-repeat="speciality in specialitydisplayCollection track by $index">
                                    <li  ng-show="sub.isActive == true" ng-repeat="sub in speciality.subspeciality">
                                        {{sub.DoctorSpecialityDesc}}
                                        <i class="fa fa-trash-o" aria-hidden="true" ng-click="sub.isActive = false"></i>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Notes</label>
                            <textarea name="" id="" cols="30" rows="4" ng-model="userCollection.doctorOtherDetails.notes" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-wrap">
                    <div class="fm-action pull-right">
                        <button class="action-filled mr-10" type="button" ng-click="pageChange('Listing')">Cancel</button>
                        <button class="btn btn-primary" ng-show="!editStep1" type="submit" ng-click="addUpdateDoctor()" ng-disabled="!AddUpdateDoctor.$valid">Save</button>
                        <button class="btn btn-primary" ng-show="editStep1" type="submit" ng-click="addUpdateDoctor()" ng-disabled="!AddUpdateDoctor.$valid">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-7 animated fadeIn" ng-if="ListingDisplay.length > 0">
            <div class="access-rights">
                <h5>Access Rights</h5>
                <div class="row">
                    <div class="col-md-4" ng-repeat="list in ListingDisplay track by $index">
                        <div class="access-rights-list" ng-bind="list.AccessDesc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>