<div class="c7report" ng-controller="c7GeneralReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group no-mar clearfix">
                                <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY"
                                    ng-model="daterange"    type="text" daterangedashboardpicker id="dashdaterange">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label for="range">Select Location</label>
                        <select class="form-control" ng-model="hospitalID">
                            <option value="0">All</option>
                            <option ng-repeat="hospitalData in hospitalDoctorsList" value="{{hospitalData.HospitalInfo.HospitalDetails.HospitalID}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                        </select>         
                    </div>
                </div> -->

                    <div class="col-md-2 text-center pt-20">
                        <button class="btn btn-primary" ng-click="testingFilterbyRange()">Apply</button>
                        <!-- <figure class="cursor export-excel ml-10" title="Export to Excel" ng-if="reportColl.length > 0"
                            ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure> -->
                    </div>
                    <div class="col-md-2 text-center pt-20">
                        <i ng-click="GeneralStatsReportFileList()" class="btn btn btn-lg glyphicon glyphicon-refresh" style="margin-left: 42px !important;background: #0055a5;color: #ffffff;"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="report-cont">
        <div class="dib table-responsive">
            <table class="table color-theme-plain">
                <thead>
                    <tr>
                        <th>AppointmentID</th>
                        <th>DWID</th>
                        <th>NHS Number</th>
                        <th style="min-width: 100px;">Postcode</th>
                        <th>CCG Name</th>
                        <th>Doctor Name</th>
                        <th>Practice Code</th>
                        <th>Practice Name</th>
                        <th>Referral ID</th>
                        <th style="min-width: 100px;">Referal Received</th>
                        <th style="min-width: 100px;">Date Booked</th>
                        <th style="min-width: 100px;">Date Treatment</th>
                        <th>Appointment Location</th>
                        <th>Sub Speciality</th>
                        <th>Appointment Type</th>
                        <th>Appointment Status</th>
                        <th>Sonographer Name</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th style="min-width: 100px;">Report Date</th>
                        <th style="min-width: 100px;">Triage Date</th>
                        <th style="min-width: 100px;">Clock Start</th>
                    </tr>
                </thead>
                <tbody ng-repeat="data in reportColl">
                    <tr>
                        <td>{{data.AppointmentID}}</td>
                        <td>{{data.DWID}}</td>
                        <td>{{data.nhsnumber}}</td>
                        <td>{{data.Postcode}}</td>
                        <td>{{data.ccgname}}</td>
                        <td>{{data.DoctorName}}</td>
                        <td>{{data.PracticeCode}}</td>
                        <td>{{data.PracticeName}}</td>
                        <td>{{data.ReferralID}}</td>
                        <td>{{data.referalreceived}}</td>
                        <td>{{data.DateBooked}}</td>
                        <td>{{data.DateTreatment}}</td>
                        <td>{{data.Appointmentlocation}}</td>
                        <td>{{data.subspeciality}}</td>
                        <td>{{data.AppointmentType}}</td>
                        <td>{{data.AppointmentStatus}}</td>
                        <td>{{data.SonographerName}}</td>
                        <td>{{data.StartTime}}</td>
                        <td>{{data.duration}}</td>
                        <td>{{data.ReportDate}}</td>
                        <td>{{data.TriageDate}}</td>
                        <td>{{data.ClockStart}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="report-cont">
        <div class="dib table-responsive">
            <table class="table color-theme-plain">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Report Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th style="min-width: 100px;">Created By</th>
                        <th>Download Link</th>
                    </tr>
                </thead>
                <tbody ng-repeat="data in reportCollfile">
                    <tr>
                        <td>{{data.date}}</td>
                        <td>{{data.reportname}}</td>
                        <td>{{data.startdate}}</td>
                        <td>{{data.enddate}}</td>
                        <td>{{data.FullName}}</td>
                        <td><a href={{data.downloadurl}} target="_blank" download>Click here to download</a></td>
                </tbody>
                <tbody ng-show="reportCollfile.length==0">
                    <tr>
                        <td class="bold text-center" colspan="6">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

