<div class="container-fluid">
    <div>
        <div>
            <div>
                <div class="tabs-header new-tabs">
                    <ul class="nav nav-tabs">
                        <li class="{{tabno ==1 ? 'active' :''}}" ng-show="showRegionAccess">
                            <a href="javascript:;" aria-controls="Region" ng-class="ShowTab(1)" ng-click="shownewtab(1)">Region</a>
                        </li>
                        <li class="{{tabno ==2 ? 'active' :''}}" ng-show="showCCGAccess">
                            <a href="javascript:;" aria-controls="ccg" ng-class="ShowTab(2)" ng-click="shownewtab(2)">CCG</a>
                        </li>
                        <li class="{{ tabno ==3 ? 'active' :''}}" ng-show="showPracticeAccess">
                            <a href="javascript:;" aria-controls="Practice" ng-class="ShowTab(3)" ng-click="shownewtab(3)">Practice</a>
                        </li>
                        <li class="{{ tabno ==4 ? 'active' :''}}" ng-show="showDoctorAccess">
                            <a href="javascript:;" aria-controls="Doctor" ng-class="ShowTab(4)" ng-click="shownewtab(4)">Doctor</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content tabs-inner">
                    <div class="tab-body">
                        <div role="tabpanel" class="tab-pane" id="Region" ng-show="tabno ==1">
                            <div ng-include="'components/referralteam/region/regionlist.html'" class="tabs-header  tabs_background"></div>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ccg" ng-show="tabno ==2">
                            <div ng-include="'components/referralteam/CCG/ccglist.html'" class="tabs-header  tabs_background"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Practice" ng-show="tabno ==3">
                            <div ng-include="'components/referralteam/Practice/practicelist.html'" class="tabs-header  tabs_background"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="Doctor" ng-show="tabno ==4">
                            <div ng-include="'components/referralteam/doctor/doctorlist.html'" class="tabs-header  tabs_background"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>