﻿<div ng-controller="ccglistController">
    <div class="app-row">
        <div class="app-header care-team-header">
            <div class="row">
                <div class="col-lg-5 col-md-11" style="height: 35px;">
                    <div class="form-group">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control searchbar" placeholder="Search CCG" ng-model="searchccg" ng-change="updateFilter()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-7 col-md-1">
                    <a class="btn btn-primary  pull-right" tooltip="Add" data-toggle="modal" data-target="#AddEditCCG1" ref="" role="button" ng-click="declareccgVariables()">Add New CCG</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="summary-reports norecords text-center" ng-show='allccg.length == 0'>
            <img src="img/no-data/no lab - care.png">
            <p class="goback-text">You haven't added any ccg yet</p>
            <p>
                Start adding ccg to your network by searching our database
                <br> or add a new ccg by yourself.
            </p>
        </div>
        <div class="" ng-hide='allccg.length == 0'>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table color-theme-one tbody">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>CCG Name</th>
                                        <th>Region Name</th>
                                        <th>Contact Person</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="ccg in allccg | orderBy : '!active' as ccgfilterCollection">
                                    <tr class="toggle" ng-class="{'open': showccgpractice == {{$index}}, 'disable': ccg.active == false}" ng-click="toggleSubccg($index)">
                                        <td>
                                            <span>
                                                <img class="plus" src="images/expand.png" alt="">
                                                <img class="minus" src="images/collapse.png" alt="">
                                            </span>
                                        </td>
                                        <td>{{ccg.ccgname}}</td>
                                        <td>{{ccg.regionname}}</td>
                                        <td>{{ccg.contactperson}}</td>
                                        <td>{{ccg.contactnumber}}</td>
                                        <td>{{ccg.email}}</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditCCG1'); getccgToEdit(ccg.ccgid); $event.stopPropagation()">
                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                            </a>
                                            <!-- <a href="javascript:void(0);" ng-show="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow1'); deleteccg(ccg.ccgid, ccg.active)">
                                                <i class="fa fa-ban" aria-hidden="true" title="Deactivate" data-toggle="tooltip"></i>
                                            </a> -->

                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow1'); deleteccg(ccg.ccgid, ccg.active); $event.stopPropagation()">
                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                    <i class="fa fa-check"> </i>
                                                </div>
                                            </a>

                                            <!-- <a href="javascript:void(0);" ng-hide="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow1'); deleteccg(ccg.ccgid, ccg.active)">
                                                <i class="fa fa-check" aria-hidden="true" title="Activate" data-toggle="tooltip"></i>
                                            </a> -->

                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow1'); deleteccg(ccg.ccgid, ccg.active); $event.stopPropagation()">
                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                    <i class="fa fa-times"> </i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="inner" ng-show="showccgpractice == $index">
                                        <td></td>
                                        <td colspan="14">
                                            <table class="table color-theme-two mb-10">
                                                <thead>
                                                    <tr>
                                                        <th>Practices Name</th>
                                                        <th>Code</th>
                                                        <th>Contact Number</th>
                                                        <th>Email</th>
                                                        <th>Postcode</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="practice in ccg.practicedetailval |orderBy : '!active'" ng-class="{'disable': practice.active == false}">
                                                        <td>{{practice.practicename}}</td>
                                                        <td>{{practice.practicecode}}</td>
                                                        <td>{{practice.contactnumber}}</td>
                                                        <td>{{practice.email}}</td>
                                                        <td>{{practice.postcode}}</td>
                                                        <td class="min-wids">
                                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditPractice'); getpracticeToEdit(practice.practiceid)">
                                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                                            </a>
                                                            <!-- <a href="javascript:void(0);" ng-show="practice.active" ng-click="toggleModal('#deletePracticePopupWindow'); getparticeDelete(practice.practiceid, practice.active)">
                                                                <i class="fa fa-ban" aria-hidden="true" title="Deactivate" data-toggle="tooltip"></i>
                                                            </a> -->

                                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="practice.active" ng-click="toggleModal('#deletePracticePopupWindow'); getparticeDelete(practice.practiceid, practice.active); $event.stopPropagation()">
                                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                                    <i class="fa fa-check"> </i>
                                                                </div>
                                                            </a>

                                                            <!--  <a href="javascript:void(0);" ng-hide="practice.active" ng-click="toggleModal('#deletePracticePopupWindow'); getparticeDelete(practice.practiceid, practice.active)">
                                                                <i class="fa fa-check" aria-hidden="true" title="Activate" data-toggle="tooltip"></i>
                                                            </a> -->

                                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="practice.active" ng-click="toggleModal('#deletePracticePopupWindow'); getparticeDelete(practice.practiceid, practice.active); $event.stopPropagation()">
                                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                                    <i class="fa fa-times"> </i>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="ccg.practicedetailval.length == 0">
                                                        <td colspan="10" class="text-center bold">No Record Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="ccgfilterCollection.length == 0 && allccg.length != 0" class="text-center bold">
                            No Search Result Found
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="pageNumberCCG" class="text-center mt-10">
                <button class="btn load-more" ng-click="loadmoreCCG()">Load More ...</button>
            </div>
        </div>
    </div>
    <!-- CCG -->
    <div class="modal-common new modal fade" id="AddEditCCG1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog addeditccg">
            <div class="model-popup-header">
                <h4 class="modal-title" ng-hide="ccgedit">Add New CCG</h4>
                <h4 class="modal-title" ng-show="ccgedit">Edit CCG</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="addccgnew1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.regionid == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Select Region <em>*</em></label>
                                    <select name="" id="" class="form-control" ng-model="addupdateccg.regionid">
                                        <option value="">Select Region</option>
                                        <option ng-repeat="region in allRegion |orderBy : 'regionname' |orderBy : '!active'" value="{{region.regionid}}">{{region.regionname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.ccgname == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">CCG Name <em>*</em></label>
                                    <input type="text" name="ccgname" class="form-control" ng-model="addupdateccg.ccgname">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.ccgreference == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Reference <em>*</em></label>
                                    <input type="text" name="ccgreference" class="form-control" ng-model="addupdateccg.ccgreference">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactperson == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact Person <em>*</em></label>
                                    <input type="text" name="primarycontactperson" class="form-control" ng-model="addupdateccg.primarycontactperson">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactno == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact No <em>*</em></label>
                                    <input type="text" numbers-only name="primarycontactno" class="form-control" ng-model="addupdateccg.primarycontactno">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact Email <em>*</em></label>
                                    <input type="text" name="primarycontactemail" class="form-control" ng-model="addupdateccg.primarycontactemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="addccgnew1.primarycontactemail.$touched" class="error">
                                        <span ng-show="addccgnew1.primarycontactemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Offices Served</label>
                                    <input type="text" name="officesserved" class="form-control" ng-model="addupdateccg.officesserved">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Employees on System</label>
                                    <input type="text" name="emponsystem" class="form-control" ng-model="addupdateccg.emponsystem">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Local Contact</label>
                                    <input type="text" numbers-only name="localcontact" class="form-control" ng-model="addupdateccg.localcontact">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Assistant</label>
                                    <input type="text" name="assistant" class="form-control" ng-model="addupdateccg.assistant">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Invoicing</label>
                                    <input type="text" name="invoice" class="form-control" ng-model="addupdateccg.invoice">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Contract Renewal Reminder</label>
                                    <input type="text" name="contractrenewalremain" class="form-control icons-calendar" ccgrenewaldatepicker ng-model="addupdateccg.contractrenewalremain">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Payment Terms</label>
                                    <input type="text" name="paymentterms" class="form-control" ng-model="addupdateccg.paymentterms">
                                </div>
                            </div>
                        </div>
                        <h3>Create Contract Details</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.contractstartdate == '')? 'required': ''">
                                    <label>Contract Start Date <em>*</em></label>
                                    <div class="input-group-btn">
                                        <input type="text" ng-model="addupdateccg.Contractdetails.contractstartdate" ng-change="dateValidationContract(addupdateccg.Contractdetails.contractstartdate, addupdateccg.Contractdetails.contractenddate)" name="Name" class="form-control icons-calendar"
                                            referraldatepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.contractenddate == '')? 'required': ''">
                                    <label>Contract End Date <em>*</em></label>
                                    <div class="input-group-btn">
                                        <input type="text" ng-model="addupdateccg.Contractdetails.contractenddate" ng-change="dateValidationContract(addupdateccg.Contractdetails.contractstartdate, addupdateccg.Contractdetails.contractenddate)" name="Name" class="form-control icons-calendar"
                                            referraldatepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.minimunageforref == null)? 'required': ''">
                                    <label>Minimum age for Referral <em>*</em></label>
                                    <input type="number" ng-model="addupdateccg.Contractdetails.minimunageforref" class="form-control" id="usr">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="new-sla table-responsive">
                                    <table class="table color-theme-one pull-left">
                                        <thead>
                                            <tr>
                                                <th>Speciality <em>*</em></th>
                                                <th>
                                                    < 20 <em>*</em>
                                                </th>
                                                <th>> 20 <em>*</em></th>
                                                <th>Fixed Fee <em>*</em></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in addupdateccg.Contractdetails.Contractspeciality track by $index" ng-show="data.active">
                                                <td ng-class="(ccgerrormessage == true && data.Speciality == '')? 'required': ''">
                                                    <select class="form-control" ng-model="data.Speciality">
                                                        <option ng-repeat="spec in specialityCollection" value="{{spec.specialityID}}">{{spec.specialitydesc}}</option>
                                                    </select>
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.lessthanminutes == null && data.fixedfee == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="lessthanminutes" ng-model="data.lessthanminutes">
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.greaterthanminutes == null && data.fixedfee == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="greaterthanminutes" ng-model="data.greaterthanminutes">
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.fixedfee == null && data.lessthanminutes == null && data.greaterthanminutes == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="tariffinfodvt" ng-model="data.fixedfee">
                                                </td>
                                                <td><i ng-show="$last" class="fa fa-plus cursor" aria-hidden="true" data-toggle="tooltip" title="Add More Speciality" ng-click="addSpeciality()"></i>
                                                    <i ng-hide="$last" class="fa fa-trash cursor" aria-hidden="true" data-toggle="tooltip" title="Remove Speciality" ng-click="deleteSpeciality($index, data.contactspecialityid); data.active = false;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <a class="btn btn-filled mr-10" data-dismiss="modal">
                                Cancel
                            </a>
                            <a ng-show="!ccgedit" ng-click="addccg()" class="btn btn-primary mw-100">Create</a>
                            <a ng-show="ccgedit" ng-click="updateccg()" class="btn btn-primary mw-100">Update</a>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
                <div class="current-contract" ng-show="ccgedit">
                    <h3>
                        Current Contract
                        <!-- <span class="edit pull-right color-white">
                            <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
                        </span> -->
                    </h3>
                    <div class="table-responsive" ng-show="currentcontract.length !=0">
                        <table class="table table-striped no-mar color-theme-one">
                            <thead>
                                <tr>
                                    <th>Contract Start Date</th>
                                    <th>Contract End Date</th>
                                    <th>Minimum age for Referral</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{currentcontract.contractstartdate}}</td>
                                    <td>{{currentcontract.contractenddate}}</td>
                                    <td>{{currentcontract.minimunageforref}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" ng-show="currentcontract.length !=0">
                        <table class="table table-striped no-mar color-theme-one">
                            <thead>
                                <tr>
                                    <th>Speciality</th>
                                    <th>
                                        < 20</th>
                                            <th>> 20</th>
                                            <th>Fixed Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="value in currentcontract.Contractspeciality track by $index" ng-show="value.active">
                                    <td>{{value.SpecialityName}}</td>
                                    <td>{{value.lessthanminutes}}</td>
                                    <td>{{value.greaterthanminutes}}</td>
                                    <td>{{value.fixedfee}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div ng-show="currentcontract.length ==0">
                        No Records Found
                    </div>
                </div>
                <div class="current-contract" ng-show="ccgedit">
                    <h3>Expired Contract </h3>
                    <div class="contract-group" ng-repeat="exp in expiredcontract" ng-hide="expiredcontract.length == 0">
                        <div class="table-responsive">
                            <table class="table table-striped no-mar color-theme-one">
                                <thead>
                                    <tr>
                                        <th>Contract Start Date</th>
                                        <th>Contract End Date</th>
                                        <th>Minimum age for Referral</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{exp.contractstartdate | convertdate}}</td>
                                        <td>{{exp.contractenddate | convertdate}}</td>
                                        <td>{{exp.minimunageforref}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped no-mar color-theme-one">
                                <thead>
                                    <tr>
                                        <th>Speciality</th>
                                        <th>
                                            < 20</th>
                                                <th>> 20</th>
                                                <th>Fixed Fee</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="exp in expiredcontract">
                                    <tr ng-repeat="expctr in exp.Contractspeciality">
                                        <td>{{expctr.SpecialityName}}</td>
                                        <td>{{expctr.lessthanminutes}}</td>
                                        <td>{{expctr.greaterthanminutes}}</td>
                                        <td>{{expctr.fixedfee}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="expiredcontract.length ==0">
                        No Records Found
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deleteCCGPopupWindow1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="activeccg" class="referral-suc-msg">Are you sure do you wish to activate this CCG ?</p>
            <p ng-show="activeccg" class="referral-suc-msg">Are you sure do you wish to inactivate this CCG ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button ng-click="ccgpopupDelete()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
    <div class="modal-common new modal fade" id="AddEditPractice" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title">Edit Practice</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="loginform1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.ccgid == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Select CCG <em>*</em></label>
                                    <select name="" id="" class="form-control" ng-model="addupdatepractice.ccgid">
                                        <option value="">Select ccg</option>
                                        <option ng-repeat="ccg in allccg |orderBy : '!active'" value="{{ccg.ccgid}}">{{ccg.ccgname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.practicename == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Practice Name
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="Name" class="form-control" placeholder="Enter Name" ng-model="addupdatepractice.practicename">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.practicecode == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Practice Code <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" placeholder="Enter Code" ng-model="addupdatepractice.practicecode">
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Practice Type</label>
                                    <select name="" id="" class="form-control">
                                        <option value="GP">GP</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="addrnewpractice" ng-class="(particeerrormessage == true && addupdatepractice.postcode == '')? 'required': ''">
                                    <label class="control-label" style="width: 100%;">Postcode <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" style="width:calc(100% - 120px);display: inline-block;" placeholder="Enter Postcode" ng-model="addupdatepractice.postcode">
                                    <button class="btn btn-filled" ng-click="getloockup()" data-target="#addrnewpractice" data-toggle="dropdown">Look Up</button>
                                    <ul class="dropdown-menu addressselect">
                                        <li ng-repeat="address in addressCollection" ng-click="selectpostcode(address)">
                                            {{address}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Address</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Address Line 1" ng-model="addupdatepractice.addressdetl.address1">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 2" ng-model="addupdatepractice.addressdetl.address2">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 3" ng-model="addupdatepractice.addressdetl.address3">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 4" ng-model="addupdatepractice.addressdetl.address4">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Town</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Town" ng-model="addupdatepractice.citytown">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">County</label>
                                    <input type="text" name="Code" class="form-control" placeholder="County" ng-model="addupdatepractice.county">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Country</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Country" ng-model="addupdatepractice.country">
                                    <!-- <select name="" id="" class="form-control" ng-model="addupdatepractice.country">
                                        <option value="United kingdom">United kingdom</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Description</label>
                                    <textarea name="" id="" cols="30" rows="8" ng-model="addupdatepractice.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Fax No</label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Fax No" ng-model="addupdatepractice.faxno">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.phonedetail.telephoneday1 == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Telephone Day 1 <em>*</em></label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Enter Telephone Number" ng-model="addupdatepractice.phonedetail.telephoneday1">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Telephone Day 2</label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Enter Telephone Number" ng-model="addupdatepractice.phonedetail.telephoneday2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.practiceemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Practice Manager Email <em>*</em></label>
                                    <input type="text" name="practicmangeremail" class="form-control" placeholder="Enter Practice Manager Email" ng-model="addupdatepractice.emaildetl.practiceemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="loginform1.practicmangeremail.$touched" class="error">
                                        <span ng-show="loginform1.practicmangeremail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.repadminemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Report Admin Email <em>*</em></label>
                                    <input type="text" name="reportadminemail" class="form-control" placeholder="Enter Report Admin Email" ng-model="addupdatepractice.emaildetl.repadminemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="loginform1.reportadminemail.$touched" class="error">
                                        <span ng-show="loginform1.reportadminemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.appadminemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Appointment Admin Email <em>*</em></label>
                                    <input type="text" name="appointmentadminemail" class="form-control" placeholder="Enter Appointment Admin Email" ng-model="addupdatepractice.emaildetl.appadminemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">

                                    <div ng-show="loginform1.appointmentadminemail.$touched" class="error">
                                        <span ng-show="loginform1.appointmentadminemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mt-20">
                                    <div class="row">
                                        <div class="col-sm-12 mt-10">
                                            <label class="control control--checkbox">
                                                <span>Practice accepts fax messages</span>
                                                <input type="checkbox" ng-model="addupdatepractice.acceptsfaxmsg">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mt-20">
                                    <div class="row">
                                        <div class="col-sm-12 mt-10">
                                            <label class="control control--checkbox">
                                                <span>Auto-post communication, where possible</span>
                                                <input type="checkbox" ng-model="addupdatepractice.autopostcom">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">ODS Code <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" placeholder="ODS Code" required ng-model="addupdatepractice.odscode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Practice Population</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Practice Population" ng-model="addupdatepractice.practicepopulation">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">MESH Identifier</label>
                                    <input type="text" name="Code" class="form-control" placeholder="MESH Identifier" ng-model="addupdatepractice.meshidentifier">
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <button class="btn btn-filled mr-10" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary mw-100" ng-show="!practiceedit" ng-click="addpractice()">Create</button>
                            <button class="btn btn-primary mw-100" ng-show="practiceedit" ng-click="updatepractice()">Update</button>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deletePracticePopupWindow" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="activepartice" class="referral-suc-msg">Are you sure do you wish to activate this Practices ?</p>
            <p ng-show="activepartice" class="referral-suc-msg">Are you sure do you wish to inactivate this Practices ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button class="btn btn-primary" ng-click="getparticepopupInactive()">Yes</button>
            </div>
        </div>
    </div>
</div>