<link rel="icon" href="../../favicon.ico" />
<link rel="stylesheet" href="css/bowercss/ui-bootstrap-0.14.3-csp.css" />
<link href="../app/css/hcue.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/layout.css" />
<link href="../app/css/login.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<div class="wrapper webapp-login">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="logo-hCue pull-left top-bar-logo cursor" ng-click="gotologin()">
          <img src="images/c7-logo.jpg" alt="" />
          <h1>C7</h1>
          <h2>Health AMP</h2>
        </div>
        <div class="col-md-5 pull-right text-right">
          <div class="support-no" ng-hide="urlpath">
            <span>For Support</span>
            <h4>
              <span class="glyphicon glyphicon-phone"></span> &nbsp; 0845 490
              3176
            </h4>
          </div>
          <div class="support-no" ng-show="urlpath">
            <span>For Support</span>
            <h4><span class=""></span> &nbsp; justdentalindia@gmail.com</h4>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container forgotpassword-section" ng-show="!success">
    <h2>Reset your password</h2>
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <form name="forgotpasswordform" class="forgotpassword" novalidate>
          <div class="form-group bottom-10">
            <label> Email id <em>*</em></label>
            <input type="email" name="email" ng-model="email" placeholder="Enter your Email id"
              ng-pattern="email_pattern" class="form-control" required />
            <span class="fm-error-text" ng-show="forgotpasswordform.email.$error.pattern">
              Please enter a valid Email id</span>
          </div>
          <div class="form-group">
            <label>Password <em>*</em></label>
            <!-- <div class="{{ (password.$touched && password.$invalid) ? 'fm-box fm-error' : 'fm-box' }}"> -->
            <input type="password" class="form-control" name="password" placeholder="Enter password" ng-model="password"
              ng-pattern="password_pattern" ng-maxlength="20" id="password" />
            <span ng-show="forgotpasswordform.password.$error.pattern" class="fm-error-text">Password Must
              contains Uppercase, Lowercase, Special character
              and Numbers, Should not contain white spaces</span>
            <!-- </div> -->
          </div>
          <div class="form-group">
            <label>Confirm Password <em>*</em></label>
            <!-- <div class="{{(forgotpasswordform.confirmpassword.$touched && forgotpasswordform.confirmpassword.$invalid) ? 'fm-box fm-error' : 'fm-box' }}"> -->
            <input type="password" class="form-control" name="confirmPassword" placeholder="Re-enter password"
              ng-model="confirmpassword" pw-check="password" required id="confirmPassword" />
            <!-- </div> -->
            <span ng-show="forgotpasswordform.password.$error.invalidmatch" class="fm-error-text">Passwords doesnot
              match</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary sendpassword-button" type="submit" ng-click="updatepassword()"
              ng-disabled="!forgotpasswordform.$valid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Step 5 -->
  <div class="container forgotpassword-section" ng-show="success">
    <h2>Congratulations! You have successfully changed your password.</h2>

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <form name="" class="forgotpassword">
          <div class="form-group">
            <button class="btn btn-primary sendpassword-button" type="submit" ng-click="gotologin()">
              Continue to C7 Health AMP
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End of step 5 -->
  <!-- <footer>
        <div class="container footer-section clearfix">
            <ul class="footer-copyrights"  ng-hide="urlpath">
                <li><a href="#">&copy; ALL RIGHTS RESERVED hCue.in</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
            <div class="social-share"  ng-hide="urlpath">
            <span class="helplinetxt">For help <b class="helplinenum">+91 9543279999</b></span>
                <a href="#"><img src="img/social-icon-1.png" alt=""></a>
                <a href="#"><img src="img/social-icon-2.png" alt=""></a>
            </div>
            <div class="social-share" ng-show="urlpath">
                <a href="https://www.facebook.com/JustDental.in/" target="_blank"><img src="img/social-icon-1.png" alt=""></a>
                <a href="https://www.linkedin.com/company-beta/13272649/" target="_blank"><img src="img/social-icon-2.png" alt=""></a>
            </div>
        </div>
    </footer> -->
</div>