<link rel="stylesheet" type="text/css" href="css/hcue_profile.css">
<style>
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		text-align:left !important;
	}

    .cropArea {
    position: absolute;
    top: 0;
    /*background: #E4E4E4;*/
    overflow: hidden;
    width: 320px;
    /**500px**/
    height: 240px;
    /**350**/
}

img-crop.fixed-height canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

img-crop canvas {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

img-crop.fixed-height {
    height: 100%;
    position: relative;
    overflow: hidden;
}

img-crop {
    width: 100%;
    display: block;
}

.loading {
    display: none;
}
</style>



<div class="doctor_profile_header" ng-show="showPage">
<div>
	<!--Doctors profile-->
	<section class="doctor_profile_container">
		<div class="max_width">
			<div class="doctor_profile_wrapper">
                <div class="edit_icon">
                    <img src="./img/edit_white_icon.png" data-tooltip="Edit" tooltip-placement="right"/>
                </div>
                
				<div class="modal-overlay" ng-show="showimage" ></div>
				<div class="modal-common" ng-show="showimage">
					<div class="modal-common-dialog" style="position: fixed;top: 65px;left: 0;right: 0;bottom: 0;margin: 0 auto;width: 75%;height: 80%;z-index:90;">
						<a ng-click="closeimage()" class="fa search-patient-clearfield"></a>
						<head>
							<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
							<title>image viewer</title>
							<link href="../app/css/imageviewer.css" rel="stylesheet" type="text/css" />
							<!--<script src="js/lib/jquery-1.11.3.min.js"></script>-->
							<script src="js/imageviewer.js"></script>

							<style>
								#image-gallery {
								   width: 100%;
										position: relative;
										height: 500px;
										background:#000;
								}

									#image-gallery .image-container {
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 50px;
									}

									#image-gallery .prev,
									#image-gallery .next {
										position: absolute;
										height: 32px;
										margin-top: -66px;
										top: 50%;
									}

									#image-gallery .prev {
										left: 20px;
										 cursor: pointer;
									}

									#image-gallery .next {
										right: 20px;
										cursor: pointer;
									}

									#image-gallery .footer-info {
										position: absolute;
										height: 50px;
										width: 100%;
										left: 0;
										bottom: 0;
										line-height: 50px;
										font-size: 24px;
										text-align: center;
										color: white;
										border-top: 1px solid #FFF;
									}
							</style>
						</head>

						<body>
							<div id="image-gallery">
								<div class="image-container"></div>
								<!-- <img src="images/imgviewer/left.svg" class="prev" /> -->
								<!-- <img src="images/imgviewer/right.svg" class="next" /> -->
								<div class="footer-info">
									<span class="current"></span>/<span class="total"></span>
								</div>
							</div>


						</body>
					</div>
				</div>
                <div class="general_info col-md-6 col-sm-6 col-lg-6">
                    <div class="pic">
                        <img ng-click="clinicDoctorpopup(doctorinfo.profileimage)" class="img-circle" ng-if="doctorinfo.profileimage.length > 2" data-ng-src="data:image/png;base64,{{doctorinfo.profileimage}}">
                        <img  ng-if="doctorinfo.profileimage == null || doctorinfo.profileimage.length == 0" ng-src="img/register-defaultuser-ico.png"  alt="Doctor Name">
                        <div class="set-apt-gear set-apt-gear-profile pull-right">
                            <a href="javascript:;" class="" ng-click="settingList()" click-off="showSettingList=false;">
                                <img src="./img/edit_icon.png" data-tooltip="Edit" class="edit_icon_hover">
                            </a>
                            <ul aria-labelledby="settingsMenu" class="dropdown-menu settingsMenuProfile" style="display: block;" ng-show="showSettingList">
                                <li>
                                    <a ng-click="profileupload()" ng-show="profilepopupshow">Edit profile image</a>
                                    <a ng-click="profileupload()" ng-hide="profilepopupshow">Add profile image</a>
                                </li>
                                <li ng-show="profilepopupshow">
                                    <a ng-click="deleteProfile()">Remove profile image</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <label>Dr. {{doctorinfo.doctor[0].FullName}}</label>
                        <div class="dr-qualification"><span ng-repeat="qualification in  logininfo.doctorEducation"> {{qualification.EducationName}}<span ng-if="logininfo.doctorEducation.length > 1" ng-hide="$last">,</span> </span></div>
                        <label class="speciality_set"> <span ng-repeat="speciality in logininfo.specialization  | orderBy:'SerialNumber'"> {{GetSpecialityById(speciality.SepcialityCode)}}<span ng-if="logininfo.specialization.length > 1" ng-hide="$last">,</span> </span> </label>
                    </div>
                </div>
                <div class="experiece_container col-md-6 col-sm-6 col-lg-6">
                    <form method="POST" name="loginform" novalidate>
                        <div class="experience_info">
                            <div class="years">
                            	<p>Experience</p>
                                <span ng-show="exp_view_con">{{logininfo.Experience}}</span>
                                <input type="text" required ng-model="logininfo.Experience" ng-show="exp_edit_view" numbers-Only="numbers-Only" maxlength="3"><span class="years_lab" ng-if="logininfo.Experience != 0">Year(s)</span>
                            </div>
                            <div class="clearfix"></div>
                            <span class="error-msg" ng-show="experience_valid">*Required</span>
                        </div>
                        <div class="registration_info">
                        	<p>Medical Registration No</p>
                             <span ng-show="medical_view_con" class="reg_alignment">{{logininfo.MedicalRegNumber}}</span>
                            <input type="text" class="regis_id" ng-model="logininfo.MedicalRegNumber" ng-show="medical_edit_view" maxlength="15" />
                        </div>
                         <div class="user_actions wd_100" ng-show="exp_edit_view">
                            <button class="btn btn-grey" ng-click="profile_top_cancel()">Cancel</button>
                            <button class="btn btn-primary" ng-click="Update(loginform,logininfo,1)">Update</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
			<div class="clearfix"></div>
		</div>
	</section>
	<!--End Doctors profile-->
	<div class="tab_container" ng-controller="hCueConsultInfoController"> <!--tab_conatiner-->
		<!--Tab header-->
		<div class="tab">
			<div class="max_width">
				<div class="center_block">
					<!-- <a href="javacript:;" class="pro-go-back" ng-click="goToprofile()">Back to Profile</a> -->
					<p class="top_content pull-right">
						<span ng-if="addressidparams == 0">Add</span>
						<span ng-if="addressidparams > 0">Edit</span> clinic details
					</p>
					<button class="add_clinics btn btn-primary pull-right" ng-click="goToprofile()">Back to Profile</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>       
		<!--End Tab header-->
		<!--Tab content-->

		<div class="tab_content tab-content">
			<!--My practice-->
			<div id="practice" class="my_practice_tab tab-pane fade in active">
				<form method="POST" name="loginform" novalidate>
					<div class="max_width">
						<div class="my_practice_container my_practice_container_edit">
							
                            <div class="clinic_container">
                                <div class="indiv_clinics col-md-6 col-xs-12 col-sm-6 col-lg-6 padding_left">
                                    <div class="clinic_wrapper" style="padding-bottom: 80px;">
                                        <div class="heading">
                                            <h1>Your Clinic / Hospital Details</h1>
                                        </div>
                                        <div class="mid_line"></div>
                                        <div class="edit_icon indiv_heading" ng-click="edit()" ng-show="view_hospitalDetails">
                                            <img src="./img/edit_icon.png" data-tooltip="Edit" class="edit_icon_hover" />
                                        </div>
                                        <div class="add_education wd_100" ng-show="view_hospitalDetails" style="padding: 20px;">
                                            <!-- <div class="mid_line"></div> -->
                                            <div class="indiv_form wd_100">
                                                <label>Clinic / Hospital</label>
                                                <p><i class="hospital-icon"></i>{{logininfo.ClinicName}}</p>
                                            </div>
                                            <div class="indiv_form wd_100">
                                                <label>Clinic / Hospital location</label>
                                                <p>
                                                    <i class="location-icon"></i>
                                                    <span class="ep-address"><span ng-if="logininfo.Address1 != ''">{{logininfo.Address1}} , </span>{{logininfo.Address}}</span>
                                                </p>
                                            </div>
                                            <!-- Location -->
                                            <div class="indiv_form wd_100">
                                                <p>
                                                    <i class="location-icon visible-hidden"></i><span ng-repeat="locationdata in locationsetValues">
                                                        <span ng-if="locationdata.item.LocationID == logininfo.Location">{{locationdata.item.LocationIDDesc}}</span>
                                                    </span> , <span ng-repeat="datacity in cityDatavalue"><span ng-if="datacity.CityID == logininfo.CityTown">{{datacity.CityIDDesc}}</span></span>
                                                </p>
                                            </div>
                                            <!-- City -->
                                            <div class="indiv_form wd_100 hide">
                                                <p><i class="location-icon visible-hidden"></i></p>
                                            </div>
                                            <!-- State -->
                                            <div class="indiv_form wd_100">
                                                <p><i class="location-icon visible-hidden"></i><span ng-repeat="dataState in stateDatavalue"><span ng-if="dataState.StateID == logininfo.State" class="read_locationview">{{dataState.StateDesc}}</span></span> , <span ng-repeat="dataCountry in countryValues"><span ng-if="dataCountry.CountryID == logininfo.Country">{{dataCountry.CountryDesc}}</span></span></p>
                                            </div>
                                            <!-- Country -->
                                            <div class="indiv_form wd_100 hide">
                                                <p><i class="location-icon"></i></p>
                                            </div>
                                            <!-- Contact Number -->
                                            <div class="indiv_form wd_100">
                                                <label>Clinic Contact Number(s)</label>
                                                <div ng-repeat="item in logininfo.AddressCommunication">
                                                    <p ng-if="item.PhType == 'L'"><i class="mobile-icon"></i>{{item.PhAreaCD}} - {{item.PhNumber}}</p>
                                                    <p ng-if="item.PhType == 'M'"><i class="mobile-icon"></i>{{countryCodeSetValue}} - {{item.PhNumber}}</p>
                                                </div>
                                            </div>
                                            <!-- <div class="indiv_form wd_100">
                        <label>Currency</label>
                        <p><i class="fee-icon"></i>{{logininfo.CurrencyCode}}</p>
                    </div> -->
                                            <div class="indiv_form wd_100">
                                                <label>Consulting Fee</label>
                                                <p><i class="fee-icon hide"></i>{{logininfo.Fees}} <span ng-show="logininfo.CurrencyCode != undefined || logininfo.CurrencyCode == ''">({{logininfo.CurrencyCode}})</span></p>
                                            </div>
                                            <div class="indiv_form wd_100">
                                                <label>Average Consulting Time</label>
                                                <p><i class="clock-icon"></i>{{logininfo.MinPerCase}}</p>
                                            </div>
                                            <div class="indiv_form wd_100">
                                                <label>Clinic Status</label>
                                                <p>{{logininfo.Active == "Y"?'Active':'Inactive'}}</p>
                                            </div>
                                        </div>
                                        <div class="add_education wd_100" ng-show="edit_hospitalDetails">
                                            <!-- <div class="mid_line"></div> -->
                                            <div class="indiv_form wd_100">
                                                <label>What is the name of your Clinic / Hospital ?<span class="asterick">*</span></label>
                                                <img src="img/hospital.png" alt="Hospital Icon" class="hospital_position_icon">
                                                <input type="text" placeholder="Enter your Hospital / Clinic name" ng-model="logininfo.ClinicName" ng-disabled="{{disable_name}}" name="ClinicName" required>
                                                <div class="error-top" ng-show="loginform.$submitted || loginform.ClinicName.$touched">
                                                    <span class="error-msg" ng-show="loginform.ClinicName.$error.required">Please enter the hospital or clinic name </span>
                                                </div>
                                            </div>
                                            <!-- Address -->
                                            <div class="indiv_form wd_100">
                                                <label>What is your Building Name & Number</label>
                                                <input placeholder="Building name" ng-model="logininfo.Address1" name="Address1" maxlength="200">
                                            </div>
                                            <!-- End of address -->
                                            <!-- Address -->
                                            <div class="indiv_form wd_100">
                                                <label>Where is your Clinic / Hospital located ?<span class="asterick">*</span></label>
                                                <input places-auto-complete size=80 ng-model="logininfo.Address" on-place-changed="placeChanged()" name="Autocomplete" required maxlength="200" />
                                                <div class="error-top" ng-show="loginform.$submitted || loginform.Autocomplete.$touched">
                                                    <span class="error-msg" ng-show="loginform.Autocomplete.$error.required">Please enter the clinic or hospital address </span>
                                                </div>
                                            </div>
                                            <!-- End of address -->

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- Country -->
                                                    <div class="indiv_form wd_100">
                                                        <select class="form select-dropdown" name="Country" required ng-model="logininfo.Country" ng-change="changecountry()">
                                                            <option value="">Select the Country</option>
                                                            <option ng-repeat="dataCountry in countryValues | filter:{'ActiveIND':'Y'}" value="{{dataCountry.CountryID}}" ng-selected="{{logininfo.Country == dataCountry.CountryID}}">{{dataCountry.CountryDesc}}</option>
                                                        </select>
                                                        <div class="error-top" ng-show="loginform.$submitted || loginform.Country.$touched">
                                                            <span class="error-msg" ng-show="loginform.Country.$error.required">Please select the country </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of country -->
                                                <div class="col-md-6">
                                                    <!-- State -->
                                                    <div class="indiv_form wd_100">
                                                        <select class="form select-dropdown" name="State" required ng-model="logininfo.State" ng-change="changeState()">
                                                            <option value="">Select the State</option>
                                                            <option ng-repeat="dataState in stateDatavalue | filter:{'ActiveIND':'Y'}" value="{{dataState.StateID}}" ng-selected="{{logininfo.State == dataState.StateID}}">{{dataState.StateDesc}}</option>
                                                        </select>
                                                        <div class="error-top" ng-show="loginform.$submitted || loginform.State.$touched">
                                                            <span class="error-msg" ng-show="loginform.State.$error.required">Please select the state </span>
                                                        </div>
                                                    </div>
                                                    <!-- End of state -->
                                                </div>
                                            </div>
                                            <!-- City -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="indiv_form wd_100">
                                                        <select class="form select-dropdown" name="CityTown" required ng-model="logininfo.CityTown" ng-change="changecitytown()">
                                                            <option value="">Select the City</option>
                                                            <option ng-repeat="datacity in cityDatavalue | filter:{'ActiveIND':'Y'}" value="{{datacity.CityID}}" ng-selected="{{logininfo.CityTown == datacity.CityID}}">{{datacity.CityIDDesc}}</option>
                                                        </select>
                                                        <div class="error-top" ng-show="loginform.$submitted || loginform.CityTown.$touched">
                                                            <span class="error-msg" ng-show="loginform.CityTown.$error.required">Please select the city </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of city -->
                                                <!-- Location -->
                                                <div class="col-md-6">
                                                    <div class="indiv_form wd_100">
                                                        <!-- <img src="img/map_pin.png" alt="Hospital Icon" class="hospital_location_icon"> -->
                                                        <select class="form select-dropdown" name="Location" required ng-model="logininfo.Location">
                                                            <option value="">Select the Location</option>
                                                            <option ng-repeat="datalocation in locationsetValues" value="{{datalocation.item.LocationID}}" ng-selected="{{logininfo.Location == datalocation.item.LocationID}}">{{datalocation.item.LocationIDDesc}}</option>
                                                        </select>
                                                        <div class="error-top" ng-show="loginform.$submitted || loginform.Location.$touched">
                                                            <span class="error-msg" ng-show="loginform.Location.$error.required">Please select the Location </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of location -->
                                            <div class="indiv_form wd_100 mar-b-10">
                                                <label>What is your Clinic Contact Number?<span class="asterick">*</span></label>
                                                <div ng-repeat="item in logininfo.AddressCommunication" class="row  relative">
                                                    <div class="col-md-4">
                                                        <select class="form select-dropdown" name="PhType" required ng-model="item.PhType" id="phone{{$index}}">
                                                            <option value="M">Mobile</option>
                                                            <option value="L">Landline</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-8 no-pad" ng-if="item.PhType == 'M'">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <input type="text" name="PhCntryCD_{{$index}}" required maxlength="4" min="1" placeholder="Code" class="ea form-control pad-lr-5 " ng-model="countryCodeSetValue" ng-disabled="true">
                                                            </div>
                                                            <div class=" col-md-6 no-pad">
                                                                <input type="text" name="PhNumber_{{$index}}" required maxlength="10" ng-minlength="10" placeholder="Mobile No" class="ea form-control phone-no" ng-model="item.PhNumber" numbers-only="numbers-only">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 no-pad" ng-if="item.PhType == 'L'">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <input type="text" name="PhCntryCD_{{$index}}" required maxlength="5" min="2" placeholder="Code" class="ea form-control  pad-lr-5" ng-model="countryCodeSetValue" ng-disabled="true">
                                                            </div>
                                                            <div class="col-md-2 no-pad">
                                                                <input type="text" name="PhAreaCD_{{$index}}" required maxlength="5" min="5" placeholder="" class="ea form-control pad-lr-5 " numbers-only="numbers-only" ng-model="item.PhAreaCD">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" name="PhNumber_{{$index}}" required ng-maxlength="8" ng-minlength="6" placeholder="Landline No" class="ea form-control phone-no" ng-model="item.PhNumber" numbers-only="numbers-only">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edit-more-action">
                                                        <a href="javascript:;" ng-click="AddPhoneNumber()" class="addmore-btn" ng-if="$last" data-tooltip="Add more">Add More</a>
                                                        <a href="javascript:;" ng-click="RemovePhoneNumber(item)" class="removeMoreContact" ng-hide="{{$index == 0}}" data-tooltip="Remove">
                                                            Remove
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="error-top" ng-show="loginform.$submitted" style="margin-left:15px;">
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhNumber_{{$index}}.$error.required">Please enter the phone number. </span>
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhAreaCD_{{$index}}.$error.required">Please enter the STD code </span>
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhNumber_{{$index}}.$error.minlength" ng-if="item.PhType == 'L'">Please enter valid telephone number (6 minimum) </span>
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhNumber_{{$index}}.$error.minlength" ng-if="item.PhType == 'M'">Please enter valid mobile number </span>
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhNumber_{{$index}}.$error.maxlength" ng-if="item.PhType == 'L'">Please enter valid telephone number (6 minimum) </span>
                                                        <span class="error-msg time-error-msg" ng-show="loginform.PhNumber_{{$index}}.$error.maxlength" ng-if="item.PhType == 'M'">Please enter valid mobile number </span>
                                                    </div>

                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="indiv_form wd_100">
                                                        <label>Select your currency</label>
                                                        <div class="">
                                                            <select class="form select-dropdown" ng-model="logininfo.CurrencyCode" name="currencyCode" required>
                                                                <option value="">Select Currency</option>
                                                                <option ng-repeat="currency in CurrencyType | filter:{ActiveIND:'Y'}" value="{{currency.CurrencyCode}}">{{currency.CurrencyDesc}}</option>
                                                            </select>
                                                            <div class="error-top" ng-show="loginform.$submitted || loginform.currencyCode.$touched">
                                                                <span class="error-msg" ng-show="loginform.currencyCode.$error.required">Please select the Currency </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="indiv_form wd_100">
                                                        <label>
                                                            What is your Consulting Fee?&nbsp;
                                                            <span class="asterick"></span>
                                                        </label>
                                                        <div class="pull-left consulting-fee-wrapper">
                                                            <!-- <i class="fee-icon"></i> -->
                                                            <input type="tel" name="Fees" maxlength="5" min="2" ng-model="logininfo.Fees" placeholder="0" class="from ea form-control" numbers-only="numbers-only">
                                                        </div>
                                                        <!--
                                <div class="error-top" ng-show="loginform.$submitted || loginform.Fees.$touched">
                                    <span class="error-msg" ng-show="loginform.Fees.$error.required || loginform.Fees.$error.number || loginform.Fees.$error.min">Please enter the fee (Minimum 0) </span>
                                    <span class="error-msg" ng-show="loginform.Fees.$error.maxlength">Please enter valid consultation fee (max 5 digits) </span>
                                </div>
                                -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="indiv_form wd_100">
                                                        <label>What is your Average Consulting Time ?</label>
                                                        <span class="consulting-time-wrapper">
                                                            <i class="clock-icon"></i>
                                                            <select class="from st select-dropdown" name="MinPerCase" required maxlength="5" ng-model="logininfo.MinPerCase" ng-change="changemintues()">
                                                                <option value="5">05</option>
                                                                <option value="10">10</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                                <option value="30">30</option>
                                                                <option value="60">60</option>
                                                            </select>
                                                        </span>
                                                        <span class="p-edit-m">Minutes</span>
                                                        <!-- <span class="inact-chbox fright">
                                    <input id="inactclinic" class="checkbox checkbox-cust" name="inactclinic" type="checkbox" ng-model="logininfo.Active" ng-true-value="'N'" ng-false-value="'Y'"  ng-disabled="{{blnInactiveDisable}}">
                                    <span class="lbl"></span>
                                    <label for="inactclinic" class="p-edit-ic checkbox-custom-label">Inactive Clinic</label>
                                </span> -->
                                                        <div class="error-top" ng-show="loginform.$submitted || loginform.MinPerCase.$touched">
                                                            <span class="error-msg" ng-show="loginform.MinPerCase.$error.required || loginform.MinPerCase.$error.number || loginform.MinPerCase.$error.min">Please enter the consultation time > 0 </span>
                                                            <span class="error-msg" ng-show="loginform.MinPerCase.$error.maxlength">Please enter the consultation time</span>
                                                        </div>
                                                    </div>
                                                    <!--<div class="indiv_form wd_100">
                                <div class="inact-chbox">
                                    <input id="inactclinic" class="checkbox-custom" name="inactclinic" type="checkbox" ng-model="logininfo.Active" ng-true-value="'N'" ng-false-value="'Y'"  ng-disabled="{{blnInactiveDisable}}">
                                    <label for="inactclinic" class="p-edit-ic checkbox-custom-label">Inactive Clinic</label>
                                </div>
                            </div>-->
                                                </div>
                                            </div>
                                            <!-- Graph -->
                                            <div class="row hide">
                                                <div class="col-md-6 wd_100">
                                                    <span class="pull-right" ng-click="showMapBlock=true">Show graph</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- End of graph -->
                                            <div class="row hide">
                                                <div class="col-md-6">
                                                    <span class="inact-chbox">
                                                        <input id="inactclinic" class="checkbox checkbox-cust" name="inactclinic" type="checkbox" ng-model="logininfo.Active" ng-true-value="'N'" ng-false-value="'Y'" ng-disabled="{{blnInactiveDisable}}">
                                                        <span class="lbl"></span>
                                                        <label for="inactclinic" class="p-edit-ic checkbox-custom-label">Inactive Clinic</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="showMapBlock" ng-show="showMapBlock">
                                                <a href="javascript:;" ng-click="closeMapmodal()" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon" data-tooltip="Close"></a>

                                                <h3 class="map_infotext">Mark your Hospital / Clinic location</h3>
                                                <p>Mark the exact location of your Hospital / Clinic by clicking on the map. Zoom into the map to get the precise location.</p>
                                                <input class="form-control map-input" ng-model="address_custom" placeholder="Search your clinic location">
                                                <div class="pull-right map_reload_text" ng-click="mapReloadcontainer();">Refresh</div>
                                                <div class="error-top error_location_mapping" ng-show="error_location_mapping">Please mark your location in map</div>
                                                <ng-map center="{{address_custom}}" zoom="15" on-click="getpos($event)" id="mapID" default-style="true" lazy-init="true" style="height: 340px;border:1px solid #ccc;margin-bottom:10px;">
                                                    <!-- <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)"
                              animation="Animation.BOUNCE" animation="DROP" draggable="true"><img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/USA-icon.png" /></marker> -->
                                                    <custom-marker position="{{latlng}}" title="hCue" centered="true" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true">
                                                        <img src="images/map-logo.png" style="width: 30px;height: 40px;" />

                                                    </custom-marker>
                                                </ng-map>
                                                <button class="btn btn-primary wd_100 map_updatepopup_btn" ng-click="mapUpdate(loginform,logininfo,5,true)">Update</button>
                                            </div>
                                            <div class="user_actions wd_100">
                                                <button class="btn btn-grey" ng-click="close_edit()" ng-if="addressidparams != 0">Cancel</button>
                                                <button class="btn btn-primary" ng-click="Update(loginform,logininfo,5,true)" ng-if="addressidparams == 0">Add</button>
                                                <button class="btn btn-primary" ng-click="Update(loginform,logininfo,5,true)" ng-if="addressidparams != 0">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
								<div class="modal-overlay" ng-show="showimages" ></div>
								<div class="modal-common" ng-show="showimages">
									<div class="modal-common-dialog" style="position: fixed;top: 65px;left: 0;right: 0;bottom: 0;margin: 0 auto;width: 75%;height: 80%;z-index:90;">
										<a ng-click="closeimages()" class="fa search-patient-clearfield"></a>
										<head>
											<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
											<title>image viewer</title>
											<link href="../app/css/imageviewer.css" rel="stylesheet" type="text/css" />
											<!--<script src="js/lib/jquery-1.11.3.min.js"></script>-->
											<script src="js/imageviewer.js"></script>

											<style>
												#image-gallerys {
												   width: 100%;
														position: relative;
														height: 500px;
														background:#000;
												}

													#image-gallerys .image-containers {
														position: absolute;
														top: 0;
														left: 0;
														right: 0;
														bottom: 50px;
													}

													#image-gallerys .prevs,
													#image-gallerys .nexts {
														position: absolute;
														height: 32px;
														margin-top: -66px;
														top: 50%;
													}

													#image-gallerys .prevs {
														left: 20px;
														 cursor: pointer;
													}

													#image-gallerys .nexts {
														right: 20px;
														cursor: pointer;
													}

													#image-gallerys .footer-info {
														position: absolute;
														height: 50px;
														width: 100%;
														left: 0;
														bottom: 0;
														line-height: 50px;
														font-size: 24px;
														text-align: center;
														color: white;
														border-top: 1px solid #FFF;
													}
											</style>
										</head>

										<body>
											<div id="image-gallerys">
												<div class="image-containers"></div>
												<!-- <img src="images/imgviewer/left.svg" class="prevs" /> -->
												<!-- <img src="images/imgviewer/right.svg" class="nexts" /> -->
												<div class="footer-info">
													<span class="currents"></span>/<span class="totals"></span>
												</div>
											</div>


										</body>
									</div>
								</div>
								<div class="modal-overlay" ng-show="showimagess" ></div>
								<div class="modal-common" ng-show="showimagess">
									<div class="modal-common-dialog" style="position: fixed;top: 65px;left: 0;right: 0;bottom: 0;margin: 0 auto;width: 75%;height: 80%;z-index:90;">
										<a ng-click="closeimagess()" class="fa search-patient-clearfield"></a>
										<head>
											<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
											<title>image viewer</title>
											<link href="../app/css/imageviewer.css" rel="stylesheet" type="text/css" />
											<!--<script src="js/lib/jquery-1.11.3.min.js"></script>-->
											<script src="js/imageviewer.js"></script>

											<style>
												#image-galleryss {
												   width: 100%;
														position: relative;
														height: 500px;
														background:#000;
												}

													#image-galleryss .image-containerss {
														position: absolute;
														top: 0;
														left: 0;
														right: 0;
														bottom: 50px;
													}

													#image-galleryss .prevss,
													#image-galleryss .nextss {
														position: absolute;
														height: 32px;
														margin-top: -66px;
														top: 50%;
													}

													#image-galleryss .prevss {
														left: 20px;
														 cursor: pointer;
													}

													#image-galleryss .nextss {
														right: 20px;
														cursor: pointer;
													}

													#image-galleryss .footer-info {
														position: absolute;
														height: 50px;
														width: 100%;
														left: 0;
														bottom: 0;
														line-height: 50px;
														font-size: 24px;
														text-align: center;
														color: white;
														border-top: 1px solid #FFF;
													}
											</style>
										</head>

										<body>
											<div id="image-galleryss">
												<div class="image-containerss"></div>
												<img src="images/imgviewer/left.svg" class="prevss" />
												<img src="images/imgviewer/right.svg" class="nextss" />
												<div class="footer-info">
													<span class="currentss"></span>/<span class="totalss"></span>
												</div>
											</div>


										</body>
									</div>
								</div>
                                <div class="indiv_clinics col-md-6 col-xs-12 col-sm-6 col-lg-3 padding_right" id="addupdatetime">
                                    <div class="clinic_wrapper" style="min-height: 267px;">
                                        <div class="heading">
                                            <h1>Upload Logo</h1>
                                        </div>
                                        <div class="mid_line"></div>
                                        <div class="">
                                            <div>
                                                <div ng-repeat="data in doctorinfo.doctordata.doctorAddress | filter:{AddressID:addressidparams}" ng-show="addressidparams != 0" >
                                                    <div ng-repeat="img in data.ExtDetails.HospitalInfo.HospitalDocuments  | filter:{FileName:'Logo'} as logoCount"style="display:inline-block;border-radius: 4px;margin-right: 5px;position: relative; margin-top: 20px;left: 25px;">
                                                            <img src="img/close.png" style="position: absolute;cursor:pointer;right: 0;" ng-click="deleteClinicLogoImage(img)">
                                                        <img style="width: 130px; border-radius: 10px; height: 100px;cursor:pointer;" ng-click="openClinicImage(img.FileURL)"  src="{{img.FileURL}}| split:'.png':0" alt="Clinic Image">

                                                    </div>
                                                    <div class="image-upload-container browse-btn-label text-center" style="border-style: hidden;" data-tooltip="Upload only .png, .jpg, .jpeg files & Max individual file size : 5 mb">
                                                        <div class="upload-profile-icon">
                                                            <img ng-hide="logoCount != undefined &&  logoCount.length != 0 " src="images/up_logo.png" style="margin-top: 20px;"><br />
                                                            <span ng-hide="logoCount != undefined &&  logoCount.length != 0 ">Upload Logo</span>
                                                            <span ng-show="logoCount != undefined &&  logoCount.length != 0 ">Change Logo</span>

                                                        </div>
                                                        <input type='file' title="No file chosen" ngf-select="OpenUploadLogoImage($files,'Y')" ngf-pattern="'image/*'" ngf-accept="'image/*'" data-max-size="5MB" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="indiv_clinics col-md-6 col-xs-12 col-sm-6 col-lg-3 padding_right" id="addupdatetime">
                                    <div class="clinic_wrapper" style="min-height: 267px;">
                                            <div class="heading">
                                                <h1>Upload clinic photos</h1>
                                            </div>
                                            <div class="mid_line"></div>
                                            <div ng-repeat="data in doctorinfo.doctordata.doctorAddress | filter:{AddressID:addressidparams}" ng-show="addressidparams != 0">
                                                <div ng-repeat="img in data.ExtDetails.HospitalInfo.HospitalDocuments |orderBy: '-DocumentNumber' | filter:{FileName:'!Logo'} as imageLength"  style="display:inline-block;border-radius: 4px; margin-right: 7px; margin-top: 10px;position: relative;">
                                                    <div>
                                                        <div ng-show="$index < 5">
                                                                <img style="position: absolute;cursor:pointer;right: 0;" src="img/close.png" ng-click="deleteClinicLogoImage(img)">
                                                            <img style="width: 50px; border-radius: 10px; height: 50px;cursor:pointer;"  src="{{img.FileURL}}| split:'.png':0" alt="Clinic Image" ng-click="openClinicImages($index,imageLength)">
                                                        </div>
                                                    </div>
                                                    <div ng-show="$index == 5">
                                                        <a  href="javascript:;" ng-click="openClinicImages(0,imageLength)">View all</a>
                                                    </div>
                                                </div>
                                                <div class="image-upload-container browse-btn-label text-center" style="border-style: hidden;" data-tooltip="Upload only .png, .jpg, .jpeg, files & Max individual file size : 5 mb">
                                                    <img ng-hide="imageLength != undefined &&  imageLength.length != 0 " src="images/up_photos.png" style="margin-top: 20px;"> <br />
                                                    <span>Upload Clinic Photos</span>
                                                    <input type='file' title="No file chosen" ngf-select="OpenUploadLogoImage($files,'N')" ngf-pattern="'image/*'" ngf-accept="'image/*'" data-max-size="5MB" />
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="indiv_clinics col-md-6 col-xs-12 col-sm-6 col-lg-6 padding_right">
                                    <div class="add_timeslot_wrapper" style=" margin-top: -6px;">
                                        <div class="heading">
                                            <h1><span ng-show="!update_btn_status">Add Time Slot</span><span ng-show="update_btn_status">Update Time Slot</span></h1>
                                        </div>
                                        <div class="mid_line"></div>
                                        <div class="error-msg" ng-if="validStartTimeEndTime">Please select valid start time and end time</div>
                                        <div class="p-edit-timeslot wd_100">
                                            <div class="indiv_form p-edit-enter-time">
                                                <div class="col-md-3 col-sm-3 col-lg-3">

                                                    <div class="clearfix"></div>
                                                    <label>Start Time</label>
                                                    <select class="form-control select-dropdown" ng-model="startTimeHH">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3">
                                                    <label class="timing_mm_label"></label>
                                                    <select class="form-control timing_mm_select select-dropdown" ng-model="startTimeMM"><option ng-selected="{{startTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option></select>
                                                    <span class="hrs_text"></span>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3">
                                                    <label>End Time</label>
                                                    <select class="form-control select-dropdown" ng-model="endTimeHH">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3">
                                                    <label class="timing_mm_label"></label>
                                                    <select class="form-control timing_mm_select select-dropdown" ng-model="endTimeMM"><option ng-selected="{{endTimeMM == data.mins}}" ng-repeat="data in consultationminituesvalue" value="{{data.mins}}">{{data.mins}}</option></select>
                                                    <span class="hrs_text"></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <h6>Select Day(s)</h6>
                                            <ul class="clearfix">
                                                <li ng-repeat="day in daycdList" class="{{selection.indexOf(day.value) !== -1?'active':''}}"><a href="javascript:;" ng-click="toggleSelection(day.value)">{{day.value}}</a></li>

                                            </ul>
                                            <div>
                                                <input id="checkbox" class="checkbox checkbox-cust" name="checkbox" type="checkbox" ng-model="selectedAll" ng-click="checkAll(selectedAll)" />
                                                <span class="lbl" style=" z-index: 1;"></span>&nbsp;
                                                <label for="checkbox" class="checkbox-custom-label">&nbsp; Select all days</label>
                                                <div class="clearfix error-msg" ng-if="daySelectionError" style="position:relative;left: -127px;top: 15px;">Please select the day</div>
                                            </div>
                                            <div class="user_actions wd_100">
                                                <button class="uatv" ng-if="addressidparams == 0">Add Time Slot</button>
                                                <button class="btn btn-primary" ng-if="addressidparams != 0" ng-click="addcousultationTiming(loginform,logininfo,5)"><span ng-show="!update_btn_status">Add Time Slot</span><span ng-show="update_btn_status">Update Time Slot</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="time-slots-table table-container appintment_view_pane" id="timinglist">
							<table class="table">
								<tr>
									<th>Day</th>
									<th>Time Slots</th>
								</tr>
								<tr>
									<td>Sunday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'SUN'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" >
										<span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)" ng-show="addressidparams != 0"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot" ><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<tr>
									<td>Monday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active' | filter:{'DayCD':'MON'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" >
										<span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<tr>
									<td>Tuesday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'TUE'} | filter:{'StartTime':'!00:00'}| filter:{'EndTime':'!00:00'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ><span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<tr>
									<td>Wednesday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'WED'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ><span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<t>
									<td>Thursday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'THU'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ><span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<tr>
									<td>Friday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'FRI'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ><span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
								<tr>
									<td>Saturday</td>
									<td>
										<span ng-repeat="item in logininfo.businesshoursUI | orderBy : '-Active'  | filter:{'DayCD':'SAT'}" class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ><span  ng-click="timestatuslog(item)"  scroll-to-item scroll-to="#addupdatetime" data-tooltip="Click here to edit the slot">{{item.StartTime}} to {{item.EndTime}}</span> <a href="javascript:;" class="tsc" ng-click="inactive_timings(item,loginform,logininfo,5)"><img src="img/Active.png" ng-if="item.Active == 'Y'" data-tooltip="Deactivate the slot"><img src="img/inactive.png" ng-if="item.Active == 'N'"  data-tooltip="Activate the slot"></a></span>
									</td>
								</tr>
							</table>
							<div class="legend_display_box">
								<span class="legend_box"></span>
								<p>Active Slots</p>
								<span class="legend_box1"></span>
								<p>Inactive Slots</p>
							</div>
						</div>
						<div class="clearfix"></div>

					</div>
				</form>
			</div>
			<!--End My practice-->
			
			
		</div>
		<!--End Tab contents-->
<div class="modal1" ng-show="showAddslotInfo">

 
  <div class="modal1-content">
  <div class="arrow_box2">
    <img src="img/Added_Clinic_popup_06.jpg">
    <p>You have added your Clinic / Hospital successfully</p>
<p style="margin-top: 10px;">Add Time Slots here</p>
<button class="OK_btn" ng-click="slotStatusbtn()">OK</button>
  </div>
 </div>
</div>
	</div>  <!--End tab_conatiner-->
</div>
</div>

 <div  class="modal2"  style="display: none;">

  <div class="modal-content2">
  <div class="arrow_box">
    <img src="img/Added_Clinic_popup_06.jpg"/>
    <p>Your Time Slots are </p>
<p>added here</p>
<button class="OK_btn">OK</button>

  </div>
  
 </div>
</div>
<!--ProfileImg-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="re-photo-wrap" class="modal-dialog" role="document">
        <div class="re-photo-wrap">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" border 0;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload a Profile Picture</h4>
            </div>
            <div class="re-photo-inner">
                <ul class="re-tab">
                    <li class="{{ imgTabno ==1 ? 'active' :''}}">
                        <a href="javascript:;" ng-click="imgTabno=1">
                            Take Photo
                        </a>
                    </li>
                    <li class="{{imgTabno ==2 ? 'active' :''}}">
                        <a href="javascript:;" ng-click="upload()">
                            Upload Photo
                        </a>
                    </li>
                </ul>
                <div ng-show="imgTabno ==1">
                    <div>
                        <div class="no-video alert-error ng-scope" ng-show="webcamError">
                            <img src="img/new-img/no-video.png">
                            <h5>We can't find your webcam.</h5>
                            <span>Check to be sure your webcam is connected and installed properly.</span>
                        </div>
                        <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                        <div class="text-center" ng-hide="webcamError">
                            <a href="" class="take-photo-btn" ng-click="makeSnapshot()" ng-hide="openset"><img src="img/new-img/take_photo_png.png"></a>
                        </div>
                        <canvas id="snapshot" width="300" height="300" hidden></canvas>
                    </div>
                    <div class="choose-local-storage">
                        <div class="{{ photoTaken == true ? 're-photo-preview' : 're-photo-preview upp'}}" data-ng-click="openLightboxModal($index)">
                            <img data-ng-src="{{snapshotData}}">
                            <div class="cropArea">
                                <img-crop image="snapshotData" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="openset">
                        <p>Are you sure you want to upload this photo ?</p>
                        <button type="button" class="btn btn-filled" ng-click="closeSet()">
                            No
                        </button>
                        <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
                <div class="re-up-photo" ng-show="imgTabno ==2">
                    <div class="crop-upload" ng-show="myImage.length > 0">
                        <img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div class="re-up-photo-info" ng-show="myImage.length == 0">
                        <i class=""></i>
                        <img class="upload-icon" src="img/new-img/max-upload-icon.png">
                        <p>
                            Maximum File Size is 5MB
                            <br> Supported File Formats - .jpg, .png
                        </p>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="browsefilebtn">
                                <label for="file" class="btn btn-primary photo-lbl-popup" accept="image/*" ng-click="brwseOpen()" ng-show="browseOpenSet && myImage.length ==0">Browse file</label>
                                <input type="file" id="fileInput" class="photo-inp-brwse" accept="image/*">
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="browsefilebtn">
                                <div class="image-upload-container browse-btn-label" ng-show="browseOpenSet && myImage.length ==0">
                                    <img src="img/new-img/upload-file-img-lg.png" style="cursor:pointer" /> Browse file
                                    <input type='file' title="No file chosen" ngf-select="handleFileSelect($files)" ngf-pattern="'image/*'" ngf-accept="'image/*'" data-max-size="5MB" multiple />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="myImage.length > 0">
                        <p>Are you sure you want to upload this photo ?</p>
                        <button type="button" class="btn btn-filled" ng-click="clearImg()">
                            No
                        </button>
                        <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


