<style type="text/css">
    
    .clinichead{
  font-size: 16px;
    color: #28465A;
    display: inline;
    margin: 0 10px 0 0;
    line-height: 0;
    font-weight: bold;
    
}

    .cropArea {
    position: absolute;
    top: 0;
    /*background: #E4E4E4;*/
    overflow: hidden;
    width: 320px;
    /**500px**/
    height: 240px;
    /**350**/
}

img-crop.fixed-height canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

img-crop canvas {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

img-crop.fixed-height {
    height: 100%;
    position: relative;
    overflow: hidden;
}

img-crop {
    width: 100%;
    display: block;
}

.loading {
    display: none;
}
</style>

<link rel="stylesheet" type="text/css" href="css/hcue_profile.css">
<div class="doctor_profile_header" id="aboutprofilecontroller" ng-show="showPage">
    <section class="doctor_profile_container">
        <div class="max_width">
            <div class="doctor_profile_wrapper">
                <div class="edit_icon"    ng-show="!exp_edit_view">
                    <img src="./img/edit_white_icon.png" data-tooltip="Edit" ng-click="profile_top_edit()"  tooltip-placement="right"/>
                </div>
                
				<div class="modal-overlay" ng-show="showimage" ></div>
				<div class="modal-common" ng-show="showimage">
					<div class="modal-common-dialog" style="position: fixed;top: 65px;left: 0;right: 0;bottom: 0;margin: 0 auto;width: 75%;height: 80%;z-index:90;">
						<a ng-click="closeimage()" class="fa search-patient-clearfield"></a>
						<head>
							<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
							<title>image viewer</title>
							<link href="../app/css/imageviewer.css" rel="stylesheet" type="text/css" />
							<!--<script src="js/lib/jquery-1.11.3.min.js"></script>-->
							<script src="js/imageviewer.js"></script>

							<style>
								#image-gallery {
								   width: 100%;
										position: relative;
										height: 500px;
										background:#000;
								}

									#image-gallery .image-container {
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 50px;
									}

									#image-gallery .prev,
									#image-gallery .next {
										position: absolute;
										height: 32px;
										margin-top: -66px;
										top: 50%;
									}

									#image-gallery .prev {
										left: 20px;
										 cursor: pointer;
									}

									#image-gallery .next {
										right: 20px;
										cursor: pointer;
									}

									#image-gallery .footer-info {
										position: absolute;
										height: 50px;
										width: 100%;
										left: 0;
										bottom: 0;
										line-height: 50px;
										font-size: 24px;
										text-align: center;
										color: white;
										border-top: 1px solid #FFF;
									}
							</style>
						</head>

						<body>
							<div id="image-gallery">
								<div class="image-container"></div>
								<!-- <img src="images/imgviewer/left.svg" class="prev" /> -->
								<!-- <img src="images/imgviewer/right.svg" class="next" /> -->
								<div class="footer-info">
									<span class="current"></span>/<span class="total"></span>
								</div>
							</div>


						</body>
					</div>
				</div>
                <div class="general_info col-md-6 col-sm-6 col-lg-6">
                    <div class="pic" >
                        <img ng-click="clinicDoctorpopup(doctorinfo.profileimage)" class="img-circle" ng-if="doctorinfo.profileimage.length > 2" data-ng-src="data:image/png;base64,{{doctorinfo.profileimage}}">
                        <img ng-if="doctorinfo.profileimage == null || doctorinfo.profileimage.length == 0" ng-src="img/register-defaultuser-ico.png" alt="Doctor Name">
                        <div class="set-apt-gear set-apt-gear-profile pull-right">
                            <a href="javascript:;" class="" ng-click="settingList()" click-off="showSettingList=false;">
                                <!--<i class="icon-Settings" style="margin: 10px 5px;vertical-align: middle;"></i>-->
                                <img src="./img/edit_icon.png" data-tooltip="Edit">
                            </a>
                            <ul aria-labelledby="settingsMenu" class="dropdown-menu settingsMenuProfile" style="display: block;" ng-show="showSettingList">
                                <li>
                                    <a ng-click="profileupload()" ng-show="profilepopupshow">Edit profile image</a>
                                    <a ng-click="profileupload()" ng-hide="profilepopupshow">Add profile image</a>
                                </li>
                                <li ng-show="profilepopupshow">
                                    <a ng-click="deleteProfile()">Remove profile image</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <label ng-hide="drnameshow">Dr. {{doctorinfo.doctor[0].FullName}}</label>
                        <label ng-show="drnameshow">{{doctorinfo.doctor[0].FullName}}</label>
                        <div class="dr-qualification">
                        <span ng-repeat="qualification in  logininfo.doctorEducation"> {{qualification.EducationName}}<span ng-if="logininfo.doctorEducation.length > 1" ng-hide="$last">,</span> </span>
                        </div>
                         <label class="speciality_set"> <span ng-repeat="speciality in logininfo.specialization | orderBy:'SerialNumber'"> {{GetSpecialityById(speciality.SepcialityCode)}}<span ng-if="logininfo.specialization.length > 1" ng-hide="$last">,</span> </span>
                        </label>
                    </div>
                </div>
                <div class="experiece_container col-md-6 col-sm-6 col-lg-6">
                    <form method="POST" name="loginform" novalidate>
                        <div class="experience_info">
                            <div class="years">
                                <p>Experience</p>
                                <span ng-show="exp_view_con">{{logininfo.Experience}}</span>
                                <input type="text" required ng-model="logininfo.Experience" ng-show="exp_edit_view" numbers-Only="numbers-Only" maxlength="3"><span class="years_lab" ng-if="logininfo.Experience != 0">Year(s)</span>
                            </div>
                            <div class="clearfix"></div>
                            <span class="error-msg" ng-show="experience_valid">*Required</span>
                        </div>
                        <div class="registration_info">
                            <p>Medical Registration No</p>
                            <span ng-show="medical_view_con" class="reg_alignment">{{logininfo.MedicalRegNumber}}</span>
                            <input type="text" class="regis_id" ng-model="logininfo.MedicalRegNumber" ng-show="medical_edit_view" maxlength="15" />
                        </div>
                        <div class="user_actions wd_100" ng-show="exp_edit_view">
                            <button class="btn btn-grey" ng-click="profile_top_cancel()">Cancel</button>
                            <button class="btn btn-primary" ng-click="Update(loginform,logininfo,1)">Update</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!--End Doctors profile-->
    <div class="tab_container">
        <!--tab_conatiner-->
        <!--Tab header-->
        <div class="tab">
            <div class="max_width">
                <ul>
                    <li class="{{ tabno ==1 ? 'active' :''}}">
                        <a data-toggle="pill" href="javascript:;" ng-click="ShowTab(1)">
                            <img src="./img/about_me.png">
                            <label>About Me</label>
                        </a>
                    </li>
                    <li class="{{ tabno ==2 ? 'active' :''}}">
                        <a data-toggle="pill" href="javascript:;" ng-click="ShowTab(2)">
                            <img src="./img/my_practice.png">
                            <label>My Practice</label>
                        </a>
                    </li>
                    <!-- <li class="{{ tabno ==3 ? 'active' :''}}">
                        <a data-toggle="pill" href="javascript:;" ng-click="ShowTab(3)">
                            <img src="./img/others.png">
                            <label>More Information</label>
                        </a>
                    </li> -->
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Tab header-->
        <!--Tab content-->
        <div class="tab_content tab-content">
            <!--About-->
            <div class="about_tab tab-pane fade in {{ tabno ==1 ? 'active' :''}}" id="about_me">
                <div class="max_width">
                    <div class="about_tab_container">
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 padding_left">
                            <div class="indiv_info">
                                <form method="POST" name="loginform" novalidate>
                                    <div class="indiv_heading wd_100">
                                        <img src="./img/call.png" />
                                        <label>Contact <img src="img/help-icon.png" alt="help" data-tooltip="Your personal contact details will not be shared with public"></label>
                                        <div class="edit_icon" ng-click="edit_contact()">
                                            <img src="./img/edit_icon.png" data-tooltip="Edit"/>
                                        </div>
                                    </div>
                                    <div class="mid_line"></div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="info_about info_wrapper" ng-show="contact_view_con">
                                            <div class="info">
                                                <p class="about_content" ng-show="logininfo.MobileNumber != undefined">
                                                    {{cntryCode}} {{logininfo.MobileNumber}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="info_about info_wrapper" ng-show="contact_view_con">
                                            <div class="info">
                                                <p class="about_content">
                                                    {{logininfo.Email}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg12">
                                        <div class="edit_about p-edit-fsp " ng-show="edit_contact_view">
                                            <p>What is your Mobile Number?<span class="asterick">*</span></p>
                                            <input class="form-input col-md-6" style="width: 25%;" placeholder="Country code" ng-model="logininfo.PhCntryCD" ng-change="cntrychange(logininfo.PhCntryCD)">                                         
                                                
                                            
                                            <input placeholder="Enter your number" class="col-md-9" ng-model="logininfo.MobileNumber" type="text" name="MobileNumber" required numbers-only="numbers-only" ng-minlength=7 ng-maxlength="10">
                                            <div ng-show="loginform.$submitted || loginform.MobileNumber.$touched">
                                                <span class="error-msg" ng-show="loginform.MobileNumber.$error.required">Please enter mobile number</span>
                                                <span class="error-msg" ng-show="loginform.MobileNumber.$error.maxlength">Please enter valid number</span>
                                                <span class="error-msg" ng-show="loginform.MobileNumber.$error.minlength">Please enter valid number</span>
                                            </div>
                                            <span class="error-msg" ng-show="cntryError">Enter country code</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="edit_about p-edit-fsp" ng-show="edit_contact_view">
                                            <p>What is your Email ID?<span class="asterick">*</span></p>
                                            <input type="Email" name="Email" required ng-pattern="emailpattern" ng-model="logininfo.Email" placeholder="Email" ng-model="logininfo.Email">
                                            <div ng-show="loginform.$submitted || loginform.Email.$touched">
                                                <span class="error-msg" ng-show="loginform.Email.$error.required">Enter Email ID</span>
                                                <span class="error-msg" ng-show="loginform.Email.$error.pattern">Enter a valid Email ID</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12 col-lg-12" ng-show="edit_contact_view">
                                        <div class="user_actions pull-right contact_positions">
                                            <button class="btn btn-grey" ng-click="contact_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(loginform,logininfo,0)">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--About content-->
                            <div class="indiv_info" ng-hide="drnameshow">
                                <div class="indiv_heading wd_100">
                                    <img class="ep-abtedit-img" src="./img/about_icon.png" />
                                    <label>About</label>
                                </div>
                                <div class="edit_icon" ng-click="edit_about()" ng-show="about_view_container">
                                    <img src="./img/edit_icon.png" data-tooltip="Edit" class="edit_icon_hover" />
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_about info_wrapper" ng-show="about_view_container">
                                    <div class="info">
                                        <img src="img/sex.png" alt="Gender" class="iconPositionLabel">
                                        <p class="about_content" ng-show="logininfo.Gender != undefined">{{logininfo.Gender == "F"?'Female':'Male'}}</p>
                                        <p class="about_content" ng-show="logininfo.Gender == undefined">Select the Gender</p>
                                    </div>
                                    <div class="mid_line"></div>
                                </div>
                                <div class="info_about info_wrapper" ng-show="about_view_container">
                                 
                                        <img src="img/bday-icon.png" alt="Gender" class="iconPositionLabel">
                                        <p class="about_content" ng-show="logininfo.DOB != null && logininfo.DOB != 'Invalid date'">{{logininfo.DOB | date:'dd-MM-yyyy'}}</p>
                                         <p class="about_content" ng-show="logininfo.DOB == null || logininfo.DOB == 'Invalid date'">Select your date of birth</p> 
                                   
                                    <div class="mid_line"></div>
                                </div>
                                <div class="info_about info_wrapper" ng-show="about_view_container">
                                    <div class="info tcell">
                                        <img src="img/about-icon.png" alt="Gender" class="iconPositionLabel">
                                        <p class="about_content">{{logininfo.About}}</p>
                                    </div>
                                </div>
                                <div class="edit_about" ng-show="edit_info">
                                    <form method="POST" name="edit_aboutForm" novalidate>
                                        <div class="pro-edit-dob">
                                            <label class="label_display">What gender are you?<span></span></label>
                                            <br/>
                                            <div>
                                                <input id="male" class="radio-custom" name="gender" value="M" ng-checked="logininfo.Gender =='M'" ng-model="logininfo.Gender" type="radio" required="">
                                                <label for="male" class="radio-custom-label">Male</label>
                                            </div>
                                            <div>
                                                <input id="female" class="radio-custom" name="gender" value="F" ng-checked="logininfo.Gender =='F'" ng-model="logininfo.Gender" type="radio" required="">
                                                <label for="female" class="radio-custom-label">Female</label>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="error-mesg-wrap">
                                            <span class="list list-inset error-msg" ng-show="(edit_aboutForm.$submitted || edit_aboutForm.gender.$touched) && edit_aboutForm.gender.$error.required">Please select gender</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="pro-edit-dob">
                                            <label class="label_display label_spacing">When were you born?<!-- <span>*</span> --></label>
                                            <br/>
                                            <div class="clearfix"></div>
                                            <input type="text" name="DOB" class="dob date_of_birth_input" placeholder="yyyy-mm-dd" ng-model="logininfo.DOB"  jqdobpicker  readonly="readonly" />
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Tell us something about you..</p>
                                        <textarea rows="7" cols="45" maxlength="500" placeholder="Enter here" ng-model="logininfo.About" ng-trim="false"></textarea>
                                        <span class="characters_left_spacing">{{500 -logininfo.About.length}}</span>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="about_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(edit_aboutForm,logininfo,1)">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="empty_about wd_100" ng-if="logininfo.About.length == 0 || logininfo.About.length ==  1 || logininfo.About.length ==  2" ng-show="about_view_container">
                                    <p class="empty_state empty_state1">
                                        You have not added any details about you yet
                                    </p>
                                </div>
                                <!--
                                    <div class="add_link wd_100" ng-click="add_about()" ng-if="logininfo.About.length == 1 ||logininfo.About.length == 0 ">+ Add About <img src="img/help-icon.png" alt="help" data-tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry" data-placement="right"></div> -->
                            </div>
                            <!-- End About content -->
                            <!-- Education content -->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/education_icon.png" />
                                    <label>Education <img src="img/help-icon.png" alt="help" data-tooltip="Adding Education is optional but this could let fellow doctors and other professionals know where you graduated." tooltip-placement="top"></label>
                                    <div class="edit_icon" ng-click="education_edit()" ng-if="logininfo.doctorEducation.length > 0">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit" />
                                    </div>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_education info_wrapper" ng-show="education_view_container">
                                    <div class="info">
                                        <div class="education_content wd_100" ng-repeat="qualification in  logininfo.doctorEducation">
                                            <img src="./img/college_icon.png" alt="">
                                            <ul>
                                                <li>{{qualification.EducationName}}</li>
                                                <li>{{qualification.InstituteName}}</li>
                                                <li ng-if="qualification.edu_startyear !== ''">{{qualification.edu_startyear}} - {{qualification.edu_endyear}}</li>
                                            </ul>
                                            <div class="mid_line" ng-hide="$last"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_education wd_100" ng-show="education_add_container">
                                    <div class="mid_line" ng-if="logininfo.doctorEducation.length > 0"></div>
                                    <form method="POST" name="add_educationForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What did you study?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter your degree" ng-model="edu_name" name="addEducationName" required>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(add_educationForm.$submitted || add_educationForm.addEducationName.$touched) && add_educationForm.addEducationName.$error.required">Please enter degree</span>
                                            </div>
                                        </div>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">Which institution did you study?<span></span></label>
                                            <input type="text" placeholder="Enter your institution name" ng-model="edu_institute" />
                                        </div>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What is the duration of your course?<span></span></label>
                                            <input type="text" placeholder="From" class="from" ng-model="start_year" maxlength="4" numbers-Only="numbers-Only" />
                                            <span class="hyphen"> - </span>
                                            <input type="text" placeholder="To" class="to" ng-model="end_year" maxlength="4" numbers-Only="numbers-Only" />
                                        </div>
                                        <!-- <div class="upload_link wd_100">Upload your Institution logo</div> -->
                                        <div class="user_actions wd_100 p-edit-fsp">
                                            <button class="btn btn-grey" ng-click="education_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(add_educationForm,logininfo,2)">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_education wd_100" ng-show="eudcation_edit_view">
                                    <form method="POST" name="edit_educationForm" novalidate>
                                        <div ng-repeat="educationitem in logininfo.doctorEducation">
                                            <a href="javascript:;" ng-click="RemoveEducation(educationitem)" data-tooltip="Remove" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <div class="indiv_form wd_100 p-edit-fsp">
                                                <label class="label_display">What did you study?<span class="asterick">*</span></label>
                                                <input type="text" placeholder="Enter your degree" ng-model="educationitem.EducationName" name="educationNameedit_{{$index}}" required>
                                                <div class="error-mesg-wrap">
                                                    <span class="list list-inset error-msg" ng-show="(edit_educationForm.$submitted || edit_educationForm.educationNameedit_{{$index}}.$touched) && edit_educationForm.educationNameedit_{{$index}}.$error.required">Please enter degree</span>
                                                </div>
                                            </div>
                                            <div class="indiv_form wd_100">
                                                <label class="label_display">Which institution did you study?<span></span></label>
                                                <input type="text" placeholder="Enter your institution name" ng-model="educationitem.InstituteName" />
                                            </div>
                                            <div class="indiv_form wd_100">
                                                <label class="label_display">What is the duration of your course?<span></span></label>
                                                <input type="text" placeholder="From" class="from" ng-model="educationitem.edu_startyear" numbers-Only="numbers-Only" maxlength="4" />
                                                <span class="hyphen"> - </span>
                                                <input type="text" placeholder="To" class="to" ng-model="educationitem.edu_endyear" numbers-Only="numbers-Only" maxlength="4" />
                                            </div>
                                            <div class="mid_line"></div>
                                            <!-- <div class="upload_link wd_100">Upload your Institution logo</div> -->
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="education_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(edit_educationForm,logininfo,2)" type="submit">Update</button>
                                        </div>
                                        <!-- <div class="bottom_line"></div> -->
                                    </form>
                                </div>
                                <div class="empty_education wd_100" ng-show="!education_add_container && !eudcation_edit_view" ng-if="logininfo.doctorEducation.length == 0">
                                    <p class="empty_state">
                                        You have not added the details of your Education yet
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="add_education()" ng-show="!education_add_container && !eudcation_edit_view">+ Add Education</div>
                            </div>
                            <!-- End Education content -->
                            <!-- Membership content-->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/membership_icon.png" />
                                    <label>Memberships <img src="img/help-icon.png" alt="help" data-tooltip="By adding memberships you could let your patients, fellow doctors and care professionals know where your belong amidst all numerous medical groups around the Country." data-placement="right"></label>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_membership info_wrapper" ng-show="membership_view_container">
                                    <div class="info">
                                        <div class="membership_content wd_100">
                                            <ul>
                                                <li ng-repeat="memberships in logininfo.Memberships">{{memberships.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="edit_icon"  ng-click="membership_edit()" ng-if="logininfo.Memberships.length > 0">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit"/>
                                    </div>
                                </div>
                                <div class="add_membership wd_100" ng-show="add_view_membership">
                                    <div class="mid_line" ng-hide="logininfo.Memberships.length == 0"></div>
                                    <form method="POST" name="add_membershipForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What membership do you have?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the membership" ng-model="membership_addset" maxlength="150" name="addMembership" required>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(add_membershipForm.$submitted || add_membershipForm.addMembership.$touched) && add_membershipForm.addMembership.$error.required">Please enter membership</span>
                                            </div>
                                        </div>
                                        
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="membership_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(add_membershipForm,logininfo,2)" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_membership wd_100" ng-show="edit_view_membership">
                                    <form method="POST" name="edit_membershipForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp" ng-repeat="membershipitem in logininfo.Memberships">
                                            <label class="label_display" ng-show="{{$index}} == 0">What membership do you have?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the membership" ng-model="membershipitem.name" maxlength="150" name="editMembership_{{$index}}" required>
                                            <a href="javascript:;" ng-click="RemoveMembership(membershipitem)" data-tooltip="Remove" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(edit_membershipForm.$submitted || edit_membershipForm.editMembership_{{$index}}.$touched) && edit_membershipForm.editMembership_{{$index}}.$error.required">Please enter membership</span>
                                            </div>
                                        </div>
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="membership_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(edit_membershipForm,logininfo,2)" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <!-- <div class="bottom_line"></div> -->
                                </div>
                                <div class="empty_membership wd_100" ng-show="!add_view_membership && !edit_view_membership" ng-if="logininfo.Memberships.length == 0">
                                    <p class="empty_state">
                                        You have not added the details about your Memberships yet
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="membership_add()" ng-show="!add_view_membership && !edit_view_membership">+ Add Memberships</div>
                            </div>
                            <!-- End Membership content -->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                            <!-- Specialization content-->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/specialization_icon.png" />
                                    <label>Speciality <img src="img/help-icon.png" alt="help" data-tooltip="Adding your speciality is necessary to your patients and care providers to understand what you practice at a glance." data-placement="right"></label>
                                    <div class="edit_icon" ng-click="speciality_edit()">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit" />
                                    </div>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_specialization info_wrapper" ng-show="speciality_view_container">
                                    <div class="info">
                                        <div class="specialization_content wd_100">
                                            <ul>
                                                <li ng-repeat="speciality in logininfo.specialization  | orderBy:'SerialNumber'">{{GetSpecialityById(speciality.SepcialityCode)}} <span ng-if=" speciality.CustomSpecialityDesc != undefined && speciality.CustomSpecialityDesc != ''"> - {{speciality.CustomSpecialityDesc}} </span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_specialization wd_100" ng-show="speciality_add_container">
                                    <div class="mid_line"></div>
                                    <form name="add_specialityForm" class="css-form" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What are you specialized in?<span class="asterick">*</span></label>
                                            <select name="specialization" required ng-model="speciality_add" placeholder="Specialization" class="select-dropdown">
                                                <option ng-repeat="data in specialitylist | filter:{ActiveIND:'Y'}" value="{{data.DoctorSpecialityID}}" ng-selected="{{data.DoctorSpecialityID == speciality_add}}">{{data.DoctorSpecialityDesc}}</option>
                                            </select>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(add_specialityForm.$submitted || add_specialityForm.specialization.$touched) && add_specialityForm.specialization.$error.required">Please enter speciality</span>
                                            </div>
                                        </div>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">Enter Sub Speciality</label>
                                            <input type="text" class="mar-b-0 custom-width" ng-model="speciality_addCustomSpeciality" maxlength="50" placeholder="Example: Orthodontics, Interventional Cardiologist" />
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="speciality_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(add_specialityForm,logininfo,0)" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_specialization wd_100" ng-show="speciality_edit_view">
                                    <form name="edit_specialityForm" class="css-form" novalidate>
                                        <div class="indiv_form wd_100">
                                            <label class="label_display">What are you specialized in?<span class="asterick">*</span></label>
                                            <div ng-repeat="specializationitem in logininfo.specialization  | orderBy:'SerialNumber'">
                                                <select name="specialization_{{$index}}" ng-model="specializationitem.SepcialityCode" placeholder="Specialization" class="select-dropdown" required>
                                                    <option ng-repeat="data in specialitylist | filter:{ActiveIND:'Y'}" value="{{data.DoctorSpecialityID}}" ng-selected="{{data.DoctorSpecialityID == specializationitem.SepcialityCode}}">{{data.DoctorSpecialityDesc}}</option>
                                                </select>
                                                <div class="error-mesg-wrap">
                                                    <span class="list list-inset error-msg" ng-show="(edit_specialityForm.$submitted || edit_specialityForm.specialization_{{$index}}.$touched) && edit_specialityForm.specialization_{{$index}}.$error.required">Please enter speciality</span>
                                                </div>
                                                <label class="label_display" ng-hide="{{$index > 0}}">Enter Sub Speciality</label>
                                                <input type="text" class="mar-b-0 custom-width" ng-model="specializationitem.CustomSpecialityDesc" maxlength="50" placeholder="Example: Orthodontics, Interventional Cardiologist"/>
                                                <a href="javascript:;" ng-click="RemoveSpeciality(specializationitem)" class="reg-add-opt" ng-hide="{{$index == 0}}" data-tooltip="Remove" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon"></a>
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="speciality_cancel()">Cancel</button>
                                            <button  type="submit" class="btn btn-primary" ng-click="Update(edit_specialityForm,logininfo,0)" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <!-- <div class="bottom_line"></div> -->
                                </div>
                                <div class="empty_specialization wd_100 hide">
                                    <p class="empty_state">
                                        You have not added the details about your Specializations yet
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="add_speciality()" ng-show="!speciality_add_container && !speciality_edit_view">+ Add Speciality </div>
                            </div>
                            <!-- End Specialization content -->
                            <!-- Services content-->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/services_icon.png" />
                                    <label>Services offered <img src="img/help-icon.png" alt="help" data-tooltip="Adding Services is optional but this will help your patients understand the services you may offer them when they look at your profile." data-placement="right"></label>
                                    <div class="edit_icon" ng-click="services_edit()" ng-if="logininfo.Services.length > 0">
                                        <img data-tooltip="Edit" src="./img/edit_icon.png" />
                                    </div>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_services info_wrapper" ng-show="services_view_container">
                                    <div class="info">
                                        <div class="services_content wd_100">
                                            <ul>
                                                <li ng-repeat="services in logininfo.Services">
                                                    {{services.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_services wd_100" ng-show="add_service_container">
                                    <div class="mid_line" ng-hide="logininfo.Services.length == 0"></div>
                                    <form method="POST" name="services_addForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What service do you provide?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the services you provide" ng-model="services_addset" maxlength="150" name="addservices" required>

                                            <!-- Services update validation -->
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(services_addForm.$submitted || services_addForm.addservices.$touched) && services_addForm.addservices.$error.required">Please enter service</span>
                                            </div>
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="services_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(services_addForm,logininfo,2)" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_services wd_100" ng-show="edit_view_services">
                                    <form method="POST" name="services_editForm" novalidate>
                                        <div class="indiv_form wd_100" ng-repeat="serviceitem in logininfo.Services">
                                            <label class="label_display" ng-show="{{$index}} == 0">What service do you provide?</label>
                                            <input type="text" placeholder="Enter the services you provide" ng-model="serviceitem.name" name="editServices_{{$index}}" required>
                                            <a href="javascript:;" ng-click="RemoveService(serviceitem)" data-tooltip="Remove" class="remove_tag" maxlength="150"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <!-- Services update validation -->
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(services_editForm.$submitted || services_editForm.editServices_{{$index}}.$touched) && services_editForm.editServices_{{$index}}.$error.required">Please enter service</span>
                                            </div>
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="services_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(services_editForm,logininfo,2)" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <!-- <div class="bottom_line"></div> -->
                                </div>
                                <div class="empty_services wd_100" ng-show="!edit_view_services && !add_service_container" ng-if="logininfo.Services.length == 0" >
                                    <p class="empty_state">
                                        You have not added the details about the Services you provide
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="add_services()" ng-show="!add_service_container && !edit_view_services">+ Add Services</div>
                            </div>
                            <!-- End Services content-->
                            <!-- Achievements content-->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/achievements_icon.png" />
                                    <label>Achievements <img src="img/help-icon.png" alt="help" data-tooltip="Adding Achievement's is optional but you may want to showcase your achievement's to your patients and other healthcare professionals." data-placement="right"></label>
                                    <div class="edit_icon"  ng-click="achievments_edit()" ng-if="logininfo.DoctorAchievements.length > 0">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit"/>
                                    </div>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_achievements info_wrapper" ng-show="achievments_view_container">
                                    <div class="info">
                                        <div class="achievements_content wd_100">
                                            <ul>
                                                <li ng-repeat="docpublic in logininfo.DoctorAchievements">{{docpublic.Name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_achievements" ng-show="add_achievements_container">
                                    <div class="mid_line" ng-hide="logininfo.DoctorAchievements.length == 0"></div>
                                    <form method="POST" name="add_achievmentsForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">What have you achieved?<span class="asterick">*</span></label>
                                            <textarea rows="7" cols="45" placeholder="Enter your achievements" ng-model="add_achievmentsset" maxlength="500" name="addAchievements" required></textarea>
                                            <div class="error-mesg-wrap">
                                                <span style="margin: 0;" class="list list-inset error-msg" ng-show="(add_achievmentsForm.$submitted || add_achievmentsForm.addAchievements.$touched) && add_achievmentsForm.addAchievements.$error.required">Please enter achievement</span>
                                            </div>
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="achievments_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(add_achievmentsForm,logininfo,2)" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_achievements" ng-show="edit_view_achievments">
                                    <form method="POST" name="edit_achievmentsForm" novalidate>
                                        <div ng-repeat="achievementsitem in logininfo.DoctorAchievements">
                                            <p class="wd_100 label_display" ng-show="{{$index}} == 0">What have you achieved?<span class="asterick">*</span></p>
                                            <textarea rows="7" cols="45" placeholder="Enter your achievements" ng-model="achievementsitem.Name" maxlength="500" name="editAchievements_{{$index}}" required></textarea>
                                            <a href="javascript:;" data-tooltip="Remove" ng-click="RemoveAchievements(achievementsitem)" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <div class="error-mesg-wrap">
                                                <span style="margin: 0;" class="list list-inset error-msg" ng-show="(edit_achievmentsForm.$submitted || edit_achievmentsForm.editAchievements_{{$index}}.$touched) && edit_achievmentsForm.editAchievements_{{$index}}.$error.required">Please enter achievement</span>
                                            </div>
                                        </div>
                                        <div class="user_actions wd_100">
                                            <button class="btn btn-grey" ng-click="achievments_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(edit_achievmentsForm,logininfo,2)" type="submit">Update</button>
                                        </div>
                                        <!-- <div class="bottom_line"></div> -->
                                    </form>
                                </div>
                                <div class="empty_achievements wd_100" ng-show="!add_achievements_container && !edit_view_achievments" ng-if="logininfo.DoctorAchievements.length == 0">
                                    <p class="empty_state">
                                        You have not added the details about your Achievements
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="add_achievments()" ng-show="!add_achievements_container && !edit_view_achievments">+ Add Achievements</div>
                            </div>
                            <!-- End Achievements content -->
                            <!-- Publication content -->
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/publications_icon.png" />
                                    <label>Publications <img src="img/help-icon.png" alt="help" data-tooltip="Adding publications is optional, but you may want to share some publications you were directly or indirectly involved in the past." data-placement="right"></label>
                                    <div class="edit_icon" ng-click="publication_edit()" ng-if="logininfo.DoctorPublishing.length > 0">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit" />
                                    </div>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_publication info_wrapper" ng-show="publication_view_container">
                                    <div class="info">
                                        <div class="publication_content wd_100">
                                            <ul>
                                                <li ng-repeat="docpublic in logininfo.DoctorPublishing">{{docpublic.Name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_publication wd_100" ng-show="publication_add_container">
                                    <div class="mid_line" ng-hide="logininfo.DoctorPublishing.length == 0"></div>
                                    <form method="POST" name="publication_addForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">Have you published anything?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the publication" name="editPublication" ng-model="addPublication" maxlength="150" required>

                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(publication_addForm.$submitted || publication_addForm.editPublication.$touched) && publication_addForm.editPublication.$error.required">Please enter publication</span>
                                            </div>
                                        </div>
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="publication_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(publication_addForm,logininfo,2)">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_publication wd_100 edit_publication" ng-show="edit_view_publication">
                                    <form method="POST" name="publication_editForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp" ng-repeat="publishingitem in logininfo.DoctorPublishing">
                                            <label class="label_display" ng-show="{{$index}} == 0">Have you published anything?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the publication" ng-model="publishingitem.Name" name="editpublication_{{$index}}" required>
                                            <a href="javascript:;" ng-click="RemovePublications(publishingitem)" data-tooltip="Remove" class="remove_tag" maxlength="150"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(publication_editForm.$submitted || publication_editForm.editpublication_{{$index}}.$touched) && publication_editForm.editpublication_{{$index}}.$error.required">Please enter publication</span>
                                            </div>
                                        </div>
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="publication_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(publication_editForm,logininfo,2)" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <!-- <div class="bottom_line"></div> -->
                                </div>
                                <div class="empty_publication wd_100" ng-show="!publication_add_container && !edit_view_publication" ng-if="logininfo.DoctorPublishing.length == 0">
                                    <p class="empty_state">
                                        You have not added the details of your Publications yet
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="add_publication()" ng-show="!publication_add_container && !edit_view_publication">+ Add Publications</div>
                            </div>
                            <div class="indiv_info">
                                <div class="indiv_heading wd_100">
                                    <img src="./img/awards_icon.png" />
                                    <label>Awards <img src="img/help-icon.png" alt="help" data-tooltip="Adding awards is optional but you may want to showcase all awards you have received in the past." data-placement="right"></label>
                                </div>
                                <div class="mid_line"></div>
                                <div class="info_award info_wrapper" ng-show="awards_view_container">
                                    <div class="info">
                                        <div class="awards_content wd_100">
                                            <ul>
                                                <li ng-repeat="awards in logininfo.Awards">{{awards.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="edit_icon" ng-click="awards_edit()" ng-if="logininfo.Awards.length > 0">
                                        <img src="./img/edit_icon.png" data-tooltip="Edit" />
                                    </div>
                                </div>
                                <div class="add_awards wd_100" ng-show="awards_add_container">
                                    <div class="mid_line" ng-hide="logininfo.Awards.length == 0"></div>
                                    <form method="POST" name="awards_addForm" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp">
                                            <label class="label_display">Have you won any awards?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the award" ng-model="awards_addset" name="addAwards" required>

                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(awards_addForm.$submitted || awards_addForm.addAwards.$touched) && awards_addForm.addAwards.$error.required">Please enter awards</span>
                                            </div>
                                        </div>
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="awards_cancel()">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(awards_addForm,logininfo,2)" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="edit_awards wd_100" ng-show="edit_view_awards">
                                    <form method="POST" name="awards_editform" novalidate>
                                        <div class="indiv_form wd_100 p-edit-fsp" ng-repeat="awarditem in logininfo.Awards">
                                            <label class="label_display" ng-show="{{$index}} == 0">Have you won any awards?<span class="asterick">*</span></label>
                                            <input type="text" placeholder="Enter the award" ng-model="awarditem.name" name="awards_{{index}}" required>
                                            <a href="javascript:;" ng-click="RemoveAward(awarditem)" data-tooltip="Remove" class="remove_tag"><img src="img/remove-icon.png" alt="remove icon"></a>
                                            <div class="error-mesg-wrap">
                                                <span class="list list-inset error-msg" ng-show="(awards_editform.$submitted || awards_editform.awards_{{index}}.$touched) && awards_editform.awards_{{index}}.$error.required">Please enter awards</span>
                                            </div>
                                        </div>
                                        <div class="user_actions pull-right">
                                            <button class="btn btn-grey" ng-click="awards_cancel()" type="submit">Cancel</button>
                                            <button class="btn btn-primary" ng-click="Update(awards_editform,logininfo,2)">Update</button>
                                        </div>
                                    </form>
                                    <!-- <div class="bottom_line"></div> -->
                                </div>
                                <div class="empty_awards wd_100" ng-show="!awards_add_container && !edit_view_awards" ng-if="logininfo.Awards.length == 0">
                                    <p class="empty_state">
                                        You have not added the details about your Awards yet
                                    </p>
                                </div>
                                <div class="add_link wd_100" ng-click="awards_add()" ng-show="!awards_add_container && !edit_view_awards">+ Add Awards </div>
                            </div>
                            <!-- End Publication content -->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                            
                     
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--End About-->
            <!--My practice-->
            <div id="practice" class="my_practice_tab tab-pane fade in {{ tabno ==2 ? 'active' :''}}">
                <div class="max_width">
                    <div class="my_practice_container">
                        <button class="add_clinics btn btn-primary hide" ng-click="EditConsultTime(0)" ng-show="!disableAddhospital">
                            Add Clinic / Hospital
                        </button>
                        <div class="clinic_container">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                                <div class="indiv_clinics padding_left" ng-repeat="doctoraddress in doctorinfo.doctorAddress" ng-if="$even">
                                    <div class="clinic_wrapper">
                                        <div class="heading">
                                            <span class="clinichead">{{doctoraddress.ClinicName}}<span>{{doctoraddress.Active == 'N'? ' (Inactive Clinic)':''}}</span></span>
                                            <a href="javascript:;" ng-click="EditConsultTime(doctoraddress.AddressID)" class="pull-right"> View </a>
                                        </div>
                                        <div class="clinic_images wd_100">
                                            <div class="clinic_images wd_100">
                                                <img ng-show="$index < 7" ng-repeat="(key,val) in doctoraddress.ExtDetails.HospitalInfo.HospitalDocuments |orderBy: '-DocumentNumber' | filter:{FileName:'!Logo'}" src="{{val.FileURL}}| split:'.png':0" alt="">
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="address_wrapper wd_100">
                                            <div class="address_icon">
                                                <img src="./img/map_pin.png" />
                                            </div>
                                            <div class="address">
                                                <label> {{doctoraddress.Address2}}</label>
                                                <div class="sub_line"></div>
                                            </div>
                                        </div>
                                        <div class="mobile_wrapper wd_100" ng-if="doctoraddress.ExtDetails.AddressCommunication.length > 0">
                                            <div class="mobile_icon">
                                                <img src="./img/mobile_icon.png" />
                                            </div>
                                            <div class="mobile_number">
                                                <label ng-repeat="data in doctoraddress.ExtDetails.AddressCommunication" ng-if="data.PhType == 'L'">{{data.PhAreaCD}} - {{data.PhNumber}}</label><label ng-repeat="data in doctoraddress.ExtDetails.AddressCommunication" ng-if="data.PhType == 'M'">{{data.PhCntryCD}} - {{data.PhNumber}}</label>
                                                <div class="sub_line"></div>
                                            </div>
                                        </div>
                                        <div class="timing_wrapper wd_100">
                                            <div class="time_icon">
                                                <img src="./img/clock_icon.png" />
                                            </div>
                                            <div class="timing">
                                                <label>{{currentdaycode}}</label>
                                                <label ng-repeat="data in doctorinfo.doctorConsultation | filter:{AddressID:doctoraddress.AddressID,'Active':'Y', 'DayCD':currentdaycode}"><span ng-if="data.DayCD == currentdaycode && data !== undefined">{{data.StartTime}} - {{data.EndTime}}</span><span ng-if="data.DayCD != currentdaycode && $index == 0">Closed</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                                <div class="indiv_clinics padding_right cboth" ng-repeat="doctoraddress in doctorinfo.doctorAddress" ng-if="$odd">
                                    <div class="clinic_wrapper">
                                        <div class="heading">
                                            <span class="clinichead ">{{doctoraddress.ClinicName}}<span>{{doctoraddress.Active == 'N'? ' (Inactive Clinic)':''}}</span></span>
                                            <a href="javascript:;" ng-click="EditConsultTime(doctoraddress.AddressID)" class="pull-right"> View </a>
                                        </div>
                                        <div class="clinic_images wd_100">
                                            <img ng-show="$index < 7" ng-repeat="(key,val) in doctoraddress.ExtDetails.HospitalInfo.HospitalDocuments |orderBy: '-DocumentNumber' | filter:{FileName:'!Logo'}" src={{val.FileURL}} alt="">
                                        </div>
                                        <div class="separator"></div>
                                        <div class="address_wrapper wd_100">
                                            <div class="address_icon">
                                                <img src="./img/map_pin.png" />
                                            </div>
                                            <div class="address">
                                                <label> {{doctoraddress.Address2}}</label>
                                                <div class="sub_line"></div>
                                            </div>
                                        </div>
                                        <div class="mobile_wrapper wd_100" ng-if="doctoraddress.ExtDetails.AddressCommunication.length > 0">
                                            <div class="mobile_icon">
                                                <img src="./img/mobile_icon.png" />
                                            </div>
                                            <div class="mobile_number">
                                                <label ng-repeat="data in doctoraddress.ExtDetails.AddressCommunication" ng-if="data.PhType == 'L'">{{data.PhAreaCD}} - {{data.PhNumber}}</label><label ng-repeat="data in doctoraddress.ExtDetails.AddressCommunication" ng-if="data.PhType == 'M'">{{data.PhCntryCD}} - {{data.PhNumber}}</label>
                                                <div class="sub_line"></div>
                                            </div>
                                        </div>
                                        <div class="timing_wrapper wd_100">
                                            <div class="time_icon">
                                                <img src="./img/clock_icon.png" />
                                            </div>
                                            <div class="timing">
                                                <label>{{currentdaycode}}</label>
                                                <label ng-repeat="data in doctorinfo.doctorConsultation | filter:{AddressID:doctoraddress.AddressID,'Active':'Y', 'DayCD':currentdaycode}"><span ng-if="data.DayCD == currentdaycode && data !== undefined">{{data.StartTime}} - {{data.EndTime}}</span><span ng-if="data.DayCD != currentdaycode && $index == 0">Closed</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--End My practice-->
        </div>
        <!--End Tab contents-->
    </div>
    <!--End tab_conatiner-->

</div>
<!--ProfileImg-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="re-photo-wrap" class="modal-dialog" role="document">
        <div class="re-photo-wrap">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" border 0;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload a Profile Picture</h4>
            </div>
            <div class="re-photo-inner">
                <ul class="re-tab">
                    <li class="{{ imgTabno ==1 ? 'active' :''}}">
                        <a href="javascript:;" ng-click="imgTabno=1">
                            Take Photo
                        </a>
                    </li>
                    <li class="{{imgTabno ==2 ? 'active' :''}}">
                        <a href="javascript:;" ng-click="upload()">
                            Upload Photo
                        </a>
                    </li>
                </ul>
                <div ng-show="imgTabno ==1">
                    <div>
                        <div class="no-video alert-error ng-scope" ng-show="webcamError">
                            <img src="img/new-img/no-video.png">
                            <h5>We can't find your webcam.</h5>
                            <span>Check to be sure your webcam is connected and installed properly.</span>
                        </div>
                        <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                        <div class="text-center" ng-hide="webcamError">
                            <a href="" class="take-photo-btn" ng-click="makeSnapshot()" ng-hide="openset"><img src="img/new-img/take_photo_png.png"></a>
                        </div>
                        <canvas id="snapshot" width="300" height="300" hidden></canvas>
                    </div>
                    <div class="choose-local-storage">
                        <div class="{{ photoTaken == true ? 're-photo-preview' : 're-photo-preview upp'}}" data-ng-click="openLightboxModal($index)">
                            <img data-ng-src="{{snapshotData}}">
                            <div class="cropArea">
                                <img-crop image="snapshotData" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="openset">
                        <p>Are you sure you want to upload this photo ?</p>
                        <button type="button" class="btn btn-filled" ng-click="closeSet()">
                            No
                        </button>
                        <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
                <div class="re-up-photo" ng-show="imgTabno ==2">
                    <div class="crop-upload" ng-show="myImage.length > 0">
                        <img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div class="re-up-photo-info" ng-show="myImage.length == 0">
                        <i class=""></i>
                        <img class="upload-icon" src="img/new-img/max-upload-icon.png">
                        <p>
                            Maximum File Size is 5MB
                            <br> Supported File Formats - .jpg, .png
                        </p>
                    </div>
                    <!--<div class="row">
            <div class="col-md-12">
                <div class="browsefilebtn">
                    <label for="file" class="btn btn-primary photo-lbl-popup" accept="image/*" ng-click="brwseOpen()" ng-show="browseOpenSet && myImage.length ==0">Browse file</label>
                    <input type="file" id="fileInput" class="photo-inp-brwse" accept="image/*">
                </div>
            </div>
        </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="browsefilebtn">
                                <div class="image-upload-container browse-btn-label" ng-show="browseOpenSet && myImage.length ==0">
                                    <img src="img/new-img/upload-file-img-lg.png" style="cursor:pointer" /> Browse file
                                    <input type='file' title="No file chosen" ngf-select="handleFileSelect($files)" ngf-pattern="'image/*'" ngf-accept="'image/*'" data-max-size="5MB" multiple />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="myImage.length > 0">
                        <p>Are you sure you want to upload this photo ?</p>
                        <button type="button" class="btn btn-filled" ng-click="clearImg()">
                            No
                        </button>
                        <button type="button" ng-click="snap(myCroppedImage)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>