<div class="dashboardwrap" scroll>
    <div ng-show="showGraph">
        <div class="navbar dashboardnav">
            <div class="appintment_view_pane_dashboard ">
                <div class="row-fluid">
                    <div class="col-lg-3">
                        <label class="dashfillbl">From</label>
                        <input type="text" class="form-control icons-calendar" ng-model="dashboard.startDate" datepickerreport ng-change="getDoctor(dashboard.hospitalList,'',true)">
                    </div>
                    <div class="col-lg-3">
                        <label class="dashfillbl">To</label>
                        <input type="text" class="form-control  icons-calendar" ng-model="dashboard.endDate" datepickerreport ng-change="getDoctor(dashboard.hospitalList,'',true)">
                    </div>
                    <div class="col-lg-3">
                        <label class="dashfillbl">Select Location</label>
                        <select class="form-control select-dropdown" ng-model="dashboard.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(dashboard.hospitalList)"></select>
                    </div>
                    <div class="col-lg-3">
                        <label class="dashfillbl">Select User</label>
                        <select class="form-control select-dropdown" ng-model="dashboard.doctorList" ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctors()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashpagecontent">
            <div class="row-fluid">
                <div class="col-lg-2 no-pad sec-left">
                    <div class="dash_sidebar left-navigation" ng-init="menu = 'Snapshot'">
                        <ul class="dnavmenu">
                            <li ng-class="(menu == 'Snapshot')?'activeSideMenu nav-records':'nav-records'">
                                <a href="javascript:;" ng-click="menu = 'Snapshot'" class="dashSideMenuBar" title="Snapshot">
                                    <img src="img/dashboard/snapshot_active.png" class="active">
                                    <img src="img/dashboard/snapshot.png" class="deactive">
                                    <span>Snapshot</span>
                                </a>
                            </li>
                            <!-- <li ng-class="(menu == 'Report')?'activeSideMenu nav-records':'nav-records'">
                                <a href="javascript:;" ng-click="menu = 'Report'" class="dashSideMenuBar" title="Report">
                                    <img src="img/dashboard/payment_selected.png" class="active">
                                    <img src="img/dashboard/payment_unselected.png" class="deactive">
                                    <span>Report</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- Graph details starts here -->
                <div class="col-lg-10 dashboardSection sec-right">
                    <!-- Snapshot -->
                    <div class="tile_count mt-20" id="Snapshot" ng-show="menu == 'Snapshot'">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <div class="snap" ng-class="showTotalRevenue?'':'loading'">
                                    <div class="bg-icon one">
                                        <img class="dash1" src="images/dashboard/new.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="count text-muted" ng-bind="totalCashReceived |  number"></span>
                                    <div class="clearfix"></div>
                                    <span class="count_bottom text-muted"><span class="green">To Triage </span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalOutstanding?'':'loading'">
                                    <div class="bg-icon two">
                                        <img class="dash1" src="images/dashboard/awaiting-booking.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="count text-green" ng-bind="totalOutstanding |  number"></span>
                                    <div class="clearfix"></div>
                                    <span class="count_bottom text-green"><span class="green">Awaiting Booking </span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showPatientCount?'':'loading'">
                                    <div class="bg-icon three">
                                        <img class="dash1" src="images/dashboard/booked.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-pink" ng-bind="patientCount"></div>
                                    <span class="count_bottom text-pink"><span class="green">Booked </span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalTreatment?'':'loading'">
                                    <div class="bg-icon four">
                                        <img class="dash1" src="images/dashboard/routine.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-success" ng-bind="treatmentCountSnap"></div>
                                    <span class="count_bottom text-success"><span class="green">Routine</span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalAppointment?'':'loading'">
                                    <div class="bg-icon five">
                                        <img class="dash1" src="images/dashboard/completed.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-primary" ng-bind="totalappointment"></div>
                                    <span class="count_bottom text-primary"><span class="green">Completed </span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <div class="snap" ng-class="showTotalRevenue?'':'loading'">
                                    <div class="bg-icon six">
                                        <img class="dash1" src="images/dashboard/phone-call.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="count text-muted" ng-bind="totalCashReceived |  number"></span>
                                    <div class="clearfix"></div>
                                    <span class="count_bottom text-muted"><span class="green">Awaiting for Call</span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalOutstanding?'':'loading'">
                                    <div class="bg-icon seven">
                                        <img class="dash1" src="images/dashboard/urgent.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="count text-green" ng-bind="totalOutstanding |  number"></span>
                                    <div class="clearfix"></div>
                                    <span class="count_bottom text-green"><span class="green">Urgent</span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showPatientCount?'':'loading'">
                                    <div class="bg-icon eight">
                                        <img class="dash1" src="images/dashboard/issues.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-pink" ng-bind="patientCount"></div>
                                    <span class="count_bottom text-pink"><span class="green">Issues </span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalTreatment?'':'loading'">
                                    <div class="bg-icon nine">
                                        <img class="dash1" src="images/dashboard/reject.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-success" ng-bind="treatmentCountSnap"></div>
                                    <span class="count_bottom text-success"><span class="green">Reject</span></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                                <div class="snap" ng-class="showTotalTreatment?'':'loading'">
                                    <div class="bg-icon ten">
                                        <img class="dash1" src="images/dashboard/published.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="count text-success" ng-bind="treatmentCountSnap"></div>
                                    <span class="count_bottom text-success"><span class="green">Published</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="report mb-50" id="Report" ng-show="menu == 'Report'">
                        <div class="table-responsive">
                            <table class="table color-theme-one">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Appointment Date</th>
                                        <th>Status</th>
                                        <th>Patient</th>
                                        <th>Appointment Type</th>
                                        <th>Region(s)</th>
                                        <th>Review Date</th>
                                        <th>Reviewed By</th>
                                        <th>Referrer</th>
                                        <th>GP Practice Name</th>
                                        <th>Report</th>
                                    </tr>
                                </thead>
                                <tbody ng-init="toggle = 1">
                                    <tr>
                                        <td ng-click="toggle = !toggle"><span class="toggle open" ng-class="{'open': toggle == 1}"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                        <td>25/04/2017<br>14:10</td>
                                        <td class="appointment-danger">Issue</td>
                                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr CarolynOooo SmithO</a></td>
                                        <td>US - General Abdominal - 20 Minutes</td>
                                        <td></td>
                                        <td>05/12/2017<br>14:24</td>
                                        <td>Dianne Peter</td>
                                        <td>DR J Maklin</td>
                                        <td>Earlstone & Seabank Medical Center - WGP</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="inner" ng-show="toggle == 1">
                                        <td colspan="15">
                                            <table class="table color-theme-two mb-10">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>User</th>
                                                        <th>Practitioner</th>
                                                        <th>Location</th>
                                                        <th>Activity</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>26-08-2018 13:16</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>First call</td>
                                                        <td>Call Unsuccessful</td>
                                                    </tr>
                                                    <tr>
                                                        <td>27-08-2018 13:16</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>2nd Call</td>
                                                        <td>Call Unsuccessful</td>
                                                    </tr>
                                                    <tr>
                                                        <td>28-08-2018 18:16</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>3rd call</td>
                                                        <td>Patient Detail Updated</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-08-2018 13:16</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>4th Call</td>
                                                        <td>Appoinment Booked <b>(08-06-2018 06:12 PM)</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table color-theme-three mb-10">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>User</th>
                                                        <th>Practitioner</th>
                                                        <th>Location</th>
                                                        <th>Activity</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>26-08-2017 10:00</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="appointment-danger">DNA</td>
                                                        <td>Patient not came for test</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                        <td>03/09/2017<br>08:30</td>
                                        <td class="appointment-success-light">Completed</td>
                                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">MsRogerO EdwardO</a></td>
                                        <td>US - Abdominal & Pelvis Female - 30 Minutes</td>
                                        <td></td>
                                        <td>14/09/2017<br>21:29</td>
                                        <td>Shahzad Akram</td>
                                        <td>DR Timothy Du Sautoy</td>
                                        <td>Enderby Medical Center - ELR</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                        <td>03/09/2017<br>09:00</td>
                                        <td class="appointment-success-light">Completed</td>
                                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr ScottO SandersO</a></td>
                                        <td>US - Musculoskeletal - 20 Minutes</td>
                                        <td></td>
                                        <td>25/04/2016<br>14:10</td>
                                        <td>Dianne Peter</td>
                                        <td>DR J Maklin</td>
                                        <td>Earlstone & Seabank Medical Center - WGP</td>

                                        <td class="min-wids">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                        <td>25/04/2016<br>14:10</td>
                                        <td class="appointment-danger">Issue</td>
                                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr Carolyn Smith</a></td>
                                        <td>US - General Abominal - 20 Minutes</td>
                                        <td></td>
                                        <td>25/04/2016<br>14:10</td>
                                        <td>Dianne Peter</td>
                                        <td>DR J Maklin</td>
                                        <td>Earlstone & Seabank Medical Center - WGP</td>

                                        <td class="min-wids">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                        <td>25/04/2016<br>14:10</td>
                                        <td class="appointment-success-light">Completed</td>
                                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr Carolyn Smith</a></td>
                                        <td>US - General Abominal - 20 Minutes</td>
                                        <td></td>
                                        <td>25/04/2016<br>14:10</td>
                                        <td>Dianne Peter</td>
                                        <td>DR J Maklin</td>
                                        <td>Earlstone & Seabank Medical Center - WGP</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>