<!--Font-->
<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />-->
<style>
.loading{position: relative;}
.loading:after{
    z-index:10;
    content:'';
    background:rgba(255, 255, 255, 0.6) url('images/loading.gif') no-repeat center;
    width:100%;
    height:100%;
    margin-bottom:15px;
    position:absolute;
    top:0;
    left:0;
    background-size: 30px;
}
#BranchTree , #TreatmentTree, #CampaignTree, #DoctorTree{
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
.switch-toggle.well{
    width: 190px;
    background:#d0d0d0 !important;
}
.rTableCell{
    vertical-align:top;
}
    .well.switch-toggle label {
        color: #ffffff !important;
    }
    .switch-toggle .btn-primary, .btn-group-vertical .btn-primary{
        background:#6bcb66 !important;
    }
</style>

<div class="dashboardwrap" scroll>
   <div ng-show="showGraph">
      <div class="navbar dashboardnav">
         <div class="appintment_view_pane_dashboard ">
            <div class="row-fluid">
               <div class="col-lg-3">
                  <label class="dashfillbl">From</label>
                  <input type="text" class="form-control icons-calendar" ng-model="dashboard.startDate" datepickerreport ng-change="getDoctor(dashboard.hospitalList,'',true)">
               </div>
               <div class="col-lg-3">
                  <label class="dashfillbl">To</label>
                  <input type="text" class="form-control  icons-calendar" ng-model="dashboard.endDate" datepickerreport ng-change="getDoctor(dashboard.hospitalList,'',true)">
               </div>
               <div class="col-lg-3">
                  <label class="dashfillbl">Select Branch</label>
                  <select class="form-control select-dropdown" ng-model="dashboard.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(dashboard.hospitalList)"></select>
               </div>
               <div class="col-lg-3">
                  <label class="dashfillbl">Select User</label>
                  <select class="form-control select-dropdown" ng-model="dashboard.doctorList" ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctors()"></select>
               </div>
            </div>
         </div>
      </div>
      <div class="dashpagecontent">
         <div class="row-fluid">
            <div class="col-lg-2 no-pad">
               <div class="dash_sidebar left-navigation">
                  <ul class="dnavmenu">
                     <li ng-class="(activeMenu.value == 'Snapshot')?'activeSideMenu nav-records':'nav-records'" >
                        <a href="javascript:;" ng-click="activeMenuVal('Snapshot')" class="dashSideMenuBar" title="Snapshot">
                        <img src="img/dashboard/snapshot.png" ng-if="activeMenu.value != 'Snapshot'">
                        <img src="img/dashboard/snapshot_active.png" ng-if="activeMenu.value == 'Snapshot'">
                        <span>Snapshot</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Payment')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;"  ng-click="activeMenuVal('Payment')"  class="dashSideMenuBar" title="Payment">
                        <img src="img/dashboard/payment_unselected.png" ng-if="activeMenu.value != 'Payment'">
                        <img src="img/dashboard/payment_selected.png" ng-if="activeMenu.value == 'Payment'">
                        <span>Payment</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Patients')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;" ng-click="activeMenuVal('Patients')" class="dashSideMenuBar" title="Patients">
                        <img src="img/dashboard/patients.png" ng-if="activeMenu.value != 'Patients'">
                        <img src="img/dashboard/patients_active.png" ng-if="activeMenu.value == 'Patients'">
                        <span>Patients</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Appointment')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;" ng-click="activeMenuVal('Appointment')" class="dashSideMenuBar" title="Appointment">
                        <img src="img/dashboard/appointments.png" ng-if="activeMenu.value != 'Appointment'">
                        <img src="img/dashboard/appointments_active.png" ng-if="activeMenu.value == 'Appointment'">
                        <span>Appointment</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Inventary')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;"  class="dashSideMenuBar" ng-click="activeMenuVal('Inventary')" title="Inventory">
                           <img src="img/dashboard/inventory.png" ng-if="activeMenu.value != 'Inventary'">
                           <img src="img/dashboard/inventory_active.png" ng-if="activeMenu.value == 'Inventary'">
                           <span>Inventory</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'expenses')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;" class="dashSideMenuBar" ng-click="activeMenuVal('expenses')" title="expenses">
                        <img src="img/dashboard/expenses_active.png"  ng-if="activeMenu.value != 'expenses'">
                        <img src="img/dashboard/expenses_selected.png"  ng-if="activeMenu.value == 'expenses'">
                        <span>Total Expenses</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Doctors')?'activeSideMenu nav-records':'nav-records'" ng-click="activeMenuVal('Doctors')">
                        <a href="javascript:;"  class="dashSideMenuBar" ng-click="activeMenuVal('Doctors')" title="Doctors">
                        <img src="img/dashboard/doctors.png" ng-if="activeMenu.value != 'Doctors'">
                        <img src="img/dashboard/doctors_active.png" ng-if="activeMenu.value == 'Doctors'">
                        <span>Doctors</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'campaign')?'activeSideMenu nav-records':'nav-records'">
                        <a href="javascript:;"  class="dashSideMenuBar" ng-click="activeMenuVal('campaign')" title="campaign">
                           <img src="img/dashboard/campaigns.png" ng-if="activeMenu.value != 'campaign'">
                           <img src="img/dashboard/campaigns_active.png" ng-if="activeMenu.value == 'campaign'">
                           <span>Campaign</span>
                        </a>
                     </li>
                     <li ng-class="(activeMenu.value == 'Leads')?'activeSideMenu nav-records':'nav-records'" >
                        <a href="javascript:;" class="dashSideMenuBar" ng-click="activeMenuVal('Leads')">
                        <img src="img/dashboard/leads.png" ng-if="activeMenu.value != 'Leads'">
                        <img src="img/dashboard/leads_active.png" ng-if="activeMenu.value == 'Leads'">
                        <span>Leads</span>
                        </a>
                     </li>
                     <li class="nav-records submenuParent">
                        <a href="javascript:;" class="dashSideMenuBar">
                        <img src="img/dashboard/others.png">
                        <span>Others</span>
                        </a>
                        <ul class="submenu"> 
						     <li ng-hide="urlpath || HospitalNewCD == 'GOCLINIC'" ng-click="showPage('SmsRprt')">SMS Report</li> 
                            <li ng-click="showPage('LabRprt')">Lab Order</li> 
						    <li ng-click="showPage('feedback')">Patient Feedback</li>
							<li ng-click="showPage('cancelbill')">Billing Cancellation Report</li>
                            <li ng-show="enablemisreport" ng-click="showPage('MIS')">MIS Reports</li> 
                            <li ng-click="showPage('doctordiary')">Doctor Diary</li> 
                            <li ng-click="showPage('referrals')">Top Referrals</li> 
                            <li ng-show="HospitalNewCD == 'GOCLINIC'" ng-click="showPage('payouts')">Payouts</li> 
                           <li ng-click="showPage('rated')">Top Rated Doctors</li> 
                           <li ng-click="showPage('consultant')">Top Consultant</li> 
                            <li ng-click="showPage('patientTrmt')">Trending Patient</li> 
                        </ul>
                        <!-- End of sub menu -->
                     </li>
                  </ul>
               </div>
            </div>
            <!-- Graph details starts here -->
            <div class="col-lg-10 no-pad dashboardSection">
               <!-- Snapshot -->
               <div class="row tile_count animated slideInDown" id="Snapshot">
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                     <div class="snap" ng-class="showTotalRevenue?'':'loading'">
                        <div class="bg-icon bg-icon-info-muted pull-left">
                           <img class="dash1" src="img/dashboard/total_revenue.png">
                        </div>
                        <div class="clearfix"></div>
                        <!-- <span class="count text-muted spanCurrency" ng-bind="currencyType"></span> --> <span class="count text-muted"  ng-bind="totalCashReceived |  number"></span>
                        <div class="clearfix"></div>
                        <span class="count_bottom text-muted"><span class="green">Total Revenue ({{currencyType}})</span></span>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                     <div class="snap" ng-class="showTotalOutstanding?'':'loading'">
                        <div class="bg-icon bg-icon-info-green pull-left">
                           <img class="dash1" src="img/dashboard/outstanding.png">
                        </div>
                        <div class="clearfix"></div>
                        <!-- <span class="count text-green spanCurrency" ng-bind="currencyType"></span>   -->
                        <span class="count text-green" ng-bind="totalOutstanding |  number"></span >
                        <div class="clearfix"></div>
                        <span class="count_bottom text-green"><span class="green">Total Outstanding ({{currencyType}})</span></span>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                     <div class="snap" ng-class="showPatientCount?'':'loading'">
                        <div class="bg-icon bg-icon-info-pink pull-left">
                           <img class="dash1" src="img/dashboard/patient.png">
                        </div>
                        <div class="clearfix"></div>
                        <div class="count text-pink" ng-bind="patientCount"></div>
                        <span class="count_bottom text-pink"><span class="green">No.of Patient </span>visits</span>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                     <div class="snap" ng-class="showTotalTreatment?'':'loading'">
                        <div class="bg-icon bg-icon-info-success pull-left">
                           <img class="dash1" src="img/dashboard/sales.png">
                        </div>
                        <div class="clearfix"></div>
                        <div class="count text-success" ng-bind="treatmentCountSnap"></div>
                        <span class="count_bottom text-success"><span class="green">Total Treatments</span></span>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
                     <div class="snap" ng-class="showTotalAppointment?'':'loading'">
                        <div class="bg-icon bg-icon-info-prim pull-left">
                           <img class="dash1" src="img/dashboard/appoinment.png">
                        </div>
                        <div class="clearfix"></div>
                        <div class="count text-primary" ng-bind="totalappointment"></div>
                        <span class="count_bottom text-primary"><span class="green">Appointment </span>count</span>
                     </div>
                  </div>
               </div>
               <!-- ENd Snapshot -->
               <!-- Payment -->

               <!-- Treanding reports -->
               <div class="row" id="treatment">
                  <div class="col-lg-6"  ng-class="showTrendingTreatments?'':'loading'">
                     <!-- treatment with data -->
                     <div class="card" ng-show="treatmentResultView && treatmentView" >
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Treatment</span>
                           </div>
                           <div class="col-lg-4">
                              <a href="javascript:;" ng-click="showPage('treatment')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="gridwrapper">
                            <div id="TreatmentTree"></div>
                        </div>
                     </div>
                     <div class="card" ng-show="!treatmentResultView || !treatmentView">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Treatments</span>
                           </div>
                        </div>
                        <div class="row">
                           <div class="text-center">
                              <div class="dash-features no-data" ng-show="!treatmentResultView && treatmentView">
                                   <img src="img/no-data/no feature.png">
                                   <div class="msg">
                                       <p class="goback-text">No reports to display</p>
                                       <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                           <br> to view detailed reports.
                                       </p>
                                   </div>
                               </div>
							   <div class="dash-features no-data" ng-show="!treatmentView">
                                   <img src="img/no-data/no permissions.png">
                                   <div class="msg">
                                        <p class="goback-text">You have no permission to view this report</p>
										<p class="no-records-txt-line2">Please contact the administrator of your hospital / clinic to view this report.
										</p>
                                   </div>
                               </div>
                           </div>
                        </div>
                     </div> 
                  </div>
                  <div class="col-lg-6"  ng-class="showTrendingbranches?'':'loading'">
                     <!-- Branch with value -->
                     <div class="card" ng-show="branchView && branchResultView">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Branch 
                              </span>
                           </div>
                           <div class="col-lg-4">
                              <a href="javascript:;"  ng-click="showPage('branch')" data-original-title="" title="" class="viewIconDetail pull-right" ng-show="(dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName == 'All' && dashboard.doctorList.FullName == 'All') && readAdminAccess">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div> 
                        </div>

                        <div class="gridwrapper" ng-show="(dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName == 'All' && dashboard.doctorList.FullName == 'All') && readAdminAccess">
                           <div id="BranchTree"></div>
                        </div>
                        <div class="gridwrapper" ng-show="(dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName != 'All' || dashboard.doctorList.FullName != 'All') && readAdminAccess" style="height: 236px;">
                           <div ng-include="" src="'templates/dashboard/pages/accessAllvalue.html'" ng-hide="Branches"></div>
                        </div>
                        <div class="gridwrapper" ng-show="!readAdminAccess">
                           <div ng-include="" src="'templates/dashboard/reports/accessid.html'" ng-hide="Branches"></div>
                        </div>
                     </div>
                     <div class="card" ng-show="!branchView || !branchResultView">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Branches</span>
                           </div>
                        </div>
                         <div class="row">
                             <div class="text-center">
                                 <div class="dash-features no-data" ng-show="!branchResultView && branchView">
                                     <img src="img/no-data/no feature.png">
                                     <div class="msg">
                                         <p class="goback-text">No reports to display</p>
                                         <p class="no-records-txt-line2">
                                             There is no data to display. Please try changing the time span, clinic or doctor
                                             <br> to view detailed reports.
                                         </p>
                                     </div>
                                 </div>
								 <div class="dash-features no-data" ng-show="!branchView">
                                   <img src="img/no-data/no permissions.png">
                                   <div class="msg">
                                        <p class="goback-text">You have no permission to view this report</p>
										<p class="no-records-txt-line2">Please contact the administrator of your hospital / clinic to view this report.
										</p>
                                   </div>
                               </div>
                             </div>
                         </div>
                     </div>
                  </div>
               </div>
               <!-- End of treanding reports -->
               <div class="" id="Payment">
                  <div class="row">
                     <div class="col-lg-9">
                        <span class="text-dark header-title m-t-0">Target Based Revenue</span>
                        <span style="font-size:12px;display:block">(All Revenues &amp; Targets are calculated from 1st of every month)</span>
                        
                     </div>
                     <!-- <div class="col-lg-3">
                        <a href="javascript:;" ng-click="showPage('cash')" data-original-title="" title="" class="viewIconDetail pull-right" ng-show="cashreceivedView">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                     </div> -->
                     <div class="clearfix"></div>
                     <div class="col-lg-4" ng-show="readAdminAccess"  ng-class="showRevenueTarget?'':'loading'">
                        <div class="card revdashcard" ng-show="cashreceivedView" ng-class="(getTargetValue.targetRevenue == 0)?'zero':''">
                           <a href="javascript:;" ng-click="setTargetPopup=true" class="btn btn-primary setTargetBtn" ng-class="(getTargetValue.targetRevenue != 0)?'hide':'buttonNoTarget'">Set Target</a>
                           <div class="row">
                              <div class="col-md-6 text-left setTargetText">
                                 <p>Sales To Date</p>
                                 <span ng-bind="currencyType"></span> <span ng-bind="getTargetValue.totalRevenueAmt | number"></span>
                              </div>
                              <div class="col-md-6 text-right setTargetText">
                                 <p>Monthly Projection</p>
                                 <span ng-bind="currencyType"></span> <span ng-bind="getTargetValue.totalProjectedRevenueAmt | number"></span>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-lg-12">
                                 <div id="pieTargetDetails"></div>
                              </div>
                              <center><a href="javascript:;" ng-click="setTargetPopup=true" class="btn btn-primary setTargetBtn">Set Target</a></center>
                              <div class="col-md-6 text-left setTargetText">
                                 <p>To Date Target</p>
                                 <span ng-bind="currencyType"></span> <span ng-bind="getTargetValue.totalProjectedRevenueAmountTillDate | number"></span>
                              </div>
                              <div class="col-md-6 text-right setTargetText">
                                 <p>Monthly Target</p>
                                 <span ng-bind="currencyType"></span> <span ng-bind="getTargetValue.targetRevenue | number"></span>
                              </div>
                           </div>
                           <p>Your targeted daily projection should be: {{getTargetValue.UpcomingDailyTargettoBeAchieved | number}}
                        </div>
                        <div class="card" ng-show="!cashreceivedView">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div ng-include src="'templates/dashboard/reports/accessid.html'"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4" ng-show="!readAdminAccess">
                        <div class="card" style="height: 480px;">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div ng-include src="'templates/dashboard/pages/onlyadmin.html'"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8"  ng-class="showRevenue?'':'loading'">
                        
                        <div class="card revcardhgtt"  ng-show="cashreceivedView">
                           <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Revenue
                              </span>
                           </div>
                           <div class="col-lg-4">
                              <a href="javascript:;" ng-click="showPage('cash')" data-original-title="" title="" class="viewIconDetail pull-right" ng-show="cashreceivedView">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div> 
                        </div>
                           <ul class="nav nav-tabs tabs dashFilterBlockCR hide">
                              <li ng-class="(activeTabValue == 'branch')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeCashFilter('branch')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Branch</span> 
                                  </a> 
                              </li>  
                              <li ng-class="(activeTabValue == 'doctor')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeCashFilter('doctor')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Doctor</span> 
                                  </a> 
                              </li> 
                              <li ng-class="(activeTabValue == 'treatment')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeCashFilter('treatment')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Treatment</span> 
                                  </a> 
                              </li> 
                           </ul><br/>
                           <div class="row" ng-show="cashReceivedStatus">
                                
                              <div class="clearfix"></div>
                              <div id="cashReceivedData"></div>
                           </div>
                           <!-- returns no data found -->
                           <div class="row" ng-show="!cashReceivedStatus">
                              <div class="col-lg-12">
                                 <div class="text-center">
                                    <div class="dash-features no-data">
                                       <img src="img/no-data/no feature.png">
                                       <div class="msg">
                                          <p class="goback-text">No reports to display</p>
                                          <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                          <br> to view detailed reports.
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End of retuns no data found -->
                        </div>

                        <div class="card" ng-show="!cashreceivedView">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div ng-include src="'templates/dashboard/reports/accessid.html'"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="Outstanding"> 
                  <div class="row">
                     <!-- <div class="col-lg-8">
                        <span class="text-dark header-title m-t-0">Outstanding</span>
                        
                     </div>
                     <div class="col-md-4">
                           <a href="javascript:;" ng-click="showPage('outstanding')" data-original-title="" title="" class="viewIconDetail pull-right" ng-show="outstandingView">
                             <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                           </a>
                     </div> -->
                     <div class="col-lg-12">
                        <div class="card" ng-show="outstandingView"  ng-class="showOutstanding?'':'loading'">
                           <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Outstanding
                              </span>
                           </div>
                           <div class="col-lg-4">
                              <a href="javascript:;" ng-click="showPage('outstanding')" data-original-title="" title="" class="viewIconDetail pull-right" ng-show="outstandingView">
                             <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                           </a>
                           </div> 
                        </div>
                           <ul class="nav nav-tabs tabs dashFilterBlock hide">
                              <li ng-class="(activeTabValueOut == 'branch')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeOutFilter('branch')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Branch</span> 
                                  </a> 
                              </li> 
                              <li ng-class="(activeTabValueOut == 'doctor')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeOutFilter('doctor')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Doctor</span> 
                                  </a> 
                              </li> 
                              <li ng-class="(activeTabValueOut == 'treatment')?'tab dash_filter activeDashFilter':'tab dash_filter'" ng-click="changeOutFilter('treatment')">
                                  <a href="javascript:;" data-toggle="tab" aria-expanded="false" class=""> 
                                      <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                      <span class="hidden-xs">Treatment</span> 
                                  </a> 
                              </li> 
                           </ul>
                           <br/>
                           <div class="row" ng-show="outstandingStatus">
                              <div class="col-lg-12">
                                 <div id="baroutStanding"></div>
                              </div>
                           </div>
                           <!-- returns no data found -->
                           <div class="row" ng-show="!outstandingStatus">
                              <div class="col-lg-12">
                                 <div class="text-center">
                                    <div class="dash-features no-data">
                                         <img src="img/no-data/no feature.png">
                                         <div class="msg">
                                             <p class="goback-text">No reports to display</p>
                                             <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                                 <br> to view detailed reports.
                                             </p>
                                         </div>
                                     </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End of retuns no data found -->
                        </div>
                     </div>

                     <div class="card" ng-show="!outstandingView">
                        <div class="row">
                           <div class="col-lg-12">
                              <div ng-include src="'templates/dashboard/reports/accessid.html'"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End payment -->
               <!-- Patients  -->
               <div id="Patients">
                  <div class="row">
                     <div class="col-lg-4"  ng-class="showOutstanding?'':'loading'">
                        <!-- Access Patient true -->
                        <div class="card">
                           <div class="row">
                              <div class="col-lg-8">
                                 <span class="text-dark header-title m-t-0">Patient Visits</span>
                              </div>
                              <div class="col-lg-4" ng-show="patientVisitStatus">
                                 <a href="javascript:;"  ng-click="showPage('patient')" data-original-title="" title="" class="viewIconDetail pull-right">
                                         <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                                 </a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12" ng-class="(patientVisitStatus)?'':'visible_div'" ng-style="(patientVisitStatus)?'':positionZenotiStyle">
                                 <div id="parentcharts">
                                    <div id="piePatientType" class="childchartdiv"></div>
                                    <div id="piePatientGender" class="childchartdiv"></div>
                                    <div id="piePatientAge" class="childchartdiv"></div>
                                 </div>
                              </div>
                              <div ng-show="!patientVisitStatus">
                                 <div class="col-lg-12">
                                    <div class="text-center">
                                       <div class="dash-features no-data">
                                         <img src="img/no-data/no feature.png">
                                         <div class="msg">
                                             <p class="goback-text">No reports to display</p>
                                             <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                                 <br> to view detailed reports.
                                             </p>
                                         </div>
                                     </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4" id="Appointment"  ng-class="showTotalAppointment?'':'loading'">
                        <div class="card cardapptstatus">
                           <div class="row">
                              <div class="col-lg-8">
                                 <span class="text-dark header-title m-t-0">Appointment Status</span>

                              </div>
                              <div class="col-lg-4" ng-show="appointmentStatusview">
                                 
                                 <a href="javascript:;"  ng-click="showPage('appointment')" data-original-title="" title="" class="viewIconDetail pull-right">
                                         <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                                 </a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12" ng-class="(appointmentStatusview)?'':'visible_div'" ng-style="(appointmentStatusview)?'':positionZenotiStyle">
                                 <div id="pieAppointmentDts"></div>
                              </div>
                              <div ng-show="!appointmentStatusview">
                                 <div class="col-lg-12">
                                    <div class="text-center">
                                       <div class="dash-features no-data">
                                         <img src="img/no-data/no feature.png">
                                         <div class="msg">
                                             <p class="goback-text">No reports to display</p>
                                             <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                                 <br> to view detailed reports.
                                             </p>
                                         </div>
                                     </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-lg-4" id="communication"  ng-class="showCommunication?'':'loading'">
                        <div class="card cardapptstatus">
                           <div class="row">
                              <div class="col-lg-8">
                                 <span class="text-dark header-title m-t-0">Communication</span>

                              </div>
                              <div class="col-lg-4" ng-show="communicationStatus">
                                 <a href="javascript:;"  ng-click="excelSMSReports()" data-original-title="" title="" class="viewIconDetail pull-right">
                                         <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download
                                 </a>
                              </div>
                           </div>
                           <div class="row" ng-show="communicationStatus">
                              <div class="col-lg-12">
                                 <div id="pieCommunicationDetails"></div>
                              </div>
                           </div>
                           <!-- returns no data found -->
                           <div ng-show="!communicationStatus">
                              <div class="col-lg-12">
                                 <div class="text-center">
                                    <div class="dash-features no-data">
                                      <img src="img/no-data/no feature.png">
                                      <div class="msg">
                                          <p class="goback-text">No reports to display</p>
                                          <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                              <br> to view detailed reports.
                                          </p>
                                      </div>
                                  </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End of retuns no data found -->
                        </div>
                     </div>
                  </div>
               </div>
               <!-- eND patients -->
               <!-- Expenses & Referrals -->
               <div class="row" id="Inventary"  ng-class="showInventory?'':'loading'">
                  
                  <div class="col-lg-12" >
                     <div class="card customRowHeight">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Inventory</span>
                           </div>
                           <div class="col-lg-4">
                              
                              <a href="javascript:;" ng-click="showPage('inventory')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="row" ng-show="inventoryStatus">
                           <div class="col-lg-12">
                              <div id="inventoryData"></div>
                           </div>
                        </div>
                        <!-- returns no data found -->
                        <div ng-show="!inventoryStatus">
                           <div class="col-lg-12">
                              <div class="text-center">
                                 <div class="dash-features no-data">
                                   <img src="img/no-data/no feature.png">
                                   <div class="msg">
                                       <p class="goback-text">No reports to display</p>
                                       <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                           <br> to view detailed reports.
                                       </p>
                                       <a href="javascript:;" class="inventoryAddLink" ng-click="navigatePage()">Start adding your inventory in settings</a>
                                   </div>
                               </div>
                              </div>
                           </div>
                        </div>
                        <!-- End of retuns no data found -->
                     </div>
                  </div>
               </div>
               <!-- End Expenses & Referrals -->

               <div class="row" id="Doctors">
                  <div class="col-lg-6"  ng-class="showTrendingDoctors?'':'loading'">
                     <div class="card" ng-show="dutyView && AccessDutyDoc">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Doctors</span>

                           </div>
                           <div class="col-lg-4" ng-show="dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName == 'All' && dashboard.doctorList.FullName == 'All'">
                              
                              <a href="javascript:;"  ng-click="showPage('doctor')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="gridwrapper" ng-show="dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName == 'All' && dashboard.doctorList.FullName == 'All'">
                           
                           <div id="DoctorTree"></div>
                           
                        </div>
                        <div class="gridwrapper" ng-show="dashboard.hospitalList.HospitalInfo.HospitalDetails.HospitalName != 'All' || dashboard.doctorList.FullName != 'All'" style="height: 296px;">
                           
                           <div ng-include="" src="'templates/dashboard/pages/accessAllvalue.html'"></div>
                           
                        </div>
                     </div>
                     <div class="card" ng-show="!dutyView || !AccessDutyDoc">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Trending Doctors</span>
                           </div>
                        </div>
                         <div class="row">
                             <div class="text-center">
                                 <div class="dash-features no-data" ng-show="!dutyView && AccessDutyDoc">
                                   <img src="img/no-data/no feature.png">
                                   <div class="msg">
                                       <p class="goback-text">No reports to display</p>
                                       <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                           <br> to view detailed reports.
                                       </p>
                                   </div>
                               </div>
							   <div class="dash-features no-data" ng-show="!AccessDutyDoc">
                                   <img src="img/no-data/no permissions.png">
                                   <div class="msg">
                                        <p class="goback-text">You have no permission to view this report</p>
										<p class="no-records-txt-line2">Please contact the administrator of your hospital / clinic to view this report.
										</p>
                                   </div>
                               </div>
                             </div>
                         </div>
                       
                     </div>
                  </div>
                  <div class="col-lg-6" id="campaign"  ng-class="showCampaign?'':'loading'">
                     <div class="card" ng-show="campaignStatus">
                        <div class="row">
                           <div class="col-lg-4">
                              <span class="text-dark header-title m-t-0">Campaign</span>
                           </div>
                            <div class="col-lg-4">
                                <div class="switch-toggle well">
                                    <input id="set-tog-msg-no" btn-radio="'N'" value="N" ng-model="detailedPage.AppointmentVisit" ng-checked="detailedPage.AppointmentVisit == 'N' " name="view6" type="radio" ng-change="AppointmentVisit('REG',detailedPage.AppointmentVisit)">
                                    <label for="set-tog-msg-no" onclick="">Registration</label>
                                    <input id="set-tog-msg-yes" btn-radio="'Y'" value="Y" ng-model="detailedPage.AppointmentVisit" ng-checked="detailedPage.AppointmentVisit == 'Y' " name="view6" type="radio" ng-change="AppointmentVisit('REG',detailedPage.AppointmentVisit)">
                                    <label for="set-tog-msg-yes" onclick="">Appointment</label>
                                    <a class="btn btn-primary"></a>
                                </div>
                            </div>
                           <div class="col-lg-4">
                              <a href="javascript:;" ng-click="showPage('campaign')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        
                        <div class="gridwrapper" >
                           <div id="CampaignTree"></div>
                        </div>
                     </div>
					 <div class="card" ng-show="!campaignStatus">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Campaign</span>
                           </div>
                        </div>
                         <div class="row">
                             <div class="text-center">
                                 <div class="dash-features no-data">
                                     <img src="img/no-data/no feature.png">
                                     <div class="msg">
                                         <p class="goback-text">No reports to display</p>
                                         <p class="no-records-txt-line2">
                                             There is no data to display. Please try changing the time span, clinic or doctor
                                             <br> to view detailed reports.
                                         </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                       
                     </div>
                  </div>
               </div>

               <!-- Doctors -->
               <div class="row">
                  
                  <div class="col-lg-6" id="Leads" ng-class="showPharmaLeads?'':'loading'">
                     <div class="card cardpharmahgt">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Pharma Leads</span>
                           </div>
                           <div class="col-lg-4" ng-show="pharmaleadStatus">
                              <a href="javascript:;"  ng-click="showPage('pharmalead')" data-original-title="" title="" class="viewIconDetail pull-right"  ng-show="pharmaleadStatus">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="row" ng-show="pharmaleadStatus">
                           <div class="col-lg-12">
                              <div id="piePharmaDetails"></div>
                           </div>
                        </div>
                        <!-- returns no data found -->
                        <div ng-show="!pharmaleadStatus">
                           <div class="col-lg-12">
                              <div class="text-center">
                                 <div class="dash-features no-data">
                                   <img src="img/no-data/no feature.png">
                                   <div class="msg">
                                       <p class="goback-text">No reports to display</p>
                                       <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                           <br> to view detailed reports.
                                       </p>
                                   </div>
                               </div>
                              </div>
                           </div>
                        </div>
                        <!-- End of retuns no data found -->
                     </div>
                  </div>
                  <div class="col-lg-6" id="expenses" ng-class="showExpenses?'':'loading'">
                     <div class="card customRowHeight" ng-show="expensesView">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Expenses</span>

                           </div>
                           <div class="col-lg-4">
                              
                              <a href="javascript:;" ng-click="showPage('expenses')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="row" ng-show="expensesStatus">
                           <div class="col-lg-12">
                              <div id="expensesData"></div>
                           </div>
                        </div>
                        <!-- returns no data found -->
                        <div ng-show="!expensesStatus">
                           <div class="col-lg-12">
                              <div class="text-center">
                                 <div class="dash-features no-data">
                                      <img src="img/no-data/no feature.png">
                                      <div class="msg">
                                          <p class="goback-text">No reports to display</p>
                                          <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                              <br> to view detailed reports.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                           </div>
                        </div>
                        <!-- End of retuns no data found -->
                     </div>
                     <div class="card" ng-show="!expensesView">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Expenses</span>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div ng-include src="'templates/dashboard/reports/accessid.html'"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Doctors -->
			  	<div class="row" id="Feedback"  ng-class="showFeedback?'':'loading'">
                  
                  <div class="col-lg-12" >
                     <div class="card customRowHeight">
                        <div class="row">
                           <div class="col-lg-8">
                              <span class="text-dark header-title m-t-0">Patient Feedback</span>
                           </div>
                           <div class="col-lg-4">
                              
                              <a href="javascript:;" ng-click="showPage('feedback')" data-original-title="" title="" class="viewIconDetail pull-right">
                                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Details
                              </a>
                           </div>
                        </div>
                        <div class="row" ng-show="feedbackStatus">
                           <div class="col-lg-12">
                              <div id="feedbackData"></div>
                           </div>
                        </div>
                        <!-- returns no data found -->
                        <div ng-show="!feedbackStatus">
                           <div class="col-lg-12">
                              <div class="text-center">
                                 <div class="dash-features no-data">
                                   <img src="img/no-data/no feature.png">
                                   <div class="msg">
                                       <p class="goback-text">No reports to display</p>
                                       <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                                           <br> to view detailed reports.
                                       </p>
                                       
                                   </div>
                               </div>
                              </div>
                           </div>
                        </div>
                        <!-- End of retuns no data found -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div class="modal-overlay" ng-show="setTargetPopup==true"></div>
<div class="modal-common" ng-show="setTargetPopup==true ">
    <div class="modal-common-dialog">
        <div class="model-popup-header">
            <h4 class="modal-title " id="myModalLabel">Set Target</h4>
            <a id="close_popup " ng-click="setTargetPopup=false" class="light-font pull-right fclosepopup close_popupTarget" style=" ">x</a>
        </div>
        <div class="form_wrapper">
            <form name="targetForm" class="css-form" novalidate>
               <div class="form-group">
                  <input type="text" name="RevenueTarget" ng-model="targetData.RevenueTarget" class="form-control" placeholder="Enter the target value" required numbers-only/>
                  <div class="error-msg" ng-show="targetForm.$submitted || targetForm.RevenueTarget.$touched">
                     <span ng-show="targetForm.RevenueTarget.$error.required">Please enter the target value</span>
                  </div>
               </div>
               <div class="clearfix"></div>
               <p class="infoTarget">*Target set will be taken as monthly target</p>
               <!-- 
               <div class="form-group">
                  <select class="form-control" ng-model="targetData.TargetType">
                     <option value="MONTHLY">Monthly</option>
                  </select>
               </div> -->
               <div class="clearfix"></div>
               <button class="next-btn pull-right btn btn-primary" data-ng-click="setTarget(targetForm)">Save</button>
            </form>
        </div>
        <div class="clearfix "></div>
    </div>
</div>
<div ng-show="showData">
   <!-- Detailed page filter -->
   <div class="dashpagecontentdetailed">
      <div class="row-fluid">
         <div class="col-lg-12 no-pad dashboardSection-new">
                  
         <!-- End of Detailed page filter -->
         <div ng-include="'templates/dashboard/pages/patients.html'" ng-if="viewtype == 'patient'"></div>
         <div ng-include="'templates/dashboard/pages/appointments-reports.html'" ng-if="viewtype == 'appointment'"></div>
         <div ng-include="'templates/dashboard/pages/outstanding.html'" ng-if="viewtype == 'outstanding'"></div>
         <div ng-include="'templates/dashboard/pages/cash.html'" ng-if="viewtype == 'cash'"></div>
         <div ng-include="'templates/dashboard/pages/treatment.html'" ng-if="viewtype == 'treatment'"></div>
         <div ng-include="'templates/dashboard/pages/branch.html'" ng-if="viewtype == 'branch'"></div>
         <div ng-include="'templates/dashboard/pages/doctor.html'" ng-if="viewtype == 'doctor'"></div>
         <div ng-include="'templates/dashboard/pages/campaign.html'" ng-if="viewtype == 'campaign'"></div>
         <div ng-include="'templates/dashboard/pages/payouts.html'" ng-if="viewtype == 'payouts'"></div>
         <div ng-include="'templates/dashboard/pages/expenses.html'" ng-if="viewtype == 'expenses'"></div>
         <div ng-include="'templates/dashboard/pages/referrals.html'" ng-if="viewtype == 'referrals'"></div>
         <div ng-include="'templates/dashboard/pages/inventory.html'" ng-if="viewtype == 'inventory'"></div>
         <div ng-include="'templates/dashboard/pages/pharmalead.html'" ng-if="viewtype == 'pharmalead'"></div>
         <div ng-include="'templates/dashboard/pages/doctordiary.html'" ng-if="viewtype == 'doctordiary'"></div>
         <div ng-include="'templates/dashboard/pages/consultant.html'" ng-if="viewtype == 'consultant'"></div>
         <div ng-include="'templates/dashboard/pages/rated.html'" ng-if="viewtype == 'rated'"></div>
		 <div ng-include="'templates/dashboard/pages/feedback.html'" ng-if="viewtype == 'feedback'"></div>
		 <div ng-include="'templates/dashboard/pages/cancelbilling.html'" ng-if="viewtype == 'cancelbill'"></div>
         <div ng-include="'templates/dashboard/pages/TrendingPatientsTrmts.html'" ng-if="viewtype == 'patientTrmt'"></div>
         <div ng-include="'templates/dashboard/pages/laborder.html'" ng-if="viewtype == 'LabRprt'"></div>
	     <div ng-include="'templates/dashboard/pages/SmsReport.html'" ng-if="viewtype == 'SmsRprt'"></div>
      </div>
</div>

       <!-- MSI Reports starts-->
       <div id="misreport" class="tab-pane fade in active" ng-show="viewtype == 'MIS'">
           <div class="col-lg-3"  ng-show="showmisreports">
               <div class="marmistop">
                   <a href="javascript:;" class="back-list" style="margin-bottom:5px" ng-click="showPage('graphView')">Back to dashboard</a>
               </div>
           </div>
           <div ng-show="showmisreports" class="col-lg-12 clearfix">
               <form name="reportrequestform" novalidate class="appintment_view_pane">
                   <div class="row">
                       <div class="col-lg-3">
                           <label>Report Title</label>
                           <input type="text" class="form-control" placeholder="Enter Title" ng-model="reportname" name="reportname1" required>
                           <div class="error-mesg-wrap" ng-show="reportrequestform.$submitted || reportrequestform.reportname1.$touched">
                               <span class="list list-inset error-msg" ng-show="reportrequestform.reportname1.$error.required">Enter report title</span>
                           </div>
                       </div>
                       <div class="col-lg-7">
                           <label>Date Range </label>
                           <div class="row form-group">
                               <div class="col-lg-2">
                                   <input id="mistoday" class="radio-custom" type="radio" value="today" ng-model="radioVal">
                                   <label for="mistoday" class="radio-custom-label">Today</label>
                               </div>
                               <div class="col-lg-2 no-pad">
                                   <input id="mislastsevenday" class="radio-custom" type="radio" value="lastsevenday" ng-model="radioVal">
                                   <label for="mislastsevenday" class="radio-custom-label">Last 7 Days</label>
                               </div>
                               <div class="col-lg-2 no-pad">
                                   <input id="mislastfifteenday" class="radio-custom" type="radio" value="lastfifteenday" ng-model="radioVal">
                                   <label for="mislastfifteenday" class="radio-custom-label">Last 15 Days</label>
                               </div>
                               <div class="col-lg-2 no-pad">
                                   <input id="mislastthirtyday" class="radio-custom" type="radio" value="lastthirtyday" ng-model="radioVal">
                                   <label for="mislastthirtyday" class="radio-custom-label">Last 30 Days</label>
                               </div>
                               <div class="col-lg-2 no-pad">
                                   <input id="misspecificdate" class="radio-custom" type="radio" value="specificdate" ng-model="radioVal">
                                   <label for="misspecificdate" class="radio-custom-label">Specific Date</label>
                               </div>
                               <div class="col-lg-2 no-pad">
                                   <input id="misdaterange" class="radio-custom" type="radio" value="daterange" ng-model="radioVal">
                                   <label for="misdaterange" class="radio-custom-label">Date Range</label>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-lg-2"></div>
                               <div class="col-lg-2"></div>
                               <div class="col-lg-2"></div>
                               <div class="col-lg-2"></div>
                               <div class="col-lg-3 no-pad" ng-if="radioVal=='specificdate'">
                                   <input ng-model="$parent.rptspecdate" name="rptspecdate1" type="text" class="text-section popup-icon-calendar" datepickerreport required ng-change="setDateOnChange()">
                                   <div class="error-mesg-wrap" ng-show="reportrequestform.$submitted || reportrequestform.rptspecdate1.$touched">
                                       <span class="list list-inset error-msg" ng-show="reportrequestform.rptspecdate1.$error.required"> Date is required</span>
                                   </div>
                               </div>
                               <div ng-if="radioVal=='daterange'">
                                   <div class="col-lg-3 pull-right">
                                       <input ng-model="$parent.rptstartdate" name="rptstartdate1" type="text" class="text-section popup-icon-calendar" datepickerreport required datepicker-options="dateOptions">
                                       <div class="error-mesg-wrap" ng-show="reportrequestform.$submitted || reportrequestform.rptstartdate1.$touched">
                                           <span class="list list-inset error-msg" ng-show="reportrequestform.rptstartdate1.$error.required">Start Date is required</span>
                                       </div>
                                   </div>
                                   <div class="col-lg-3 pull-right">
                                       <input ng-model="$parent.rptenddate" name="rptenddate1" type="text" class="text-section popup-icon-calendar" datepickerreport required datepicker-options="dateOptions">
                                       <div class="error-mesg-wrap" ng-show="reportrequestform.$submitted || reportrequestform.rptenddate1.$touched">
                                           <span class="list list-inset error-msg" ng-show="reportrequestform.rptenddate1.$error.required">End Date is required</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-1">
                           <input type="submit" class="btn btn-primary" ng-click="addmisreportrequest(reportrequestform)" value="REQUEST NEW REPORT" ng-disabled="reportrequestform.$invalid" style="top: 15px;" />
                       </div>
                   </div>
               </form>
               <div class="report-details-wrap" style="margin-top:20px">
                   <div class="appintment_view_pane">
                       <!-- table -->

                       <div ng-show="data_show" ng-if="requestlist.length > 0" class="table-container data-grid" style="margin: 0">
                           <table class="table table-striped appointmentTableThBg appointmentlist mis-report-table">
                               <thead>
                                   <tr>
                                       <th>S No</th>
                                       <th width="30%">Title</th>
                                       <th>From Date</th>
                                       <th>To Date</th>
                                       <th>Requested</th>
                                       <th>Prepared</th>
                                       <th>Status</th>
                                       <th>
                                           <a href="" class="pull-right" data-tooltip="Refresh">
                                               <img id="refresh" src="img/icon-reload.png" alt="">
                                               <span class="app-ref-btn" ng-click="listingMISReport(1,10)">Refresh</span>
                                           </a>
                                       </th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr class="appointment-row" ng-repeat="report in requestlist">
                                       <td ng-show="currentPage == 1">{{$index + 1}}</td>
                                       <td ng-show="currentPage > 1">{{($index + 1) + ((currentPage-1)*maxSize)}}</td>
                                       <td>{{report.ReportDescription}}</td>
                                       <td>{{report.StartDate | date:'dd-MMMM-yyyy'}}</td>
                                       <td>{{report.EndDate | date:'dd-MMMM-yyyy'}}</td>
                                       <td>{{report.RequestDateTime | date:'dd-MMMM-yyyy'}}</td>
                                       <td>{{report.RequestDateTime | date:'dd-MMMM-yyyy'}}</td>
                                       <td ng-show="report.Status != 'INIT'">Completed</td>
                                       <td ng-show="report.Status=='INIT'">
                                           <div class="" data-tooltip="Click on Refresh">
                                               <img src="img/progress.gif" height="18px" width="18px">
                                               <span>Progress</span>
                                           </div>
                                       </td>
                                       <td ng-show="report.Status != 'INIT'">
                                           <div class="pull-right ">
                                               <a ng-click="download(report.Location)">Download</a>
                                               <span></span>
                                           </div>
                                       </td>
                                   </tr>
                               </tbody>
                           </table>
                           <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="$parent.currentPage" ng-change="pageChanged($parent.currentPage,viewtype)" on-select-page="setPage(page)" ng-show="requestlist.length > 0 && showPagination"></uib-pagination>
                       </div>

                       <!-- Empty state -->
                       <div class="billing-cominsoon text-center " ng-if="requestlist.length == 0">
                           <div class="dash-features no-data">
                               <img src="img/no-data/no feature.png">
                               <div class="msg">
                                   <p class="goback-text">No reports to display</p>
                                   <p class="no-records-txt-line2">
                                       There is no data to display. Please try changing the time span or Enter Report title
                                       <br> to view detailed reports.
                                   </p>
                               </div>
                           </div>
                       </div>
                       <!-- EMpty state -->
                   </div>
               </div>
           </div>
       </div>
       <!-- MIS Reports - Ends -->



<script>
    function hover(description) {
      var textShow;
      $(".rectAC").hover(function(event) {
         textShow = $(this).next('text').text();
         $(this).html("<title>"+textShow+"</title>");
      }, function() {
         $(this).remove("title");
      });
    }

</script>