<div class="dashboardwrap">
    <div class="dashpagecontent">
        <div class="row-fluid">
            <div class="col-lg-2 no-pad sec-left">
                <div class="dash_sidebar left-navigation" ng-init="menu = selectedValue">
                    <ul class="dnavmenu">
                        <li ng-class="(menu == 'Snapshot')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showDashboardAccess">
                            <a href="javascript:;" ng-click="menu = 'Snapshot'" class="dashSideMenuBar"
                                title="Snapshot">
                                <img src="img/dashboard_icon/Dashboard.png" class="active">
                                <img src="img/dashboard_icon/Dashboard_w.png" class="deactive">
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'CostAnalyticsReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showCostAnalyticsAccess">
                            <a href="javascript:;" ng-click="menu = 'CostAnalyticsReport'" class="dashSideMenuBar"
                                title="Report">
                                <img src="img/dashboard_icon/Analytics.png" class="active">
                                <img src="img/dashboard_icon/Analytics_w.png" class="deactive">
                                <span>Cost Analytics Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'Report')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showCostAccess">
                            <a href="javascript:;" ng-click="menu = 'Report'" class="dashSideMenuBar" title="Report">
                                <img src="img/dashboard_icon/Cost_Report.png" class="active">
                                <img src="img/dashboard_icon/Cost_Report_w.png" class="deactive">
                                <span>Cost Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'forecastReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="ForecastshowCostAccess">
                            <a href="javascript:;" ng-click="menu = 'forecastReport'" class="dashSideMenuBar" title="ForecastReport">
                                <img src="img/dashboard_icon/Cost_Report_wss.png" class="active">
                                <img src="img/dashboard_icon/Cost_Report_ws.png" class="deactive">
                                <span>Forecast Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'DailyReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showDailyAccess">
                            <a href="javascript:;" ng-click="menu = 'DailyReport'" class="dashSideMenuBar"
                                title="DailyReport">
                                <img src="img/dashboard_icon/Daily_Report.png" class="active">
                                <img src="img/dashboard_icon/Daily_Report_w.png" class="deactive">
                                <span>Daily Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'ReferralReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showReferralAccess">
                            <a href="javascript:;" ng-click="menu = 'ReferralReport'" class="dashSideMenuBar"
                                title="ReferralReport">
                                <img src="img/dashboard_icon/Referral_Report.png" class="active">
                                <img src="img/dashboard_icon/Referral_Report_w.png" class="deactive">
                                <span>Referral Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'AppointmentReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showAppointmentAccess">
                            <a href="javascript:;" ng-click="menu = 'AppointmentReport'" class="dashSideMenuBar"
                                title="AppointmentReport">
                                <img src="img/dashboard_icon/Appointment.png" class="active">
                                <img src="img/dashboard_icon/Appointment_w.png" class="deactive">
                                <span>Appointment Practice Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'AuditCriteria')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showClinicalAccess">
                            <a href="javascript:;" ng-click="menu = 'AuditCriteria'" class="dashSideMenuBar"
                                title="AuditCriteria">
                                <img src="img/dashboard_icon/Clinical.png" class="active">
                                <img src="img/dashboard_icon/Clinical_w.png" class="deactive">
                                <span>Clinical Audit Criteria</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'PatientsinSystemReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showPatientAccess">
                            <a href="javascript:;" ng-click="menu = 'PatientsinSystemReport'" class="dashSideMenuBar"
                                title="PatientsinSystemReport">
                                <img src="img/dashboard_icon/Patients.png" class="active">
                                <img src="img/dashboard_icon/Patients_w.png" class="deactive">
                                <span>Patients in System Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'ReferralDataWOIndication')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showReferralDataAccess">
                            <a href="javascript:;" ng-click="menu = 'ReferralDataWOIndication'" class="dashSideMenuBar"
                                title="ReferralDataWOIndication">
                                <img src="img/dashboard_icon/Ref_data.png" class="active">
                                <img src="img/dashboard_icon/Ref_data_w.png" class="deactive">
                                <span>Referral Data - Without Indications</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'AppointmentsWithIndication')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showReportAccess">
                            <a href="javascript:;" ng-click="menu = 'AppointmentsWithIndication'"
                                class="dashSideMenuBar" title="AppointmentsWithIndication">
                                <img src="img/dashboard_icon/Ref_app.png" class="active">
                                <img src="img/dashboard_icon/Ref_app_w.png" class="deactive">
                                <span>Report Appointments & GP Practice with Indication</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'RejectedReport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showReferralAccess">
                            <a href="javascript:;" ng-click="menu = 'RejectedReport'" class="dashSideMenuBar"
                                title="RejectedReport">
                                <img src="img/dashboard_icon/Referral_Report.png" class="active">
                                <img src="img/dashboard_icon/Referral_Report_w.png" class="deactive">
                                <span>Rejected Report</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'generalreport')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showGeneralReportAccess">
                            <a href="javascript:;" ng-click="menu = 'generalreport'" class="dashSideMenuBar"
                                title="General Report">
                                <img src="img/dashboard_icon/agent_stats.png" class="active">
                                <img src="img/dashboard_icon/agent_stats_w.png" class="deactive">
                                <span>General Stats</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'AgentStats')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showAgentstatsReportAccess">
                            <a href="javascript:;" ng-click="menu = 'AgentStats'" class="dashSideMenuBar"
                                title="AgentStats">
                                <img src="img/dashboard_icon/agent_stats.png" class="active">
                                <img src="img/dashboard_icon/agent_stats_w.png" class="deactive">
                                <span>Agent Stats</span>
                            </a>
                        </li>
                        <li ng-class="(menu == 'ExceptionNotes')?'activeSideMenu nav-records':'nav-records'"
                            ng-show="showExceptionNotesReportAccess">
                            <a href="javascript:;" ng-click="menu = 'ExceptionNotes'" class="dashSideMenuBar"
                                title="ExceptionNotes">
                                <img src="img/dashboard/snapshot_active.png" class="active">
                                <img src="img/dashboard/snapshot.png" class="deactive">
                                <span>Exception Notes Report</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Graph details starts here -->
            <div class="col-lg-10 dashboardSection sec-right">
                <!-- Snapshot -->
                <div class="" id="Snapshot" ng-show="menu == 'Snapshot'">
                    <div ng-include="'components/dashboard/snapshot.html'"></div>
                </div>
                <div class="" id="Snapshot" ng-show="menu == 'CostAnalyticsReport'">
                    <div ng-include="'components/dashboard/costAnalyticsReport/costanalyticreport.html'"></div>
                </div>
                <div class="" id="Report" ng-show="menu == 'Report'">
                    <div ng-include="'components/dashboard/costReport/report.html'"></div>
                </div>
               
                <div class="" id="forecastReport" ng-show="menu == 'forecastReport'">
                    <div ng-include="'components/dashboard/forecastReport/forecastReport.html'"></div>
                </div>
               
                <div class="" id="DailyReport" ng-show="menu == 'DailyReport'">
                    <div ng-include="'components/dashboard/dailyReport/dailyreport.html'"></div>
                </div>
                <div class="" id="ReferralReport" ng-show="menu == 'ReferralReport'">
                    <div ng-include="'components/dashboard/referralReport/referralreport.html'"></div>
                </div>
                <div class="" id="AppointmentReport" ng-show="menu == 'AppointmentReport'">
                    <div ng-include="'components/dashboard/appointmentPracticeReport/appointmentreport.html'"></div>
                </div>
                <div class="" id="AuditCriteria" ng-show="menu == 'AuditCriteria'">
                    <div ng-include="'components/dashboard/clinicalAuditCriteria/auditcriteriareport.html'"></div>
                </div>
                <div class="" id="PatientsinSystemReport" ng-show="menu == 'PatientsinSystemReport'">
                    <div ng-include="'components/dashboard/patientsInSystemReport/patientsinreport.html'"></div>
                </div>
                <div class="" id="ReferralDataWOIndication" ng-show="menu == 'ReferralDataWOIndication'">
                    <div ng-include="'components/dashboard/referralDataWOIndication/referraldataindication.html'"></div>
                </div>
                <div class="" id="AppointmentsWithIndication" ng-show="menu == 'AppointmentsWithIndication'">
                    <div
                        ng-include="'components/dashboard/reportAppointmentWithIndication/appointmentswithindication.html'">
                    </div>
                </div>
                <div class="" id="RejectedReport" ng-show="menu == 'RejectedReport'">
                    <div ng-include="'components/dashboard/rejected/rejectedreport.html'"></div>
                </div>
                <div class="" id="AgentStats" ng-show="menu == 'AgentStats'">
                    <div ng-include="'components/dashboard/agentStats/agentStats.html'"></div>
                </div>
                <div class="" id="generalreport" ng-show="menu == 'generalreport'">
                    <div ng-include="'components/dashboard/generalreport/generalreport.html'"></div>
                </div>
                <div class="" id="ExceptionNotes" ng-show="menu == 'ExceptionNotes'">
                    <div ng-include="'components/dashboard/exceptionNotesReport/exceptionNotesReport.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>