<div ng-controller="c7DashboardSnapshotController">
    <!-- <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="date-range">
                            <label for="range">Filter By Date
                                <em>*</em>
                            </label>
                            <div class="form-group no-mar">
                                <input class="form-input icons-calendar" ng-model="fromDate" placeholder="DD/MM/YYYY" type="text" referraldatepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-mar">
                            <label for="range">Select Location</label>
                            <select class="form-control" ng-model="selectBranch">
                                <option value="0">All</option>
                                <option ng-repeat="hospitalData in hospitalDoctorsList" value="{{hospitalData.HospitalInfo.HospitalDetails.HospitalID}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center pt-20">
                        <button class="btn btn-primary" ng-click="applyFilter()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="clsNewDash">
        <ul class="clearfix unstyled">
            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Triage.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Tottotriage}} </h3>
                        <p class=""> To Triage </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Awaiting.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totawaitingbooking}} </h3>
                        <p class=""> Awaiting Appointment </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Booked.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totbooked}} </h3>
                        <p class=""> Booked </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/follow-up.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totawaitingforcall}} </h3>
                        <p class=""> Awaiting follow-up </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Completed.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totcomplete}} </h3>
                        <p class="">Scan Completed </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Issues.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totissues}} </h3>
                        <p class=""> Issues </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Rejected.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totreject}} </h3>
                        <p class=""> Rejected </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Published.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totpublished}} </h3>
                        <p class=""> Late Cancellation </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Routine.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totroutine}} </h3>
                        <p class=""> Routine </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/Urgent.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Toturgent}} </h3>
                        <p class=""> Urgent </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/dvt.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totdvt}} </h3>
                        <p class=""> DVT </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="clsInnerContent">
                    <div class="" ng-class="showTotalRevenue?'':'loading'">
                        <div class="clsImg">
                            <img class="dash1" src="images/dashboard_icon/DNA.png">
                        </div>
                        <h3 class=""> {{dashboardCollection.Totdna}} </h3>
                        <p class=""> DNA </p>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <!-- <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap one" ng-class="showTotalRevenue?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/new.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted one-c bigger">{{dashboardCollection.Tottotriage}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-muted">
                    <span class="green">To Triage </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap two" ng-class="showTotalOutstanding?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/awaiting-booking.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted two-c bigger">{{dashboardCollection.Totawaitingbooking}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-green">
                    <span class="green">Awaiting Appointment </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap three" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/booked.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted three-c bigger">{{dashboardCollection.Totbooked}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Booked </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap four" ng-class="showTotalTreatment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/routine.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted four-c bigger">{{dashboardCollection.Totroutine}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-success">
                    <span class="green">Routine </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap five" ng-class="showTotalAppointment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Complete.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted five-c bigger">{{dashboardCollection.Totcomplete}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-primary">
                    <span class="green">Completed </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap six" ng-class="showTotalRevenue?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Follow up.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted six-c bigger">{{dashboardCollection.Totawaitingforcall}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-muted">
                    <span class="green">Awaiting follow-up </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap seven" ng-class="showTotalOutstanding?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/urgent.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted seven-c bigger">{{dashboardCollection.Toturgent}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-green">
                    <span class="green">Urgent </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap eight" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/issues.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted eight-c bigger">{{dashboardCollection.Totissues}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Issues </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap nine" ng-class="showTotalTreatment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/rejected.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted nine-c bigger">{{dashboardCollection.Totreject}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-success">
                    <span class="green">Rejected </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap ten" ng-class="showTotalAppointment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/published.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted ten-c bigger">{{dashboardCollection.Totpublished}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-success">
                    <span class="green">Published </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap eleven" ng-class="showTotalRevenue?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Gross_profit.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted eleven-c bigger">{{dashboardCollection.Totgrossprofit}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-muted">
                    <span class="green">GP </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap twelve" ng-class="showTotalOutstanding?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/percntage.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted twelve-c bigger">{{dashboardCollection.Totgrossprofitpercent}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-green">
                    <span class="green">GP % </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap thirteen" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Cost.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted thirteen-c bigger">{{dashboardCollection.Totcost}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Cost </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap fourteen" ng-class="showTotalTreatment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/gross.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted fourteen-c bigger">{{dashboardCollection.Totrevenue}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Revenue </span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-half-offset">
            <div class="snap fifteen" ng-class="showTotalAppointment?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/DNA.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted fifteen-c bigger">{{dashboardCollection.Totdna}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">DNA</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="snap sixteen" ng-class="showPatientCount?'':'loading'">
                <div class="bg-icon ">
                    <img class="dash1" src="images/dashboard/Capacity.png">
                </div>
                <div class="clearfix"></div>
                <span class="count text-muted sixteen-c bigger">{{dashboardCollection.Totcapacitypercent}}</span>
                <div class="clearfix"></div>
                <span class="count_bottom text-pink">
                    <span class="green">Capacity % </span>
                </span>
            </div>
        </div>
    </div> -->
</div>