<!--  GP server -->
<div class="add-new-branch animated">
    <div class="admin-top-header">
        <h4 ng-if="!edit_status">Add New Location</h4>
        <h4 ng-if="edit_status">Update Location</h4> 
        <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique justo, nec
            consequat turpis.</p>
    </div>
    <!-- Edit block -->
    <div class="new-branch-from new-flow" ng-if="!edit_status || edit_status">
        <div class="row">
            <form name="addUpdateBranchForm" novalidate>
                <div class="col-lg-5">
                    <a href="javascript:;" class="back-list" ng-click="pageShow('list',addUpdateBranchForm)">Back to
                        List</a>
                    <!-- Branch name -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Location Name <small>*</small></label>
                                <div
                                    class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="hospitalName"
                                        ng-model="hospitalParams.HospitalDetails.HospitalName"
                                        placeholder="Enter Location name" ng-maxlength="200" ng-minlength="0"
                                        required>
                                    <span
                                        ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.required"
                                        class="fm-error-text">Enter Location name</span>
                                    <span
                                        ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.minlength"
                                        class="fm-error-text">
                                        Too short!</span>
                                    <span
                                        ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.maxlength"
                                        class="fm-error-text">
                                        Too long!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Location Code <em>*</em></label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="scancentre"
                                        ng-model="hospitalParams.HospitalDetails.BranchCode" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Location Type <em>*</em></label>
                                <div class="fm-box">
                                    <select class="form-style" ng-model="hospitalParams.HospitalDetails.Clinictype"
                                        required>
                                        <option value="">Select</option>
                                        <option value="RegionalHub">Regional Hub</option>
                                        <option value="GP">GP</option>
                                        <option value="CommunityHub">Community Hub</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wraplookup">
                                <label>Postcode <em>*</em></label>
                                <div class="fm-box" id="branchaddr">
                                    <input type="text" class="form-style"
                                        ng-model="hospitalParams.HospitalAddress.PostCode" name="address1"
                                        placeholder="Search Postcode" style="width: calc(100% - 105px);" required>
                                    <button class="btn btn-filled" ng-click="getloockup()" data-target="#branchaddr"
                                        data-toggle="dropdown">Look Up</button>
                                    <ul class="dropdown-menu addressselect">
                                        <li ng-repeat="address in addressCollection" ng-click="selectpostcode(address)">
                                            {{address}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Address 1</label>
                                <div
                                    class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.address1.$touched) && addUpdateBranchForm.address1.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="address1" placeholder=""
                                        ng-model="hospitalParams.HospitalAddress.Address1" ng-maxlength="300"
                                        ng-minlength="0" required id="addressId">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Town</label>
                                <div
                                    class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.address2.$touched) && addUpdateBranchForm.address2.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="Town" placeholder=""
                                        ng-model="hospitalParams.HospitalAddress.CityTown" ng-maxlength="300"
                                        ng-minlength="0" required id="addressId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Address 2</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="address2"
                                        ng-model="hospitalParams.HospitalAddress.Address2" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>County</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="County"
                                        ng-model="hospitalParams.HospitalAddress.State" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Address 3</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="address3"
                                        ng-model="hospitalParams.HospitalAddress.Address3" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Region <em>*</em></label>
                                <div class="fm-box">
                                    <select class="form-style" ng-model="hospitalParams.HospitalAddress.DistrictRegion"
                                        required>
                                        <option value="">Select</option>
                                        <option ng-repeat="region in allRegion" value="{{region.regionid}}">
                                            {{region.regionname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Address 4</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="address4"
                                        ng-model="hospitalParams.HospitalAddress.Address4" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Fax No</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="FaxNo"
                                        ng-model="hospitalParams.HospitalPhone[1].FullNumber" placeholder=""
                                        numbers-only>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Telephone Day <em>*</em></label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="TelephoneDay"
                                        ng-model="hospitalParams.HospitalPhone[0].FullNumber" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Email</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style" name="email"
                                        ng-model="hospitalParams.HospitalDetails.EmailAddress" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <label>Appointment List Email <em>*</em></label>
                                <div class="fm-box">
                                    <input type="email" class="form-style" name="email"
                                        ng-model="hospitalParams.HospitalDetails.AppListEmail" placeholder="" required
                                        ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                <label>Description</label>
                                <div class="fm-box">
                                    <textarea cols="30" rows="5" ng-model="hospitalParams.HospitalDetails.Description"
                                        class="form-style"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                                    <div class="form-wrap">
                                        <label>Room Cost / Day (GBP)</label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbers-only ng-model="hospitalParams.HospitalDetails.RoomCost" class="form-style">
                                        </div>
                                    </div>
                                </div> -->
                    </div>
                    <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-wrap" ng-init="enab = true">
                                        <label>Cost of Consumables / Scan </label>
                                        <div class="fm-box">
                                            <div class="input-group">
                                                <input ng-model="hospitalParams.HospitalDetails.Consumables" numbersdots-only class="form-style" ng-disabled="Main.enab" value="0.5" style="margin: 0px">
                                                <span class="input-group-addon" data-toggle="tooltip" data-hover="true" title="Edit" ng-click="Main.enab = !Main.enab"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right mt-20 pt-10">
                                        <label class="control control--checkbox">
                                            <span>Consumables Apply All Locations</span>
                                            <input type="checkbox" ng-model="hospitalParams.HospitalDetails.isParentConsumables" ng-true-value="'Y'" ng-false-value="'N'">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                        <label>Triage Cost / patient</label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbers-only ng-model="hospitalParams.HospitalDetails.TriageCost" class="form-style">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                        <label>Exp per day</label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbers-only ng-model="hospitalParams.HospitalDetails.ExpPerDay" class="form-style">
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                    <div class="clearfix clsCostBlock">
                        <label> Costs</label>
                        <div class="inner-block">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <label>Room Cost / Day (GBP) <em>*</em></label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbersdots-only
                                                ng-model="hospitalParams.HospitalDetails.RoomCost" class="form-style"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <label>Room Cost / Half Day (GBP) <em>*</em></label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbersdots-only class="form-style"
                                                ng-model="hospitalParams.HospitalDetails.HalfDayRoomCost">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-wrap" ng-init="enab = true">
                                        <label>Consumables / Scan <em>*</em></label>
                                        <div class="fm-box">
                                            <!-- <div class="input-group">
                                                        <input ng-model="hospitalParams.HospitalDetails.Consumables" numbersdots-only class="form-style" ng-disabled="Main.enab" value="0.5" style="margin: 0px">
                                                        <span class="input-group-addon" data-toggle="tooltip" data-hover="true" title="Edit" ng-click="Main.enab = !Main.enab"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                    </div> -->
                                            <input ng-model="hospitalParams.HospitalDetails.Consumables"
                                                numbersdots-only class="form-style" value="0.5" class="form-style"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-bottom: 4px;">
                                    <div class="form-wrap">
                                        <label>Triage Cost / Patient <em>*</em></label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbersdots-only
                                                ng-model="hospitalParams.HospitalDetails.TriageCost" class="form-style"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <label>Expenses / Day <em>*</em></label>
                                        <div class="fm-box">
                                            <input cols="30" rows="5" numbersdots-only
                                                ng-model="hospitalParams.HospitalDetails.ExpPerDay" class="form-style"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="clearfix">
                                        <label class="control control--checkbox">
                                            <span> Apply the Same Cost to All the Locations (Consumables)</span>
                                            <input type="checkbox"
                                                ng-model="hospitalParams.HospitalDetails.isParentConsumables"
                                                ng-true-value="'Y'" ng-false-value="'N'">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="fm-action pull-right">
                            <button class="action-filled mr-10" type="button"
                                ng-click="pageShow('list')">Cancel</button>
                            <button class="btn btn-primary" type="submit" ng-click="submit(addUpdateBranchForm)"
                                ng-if="!edit_status" ng-disabled="!addUpdateBranchForm.$valid">Add Location</button>

                            <button class="btn btn-primary" type="submit" ng-click="submit(addUpdateBranchForm)"
                                ng-if="edit_status" ng-disabled="!addUpdateBranchForm.$valid">Update Location</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-lg-7">
                <div class="branch-location">
                    <h5>Mark Location in Google Map</h5>
                </div>

                <div class="google-map">
                    <div class="map-search-box">
                        <input type="text" class="form-style ml-box hide" placeholder="Search Location"
                            name="placeSearch" ng-model="placeval">
                        <!-- <button class="action-filled map-r-btn" type="button" ng-click="refreshMap()">Refresh</button> -->
                    </div>
                    <ng-map zoom="15" on-click="getpos($event)" id="mapID" default-style="true"
                        map-lazy-load="https://maps.google.com/maps/api/js"
                        center="{{((hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0) || (hospitalParams.HospitalAddress.Latitude  == '' && hospitalParams.HospitalAddress.Longitude == ''))?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}">
                        <marker
                            position="{{((hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0) || (hospitalParams.HospitalAddress.Latitude  == '' && hospitalParams.HospitalAddress.Longitude == ''))?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}"
                            title="c7" centered="true" on-dragend="getpos($event)" animation="Animation.BOUNCE"
                            animation="DROP" draggable="true">
                        </marker>
                    </ng-map>
                </div>
                <form>
                    <div class="form-group" style="margin-top: 30px;">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Notes.."
                            ng-model="hospitalParams.HospitalDetails.AboutHospital" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of edit block -->
</div>