
<!-- Branch listing -->
 <div ng-show="branchList" ng-include="'templates/admin/ScanCentres/branchListing.html'"></div>
<!-- End of Branch listing -->

<!-- Add / Update Branch -->
 <div ng-show="addUpdateBranch" ng-include="'templates/admin/ScanCentres/addUpdateBranch.html'"></div>
<!-- End of Add / Update Branch -->