<!-- Branch Listing -->
<div class="animated clsAdmin_new bg-white">
    <div class="row">
        <div class="col-sm-5">
            <div class="admin-top-header"> 
                <h4>Manage Location</h4>
                <p> ( Add, Edit, Delete, Search ) </p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="admin-form-type">
                <form>
                    <div class="input-group branch-type">
                        <input type="text" name="" class="form-style" placeholder="Search by Name / Contact Number / Code" ng-model="searchText.search" ng-change="searchBranch(searchText.search)">
                        <i class="fa search-patient-clearfield" ng-click="clearSearchVal()" style="left: 36%;top: 209px;display: block;" ng-if="searchText.search != ''"></i>

                          <span class="input-group-btn">
                            <button class="action-primary pull-right" ng-click="searchBranch(searchText.search)">Search</button>
                          </span>
                    </div>
                    <button type="button" href="javascript:;" class="btn btn-primary pull-right" ng-click="pageShow('add')">Add new Location</button>
                </form>
            </div>
        </div>
    </div>
    
    <!--ADMIN TAB CONTENT-->
  
    <div class="branch-data-list sep-top p-10">
         <div class="rTable color-theme-one table-responsive">
                <div class="rTableHeading" ng-show="branchDetails.length > 0">   
                    <div class="rTableHead">S.No</div>
                    <div class="rTableHead">Name</div>
                    <div class="rTableHead">Code</div>
                    <!-- <div class="rTableHead">Location</div> -->
                    <div class="rTableHead">Phone Number</div>
                    <div class="rTableHead">PostCode</div>
                    <div class="rTableHead"></div>
                </div>
                <div class="rTableBody">
                    <div ng-repeat="branchData in branchDetails" ng-class="(showDelete_{{$index}} == true)?'animated fadeIn rTableRow show-error':'rTableRow'" ng-if="branchData.HospitalInfo.HospitalDetails.ActiveIND == 'Y'">
                        <div class="rTableCell" ng-bind="(Main.currentPage - 1)*10 + $index + 1"></div>
                        <div class="rTableCell" ng-bind="branchData.HospitalInfo.HospitalDetails.HospitalName"></div>
                        <div class="rTableCell" ng-bind="(branchData.HospitalInfo.HospitalDetails.BranchCode != undefined)?branchData.HospitalInfo.HospitalDetails.BranchCode:'-'"></div>
                        <div class="rTableCell">
                            <span ng-if="branchData.HospitalInfo.HospitalPhone.length > 0">{{branchData.HospitalInfo.HospitalPhone[0].FullNumber}} </span>
                            <span ng-if="branchData.HospitalInfo.HospitalPhone.length == 0">-</span>
                        </div>
                        <div class="rTableCell" style="width: 30%" >{{branchData.HospitalInfo.HospitalAddress.PostCode}}</div>
                        <div class="rTableCell">
                            <a href="javascript:;" data-tooltip="Delete" class="admin-td-action atc-del" ng-click="showDelete_{{$index}}=true" ng-show="branchData.HospitalInfo.HospitalDetails.HospitalID != branchData.HospitalInfo.HospitalDetails.ParentHospitalID">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <a href="javascript:;" data-tooltip="Edit" class="admin-td-action atc-edit" ng-click="branch_details('edit',branchData,$index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div ng-class="(showDelete_{{$index}} == true)?'show-error data-row-delete':'data-row-delete'" ng-show="showDelete_{{$index}} == true">
                            <div class="pull-right">
                                <p>Do you want to permanently delete this data?</p>
                                <div class="dr-action">
                                    <a href="javascript:;" class="yes-btn" ng-click="branch_details('delete',branchData,$index)">Yes</a>
                                    <a href="javascript:;" class="no-btn" ng-click="showDelete_{{$index}}=false">No</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="no-data-found noBranch_position" ng-if="branchDetails.length == 0 && !noResultfound">
            <img src="img/admin-img/no-list.png">
            <h5>No Location available</h5>
        </div>
        <div class="no-data-found noBranch_position" ng-show="branchDetails.length == 0 && noResultfound">
            <img src="img/admin-img/no-list.png">
            <h5>No result found</h5>
        </div>
        <!-- End of div based lsiitng -->
        <div class="data-table-top" ng-show="totalItems > 10 && pageDisplay">
            <div class="data-row-pagination">
                <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="Main.currentPage" ng-change="pageChanged(Main.currentPage)" on-select-page="setPage(page)"></uib-pagination>
            </div>
        </div>
    </div>
    <!-- Branch Lisitng -->
</div>