<p>&nbsp;</p>
<div class="row">
    <div class="col-md-3 text-left">
        <div class="form-group clearfix" style="max-width: 300px;margin: 0 auto;">
            <label for="range">Filter By Date <em>*</em></label>
            <input type="text" class="form-control icons-calendar" referraldatepicker ng-model="changedatepublish" placeholder="DD-MM-YYYY" required ng-change="getList()">
        </div>
    </div>
</div>


<div class="row">
<div class="col-md-12">
<div class="container-fluid pt-20">
    <div class="table-responsive">
        <table class="table color-theme-one">
            <thead>
                <tr>
                    <th> Appointment Date </th>                    
                    <th> Patient Name </th>
                    <th> DW Id </th>
                    <th> NHS Number </th>
                    <th> Location </th>
                    <th> Practice </th>
                    <th> CCG </th>
                    <th> Time </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody ng-show="Count > 0">
                <tr ng-repeat="item in hl7MessageList">
                    <td> {{item.AppointmentDate | convertdate}} </td>                    
                    <td> {{item.PatientName}} </td>
                    <td> {{item.PatientID}} </td>
                    <td> {{item.NHSNumber}} </td>
                    <td> {{item.ScanCentre}} </td>
                    <td> {{item.Practice}} </td>
                    <td> {{item.CCG}} </td>
                    <td> {{item.Time}} </td>
                    <td>
                        <span class="clsSent" ng-show="item.Status == 'SUCCESS'"> {{item.Status}} </span>
                        <span class="clsResent" ng-hide="item.Status == 'SUCCESS'"> {{item.Status}} </span>
                        <a href="javascript:;" class="clsBlue" title="Send"
                            ng-click="triggerHL7Connection(item.AppointmentID)"> <i class="fa fa-paper-plane-o"></i>
                        </a>
                    </td>

                </tr>

                <!-- <tr>
                    <td> 20-09-2018 </td>
                    <td> Hudson </td>
                    <td> pat546465 </td>
                    <td> 23488987938 </td>
                    <td> Aylesbury Vale </td>
                    <td> Sam </td>
                    <td> 123456 </td>
                    <td>
                        <span class="clsResent"> Not Yet </span>
                        <a href="javascript:;" class="clsBlue" title="Send" ng-click="triggerHL7Connection(10)"> <i class="fa fa-paper-plane-o"></i> </a>
                    </td>
                </tr>                 -->

            </tbody ng-show="Count > 0">
            <tbody ng-show="Count==0">
                <tr>
                    <td class="bold text-center" colspan="9">No records found</td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
</div>
</div>
<div class="row">
    <div ng-show="hl7MessageList.length > 0" class="col-md-12">
        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" ng-show="Count > 0" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
    </div>
    </div>
    

<style>
    .clsSent {
        color: #4CAF50;
    }

    .clsResent {
        color: #e80000;
    }

    .btn-primary.btn-xs,
    .btn-primary.btn-xs:hover,
    .btn-primary.btn-xs:active,
    .btn-primary.btn-xs:focus {
        padding: 2px 6px !important;
        font-size: 12px;
        text-transform: capitalize;
    }

    .clsBlue {
        color: #0055a5;
    }

    .color-theme-one.table td i {
        font-size: 16px;
    }
</style>