<div class="c7report" ng-controller="c7ForeCastReportController">
    <div class="row">
        <div class="top-header no-mar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group no-mar clearfix">
                                <input type="text" class="form-control icons-calendar" daterangedashboardpickers ng-model="fromDate" placeholder="DD-MM-YYYY - DD-MM-YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-mar">
                            <label for="range">Region</label>
                            <ui-select ng-model="specialityCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false" required="" ng-change="selectspeciality()">
                                <ui-select-match placeholder="Select Region">
                                    <span ng-bind="$select.selected.regionname"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: $select.search | filter: {active:true} | orderBy: 'regionname'">
                                    <span ng-bind="data.regionname"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center pt-20">
                        <button class="btn btn-primary" ng-click="getForecastReportInfo()">Apply</button>
                        <!-- <figure class="cursor export-excel ng-scope ml-10" title="Export to Excel" ng-if="forecastReportData.length > 0" ng-click="exportDataToExcel()"><img src="images/export-excel.png" alt=""></figure> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive" ng-hide="forecastReportData.length == 0">
            <table class="table color-theme-one clsCostReport">
                <thead>
                    <!-- <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2" class="fill">Sonographer Cost</th>
                        <th colspan="2" class="fill">CSW COST</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr> -->
                    <tr>
                        <th>Date</th>
                        <th>Practice</th>
                        <th>PTs Scanned</th>
                        <th class="clsMinwidth-60">% Full</th>
                        <th>Sono</th>
                        <th>DNA</th>
                        <th class="clsMinwidth-150" >Late Cancellation</th>
                        <!-- <th class="clsMinwidth-100">Free Slots</th> -->
                        <th>TRIAGE</th>
                        <th>CSW <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="(INCL 15% NI & PEN)"></i> </th>
                        <th>EXPENSES</th>
                        <th>ROOM</th>
                        <th class="clsMinwidth-150">CONSUMABLES <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="@ 0.5 PP"></i></th>
                        <th class="clsMinwidth-100">TOTAL COST</th>
                        <th>Revenue</th>
                        <th>GP £</th>
                        <th>GP %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in forecastReportData">
                        <td>{{data.Date | convertdate}}</td>
                        <td>{{data.HospitalName}}</td>
                        <td>{{data.PTsscaned}}</td>
                        <td class="clsMinwidth-60">{{data.Fullpercent}} %</td>
                        <td>{{data.Base | number : 2}}</td>
                        <td>{{data.dnastatus}}</td>
                        <td>{{data.lcstatus}}</td>
                        <!-- <td>{{data.FreeSlots}}</td> -->
                        <td>{{data.Triage | number : 2}}</td>
                        <td>{{data.BaseInc | number : 2}}</td>
                        <td>{{data.Expense | number : 2}}</td>
                        <td>{{data.RoomCost | number : 2}}</td>
                        <td class="clsMinwidth-150">{{data.Consumables | number : 2}}</td>
                        <td class="clsMinwidth-100">{{data.Totalcost | number : 2}}</td>
                        <td>{{data.Revenue}}</td>
                        <td>{{data.Grossprofit | number : 2}}</td>
                        <td>{{data.Grossprofitpercent.toFixed(3)}} %</td>
                    </tr>
                    <!-- <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>31</td>
                        <td>100%</td>
                        <td>1,432</td>
                        <td>499.00</td>
                        <td>18.60</td>
                        <td>499.0</td>
                        <td>14.00</td>
                        <td>100.00</td>
                        <td>15.50</td>
                        <td>600.08</td>
                        <td>700.06</td>
                        <td>78 %</td>
                    </tr> -->
                </tbody>
                <tbody ng-show="forecastReportData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div ng-show="forecastReportData.length == 0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>