<style>
    ::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        z-index: 999999;
    }
    ::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>

<div ng-controller="hCueAdminBranch" style="background-color:#FAFAFA;">

    <div class="container">
    <!--ADMIN TABS-->
    	<div class="adminmaintabs">
            <!--<div><a href="#/adminbranch" class="admintabs">ADMINISTRATIVE BRANCH</a></div>-->
            <div><a ng-click="managebranch()"  class="admintabsselected">MANAGE BRANCHES</a></div>
			<div><a ng-click="manageRole()" class="admintabs">PROFILE SETTINGS</a></div>
            <div><a ng-click="manageusers()" class="admintabs">MANAGE USERS</a></div>
			 <div><a ng-click="managefeedback()" class="admintabs">FEEDBACK & REGISTRATION</a></div>	
        </div>
      <!--END ADMIN TABS-->

      <!--ADMIN TAB CONTENT-->

      <div class="row margin30">
      <div class="col-md-12"><p class="margin30"><span class="h4">ADD BRANCH</span></p></div>

        <form role="form" name="addBranchForm" novalidate>
    	<div class="col-md-12 tabbg1">
            <div class="row">
        	<div class="col-md-3 pholder">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.BranchName.$error.required }">
                        <input type="text" placeholder="Branch Name" maxlength="50"  class="form-control" id="name" name="Branch name" ng-model="name" required>
                        <label for="name" class="icon-network" rel="tooltip" title=""></label>
                    </div>
                    <!--<span ng-show="addBranchForm.name.$dirty && addBranchForm.name.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.name.$error.required">The name field is required</span>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.Date.$error.required }">
                        <!--<input type="date" placeholder="yyyy-MM-dd" class="dob form-control" id="date" name="DateForBranch" ng-model="dateForBranch"
                               max="{{currentDate | date:'yyyy-MM-dd'}}" required >-->

                        <input type='text' value="Read-only textbox" readonly="readonly" placeholder="yyyy-MM-dd" class="form-control" id="date"   name="DateForBranch" ng-model="dateForBranch" jqdatepickeradmin style="cursor:pointer"/>

                        <label for="date" class="icon-calendar" rel="tooltip" title="date"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.date.$dirty && addBranchForm.date.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.date.$error.required">The date field is required</span>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addBranchForm.Mobile.$error.required || addBranchForm.Mobile.$error.pattern) }">
                        <input type="text" placeholder="Mobile" class="form-control" maxlength="10" id="mobile" name="Mobile Number" ng-model="mobile"  numbers-only="numbers-only"  required ng-change="(mobile.length>0)?alert('ok'):alert('no')">
                        <label for="mobile" class="icon-mobile" rel="tooltip" title=""></label>
                    </div>
                    <!--<span ng-show="addBranchForm.mobile.$dirty && addBranchForm.mobile.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.mobile.$error.required">The mobile field is required</span>-->
                        <!--<span class="error-msg" ng-show="addBranchForm.mobile.$error.pattern">Please enter valid mobile number</span>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Practice Licence No. (Optional)" class="form-control" id="practice" name="practice" ng-model="practice">
                        <label for="practice" class="icon-hash" rel="tooltip" title="Practice"></label>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="TIN No. (Optional)" class="form-control" id="tinnumber" name="tinnumber" ng-model="tinnumber">
                        <label for="tinnumber" class="icon-hash" rel="tooltip" title="TIN"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Contact Name (Optional)" class="form-control" id="contact" name="contact" ng-model="contact">
                        <label for="contact" class="icon-contact" style="z-index:0" rel="tooltip" title="Contact Name"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.Address.$error.required }">
                       <input type="text" id="Autocomplete" name="Autocomplete" required="" class="form-control  ng-isolate-scope ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" details="logininfo.latlng" ng-focus="disableTap()" ng-autocomplete="" placeholder="Address" ng-model="address" aria-describedby="basic-addon1" autocomplete="off">

                        <label for="address" class="icon-location"  rel="tooltip" title="Address"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.address.$dirty && addBranchForm.address.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.address.$error.required">The address field is required</span>-->
                    <!--</span>-->
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.Country.$error.required }">
                        <select size="1" style="text-transform: capitalize" class="form-control" id="country" name="Country" ng-model="country" ng-options="item.CountryDesc for item in countryLkUp track by item.CountryID" required>
                            <option selected="" style="text-transform: capitalize" value="" > -Select Country- </option>
                        </select>
                        <label for="country" class="icon-location" rel="tooltip" title="Country"></label>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.State.$error.required }">
                        <select class="form-control" style="text-transform: capitalize"  id="state" name="State" ng-model="state" ng-options="item.StateDesc for item in stateLkUp | filter:{CountryID:country.CountryID} track by item.StateID" required>
                            <option selected="" style="text-transform: capitalize" value="" > -Select State- </option>
                        </select>
                        <label for="state" class="icon-location" style="z-index:0"  rel="tooltip" title="State"></label>
                    </div>
                  
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.City.$error.required }">
                        <select size="1" style="text-transform: capitalize" class="form-control" id="city" name="City" ng-model="city" ng-change="getLocations(city)" ng-options="item.CityIDDesc for item in cities  | filter:{StateID:state.StateID} track by item.CityID" required>
                            <option selected="" style="text-transform: capitalize" value="" > -Select City- </option>
                        </select>
                        <label for="city" class="icon-location" rel="tooltip" title="City"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.city.$dirty && addBranchForm.city.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.city.$error.required">The city field is required</span>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.Location.$error.required }">
                        <select class="form-control" style="text-transform: capitalize"  id="locality" name="Location" ng-model="locality" ng-options="item.LocationIDDesc for item in locationbyCity | filter:{CityID:city.CityID} track by item.LocationID" required>
                            <option selected="" style="text-transform: capitalize" value="" > -Select Location- </option>
                        </select>
                        <label for="locality" class="icon-location" style="z-index:0"  rel="tooltip" title="Locality"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.locality.$dirty && addBranchForm.locality.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.locality.$error.required">The locality field is required</span>-->
                    <!--</span>-->
                </div>
            </div>  </div>
           
            <div class="row">
              <div class="col-md-3" style="padding-bottom:2px;">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addBranchForm.Pincode.$error.required }">
                        <input type="text" maxlength="6" class="form-control" id="pincode" placeholder="Pincode" name="Pincode" ng-model="pincode" required numbers-only="numbers-only">
                        <label for="pincode" class="icon-location"  rel="tooltip" title="Pincode"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.pincode.$dirty && addBranchForm.pincode.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.pincode.$error.required">The Pincode field is required</span>-->
                    <!--</span>-->
                </div>
            </div>

             <div class="col-md-3 " style="padding-bottom:2px;">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addBranchForm.Email.$error.required || addBranchForm.Email.$error.pattern)}">
                        <input type="text" placeholder="Branch Email Id" class="form-control" id="email" name="Email" ng-model="email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" maxlength="100" required>
                        <label for="email" class="icon-mail" rel="tooltip" title="Email"></label>
                    </div>
                    <!--<span ng-show="addBranchForm.email.$dirty && addBranchForm.email.$invalid">-->
                        <!--<span class="error-msg" ng-show="addBranchForm.email.$error.required">The email field is required</span>-->
                        <!--<span class="error-msg" ng-show="addBranchForm.email.$error.pattern">Please enter valid email</span>-->
                    <!--</span>-->
                </div>
            </div>
            </div>
              <div class="col-md-12" >
                <div class="form-group pholder" align="right">
                     <button type="button" class="btn btn-hcue" ng-click="addBranch()">ADD BRANCH</button>
                </div>
                </div>
            </div>
        </div>
        </form>
        <!--SEARCH-->
         <div class="col-md-12"><p class="margin30"><span class="h4">SEARCH BRANCH</span></p></div>
         <div class="col-md-12 tabbg1">

         <div class="col-md-3">
                <div class="form-group pholder">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Branch Location" class="form-control" id="searchLocation" ng-focus="searchLocation() " ng-model="search.location">
                        <label for="searchLocation" class="icon-location" rel="tooltip" title="Branch Location"></label>
                    </div>
                </div>

            </div>

          <div class="or">or</div>
         <div class="col-md-3">

                <div class="form-group pholder">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Mobile" maxlength="10" class="form-control" ng-focus="searchMobile() " id="searchMobile" ng-model="search.mobile" numbers-only="numbers-only">
                        <label for="searchMobile" class="icon-mobile" rel="tooltip" title="Mobile" ></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                     <button type="button" class="btn btn-hcue" ng-click="searchBranch(search)">SEARCH</button>
                    <button type="button" class="btn btn-filled" ng-click="searchClearBranch()">RESET</button>
                </div>
            </div>

         </div>


        <div class="col-md-12"><p class="margin30"></p></div>

    	<div class="col-md-12 tabbg1">
            <span class="h4" style="font-weight:bolder;">LIST OF BRANCHES</span>
        <div  class="mainDiv">
        <div>

        <table id="example" class="display dataTable no-footer" width="100%"
               d-table="overrideOptions"
               aa-data="overrideDataB"
               ao-column-defs="columnDefsB"
               fn-row-callback="rowCallbackB">
            <thead>
                <tr>
                    
                    <th>Branch</th>
                    <th>Location</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Registered On</th>
                    <th>Activation</th>
                    <th></th>
                    <th></th>
                    
                </tr>
				
            </thead>

        </table>
            <div id="edit-wrap" style="display: none">
                <div class="edit-div" id="edit-div"  ng-show="myVar">
                    <form role="form" name="updateBranchForm" class="row" novalidate>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 pholder">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.BranchName.$error.required }">
                                    <input type="text" id="nameEdit" placeholder="Branch Name" class="form-control" maxlength="50"   name="BranchName" ng-model="updateBranch.HospitalInfo.HospitalDetails.HospitalName" required>
                                    <label for="nameEdit" class="icon-network" rel="tooltip" title=""></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.name.$dirty && updateBranchForm.name.$invalid">-->
                                    <!--<span class="error-msg">The name field is required</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.Date.$error.required }">
                                   
                                    <input placeholder="Date" class="dob form-control" id="updatedate" name="Date" ng-model="updateBranch.HospitalInfo.HospitalDetails.RegsistrationDate"  disabled="disabled" required>
                                    <label for="updatedate" class="icon-calendar" rel="tooltip" title="date"></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.updatedate.$dirty && updateBranchForm.updatedate.$invalid">-->
                                    <!--<span class="error-msg">The date field is required</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && (updateBranchForm.MobileNumber.$error.required || updateBranchForm.MobileNumber.$error.pattern) }">
                                    <input type="text" id="mobileEdit" placeholder="Mobile" class="form-control" name="Mobile Number" ng-model="updateBranch.HospitalInfo.HospitalDetails.MobileNumber" ng-pattern="/^[0-9]{10}$/" maxlength="10" numbers-only="numbers-only" required>
                                    <label for="mobileEdit" class="icon-mobile" rel="tooltip" title=""></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.mobile.$dirty && updateBranchForm.mobile.$invalid">-->
                                    <!--<span class="error-msg" ng-show="updateBranchForm.mobile.$error.required">The mobile field is required</span>-->
                                    <!--<span class="error-msg" ng-show="updateBranchForm.mobile.$error.pattern">Please enter valid mobile number</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <input type="text" id="practiceEdit" placeholder="Practice Licence No. (Optional)" class="form-control" name="practice" ng-model="updateBranch.HospitalInfo.HospitalDetails.LicenseNumber">
                                    <label for="practiceEdit" class="icon-hash" rel="tooltip" title="Practice"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <input type="text" id="tinnumberEdit" placeholder="TIN No. (Optional)" class="form-control" name="tinnumber" ng-model="updateBranch.HospitalInfo.HospitalDetails.TINNumber">
                                    <label for="tinnumberEdit" class="icon-hash" rel="tooltip" title="TIN"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <input type="text" id="contactEdit" placeholder="Contact Name (Optional)" class="form-control" name="contact" ng-model="updateBranch.HospitalInfo.HospitalDetails.ContactName">
                                    <label for="contactEdit" class="icon-contact" rel="tooltip" title="Contact Name"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.Address.$error.required }">
                                  <!--   <input type="text" id="addressEdit" placeholder="Address" maxlength="100" class="form-control" name="Address" ng-model="updateBranch.HospitalInfo.HospitalAddress.Address1" required> -->
								  
								   <input type="text" id="Autocomplete" name="Autocomplete" required="" class="form-control  ng-isolate-scope ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" details="logininfo.latlng" ng-focus="disableTap()" ng-autocomplete="" placeholder="Address" ng-model="updateBranch.HospitalInfo.HospitalAddress.Address1" aria-describedby="basic-addon1" autocomplete="off">
                                    <label for="addressEdit" class="icon-location" rel="tooltip" title="Address"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                           <div class="form-group pholder">
                               <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.Country.$error.required }">
                                  <!--  <select size="1" class="form-control" id="countryEdit" name="Country" ng-model="updateBranch.Country" ng-options="item.CountryDesc for item in countryLkUp track by item.CountryID" required>
                                    </select>
                                    <label for="countryEdit" class="icon-location"  rel="tooltip" title="Country"></label>
                                </div> -->
                                 <select size="1" class="form-control" id="countryEdit" name="Country" ng-model="updateBranch.HospitalInfo.HospitalAddress.Country" ng-change="setStates(updateBranch.HospitalInfo.HospitalAddress.Country,true)"  required>
                                   <option ng-repeat="item in countryLkUp" value="{{item.CountryID}}">{{item.CountryDesc}}</option>
                                 </select> 
                                 <label for="cityEdit" class="icon-location" rel="tooltip" title="City"></label>
                             
                            </div>
                        </div>
                         </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.State.$error.required }">
                                   <!-- <select class="form-control" id="stateEdit" name="State" ng-model="updateBranch.State" ng-options="item.StateDesc for item in stateLkUp | filter:{CountryID:updateBranch.Country.CountryID} track by item.StateID" required></select>
                                    <label for="stateEdit" class="icon-location" rel="tooltip" title="Locality"></label>-->
                                    <select size="1" class="form-control" id="stateEdit" name="State" ng-model="updateBranch.HospitalInfo.HospitalAddress.State" required>
                                         <option ng-repeat="item in stateLkUpTemp" value="{{item.StateID}}">{{item.StateDesc}}</option>
                                         
                                    </select>
                                    <label for="cityEdit" class="icon-location" rel="tooltip" title="City"></label>


                                </div>
                              
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.City.$error.required }">
                                    <select size="1" class="form-control" id="cityEdit" name="City" ng-model="updateBranch.city " ng-change="getLocations(updateBranch.city)" ng-options="item.CityIDDesc for item in cities |filter:{StateID:updateBranch.HospitalInfo.HospitalAddress.State} track by item.CityID" required>
                                    </select>
                                    <label  class="icon-location" ></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.city.$dirty && updateBranchForm.city.$invalid">-->
                                    <!--<span class="error-msg">The city field is required</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.Location.$error.required }">
                                    <select class="form-control" id="localityEdit" name="Location" ng-model="updateBranch.locality" ng-options="item.LocationIDDesc for item in locationbyCityUpdated | filter:{CityID:updateBranch.city.CityID} track by item.LocationID" required></select>
                                    <label for="localityEdit" class="icon-location" rel="tooltip" title="Locality"></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.locality.$dirty && updateBranchForm.locality.$invalid">-->
                                    <!--<span class="error-msg">The locality field is required</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                      

                     
                          <div class="col-md-3" style="padding-bottom:2px;">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.Pincode.$error.required }">
                                    <input type="text" id="pincodeEdit" placeholder="Pincode" class="form-control" name="Pincode" ng-model="updateBranch.HospitalInfo.HospitalAddress.PinCode" maxlength="6" numbers-only="numbers-only">
                                    <label for="pincodeEdit" class="icon-location" rel="tooltip" title="Pincode"></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.pincode.$dirty && updateBranchForm.pincode.$invalid">-->
                                    <!--<span class="error-msg">The Pincode field is required</span>-->
                                <!--</span>-->
                            </div>
                        </div>

                        <div class="col-md-3 " style="padding-bottom:2px;">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateBranchForm.BranchEmailId.$error.required }">
                                    <input type="text" id="emailEdit" placeholder="Branch Email Id" class="form-control" name="BranchEmailId" ng-model="updateBranch.HospitalInfo.HospitalDetails.EmailAddress" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"  maxlength="100" readonly>
                                    <label for="emailEdit" class="icon-mail" rel="tooltip" title="Email"></label>
                                </div>
                                <!--<span ng-show="updateBranchForm.email.$dirty && updateBranchForm.email.$invalid">-->
                                    <!--<span class="error-msg" ng-show="updateBranchForm.email.$error.required">The email field is required</span>-->
                                    <!--<span class="error-msg" ng-show="updateBranchForm.email.$error.pattern">Please enter valid email</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                         
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
       </div>

        </div>

     </div>

     <!--END ADMIN TAB CONTENT-->

    </div>
</div>