<div ng-controller="hCueAdminBranch" style="background-color:#FAFAFA;">
    <div class="container">
        <!--ADMIN TABS-->
        <div class="adminmaintabs">
            <!--<div><a href="#/adminbranch" class="admintabs">ADMINISTRATIVE BRANCH</a></div>-->
            <div><a ng-click="managebranch()" class="admintabs">MANAGE BRANCHES</a></div>
            <div><a ng-click="manageRole()" class="admintabs">PROFILE SETTINGS</a></div>
            <div><a ng-click="manageusers()" class="admintabsselected" ng-click='usersList()'>MANAGE USERS</a></div>
            <div><a ng-click="managefeedback()" class="admintabs">FEEDBACK & REGISTRATION</a></div>
            <!--<div><a href="#/profilesettings" class="admintabs">PROFILE SETTINGS</a></div>-->
        </div>
        <!--END ADMIN TABS-->
        <!--Manage User Tab-->
        <div class="">
            <div class="tabs-header new-tabs">
                <ul class="nav nav-tabs mr-t-20" role="tablist">
                    <li role="presentation" class="active"><a data-target="#addUser" aria-controls="home" role="tab" data-toggle="tab">Add User</a></li>
                    <li role="presentation" class=""><a data-target="#adddoctormoreinfo" aria-controls="home" role="tab" data-toggle="tab">Add Doctor Consult Info </a>
                    </li>
                    <li role="presentation" class=""><a data-target="#addhospitals" aria-controls="home" role="tab" data-toggle="tab">Add Hospital/Clinics </a>
                    </li>
                    <li role="presentation" class=""><a data-target="#doctorTimings" aria-controls="home" role="tab" data-toggle="tab">Doctor Timings</a></li>
                </ul>
            </div>
            <!--End Manage User Tab-->
            <!--Manage User Tab Content-->
            <div class="tab-content" style="background: #fff">
                <!-- Tab 1 -->
                <div role="tabpanel" class="tab-pane active" id="addUser">
                    <!--ADMIN TAB CONTENT-->
                    <div class="row no-margin">
                        <div class="col-md-12">
                            <p class="mr-t-20"><span class="h4">ADD USERS</span></p>
                        </div>
                        <form name="addUserForm">
                            <div class="col-md-12 no-margin">
                                <div class="row">
                                    <div class="col-md-3 pholder">
                                        <div class="form-group" ng-class="{'has-error': submitted && addUserForm.Name.$error.required }">
                                            <div class="icon-addon addon-lg">
                                                <input type="text" placeholder="Name" class="form-control" id="name" name="Name" ng-model="name" required>
                                                <label for="name" class="icon-contact" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="addUserForm.name.$dirty && addUserForm.name.$invalid">-->
                                            <!--<span class="error-msg">The name field is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.MobileNumber.$error.required || addUserForm.MobileNumber.$error.pattern) }">
                                                <input type="text" placeholder="Mobile" class="form-control" id="mobile" name="Mobile Number" ng-model="mobile" numbers-only="numbers-only" maxlength='10' required>
                                                <label for="mobile" class="icon-mobile" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="addUserForm.mobile.$dirty && addUserForm.mobile.$invalid">-->
                                            <!--<span class="error-msg" ng-show="addUserForm.mobile.$error.required">The mobile field is required</span>-->
                                            <!--<span class="error-msg" ng-show="addUserForm.mobile.$error.pattern">Please enter valid mobile number</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.Email.$error.required || addUserForm.Email.$error.pattern) }">
                                                <input type="text" placeholder="Communication mail id" class="form-control" id="email" ng-model="email" name="Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" maxlength="100" required>
                                                <label for="email" class="icon-mail" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="addUserForm.email.$dirty && addUserForm.email.$invalid">-->
                                            <!--<span class="error-msg" ng-show="addUserForm.email.$error.required">The email field is required</span>-->
                                            <!--<span class="error-msg" ng-show="addUserForm.email.$error.pattern">Please enter valid email</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addUserForm.Role.$error.required }">
                                                <select name="Role" class="form-control" id="rolename" ng-change="getRoles(rolename)" ng-model="rolename" required>
                                                    <option value=""> -Select Group- </option>
                                                    <option ng-repeat="agl in adminGrouplist" value="{{agl.RoleID}}">{{agl.RoleID}}</option>
                                                    <!--<option value="DOCTOR">DOCTOR</option>
                                       <option value="RECPTNIST">RECEPTIONIST</option>
                                       <option value="ADMIN">ADMIN</option> -->
                                                    <!-- <option value="OWNER">OWNER</option> -->
                                                    <!-- <option value="PHARMACIST">PHARMACIST</option>
                                       <option value="NURSE">NURSE</option>
                                       <option value="CONSULTANT">CONSULTANT</option>
                                       <option value="DUTYDOCTOR">DUTY DOCTOR</option>
                                       <option value="LABASNT">LAB ASST</option> -->
                                                    <!-- <option ng-repeat='roles in lookup.hcueRoleLkup' ng-show="roles.ActiveIND == 'Y'"  id='{{roles.RoleID}}' value='{{roles.RoleDesc}}'>{{roles.RoleDesc}}</option>-->
                                                </select>
                                                <label for="rolename" class="icon-contact" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="submitted && addUserForm.role.$error.required">-->
                                            <!--<span class="error-msg">The role field is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && addUserForm.ProfileGroup.$error.required }">
                                                <select name="Profile Group" class="form-control" id="prfleGrp" ng-change="getGroupsBasedOnRoles(profilegrp)" ng-model="profilegrp" required>
                                                    <option selected="" value=""> -Select Profile Role- </option>
                                                    <option ng-repeat='groups in profileGroup' ng-show="groups.ActiveIND == 'Y'" id='{{groups.GroupCode}}' value='{{groups.GroupName}}'>{{groups.GroupName}}</option>
                                                </select>
                                                <label for="prfleGrp" class="icon-contact" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="submitted && addUserForm.role.$error.required">-->
                                            <!--<span class="error-msg">The Profile group is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="(rolename=='DOCTOR' || rolename=='CONSULTANT' || rolename=='DUTYDOCTOR'|| rolename=='REFERRAL')">
                                        <div class="form-group pholder">
                                            <div class="" angucomplete-alt placeholder="Select Speciality" maxlength="50" pause="100" id="sp1" selected-object="speciality" local-data="selectedSpec" search-fields="DoctorSpecialityDesc" title-field="DoctorSpecialityDesc" minlength="1" input-class="form-control form-control-small" field-required="true" input-name="Speciality" match-class="highlight">
                                            </div>
                                            <!--<input type="text" placeholder="Speciality" class="form-control" id="speciality" ng-model="speciality" name="speciality" required>
                                    <label for="speciality"  rel="tooltip" title="Contact Name"></label>-->
                                        </div>
                                        <!--<span ng-show="addUserForm.speciality.$dirty && addUserForm.speciality.$invalid">-->
                                        <!--<span class="error-msg">The speciality field is required</span>-->
                                        <!--</span>-->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.DoctorLoginId.$error.required || addUserForm.DoctorLoginId.$error.pattern) }">
                                                <input type="text" placeholder="User Login Id" class="form-control" id="uname" name="User Login Id" ng-model="uname" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" maxlength="100" required>
                                                <label for="uname" class="icon-mail" rel="tooltip" title=""></label>
                                            </div>
                                            <!--<span ng-show="addUserForm.uname.$dirty && addUserForm.uname.$invalid">-->
                                            <!--<span class="error-msg" ng-show="addUserForm.uname.$error.required">The Doctor LoginId field is required</span>-->
                                            <!--<span class="error-msg" ng-show="addUserForm.uname.$error.pattern">Please enter valid email address</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.password.$error.required || addUserForm.password.$error.pattern) }">
                                                <!--ng-pattern="/^[a-z1-9_@]{6,15}$/"-->
                                                <input type="password" placeholder="Password" class="form-control" id="password" ng-model="password" name="password" maxlength="15">
                                                <label for="password" class="icon-pass" rel="tooltip" title="Password"></label>
                                            </div>
                                            <!--<span ng-show="addUserForm.password.$dirty && addUserForm.password.$invalid">-->
                                            <!--<span class="error-msg">The password field is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.gender.$error.required) }">
                                                <select class="form-control" name="Gender" id="gender" ng-model="userGender" required>
                                                    <option value="">-- Select gender --</option>
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                </select>
                                                <label for="gender" class="icon-contact" rel="tooltip" title="gender"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div ng-class="{'has-error': submitted && (addUserForm.experience.$error.required) }">
                                                <input type="text" placeholder="Experience" class="form-control" id="experience" ng-model="experience" name="experience" aw-limit-length="2" numbers-only="numbers-only" required>
                                                <label for="experience" rel="tooltip" title="experience"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submitted && (addUserForm.Branch.$error.required || addUserForm.Branch.$error.pattern) }">
                                                <select name="Branch" class="form-control" id="branch" ng-change="getBranchesForUsers(branch)" ng-model="branchName" required>
                                                    <option selected="" value=""> -Select Branch- </option>
                                                    <option ng-repeat="branches in overrideDataUn " ng-show="branches.HospitalInfo.HospitalDetails.ActiveIND == 'Y'" id='{{branches.HospitalInfo.HospitalDetails.HospitalID}}' value='{{branches.HospitalInfo.HospitalDetails.HospitalName}}'>{{branches.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                                </select>
                                                <label for="branch" class="icon-network" rel="tooltip" title="Address"></label>
                                            </div>
                                            <!--<span ng-show="submitted && addUserForm.address.$error.required">-->
                                            <!--<span class="error-msg">The branch field is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <!--Color-->
                                <div class="row" style="padding-left:10px;">
                                    <div class="col-md-4 col-lg-12 col-sm-12 text-center" style="
                              padding: 0 5px;
                              ">
                                        <div> <span class="light-label" style="padding-left: 4px;">Choose a color</span> </div>
                                        <div class="row">
                                            <div class="col-lg-12 radio-btn-palatte">
                                                <input class="palatte-a" ng-click="colorCode='#F44336'" type='radio' name='a' checked/>
                                                <input class="palatte-b" ng-click="colorCode='#E91E63'" type='radio' name='a' />
                                                <input class="palatte-c" ng-click="colorCode='#099387'" type='radio' name='a' />
                                                <input class="palatte-d" ng-click="colorCode='#9BA442'" type='radio' name='a' />
                                                <input class="palatte-e" ng-click="colorCode='#F08F00'" type='radio' name='a' />
                                                <input class="palatte-f" ng-click="colorCode='#00BCD4'" type='radio' name='a' />
                                                <input class="palatte-g" ng-click="colorCode='#3F51B5'" type='radio' name='a' />
                                                <input class="palatte-h" ng-click="colorCode='#607D8B'" type='radio' name='a' />
                                                <input class="palatte-i" ng-click="colorCode='#795548'" type='radio' name='a' />
                                                <input class="palatte-j" ng-click="colorCode='#4CAF50'" type='radio' name='a' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end of color-->
                                <div class="col-md-12">
                                    <div>
                                        <div class="subTitle">
                                            <b>SET ACCESS RIGHTS</b>
                                            <span class="grayTxt">
                                    <!--(Click on the tabs to select/deselect)-->
                                 </span>
                                        </div>
                                        <div ng-repeat="accessrights in allAccessRights">
                                            <div class="tagBg" id="ar{{accessrights.AccessID}}">{{accessrights.AccessDesc}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" align="right">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-hcue" ng-click="addUser()">ADD USER</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                    <!--SEARCH-->
                    <div class="col-md-12">
                        <p class="margin30"><span class="h4">SEARCH USER</span></p>
                    </div>
                    <div class="col-md-12 tabbg1">
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <input type="text" placeholder="Name" class="form-control" id="searchName" ng-focus="searchName() " ng-model="search.name">
                                    <label for="searchName" class="icon-contact" rel="tooltip" title="Name"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <input type="text" placeholder="Branch Location" class="form-control" id="searchBranch" ng-focus="searchLocationusers() " ng-model="search.branch">
                                    <label for="searchBranch" class="icon-location" rel="tooltip" title="Branch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="or">or</div>
                        <div class="col-md-3">
                            <div class="form-group pholder">
                                <div class="icon-addon addon-lg">
                                    <select name="role" class="form-control" id="searchRole" ng-model="search.role" ng-change="clear()">
                                        <option selected="" value=""> -Select Group- </option>
                                        <option ng-repeat="agl in adminGrouplist" value="{{agl.RoleID}}">{{agl.RoleID}}</option>
                                        <!-- <option value="DOCTOR">DOCTOR</option>
                              <option value="RECPTNIST">RECEPTIONIST</option>
                              <option value="ADMIN">ADMIN</option> -->
                                        <!-- <option value="OWNER">OWNER</option> -->
                                        <!-- <option value="PHARMACIST">PHARMACIST</option>
                              <option value="NURSE">NURSE</option>
                              <option value="CONSULTANT">CONSULTANT</option>
                              <option value="DUTYDOCTOR">DUTY DOCTOR</option>
                              <option value="LABASNT">LAB ASST</option> -->
                                        <!-- <option ng-repeat='roles in lookup.hcueRoleLkup' ng-show="roles.ActiveIND == 'Y'" value='{{roles.RoleDesc}}' id="rolenameInUpdate">{{roles.RoleDesc}}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 no-pad">
                            <div class="form-group pholder">
                                <button type="button" class="btn btn-hcue" ng-click="searchUser(search)">SEARCH</button>
                                <button type="button" class="btn btn-filled" ng-click="searchclearUser()">RESET</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="margin30"></p>
                    </div>
                    <div class="col-md-12 tabbg1">
                        <span class="h4" style="font-weight:bolder;">LIST OF USERS</span>
                        <div class="mainDiv">
                            <div>
                                <table id="example" class="display dataTable" width="100%" d-table="overrideOptions" aa-data="overrideDataForUsers" ao-column-defs="columnDefs" fn-row-callback="rowCallback">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Communication Mail Id</th>
                                            <th>Speciality</th>
                                            <th>Group</th>
                                            <th>Activation</th>
                                            <th></th>
                                            <th></th>
                                            <th>Last Login</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="edit-wrap" style="display: none">
                                    <div class="edit-div" id="edit-div" ng-show="myVar">
                                        <form role="form" name="updateUserForm" class="row" novalidate>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3 pholder">
                                                        <div class="form-group" ng-class="{'has-error': submittedE && updateUserForm.Name.$error.required }">
                                                            <div class="icon-addon addon-lg">
                                                                <input type="text" id="nameEdit" placeholder="Name" class="form-control" name="Name" ng-model="updateUser.Name" required>
                                                                <label for="nameEdit" class="icon-contact" rel="tooltip" title=""></label>
                                                            </div>
                                                            <!--<span ng-show="updateUserForm.name.$dirty && updateUserForm.name.$invalid">-->
                                                            <!--<span class="error-msg">The name field is required</span>-->
                                                            <!--</span>-->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && (updateUserForm.Mobile.$error.required || updateUserForm.Mobile.$error.pattern)}">
                                                                <input type="text" id="mobileEdit" placeholder="Mobile" class="form-control" name="Mobile number" ng-model="updateUser.Mobile" ng-pattern="/^[0-9]{10}$/" maxlength='10' required numbers-only="numbers-only">
                                                                <label for="mobileEdit" class="icon-mobile" rel="tooltip" title=""></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && (updateUserForm.Email.$error.required || updateUserForm.Email.$error.pattern) }">
                                                                <input type="text" id="emailEdit" placeholder="Email" maxlength="100" class="form-control" ng-model="updateUser.Email" name="Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" required>
                                                                <label for="emailEdit" class="icon-mail" rel="tooltip" title=""></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateUserForm.Role.$error.required }">
                                                                <select name="Role" id='rolenameEdit' class="form-control" ng-change="getGroupsEdit(updateUser.RoleName)" ng-model="updateUser.RoleName" required>
                                                                    <option ng-repeat="agl in adminGrouplist" value="{{agl.RoleID}}">{{agl.RoleID}}</option>
                                                                    <!-- <option value="DOCTOR">DOCTOR</option>
                                                   <option value="RECPTNIST">RECEPTIONIST</option>
                                                   <option value="ADMIN">ADMIN</option> -->
                                                                    <!-- <option value="OWNER">OWNER</option> -->
                                                                    <!-- <option value="PHARMACIST">PHARMACIST</option>
                                                   <option value="NURSE">NURSE</option>
                                                   <option value="CONSULTANT">CONSULTANT</option>
                                                   <option value="DUTYDOCTOR">DUTY DOCTOR</option>
                                                   <option value="LABASNT">LAB ASST</option> -->
                                                                </select>
                                                                <label for="rolenameEdit" class="icon-contact" rel="tooltip" title=""></label>
                                                            </div>
                                                            <!--<span ng-show="submittedE && updateUserForm.role.$error.required">-->
                                                            <!--<span class="error-msg">The role field is required</span>-->
                                                            <!--</span>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateUserForm.ProfileGroup.$error.required }">
                                                                <!--<select name="Branch" class="form-control" id="branchEdit" 
                                                   ng-change="getBranchesForUsers(updateUser.Hospitalname.HospitalInfo.HospitalDetails.HospitalID)" 
                                                   ng-model="updateUser.Hospitalname"
                                                       required>
                                                   <option ng-repeat='branch in overrideDataUn ' id='{{branch.HospitalInfo.HospitalDetails.HospitalID}}' value='{{branch.HospitalInfo.HospitalDetails.HospitalName}}'>{{branch.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                                   
                                                   </select>-->
                                                                <select name="Profile Group" class="form-control" id="prfleGrpEdit" ng-change="getGroupsBasedOnRolesEdit(updateUser.GroupID)" ng-model="updateUser.GroupID" required>
                                                                    <option selected="" value=""> -Select Profile Role- </option>
                                                                    <option ng-repeat='group in profileGroupEdit' ng-show="group.ActiveIND == 'Y'" id="{{group.GroupCode}}" value="{{group.GroupName}}">{{group.GroupName}}</option>
                                                                </select>
                                                                <label for="prfleGrpEdit" class="icon-contact" rel="tooltip" title=""></label>
                                                            </div>
                                                            <!--<span ng-show="submittedE && updateUserForm.profilegrp.$error.required">-->
                                                            <!--<span class="error-msg">The Profile group is required</span>-->
                                                            <!--</span>-->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" ng-show="(updateUser.RoleName=='DOCTOR' || updateUser.RoleName=='CONSULTANT' || updateUser.RoleName=='DUTYDOCTOR' || updateUser.RoleName=='REFERRAL' )">
                                                        <div class="form-group pholder">
                                                            <div class="" angucomplete-alt placeholder="Select Speciality" maxlength="50" pause="100" id="sp2" selected-object="specialityEdit" local-data="selectedSpec" search-fields="DoctorSpecialityDesc" title-field="DoctorSpecialityDesc" minlength="1" input-name="Speciality" input-class="form-control form-control-small" initial-value="updateUserForm.SpecialityInUser" match-class="highlight">
                                                            </div>
                                                        </div>
                                                        <!--<span ng-show="updateUserForm.speciality.$dirty && updateUserForm.speciality.$invalid">-->
                                                        <!--<span class="error-msg">The speciality field is required</span>-->
                                                        <!--</span>-->
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg" ng-class="{'has-error': submittedE && updateUserForm.Branch.$error.required }">
                                                                <select name="Branch" class="form-control" id="branchEdit" ng-change="getBranchesForUsers(updateUser.Hospitalname.HospitalInfo.HospitalDetails.HospitalID)" ng-model="updateUser.Hospitalname" required>
                                                                    <option ng-repeat='branch in overrideDataUn ' id='{{branch.HospitalInfo.HospitalDetails.HospitalID}}' value='{{branch.HospitalInfo.HospitalDetails.HospitalName}}'>{{branch.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                                                </select>
                                                                <label for="branchEdit" class="icon-network" rel="tooltip" title="Address"></label>
                                                            </div>
                                                            <!--<span ng-show="submittedE && updateUserForm.branch.$error.required">-->
                                                            <!--<span class="error-msg">The branch field is required</span>-->
                                                            <!--</span>-->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" ng-show="closeResetTxt == true">
                                                        <div class="form-group pholder" style="margin-top: 10px;font-size: 18px;margin-bottom: 10px;">
                                                            <a style="color: #69beab;" ng-click="openPwdTxtbox()">Reset Password</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" ng-show="OpenTxtbox == true" style="">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg">
                                                                <input type="{{inputType}}" placeholder="Enter New Password" class="form-control ng-pristine ng-valid ng-touched" name="rstPassword" ng-change="resetPswd()" ng-model="updateUser.rstPassword" style="width: 120%;" aw-limit-length="20">
                                                                <label for="mobileEdit" class="icon-pass" rel="tooltip" title=""></label>
                                                                <span ng-show="pwdshowval == true">   
                                                <span class="fa fa-eye" style="font-size: 15px;margin-left: 0;left: 150px;top: 0px;color: #49b099;" ng-click="ShowpwdChar()"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1" ng-show="OpenTxtbox == true" style="">
                                                        <div class="doctortimings-close-icon">
                                                            <label class="close-control open fff" rel="tooltip" title="" style="margin-left: 5px;" ng-click="resetPswdTxt()"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group pholder">
                                                            <div class="icon-addon addon-lg">
                                                                <p style="font-family: 'proxima_novalight' !important;    float: left;">
                                                                    <label class="icon-mail" rel="tooltip" title="" style="padding-left: 30px;position: inherit;"></label> Login Id:{{updateUser.DoctorLoginID}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-left:10px;">
                                                    <div class="col-md-4 col-lg-12 col-sm-12  " style="padding: 0 5px;
                                          ">
                                                        <div> <span class="light-label" style="padding-left: 4px;">Choose a color</span> </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 radio-btn-palatte">
                                                                <input class="palatte-a" ng-click="updateUser.ColorCode='#F44336'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#F44336')" />
                                                                <input class="palatte-b" ng-click="updateUser.ColorCode='#E91E63'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#E91E63')" />
                                                                <input class="palatte-c" ng-click="updateUser.ColorCode='#099387'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#099387')" />
                                                                <input class="palatte-d" ng-click="updateUser.ColorCode='#9BA442'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#9BA442')" />
                                                                <input class="palatte-e" ng-click="updateUser.ColorCode='#F08F00'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#F08F00')" />
                                                                <input class="palatte-f" ng-click="updateUser.ColorCode='#00BCD4'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#00BCD4')" />
                                                                <input class="palatte-g" ng-click="updateUser.ColorCode='#3F51B5'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#3F51B5')" />
                                                                <input class="palatte-h" ng-click="updateUser.ColorCode='#607D8B'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#607D8B')" />
                                                                <input class="palatte-i" ng-click="updateUser.ColorCode='#795548'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#795548')" />
                                                                <input class="palatte-j" ng-click="updateUser.ColorCode='#4CAF50'" type='radio' name='a' ng-checked="(updateUser.ColorCode == '#4CAF50')" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <div class="subTitle">
                                                            <b>SET ACCESS RIGHTS</b>
                                                            <span class="grayTxt">
                                                <!--(Click on the tabs to select/deselect)-->
                                             </span>
                                                        </div>
                                                        <div ng-repeat="accessrights in allAccessRights">
                                                            <div class="tagBgEdit" id="arEdit{{accessrights.AccessID}}">{{accessrights.AccessDesc}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-md-12" align="right">-->
                                                <!--<div class="form-group">-->
                                                <!--<button type="button" class="btn btn-hcue" ng-click="UpdateUser(updateUser)">UPDATE USER</button>-->
                                                <!--<button type="button" class="btn btn-hcue" ng-click="editUser=false; resetAsses();">CANCEL</button>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END ADMIN TAB CONTENT-->
                </div>
                <!-- Tab 2 -->
                <div role="tabpanel" class="tab-pane" id="adddoctormoreinfo">
                    <div class="">
                        <!-- Dropdown 1 -->
                        <div class="repeatBackground_odd">
                            <div class="col-md-12 header_col_text">
                                <h4>Select Doctor</h4>
                            </div>
                            <div class="repeatBackground_odd">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label >Select Doctor</label>
                                        <select name="getidbUser" class="select-dropdown form-control pad-l-25" id="mySelect" ng-change="selectUserData(userList)" ng-options="users.Name for users in overrideDataForUsers  | filter:{Role :'DOCTOR'}" ng-model="userList" required>
                                            <option value=""> Select Doctor </option>
                                            <!-- <option ng-repeat='users in overrideDataForUsers'  id='{{users.ID}}' value={{users}}>{{users.Name}}</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1"><img src="img/icon-reload.png" alt="" class="reset_consultBtn" ng-click="searchclearUser()"></div>
                                <!-- Dropdown 2 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label >Select Department</label>
                                        <select class="select-dropdown form-control pad-l-25" ng-model="DoctorDepartments.DepartmentID" ng-change="getSubDepartmentID()">
                                            <option value="0"> -Select Department- </option>
                                            <option ng-repeat="x in DepartmentsList" value="{{x.DepartmentDtl.DepartmentID}}">{{x.DepartmentDtl.DepartmentDesc}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Dropdown 2 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label >Select Sub Department</label>
                                        <select class="select-dropdown form-control pad-l-25" ng-model="DoctorDepartments.SubDepartmentID">
                                            <option value="0"> -Select Sub Department- </option>
                                            <option ng-repeat="x in subDepartmentsList" value="{{x.SubDepartmentID}}">{{x.SubDepartmentDesc}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="(docType == 'DOCTOR')">
                            <div class="col-md-12 header_col_text">
                                <h4>Enter Consultation Structure</h4>
                            </div>
                            <!-- Add more functionality -->
                            <div ng-repeat="item in  consultationStructureList" class="repeatBackground_odd">
                                <hr ng-if="$index == 0" class="hrRepeatSpacing" />
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label text="Enter Structure Name">Enter Structure Name:</label>
                                        <input type="text" ng-model="item.StructureName" class="form-control"></input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label >Enter Display Name:</label>
                                        <input type="text" ng-model="item.StructureDPName" class="form-control"></input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label text="Enter Structure Name">Enter Amount:</label>
                                        <input type="number" ng-model="item.Amount" class="form-control"></input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label text="Enter Structure Name"></label>
                                        <select class="form-control select-dropdown" ng-model="item.Type">
                                            <option value="INDVL">Individual</option>
                                            <option value="ADDIN">Addition</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label text="Enter Structure Name">Select Status:</label>
                                        <select class="form-control select-dropdown" ng-model="item.Status">
                                            <option value="Y">Active</option>
                                            <option value="N">InActive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a href="javascript:;" ng-show="$last" class="app-bill-add-btn consult_btn_style_add" ng-click="addNewStructureItem()"><img src="img/plus-symbole-icon.png" alt="" /></a>
                                    <a href="javascript:;" class="bill-delete-btn consult_btn_style_add" ng-click="DeleteConsultItem(item)"><img src="img/appoint-close-ico.png" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                                <hr class="hrRepeatSpacing" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-md-12 header_col_text">
                            <h4>Enter Address</h4>
                        </div>
                        <form name="Addressform">
                            <div class="repeatBackground_odd1">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label >Registration No: </label>
                                        <input type="next" ng-model="regNoinfo" placeholder="Reg No" maxlength="12" name="regNoinfo" class="form-control" required>
                                        <div ng-show="Addressform.$submitted || Addressform.regNoinfo.$touched">
                                            <span class="error-msg" ng-show="Addressform.regNoinfo.$error.required">Enter Registration No</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label >PanCard No: </label>
                                        <input type="next" ng-model="panCardNo" maxlength="10" placeholder="PanCard No" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label >Address1: </label>
                                        <input type="next" ng-model="moreAddress1" maxlength="75" placeholder="Address1" name="moreAddress1" class="form-control" required>
                                        <div ng-show="Addressform.$submitted || Addressform.moreAddress1.$touched">
                                            <span class="error-msg" ng-show="Addressform.moreAddress1.$error.required">Enter Address1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 bottomSpacingstyle">
                                    <div class="form-group">
                                        <label >Address2: </label>
                                        <input type="next" ng-model="moreAddress2" maxlength="75" placeholder="Address2" name="moreAddress2" class="form-control" required>
                                        <div ng-show="Addressform.$submitted || Addressform.moreAddress2.$touched">
                                            <span class="error-msg" ng-show="Addressform.moreAddress2.$error.required">Enter Address2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="">
                                    <div class="col-md-2">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select size="1" style="text-transform: capitalize" class="form-control select-dropdown" id="country" name="country" ng-model="country" ng-options="item.CountryDesc for item in countryLkUp track by item.CountryID" required>
                                                    <option selected="" style="text-transform: capitalize" value=""> -Select Country- </option>
                                                </select>
                                                <div ng-show="Addressform.$submitted || Addressform.country.$touched">
                                                    <span class="error-msg" ng-show="Addressform.country.$error.required">Enter Select Country</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select class="form-control select-dropdown" style="text-transform: capitalize" id="state" name="state" ng-model="state" ng-options="item.StateDesc for item in stateLkUp | filter:{CountryID:country.CountryID} track by item.StateID" required>
                                                    <option selected="" style="text-transform: capitalize" value=""> -Select State- </option>
                                                </select>
                                                <div ng-show="Addressform.$submitted || Addressform.state.$touched">
                                                    <span class="error-msg" ng-show="Addressform.state.$error.required">Enter Select State</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select size="1" style="text-transform: capitalize" class="form-control select-dropdown" id="city" name="city" ng-model="city" ng-change="getLocations(city)" ng-options="item.CityIDDesc for item in cities  | filter:{StateID:state.StateID} track by item.CityID" required>
                                                    <option selected="" style="text-transform: capitalize" value=""> -Select City- </option>
                                                </select>
                                                <div ng-show="Addressform.$submitted || Addressform.city.$touched">
                                                    <span class="error-msg" ng-show="Addressform.city.$error.required">Enter Select City</span>
                                                </div>
                                            </div>
                                            <!--<span ng-show="addBranchForm.city.$dirty && addBranchForm.city.$invalid">-->
                                            <!--<span class="error-msg" ng-show="addBranchForm.city.$error.required">The city field is required</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select class="form-control" style="text-transform: capitalize" id="locality" name="locality" ng-model="locality" ng-options="item.LocationIDDesc for item in locationbyCity | filter:{CityID:city.CityID} track by item.LocationID" required>
                                                    <option selected="" style="text-transform: capitalize" value=""> -Select Location- </option>
                                                </select>
                                                <div ng-show="Addressform.$submitted || Addressform.locality.$touched">
                                                    <span class="error-msg" ng-show="Addressform.locality.$error.required">Select Location</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-bottom:2px;">
                                       <div class="form-group pholder">
                                           <div class="icon-addon addon-lg">
                                               <input type="text" maxlength="6" class="form-control" id="pincode" placeholder="Enter Pincode" name="infopincode" ng-model="infopincode" required numbers-only="numbers-only" required>
                                               <div ng-show="Addressform.$submitted || Addressform.infopincode.$touched">
                                                   <span class="error-msg" ng-show="Addressform.infopincode.$error.required">Enter Pincode</span>
                                               </div>
                                           </div>
                                       </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                    <div class=" pull-right no-pad">
                                        <button type="button" class="btn btn-hcue" ng-class="(Addressform.$invalid) ? 'btn-disable-dental' : ''" ng-disabled="Addressform.$invalid" ng-click="updateUserMoreInfo(Addressform)">Update</button>
                                        <button type="button" class="btn rbtn-hcue" ng-click="ClearMoreInfo()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Tab 3 -->
                <div role="tabpanel" class="tab-pane" id="addhospitals">
                    <!--Doctor Tab Content-->
                    <div class="">
                        <div class="row no-margin">
                            <div class="col-md-12 no-pad DoctorTimings">
                                <div id="demo" class="collapse in" aria-expanded="true">
                                    <div class="row margin30">
                                        <div class="col-md-12">
                                            <div class="col-md-2 txt-right-align">
                                                <label>Select Doctor:</label>
                                            </div>
                                            <div class="col-md-3 no-pad">
                                                <div class="form-group pholder">
                                                    <select name="getidbrnach" class="select-dropdown form-control pad-l-25" id="mySelect" ng-change="selectDoctorHospital(userList)" ng-options="users.Name for users in overrideDataForUsers  | filter:{Role :'DOCTOR'}" ng-model="userList" required>
                                                        <option value=""> Select Doctor </option>
                                                        <!-- <option ng-repeat='users in overrideDataForUsers'  id='{{users.ID}}' value={{users}}>{{users.Name}}</option>-->
                                                    </select>
                                                    <label for="mySelect" class="icon-contact" rel="tooltip" title=""></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Select Role & Group -->
                                        <div class="col-md-12">
                                            <div class="col-md-2 txt-right-align">
                                                <label>Group:</label>
                                            </div>
                                            <div class="col-md-3 no-pad">
                                                <div class="form-group pholder">
                                                    <select name="Role" class="select-dropdown form-control pad-l-25" id="rolename" ng-change="getRoles(selectrolename)" ng-model="selectrolename" required>
                                                        <option value=""> Select Group </option>
                                                        <option ng-repeat="agl in adminGrouplist" value="{{agl.RoleID}}">{{agl.RoleID}}</option>
                                                        <!-- <option value="DOCTOR">DOCTOR</option>
                                          <option value="RECPTNIST">RECEPTIONIST</option>
                                          <option value="ADMIN">ADMIN</option> -->
                                                        <!-- <option value="OWNER">OWNER</option> -->
                                                        <!-- <option value="PHARMACIST">PHARMACIST</option>
                                          <option value="NURSE">NURSE</option>
                                          <option value="CONSULTANT">CONSULTANT</option>
                                          <option value="DUTYDOCTOR">DUTY DOCTOR</option>
                                          <option value="LABASNT">LAB ASST</option> -->
                                                    </select>
                                                    <label for="mySelect" class="icon-contact" rel="tooltip" title=""></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-2 txt-right-align">
                                                <label>Role:</label>
                                            </div>
                                            <div class="col-md-3 no-pad">
                                                <div class="form-group pholder">
                                                    <select name="Profile Group" class="select-dropdown form-control pad-l-25" id="prfleGrp" ng-change="getGroupsBasedOnRoles(selectprofilegrp)" ng-model="selectprofilegrp" required>
                                                        <option selected="" value=""> Select Profile Role </option>
                                                        <option ng-repeat='groups in profileGroup' ng-show="groups.ActiveIND == 'Y'" id='{{groups.GroupCode}}' value='{{groups.GroupName}}'>{{groups.GroupName}}</option>
                                                    </select>
                                                    <label for="mySelect" class="icon-contact" rel="tooltip" title=""></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of select role & group -->
                                        <div class="row margin30">
                                            <div class="multiple-branch" ng-hide="userList == '' || userList == undefined">
                                                <div class="col-md-2 txt-right-align">
                                                    <label>Select Hospital / Clinics to add</label>
                                                </div>
                                                <div class="col-md-4 no-pad">
                                                    <div class="doctors-list-box">
                                                        <ul>
                                                            <li ng-repeat="branches in branchcollectionval" ng-show="branches.Active == 'Y'">
                                                                <div class="pull-left">
                                                                    <div class="checkbox-group text-center">
                                                                        <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-click="addBranchtodoc(branches)" ng-model="branches.Selected" style="">
                                                                        <span class="custom-checkbox"></span>
                                                                    </div>
                                                                    <!-- <input class="" type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-click="addBranchtodoc(branches)" ng-model="branches.Selected"> -->
                                                                    <!-- <label for="checkbox-8" class="checkbox-custom-label"></label> -->
                                                                </div>
                                                                <span>{{branches.ClinicName}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"><span class="add-hos-arrow-btn"> &gt;&gt; </span></div>
                                                <div class="col-md-4 no-pad">
                                                    <div class="branch-doctor-selected">
                                                        <div class="well panel-heading">Branches for <b>Dr. {{usersDoctorFullDetails[0].FullName}}</b></div>
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li ng-repeat="hospitals in selectedBranch">
                                                                    <label class="light-label hos-lbl">
                                                                        {{hospitals.ClinicName}}
                                                                    </label>
                                                                    <select ng-model="hospitals.Active" class="form-control select-dropdown pull-right" style="width: 50%">
                                                                        <option value="Y">Active</option>
                                                                        <option value="N">Inactive</option>
                                                                    </select>
                                                                </li>
                                                                <!-- <div class="col-md-12">
                                             </div> -->
                                                            </ul>
                                                            <div class="row hide">
                                                                <div class="col-md-12">
                                                                    <label class="light-label add-hos-txt-content">Selected branch is displayed here. Please select more branches and click "Add". </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="button" value="UPDATE" class="btn btn-primary update-btn" ng-click="updateMultipleBranch()">
                                                </div>
                                            </div>
                                            <div class="multiple-branch-no-dr" ng-show="userList == '' || userList == undefined">
                                                <p>Please select the doctor to add multiple Hospital/Clinic</p>
                                            </div>
                                        </div>
                                        <!-- <div class="margin30" ng-hide="userList == '' || userList == undefined">
                                 <div class="">
                                 
                                 </div>
                              </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Doctor Tab Content-->
                    </div>
                    <!-- End Add Hospitals/Clinic -->
                    <!-- Doctor Timings -->
                    <div class="row hide">
                        <div class="col-md-12 text-right">
                            <button class="btn col-lg-4  btn-primary pull-left UpdateTimeBtn" ng-click="UpdateTimeSlots()">Add Time Slot</button>
                        </div>
                    </div>
                </div>
                <!-- Tab 4 -->
                <div role="tabpanel" class="tab-pane doctortimingstab" id="doctorTimings">
                    <!--Doctor Tab Content-->
                    <div class="row doctor-timings" style="padding: 10px 0px;">
                        <div class="col-md-6">
                            <div class="doctor-timings-left ">
                                <h4 class="margin-top-none">Please select a Doctor and a Branch to set timings. Added Branch Timings will appear at the bottom</h4>
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="font-weight-bold">Select Doctor</label>
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select ng-model="selectDoctorinfo" class="form-control select-dropdown" required="" ng-options="users.Name for users in overrideDataForUsers  | filter:{Role :'DOCTOR'}" ng-change="getDoctorBranchesInfo(selectDoctorinfo)">
                                                    <option selected="" value="">Select Doctor </option>
                                                </select>
                                                <div class="pull-left error-msg" ng-if="selectDocError">Select the Doctor</div>
                                                <label for="prfleGrp" class="icon-contact" rel="tooltip" title=""></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="font-weight-bold">Select Branch</label>
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select ng-model="selectBranchInfo" class="form-control select-dropdown" id="branch" required="" ng-options="users.ClinicName for users in doctorHopitalDetails " ng-change="getDoctorBranches(selectBranchInfo)">
                                                    <option value="">Select Branch</option>
                                                </select>
                                                <div class="pull-left error-msg" ng-if="selectBranchInfoerror">Select the Clinic</div>
                                                <label for="branch" class="icon-network" rel="tooltip" title="Address"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="font-weight-bold">Average Consultation Time</label>
                                        <div class="form-group pholder">
                                            <div class="icon-addon addon-lg">
                                                <select ng-model="selectMinPerCase" class="form-control select-dropdown" id="branch" required="" ng-change="loadDoctorEndMinutes(selectMinPerCase)">
                                                    <option value="">Select Slot</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="60">60</option>
                                                </select>
                                                <div class="pull-left error-msg" ng-if="minPerCaseerror">Select average consultation time</div>
                                                <label for="branch" class="icon-network" rel="tooltip" title="Address"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="doctor-timings-right">
                                <h4 class="margin-top-none">Add Time Slot</h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Start Time</label>
                                        <select class="form-control select-dropdown" ng-model="startTimeHH">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="timing_mm_label"></label>
                                        <select class="form-control timing_mm_select select-dropdown" ng-model="startTimeMM">
                                            <option ng-selected="{{startTimeMM == data.value}}" ng-repeat="data in dayEndTimings" value="{{data.value}}">{{data.value}}</option>
                                        </select>
                                        <!-- <span class="hrs-txt-timings">Hrs</span> -->
                                    </div>
                                    <div class="col-lg-3">
                                        <label>End Time</label>
                                        <select class="form-control select-dropdown" ng-model="endTimeHH">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="timing_mm_label"></label>
                                        <select class="form-control timing_mm_select select-dropdown" ng-model="endTimeMM">
                                            <option ng-selected="{{startTimeMM == data.value}}" ng-repeat="data in dayEndTimings" value="{{data.value}}">{{data.value}}</option>
                                        </select>
                                        <!-- <span class="hrs-txt-timings">Hrs</span> -->
                                    </div>
                                    <div class="error-msg" ng-if="validStartTimeEndTime" style="position: relative;left: 15px;">Please select valid start time and end time</div>
                                </div>
                                <div class="days-list">
                                    <h5>Select Day(s)</h5>
                                    <ul class="clearfix">
                                        <li ng-repeat="day in daycdList" class="{{selection.indexOf(day.value) !== -1?'active':''}}"><a href="javascript:;" ng-click="toggleSelection(day.value)">{{day.value}}</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <input id="checkbox" class="checkbox checkbox-cust ng-pristine ng-untouched ng-valid" name="checkbox" type="checkbox" ng-model="selectedAll" ng-click="checkAll(selectedAll)">
                                    <span class="lbl"></span>&nbsp;
                                    <label for="checkbox" class="checkbox-custom-label">Select all days</label>
                                    <div class="clearfix error-msg" ng-if="daySelectionError" style="position: relative;left: -126px;top: 21px;">Please select the day</div>
                                </div>
                                <div class="clearfix">
                                    <button class="btn btn-primary pull-right" ng-click="addcousultationTiming()" ng-if="!update_btn_status">Add Time Slot</button>
                                    <button class="btn btn-primary pull-right" ng-click="addcousultationTiming()" ng-if="update_btn_status">Update Time Slot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-slots-table table-container appintment_view_pane" id="timinglist">
                        <h4 class="margin-top-none" ng-show="selectBranchInfo != ''">Timings for <b> {{selectBranchInfo.ClinicName}}</b></h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Day</th>
                                    <th>Time Slots</th>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'SUN'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'MON'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'TUE'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'WED'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'THU'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'FRI'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>
                                        <span class="{{item.Active == 'Y' ? 'avt' : 'uavt' }}" ng-repeat="item in timingCollection | orderBy : '-Active'  | filter:{'DayCD':'SAT'} | filter:{'AddressID':DoctorclinicaddressID}">
                                 <span data-tooltip="Click here to edit the slot" ng-click="timestatuslog(item)">{{item.StartTime}} to {{item.EndTime}}</span>
                                        <a href="javascript:;" class="tsc" ng-click="inactive_timings(item)">
                                            <img src="img/Active.png" data-tooltip="Deactivate the slot" ng-if="item.Active == 'Y'"><img src="img/inactive.png" ng-if="item.Active == 'N'" data-tooltip="Activate the slot"></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="legend_display_box">
                            <span class="legend_box"></span>
                            <p>Active Slots</p>
                            <span class="legend_box1"></span>
                            <p>Inactive Slots</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-xs-6  hide" style="">
            <div class="well no-pad " style="border: 0px solid #e3e3e3;border-radius: 0px;background-color: #fff;background-repeat: no-repeat;background-position: center center;">
                <div class="row-fluid">
                    <table class="table  TimingsTable">
                        <tbody>
                            <tr>
                                <td class="TTDays" style="padding-right: 0px;vertical-align: middle;padding-left: 0px;">{{monSatText}}</td>
                                <td ng-repeat="item in consultationRecordView track by $index">
                                    <span class="span-content"> <span class="time-content">{{item.StartTime}} to {{item.EndTime}}</span>
                                    <a href="javascript:;" class="img-content" ng-click="removeTimeSlot(item)"><i class="icon-close gry-closeicon"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of Doctor Timings -->
                <!--End of Doctor Tab Content-->
            </div>
        </div>
        <!--End Manage User Tab Content-->
    </div>
</div>
