<div class="no-page" style="width: 350px; margin: 50px auto 0; text-align:center;">
	<img src="img/not-allowed.png" style="margin-bottom: 10px">
	<p>You are in Offline, Can't view the requested page.</p>
	<button class="center-block btn btn-primary" onclick="history.go(-1);">Go Back</button>
</div>