<div>
	<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">Edit Profile</strong>
<p style="margin-bottom:5px;font-size:12px;">The doctors to edit their current profile</p>

<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Communications</strong>
<p style="margin-bottom:5px;font-size:12px;">Send single / bulk emails to his patients</p>
<p style="margin-bottom:5px;font-size:12px;">Send single / bulk sms's to his patients</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Reports &amp; Dashboard</strong>
<p style="margin-bottom:5px;font-size:12px;">View his Performance Reports</p>
<hr style="margin-top:10px;margin-bottom:10px;">

</div>