<div>
<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">Register Patient</strong>
<p style="margin-bottom:5px;font-size:12px;">Register a new Patient in the system</p>

<hr style="margin-top:10px;margin-bottom:10px;">
<strong style="margin-bottom:5px;font-size:14px;">View Case History</strong>
<p style="margin-bottom:5px;font-size:12px;">View entire Case History of the Patient</p>
<p style="margin-bottom:5px;font-size:12px;">Print Case History</p>
<hr style="margin-top:10px;margin-bottom:10px;">

</div>