<style>
.popover-content {
    overflow-y: auto;
    max-height: 200px;
}

a.btn.toggle-active {
    background: #00c853;
    border-radius: 0;
}
</style>
<div class="container">
    <!--ADMIN TABS-->
    <div class="adminmaintabs">
        <!-- <div><a href="#" class="admintabs">ADMINISTRATIVE BRANCH</a></div> -->
        <div><a ng-click="managebranch()" class="admintabs">MANAGE BRANCHES</a></div>
        <div><a href="#profilesettings" class="admintabsselected">PROFILE SETTINGS</a></div>
        <div><a ng-click="manageusers()" class="admintabs">MANAGE USERS</a></div>
        <div><a href="#feedback" class="admintabs">FEEDBACK & REGISTRATION</a></div>
    </div>
    <!--END ADMIN TABS-->
    <!--ADMIN TAB CONTENT-->
    <div class="row margin30">
        <div class="col-md-12" style="
    margin: 0px 0px 0px 30px;
">
            <p class="margin30"><span class="h4">ADD PROFILE</span></p>
        </div>
        <div class="col-md-12" style="
    margin: 0px 0px 0px 35px;
">
            <div class="row">
                <div class="col-md-3 pholder ">
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Custom Role Name" ng-disabled="nonedit == 'Y'" class="form-control ng-pristine ng-valid ng-touched" id="email" ng-model="roleName" aw-limit-length="25" ng-trim="false">
                            <label for="email" class="icon-contact" rel="tooltip" title=""></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pholder">
                    <div class="b-btm-msg" style="
    text-align: right;
    margin-top: 9px;
">
                        <span class="h4">
							
    Group</span>
                    </div>
                </div>
                <div class="col-md-3 pholder no-pad">
                    <div class="b-btm-msg">
                        <select ng-model="roleGroup" id="searchRole" ng-disabled="editingFlag" class="form-control ng-pristine ng-untouched ng-valid" style="display: inline;">
                            <option ng-repeat="agl in adminGrouplist" value="{{agl.RoleID}}">{{agl.RoleID}}</option>
                            <!--<option value="DOCTOR">DOCTOR</option>
								<option value="RECPTNIST">RECEPTIONIST</option>
								<option value="ADMIN">ADMIN</option> -->
                            <!-- <option value="OWNER">OWNER</option> -->
                            <!-- <option value="PHARMACIST">PHARMACIST</option>
								<option value="NURSE">NURSE</option>
								<option value="CONSULTANT">CONSULTANT</option>
								<option value="DUTYDOCTOR">DUTY DOCTOR</option>
								<option value="LABASNT">LAB ASST</option> -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 tabbg1">
            <div class="col-md-12" ng-class="nonedit == 'Y' ? 'pointerEventDisable':''">
                <span class="error-msg" ng-show="nonedit == 'Y'"></span>
                <div class="row pro-set-add-profile">
                    <div class="subTitle"><b>SET ACCESS RIGHTS</b> </div>
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Admin <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Admin_help.html'" popover-placement="right"></h5>
                                <!--<h5>Admin</h5>-->
                                <div class="pull-right">
                                    <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" ng-model="rolesCollection.ADMIN" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('admin')">
                                    <label for="checkbox-1" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <span>Manage Branches</span>
                                    <div class="pull-right">
                                        <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox" ng-model="rolesCollection.MANBRNS" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-2" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Manage Users</span>
                                    <div class="pull-right">
                                        <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" ng-model="rolesCollection.MANUSRS" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-3" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Manage Roles</span>
                                    <div class="pull-right">
                                        <input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox" ng-model="rolesCollection.MANROLES" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-4" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Care Team</span>
                                    <div class="pull-right">
                                        <input id="checkbox-5" class="checkbox-custom" name="checkbox-5" type="checkbox" ng-model="rolesCollection.ADDCARTEAM" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-5" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Billing Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-6" class="checkbox-custom" name="checkbox-6" type="checkbox" ng-model="rolesCollection.BILLSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-6" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Appointment <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Appointment_help.html'" popover-placement="right"></h5>
                                <div class="pull-right">
                                    <input id="checkbox-7" class="checkbox-custom" name="checkbox-7" type="checkbox" ng-model="rolesCollection.APPOINT" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('appoint')">
                                    <label for="checkbox-7" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <!--<li>
		                          				<span>Appointment List View</span>
		                          				<div class="pull-right">
													<input id="checkbox-8" class="checkbox-custom" name="checkbox-8" type="checkbox" ng-model="rolesCollection.APPLSTVIEW" ng-true-value="'Y'" ng-false-value="'N'">
										            <label for="checkbox-8" class="checkbox-custom-label"></label>
									        	</div>
		                          			</li> -->
                                <li>
                                    <span>All Doctors List </span>
                                    <div class="pull-right">
                                        <input id="checkbox-8" class="checkbox-custom" name="checkbox-8" type="checkbox" ng-model="rolesCollection.APPLSTVIEW" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-8" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Book Appointment</span>
                                    <div class="pull-right">
                                        <input id="checkbox-9" class="checkbox-custom" name="checkbox-9" type="checkbox" ng-model="rolesCollection.BKAPPTMENT" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-9" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Billing - Appointment View</span>
                                    <div class="pull-right">
                                        <input id="checkbox-10" class="checkbox-custom" name="checkbox-10" type="checkbox" ng-model="rolesCollection.APPVIWBING" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-10" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Capture Vitals - Appointment View</span>
                                    <div class="pull-right">
                                        <input id="checkbox-11" class="checkbox-custom" name="checkbox-11" type="checkbox" ng-model="rolesCollection.APPVIWVITL" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-11" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <!--<li>
		                          				<span>Start Consultation</span>
		                          				<div class="pull-right">
													<input id="checkbox-12" class="checkbox-custom" name="checkbox-12" type="checkbox" ng-model="rolesCollection.STRTCNSULT" ng-true-value="'Y'" ng-false-value="'N'">
										            <label for="checkbox-12" class="checkbox-custom-label"></label>
									        	</div>
		                          			</li>
		                          			<li>
		                          				<span>Walk-In Consultation</span>
		                          				<div class="pull-right">
													<input id="checkbox-13" class="checkbox-custom" name="checkbox-13" type="checkbox" ng-model="rolesCollection.WKINCNSULT" ng-true-value="'Y'" ng-false-value="'N'">
										            <label for="checkbox-13" class="checkbox-custom-label"></label>
									        	</div>
		                          			</li>-->
                                <li>
                                    <span>Update Patient Details</span>
                                    <div class="pull-right">
                                        <input id="checkbox-14" class="checkbox-custom" name="checkbox-14" type="checkbox" ng-model="rolesCollection.UPDTPTIENT" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-14" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Consultation <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Consultation_help.html'" popover-placement="right"></h5>
                                <div class="pull-right">
                                    <input id="checkbox-15" class="checkbox-custom" name="checkbox-15" type="checkbox" ng-model="rolesCollection.CONSULT" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('consult')">
                                    <label for="checkbox-15" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <span>Consultation</span>
                                    <div class="pull-right">
                                        <input id="checkbox-16" class="checkbox-custom" name="checkbox-16" type="checkbox" ng-model="rolesCollection.CONSULTATN" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-16" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Billing</span>
                                    <div class="pull-right">
                                        <input id="checkbox-17" class="checkbox-custom" name="checkbox-17" type="checkbox" ng-model="rolesCollection.BILLING" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-17" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row pro-set-add-profile">
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Patients <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Patient_help.html'" popover-placement="right"></h5>
                                <div class="pull-right">
                                    <input id="checkbox-19" class="checkbox-custom" name="checkbox-19" type="checkbox" ng-model="rolesCollection.PATIENTS" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('patients')">
                                    <label for="checkbox-19" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <span>Register Patient</span>
                                    <div class="pull-right">
                                        <input id="checkbox-20" class="checkbox-custom" name="checkbox-20" type="checkbox" ng-model="rolesCollection.REGPATIENT" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-20" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>View Case History</span>
                                    <div class="pull-right">
                                        <input id="checkbox-21" class="checkbox-custom" name="checkbox-21" type="checkbox" ng-model="rolesCollection.VIEWCASE" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-21" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Settings <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Settings_help.html'" popover-placement="right"></h5>
                                <div class="pull-right">
                                    <input id="checkbox-23" class="checkbox-custom" name="checkbox-23" type="checkbox" ng-model="rolesCollection.SETTINGS" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('settings')">
                                    <label for="checkbox-23" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <span>General Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-24" class="checkbox-custom" name="checkbox-24" type="checkbox" ng-model="rolesCollection.GNLSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-24" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Vital Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-25" class="checkbox-custom" name="checkbox-25" type="checkbox" ng-model="rolesCollection.VITALSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-25" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Medical History Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-26" class="checkbox-custom" name="checkbox-26" type="checkbox" ng-model="rolesCollection.MEDHRYSTNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-26" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Visit Reason Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-27" class="checkbox-custom" name="checkbox-27" type="checkbox" ng-model="rolesCollection.VSTRSNSTNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-27" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Diagnosis Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-28" class="checkbox-custom" name="checkbox-28" type="checkbox" ng-model="rolesCollection.DGNOSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-28" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Referral Source Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-29" class="checkbox-custom" name="checkbox-29" type="checkbox" ng-model="rolesCollection.REFALSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-29" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Inventory Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-290" class="checkbox-custom" name="checkbox-290" type="checkbox" ng-model="rolesCollection.INVSETNG" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-290" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Add Consultant Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-291" class="checkbox-custom" name="checkbox-291" type="checkbox" ng-model="rolesCollection.ADDCONSULT" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-291" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Id Generation Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-292" class="checkbox-custom" name="checkbox-292" type="checkbox" ng-model="rolesCollection.IDGENERATN" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-292" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Membership Settings</span>
                                    <div class="pull-right">
                                        <input id="checkbox-293" class="checkbox-custom" name="checkbox-293" type="checkbox" ng-model="rolesCollection.MEMBERSHIP" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-293" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="settings-list-box">
                            <div class="from-group">
                                <h5>Others <img src="img/help-icon.png" alt="help" uib-popover-template="'templates/admin/Others.html'" popover-placement="right"></h5>
                                <div class="pull-right">
                                    <input id="checkbox-30" class="checkbox-custom" name="checkbox-30" type="checkbox" ng-model="rolesCollection.OTHERS" ng-true-value="'Y'" ng-false-value="'N'" ng-change="CheckAll('others')">
                                    <label for="checkbox-30" class="checkbox-custom-label"></label>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <span>Edit Profile</span>
                                    <div class="pull-right">
                                        <input id="checkbox-31" class="checkbox-custom" name="checkbox-31" type="checkbox" ng-model="rolesCollection.EDITPRO" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-31" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Communications</span>
                                    <div class="pull-right">
                                        <input id="checkbox-32" class="checkbox-custom" name="checkbox-32" type="checkbox" ng-model="rolesCollection.COMUNICATN" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-32" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Reports &amp; Dashboard</span>
                                    <div class="pull-right">
                                        <input id="checkbox-33" class="checkbox-custom" name="checkbox-33" type="checkbox" ng-model="rolesCollection.LSTDASHBRD" ng-true-value="'Y'" ng-false-value="'N'">
                                        <label for="checkbox-33" class="checkbox-custom-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row pro-set-add-profile">
                </div>
            </div>
            <div class="row">
            <div class="col-md-3" style="    margin: 0 0 15px 0;">
                <div class="">
                     <div class=" admin-toggle" style="">
                        Profile Status
                    </div>
                    <!--<input id="checkbox-88" class="checkbox-custom" name="checkbox-88" type="checkbox" ng-model="roleactiveFlag" ng-true-value="'Y'" ng-false-value="'N'">
								<label for="checkbox-88" class="checkbox-custom-label"></label>
								<p style=" display: inline-block;">Active Flag</p>-->
                    <div class="toggle-container">
                        <div class="switch-toggle well" style="background: #d0d0d0 !important;">
                            <input id="set-tog-pha-yes" btn-radio="'Y'" value="Y" ng-model="roleactiveFlag" ng-checked="roleactiveFlag == 'Y' " name="view8" type="radio">
                            <label for="set-tog-pha-yes" onclick="" style="color: #fff!important;">Active</label>
                            <input id="set-tog-pha-no" btn-radio="'N'" value="N" ng-model="roleactiveFlag" ng-checked="roleactiveFlag == 'N' " name="view8" type="radio">
                            <label for="set-tog-pha-no" onclick="" style="color: #fff!important;">Inactive</label>
                            <a class="btn toggle-active"></a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-md-9 " >
                <div class="form-group pull-right">
                    <button type="button" ng-click="AddorupdateRole()" class="btn btn-hcue pro-set-btn AddRolebtn">{{buttonName}}</button>
                    <button type="button" ng-click="ClearRoles()" class="btn btn-filled">RESET</button>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="margin30"><span class="txtred">Note:</span> <span class="txtgrey">If you deactivate any profile, the already added access rights for the users under that profile will get affected.</span></p>
        </div>
        <div class="col-md-12 tabbg1">
            <span class="h4" style="font-weight:bolder;">LIST OF PROFILE ROLES</span>
            <div class="mainDiv">
                <table class="table table-hover profilerolestable">
                    <thead>
                        <tr>
                            <th>Profile Name</th>
                            <th>Group Name</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th></th>
                            <th>
                                <input type="text" class="form-control tablesearch ng-pristine ng-valid ng-touched" placeholder="Search" ng-model="searchProfileList" style="">
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="role in availableRoles.Roles|filter:searchProfileList">
                        <tr>
                            <td>{{role.GroupName}}</td>
                            <td>{{role.RoleID}}</td>
                            <td>
                                <div ng-if="(role.Active == 'Y' )">Active</div>
                                <div ng-if="(role.Active == 'N' )">Inactive</div>
                            </td>
                            <td><span ng-if="(role.RoleID != 'ADMIN')"><a class="cur-poiter"><img src="img/appoint-edit-ico.png" alt="edit" data-tooltip="Edit" ng-click="EditClick(role)"></a></span></td>
                            <!-- <td ng-if="(role.RoleID === undefined)"><a class="cur-poiter"><img src="img/appoint-edit-ico.png" alt="edit" data-tooltip="You will not edit this role"></a></td>-->
                            <td>
                                <!--<a class="cur-poiter"><img src="img/appoint-close-ico.png" data-tooltip="active/inactive" alt="delete" ng-click="ActiveClick(role)"></a--></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--END ADMIN TAB CONTENT-->
</div>
