<div>
<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">General Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Choose to send prescription sms to the patient</p>
<p style="margin-bottom:5px;font-size:12px;">Choosing the print format (A4/A5)</p>
<p style="margin-bottom:5px;font-size:12px;">Set the header width for prints</p>
<p style="margin-bottom:5px;font-size:12px;">Change User Password </p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Vital Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Select / Unselect preferred Vitals to be displayed during consultation</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Medical History Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add New Medical History which will be displayed during consultation</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Remove currently added Medical History</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Visit Reason Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add New Visit Reason (For ex. Fever, Knee Pain etc) which will be displayed during consultation</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Remove currently added Visit Reason</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Diagnosis Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add New Diagnosis Notes(For ex. Viral Infection, Malaria etc) which will be displayed during consultation</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Remove currently added Diagnosis Notes</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Referral Source Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add Patient Referral Source during registration (For Ex. Newspaper,    Google, Flyers etc)</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Remove currently added Referral Source</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Inventory Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Link a Pharmacy Inventory during Consultation</p>
<p style="margin-bottom:5px;font-size:12px;">Kindly contact hCue Support @ 9543279999 or email us at support@hcue.co to know more about this</p>
<hr style="margin-top:10px;margin-bottom:10px;">
</div>