<div class="c7report" ng-controller="c7PatientsinReportController">
    <div class="report-cont">
        <!-- <div class="table-responsive" ng-hide="patientsData.length==0">
            <table class="table color-theme-one">
                <thead>                    
                    <tr>
                        <th>Date</th>
                        <th>Triage</th>
                        <th>Follow ups</th>
                        <th>NC</th>
                        <th>Issues</th>                         
                        <th>Total Region </th>
                        <th>Awaiting Booking</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in patientsData">
                        <td>{{data.ReceivedDate | convertdate}}</td>
                        <td>{{data.Triagetot}}</td>
                        <td>{{data.Followupstot}}</td>
                        <td>{{data.NCtot}}</td>
                        <td>{{data.Issuestot}}</td>
                        <td>{{data.Regiontot}}</td>                         
                        <td>{{data.Awaitingtot}}</td>                          
                    </tr>
                </tbody>
                <tbody ng-show="patientsData.length==0"> 
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>  -->

        <div class="container">
                <div class="row">

            <div class="form-group">
                    <div class="col-sm-2">
            <label>Select Category:</label>
                    </div>
                    <div class="col-sm-9"></div>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-2">
                <select class="form-control" ng-model="categoryID" ng-change="changeCategory()">
                    <option value="0">All</option>
                    <option ng-repeat="category in categoryCollection" value="{{category.CategoryID}}">{{category.CategoryName}}</option>
                </select>
              
            </div>
            <div class="col-sm-9"></div>


    </div><br>
    
    <div class="row">
            <div class="col-sm-11">


    <figure class="pull-right cursor export-excel mb-10 ml-10" style="margin-right: -25px;" title="Export to Excel" ng-if="patientsData.length > 0" ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
    
        <div class="dib table-responsive" ng-hide="patientsData.length==0">
            <table class="table color-theme-plain">
                <thead>
                    <tr>
                        <th>
                    
                    </th>
                        <th>New</th>
                        <th>Follow Ups</th>
                        <th>No contact</th>
                        <th>Issues</th>
                        <th>Total </th>
                    </tr>
                </thead>
                <tbody ng-repeat="data in patientsData">
                    <tr class="region_data">
                        <td>{{data.Name}}</td>
                        <td>{{data.Triagetot}}</td>
                        <td>{{data.Followupstot}}</td>
                        <td>{{data.NC}}</td>
                        <td>{{data.Issuestot}}</td>
                        <td>{{data.Regiontot}}</td>
                    </tr>
                    <tr ng-repeat="ccg in data.Ccgroupdetails">
                        <td style="padding-left: 40px;">{{ccg.Name}}</td>
                        <td>{{ccg.Triagetot}}</td>
                        <td>{{ccg.Followupstot}}</td>
                        <td>{{ccg.NC}}</td>
                        <td>{{ccg.Issuestot}}</td>
                        <td>{{ccg.totregion}}</td>
                    </tr>
                </tbody>
                <tbody ng-repeat="data in patientsDataTotal">
                    <tr class="bold">
                        <td>{{data.Name}}</td>
                        <td>{{data.Triagetot}}</td>
                        <td>{{data.Followupstot}}</td>
                        <td>{{data.NC}}</td>
                        <td>{{data.Issuestot}}</td>
                        <td>{{data.Regiontot}}</td>
                    </tr>
                </tbody>
                <tbody ng-show="patientsData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div ng-show="patientsData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
    </div>
</div>
</div>
</div>