<div>
	<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">Manage Branch</strong>
	<p style="margin-bottom:5px;font-size:12px;">Create new clinic Branches (anywhere in India)</p>
	<p style="margin-bottom:5px;font-size:12px;">Edit Branches</p>
	<p style="margin-bottom:5px;font-size:12px;">Activate / Inactivate Branches</p>
<hr style="margin-top:10px;margin-bottom:10px;">
<strong style="margin-bottom:5px;font-size:14px;">Manage Users</strong>
<p style="margin-bottom:5px;font-size:12px;">Edit Users</p>
<p style="margin-bottom:5px;font-size:12px;">Activate / Inactivate Users</p>
<hr style="margin-top:10px;margin-bottom:10px;">
<strong style="margin-bottom:5px;font-size:14px;">Manage Roles</strong>
<p style="margin-bottom:5px;font-size:12px;">Create new custom roles and assign access rights to the roles</p>
<p style="margin-bottom:5px;font-size:12px;">Edit Roles</p>
<p style="margin-bottom:5px;font-size:12px;">Activate / Inactivate Roles</p>
<span style="margin-bottom:5px;font-size:10px;color:red;"> <b>Important Note:</b> Kindly provide this access only to trusted personnel.</span>
<hr style="margin-top:10px;margin-bottom:10px;">
<strong style="margin-bottom:5px;font-size:14px;">Care Team</strong>
<p style="margin-bottom:5px;font-size:12px;">Add doctors to your Clinic network</p>
<p style="margin-bottom:5px;font-size:12px;">Add Pharmacies to your network</p>
<p style="margin-bottom:5px;font-size:12px;">Add Labs to your netowrk</p>
<hr style="margin-top:10px;margin-bottom:10px;">
<strong style="margin-bottom:5px;font-size:14px;">Master Treatment / Billing Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add Treatments (Selected treatments will be by visible across all doctors)</p>
<p style="margin-bottom:5px;font-size:12px;">Add Prices for Treatments</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Delete Treatments</p>
<span style="margin-bottom:5px;font-size:10px;color:red;"> <b>Important Note:</b> Kindly provide this access only to trusted personnel.</span>
<hr style="margin-top:10px;margin-bottom:10px;">
</div>