		  <div ng-controller="hCueAdminBranch">
          		<div class="container">
                <!--ADMIN TABS-->
                	<div class="adminmaintabs">
                        <!--<div><a href="#/adminbranch" class="admintabsselected">ADMINISTRATIVE BRANCH</a></div>-->
                        <div><a href="#/managebranch" class="admintabs">MANAGE BRANCHES</a></div>
                        <div><a href="#/manageusers" class="admintabs">MANAGE USERS</a></div>
                        <!--<div><a href="#/profilesettings" class="admintabs">PROFILE SETTINGS</a></div>-->
                    </div>
                  <!--ADMIN TAB-->  
                  <!--ADMIN TAB CONTENT--> 
                  
                  <!--<div class="row margin30"> 
                  <p align="center" class="margin30"><span class="h3">32 Dental Care</span> - <span class="title01">Administrative Branch</span> </p> 
                         
                	<div class="col-md-6 tabbg">
                    
                        <div class="tabcontent">
                            <div class="borbot">
                                <div class="left">                            
                                    <p >
                                       Used Licenses
                                    </p>                            
                                    <span class="number">17</span>
                                 </div> 
                                 <div class="left">  
                                     <p>
                                       Unused Licenses
                                    </p> 
                                    <span class="number">27</span>
                                   </div>
                                   <div class="left">   
                                    <p>
                                       Expired
                                    </p> 
                                    <span class="number">2</span>
                                    </div>
                                    <div class="left">    
                                    <p>
                                       About to Expire
                                    </p> 
                                    <span class="number">4</span> 
                                    </div>     
                                </div>
                                <p><a href="#" class="tabconlink">Get More Licenses</a></p>
                            </div>
                        </div>


                    <div class="col-md-3 tabbg">
                    
                        <div class="tabcontent">
                            <div class="borbot">
                                
                                   <div class="left">   
                                    <p>
                                       Total Branches
                                    </p> 
                                    <span class="number">14</span>
                                    </div>
                                    <div class="left">    
                                    <p>
                                       Total Users
                                    </p> 
                                    <span class="number">33</span> 
                                    </div>     
                                </div>
                                <p><a href="#" class="tabconlink">Manage Branches</a> <a href="#" class="tabconlink">Manage users</a></p>
                               
                            </div>
                        </div>

                    <div class="col-md-2 tabbg">
                    
                        <div class="tabcontent1">
                            <div class="borbot">                                
                                    <div class="left">    
                                    <p>
                                       Location
                                    </p> 
                                    <span class="txtsm">T.Nagar, Chennai</span> 
                                    </div>     
                                </div>
                                <p><a href="#" class="tabconlink">Manage</a></p>
                            </div>
                        </div>
                 </div>-->  
                </div>
          </div>
