<div>
<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">All Doctor List</strong>
<p style="margin-bottom:5px;font-size:12px;">View all doctor Appointments in all Clinics</p>
<p style="margin-bottom:5px;font-size:12px;">This along with Book appointment below will give the user book appointments with all doctors.</p>
<p style="margin-bottom:5px;font-size:12px;">Note: Specifically for Admins &amp; Receptionists</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Book Appointment</strong>
<p style="margin-bottom:5px;font-size:12px;">Cancel Booked Appointments</p>
<p style="margin-bottom:5px;font-size:12px;">Reschedule Appointments</p>
<p style="margin-bottom:5px;font-size:12px;">Note: Specifically for Admins &amp; Receptionists</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Billing - Appointment View</strong>
<p style="margin-bottom:5px;font-size:12px;">Add Billing</p>
<p style="margin-bottom:5px;font-size:12px;">Print Invoice</p>
<p style="margin-bottom:5px;font-size:12px;">Update Bill</p>
<p style="margin-bottom:5px;font-size:12px;">Note: Specifically for Admins &amp; Receptionists</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Capture Vitals - Appointment View</strong>
<p style="margin-bottom:5px;font-size:12px;">Add Vitals</p>
<p style="margin-bottom:5px;font-size:12px;">Edit Vitals</p>
<p style="margin-bottom:5px;font-size:12px;">Note: Specifically for Receptionists</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Update Patient Details</strong>
<p style="margin-bottom:5px;font-size:12px;">Update Existing Patient Details</p>
<p style="margin-bottom:5px;font-size:12px;">Note: Specifically for Admins, Receptionists &amp; Doctors</p>
<hr style="margin-top:10px;margin-bottom:10px;">
</div>