<div>
	<strong style="font-size:14px;">By selecting this option, you are giving the user full authority to,</strong></br></br>
<strong style="margin-bottom:5px;font-size:14px;">Consultation</strong>
<p style="margin-bottom:5px;font-size:12px;">Start Consultation (full flow)</p>
<p style="margin-bottom:5px;font-size:12px;">Submit / Save Records for the Patient</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Billing</strong>
<p style="margin-bottom:5px;font-size:12px;">Bill &amp; Print receipt for the patient during consultation</p>
<hr style="margin-top:10px;margin-bottom:10px;">

<strong style="margin-bottom:5px;font-size:14px;">Medical History Settings</strong>
<p style="margin-bottom:5px;font-size:12px;">Add New Medical History which will be displayed during consultation</p>
<p style="margin-bottom:5px;font-size:12px;">Edit / Remove currently added Medical History</p>
<hr style="margin-top:10px;margin-bottom:10px;">

</div>