<div class="container">
    <!--ADMIN TABS-->
    <div class="adminmaintabs">
        <!-- <div><a href="#" class="admintabs">ADMINISTRATIVE BRANCH</a></div> -->
        <div><a data-ng-click="managebranch()" class="admintabs">MANAGE BRANCHES</a></div>
        <div><a href="#/profilesettings" class="admintabs">PROFILE SETTINGS</a></div>
        <div><a data-ng-click="manageusers()" class="admintabs">MANAGE USERS</a></div>
        <div><a href="#/feedback" class="admintabsselected">FEEDBACK & REGISTRATION</a></div>
    </div>
    <div class="summary">
        <div class="container-fluid margin">
            <!-- tabs starts -->
            <div class="reports-cont">
                <ul class="reports-tabs nav nav-tabs">
                    <li class="reports-li active">
                        <a data-toggle="tab" data-target="#Feedback" data-ng-click="tabRefresh()" class="" aria-expanded="true">Feedback Questions</a>
                    </li>
                    <li class="reports-li">
                        <a data-toggle="tab" data-target="#Registration" data-ng-click="tabRefresh()" aria-expanded="false">Patient Registration Fields </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="Feedback" class="tab-pane fade active in">
                    <div class="container-fluid reports-inner">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-md-12 pholder " style="margin: 0px 0px 25px 0px;">
                                    <label style="font-weight: bold;">Questions you add for each branch will be shown in Kiosk for that particular branch</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 pholder ">
                                    <label>View questions by branch</label>
                                    <div class="form-group">
                                        <select name="Branch" class="form-control" id="branch" data-ng-model="objbranches" data-ng-change="getBranch(objbranches)" data-ng-options="objbranches.HospitalInfo.HospitalDetails.HospitalID as objbranches.HospitalInfo.HospitalDetails.HospitalName for objbranches in overrideDataUn">
                                            <option value=""> -Select Branch- </option>
                                            <option data-ng-show="objbranches.HospitalInfo.HospitalDetails.ActiveIND == 'Y'" id='{{objbranches.HospitalInfo.HospitalDetails.HospitalID}}' value='{{objbranches.HospitalInfo.HospitalDetails.HospitalName}}'>{{objbranches.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                <p class="feed-select-font">Select the Language(s) in which the questions have to be displayed</p>
                                
                                </div>
                            </div>
                            <div class="row form-group">
                            <div class="col-lg-1">
                                <label class="control control--checkbox">
                                    <span> English</span>
                                    <input type="checkbox" checked="checked" ng-model="eng_lang" ng-true-value="'Y'" ng-false-value="'N'"> 
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <div class="col-lg-1">
                                <label class="control control--checkbox">
                                    <span> Tamil</span>
                                    <input type="checkbox" checked="checked" ng-model="tam_lang" ng-true-value="'Y'" ng-false-value="'N'"> 
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <div class="col-lg-1">
                                <label class="control control--checkbox">
                                    <span> Hindi</span>
                                    <input type="checkbox" checked="checked" ng-model="hin_lang" ng-true-value="'Y'" ng-false-value="'N'"> 
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            </div>
                            <div>
                                <div class="col-md-12 pholder">
                                    <form name="feedbackAdd">
                                        <label class="feed-ques-lbl">Add a Feedback Question<em>*</em></label>
                                        <div class="row form-group" ng-show="eng_lang == 'Y'">
                                            <div class="col-lg-1">
                                                <label class="feed-lbl-lang">English</label>
                                            </div>
                                            <div class="col-lg-10">
                                                <input class="form-control " placeholder="Enter Question here" ng-model="eng_lanText" name="englishLanguage">
                                            </div>
                                        </div>
                                        <div class="row form-group" ng-show="tam_lang == 'Y'">
                                            <div class="col-lg-1">
                                                <label class="feed-lbl-lang">Tamil</label>
                                            </div>
                                            <div class="col-lg-10">
                                                <input class="form-control " placeholder="Enter Question here"  ng-model="tamil_lanText" name="tamilLanguage">
                                            </div>
                                        </div>
                                        <div class="row form-group" ng-show="hin_lang == 'Y'">
                                            <div class="col-lg-1">
                                                <label class="feed-lbl-lang">Hindi</label>
                                            </div>
                                            <div class="col-lg-10">
                                                <input class="form-control " placeholder="Enter Question here"  ng-model="hin_lanText" name="hindiLanguage">
                                            

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12"></div>
                                            
                                            <div class="pull-right">
                                                <div class="b-btm-msg">
                                                    <button style="margin-right: 10px;" class="btn btn-grey pull-left" ng-click="resetForm()">
                                                    Reset</button>

                                                    <button class="btn btn-primary pull-left mw-100" type="submit" ng-click="updateBranch(feedbackAdd)" ng-if="addNew">Save</button>
                                                    <button class="btn btn-primary pull-left mw-100" type="submit" ng-click="updateBranch(feedbackAdd)" ng-if="updateNew">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 no-pad pholder ">
                                    <div class="col-md-12 no-pad ">
                                        <div class="appintment_view_pane">
                                            <table class="table table-hover billing-table">
                                                <thead>
                                                    <tr>
                                                        <th>Questions</th>
                                                        <th>Status</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-ng-repeat="obj in getAddBranchDetails.HospitalDetails.FeedBackQuestion.questions" ng-if="getAddBranchDetails.HospitalDetails.FeedBackQuestion != undefined">
                                                    <tr>
                                                        <td class="pad-ques">
                                                         <p ng-repeat="questions in obj.questions" ng-bind="questions.question"></p>
                                                        </td>
                                                        <td>
                                                            <select id="dropdownFeedback_{{$index}}" data-ng-change="FeedbackchangeStatus($index,obj.rowid)" data-ng-model="obj.activeIND" class="">
                                                                <option value="Y">Active</option>
                                                                <option value="N">Inactive</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <a class="cur-poiter" scroll-to-item scroll-to="#Billing">
                                                                <img data-ng-src="img/appoint-edit-ico.png" alt="edit" data-tooltip="Edit" data-ng-click="EditFeedbackQuestion(obj,$index)">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody  ng-if="getAddBranchDetails.HospitalDetails.FeedBackQuestion == undefined">
                                                      <td>
                                                         <p> Add feedback question</p>
                                                      </td>  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div id="Registration" class="tab-pane fade">
                    <div class="container-fluid reports-inner">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-md-12 pholder " style="margin: 0px 0px 25px 0px;">
                                    <label style="font-weight: bold;">You can show / hide the fields for patient registration for each branch</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 pholder ">
                                    <label>Filter Branch</label>
                                    <div class="form-group">
                                        <select name="PatientRegBranch" class="form-control" id="PatinetRegBranch" data-ng-model="PatientRegBranch" data-ng-change="getSelectedRegBranch(PatientRegBranch)" data-ng-options="branches.HospitalInfo.HospitalDetails.HospitalID as branches.HospitalInfo.HospitalDetails.HospitalName for branches in overrideDataUn">
                                            <option value=""> -Select Branch- </option>
                                            <option data-ng-show="branches.HospitalInfo.HospitalDetails.ActiveIND == 'Y'" id='{{branches.HospitalInfo.HospitalDetails.HospitalID}}' value='{{branches.HospitalInfo.HospitalDetails.HospitalName}}'>{{branches.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pholder ">
                                    <div class="col-md-12 no-pad ">
                                        <div class="mainDiv">
                                            <table class="table table-hover profilerolestable feedbacktable">
                                                <thead>
                                                    <tr>
                                                        <th class="EmergencyContactDetails" style="width: 70%;">Basic Details</th>
                                                        <th style="width: 30%;">Mandatory Fields</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="item in RegFields track by $index" data-index="{{$index+1}}" data-ng-if="item.groupid==1">
                                                        <td class="EmergencyContactDetails" colspan="2">
                                                            <label class="ng-binding" style="width:91%;">
                                                                <Span class="pull-left">{{item.fieldname}}</Span>
                                                                <img style="margin-right:6px" ng-if="item.fieldname == 'Name' || item.fieldname == 'Age' || item.fieldname == 'Gender'" src="img/checked-feedback.PNG" class="pull-right" />
                                                                <input type="checkbox" ng-if="item.fieldname == 'Mobile Number' || item.fieldname == 'Email Id' || item.fieldname == 'Address'" id="{{item.groupedes}}{{$index}}" value="{{item.fieldname}}" class="checkbox RegFiled" data-ng-checked="item.mandatory=='Y'" data-ng-click="changeStatus($event,$index,item.groupedes)">
                                                                <span class="lbl pull-right"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pholder ">
                                    <div class="col-md-12 no-pad ">
                                        <div class="mainDiv">
                                            <table class="table table-hover profilerolestable feedbacktable">
                                                <thead>
                                                    <tr>
                                                        <th class="EmergencyContactDetails" style="width: 70%;">Emergency Contact</th>
                                                        <th style="width: 30%;">Mandatory Fields</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="item in RegFields track by $index" data-index="{{$index+1}}" data-ng-if="item.groupid==2">
                                                        <td class="EmergencyContactDetails" colspan="2" ng-hide="item.rowid=='10'">
                                                            <label class="ng-binding" style="width:91.5%;">
                                                                <Span class="pull-left">{{item.fieldname}}</Span>
                                                                <input type="checkbox" id="{{item.groupedes}}{{$index}}" value="{{item.fieldname}}" data-ng-checked="item.mandatory=='Y'" class="checkbox RegFiled" data-ng-click="changeStatus($event,$index,item.groupedes)">
                                                                <span class="lbl pull-right"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pholder ">
                                    <div class="col-md-12 no-pad ">
                                        <div class="mainDiv">
                                            <table class="table table-hover profilerolestable feedbacktable">
                                                <thead>
                                                    <tr>
                                                        <th class="EmergencyContactDetails" style="width: 70%;">Other Details</th>
                                                        <th style="width: 30%;">Mandatory Fields</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="item in RegFields track by $index" data-index="{{$index+1}}" data-ng-if="item.groupid==3">
                                                        <td class="EmergencyContactDetails" colspan="2" ng-hide="item.rowid=='14'">
                                                            <label class="ng-binding" style="width:91.5%;">
                                                                <Span class="pull-left">{{item.fieldname}}</Span>
                                                                <input type="checkbox" id="{{item.groupedes}}{{$index}}" value="{{item.fieldname}}" data-ng-checked="item.mandatory=='Y'" class="checkbox RegFiled" data-ng-click="changeStatus($event,$index,item.groupedes)">
                                                                <span class="lbl pull-right"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pholder pull-right ">
                                    <div class="b-btm-msg" style="margin-top: 30px;float: right;">
                                        <button class="btn btn-primary" data-ng-click="SaveRegFileds()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="margin"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog" data-ng-class="size ? 'modal-' + size : ''" data-ng-hide="true">
    <div class="modal-content" uib-modal-transclude="">
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body" style="padding: 10px 15px 0">
            <p style="margin: 0">Are you sure you want to make this Inactive?</p>
            <div class="modal-footer">
                <div style="">
                    <button data-ng-click="ClosePharmacyandProceed()" class="btn btn-default btn-grey light-font">No</button>
                    <button data-ng-click="DefaultPharmacy()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
