<div class="no-page" style="width: 350px; margin: 50px auto 0; text-align:center;">
	<img src="img/not-allowed.png" style="margin-bottom: 10px">
	<p>You are not authorized to view the requested page.</p>
	<p>Please contact your clinic Admin.</p></br>
	
</div>