<style>
video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
    /* Adjust as needed */
}
</style>
<div ng-controller="hCueConsultationResultController">
    <div class="wrapper container">
        <div class="content-sec" scroll='false'>
            <div class="header-bar red-theme">
                <div class="row">
                    <div class="col-10">
                        <a href=""><i class="ion-android-hmenu"></i></a>
                    </div>
                    <div class="col-80 relative">
                        <!--<h1 class="title text-center">Summary</h1>-->
                        <!-- <img alt="" class="img-responsive ng-scope" src="img/CareTeam-Tick.png" style=" display: block;
                        margin: 0 auto;padding-top: 20px"> -->
                    </div>
                    <div class="col-10"></div>
                </div>
            </div>
        </div>
        <pane side-menu-content drag-content="false">
            <div class="row">
                <div class="col">
                    <div class="summary-success-page">
                        <img src="img/CareTeam-Tick.png">
                        <h3 class="text-theme">Your consultation was successful.</h3>
                        <h6>Message has been sent to your patient.</h6>
                        <h4 class="text-theme">Time taken for this consultation (HH:MM:SS): <span style=" font-weight bold;"> {{totalConsultTime}}</span> </h4>
                        <p class="address"></p>
                        <p style="margin-top: 20px;">
                            <a class="btn btn-filled" ng-click="uploadTestimonial()">UPLOAD TESTIMONIAL VIDEO</a>
                            <a href="#/appointment" class="theme-btn tablee btn btn-primary" style="padding: 10px;margin-right: 10px;  color: #fff;border-radius: 5px;text-decoration: none;">Back to my appointments</a>
                        </p>
                    </div>
                </div>
            </div>
        </pane>
    </div>
    <!-- Testimonial Video popup -->
    <div class="modal-overlay" ng-show="showpopup"></div>
    <div class="modal-common " ng-show="showpopup">
        <div class="modal-common-dialog  testi-dialog" style="width:800px !important">
            <div class="testi-popup-close" ng-click="closetestpopup()"> x </div>
            <div class="form_wrapper testi-wrap">
                <form name="patientform" class="css-form">
                    <!-- No video found div -->
                    <div class="row update-patient capture-upload-video" style="" ng-show="showpopup">
                    <h4 class="text-center text-bold">You can upload patient&#39;s testimonial videos here</h4>
                        <div class=" ">
                            <div class="col-md-6">
                                <div class="no-video-testimonial alert-error">
                                    <!--<h5 class="testi-upload-text1">No testimonial videos found.</h5>-->
                                   <!--  <span class="testi-upload-text2">You can upload patient&#39;s testimonial videos here</span> -->
                                    <input type='file' class="pd-vup-pos" ngf-select="onFileSelectVideo($files)" ngf-accept="'video/*'" />
                                    <div class="testimonial-video-upload">
                                        <img src="img/new-img/max-upload-icon.png">
                                        <span class="testi-upload">UPLOAD</span>
                                        <video controls ngf-src="files[0]" ngf-accept="'video/*'" autoplay></video>
                                    </div>
                                    <p class="testi-upload-text3">Upload format: MP4</p>
                                    <p class="testi-upload-text4"> Maximum file size: 10 MB</p>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="no-video-testimonial alert-error">
                                    <!-- <span class="testi-upload-text2">You can capture patient&#39;s testimonial videos here</span> -->
                                    <div class="testimonial-video-upload" ng-click = "captureTestimonialVideo()">
                                        <img src="img/new-img/max-upload-icon.png">
                                        <span class="testi-upload">CAPTURE VIDEO</span>
                                    </div>
                                    <p class="testi-upload-text3">Upload formats: MP4</p>
                                    <p class="testi-upload-text4"> Maximum file size: 10 MB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End no video found div -->
                    <!-- upload progress div -->
                    <!--<div class="row update-patient" style="" ng-hide="showpopup">
                        <div class="col-lg-12">
                            <div class="no-video-testimonial alert-error">
                                <h5>Uploading in Progress  (55%)</h5>
                                <span>Rajanspeaks.mp4 (7.6 MB) <a href="#" class="testi-upload-canel">  Cancel</a></span>
                                <div class="progress-testimonial">
                                    <div class="progress-bar-testimonial" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- ENd upload progress div -->
                </form>
            </div>

        </div>
    </div>

    <!-- Capture Video starts -->
        <div class="modal-overlay" ng-show="showcaptureVideo == true"></div>
        <div class="modal-common " ng-show="showcaptureVideo == true">
            <div class="modal-common-dialog  testi-dialog" style="width:800px !important">
                <div class="testi-popup-close" ng-click="closeCapturepopup()"> x </div>
                <div class="form_wrapper testi-wrap">
                    <form name="patientform" class="css-form">
                        <!-- No video found div -->
                        <div id="container" class="video-record">
                            <video id="gum" autoplay muted></video>
                            <div class="clearfix text-center">
                                <button  class="button btn-filled " ng-click="toggleRecording()">{{videoTextContent}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Capture Video ends-->
        
    <div class="modal-overlay" ng-if="videorun"></div>
    <div class="modal-common " ng-if="videorun">
        <div class="modal-common-dialog  testi-dialog" style="width:800px !important">
            <div class="testi-popup-close" ng-click="closetestpopup()"> x </div>
            <div class="form_wrapper testi-wrap">
                <form name="patientform" class="css-form">
                    <!-- Uploaded video section -->
                    <div class="row update-patient" ng-if="videorun">
                        <div class="col-lg-12">
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <a rel="ligthbox" href="">
                                        <!--<img alt="" src="img/partha/dummyvideo.png" width="100%">-->
                                        <video autoplay="autoplay" preload="auto" ng-click="pauseOrPlay()" id="videopopup" width="100%" height="400px" controls>
                                            <source ng-src="{{trustSrc(videoplay)}}" type="video/mp4" />
                                        </video>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="list-group gallery">
                                    <div class="col-lg-3 text-center">
                                        <div class="upload-test-gallry"  style="height: 85px;margin: 0 5px;">
                                            <input type='file' ngf-select="onFileSelectVideo($files)" ngf-accept="'video/*'" style=" position: absolute;left: 20px;top: 0;height: 85px; opacity: 0; width: 144px;" class="pd-vup-pos"/>
                                            <img src="img/new-img/max-upload-icon.png">
                                            <p class="testi-upload" >UPLOAD VIDEO</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <button ng-click="currentPage2=currentPage2-1" ng-hide="currentPage2 == 0">
                                            <i class="testi-scroll-left testi-scroll"></i>
                                        </button>
                                        
                                       
                                        <div rel="ligthbox" style="display: inline-block;" ng-repeat="val in data|startFrom:currentPage2*pageSize2 | limitTo:pageSize2">
                                            <div class="testi-upload-div testimonial-videopop" ng-click="playuploadvideo(val) ">
                                                <video  width="150px" height="82px;">
                                                    <source ng-src="{{trustSrc(val.fileURL)}} " type="video/mp4 " />
                                                </video>
                                                <div class="upload-img-del " >
                                                    <img src="img/close.png " class=" " ng-click="deletevideo(val) ">
                                                </div>
                                                 <div class="overlayplay" >
                                                      <img src="img/play-button.png" alt="" >
                                                    </div>
                                            </div> 
                                                <!-- delete popup -->
                                                <div class="text-center test-del-popup testimon-arrow_box" ng-show="valueId == val.mediafileid">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="testi-del-marbtm">Delete this video ?</p>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <button class="btn btn-primary testi-mar-15" ng-click="cnfmdelete()">YES</button>
                                                            <button class="btn btn-primary" ng-click="rejectdelete()">NO</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End delete popup -->                                           
                                            </div>                                           
                                   
                                        
                                        <button ng-click="currentPage2=currentPage2+1 " ng-hide="currentPage2>= data.length/pageSize2 - 1">
                                                <i class="testi-scroll-right testi-scroll"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- list-group / end -->
                                    </div>
                                </div>
                            </div>
                            <!-- End uploaded video section -->
                </form>
                </div>
                </div>
            </div>
            <!-- End Testimonial video popup -->
        </div>
