<style type="text/css">
    .alert-icon>.icon
    {
    	width:100px;
    }
    .alert-icon>.icon:after
    {
    	margin-left:100px;
    }
</style>
<div>
    <script type="text/ng-template" id="PauseOkmodel.html">
        <div class="modal-header">
            <div class="" ng-if="getPatientsVisibleStatus === 'yes'">
                <div class="list list-inset">
                    <div class="form-group">
                        <label>You are in: </label>
                        <select class="form-control" name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="GetReferredAppointmentByConsultIds(AppListselectedclinic)"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p class="" style="text-align: center;">
                Are you sure you want to pause the consultation ?
            </p>
            <div style="border-top: 1px solid #ccc; margin: 20px 0 0; padding: 15px 0 0">
                <button class="btn btn-default btn-grey light-font" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="pauseOk()">OK</button>
            </div>
        </div>
    </script>
</div>
<div>
    <div>
        <div class="main-wrap">
            <div id="sidebar_left">
                <div class="left-navigation" ng-include src="'templates/consultation/tab.html'"></div>
            </div>
            <div id="content_wrapper">
                <div class="inner-content-wrapper">
                    
                    <div class="inner-wbg ">
                        <div class="patients-profile clearfix" ng-show="MainStrip">
                            <div class="profile-detail">
                                <div class="profile-avatar" ng-show="viewimg == false">
                                    <!-- <img ng-srcset="{{viewimage}}"> -->
                                    <img class="pt-photo" ng-show="viewGender =='Male'" src="img/srch_defaultusr_male.png" width="58" height="58">
                                    <img class="pt-photo" ng-show="viewGender =='Female'" src="img/srch_defaultusr_female.png" width="58" height="58">
                                </div>
                                <div class="profile-avatar" ng-show="viewimg == true">
                                    <img ng-srcset="{{viewimage}}">
                                </div>
                                <div class="profile-name">
                                    <h3 ng-bind="viewName"></h3>
                                    <p><span ng-hide="viewAge == 0">{{viewAge}} y</span><span ng-hide="viewMonth == 0"> {{viewMonth}} m </span><span> - {{viewGender}}</span></p>
                                </div>
                            </div>
                            <ul>
                                <li ng-hide="Main.viewPhnumber == 'N/A'">
                                    <h3>Contact No.</h3>
                                    <p> <span ng-show="viewplus == false">{{'+' + "" + Main.viewPhCntryCD}}</span> {{Main.viewPhnumber}}</p>
                                </li>
                                <li ng-show="showDisplayID && viewDisID !='N/A'&& viewDisID != undefined && viewDisID !=''">
                                    <h3>Patient ID</h3>
                                    <p ng-bind="viewDisID"></p>
                                </li>
                                <!-- <li>
                                    <h3>Family ID</h3>
                                    <p>FAM0007212</p>
                                </li>
                                <li>
                                    <h3>Membership</h3>
                                    <p>Platinum</p>
                                </li> -->
                                <li ng-hide="viewLastVisit == 'N/A'">
                                    <h3>Last Visited</h3>
                                    <p>{{daysago}}</p>
                                </li>
                            </ul>
                            <!-- <a href="javascritp:;" class="btn btn-primary editpro-info-btn" ng-click="editPat()">Edit Patient Info</a>
                            <a href="javascritp:;" class="btn btn-primary editpro-info-btn" ng-click="pause('sm')">Pause</a> -->
                            <!-- timer -->
                            <div class="profile-detail constimer" style="">
                                <div class="profile-name">
                                    <p class="constimerp" style="">Consulting Time
                                        <span class="constimerspan" style="">{{time}}</span></p>
                                </div>
                            </div>
                            <!-- End timer -->
                            <div class="pat-strip-icon">
                                <!--<a href="javascritp:;" data-tooltip="{{showProName}}" class="app-td-icon " ng-click="showProgress()">
                                </a>-->
                                <a href="javascritp:;" data-tooltip="{{showMedName}}" class="app-td-icon print-gc-prrr" ng-click="showMedicalHis()">
                                </a>
                                <a href="javascritp:;" data-tooltip="{{showVitalName}}" class="app-td-icon ap-iv view-vitals-popup" ng-click="showVital()"><i class="icon-app-vitals"></i>
                                </a>
                                <a href="javascritp:;" ng-hide="Chckconsulttype" data-tooltip="Pause" class="app-td-icon ap-iv view-vitals-popup pause-pop" ng-click="pause('sm')">
                                    <i class="pause-view"></i>
                                </a>
                                <a href="javascritp:;" data-tooltip="Edit Patient Info" class="app-td-icon ap-iv view-vitals-popup" ng-click="editPat()"><i class="icon-Edit-Pencil editpenstrip"></i>
                                </a>
                            </div>
                            <!-- Medical History -->
                        <div ng-show="showmedicalhis == true"  class="alert alert-primary alert-icon alert-dismissible" style="margin-bottom: 0px;">
                            <div class="icon"><span class="">Medical History</span></div>
                            <div class="message">
								<span style="line-height:14px" ng-repeat="Medhistory in casemedicalhistory[0].caseHistroy[0].patientCase.HistoryRecord | filter:{SpecialityCD: 'ALL'} as resultnotfound" >
                                    <strong ng-bind="Medhistory.Description" ></strong><span style="{{Medhistory.Notes == ''?'':'margin: 0px 5px;'}}" ng-bind="(Medhistory.Selection == 'Y')?'(Yes)':'(At risk)'"></span><span ng-hide="Medhistory.Notes == ''"> - </span>
                                    <span   ng-hide="Medhistory.Notes == ''">{{Medhistory.Notes}}
                                    </span>
                                    <span ng-hide="$last"> , </span>
                                </span>
                                <strong ng-show="casemedicalhistory[0].caseHistroy[0].patientCase.HistoryRecord == undefined || resultnotfound.length == 0">No Medical History Found</strong>
                            </div>
                        </div>
                        <!-- End Medical History -->
                            <div ng-show="progressMain.dentImg || progressMain.notesImg || progressMain.consentImg || progressMain.record || progressMain.NewPopup || progressMain.estiImg || progressMain.labImg || progressMain.dentAddImg" class="alert alert-primary alert-icon alert-dismissible" style="margin-bottom: 0px;">
                                <div class="icon"><span class="">Progress bar</span></div>
                                <div class="message">
                                    <div ng-repeat="progress in progressbarDent track by $index ">
                                        <div ng-show="progress.dentalImg">
                                            <label>Uploading...File </label>
                                            <label>File {{progress.dentalImgEnd}} of {{progress.dentalImgStart}}</label>
                                            <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progress.dentalImgprogress == '0%')?  '10%' : progress.dentalImgprogress}};height:10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.dentAddImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.dentAddImgEnd}} of {{progressMain.dentAddImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.dentAddImgprogress == '0%')?  '10%' : progressMain.dentAddImgprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.dentImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.dentImgEnd}} of {{progressMain.dentImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.dentImgprogress == '0%')?  '10%' : progressMain.dentImgprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="progressbar in progressbarTreat track by $index ">
                                        <div ng-show="progressbar.treatImg">
                                            <label>Uploading...File </label>
                                            <label>{{progressbar.treatImgEnd}} of {{progressbar.treatImgStart}}</label>
                                            <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressbar.treatImgprogress == '0%')?  '10%' : progressbar.treatImgprogress}};height:10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.notesImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.notesImgEnd}} of {{progressMain.notesImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.notesImgprogress == '0%')?  '10%' : progressMain.notesImgprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.record">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.recordEnd}} of {{progressMain.recordStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.recordprogress == '0%')?  '10%' : progressMain.recordprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div ng-show="progressMain.consentImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.consentImgEnd}} of {{progressMain.consentImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.consentImgprogress == '0%')?  '10%' : progressMain.consentImgprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="item in main.CaseTreatment track by $index ">
                                        <div ng-show="item.TreatmentImg">
                                            <label>Uploading...File </label>
                                            <label>{{item.TreatmentImgEnd}} of {{item.TreatmentImgStart}}</label>
                                            <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(item.TreatmentImgprogress == '0%')?  '10%' : item.TreatmentImgprogress}};height:10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.estiImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.estiImgEnd}} of {{progressMain.estiImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.estiprogress == '0%')?  '10%' : progressMain.estiprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="progressMain.labImg">
                                        <label>Uploading...File </label>
                                        <label>{{progressMain.labImgEnd}} of {{progressMain.labImgStart}}</label>
                                        <div class="progress progress-striped active" style="margin-top:10px;height:10px;margin-bottom: 5px;display: inherit;width:250px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(progressMain.labprogress == '0%')?  '10%' : progressMain.labprogress}};height:10px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="patients-profile clearfix" ng-show="showpatientvitals == true">
                            <ul class="edit-bar-vitals">
                                
                                <li ng-show="showBP==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-bp-new.png"></div>
                                    <!--  <img src="images/bp.png"> -->
                                    <h3>Bp (Mm/Hg)</h3>
                                    <center>
                                        <p> <span ng-bind="evitalinfo.vitals.bplow" ng-show="showBPLow==true"></span><span class="not-available" ng-if="showBPLow==true" ng-show="evitalinfo.vitals.bplow == undefined || evitalinfo.vitals.bplow == ''">N/A</span> / <span ng-bind="evitalinfo.vitals.bphigh" ng-show="showBPHigh==true"></span><span class="not-available" ng-if="showBPHigh==true" ng-show="evitalinfo.vitals.bphigh == undefined || evitalinfo.vitals.bphigh == ''">N/A</span></p>
                                    </center>
                                </li>
                              
                               
                                 <li ng-show="showHeight==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-height-black.png"></div>
                                    <!-- <img src="images/height.png"> -->
                                    <h3>Height (cm)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.height == undefined || evitalinfo.vitals.height == ''" ng-bind="evitalinfo.vitals.height"></span><span ng-show="evitalinfo.vitals.height == undefined || evitalinfo.vitals.height == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                <li ng-show="showWeight==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-weight-new.png"></div>
                                    <!-- <img src="images/weight.png"> -->
                                    <h3>Weight (kg)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.weight == undefined || evitalinfo.vitals.weight == ''" ng-bind="evitalinfo.vitals.weight"></span><span ng-show="evitalinfo.vitals.weight == undefined || evitalinfo.vitals.weight == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                 <li ng-hide="evitalinfo.vitals.height == undefined || evitalinfo.vitals.height && evitalinfo.vitals.weight == undefined || evitalinfo.vitals.weight == ''">
                                    <div class="chartt stats-bar">
                                        <img src="img/vitals/bmi.png"></div>
                                    <h3>BMI</h3>
                                    <center>
                                        <p><span ng-bind="Bmivalue"></span></p>
                                    </center>
                                </li>
                                  <li ng-show="showFast==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-bp-new.png"></div>
                                    <!-- <img src="images/fasting.png"> -->
                                    <h3>Fasting &amp; PP </h3>
                                    <center>
                                        <p> <span ng-show="showSugarFast==true" ng-bind="evitalinfo.vitals.sugarfast"></span><span class="not-available sugarfast" ng-if="showSugarFast==true" ng-show="evitalinfo.vitals.sugarfast == undefined || evitalinfo.vitals.sugarfast == ''">N/A</span> / <span ng-bind="evitalinfo.vitals.sugarpp" ng-show="showSugarPP==true"></span><span class="not-available sugarpp" ng-if="showSugarPP=true" ng-show="evitalinfo.vitals.sugarpp == undefined || evitalinfo.vitals.sugarpp == ''">N/A</span></p>
                                </li>
                                 <li ng-show="showRandom==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-sugar-black.png"></div>
                                    <h3>Sugar Random</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.random == undefined || evitalinfo.vitals.random == ''" ng-bind="evitalinfo.vitals.random"></span><span ng-show="evitalinfo.vitals.random == undefined || evitalinfo.vitals.random == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                <li ng-show="showTMP==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-temp-new.png"></div>
                                    <h3>Temperature (F)</h3>
                                    <center>
                                        <p> <span ng-hide="evitalinfo.vitals.temperature == undefined || evitalinfo.vitals.temperature == ''" ng-bind="evitalinfo.vitals.temperature"></span><span ng-show="evitalinfo.vitals.temperature == undefined || evitalinfo.vitals.temperature == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                 <li ng-show="showPulse==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/pulse-vitals.png"></div>
                                    <h3>Pulse Rate (Bpm)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.pulse == undefined || evitalinfo.vitals.pulse == ''" ng-bind="evitalinfo.vitals.pulse"></span><span ng-show="evitalinfo.vitals.pulse == undefined || evitalinfo.vitals.pulse == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                <li ng-show="ShowSpo2==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/spo2a.png"></div>
                                    <h3>SpO2 (%)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.SpO2 == undefined || evitalinfo.vitals.SpO2 == ''" ng-bind="evitalinfo.vitals.SpO2"></span><span ng-show="evitalinfo.vitals.SpO2 == undefined || evitalinfo.vitals.SpO2 == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                 <li ng-show="showBgroup==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/icon-bl-new.png"></div>
                                    <!--  <img src="images/blood.png"> -->
                                    <h3>Blood Group</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.bloodgroup == undefined || evitalinfo.vitals.bloodgroup == ''" ng-bind="evitalinfo.vitals.bloodgroup"></span> <span ng-show="evitalinfo.vitals.bloodgroup == undefined || evitalinfo.vitals.bloodgroup == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                <li ng-show="showhcf==true">
                                    <div class="chartt stats-bar">
                                        <img src="img/vitals/head_circumference.png"></div>
                                    <h3>Head circumference (Cm)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.hcf == undefined || evitalinfo.vitals.hcf == ''" ng-bind="evitalinfo.vitals.hcf"></span><span ng-show="evitalinfo.vitals.hcf == undefined || evitalinfo.vitals.hcf == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                               
                                <li ng-show="showResp==true">
                                    <div class="chartt stats-bar"><img src="img/vitals/respiratory.png"></div>
                                    <h3>Respiratory Rate (Per Min)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.RespRate == undefined || evitalinfo.vitals.RespRate == ''" ng-bind="evitalinfo.vitals.RespRate"></span><span ng-show="evitalinfo.vitals.RespRate == undefined || evitalinfo.vitals.RespRate == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                
                                <li ng-show="showLipid==true">
                                    <h3>Lipid Profile  (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.lipid == undefined || evitalinfo.vitals.lipid == ''" ng-bind="evitalinfo.vitals.lipid"></span><span ng-show="evitalinfo.vitals.lipid == undefined || evitalinfo.vitals.lipid == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                <li ng-show="showChol==true">
                                    <h3>Total Cholesterol (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.chol == undefined || evitalinfo.vitals.chol == ''" ng-bind="evitalinfo.vitals.chol"></span><span ng-show="evitalinfo.vitals.chol == undefined || evitalinfo.vitals.chol == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                <li ng-show="showHdl==true">
                                    <h3>HDL (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.hdl == undefined || evitalinfo.vitals.hdl == ''" ng-bind="evitalinfo.vitals.hdl"></span><span ng-show="evitalinfo.vitals.hdl == undefined || evitalinfo.vitals.hdl == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                <li ng-show="showLdl==true">
                                    <h3>LDL (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.ldl == undefined || evitalinfo.vitals.ldl == ''" ng-bind="evitalinfo.vitals.ldl"></span><span ng-show="evitalinfo.vitals.ldl == undefined || evitalinfo.vitals.ldl == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                 <li ng-show="showTrig==true">
                                    <h3>Triglycerides (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.trig == undefined || evitalinfo.vitals.trig == ''" ng-bind="evitalinfo.vitals.trig"></span><span ng-show="evitalinfo.vitals.trig == undefined || evitalinfo.vitals.trig == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                              
                                <li ng-show="showSerum==true">
                                    <h3>Serum creatinine  (Mg/DL)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.serum == undefined || evitalinfo.vitals.serum == ''" ng-bind="evitalinfo.vitals.serum"></span><span ng-show="evitalinfo.vitals.serum == undefined || evitalinfo.vitals.serum == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>
                                <li ng-show="ShowPefr==true">
                                    <h3>PEFR (L/Min)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.PEFR == undefined || evitalinfo.vitals.PEFR  == ''" ng-bind="evitalinfo.vitals.PEFR "></span><span ng-show="evitalinfo.vitals.PEFR == undefined || evitalinfo.vitals.PEFR  == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>


                                 <li ng-show="ShowHba==true">
                                    <h3>HBA1c (%)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.hba == undefined || evitalinfo.vitals.hba  == ''" ng-bind="evitalinfo.vitals.hba "></span><span ng-show="evitalinfo.vitals.hba == undefined || 
                                        evitalinfo.vitals.hba  == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>

                                <li ng-show="ShowWstc==true">
                                    <h3>Waist circumference (cm)</h3>
                                    <center>
                                        <p><span ng-hide="evitalinfo.vitals.wstc == undefined || evitalinfo.vitals.wstc  == ''" ng-bind="evitalinfo.vitals.wstc "></span><span ng-show="evitalinfo.vitals.wstc == undefined || evitalinfo.vitals.wstc  == ''" class="not-available">N/A</span></p>
                                    </center>
                                </li>


                            </ul>
                            
                        </div>
                        
                        <div class="notes-wrapper" ng-show="pageno==0" ng-include="'templates/consultation/patient-summary.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==1" ng-include="'templates/consultation/notes/MedicalHistory.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==10" ng-include="'templates/consultation/DentalChart/dentalChart.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==12" ng-include="'templates/consultation/treatment/treatment.html'"></div>
                        <div class="notes-wrapper" ng-show="(pageno==9 && showOphtha)" ng-include="'templates/consultation/ophthalmology/optho.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==2" ng-include="'templates/consultation/notes/notes-main.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==3" ng-include="'templates/consultation/medicine/prescription.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==4" ng-include="'templates/consultation/lab/lab-main.html'"></div>
                        <!--<div class="col col-80 col-offset-20 notes-wrapper" ng-show="pageno==4"  ng-class ="'templates/consultation/scan/scan-main.html'"></div>-->
                        <div class="notes-wrapper" ng-show="pageno==6" ng-include="'templates/consultation/referral/referral.html'"></div>
                        <div class="notes-wrapper" ng-show="pageno==7" ng-include="'templates/consultation/summary.html'"></div>
                        <div class="notes-wrapper" ng-show="(pageno==8 && showBilling)" ng-include="'templates/consultation/billing/billing.html'"></div>
                        <!--<div class="notes-wrapper" ng-if="(pageno==8 && showBilling) " ng-include ="'templates/consultation/billing/billing.html'"></div>-->
                        <div class="notes-wrapper" ng-if="(pageno==8 && !showBilling) " ng-include="'templates/admin/unauthorized_billing.html'"></div>
                        <div class="notes-wrapper" data-ng-show="pageno==11" ng-include="'templates/consultation/consent/consent.html'"></div>
						<div class="notes-wrapper" data-ng-show="pageno==5" ng-include="'templates/consultation/Ivf/Ivf.html'"></div>
                    </div>
                </div>
            </div>
            <!--<div class="sticky-nxt-btn-wrap">
                <button class="btn sticky-nxt-btn">NEXT</button>
            </div>-->
            <!-- <div id="sidebar_right">
                <div class="" ng-include src="'templates/consultation/page-header-new.html'"></div>
            </div>
            <div class="feedback_btn btn btn-primary"><img src="img/new-icons/star.png" alt="Star icon" class="bottom-star" />Patient Details<img src="img/new-icons/star.png" alt="Star icon" class="bottom-top" /></div>
            <div class="feedback_btn1" id="feedback_close"><img src="img/new-icons/close-icon.png" alt="Close icon" /></div>
        </div> -->
        </div>
    </div>
    <script type="text/javascript">
    $('.feedback_btn').click(function(e) {
        $('#sidebar_right').animate({
            'right': '0px'
        });
        $(".feedback_btn").fadeOut('fast', function() {
            $(".feedback_btn1").delay(1000).fadeIn('fast');
        });
    });
    $('.feedback_btn1').click(function(e) {
        $('#sidebar_right').animate({
            'right': '-300px'
        });
        $(".feedback_btn1").fadeOut('fast', function() {
            $(".feedback_btn").delay(1000).fadeIn('fast');
        });
    });
    </script>
