<style>
    .pr-tab {
        border-bottom: none;
        margin-top: 10px
    }

    .pr-tab li {
        float: none;
        border-bottom: 1px solid #e9e9ea
    }

    .pr-tab li>a {
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }

    .pr-tab li>a h6 {
        /*color: #7d7d7d;*/
        font-size: 14px;
        margin: 0;
        word-wrap: break-word;
        color: #576772;
        margin: 3px 0px;
        /*font-weight: bold*/
    }

    .pr-tab li.active h6 {
        color: #000;
    }

    .pr-tab li>a p {
        font-size: 14px;
        color: #999;
        line-height: 20px;
        margin: 0
    }

    .pr-tab>li.active>a,
    .pr-tab>li.active>a:focus {
        background-color: #cedbde;
        border: none;
    }

    .pr-tab>li a:hover,
    .pr-tab>li.active a {
        background-color: #e9eef3;
    }

    .border-bottom {
        border-bottom: 1px solid #efefef;
    }

    .pr-tab li:last-child {
        border: 0px;
    }

    .pr-tab .active {
        background-color: #EEEEEE;
    }

    .previous-cases {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
    }

    .previous-cases h4 {
        background-color: #7b8e9f;
        color: #fff;
        margin: 0;
        padding: 15px;
    }

    .pr-tab>li.active>a:hover {
        background-color: #e9eef3 !important;
        border: none;
    }

    .pr-tab>li.active>a,
    .pr-tab>li.active>a:focus {
        background-color: #e9eef3;
        border: none;
        margin: 0px 0;
        outline: none;
    }

    .follow-ups {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px 15px 10px;
    }

    .table-summary th {
        background-color: #cbd2da;
        color: #28465a;
        font-size: 14px;
        font-weight: 500;
    }

    h4.text-bold {
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 10px
    }

    .text-bold {
        font-weight: bold;
    }

    .tabs-header {
        background: none !important;
        margin: 0 15px;
    }

    .tabs-header.new-tabs .nav-tabs {
        position: static;
    }

    .tabs-header.new-tabs li.active>a {
        background-color: transparent !important;
    }

    .tabs-header.new-tabs .nav-tabs>li.active>a:focus {
        background: rgba(0, 0, 0, 0) !important;
        border-top: none !important;
    }

    .past-records-wrap {
        margin: 20px 0 0
    }

    .tab-line {
        border-bottom: 1px solid #dbdbdb !important;
        margin: 0 15px;
    }


</style>

<body>
    <div class="past-records-wrap" ng-controller="hcuePastRecordVisitController">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-3">
                    <a ng-click="back()" ng-hide="{{check_location.substring(0,5) == '/main'}} || ShowStartButton" class="theme-btn tablee reports-back">Back to Patients</a>
                    <a ng-click="backwalkin()" ng-hide="{{check_location.substring(0,5) == '/main'}} || walkinButton" class="theme-btn tablee reports-back">Back</a>
                </div>
                <!-- <div class="col-lg-9 no-pad pull-right">
                    <a href="javascript:;" ng-show="ShowStartButton" class="start-new-conslut btn btn-primary" ng-click="StartAppointment(entryPatientDetails)">Start New Consultation</a>
                </div> -->
            </div>
            <div class="row">
                <!-- Patient info strip  -->
                <div ng-show="MainStrip" class="plr-15">
                    <div ng-hide="hiderecords" class="patients-profile clearfix">
                        <div class="profile-detail">
                            <div class="profile-avatar" ng-show="viewimg == false">
                                <img class="pt-photo" ng-show="viewGender =='Male'" src="img/srch_defaultusr_male.png" width="58" height="58">
                                <img class="pt-photo" ng-show="viewGender =='Female'" src="img/srch_defaultusr_female.png" width="58" height="58" style="">
                            </div>
                            <div class="profile-avatar" ng-show="viewimg == true">
                                <img ng-srcset="{{viewimage}}">
                            </div>
                            <div class="profile-name">
                                <h3 ng-bind="viewName"></h3>
                                <p>
                                    <span ng-hide="viewAge == 0">{{viewAge}} y</span> {{viewMonth}} m -
                                    <span ng-bind="viewGender"></span>
                                </p>
                            </div>
                        </div>
                        <ul>
                            <li ng-hide="viewPhnumber == 'N/A'">
                                <h3>Contact No.</h3>
                                <p>
                                    <span ng-show="viewplus == false">{{'+' + "" + viewPhCntryCD}}</span> {{viewPhnumber}}</p>
                            </li>
                            <li class="">
                                <h3>Patient ID</h3>
                                <p ng-bind="viewDisID"></p>
                            </li>
                            <li class="" style="" ng-hide="viewLastVisit == 'N/A'">
                                <h3>Last Visited</h3>
                                <p class="ng-binding">{{daysago}} </p>
                            </li>
                        </ul>
                        <div class="pat-strip-icon">
                           <!--  <a href="javascritp:;" data-tooltip="{{showMedName}}" class="app-td-icon print-gc-prrr" ng-click="showMedicalHis()">
                            </a>
                            <a href="javascritp:;" data-tooltip="{{showVitalName}}" class="app-td-icon ap-iv view-vitals-popup" ng-click="showVital()">
                                <i class="icon-app-vitals"></i>
                            </a>
                            <a chref="javascritp:;" data-tooltip="Book Appointment" class="app-td-icon ap-iv view-vitals-popup" ng-click="addPatientAppointment()">
                                <i class="icon-Calendar iccal"></i>
                            </a> -->
                            <a href="javascritp:;" data-tooltip="Edit Patient Info" class="app-td-icon ap-iv view-vitals-popup" ng-click="editPat()">
                                <i class="icon-Edit-Pencil editpenstrip"></i>
                            </a>
                            <a href="javascritp:;" class="app-td-icon ap-iv view-vitals-popup" data-toggle="modal" data-target="#patientView">
                                <i class="fa fa-eye dis_inline patient_view" data-tooltip="View Patient Info" aria-hidden="true" ></i>
                            </a>
                        </div>
                        <!-- Medical History  -->
                        <div class="alert alert-primary alert-icon alert-dismissible" ng-show="showmedicalhis == true" style="margin-bottom: 0px;">
                            <div class="icon">
                                <span class="">Medical History</span>
                            </div>
                            <div class="message">
                                <!-- <button type="button" class="close pull-right Editbtn">
                                <span class="infostrip-edit" ng-click ="medicalHistory()">Edit</span>
                            </button> -->
                                <span style="line-height:14px" ng-repeat="Medhistory in casehistory[0].caseHistroy[0].patientCase.HistoryRecord | filter:{SpecialityCD: 'ALL'} as resultnotfound">
                                    <!-- <div style="border:1px solid #ccc;border-radius:3px;padding:5px;"> -->
                                    <!-- <img src="img/communication/icon-tick-green.png" ng-show="Medhistory.Selection == 'Y'" style="vertical-align:middle;margin:4px 0px"/>
                                    <img src="images/png-not-imp.png" ng-show="Medhistory.Selection == 'R'"  style="vertical-align:middle" /> -->
                                    <strong ng-bind="Medhistory.Description"></strong>
                                    <span style="{{Medhistory.Notes == ''?'':'margin: 0px 5px;'}}" ng-bind="(Medhistory.Selection == 'Y')?'(Yes)':'(At risk)'"></span>
                                    <span ng-hide="Medhistory.Notes == ''"> - </span>
                                    <span ng-hide="Medhistory.Notes == ''">
                                        <!-- <img src="images/notes-icon.png" /> -->{{Medhistory.Notes}}
                                    </span>
                                    <span ng-hide="$last"> , </span>
                                    <!-- </div> -->
                                </span>
                                <strong ng-show="casehistory[0].caseHistroy[0].patientCase.HistoryRecord == undefined || resultnotfound.length == 0">No Medical History Found</strong>
                            </div>
                        </div>
                        <!-- End Medical History -->
                    </div>
                </div>
                <div class="patients-profile clearfix" ng-show="showpatientvitals == true">
                    <ul class="edit-bar-vitals">
                        <!-- Bp -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-bp-new.png">
                            </div>
                            <!--  <img src="images/bp.png"> -->
                            <h3>Bp (Mm/Hg)</h3>
                            <center>
                                <p>
                                    <span ng-bind="evitalinfo.vitals.bplow"></span>
                                    <span class="not-available" ng-show="evitalinfo.vitals.bplow == undefined || evitalinfo.vitals.bplow == ''">N/A</span> /
                                    <span ng-bind="evitalinfo.vitals.bphigh"></span>
                                    <span class="not-available" ng-show="evitalinfo.vitals.bphigh == undefined || evitalinfo.vitals.bphigh == ''">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- height -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-height-black.png">
                            </div>
                            <!-- <img src="images/height.png"> -->
                            <h3>Height(cms)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.height == undefined || evitalinfo.vitals.height == ''" ng-bind="evitalinfo.vitals.height"></span>
                                    <span ng-show="evitalinfo.vitals.height == undefined || evitalinfo.vitals.height == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- weight -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-weight-new.png">
                            </div>
                            <!-- <img src="images/weight.png"> -->
                            <h3>Weight(kgs)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.weight == undefined || evitalinfo.vitals.weight == ''" ng-bind="evitalinfo.vitals.weight"></span>
                                    <span ng-show="evitalinfo.vitals.weight == undefined || evitalinfo.vitals.weight == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- bmi -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/bmi.png">
                            </div>
                            <h3>BMI</h3>
                            <center>
                                <p>
                                    <span ng-bind="Bmivalue"></span>
                                </p>
                            </center>
                        </li>
                        <!-- fasting/pp -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-bp-new.png">
                            </div>
                            <!-- <img src="images/fasting.png"> -->
                            <h3>Fasting &amp; PP </h3>
                            <center>
                                <p>
                                    <span ng-bind="evitalinfo.vitals.sugarfast"></span>
                                    <span class="not-available sugarfast" ng-show="evitalinfo.vitals.sugarfast == undefined || evitalinfo.vitals.sugarfast == ''">N/A</span> /
                                    <span ng-bind="evitalinfo.vitals.sugarpp" ng-show="showSugarPP==true"></span>
                                    <span class="not-available sugarpp" ng-if="showSugarPP=true" ng-show="evitalinfo.vitals.sugarpp == undefined || evitalinfo.vitals.sugarpp == ''">N/A</span>
                                </p>
                        </li>
                        <!-- Sugar -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-sugar-black.png">
                            </div>
                            <h3>Sugar Random</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.random == undefined || evitalinfo.vitals.random == ''" ng-bind="evitalinfo.vitals.random"></span>
                                    <span ng-show="evitalinfo.vitals.random == undefined || evitalinfo.vitals.random == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- temp -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-temp-new.png">
                            </div>
                            <h3>Temperature (F)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.temperature == undefined || evitalinfo.vitals.temperature == ''"
                                        ng-bind="evitalinfo.vitals.temperature"></span>
                                    <span ng-show="evitalinfo.vitals.temperature == undefined || evitalinfo.vitals.temperature == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- pulse -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/pulse-vitals.png">
                            </div>
                            <h3>Pulse Rate(bpm)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.pulse == undefined || evitalinfo.vitals.pulse == ''" ng-bind="evitalinfo.vitals.pulse"></span>
                                    <span ng-show="evitalinfo.vitals.pulse == undefined || evitalinfo.vitals.pulse == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- spo2 -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/spo2a.png">
                            </div>
                            <h3>SpO2 (%)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.SpO2 == undefined || evitalinfo.vitals.SpO2 == ''" ng-bind="evitalinfo.vitals.SpO2"></span>
                                    <span ng-show="evitalinfo.vitals.SpO2 == undefined || evitalinfo.vitals.SpO2 == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- blood -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/icon-bl-new.png">
                            </div>
                            <!--  <img src="images/blood.png"> -->
                            <h3>Blood Group</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.bloodgroup == undefined || evitalinfo.vitals.bloodgroup == ''"
                                        ng-bind="evitalinfo.vitals.bloodgroup"></span>
                                    <span ng-show="evitalinfo.vitals.bloodgroup == undefined || evitalinfo.vitals.bloodgroup == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- head -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/head_circumference.png">
                            </div>
                            <h3>Head circumference</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.hcf == undefined || evitalinfo.vitals.hcf == ''" ng-bind="evitalinfo.vitals.hcf"></span>
                                    <span ng-show="evitalinfo.vitals.hcf == undefined || evitalinfo.vitals.hcf == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- resp -->
                        <li>
                            <div class="chartt stats-bar">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Respiratory Rate (Per Min)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.RespRate == undefined || evitalinfo.vitals.RespRate == ''"
                                        ng-bind="evitalinfo.vitals.RespRate"></span>
                                    <span ng-show="evitalinfo.vitals.RespRate == undefined || evitalinfo.vitals.RespRate == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- lipid -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Lipid Profile (Mg/DL)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.lipid == undefined || evitalinfo.vitals.lipid == ''" ng-bind="evitalinfo.vitals.lipid"></span>
                                    <span ng-show="evitalinfo.vitals.lipid == undefined || evitalinfo.vitals.lipid == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                        <!-- chol -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Total Cholesterol (Mg/DL)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.chol == undefined || evitalinfo.vitals.chol == ''" ng-bind="evitalinfo.vitals.chol"></span>
                                    <span ng-show="evitalinfo.vitals.chol == undefined || evitalinfo.vitals.chol == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                        <!-- hdl -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>HDL (Mg/DL)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.hdl == undefined || evitalinfo.vitals.hdl == ''" ng-bind="evitalinfo.vitals.hdl"></span>
                                    <span ng-show="evitalinfo.vitals.hdl == undefined || evitalinfo.vitals.hdl == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                        <!-- ldl -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>LDL (Mg/DL)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.ldl == undefined || evitalinfo.vitals.ldl == ''" ng-bind="evitalinfo.vitals.ldl"></span>
                                    <span ng-show="evitalinfo.vitals.ldl == undefined || evitalinfo.vitals.ldl == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                        <!-- trig -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Triglycerides (Mg/DL)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.trig == undefined || evitalinfo.vitals.trig == ''" ng-bind="evitalinfo.vitals.trig"></span>
                                    <span ng-show="evitalinfo.vitals.trig == undefined || evitalinfo.vitals.trig == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                        <!-- serum -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Serum creatinine</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.serum == undefined || evitalinfo.vitals.serum == ''" ng-bind="evitalinfo.vitals.serum"></span>
                                    <span ng-show="evitalinfo.vitals.serum == undefined || evitalinfo.vitals.serum == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>
                        <!-- pefr -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>PEFR ( L/Min)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.PEFR == undefined || evitalinfo.vitals.PEFR  == ''" ng-bind="evitalinfo.vitals.PEFR "></span>
                                    <span ng-show="evitalinfo.vitals.PEFR == undefined || evitalinfo.vitals.PEFR  == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>

                        <!-- hba -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>HBA1c (%)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.hba == undefined || evitalinfo.vitals.hba  == ''" ng-bind="evitalinfo.vitals.hba "></span>
                                    <span ng-show="evitalinfo.vitals.hba == undefined || evitalinfo.vitals.hba  == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>

                        <!-- wstc -->
                        <li>
                            <div class="chartt stats-bar" style="visibility: hidden;">
                                <img src="img/vitals/respiratory.png">
                            </div>
                            <h3>Waist circumference (cm)</h3>
                            <center>
                                <p>
                                    <span ng-hide="evitalinfo.vitals.wstc == undefined || evitalinfo.vitals.wstc  == ''" ng-bind="evitalinfo.vitals.wstc "></span>
                                    <span ng-show="evitalinfo.vitals.wstc == undefined || evitalinfo.vitals.wstc  == ''"
                                        class="not-available">N/A</span>
                                </p>
                            </center>
                        </li>


                    </ul>
                </div>
                <!-- Patient info strip End -->
                <div class="past-records">

                    <div class="" id="enquiry">
                        <div class="col-md-3 border-bottom pr-0" ng-hide="caseidhistory.length ==0">
                            <!-- Tabs -->
                            <div class="previous-cases">
                                <ul class="nav nav-tabs pr-tab">
                                    <li>
                                        <a id="1" href="javascript:;">
                                            <div class="interm-consult">
                                                <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                <h6>Referrer: <strong>Dr Smith</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                <h6>Speciality: <strong></strong></h6>

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="1" href="javascript:;">
                                            <div class="interm-consult">
                                                <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                <h6>Referrer: <strong>Dr D J Hindle</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                <h6>Speciality: <strong></strong></h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="1" href="javascript:;">
                                            <div class="interm-consult">
                                                <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                <h6>Referrer: <strong>Dr Smith</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                <h6>Speciality: <strong></strong></h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="follow-ups clearfix">
                                <h4 class="followstext_align text-bold col-sm-12 no-pad">Follow ups</h4>
                                <div class="table-responsive col-sm-12 no-pad">
                                  <table class="table color-theme-one">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Created</th>
                                            <th>Region</th>
                                            <th>Sonographar</th>
                                            <th>Location</th>
                                            <th>CCG</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="toggle = 1">
                                        <tr>
                                            <td ng-click="toggle = !toggle"><span class="toggle" ng-class="{'open': toggle == 1}"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                            <td>26-04-2018 13:16</td>
                                            <td>Abdomen</td>
                                            <td>Dr Smith</td>
                                            <td>CH49 5PE</td>
                                            <td>Brimingham Cross city CCG - BCC</td>
                                        </tr>
                                        <tr class="inner" ng-show="toggle == 1">
                                            <td colspan="15">
                                                <table class="table color-theme-two mb-10">
                                                    <thead>
                                                        <tr>
                                                            <th>Created</th>
                                                            <th>Activity</th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>26-04-2018 13:16</td>
                                                            <td>Referal Recived</td>
                                                            <td>Reffered by Doctor</td>
                                                        </tr>
                                                        <tr>
                                                            <td>26-04-2018 15:00</td>
                                                            <td>First call</td>
                                                            <td>Call not answered</td>
                                                        </tr>
                                                        <tr>
                                                            <td>27-04-2018 10:00</td>
                                                            <td>Second call</td>
                                                            <td>Appointment Booked</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="no-record-wrap" ng-show="caseidhistory.length ==0">
                            <img src="img/no-data/no past records_review.png">
                            <div class="no-records-txt-line2">No previous visit by this patient</div>
                        </div>
                    </div>


                    <!-- <div class="tabs-header new-tabs tab-line" style="margin-bottom: 20px !important;">
                        <ul class="nav nav-tabs history-nav-tabs drop-new" style="margin-top: 0px; padding: 0px;">
                            <li class="active">
                                <a href="javascript:;" ng-click="VisitTab()" data-target="#enquiry" data-toggle="tab">Enquiry</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="VisitTab()" data-target="#referrer" data-toggle="tab">Referrer</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="tab-panel">
                            <div class="tab-content">
                                <div class="tab-pane active" id="enquiry">
                                    <div class="col-md-3 border-bottom " ng-hide="caseidhistory.length ==0">
                                        <div class="previous-cases">
                                            <ul class="nav nav-tabs pr-tab">
                                                <li>
                                                    <a id="1" href="javascript:;">
                                                        <div class="interm-consult">
                                                            <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                            <h6>Referrer: <strong>Dr Smith</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                            <h6>Speciality: <strong></strong></h6>

                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="1" href="javascript:;">
                                                        <div class="interm-consult">
                                                            <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                            <h6>Referrer: <strong>Dr D J Hindle</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                            <h6>Speciality: <strong></strong></h6>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="1" href="javascript:;">
                                                        <div class="interm-consult">
                                                            <h6>Received Date: <strong>Apr 23, 2018</strong></h6>
                                                            <h6>Referrer: <strong>Dr Smith</strong> <i class="fa fa-eye color-primary" aria-hidden="true" data-toggle="modal" data-target="#referrerView"></i></h6>
                                                            <h6>Speciality: <strong></strong></h6>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="follow-ups clearfix">
                                            <h4 class="followstext_align text-bold col-sm-12 no-pad">Follow ups</h4>
                                            <div class="table-responsive col-sm-12 no-pad">
                                              <table class="table color-theme-one">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Created</th>
                                                        <th>Region</th>
                                                        <th>Sonographar</th>
                                                        <th>Location</th>
                                                        <th>CCG</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-init="toggle = 1">
                                                    <tr>
                                                        <td ng-click="toggle = !toggle"><span class="toggle" ng-class="{'open': toggle == 1}"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                                                        <td>26-04-2018 13:16</td>
                                                        <td>Abdomen</td>
                                                        <td>Dr Smith</td>
                                                        <td>CH49 5PE</td>
                                                        <td>Brimingham Cross city CCG - BCC</td>
                                                    </tr>
                                                    <tr class="inner" ng-show="toggle == 1">
                                                        <td colspan="15">
                                                            <table class="table color-theme-two mb-10">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Created</th>
                                                                        <th>Activity</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>26-04-2018 13:16</td>
                                                                        <td>Referal Recived</td>
                                                                        <td>Reffered by Doctor</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>26-04-2018 15:00</td>
                                                                        <td>First call</td>
                                                                        <td>Call not answered</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>27-04-2018 10:00</td>
                                                                        <td>Second call</td>
                                                                        <td>Appointment Booked</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="no-record-wrap" ng-show="caseidhistory.length ==0">
                                        <img src="img/no-data/no past records_review.png">
                                        <div class="no-records-txt-line2">No previous visit by this patient</div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="referrer">
                                    <div class="col-md-12">
                                        <div class="follow-ups clearfix">
                                            <h4 class="followstext_align text-bold col-sm-12 no-pad">Referrer</h4>
                                            <div class="table-responsive col-sm-12 no-pad">
                                              <table class="table color-theme-one">
                                                <thead>
                                                    <tr>
                                                        <th>Created</th>
                                                        <th>Name</th>
                                                        <th>External Practices</th>
                                                        <th>CCG</th>
                                                        <th>Email</th>
                                                        <th>Mobile</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>26-08-2018 13:16</td>
                                                        <td>Jonathan Leonard</td>
                                                        <td>All Day Health Center</td>
                                                        <td>Brimingham Cross city CCG - BCC</td>
                                                        <td>sample@smaple.com</td>
                                                        <td>02349347523</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="ReviewPopupID">
                <div class="modal-overlay" data-ng-show="VisibleAppointmentFollowupPopup == true"></div>
                <div class="modal-common" data-ng-show="VisibleAppointmentFollowupPopup == true">
                    <div class="modal-common-dialog feed-popup">
                        <div>
                            <div class="addnew-patient">
                                <div class="modal-header">
                                    <h4 class="modal-title" ng-bind="RoleID!='ADMIN'?'Consultation Review':'Doctor Consultation Review'"></h4>
                                </div>
                            </div>
                            <div class=" past-con-summary active">
                                <div class="past-record-table row">
                                    <div class="col-lg-12">
                                        <div class="case-notes row">
                                            <div class="col-lg-2">
                                                <h5 class="rev-h5-rat">Rating</h5>
                                            </div>
                                            <div class="" ng-if="RoleID =='ADMIN'">
                                                <fieldset class="rating">
                                                    <input type="radio" id="star6" ng-model="$parent.reviewStar" name="AUrating" value="5">
                                                    <label class="full" for="star6" title="5 stars"></label>
                                                    <input type="radio" id="star7" ng-model="$parent.reviewStar" name="AUrating" value="4">
                                                    <label class="full" for="star7" title="4 stars"></label>
                                                    <input type="radio" id="star8" ng-model="$parent.reviewStar" name="AUrating" value="3">
                                                    <label class="full" for="star8" title="3 stars"></label>
                                                    <input type="radio" id="star9" ng-model="$parent.reviewStar" name="AUrating" value="2">
                                                    <label class="full" for="star9" title="2 stars"></label>
                                                    <input type="radio" id="star10" ng-model="$parent.reviewStar" name="AUrating" value="1">
                                                    <label class="full" for="star10" title="1 star"></label>
                                                </fieldset>
                                            </div>
                                            <div class="" ng-if="RoleID !='ADMIN'">
                                                <fieldset class="rating ">
                                                    <input type="radio" ng-model="$parent.reviewStar" name="AUrating" value="5">
                                                    <label class="full" for="star6" title="5 stars"></label>
                                                    <input type="radio" ng-model="$parent.reviewStar" name="AUrating" value="4">
                                                    <label class="full" for="star7" title="4 stars"></label>
                                                    <input type="radio" ng-model="$parent.reviewStar" name="AUrating" value="3">
                                                    <label class="full" for="star8" title="3 stars"></label>
                                                    <input type="radio" ng-model="$parent.reviewStar" name="AUrating" value="2">
                                                    <label class="full" for="star9" title="2 stars"></label>
                                                    <input type="radio" ng-model="$parent.reviewStar" name="AUrating" value="1">
                                                    <label class="full" for="star10" title="1 star"></label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="rev-h5">Comments</h5>
                                        <textarea ng-show="RoleID =='ADMIN'" class="form-input pa-reg-name" ng-model="reviewComments" placeholder="Enter your comments"
                                            aw-limit-length="500" type="text" style="height:60px !important"></textarea>
                                        <p ng-show="RoleID !='ADMIN'">{{reviewComments}}</p>
                                        <!-- <input class="form-input pa-reg-name" placeholder="Enter Notes" type="text" style="height:60px !important"> -->
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="table-summary">
                                <div class="modal-footer">
                                    <button type="button" data-ng-click="CloseReviewModal()" class="btn btn-grey" data-dismiss="modal" id="cancel" ng-bind="RoleID=='ADMIN'?'Cancel':'Close'"></button>
                                    <button ng-show="RoleID =='ADMIN'" class="btn btn-primary" data-ng-click="updateReview()" ng-bind="(casedetailsdata.PatientCaseReview.length == 0 || casedetailsdata.PatientCaseReview[0].Reviewed == 'N' || casedetailsdata.PatientCaseReview[0].Reviewed == '')? 'Add' : 'Save' "></button>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-common new fade modal" id="patientView">
                <div class="modal-common-dialog view">
                    <span class="close" data-dismiss="modal">X</span>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Received</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>26-08-2018</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Action</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>2nd Booking follow-up call</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Patient</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p class="appointment-primary">Miss Charmaine Burns</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Referrer</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p class="appointment-info">Dr.E M Smith</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Due</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>26-08-2018</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Method</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>-</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Speciality</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p class="appointment-secondary">Musculoskeletel</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Sub Speciality</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>US Abdomen, US Urinary Tracty</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Status</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Notes</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p class="appointment-success-light">15 min</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>DayTime</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>01329552440</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Evening</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>01329552440</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Mobile</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>+91 478414 5647</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Email</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>DNAs</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-common new fade modal" id="referrerView">
                <div class="modal-common-dialog view">
                    <span class="close" data-dismiss="modal">X</span>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Name</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>Dr.E M Smith</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Sex</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>Male</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Date of Birth</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>-</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Practice</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>All Day Health Center</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>External Practice(s)</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>CCG</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>Brimingham Cross city CCG - BCC</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Region</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>Buckinghamshire</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Evening Tel</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Mobile Tel</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>+91 478414 5647</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Fax No</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Email</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>sample@sample.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Allow access to the system</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>NHS Number</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>RIS Identifier</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>GP Code</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>List Size</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Type</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Job Title</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Preferred reviewer</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Practice Manager</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Specialities</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-right pr-40 lable">
                                    <p>Notes</p>
                                </div>
                                <div class="col-sm-8 bold pl-40 collon">
                                    <p>n/a</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>