

<div class="row patient-vitals-row" ng-controller="hCuePrescriptionMain">
            <div class="col-md-12 col-xs-12">
            	<div class="col-md-2" style="
    background: #7fdae2;
    padding: 34px 0 34px;
    text-align: center;
"><h4>Past Vitals</h4></div>
	<div class="col-md-10">
                <table class="table">
                	<tr>
                    	<th>Temp</th>
                        <th>BP</th>
                        <th>PP</th>
                        <th>BG</th>
                        <th>Weight</th>
                        <th>Height</th>
                 	</tr>
                    <tr>
						<td>{{evitalinfo.vitals.temperature}}</td>
						<td>{{evitalinfo.vitals.bplow}}/{{evitalinfo.vitals.bphigh}}</td>
						<td>{{evitalinfo.vitals.sugarfast}}/{{evitalinfo.vitals.sugarpp}}</td>
						<td>{{evitalinfo.vitals.bloodgroup}}</td>
						<td>{{evitalinfo.vitals.weight}}Kgs</td>
						<td>{{evitalinfo.vitals.height}}CM</td>
                 	</tr>
                </table>
            </div>
    	</div>
</div>