
            <ul>
                <li class="nav-records-past" ng-class="HightActiveMenu(0)">
                    <a href="" "#/app/notes" ng-click="SwitchPage(0,0)">
                        <i class="icon-records"></i>
                        <span>Past Records</span>
                    </a>
                </li>
                <li class="nav-med-his" ng-class="HightActiveMenu(1)">
                    <a href="" ng-click="SwitchPage(1,1)">
                        <i class="icon-notes"></i>
                        <span>Medical History</span>
                    </a>
                </li>
                <li class="nav-icon-ivf" ng-class="HightActiveMenu(5)" ng-show="showIvf">
                    <a href="" ng-click="SwitchPage(5,5)">
                        <i class="icon-ivf"></i>
                        <span>IVF</span>
                    </a>
                </li>
                  <li class="nav-dentals" ng-class="HightActiveMenu(10)" ng-show="ChckSpeciality">
					<a href="" ng-click="SwitchPage(10,10)">
						<i class="icon-DentalChart"></i>
						<span>Dental Chart</span>
					</a>
				</li>
                 <li class="nav-dentals" ng-class="HightActiveMenu(12)" ng-show="ChckSpeciality">
					<a href="" ng-click="SwitchPage(12,12)">
						<i class="icon-dental-treatment"></i>
						<span class="nowrapnew">Dental Treatments</span>
					</a>
				</li>
                <li class="nav-oph " ng-class="HightActiveMenu(9)" ng-show="showOphtha">
					<a href="" ng-click="SwitchPage(9,9)">
						<i class="icon-notes"></i>
						<span>Ophthalmology</span>
					</a>
				</li>
                <li class="nav-notes" ng-class="HightActiveMenu(2)">
                    <a href="" ng-click="SwitchPage(2,2)">
                        <i class="icon-notes"></i>
                        <span>Notes</span>
                    </a>
                </li>
                <li class="nav-lab" ng-class="HightActiveMenu(4)">
                    <a href="" ng-click="SwitchPage(4,4)">
                        <i class="icon-lab"></i>
                        <span>Lab Test</span>
                    </a>
                </li>
                <li class="nav-consents" ng-class="HightActiveMenu(11)">
                    <a href="" ng-click="SwitchPage(11,11)">
                        <i class="icon-consents"></i>
                        <span>Consents</span>
                    </a>
                </li>
                <li class="nav-presc" ng-class="HightActiveMenu(3)">
                    <a href="" ng-click="SwitchPage(3,3)">
                        <i class="icon-presc"></i>
                        <span>Treatment</span>
                    </a>
                </li>
                <li class="nav-refer" ng-class="HightActiveMenu(6)" >
                    <a href="" ng-click="SwitchPage(6,6)">
                        <i class="icon-refer"></i>
                        <span>Further Care</span>
                    </a>
                </li>
                 <li class="nav-billing" ng-class="HightActiveMenu(8)">
                    <a href="" ng-click="SwitchPage(8,8)">
                        <i class="icon-app-billing"></i>
                        <span>Billing</span>
                    </a>
                </li>
                <li class="nav-summary" ng-class="HightActiveMenu(7)">
                    <a href="" ng-click="SwitchPage(7,7)">
                        <i class="icon-summary"></i>
                        <span>Summary</span>
                    </a>
                </li>
            </ul>
