<style>
    .agent th span {
        float: left;
        width: auto;
        font-weight: 400;
    }

    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 8px 9px;
    }

    .agent .table thead th:last-child span,
    .agent .table tbody td:last-child,
    .agent .table tbody tr:last-child td {
        color: #d86812;
        font-weight: bold;
    }

    .c7report .color-theme-one.table>tbody>tr>td {
        padding: 5px 15px;
        font-size: 14px;
    }

    .c7report .color-theme-one.table>tbody>tr:nth-child(odd)>td {
        background: #f3f3f3;
    }

    .c7report .color-theme-one.table>thead>tr>th {
        background: #073b6b;
        color: #fff;
    }
</style>
<div class="c7report agent" ng-controller="c7AgentStatsController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group" style="max-width: 300px;margin: 0 auto;">
                            <label>Filter By Date <em>*</em></label>
                            <input class="form-control icons-calendar" placeholder="DD-MM-YYYY" ng-change="reloaddata()"
                                ng-model="date" referraldatepicker type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="max-width: 300px;margin: 0 auto;">
                            <label for="range">Select Range <em>*</em></label>
                            <input class="form-control col-sm-6 icons-calendar" data-opens="center"
                                daterangedashboardpickerleft placeholder="Name" ng-model="rangeSelect" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 text-left pt-20">
                        <figure class="cursor export-excel mr-10 ml-10" title="Export to Excel"
                            ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
                        <button class="btn btn-primary" ng-click="exportcusbooking()">Custom Booking</button>
                        <button class="btn btn-primary ml-10" ng-click="exportcusadmin()">Custom Admin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont no-pad">
        <div class="table-responsive">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Triage</span></th>
                        <th><span>Awaiting Appointment</span></th>
                        <th><span>1st booking follow-up call</span></th>
                        <th><span>2nd booking follow-up call</span></th>
                        <th><span>3rd booking follow-up call</span></th>
                        <th><span>Final call</span></th>
                        <th><span>Letter Sent</span></th>
                        <th><span>Book appointment</span></th>
                        <th><span>Reschedule appointment</span></th>
                        <th><span>Report published</span></th>
                        <th><span>Resolve referral issue</span></th>
                        <th><span>Referral rejected final</span></th>
                        <th><span>Late Cancellation</span></th>
                        <!-- <th><span>Call Attempt</span></th> -->
                        <!-- <th><span>Schedule booking follow-up call</span></th> -->
                        <th><span>Total</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in agentCollection">
                        <td>{{data.Name}}</td>
                        <td>{{data.NewActivity}}</td>
                        <td>{{data.Awaitingappointment}}</td>
                        <td>{{data.FirstbookingCall}}</td>
                        <td>{{data.SecondbookingCall}}</td>
                        <td>{{data.thirdbookingCall}}</td>
                        <td>{{data.FinalCall}}</td>
                        <td>{{data.FinalCalllettersend}}</td>
                        <td>{{data.BookAppointment}}</td>
                        <td>{{data.RescheduleAppointment}}</td>
                        <td>{{data.ReportPublished}}</td>
                        <td>{{data.ReferralIssues}}</td>
                        <td>{{data.ReferralReject}}</td>
                        <td>{{data.Latecancellation}}</td>
                        <!-- <td>{{data.Callattempt}}</td> -->
                        <!-- <td>{{data.ScheduleBookingCall}}</td> -->
                        <td>{{data.Total}}</td>
                    </tr>

                </tbody>
                <!-- <tbody ng-show="rejectedData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody> -->
            </table>
        </div>
        <!-- 
        <div ng-show="rejectedData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>