<div class="container-fluid c7report" ng-controller="c7ReportController">   
    <div class="top-header no-mar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="date-range">
                        <label for="range">Filter By Range <em>*</em></label>
                        <div class="form-group clearfix no-mar">
                            <input type="text" class="form-control icons-calendar" daterangepicker ng-model="fromDate" placeholder="DD-MM-YYYY - DD-MM-YYYY">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group no-mar">
                        <label for="range">Region</label>
                        <ui-select ng-model="specialityCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false" required="" ng-change="selectspeciality()">
                            <ui-select-match placeholder="">
                                <span ng-bind="$select.selected.regionname"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: $select.search">
                                <span ng-bind="data.regionname"></span>
                            </ui-select-choices>                            
                        </ui-select>                        
                    </div>
                </div>
                <div class="col-md-2 text-center pt-20">
                    <button class="btn btn-primary" ng-click="applyFilter()">Apply</button>
                </div>
                <div class="col-md-2 text-right pt-20">
                    <button class="btn btn-primary" ng-click="exportTOExcel()">Export to Excel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="2" class="fill">Sonographer Cost</th>
                        <th colspan="2" class="fill">CSW COST</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Practice</th>
                        <th>BASE</th>
                        <th>TRIAGE</th>
                        <th>BASE (INCL 15% NI & PEN)</th>
                        <th>EXPENSES</th>
                        <th>ROOM</th>
                        <th>CONSUMABLES @ £ 0.5 PP</th>
                        <th>TOTAL COST</th>
                        <th>GP £</th>
                        <th>GP %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>£ 499.00</td>
                        <td>£ 18.60</td>
                        <td>£ 499.0</td>
                        <td>£ 14.00</td>
                        <td>£ 100.00</td>
                        <td>£ 15.50</td>
                        <td>£ 600.08</td>
                        <td>£ 700.06</td>
                        <td>78 %</td>
                    </tr>
                    <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>£ 499.00</td>
                        <td>£ 18.60</td>
                        <td>£ 499.0</td>
                        <td>£ 14.00</td>
                        <td>£ 100.00</td>
                        <td>£ 15.50</td>
                        <td>£ 600.08</td>
                        <td>£ 700.06</td>
                        <td>78 %</td>
                    </tr>
                    <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>£ 499.00</td>
                        <td>£ 18.60</td>
                        <td>£ 499.0</td>
                        <td>£ 14.00</td>
                        <td>£ 100.00</td>
                        <td>£ 15.50</td>
                        <td>£ 600.08</td>
                        <td>£ 700.06</td>
                        <td>78 %</td>
                    </tr>
                    <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>£ 499.00</td>
                        <td>£ 18.60</td>
                        <td>£ 499.0</td>
                        <td>£ 14.00</td>
                        <td>£ 100.00</td>
                        <td>£ 15.50</td>
                        <td>£ 600.08</td>
                        <td>£ 700.06</td>
                        <td>78 %</td>
                    </tr>
                    <tr>
                        <td>12-07-2018</td>
                        <td>West Byfleet</td>
                        <td>£ 499.00</td>
                        <td>£ 18.60</td>
                        <td>£ 499.0</td>
                        <td>£ 14.00</td>
                        <td>£ 100.00</td>
                        <td>£ 15.50</td>
                        <td>£ 600.08</td>
                        <td>£ 700.06</td>
                        <td>78 %</td>
                    </tr>
                </tbody>
                <tbody ng-show="(enquiriesCollection|filter:{enquirystatusid:filterStatus}).length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
