<div class="reports-inner">
    <div class="row">
        <div class="col-lg-8 cash-rec-lab">
            <label>Total Cash Received.</label>
            <span><i class="fa fa-inr"></i> Rs. {{cashReportList.TotalCashReceivedSum}}</span>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="graph-buttons">
                <a href="javascript:;" ng-click="showMap()" class="{{graph_show ==true ? 'active show-graph' : 'show-graph' }}">Show Graph</a>
                <a href="javascript:;" ng-click="showData()" class="{{data_show ==true ? 'active show-data' : 'show-data' }}">Show Data</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="margin"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 dast-btm">
            <div class="col-lg-3 dash-from no-pad">
                <label>From Date :</label>
                <input ng-model="cash_fromDate" datepickerreport>
                <img src="img/calendar-icon.png" />
            </div>
            <div class="col-lg-3 dash-from paddinh-not">
                <label>To Date :</label>
                <input ng-model="cash_toDate" datepickerreport>
                <img src="img/calendar-icon.png" />
            </div>
            <div class="col-lg-3 dash-from">
                <label>Select the Clinic :</label>
                <select ng-model="cash_clinicId" ng-selected="{{cash_clinicId.HospitalID}}" ng-options="hospitalData as hospitalData.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalID" ng-change="getDoctorfromClinic(cash_clinicId)">
                </select>
            </div>
            <div class="col-lg-3 dash-from dash-submit paddinh-not">
                <label>Select the Doctor :</label>
                <select ng-model="cash_doctorId" ng-selected="{{cash_doctorId.DoctorID}}" ng-options="doctorData as doctorData.DoctorName for doctorData in doctorDataList track by doctorData.DoctorID">
                </select>
                <span ng-click="searchData()">GO</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6 date-search pull-right">
            </div>
        </div>
    </div>
    <div class="row" ng-show="graph_show" ng-if="cashReportList.TotalCashReceivedObj.length > 0">
        <div class="col-md-12">
            <nvd3 options='options' data='data'></nvd3>
        </div>
    </div>
    <div ng-show="data_show" ng-if="cashReportList.TotalCashReceivedObj.length > 0">
        <div class="row margin-two">
            <div class="col-lg-12 ">
                <div class="rept-bl-bran">
                    <div class="date-width report-dabd">
                        <label>Date</label>
                    </div>
                    <div class="date-empty"></div>
                    <div class="amount-width report-dabd">
                        <label>Amount Received (Rs)</label>
                    </div>
                    <div class="date-empty"></div>
                    <div class="branch-width report-dabd">
                        <label>Branch</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 report-dabd">
                        <label>Doctor Name</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="treatment-width report-dabd">
                        <label>No.of Treatments Done</label>
                    </div>
                    <div class="empty-space"></div>
                    <div class="col-lg-1 repo-menu"> <i class="fa fa-bars pull-right"></i> </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="cashData in cashReportList.TotalCashReceivedObj">
            <div class="col-lg-12 border-bo">
                <div class="date-width repot-dc-date"><span> {{(cashData.Date).substring(0,10)}} </span> </div>
                <div class="date-empty"></div>
                <div class="amount-width text-center repot-dc-date">
                    <label> {{cashData.AmountReceived}}</label>
                </div>
                <div class="date-empty"></div>
                <div class="branch-width repot-dc-date paddinh-not"> <span> {{cashData.Branch}} </span> </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not"> <span> {{cashData.DoctorName}} </span> </div>
                <div class="treatment-width text-center repot-dc-date"> <span> {{cashData.NoOfTreatmentsDone}} </span> </div>
            </div>
        </div>
        <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage)" on-select-page="setPage(page)" ng-show="cashReportList.TotalCashReceivedObj.length > 0"></uib-pagination>
    </div>
    <div class="row" ng-if="cashReportList.TotalCashReceivedObj.length == 0">
        <div class="col-lg-12 border-bo">
            <div class="text-center">
                <h4>No data found</h4>
            </div>
        </div>
    </div>
</div>
