<div class="container-fluid">
                    <div class="not-available-page">
                        <img src="img/Coming_Soon.png">
                        <h4>Coming Soon!</h4>
                        <p>Detailed analysis of your Practise @ your finger tips</p>
                        <p>powered by our Cutting edge Analytics Engine.</p>
                    </div>
                </div>