<div class="reports-inner">
    <div class="row">
        <div class="col-lg-8 cash-rec-lab">
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="graph-buttons">
                <a href="javascript:;" ng-click="showMap()" class="{{graph_show ==true ? 'active show-graph' : 'show-graph' }}">Show Graph</a>
                <a href="javascript:;" ng-click="showData()" class="{{data_show ==true ? 'active show-data' : 'show-data' }}">Show Data</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="margin"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 dast-btm no-pad">
            <div class="col-lg-3 dash-from">
                <label>From Date :</label>
                <input ng-model="cash_fromDate" ng-change="getData(cash_fromDate,cash_toDate)" datepickerreport>
                
            </div>
            <div class="col-lg-3 dash-from paddinh-not">
                <label>To Date :</label>
                <input ng-model="cash_toDate" datepickerreport ng-change="getData(cash_fromDate,cash_toDate)">
               
            </div>
            <div class="col-lg-3 dash-from hide">
                <label>Select the Clinic :</label>
                <select ng-model="cash_clinicId" ng-selected="{{cash_clinicId.HospitalID}}" ng-options="hospitalData as hospitalData.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalID" ng-change="getDoctorfromClinic(cash_clinicId)">
                </select>
            </div>
            <div class="col-lg-3 dash-from dash-submit paddinh-not hide">
                <label>Select the Doctor :</label>
                <select ng-model="cash_doctorId" ng-selected="{{cash_doctorId.DoctorID}}" ng-options="doctorData as doctorData.DoctorName for doctorData in doctorDataList track by doctorData.DoctorID">
                </select>
                <span ng-click="searchData()">GO</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6 date-search pull-right">
            </div>
        </div>
    </div>
    <div class="row" ng-show="graph_show" ng-if="getDutyDoctorReports.length > 0">
        <div class="col-md-12">
            <nvd3 options='options' data='data' showLabels="true" pieLabelsOutside="true">
                <svg height="250"></svg>
            </nvd3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="data_show" ng-if="getDutyDoctorReports.length > 0">
        <div class="row margin-two">
            <div class="col-lg-12 ">
                <div class="rept-bl-bran">
                    <div class="branch-width report-dabd" style="margin-left:15px;">
                        <label>Doctor Name</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 report-dabd">
                        <label>Branch</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>No of Treatment</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>Speciality</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>Total Cash</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 border-bo" ng-repeat="dutydocreportList  in getDutyDoctorReports">
                <div class="branch-width repot-dc-date" style="margin-left:15px;"> <span> {{dutydocreportList.DoctorName}} </span> </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not"> <span>{{dutydocreportList.Branch}}</span> </div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <label>{{dutydocreportList.NoOfTreatmentsDone}} </label>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <label>{{GetSpecialityById(dutydocreportList.Speciality)}} </label>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <span>{{dutydocreportList.TotalCashCollected}}</span>
                </div>
            </div>
        </div>
        <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage)" on-select-page="setPage(page)" ng-show="getDutyDoctorReports.length > 0"></uib-pagination>
    </div>
    <div class="row" ng-if="getDutyDoctorReports.length == 0">
        <div class="col-lg-12 border-bo">
            <div class="text-center">
                <h4>No data found</h4>
            </div>
        </div>
    </div>
</div>
