<div class="container-fluid">
    <div class="not-available-page">
         <img src="img/no-data/no access.png">
        <div class="msg">
            <p class="goback-text">Looks like you need administrator access</p>
            <p class="no-records-txt-line2">This report is available only to the administrators of your hospital / clinic.
                </p>
        </div>
    </div>
</div>