<div class="reports-inner">
    <div class="row">
        <div class="col-lg-8 cash-rec-lab">
            <label>Total Patients visited :</label>
            <span>{{patientInfoList.SumTotalNewPatients + patientInfoList.SumTotalOldPatients}}</span>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="graph-buttons">
                <a href="javascript:;" ng-click="showMap()" class="{{graph_show ==true ? 'active show-graph' : 'show-graph' }}">Show Graph</a>
                <a href="javascript:;" ng-click="showData()" class="{{data_show ==true ? 'active show-data' : 'show-data' }}">Show Data</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="margin"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 dast-btm no-pad">
            <div class="col-lg-3 dash-from">
                <label>From Date :</label>
                <input ng-model="cash_fromDate" datepickerreport>
                <img src="img/calendar-icon.png" />
            </div>
            <div class="col-lg-3 dash-from paddinh-not">
                <label>To Date :</label>
                <input ng-model="cash_toDate" datepickerreport>
                <img src="img/calendar-icon.png" />
            </div>
            <div class="col-lg-3 dash-from">
                <label>Select the Clinic :</label>
                <select ng-model="cash_clinicId" ng-selected="{{cash_clinicId.HospitalID}}" ng-options="hospitalData as hospitalData.HospitalName for hospitalData in hospitalDetails track by hospitalData.HospitalID" ng-change="getDoctorfromClinic(cash_clinicId)">
                </select>
            </div>
            <div class="col-lg-3 dash-from dash-submit paddinh-not">
                <label>Select the Doctor :</label>
                <select ng-model="cash_doctorId" ng-selected="{{cash_doctorId.DoctorID}}" ng-options="doctorData as doctorData.DoctorName for doctorData in doctorDataList track by doctorData.DoctorID">
                </select>
                <span ng-click="searchData()">GO</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6 date-search pull-right">
            </div>
        </div>
    </div>
    <div class="row" ng-show="graph_show" ng-if="patientInfoList.TotalNewPatientVisitedObj.length > 0">
        <div class="col-md-12">
            <nvd3 options='options' data='data' showLabels="true" pieLabelsOutside="true">
                <svg height="250"></svg>
            </nvd3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="data_show" ng-if="patientInfoList.TotalNewPatientVisitedObj.length > 0">
        <div class="row margin-two">
            <div class="col-lg-12 ">
                <div class="rept-bl-bran">
                    <div class="branch-width report-dabd" style="margin-left:15px;">
                        <label>Branch</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 report-dabd">
                        <label>Doctor Name</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>Treatment</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>Patient Type</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 report-dabd">
                        <label>Patient Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 border-bo" ng-repeat="reportList in patientInfoList.TotalNewPatientVisitedObj ">
                <div class="branch-width repot-dc-date" style="margin-left:15px;"> <span> {{reportList.Branch}} </span> </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not"> <span>{{reportList.DoctorName}}</span> </div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <label>{{reportList.Treatment }} </label>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <label ng-if="reportList.PatientType == 'Y'">New Visit</label>
                    <label ng-if="reportList.PatientType == 'N'">Follow up</label>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 repot-dc-date paddinh-not">
                    <span>{{reportList.PatientName}}</span>
                </div>
            </div>
        </div>
        <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage)" on-select-page="setPage(page)" ng-show="patientInfoList.TotalNewPatientVisitedObj.length > 0"></uib-pagination>
    </div>
    <div class="row" ng-if="patientInfoList.TotalNewPatientVisitedObj.length == 0">
        <div class="col-lg-12 border-bo">
            <div class="text-center">
                <h4>No data found</h4>
            </div>
        </div>
    </div>
</div>
