<div class="c7report" ng-controller="exceptionNotesReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group no-mar clearfix">
                                <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY"
                                    ng-model="daterange"    type="text" daterangedashboardpicker id="dashdaterange">
                            </div>
                        </div>
                    </div>                   

                    <div class="col-md-2 text-left pt-20">
                        <button class="btn btn-primary" ng-click="getExceptionData()">Apply</button>
                       
                        <figure class="cursor export-excel mr-10 ml-10" title="Export to Excel"
                            ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="report-cont">
        <div class="dib table-responsive">
            <table class="table color-theme-plain">
                <thead>
                    <tr>
                        <th>DW ID</th>
                        <th>Name</th>   
                        <th>Noted Date</th> 
                        <th>Manage Description</th>                                        
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody ng-repeat="data in exceptionData">
                    <tr>
                        <td>{{data.DWID}}</td>
                        <td>{{data.FullName}}</td>
                        <td>{{data.Notedate | convertdate}}</td>
                        <td>{{data.ManageDesc}}</td>
                        <td>{{data.notes}}</td>                                           
                </tbody>
                <tbody ng-show="exceptionData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="6">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
