<!--  GP server -->
<div class="add-new-branch animated fadeIn">
            <div class="admin-top-header">
                <h4 ng-if="!edit_status && !showViewBranch">Add New Clinic</h4>
                <h4 ng-if="edit_status && !showViewBranch">Update Clinic</h4>
                <h4 ng-if="showViewBranch">View Clinic</h4>
                <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique justo, nec consequat turpis.</p>
            </div>
            <!-- Edit block -->
            <div class="new-branch-from" ng-if="showEditBranch">
                <div class="row">
                    <form name="addUpdateBranchForm" novalidate>
                        <div class="col-lg-5">
                            <a href="javascript:;" class="back-list" ng-click="pageShow('list',addUpdateBranchForm)">Back to List</a>
                            <!-- Branch name -->
                            <div class="form-wrap">
                                <label>Clinic Name <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="hospitalName" ng-model="hospitalParams.HospitalDetails.HospitalName" placeholder="Enter branch name" ng-maxlength="200" ng-minlength="0" required>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.required" class="fm-error-text">Enter Clinic name</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.minlength" class="fm-error-text">
                                    Too short!</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalName.$touched) && addUpdateBranchForm.hospitalName.$error.maxlength" class="fm-error-text">
                                    Too long!</span>
                                </div>
                            </div>
                            <!-- End of branch name -->
                            <!-- Branch ID -->
                            <!--
                            <div class="form-wrap" ng-if="edit_status">
                                <label>Branch ID <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.branchno.$touched) && addUpdateBranchForm.branchno.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="branchno" ng-model="hospitalParams.HospitalDetails.BranchCode" placeholder="Enter branch id" ng-maxlength="100">
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.branchno.$touched) && addUpdateBranchForm.branchno.$error.required" class="fm-error-text">
                                    Enter branch id</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.branchno.$touched) && addUpdateBranchForm.branchno.$error.maxlength" class="fm-error-text">
                                    Too long!</span>
                                </div>
                            </div>
                            -->
                            <!-- Branch ID -->
                            <div class="form-wrap">
                                <label>Contact Number <small>*</small></label>
                                <div class="fm-box" ng-repeat="contact in hospitalParams.HospitalPhone">
                                    <div class="double-form clearfix">
                                        <div class="fm-landline">
                                            <select class="form-style select-dropdown" ng-model="contact.PhType" name="contactType" ng-change="changeBranchMobile(contact.PhType,$index)">
                                                <option value="M">Mobile</option>
                                                <option value="L">Landline</option>
                                            </select>
                                        </div>
                                        <div ng-if="contact.PhType == 'M'">
                                            <div ng-class="((addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched )&& addUpdateBranchForm.contactAreaCode_{{$index}}.$invalid)?'fm-stdcode fm-error':'fm-stdcode'"> 
                                                <input type="text" class="form-style" name="contactAreaCode_{{$index}}" placeholder="{{CntryCode}}" ng-click="ChangeCntry()"  ng-model="contact.PhCntryCD" numbers-only="numbers-only" ng-maxlength="3" ng-minlength="1"   required>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.maxlength" class="fm-error-text">Number too long</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.minlength" class="fm-error-text">Number too short</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.required" class="fm-error-text">Enter code</span>
                                            </div>
                                            <div ng-class="((addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$invalid)?'fm-ctno fm-error':'fm-ctno'">
                                                <input type="text" class="form-style" name="contactMobileNo_{{$index}}" placeholder="Enter No" ng-model="contact.PhNumber" numbers-only="numbers-only" ng-maxlength="10" ng-minlength="10" required>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.required" class="fm-error-text">Enter number</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.maxlength" class="fm-error-text">Number too long</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.minlength" class="fm-error-text">Number too short</span>
                                            </div>
                                            <a href="javascript:;" class="i-delrow" ng-click="removeContact($index)" ng-if="hospitalParams.HospitalPhone.length > 1"></a>
                                        </div>
                                        <div ng-if="contact.PhType == 'L'">
                                            <div ng-class="((addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched )&& addUpdateBranchForm.contactAreaCode_{{$index}}.$invalid)?'fm-stdcode fm-error':'fm-stdcode'">
                                                <input type="text" class="form-style" name="contactAreaCode_{{$index}}" placeholder="{{LandCode}}" ng-click="ChangelandCd()" ng-model="contact.PhCntryCD" numbers-only="numbers-only"  ng-maxlength="5" ng-minlength="3" required>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.maxlength" class="fm-error-text">Number too long</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.minlength" class="fm-error-text">Number too short</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactAreaCode_{{$index}}.$touched) && addUpdateBranchForm.contactAreaCode_{{$index}}.$error.required" class="fm-error-text">Enter code</span>
                                            </div>
                                            <div ng-class="((addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$invalid)?'fm-ctno fm-error':'fm-ctno'">
                                                <input type="text" class="form-style" name="contactMobileNo_{{$index}}" placeholder="Enter No" ng-model="contact.PhNumber" numbers-only="numbers-only" ng-maxlength="8" ng-minlength="6" required>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.required" class="fm-error-text">Enter number</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.maxlength" class="fm-error-text">Number too long</span>
                                                <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.contactMobileNo_{{$index}}.$touched) && addUpdateBranchForm.contactMobileNo_{{$index}}.$error.minlength" class="fm-error-text">Number too short</span>
                                            </div>
                                            <a href="javascript:;" class="i-delrow" ng-click="removeContact($index)"  ng-if="hospitalParams.HospitalPhone.length > 1"></a>
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="add-no" ng-click="addMultipleContacts()" ng-if="$last">Add Additional Number</a>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Address 1<small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.address1.$touched) && addUpdateBranchForm.address1.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="address1" placeholder="Door number, Building name & number" ng-model="hospitalParams.HospitalAddress.Address1"  ng-maxlength="300" ng-minlength="0" required id="addressId">

                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address1.$touched) && addUpdateBranchForm.address1.$error.required" class="fm-error-text">Enter Address 1</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address1.$touched) && addUpdateBranchForm.address1.$error.minlength" class="fm-error-text">
                                    Too short!</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address1.$touched) && addUpdateBranchForm.address1.$error.maxlength" class="fm-error-text">
                                    Too long!</span>
                                </div>
                            </div>

                            <div class="form-wrap">
                                <label>Address 2<small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.address2.$touched) && addUpdateBranchForm.address2.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text"  places-auto-complete class="form-style" name="address2" placeholder="Street Name (Powered by Google)" ng-model="hospitalParams.HospitalAddress.Address2"  ng-maxlength="300" ng-minlength="0" required  types="{{types}}"
                                    on-place-changed="placeChanged()">
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address2.$touched) && addUpdateBranchForm.address2.$error.required" class="fm-error-text">Enter Address 2</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address2.$touched) &&  addUpdateBranchForm.address2.$error.minlength" class="fm-error-text">
                                    Too short!</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.address2.$touched) && addUpdateBranchForm.address2.$error.maxlength" class="fm-error-text">
                                    Too long!</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Country <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.country.$touched) && addUpdateBranchForm.country.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <select class="form-style select-dropdown" ng-model="hospitalParams.HospitalAddress.Country" name="country" id="countryID" required ng-change="changeCountry()"> 
                                        <option value="">Select Country</option>
                                        <option ng-repeat="country in adminMain.getCountry" value="{{country.CountryID}}" ng-selected="country.CountryID == hospitalParams.HospitalAddress.Country" ng-bind="country.CountryDesc"></option>
                                    </select>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.country.$touched) && addUpdateBranchForm.country.$error.required" class="fm-error-text">Select country</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>State <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.state.$touched) && addUpdateBranchForm.state.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <select class="form-style select-dropdown" ng-model="hospitalParams.HospitalAddress.State" name="state" id="stateID" required  ng-change="changeState()">
                                        <option value="">Select State</option>
                                        <option ng-repeat="state in stateList" value="{{state.StateID}}" ng-bind="state.StateDesc" ng-selected="state.StateID == hospitalParams.HospitalAddress.State" ng-bind="state.StateDesc"></option>
                                    </select>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.state.$touched) && addUpdateBranchForm.state.$error.required" class="fm-error-text">Select state</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>City <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.city.$touched) && addUpdateBranchForm.city.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <select class="form-style select-dropdown" ng-model="hospitalParams.HospitalAddress.CityTown" id="cityID" name="city" required  ng-change="changeCity()">
                                        <option value="">Select City</option>
                                        <option ng-repeat="city in cityList" value="{{city.CityID}}" ng-bind="city.CityIDDesc" ng-selected="city.CityID == hospitalParams.HospitalAddress.CityTown"></option>
                                    </select>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.city.$touched) && addUpdateBranchForm.city.$error.required" class="fm-error-text">Select city</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Location <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.location.$touched) && addUpdateBranchForm.location.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <select class="form-style select-dropdown" ng-model="hospitalParams.HospitalAddress.Location" id="locationID" name="location" required ng-change="changeLocation()">
                                        <option value="">Select Location</option>
                                        <option ng-repeat="location in locationList" value="{{location.LocationID}}" ng-bind="location.LocationIDDesc" ng-selected="location.LocationID == hospitalParams.HospitalAddress.Location"></option>
                                    </select>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.location.$touched) && addUpdateBranchForm.location.$error.required" class="fm-error-text">Select location</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Pincode <small>*</small></label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.pincode.$touched) && addUpdateBranchForm.pincode.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="pincode" placeholder="Enter pincode" ng-model="hospitalParams.HospitalAddress.PinCode" ng-minlength="0" ng-maxlength="7" numbers-only="numbers-only" required>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.pincode.$touched) && addUpdateBranchForm.pincode.$error.required" class="fm-error-text">Enter pincode</span> 
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.pincode.$touched) && addUpdateBranchForm.pincode.$error.minlength" class="fm-error-text">
                                    Too short!</span>
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.pincode.$touched) && addUpdateBranchForm.pincode.$error.maxlength" class="fm-error-text">
                                    Too long!</span>  
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Registered on</label>
                                <div class="fm-box">
                                    <input type="text" class="form-style fm-cal cal-size" name="" placeholder="13-Jan-2017" ng-model="hospitalParams.HospitalDetails.RegsistrationDate" readonly datepickeraddpatient>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Practice License Number</label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.licenseNumber.$touched) && addUpdateBranchForm.licenseNumber.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="licenseNumber" placeholder="Enter license number" ng-model="hospitalParams.HospitalDetails.LicenseNumber"  ng-maxlength="50">
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.licenseNumber.$touched) && addUpdateBranchForm.licenseNumber.$error.maxlength" class="fm-error-text">
                                    Too long!</span>  
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>TIN No</label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.TINNumber.$touched) && addUpdateBranchForm.TINNumber.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="TINNumber" placeholder="Enter TIN no" ng-model="hospitalParams.HospitalDetails.TINNumber"  ng-maxlength="50">
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.TINNumber.$touched) && addUpdateBranchForm.TINNumber.$error.maxlength" class="fm-error-text">
                                    Too long!</span>  
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label>Clinic Email ID</label>
                                <div class="{{((addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalEmail.$touched) && addUpdateBranchForm.hospitalEmail.$invalid)?'fm-box fm-error':'fm-box'}}">
                                    <input type="text" class="form-style" name="hospitalEmail" placeholder="Enter email id" ng-model="hospitalParams.HospitalDetails.EmailAddress" ng-pattern="email_pattern">
                                    <span ng-show="(addUpdateBranchForm.$submitted || addUpdateBranchForm.hospitalEmail.$touched) && addUpdateBranchForm.hospitalEmail.$error.pattern" class="fm-error-text">
                                    Enter Valid Email ID</span>  
                                </div>
                            </div>
                            <div class="form-wrap">
                                <div class="fm-action pull-right">
                                    <button class="action-filled" type="button"  ng-click="pageShow('list')">Cancel</button>
                                    <button class="action-primary" type="submit" ng-click="submit(addUpdateBranchForm)" ng-if="!edit_status">Add Clinic</button>

                                    <button class="action-primary" type="submit" ng-click="submit(addUpdateBranchForm)" ng-if="edit_status">Update Clinic</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-7">
                        <div class="branch-location">
                            <h5>Mark Branch Location</h5>
                        </div>
                        
                        <div class="google-map">
                            <div class="map-search-box">
                                <input type="text" class="form-style ml-box hide" placeholder="Search Location" name="placeSearch" ng-model="placeval">
                                <button class="action-filled map-r-btn" type="button" ng-click="refreshMap()">Refresh</button>
                            </div>
                            <ng-map zoom="15" on-click="getpos($event)" id="mapID" default-style="true" map-lazy-load="https://maps.google.com/maps/api/js" center="{{((hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0) || (hospitalParams.HospitalAddress.Latitude  == '' && hospitalParams.HospitalAddress.Longitude == ''))?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}">
                                <marker  position="{{((hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0) || (hospitalParams.HospitalAddress.Latitude  == '' && hospitalParams.HospitalAddress.Longitude == ''))?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}" title="hCue" centered="true" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true">
                                </marker >
                            </ng-map>
                        </div>
                        <form>
                            <div class="form-group" style="margin-top: 30px;">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Notes.." class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of edit block -->
            <!-- View block -->
            <div class="new-branch-from" ng-if="showViewBranch">
                <div class="row">
                    <div class="col-lg-5">
                        <a href="javascript:;" class="back-list" ng-click="pageShow('list')">Back to List</a>
                        <div class="form-wrap">
                            <label>Branch Name</label>
                            <div class="fm-box">
                                <h5><strong ng-bind="hospitalParams.HospitalDetails.HospitalName"></strong></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Branch ID</label>
                            <div class="fm-box">
                                <h5 ng-bind="hospitalParams.HospitalDetails.BranchCode"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Contact Number</label>
                            <div class="fm-box">
                                <h5 ng-repeat="contact in hospitalParams.HospitalPhone" ng-bind="(contact.PhNumber == '')?'N/A':contact.PhCntryCD+' - '+ contact.PhNumber" ng-if="contact.PhType == 'M'"></h5>
                                <h5 ng-repeat="contact in hospitalParams.HospitalPhone" ng-bind="(contact.PhNumber == '')?'N/A':'0'+contact.PhAreaCD+' - '+ contact.PhNumber" ng-if="contact.PhType == 'L'"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Address 1</label>
                            <div class="fm-box">
                                <h5 ng-bind="hospitalParams.HospitalAddress.Address1"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Address 2</label>
                            <div class="fm-box">
                                <h5 ng-bind="hospitalParams.HospitalAddress.Address2"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Country</label>
                            <div class="fm-box">
                                <h5 ng-repeat="country in adminMain.getCountry" ng-if="country.CountryID == hospitalParams.HospitalAddress.Country" ng-bind="country.CountryDesc">
                                </h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>State</label>
                            <div class="fm-box">
                                <h5 ng-repeat="state in adminMain.getState" ng-if="state.StateID == hospitalParams.HospitalAddress.State" ng-bind="state.StateDesc"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>City</label>
                            <div class="fm-box">
                                <h5 ng-repeat="city in adminMain.getCity" ng-if="city.CityID == hospitalParams.HospitalAddress.CityTown" ng-bind="city.CityIDDesc"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Location</label>
                            <div class="fm-box">
                                <h5 ng-repeat="location in adminMain.getLocation" ng-if="location.LocationID == hospitalParams.HospitalAddress.Location" ng-bind="location.LocationIDDesc"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Pincode</label>
                            <div class="fm-box">
                                <h5 ng-bind="hospitalParams.HospitalAddress.PinCode"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Registered on</label>
                            <div class="fm-box">
                                <h5 ng-bind="hospitalParams.HospitalDetails.RegsistrationDate | date:'dd-MMM-yyyy'"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Practice License Number</label>
                            <div class="fm-box">
                                <h5 ng-bind="(hospitalParams.HospitalDetails.LicenseNumber == undefined)?'N/A':hospitalParams.HospitalDetails.LicenseNumber"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>TIN No</label>
                            <div class="fm-box">
                                <h5 ng-bind="(hospitalParams.HospitalDetails.TINNumber == undefined)?'N/A':hospitalParams.HospitalDetails.TINNumber"></h5>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label>Branch Email ID</label>
                            <div class="fm-box">
                                <h5 ng-bind="(hospitalParams.HospitalDetails.EmailAddress == undefined)?'-':hospitalParams.HospitalDetails.EmailAddress"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="branch-location">
                            <button class="action-filled pull-right" ng-show="hospitalParams.branchEditDltAccess" type="button" ng-click="pageShow('edit')">Edit</button>
                        </div>
                        <!-- center='current-position' -->
                        <div class="google-map"  ng-class="((hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0) || (hospitalParams.HospitalAddress.Latitude  == '' && hospitalParams.HospitalAddress.Longitude == ''))?'hide':''">
                            <div class="map-search-box">
                                <button class="action-filled map-r-btn" type="button" ng-click="refreshMap()">Refresh</button>
                            </div>
                            <ng-map zoom="15" center="{{(hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0)?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}" id="mapIDEdit" default-style="true" map-lazy-load="https://maps.google.com/maps/api/js">
                                <marker  position="{{(hospitalParams.HospitalAddress.Latitude  == 0 && hospitalParams.HospitalAddress.Longitude == 0)?'current-position':[hospitalParams.HospitalAddress.Latitude, hospitalParams.HospitalAddress.Longitude]}}" title="hCue" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true" centered="true">
                                    </marker >
                            </ng-map>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of view block -->
        </div>