<!--Registration feilds-->
        <div class="admin-top-header">
            <h4>Registration Fields</h4>
            <p>You may now set the below fields mandatory / non-mandatory during registration</p>
        </div>
        <div class="admin-form-type">
            <form>
                <div class="col-lg-5 no-pad">
                    <div class="select-branch">
                        <label>Select a branch</label>
                        <div class="form-group">
                            <select name="Branch" class="form-style select-dropdown" id="branch" ng-model="selectBranch" ng-change="changeHospital(selectBranch)" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalList">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="reg-checkbox">
            <div class="row">
                <div class="col-md-3 no-pad-right">
                    <div class="sel-settings">
                        <div class="checkbox cn pull-left">
                            <label><small>Basic Details</small></label>
                        </div>
                    </div>
                    <ul class="chec-list">
                        <li class="clearfix"  ng-repeat="item in RegFields| filter:basicFilter">
                            <div class="checkbox cn pull-left">
                                <label>
                                    <input type="checkbox" name="checkbox-2" ng-model="item.mandatory" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="(item.fieldname == 'Name' || item.fieldname == 'Age' || item.fieldname == 'Gender')?'true':false">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span>
                                    <small ng-bind="item.fieldname"></small>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 no-pad-right">
                    <div class="sel-settings">
                        <div class="checkbox cn pull-left">
                            <label><small>Emergency Contact</small></label>
                        </div>
                    </div>
                    <ul class="chec-list">
                        <li class="clearfix"  ng-repeat="item in RegFields| filter:emergencyFilter">
                            <div class="checkbox cn pull-left">
                                <label>
                                    <input type="checkbox" name="checkbox-2"  ng-model="item.mandatory" ng-true-value="'Y'" ng-false-value="'N'">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span>
                                    <small ng-bind="item.fieldname"></small>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="sel-settings">
                        <div class="checkbox cn pull-left">
                            <label><small>Additional Details</small></label>
                        </div>
                    </div>
                    <ul class="chec-list">
                        <li class="clearfix"  ng-repeat="item in RegFields| filter:otherFilter">
                            <div class="checkbox cn pull-left">
                                <label>
                                    <input type="checkbox" name="checkbox-2"  ng-model="item.mandatory" ng-true-value="'Y'" ng-false-value="'N'">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span>
                                    <small ng-bind="item.fieldname"></small>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
				 <div class="col-md-3 pad-right-15" ng-show="showVetentry">
                    <div class="sel-settings">
                        <div class="checkbox cn pull-left">
                            <label><small>Veterinary Details</small></label>
                        </div>
                    </div>
                    <ul class="chec-list">
                        <li class="clearfix"  ng-repeat="item in RegFields| filter:vetneryFilter">
                            <div class="checkbox cn pull-left">
                                <label>
                                    <input type="checkbox" name="checkbox-2" ng-model="item.mandatory" ng-true-value="'Y'" ng-false-value="'N'">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span>
                                    <small ng-bind="item.fieldname"></small>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>	
            </div>
            <div class="row">
			
			<div class="col-lg-12 text-right"  ng-show="showVetentry">
                    <div class="reg-actions">
                        <button class="action-filled " ng-click="reset()">Reset</button>
                        <button class="action-primary " ng-click="addUpdate()">Save</button>
                    </div>
                </div>
				
                <div class="col-lg-9 text-right" ng-hide="showVetentry">
                    <div class="reg-actions">
                        <button class="action-filled " ng-click="reset()">Reset</button>
                        <button class="action-primary " ng-click="addUpdate()">Save</button>
                    </div>
                </div>
            </div>
        </div>