<link rel="stylesheet" href="css/admin-module.css">
<div ng-controller="hCueAdminMainController as adminMain">
    <div class="container-fluid">
        <!--ADMIN TABS--> 
    	<div class="tab-admin-globle clearfix">
            <a href="javscript:;" ng-click="activeTab('dashboard')" ng-class="(activeMenu == 'dashboard')?'tab-active':''">Dashboard</a>
            <a href="javascript:;" ng-click="activeTab('manageBranch')" ng-class="(activeMenu == 'manageBranch')?'tab-active':''" ng-show="showBranchAccess">Locations</a>
			<a href="javascript:;" ng-click="activeTab('ProfileSetting')" ng-class="(activeMenu == 'ProfileSetting')?'tab-active':''" ng-show="showProfileSettingsAccess">Profile Settings</a>
            <a href="javascript:;" ng-click="activeTab('manageUser')" ng-class="(activeMenu == 'manageUser')?'tab-active':''" ng-show="showManageUserAccess">Users</a>
            <a href="javascript:;" ng-click="activeTab('manageScheduling')" ng-class="(activeMenu == 'manageScheduling')?'tab-active':''" ng-show="showManageSchedulingAccess">Scheduling</a>
            <a href="javascript:;" ng-click="activeTab('manageCalendar')" ng-class="(activeMenu == 'manageCalendar')?'tab-active':''" ng-show="showManageCalendarAccess">Calendar</a>
            <a href="javascript:;" ng-click="activeTab('manageSpaciality')" ng-class="(activeMenu == 'manageSpaciality')?'tab-active':''" ng-show="showManageSpecialitiesAccess">Category, Specialities & Sub - Specialities</a>
            
        </div>
        <!--END ADMIN TABS-->
        <!-- Include the External HTML's -->
        <div class="sep-bor clearfix" ng-if="tabActive == 'dashboard'" ng-include="'templates/admin/dashboard/admin-dashboard.html'" ng-controller="hCueAdminDashbroadController as adminDashboard"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'manageBranch'" ng-include="'templates/admin/ScanCentres/adminBranch.html'" ng-controller="hCueAdminManageBranchController as adminBranch"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'ProfileSetting'" ng-include="'templates/admin/ProfileSetting/profile-settings.html'" ng-controller="hCueAdminProfileSettingsController as adminProfile"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'manageUser'" ng-include="'templates/admin/UserProfile/adminUsers.html'" ng-controller="hCueAdminUsersController as adminUsers"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'manageScheduling'" ng-include="'templates/admin/Scheduling/Scheduling.html'" ng-controller="hCueAdminUsersController as adminUsers"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'manageCalendar'" ng-include="'templates/admin/Calendar/adminCalendar.html'" ng-controller="hCueAdminUsersController as adminUsers"></div>
        <div class="sep-bor clearfix" ng-if="tabActive == 'manageSpaciality'" ng-include="'templates/admin/Specialities/adminAddEditSpaciality.html'" ng-controller="hcueAdminspecialityController as adminspeciality"></div>
        <!-- End of include the external HTML's -->
    </div>
</div>


    