 
<div class="admin-top-header">
    <h4>Feedback Questions</h4>
    <!-- <p ng-hide="urlpath">Questions you add for each branch will be shown in Kiosk for that particular branch.See <a href="https://www.hcue.in/doctors" target="_new">hCue Kiosk</a> for clinics.</p> -->
    <!-- <p ng-show="urlpath">Questions you add for each branch will be shown in Kiosk for that particular branch.</p> -->
</div>
<!-- <div class="admin-form-type">
    <form>
        <div class="col-lg-5 no-pad">
            <div class="select-branch">
                <label>Select a branch </label>
                <div class="form-group">
                    <select name="Branch" class="form-style select-dropdown" id="branch" ng-model="branchDetails.branch" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalList" ng-change="changeBranch()"></select>
                </div>
            </div>
        </div>
    </form>
</div> -->
<div class="feedback-question">
    <div class="row">
        <div class="col-lg-6">
            <div class="choose-lang">
                <!-- <h5>Select the Language(s) in which the questions have to be displayed</h5>
                <div class="clearfix">
                    <div class="checkbox cn">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="eng_lang.eng" ng-true-value="'Y'" ng-false-value="'N'" ng-click="languageSelection('eng',eng_lang.eng)">
                            <span class="checkbox-material">
                                <span class="check"></span>
                            </span>
                            <small>English</small>
                        </label>
                    </div>
                    <div class="checkbox cn" ng-show="currencyType == 'INR'">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="tam_lang.tam" ng-true-value="'Y'" ng-false-value="'N'" ng-click="languageSelection('tam',tam_lang.tam)">
                            <span class="checkbox-material">
                                <span class="check"></span>
                            </span>
                            <small>Tamil</small>
                        </label>
                    </div>
                    <div class="checkbox cn" ng-show="currencyType == 'INR'">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="hin_lang.hin" ng-true-value="'Y'" ng-false-value="'N'" ng-click="languageSelection('hin',hin_lang.hin)">
                            <span class="checkbox-material">
                                <span class="check"></span>
                            </span>
                            <small>Hindi</small>
                        </label>
                    </div>
                </div> -->
                <div class="question-form">
                    <form name="feedbackAdd">
                        <label class="feed-ques-lbl">Add a Feedback Question <em>*</em></label>
                        <div class="row form-group" ng-if="eng_lang.eng == 'Y'">
                           <!--  <div class="col-lg-1">
                                <label class="feed-lbl-lang">English</label>
                            </div> -->
                            <div class="col-sm-12">
                                <input class="form-style" placeholder="Enter question here" ng-model="lan.eng_lanText" name="englishLanguage">
                            </div>
                        </div>
                        <!-- <div class="row form-group" ng-if="tam_lang.tam == 'Y'">
                            <div class="col-lg-1">
                                <label class="feed-lbl-lang">Tamil</label>
                            </div>
                            <div class="col-lg-11">
                                <input class="form-style" placeholder="Enter question here" ng-model="lan.tam_lanText" name="tamilLanguage">
                            </div>
                        </div>
                        <div class="row form-group" ng-if="hin_lang.hin == 'Y'">
                            <div class="col-lg-1">
                                <label class="feed-lbl-lang">Hindi</label>
                            </div>
                            <div class="col-lg-11">
                                <input class="form-style" placeholder="Enter question here"  ng-model="lan.hin_lanText" name="hindiLanguage">
                            </div>
                        </div> -->
                        <div class="form-wrap">                                   
                            <div class="pull-right">
                                <div class="b-btm-msg">
                                    <button class="action-filled pull-left" ng-click="resetForm()">
                                    Reset</button>
                                    <button class="action-primary pull-left" style="padding:3px 23px 5px;" type="submit" ng-click="addUpdate()" ng-if="addNew">Add</button>
                                    <button class="action-primary pull-left" type="submit" ng-click="addUpdate()" ng-if="updateNew">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-lg-6 no-pad-left">
            <div class="branch-questions">
                <h6>Questions for <strong ng-bind="branchDetails.branch.HospitalInfo.HospitalDetails.HospitalName"></strong> Branch</h6>
                <ul ng-if="branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion != undefined">
                    <li ng-repeat="feedback in branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion.questions" ng-if="branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion.questions.length != 0">
                        <div class="question-no" ng-bind="'Q'+{{$index + 1}}"></div>
                        <div class="question-info" ng-repeat="question in feedback.questions">
                            <div class="question-edit" ng-if="$first">
                                <a href="javascript:;" ng-click="editFeedbackQuestion(feedback,{{$index}})"><img src="img/admin-img/edit-icon.png"></a>
                                <a href="javascript:;" ng-click="deleteFeedbackQuestion(feedback)"><img src="img/admin-img/trash-icon.png"></a>
                            </div>
                            <div class="quest-wrap">
                                <div class="q-eng">
                                    <span ng-if="question.lang == 'eng'">English  :</span>
                                    <span ng-if="question.lang == 'tam'">Tamil  :</span>
                                    <span ng-if="question.lang == 'hin'">Hindi  :</span>
                                    <p ng-bind="question.question"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li ng-if="branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion.questions.length == 0">No Feedback questions</li> -->
                </ul>
                <div class="no-question" 
                ng-if="branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion.questions.length == 0">
                    <img src="img/admin-img/no-question.png">
                    <p>No Feedback questions</p>
                </div>
                
                <div class="no-question" 
                ng-if="branchDetails.branch.HospitalInfo.HospitalDetails.FeedBackQuestion == undefined">
                    <img src="img/admin-img/no-question.png">
                    <p>No Feedback questions</p>
                </div>
            </div>
        </div>
    </div>
</div>