<!-- Branch Listing -->
<div class="animated fadeIn calendar">
    <div class="admin-top-header">
        <div class="row">
            <div class="col-md-3">
                <div class="radio-options">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Search by Clinic
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search Using Clinic Name" value="All Day Health Care">
                            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="radio-options">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Search by Sonographers
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search Using Sonographer Name">
                            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="date-range">
                    <label for="range">Filter By Range</label>
                    <div class="form-group">
                        <input type="text" class="form-control icons-calendar" id="fromDate" datepickeraddpatient ng-model="patientinfo.dob" placeholder="14/8/2018">
                        <span class="bold">to</span>
                        <input type="text" class="form-control icons-calendar" id="toDate" datepickeraddpatient ng-model="patientinfo.dob" placeholder="24/8/2018">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="calendar-schedule">
        <div class="swiper-container swiper-calendar">
            <div class="swiper-wrapper">
                <div class="swiper-slide slot-card">
                    <div class="head text-center blue">
                        <h3>14-12-2018(Monday)</h3>
                    </div>
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<p>Patient name</p><h6>Mr.John</h6><p>Contact Number</p><h6>+44 85734 23583</h6><p>Speciality</p><h6>Urinary Tract</h6>">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center orange">
                        <h3>15-12-2018(Tuesday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center pink">
                        <h3>16-12-2018(Wednesday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center brown">
                        <h3>17-12-2018(Thursday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide slot-card">
                    <div class="head text-center grey">
                        <h3>18-12-2018(Friday)</h3></div>
                    
                    <div class="top-sect">
                        <p>Clinic</p>
                        <h6 class="primary">All Day New health Center</h6>
                        <p>Sonographer</p>
                        <h6 class="orange">Mr.Aaron hank</h6>
                        <p>Support Worker</p>
                        <h6 class="secondary">Mr.John HJ</h6>
                        <p class="inline">List of Time Slot's <span><span class="title">Time Slot:</span> <span class="content primary">10 Min</span></span></p>
                        <div class="mt-10 text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-grp">Total Slots - 55</button>
                                <button type="button" class="btn btn-grp">Booked Slots - 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="time-slot">
                        <ul class="slots">
                            <li>10:00</li>
                            <li>10:10</li>
                            <li>10:20</li>
                            <li>10:30</li>
                            <li>10:40</li>
                            <li>10:50</li>
                            <li>11:00</li>
                            <li>11:10</li>
                            <li>11:20</li>
                            <li>11:30</li>
                            <li class="booked">11:40</li>
                            <li>11:50</li>
                            <li>12:00</li>
                            <li>12:10</li>
                            <li>12:20</li>
                            <li>12:30</li>
                            <li>12:40</li>
                            <li>12:50</li>
                            <li class="booked">13:00</li>
                            <li>13:10</li>
                            <li>13:20</li>
                            <li>13:30</li>
                            <li>13:40</li>
                            <li>13:50</li>
                            <li>14:00</li>
                            <li>14:10</li>
                            <li>14:20</li>
                            <li class="booked">14:30</li>
                            <li>14:40</li>
                            <li>14:50</li>
                            <li>15:00</li>
                            <li class="booked">15:10</li>
                            <li>15:20</li>
                            <li>15:30</li>
                            <li>15:40</li>
                        </ul>
                    </div>
                </div>
            </div>
	        <div class="swiper-button-prev"></div>
	        <div class="swiper-button-next"></div>
        </div>
        <div class="form-group mt-20">
        </div>
    </div>
</div>

<script>
	var swiper = new Swiper('.swiper-calendar', {
	  slidesPerView: 5,
	  spaceBetween: 10,
	  navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  }
	});
    $('[data-toggle="popover"]').popover();
</script>