<div class="add-new-branch animated fadeIn">
    <div class="admin-top-header">
        <h4>Add New Spacialities</h4>
        <p>Add, Edit, Delete</p>
    </div>
	<div class="admin-form-type spaciality">
		<div class="auf-header">
	        <!-- <a href="javascript:;" class="back-list" ng-click="pageChange('viewListing')">Back to List</a> -->
	        <h4>Basic Information</h4>
	    </div>
	    <div class="row">
        <div class="col-lg-5">
            <form class="add-user-new" name="Addspaciality" novalidate="">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Region <em>*</em></label>
                            <input type="text" name="Name" class="form-control" required="" style="" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Type <em>*</em></label>
                            <input type="text" name="Name" class="form-control" required="" style="" placeholder="Title">
                        </div>                       
                    </div>
                </div>
                <div class="form-wrap">
                    <div class="fm-action pull-right">
                        <button class="action-filled" type="button">Cancel</button>
                        <button class="action-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-7 animated fadeIn ng-scope">
            <div class="access-rights">
                <h5>Spacialities</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="access-rights-list">Abdomen & Pelvis Female <span class="option"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="access-rights-list">Abdomen & Pelvis Male <span class="option"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="access-rights-list">Adomen & Urinary track <span class="option"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="access-rights-list">Arotic AAA <span class="option"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>