<!-- Branch Listing -->
<div class="animated fadeIn">
    <div class="admin-top-header">
        <h4>Manage Branches</h4>
        <p>Add branch, Edit branch, Delete branch, Search branch</p>
    </div>
    <div class="admin-form-type">
        <form>
            <div class="branch-type" style="width: 580px;">
                <input type="text" name="" class="form-style pull-left" placeholder="Search by Branch Id / Branch Name / Location / Contact Number" ng-model="searchText.search" ng-change="searchBranch(searchText.search,'onchange')" style="width: 81%">
                <i class="fa search-patient-clearfield" ng-click="clearSearchVal()" style="left: 36%;top: 209px;display: block;" ng-if="searchText.search != ''"></i>
                <button class="action-primary pull-right" ng-click="searchBranch(searchText.search,'onsubmit')">Search</button>
            </div>
            <button type="button" href="javascript:;" ng-class="(statsCount.CreatedBranch == statsCount.MaxBranch)?'action-primary pull-right action-disable':'action-primary pull-right'" ng-click="pageShow('add')">Add new branch</button>
        </form>
    </div>
    <!--ADMIN TAB CONTENT-->
  
    <div class="branch-data-list">
         <div class="rTable">
                <div class="rTableHeading" ng-show="branchDetails.length > 0">   
                    <div class="rTableHead">S.No</div>
                    <div class="rTableHead">Branch ID</div>
                    <div class="rTableHead">Branch Name</div>
                    <div class="rTableHead">Location</div>
                    <div class="rTableHead">Contact Number</div>
                    <div class="rTableHead">Address</div>
                    <div class="rTableHead">Registered on</div>
                    <div class="rTableHead"></div>
                </div>
                <div class="rTableBody">
                    <div ng-repeat="branchData in branchDetails | orderBy:orderByField:reversetOrder" ng-class="(showDelete_{{$index}} == true)?'animated fadeIn rTableRow show-error':'rTableRow'" ng-if="branchData.HospitalInfo.HospitalDetails.ActiveIND == 'Y'">
                        <div class="rTableCell" ng-bind="$index+1"></div>
                        <div class="rTableCell" ng-bind="(branchData.HospitalInfo.HospitalDetails.BranchCode != undefined)?branchData.HospitalInfo.HospitalDetails.BranchCode:'-'"></div>
                        <div class="rTableCell" ng-bind="branchData.HospitalInfo.HospitalDetails.HospitalName"></div>
                        <div class="rTableCell"><span ng-repeat="location in adminMain.getLocation"><span ng-if="location.LocationID == branchData.HospitalInfo.HospitalAddress.Location">{{location.LocationIDDesc}}</span></span></div> 
                        <div class="rTableCell">
                            <span ng-repeat="phoneHos in branchData.HospitalInfo.HospitalPhone" ng-if="branchData.HospitalInfo.HospitalPhone.length > 0">
                            <span ng-if="$index > 0">,</span><span ng-if="phoneHos.PhType == 'L'" ng-bind="'0'+phoneHos.PhAreaCD"></span><span ng-if="phoneHos.PhType == 'M'" ng-bind="phoneHos.PhCntryCD"></span> {{phoneHos.PhNumber}}
                            </span>
                            <span ng-if="branchData.HospitalInfo.HospitalPhone.length == 0">-</span>
                        </div>
                        <div class="rTableCell" style="width: 30%" ng-bind="branchData.HospitalInfo.HospitalAddress.Address2"></div>
                        <div class="rTableCell" ng-bind="branchData.HospitalInfo.HospitalDetails.RegsistrationDate | date:'dd-MMM-yyyy'" style="white-space: nowrap;"></div>
                        <div class="rTableCell">
                            <a href="javascript:;" data-tooltip="Delete" class="admin-td-action atc-del" ng-click="showDelete_{{$index}}=true" ng-show="branchData.HospitalInfo.HospitalDetails.HospitalID != branchData.HospitalInfo.HospitalDetails.ParentHospitalID && branchData.branchEditDltAccess">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <a href="javascript:;" data-tooltip="Edit" class="admin-td-action atc-edit" ng-show="branchData.branchEditDltAccess" ng-click="branch_details('edit',branchData,$index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="javascript:;" data-tooltip="View" class="admin-td-action atc-view" ng-click="branch_details('view',branchData,$index)">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div ng-class="(showDelete_{{$index}} == true)?'show-error data-row-delete':'data-row-delete'" ng-show="showDelete_{{$index}} == true">
                            <div class="pull-right">
                                <p>Do you want to permanently delete this data?</p>
                                <div class="dr-action">
                                    <a href="javascript:;" class="yes-btn" ng-click="branch_details('delete',branchData,$index)">Yes</a>
                                    <a href="javascript:;" class="no-btn" ng-click="showDelete_{{$index}}=false">No</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="no-data-found noBranch_position" ng-if="branchDetails.length == 0 && noResultfound == false">
            <img src="img/admin-img/no-list.png">
            <h5>No branches available</h5>
        </div>
    <div class="no-data-found noBranch_position" ng-show="branchDetails.length == 0 && noResultfound">
        <img src="img/admin-img/no-list.png">
        <h5>No result found</h5>
    </div>
        <!-- End of div based lsiitng -->
        <div class="data-table-top" ng-show="totalItems > 10 && pageDisplay">
            <div class="data-row-pagination">
                <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="Main.currentPage" ng-change="pageChanged(Main.currentPage)" on-select-page="setPage(page)"></uib-pagination>
            </div>
        </div>
    </div>
    <!-- Branch Lisitng -->
</div>