<div class="c7report" ng-controller="c7AppointmentReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <div class="date-range"> -->
                                <div class="form-group no-mar clearfix">
                                    <label for="range">Filter By Range <em>*</em></label>
                                    <input class="form-control icons-calendar" placeholder="DD-MM-YYYY" ng-model="daterange" type="text" daterangedashboardpicker id="dashdaterange">
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group no-mar">
                                    <label for="range">Select Location</label>
                                    <select class="form-control" ng-model="hospitalID">
                                        <option value="0">All</option>
                                        <option ng-repeat="hospitalData in hospitalDoctorsList" value="{{hospitalData.HospitalInfo.HospitalDetails.HospitalID}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group no-mar">
                                    <label for="range">Select Practice</label>
                                    <select class="form-control" ng-model="practiceId">
                                        <option value="0">All</option>
                                        <option ng-repeat="prac in allpractice" value="{{prac.practiceid}}">{{prac.practicename}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center no-pad">
                        <button class="btn btn-primary mt-20" style="padding: 7px 10px !important;" ng-click="getAppointmentData()">Apply</button>
                        <!-- </div> -->
                        <!-- <div class="col-md-2 text-right pt-20"> -->
                        <figure class="cursor export-excel ng-scope pt-20 ml-10" title="Export to Excel" ng-if="appointmentData.length > 0" ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive" ng-hide="appointmentData.length==0">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th>DW ID</th>
                        <th>Patient Title</th>
                        <th>Patient Forename </th>
                        <th>Patient Surname</th>
                        <th>Patient Postcode</th>
                        <th>NHS Number</th>
                        <th>GP Practice Code</th>
                        <th class="clsMinwidth-150">GP Practice Name</th>
                        <th class="clsMinwidth-100">Date of treatment </th>
                        <th>Sonographer Name </th>
                        <th class="clsMinwidth-100">Referral Received</th>
                        <th>Speciality</th>
                        <th>Sub-Speciality</th>
                        <th class="clsMinwidth-150">Location Name</th>
                        <th>DNA Status</th>
                        <th>CCG</th>
                        <th>Appointment Start Time</th>
                        <th>Appointment Finish Time</th>
                        <th>Duration</th>
                        <!-- <th>Last Cancellation Reason</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in appointmentData">
                        <td>{{data.DWID}}</td>
                        <td>{{data.Title}}</td>
                        <td>{{data.PatientForename}}</td>
                        <td>{{data.PatientSurname}}</td>
                        <td>{{data.PatientPostcode}}</td>
                        <td>{{data.NHSNumber}}</td>
                        <td>{{data.PracticeCode}}</td>
                        <td class="clsMinwidth-150">{{data.PracticeName}}</td>
                        <td class="clsMinwidth-100">{{data.Dateoftreatment | convertdate}}</td>
                        <td>{{data.SonographerName}}</td>
                        <td class="clsMinwidth-100">{{data.ReferralRecevied | convertdate}}</td>
                        <td>{{data.Speciality}}</td>
                        <td>{{data.SubSpeciality}}</td>
                        <td class="clsMinwidth-150">{{data.ScanCentrename}}</td>
                        <td>{{data.DNAStatus}}</td>
                        <td>{{data.CCGName}}</td>
                        <td>{{data.AppointmentStartTime}}</td>
                        <td>{{data.AppointmentEndime}}</td>
                        <td>{{data.Duration}}</td>
                        <!-- <td>{{data.LastCancellationReason}}</td> -->
                    </tr>
                </tbody>
                <tbody ng-show="appointmentData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--         
        <div ng-show="appointmentData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>