﻿<div ng-controller="regionController">
    <div class="app-row">
        <div class="app-header care-team-header">
            <div class="row">
                <div class="col-lg-5 col-md-11" style="height: 35px;">
                    <div class="form-group">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control searchbar" placeholder="Search Region" ng-model="searchRegion" ng-change="updateFilter()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-7 col-md-1">
                    <a class="btn btn-primary  pull-right" tooltip="Add" data-toggle="modal" data-target="#AddEditRegion" ng-click="declareRegionVariables()">Add New Region</a>
                </div>
            </div>
        </div>
    </div>
    <div class="myc-add-pharmacy">
        <div class="summary-reports norecords text-center" ng-show="allRegion.length == 0">
            <img src="img/no-data/no phar - care.png">
            <p class="goback-text">You haven't added any Region yet</p>
            <p>
                Start adding Region to your network by searching our database
                <br> or add a new Region by yourself.
            </p>
        </div>
        <div class="" ng-hide="allRegion.length == 0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table color-theme-one tbody">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Region Name</th>
                                        <th>Contact Person</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>Post Code</th>
                                        <th>SLA Expiry Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="region in allRegion |orderBy : '!active' as regionCollection">
                                    <tr ng-click="toggleSubRegion($index)" class="toggle" ng-class="{'open': showregionccg == {{$index}}, 'disable': region.active == false}">
                                        <td>
                                            <span>
                                                <img class="plus" src="images/expand.png" alt="">
                                                <img class="minus" src="images/collapse.png" alt="">
                                            </span>
                                        </td>
                                        <td>{{region.regionname}}</td>
                                        <td>{{region.contactperson}}</td>
                                        <td>{{region.contactnumber}}</td>
                                        <td>{{region.email}}</td>
                                        <td>{{region.postcode}}</td>
                                        <td>{{region.slaDate | convertdate}}</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" ng-click=" toggleModal('#AddEditRegion'); getRegionToEdit(region.regionid); $event.stopPropagation()">
                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit Region" data-toggle="tooltip"></i>
                                            </a>
                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="region.active" ng-click="toggleModal('#deleteRegionPopupWindow'); deleteRegion(region.regionid, region.active); $event.stopPropagation()">
                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                    <i class="fa fa-check"> </i>
                                                </div>
                                            </a>
                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="region.active" ng-click="toggleModal('#deleteRegionPopupWindow'); deleteRegion(region.regionid, region.active); $event.stopPropagation()">
                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                    <i class="fa fa-times"> </i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="inner" ng-show="showregionccg == $index">
                                        <td></td>
                                        <td colspan="14">
                                            <table class="table color-theme-two mb-10">
                                                <thead>
                                                    <tr>
                                                        <th>CCG</th>
                                                        <th>Contact Person</th>
                                                        <th>Contact Number</th>
                                                        <th>Email</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ccg in region.ccgsdetail |orderBy : '!active'" ng-class="{'disable': ccg.active == false}">
                                                        <td>{{ccg.ccgname}}</td>
                                                        <td>{{ccg.contactperson}}</td>
                                                        <td>{{ccg.contactnumber}}</td>
                                                        <td>{{ccg.email}}</td>
                                                        <td class="min-wids">
                                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditCCG'); getccgToEdit(ccg.ccgid)">
                                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                                            </a>
                                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow'); getccgDelete(ccg.ccgid, ccg.active); $event.stopPropagation()">
                                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                                    <i class="fa fa-check"> </i>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="ccg.active" ng-click="toggleModal('#deleteCCGPopupWindow'); getccgDelete(ccg.ccgid, ccg.active); $event.stopPropagation()">
                                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                                    <i class="fa fa-times"> </i>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="region.ccgsdetail.length == 0">
                                                        <td colspan="10" class="text-center bold">No Record Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="regionCollection.length == 0 && allRegion.length != 0" class="text-center bold">
                            No Search Result Found
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="pageNumber" class="text-center mt-10">
                <button class="btn load-more" ng-click="loadmoreregion()">Load More ...</button>
            </div>
        </div>
    </div>
    <!-- Region -->
    <div class="modal-common modal big fade" id="AddEditRegion" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title" ng-hide="regionedit">Add New Region</h4>
                <h4 class="modal-title" ng-show="regionedit">Edit Region</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="addRegionnew" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(regionerrormessage == true && addupdateregion.regionname == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Region Name
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="regionname" ng-model="addupdateregion.regionname" class="form-control" placeholder="Region Name">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(regionerrormessage == true && addupdateregion.contactperson == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Contact Person <em>*</em></label>
                                    <input type="text" name="contactperson" ng-model="addupdateregion.contactperson" class="form-control" placeholder="Contact Person">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(regionerrormessage == true && addupdateregion.contactnumber == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Contact Number <em>*</em></label>
                                    <input type="text" numbers-only name="contactnumber" ng-model="addupdateregion.contactnumber" class="form-control" placeholder="Contact Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(regionerrormessage == true && addupdateregion.email == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Email <em>*</em></label>
                                    <input type="text" name="email" ng-model="addupdateregion.email" class="form-control" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" placeholder="Email">
                                    <div ng-show="addRegionnew.email.$touched" class="error">
                                        <span ng-show="addRegionnew.email.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Postcode</label>
                                    <input type="text" name="postcode" ng-model="addupdateregion.postcode" class="form-control" placeholder="Postcode">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="new-sla">
                                <div class="sla-head">
                                    <h3>Create SLA</h3>
                                    <span class="pull-right">
                                        <!-- <button ng-show="regionedit" class="btn btn-filled" ng-click="newSla()">New SLA</button> -->
                                        <!-- <input class="form-control icons-calendar" ng-class="(regionerrormessage == true && slaDate == '')? 'required': ''" daterangereferralpicker ng-model="slaDate" placeholder="Valid From"> -->
                                        <input class="form-control icons-calendar" ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.slavalidfrom == '')? 'required': ''" referraldatepicker ng-min="{{moment().format('DD-MM-YYYY')}}" ng-model="addupdateregion.SlaRecord.slavalidfrom" placeholder="Valid From">
                                        <input class="form-control icons-calendar" ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.slavalidto == '')? 'required': ''" referraldatepicker ng-min="{{addupdateregion.SlaRecord.slavalidfrom}}" ng-model="addupdateregion.SlaRecord.slavalidto" placeholder="Valid To">
                                    </span>
                                </div>
                                <div class="table-responsive">
                                    <table class="table color-theme-one">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Routine</th>
                                                <th>Urgent</th>
                                                <th>DVT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Referral to triage
                                                    <em>*</em>
                                                    <span class="hint">(in days)</span>
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.routinereftriage == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="routinereftriage" ng-model="addupdateregion.SlaRecord.routinereftriage">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.urgentreftriage == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="urgentreftriage" ng-model="addupdateregion.SlaRecord.urgentreftriage">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.dvtreftriage == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="dvtreftriage" ng-model="addupdateregion.SlaRecord.dvtreftriage">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Referral to date booked
                                                    <em>*</em>
                                                    <span class="hint">(in days)</span>
                                                </td>
                                                <td></td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.urgentrefdatebook == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.urgentrefdatebook">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.dvtrefdatebook == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.dvtrefdatebook">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Referral to scan date
                                                    <em>*</em>
                                                    <span class="hint">(in days)</span>
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.routinerefscan == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.routinerefscan">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.urgentrefscan == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.urgentrefscan">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.dvtrefscan == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.dvtrefscan">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Scan to report sent back
                                                    <em>*</em>
                                                    <span class="hint">(in days)</span>
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.routineappsendback == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.routineappsendback">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.urgentscanrepsendback == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.urgentscanrepsendback">
                                                </td>
                                                <td ng-class="(regionerrormessage == true && addupdateregion.SlaRecord.dvtscanrepsendback == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="" ng-model="addupdateregion.SlaRecord.dvtscanrepsendback">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <a class="btn btn-filled mr-10" data-dismiss="modal">Cancel</a>
                            <a class="btn btn-primary mw-100" ng-show="!regionedit" ng-click="addRegion()">Create</a>
                            <a class="btn btn-primary mw-100" ng-show="regionedit" ng-click="updateRegion()">Update</a>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
                <div class="expired-sla" ng-show="regionedit">
                    <div class="sla-head">
                        <h3>Current SLA</h3>
                    </div>
                    <div class="table-responsive" ng-if="currentsla.length != 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="3" class="color-blue">Routine</th>
                                    <th colspan="4" class="color-red">Urgent</th>
                                    <th colspan="4" class="color-dvt">DVT</th>
                                </tr>
                                <tr>
                                    <th class="min">From Date</th>
                                    <th class="min">To Date</th>
                                    <th class="color-blue">Referral to triage</th>
                                    <th class="color-blue">Referral to scan date</th>
                                    <th class="color-blue">Appointment to report sent back</th>
                                    <th class="color-red">Referral to triage</th>
                                    <th class="color-red">Referral to date booked</th>
                                    <th class="color-red">Referral to scan date</th>
                                    <th class="color-red">Scan to report sent back</th>
                                    <th class="color-dvt">Referral to triage</th>
                                    <th class="color-dvt">Referral to date booked</th>
                                    <th class="color-dvt">Referral to scan date</th>
                                    <th class="color-dvt">Scan to report sent back</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sla in currentsla">
                                    <td>{{sla.slavalidfrom | convertdate}}</td>
                                    <td>{{sla.slavalidto | convertdate}}</td>
                                    <td>{{sla.routinereftriage}}</td>
                                    <td>{{sla.routinerefscan}}</td>
                                    <td>{{sla.routineappsendback}}</td>
                                    <td>{{sla.urgentreftriage}}</td>
                                    <td>{{sla.urgentrefdatebook}}</td>
                                    <td>{{sla.urgentrefscan}}</td>
                                    <td>{{sla.urgentscanrepsendback}}</td>
                                    <td>{{sla.dvtreftriage}}</td>
                                    <td>{{sla.dvtrefdatebook}}</td>
                                    <td>{{sla.dvtrefscan}}</td>
                                    <td>{{sla.dvtscanrepsendback}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div ng-if="currentsla.length == 0" class="text-center">
                        No Records Found
                    </div>
                </div>
                <div class="expired-sla" ng-show="regionedit">
                    <div class="sla-head">
                        <h3>Expired SLA</h3>
                    </div>
                    <div class="table-responsive" ng-if="expiredsla.length != 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="3" class="color-blue">Routine</th>
                                    <th colspan="4" class="color-red">Urgent</th>
                                    <th colspan="4" class="color-dvt">DVT</th>
                                </tr>
                                <tr>
                                    <th class="min">From Date</th>
                                    <th class="min">To Date</th>
                                    <th class="color-blue">Referral to triage</th>
                                    <th class="color-blue">Referral to scan date</th>
                                    <th class="color-blue">Appointment to report sent back</th>
                                    <th class="color-red">Referral to triage</th>
                                    <th class="color-red">Referral to date booked</th>
                                    <th class="color-red">Referral to scan date</th>
                                    <th class="color-red">Scan to report sent back</th>
                                    <th class="color-dvt">Referral to triage</th>
                                    <th class="color-dvt">Referral to date booked</th>
                                    <th class="color-dvt">Referral to scan date</th>
                                    <th class="color-dvt">Scan to report sent back</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sla in expiredsla">
                                    <td>{{sla.slavalidfrom | convertdate}}</td>
                                    <td>{{sla.slavalidto | convertdate}}</td>
                                    <td>{{sla.routinereftriage}}</td>
                                    <td>{{sla.routinerefscan}}</td>
                                    <td>{{sla.routineappsendback}}</td>
                                    <td>{{sla.urgentreftriage}}</td>
                                    <td>{{sla.urgentrefdatebook}}</td>
                                    <td>{{sla.urgentrefscan}}</td>
                                    <td>{{sla.urgentscanrepsendback}}</td>
                                    <td>{{sla.dvtreftriage}}</td>
                                    <td>{{sla.dvtrefdatebook}}</td>
                                    <td>{{sla.dvtrefscan}}</td>
                                    <td>{{sla.dvtscanrepsendback}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div ng-if="expiredsla.length == 0" class="text-center">
                        No Records Found
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deleteRegionPopupWindow" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="activeregion" class="referral-suc-msg">Are you sure do you wish to activate this Region ?</p>
            <p ng-show="activeregion" class="referral-suc-msg">Are you sure do you wish to inactivate this Region ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button class="btn btn-primary" ng-click="deletepopupRegion()">Yes</button>
            </div>
        </div>
    </div>
    <!-- CCG -->
    <div class="modal-common new modal fade" id="AddEditCCG" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog addeditccg">
            <div class="model-popup-header">
                <h4 class="modal-title" ng-hide="ccgedit">Add New CCG</h4>
                <h4 class="modal-title" ng-show="ccgedit">Edit CCG</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="addccgnew1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.regionid == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Select Region <em>*</em></label>
                                    <select name="" id="" class="form-control" ng-model="addupdateccg.regionid">
                                        <option value="">Select Region</option>
                                        <option ng-repeat="region in allRegion |orderBy : 'regionname' |orderBy : '!active'" value="{{region.regionid}}">{{region.regionname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.ccgname == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">CCG Name <em>*</em></label>
                                    <input type="text" name="ccgname" class="form-control" ng-model="addupdateccg.ccgname">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.ccgreference == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Reference <em>*</em></label>
                                    <input type="text" name="ccgreference" class="form-control" ng-model="addupdateccg.ccgreference">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactperson == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact Person <em>*</em></label>
                                    <input type="text" name="primarycontactperson" class="form-control" ng-model="addupdateccg.primarycontactperson">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactno == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact No <em>*</em></label>
                                    <input type="text" numbers-only name="primarycontactno" class="form-control" ng-model="addupdateccg.primarycontactno">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.primarycontactemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Primary Contact Email <em>*</em></label>
                                    <input type="text" name="primarycontactemail" class="form-control" ng-model="addupdateccg.primarycontactemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="addccgnew1.primarycontactemail.$touched" class="error">
                                        <span ng-show="addccgnew1.primarycontactemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Offices Served</label>
                                    <input type="text" name="officesserved" class="form-control" ng-model="addupdateccg.officesserved">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Employees on System</label>
                                    <input type="text" name="emponsystem" class="form-control" ng-model="addupdateccg.emponsystem">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Local Contact</label>
                                    <input type="text" numbers-only name="localcontact" class="form-control" ng-model="addupdateccg.localcontact">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Assistant</label>
                                    <input type="text" name="assistant" class="form-control" ng-model="addupdateccg.assistant">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Invoicing</label>
                                    <input type="text" name="invoice" class="form-control" ng-model="addupdateccg.invoice">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Contract Renewal Reminder</label>
                                    <input type="text" name="contractrenewalremain" class="form-control icons-calendar" referraldatepicker ng-model="addupdateccg.contractrenewalremain">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Payment Terms</label>
                                    <input type="text" name="paymentterms" class="form-control" ng-model="addupdateccg.paymentterms">
                                </div>
                            </div>
                        </div>
                        <h3>Create Contract Details</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.contractstartdate == '')? 'required': ''">
                                    <label>Contract Start Date <em>*</em></label>
                                    <div class="input-group-btn">
                                        <input type="text" ng-model="addupdateccg.Contractdetails.contractstartdate" ng-change="dateValidationContract(addupdateccg.Contractdetails.contractstartdate, addupdateccg.Contractdetails.contractenddate)" name="Name" class="form-control icons-calendar"
                                            referraldatepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.contractenddate == '')? 'required': ''">
                                    <label>Contract End Date <em>*</em></label>
                                    <div class="input-group-btn">
                                        <input type="text" ng-model="addupdateccg.Contractdetails.contractenddate" ng-change="dateValidationContract(addupdateccg.Contractdetails.contractstartdate, addupdateccg.Contractdetails.contractenddate)" name="Name" class="form-control icons-calendar"
                                            referraldatepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="(ccgerrormessage == true && addupdateccg.Contractdetails.minimunageforref == null)? 'required': ''">
                                    <label>Minimum age for Referral <em>*</em></label>
                                    <input type="number" ng-model="addupdateccg.Contractdetails.minimunageforref" class="form-control" id="usr">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="new-sla table-responsive">
                                    <table class="table color-theme-one pull-left">
                                        <thead>
                                            <tr>
                                                <th>Speciality <em>*</em></th>
                                                <th>
                                                    < 20 <em>*</em>
                                                </th>
                                                <th>> 20 <em>*</em></th>
                                                <th>Fixed Fee <em>*</em></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in addupdateccg.Contractdetails.Contractspeciality track by $index" ng-show="data.active">
                                                <td ng-class="(ccgerrormessage == true && data.Speciality == '')? 'required': ''">
                                                    <select class="form-control" ng-model="data.Speciality">
                                                        <option ng-repeat="spec in specialityCollection" value="{{spec.specialityID}}">{{spec.specialitydesc}}</option>
                                                    </select>
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.lessthanminutes == null && data.fixedfee == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="lessthanminutes" ng-model="data.lessthanminutes">
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.greaterthanminutes == null && data.fixedfee == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="greaterthanminutes" ng-model="data.greaterthanminutes">
                                                </td>
                                                <td ng-class="(ccgerrormessage == true && data.fixedfee == null && data.lessthanminutes == null && data.greaterthanminutes == null)? 'required': ''">
                                                    <input type="number" class="form-control" name="tariffinfodvt" ng-model="data.fixedfee">
                                                </td>
                                                <td><i ng-show="$last" class="fa fa-plus cursor" aria-hidden="true" data-toggle="tooltip" title="Add More Speciality" ng-click="addSpeciality()"></i>
                                                    <i ng-hide="$last" class="fa fa-trash cursor" aria-hidden="true" data-toggle="tooltip" title="Remove Speciality" ng-click="deleteSpeciality($index, data.contactspecialityid); data.active = false;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <button class="btn btn-filled mr-10" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" ng-show="!ccgedit" ng-click="addccg()" class="btn btn-primary mw-100">Create</button>
                            <button type="button" ng-show="ccgedit" ng-click="updateccg()" class="btn btn-primary mw-100">Update</button>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
                <div class="current-contract" ng-show="ccgedit">
                    <h3>
                        Current Contract

                    </h3>
                    <div class="table-responsive" ng-show="currentcontract.length !=0">
                        <table class="table table-striped no-mar color-theme-one">
                            <thead>
                                <tr>
                                    <th>Contract Start Date</th>
                                    <th>Contract End Date</th>
                                    <th>Minimum age for Referral</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{currentcontract.contractstartdate}}</td>
                                    <td>{{currentcontract.contractenddate}}</td>
                                    <td>{{currentcontract.minimunageforref}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" ng-show="currentcontract.length !=0">
                        <table class="table table-striped no-mar color-theme-one">
                            <thead>
                                <tr>
                                    <th>Speciality</th>
                                    <th>
                                        < 20</th>
                                            <th>> 20</th>
                                            <th>Fixed Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="value in currentcontract.Contractspeciality track by $index" ng-show="value.active">
                                    <td>{{value.SpecialityName}}</td>
                                    <td>{{value.lessthanminutes}}</td>
                                    <td>{{value.greaterthanminutes}}</td>
                                    <td>{{value.fixedfee}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div ng-show="currentcontract.length ==0">
                        No Records Found
                    </div>
                </div>
                <div class="current-contract" ng-show="ccgedit">
                    <h3>Expired Contract </h3>
                    <div class="contract-group" ng-repeat="exp in expiredcontract" ng-hide="expiredcontract.length == 0">
                        <div class="table-responsive">
                            <table class="table table-striped no-mar color-theme-one">
                                <thead>
                                    <tr>
                                        <th>Contract Start Date</th>
                                        <th>Contract End Date</th>
                                        <th>Minimum age for Referral</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{exp.contractstartdate | convertdate}}</td>
                                        <td>{{exp.contractenddate | convertdate}}</td>
                                        <td>{{exp.minimunageforref}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped no-mar color-theme-one">
                                <thead>
                                    <tr>
                                        <th>Speciality</th>
                                        <th>
                                            < 20</th>
                                                <th>> 20</th>
                                                <th>Fixed Fee</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="exp in expiredcontract">
                                    <tr ng-repeat="expctr in exp.Contractspeciality">
                                        <td>{{expctr.SpecialityName}}</td>
                                        <td>{{expctr.lessthanminutes}}</td>
                                        <td>{{expctr.greaterthanminutes}}</td>
                                        <td>{{expctr.fixedfee}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="expiredcontract.length ==0">
                        No Records Found
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deleteCCGPopupWindow" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="ccgActive" class="referral-suc-msg">Are you sure do you wish to activate this CCG ?</p>
            <p ng-show="ccgActive" class="referral-suc-msg">Are you sure do you wish to inactivate this CCG ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button ng-click="ccgpopupDelete()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>