﻿<div ng-controller="parcticelistController">
    <div class="app-row">
        <div class="app-header care-team-header">
            <div class="row">
                <div class="col-lg-5 col-md-11" style="height: 35px;">
                    <div class="form-group">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control searchbar" placeholder="Search Practice" ng-model="searchPractice" ng-change="updateFilter()">
                        </div>
                    </div>
                </div>     
                <div class="col-sm-1 col-lg-5 col-md-1">
                    <figure class="cursor export-excel pull-right" title="Export to Excel" ng-if="allpractice.length > 0" ng-click="exportToExcel()"><img src="images/export-excel.png" alt=""></figure>
                </div>           
                <div class="col-sm-1 col-lg-2 col-md-1">
                    <a class="btn btn-primary pull-right" tooltip="Add" data-toggle="modal" data-target="#AddEditPractice1" ng-click="declarepracticeVariables()">Add New Practice</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="summary-reports norecords text-center" ng-show='allpractice.length == 0'>
            <img src="img/no-data/no doctor - care.png">
            <p>You haven't added any Practice yet</p>
            <p>
                Start adding Practices to your network by searching our database
                <br> or add a new Practice by yourself.
            </p>
        </div>
        <div class="" ng-hide='allpractice.length == 0'>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table color-theme-one tbody">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>CCG Name</th>
                                        <th>Postcode</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="practice in allpractice |orderBy : '!active' as practiceCollection">
                                    <tr ng-click="toggleSubpractice($index)" class="toggle" ng-class="{'open': showpracticedoctor == {{$index}}, 'disable': practice.active == false || practice.active == null}">
                                        <td>
                                            <span>
                                                <img class="plus" src="images/expand.png" alt="">
                                                <img class="minus" src="images/collapse.png" alt="">
                                            </span>
                                        </td>
                                        <td>{{practice.practicename}}</td>
                                        <td>{{practice.practicecode}}</td>
                                        <td>{{practice.ccgname}}</td>
                                        <td>{{practice.postcode}}</td>
                                        <td>{{practice.contactnumber}}</td>
                                        <td>{{practice.email}}</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditPractice1'); getpracticeToEdit(practice.practiceid); $event.stopPropagation()">
                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                            </a>
                                            <!-- <a href="javascript:void(0);" ng-show="practice.active" ng-click="toggleModal('#deletePracticePopupWindow1'); deletepractice(practice.practiceid, practice.active)">
                                                <i class="fa fa-ban" aria-hidden="true" title="Deactivate" data-toggle="tooltip"></i>                 
                                            </a> -->

                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="practice.active" ng-click="toggleModal('#deletePracticePopupWindow1'); deletepractice(practice.practiceid, practice.active); $event.stopPropagation()">
                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                    <i class="fa fa-check"> </i>
                                                </div>
                                            </a>

                                            <!--  <a href="javascript:void(0);" ng-hide="practice.active" ng-click="toggleModal('#deletePracticePopupWindow1'); deletepractice(practice.practiceid, practice.active)">
                                                <i class="fa fa-check" aria-hidden="true" title="Activate" data-toggle="tooltip"></i>
                                            </a> -->

                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="practice.active" ng-click="toggleModal('#deletePracticePopupWindow1'); deletepractice(practice.practiceid, practice.active); $event.stopPropagation()">
                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                    <i class="fa fa-times"> </i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="inner" ng-show="showpracticedoctor == $index">
                                        <td></td>
                                        <td colspan="5">
                                            <table class="table color-theme-two mb-10">
                                                <thead>
                                                    <tr>
                                                        <th>Doctor Name</th>
                                                        <th>GP Code</th>
                                                        <th>Contact Number</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-show="doctor.active" ng-repeat="doctor in practice.doctordetailval |orderBy : '!active'" ng-class="{'disable': doctor.active == false || doctor.active == null}">
                                                        <td ng-bind="doctor.doctorname"></td>
                                                        <td ng-bind="doctor.gpcode"></td>
                                                        <td ng-bind="doctor.phone"></td>
                                                        <td class="min-wids">
                                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditDoctor'); editdoctor(doctor.doctorid)">
                                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                                            </a>
                                                            <!-- <a href="javascript:void(0);" ng-show="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow'); deletedoctor(doctor, doctor.active)">
                                                                <i class="fa fa-ban" aria-hidden="true" title="Deactivate" data-toggle="tooltip"></i>
                                                            </a> -->

                                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow'); deletedoctor(doctor, doctor.active); $event.stopPropagation()">
                                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                                    <i class="fa fa-check"> </i>
                                                                </div>
                                                            </a>

                                                            <!-- <a href="javascript:void(0);" ng-hide="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow'); deletedoctor(doctor, doctor.active)">
                                                                <i class="fa fa-check" aria-hidden="true" title="Activate" data-toggle="tooltip"></i>
                                                            </a> -->

                                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow'); deletedoctor(doctor, doctor.active); $event.stopPropagation()">
                                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                                    <i class="fa fa-times"> </i>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="practice.doctordetailval.length == 0">
                                                        <td colspan="10" class="text-center bold">No Record Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="practiceCollection.length == 0 && allpractice.length != 0" class="text-center bold">
                            No Search Result Found
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="pageNumberPractice" class="text-center mt-10">
                <button class="btn load-more" ng-click="loadmorePractice()">Load More ...</button>
            </div>
        </div>
    </div>
    <div class="modal-common new modal fade" id="AddEditPractice1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title">Add New Practice</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="loginform1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.ccgid == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Select CCG <em>*</em></label>
                                    <select name="" id="" class="form-control" ng-model="addupdatepractice.ccgid">
                                        <option value="">Select ccg</option>
                                        <option ng-repeat="ccg in allccg | filter:{active:true} |orderBy : '!active'" value="{{ccg.ccgid}}">{{ccg.ccgname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.practicename == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Practice Name
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="Name" class="form-control" placeholder="Enter Name" ng-model="addupdatepractice.practicename">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.practicecode == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Practice Code <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" placeholder="Enter Code" ng-model="addupdatepractice.practicecode">
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Practice Type</label>
                                    <select name="" id="" class="form-control">
                                        <option value="GP">GP</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="addrpractice" ng-class="(particeerrormessage == true && addupdatepractice.postcode == '')? 'required': ''">
                                    <label class="control-label" style="width: 100%;">Postcode <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" style="width:calc(100% - 120px);display: inline-block;" placeholder="Enter Postcode" ng-model="addupdatepractice.postcode">
                                    <button class="btn btn-filled" ng-click="getloockup()" data-target="#addrpractice" data-toggle="dropdown">Look Up</button>
                                    <ul class="dropdown-menu addressselect">
                                        <li ng-repeat="address in addressCollection" ng-click="selectpostcode(address)">
                                            {{address}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Address</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Address Line 1" ng-model="addupdatepractice.addressdetl.address1">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 2" ng-model="addupdatepractice.addressdetl.address2">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 3" ng-model="addupdatepractice.addressdetl.address3">
                                    <input type="text" name="Code" class="form-control" style="margin-top: 13px;" placeholder="Address Line 4" ng-model="addupdatepractice.addressdetl.address4">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Town</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Town" ng-model="addupdatepractice.citytown">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">County</label>
                                    <input type="text" name="Code" class="form-control" placeholder="County" ng-model="addupdatepractice.county">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Country</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Country" ng-model="addupdatepractice.country">
                                    <!-- <select name="" id="" class="form-control" ng-model="addupdatepractice.country">
                                        <option value="United kingdom">United kingdom</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Description</label>
                                    <textarea name="" id="" cols="30" rows="8" ng-model="addupdatepractice.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Fax No</label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Fax No" ng-model="addupdatepractice.faxno">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.phonedetail.telephoneday1 == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Telephone Day 1 <em>*</em></label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Enter Telephone Number" ng-model="addupdatepractice.phonedetail.telephoneday1">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Telephone Day 2</label>
                                    <input type="text" numbers-only name="Code" class="form-control" placeholder="Enter Telephone Number" ng-model="addupdatepractice.phonedetail.telephoneday2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.practiceemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Practice Manager Email <em>*</em></label>
                                    <input type="text" name="practicmangeremail" class="form-control" placeholder="Enter Practice Manager Email" ng-model="addupdatepractice.emaildetl.practiceemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="loginform1.practicmangeremail.$touched" class="error">
                                        <span ng-show="loginform1.practicmangeremail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.repadminemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Report Admin Email <em>*</em></label>
                                    <input type="text" name="reportadminemail" class="form-control" placeholder="Enter Report Admin Email" ng-model="addupdatepractice.emaildetl.repadminemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="loginform1.reportadminemail.$touched" class="error">
                                        <span ng-show="loginform1.reportadminemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.emaildetl.appadminemail == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">Appointment Admin Email <em>*</em></label>
                                    <input type="text" name="appointmentadminemail" class="form-control" placeholder="Enter Appointment Admin Email" ng-model="addupdatepractice.emaildetl.appadminemail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">

                                    <div ng-show="loginform1.appointmentadminemail.$touched" class="error">
                                        <span ng-show="loginform1.appointmentadminemail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mt-20">
                                    <div class="row">
                                        <div class="col-sm-12 mt-10">
                                            <label class="control control--checkbox">
                                                <span>Practice accepts fax messages</span>
                                                <input type="checkbox" ng-model="addupdatepractice.acceptsfaxmsg">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mt-20">
                                    <div class="row">
                                        <div class="col-sm-12 mt-10">
                                            <label class="control control--checkbox">
                                                <span>Auto-post communication, where possible</span>
                                                <input type="checkbox" ng-model="addupdatepractice.autopostcom">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="(particeerrormessage == true && addupdatepractice.odscode == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">ODS Code <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" placeholder="ODS Code" required ng-model="addupdatepractice.odscode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Practice Population</label>
                                    <input type="text" name="Code" class="form-control" placeholder="Practice Population" ng-model="addupdatepractice.practicepopulation">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">MESH Identifier</label>
                                    <input type="text" name="Code" class="form-control" placeholder="MESH Identifier" ng-model="addupdatepractice.meshidentifier">
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <button class="btn btn-filled mr-10" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary mw-100" ng-show="!practiceedit" ng-click="addpractice()">Create</button>
                            <button class="btn btn-primary mw-100" ng-show="practiceedit" ng-click="updatepractice()">Update</button>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deletePracticePopupWindow1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="parcticeactive" class="referral-suc-msg">Are you sure do you wish to activate this practice ?</p>
            <p ng-show="parcticeactive" class="referral-suc-msg">Are you sure do you wish to inactivate this practice ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button ng-click="deleteparacticePopup()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
    <!-- Doctor -->
    <div class="modal-common new modal fade" id="AddEditDoctor" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title" ng-show="!doctoredit">Add New Doctor</h4>
                <h4 class="modal-title" ng-show="doctoredit">Edit Doctor</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="addDoctor1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.Title == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                            Title
                                            <em>*</em>
                                        </label>
                                    <input type="text" name="Name" ng-model="addupdatedoctor.doctorDetails.Title" class="form-control" required placeholder="Title">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.FirstName == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                            Forename
                                            <em>*</em>
                                        </label>
                                    <input type="text" name="Name" class="form-control" ng-model="addupdatedoctor.doctorDetails.FirstName" required placeholder="Forename">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.LastName == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                            Surname
                                            <em>*</em>
                                        </label>
                                    <input type="text" name="Name" ng-model="addupdatedoctor.doctorDetails.LastName" class="form-control" required placeholder="Surname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Sex <em>*</em></label>
                                    <select class="form-control" ng-model="addupdatedoctor.doctorDetails.Gender">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Date of Birth</label>
                                    <input type="text" name="Name" class="form-control icons-calendar" datepickeraddpatient ng-model="addupdatedoctor.doctorDetails.DOB" required readonly placeholder="Date of Birth">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Search External Practice (s)</label>

                                    <ui-select ng-model="allpractice.selected" reset-search-input="true" theme="bootstrap" append-to-body="false" required="" ng-change="externalpractices()">
                                        <ui-select-match placeholder="Search External Practices">
                                            <span ng-bind="$select.selected.practicename"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="" group-filter="" repeat="data in allpractice | filter: $select.search">
                                            <small>
                                                <span><strong>Practice:</strong> {{data.practicename}}</span> <br>
                                                <span><strong>CCG:</strong> {{data.ccgname}}</span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && newcount.length == 0)? 'required': ''">
                                    <label for="recipient-name" class="control-label">External Practice(s) <em>*</em></label>
                                    <div class="table-responsive">
                                        <table class="table color-theme-two">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Postcode</th>
                                                    <th>CCG</th>
                                                    <th>Telephone</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="paractice in activePractices | filter:{isActive : true} as newcount">
                                                    <td>{{paractice.practicecode}}</td>
                                                    <td>{{paractice.practicename}}</td>
                                                    <td>{{paractice.postcode}}</td>
                                                    <td>{{paractice.ccgname}}</td>
                                                    <td>{{paractice.contactnumber}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" ng-click="paractice.isActive = false">
                                                            <i class="fa fa-trash-o" aria-hidden="true" title="Manage"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Daytime Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[0].PhNumber" placeholder="Daytime Tel">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Evening Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[1].PhNumber" placeholder="Evening Tel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Mobile Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[2].PhNumber" placeholder="Mobile Tel">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Fax No</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.faxno" placeholder="Fax No">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Email</label>
                                    <input type="text" name="DoctorEmail" class="form-control" ng-model="addupdatedoctor.DoctorEmail[0].EmailID" placeholder="Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="addDoctor1.DoctorEmail.$touched" class="error">
                                        <span ng-show="addDoctor1.DoctorEmail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorOtherDetails.gpcode == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">GP Code <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.gpcode" placeholder="GP Code">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorOtherDetails.typevalue == '')? 'required': ''">
                                        <label for="recipient-name" class="control-label" >Type <em>*</em></label>
                                        <select name="" id="" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.typevalue">
                                            <option value="">Select</option>
                                            <option value="GP">GP</option>
                                            <option value="Anaesthetist">Anaesthetist</option>
                                            <option value="Optician">Optician</option>
                                        </select>
                                    </div>
                                </div> -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Notes</label>
                                    <textarea name="" id="" cols="30" rows="5" ng-model="addupdatedoctor.doctorOtherDetails.notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <button class="btn btn-filled mr-10" data-dismiss="modal">
                                    Cancel
                                </button>
                            <button ng-show="!doctoredit" type="button" class="btn btn-primary mw-100" ng-click="adddoctor()">
                                    Add
                                </button>
                            <button ng-show="doctoredit" type="button" class="btn btn-primary mw-100" ng-click="updatedoctor()">
                                    Update
                                </button>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deleteDoctorPopupWindow" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="activedoctor" class="referral-suc-msg">Are you sure do you wish to activate this doctor ?</p>
            <p ng-show="activedoctor" class="referral-suc-msg">Are you sure do you wish to inactivate this doctor ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button ng-hide="activedoctor" ng-click="deleteDoctorpopupclick(true)" class="btn btn-primary" id="AddNewPaintent">Yes</button>
                <button ng-show="activedoctor" ng-click="deleteDoctorpopupclick(false)" class="btn btn-primary" id="AddNewPaintent">Yes</button>
            </div>
        </div>
    </div>
</div>