<div class="cal-day-panel-hour">
 {{vm.hours}}
  <div class="cal-day-hour" ng-repeat="hour in vm.hours track by $index">

    <div
      class="row-fluid cal-day-hour-part"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.toDate()})">
      <div class="span1 col-xs-1"><strong ng-bind="hour.label"></strong></div>
      <div class="span11 col-xs-11">TEST</div>
    </div>

    <div
      class="row-fluid cal-day-hour-part"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.clone().add(vm.dayViewSplit, 'minutes').toDate()})">
      <div class="span1 col-xs-1"></div>
		<div class="span11 col-xs-11">TEST1</div>
    </div>

    <div
      class="row-fluid cal-day-hour-part"
      ng-show="vm.dayViewSplit < 30"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.clone().add(vm.dayViewSplit * 2, 'minutes').toDate()})">
      <div class="span1 col-xs-1"></div>
		<div class="span11 col-xs-11">TEST2</div>
    </div>

    <div
      class="row-fluid cal-day-hour-part"
      ng-show="vm.dayViewSplit < 30"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.clone().add(vm.dayViewSplit * 3, 'minutes').toDate()})">
      <div class="span1 col-xs-1"></div>
		<div class="span11 col-xs-11">TEST3</div>
    </div>

    <div
      class="row-fluid cal-day-hour-part"
      ng-show="vm.dayViewSplit < 15"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.clone().add(vm.dayViewSplit * 4, 'minutes').toDate()})">
      <div class="span1 col-xs-1"></div>
		<div class="span11 col-xs-11">TEST4</div>
    </div>

    <div
      class="row-fluid cal-day-hour-part"
      ng-show="vm.dayViewSplit < 15"
      ng-click="vm.onTimespanClick({calendarDate: hour.date.clone().add(vm.dayViewSplit * 5, 'minutes').toDate()})">
      <div class="span1 col-xs-1"></div>
		<div class="span11 col-xs-11">TEST5</div>
    </div>

  </div>

</div>
