<div class="c7report" ng-controller="c7ReferralReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group no-mar clearfix">
                                <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY" ng-model="daterange" type="text" daterangedashboardpicker id="dashdaterange">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label for="range">Select Location</label>
                            <select class="form-control" ng-model="hospitalID">
                                <option value="0">All</option>
                                <option ng-repeat="hospitalData in hospitalDoctorsList" value="{{hospitalData.HospitalInfo.HospitalDetails.HospitalID}}">{{hospitalData.HospitalInfo.HospitalDetails.HospitalName}}</option>
                            </select>         
                        </div>
                    </div> -->

                    <div class="col-md-2 text-center pt-20">
                        <button class="btn btn-primary" ng-click="getReferralData()">Apply</button>
                        <figure class="cursor export-excel ml-10" title="Export to Excel" ng-if="referralData.length > 0" ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive" ng-hide="referralData.length==0">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th>DW ID</th>
                        <th>Region</th>
                        <th>CCG</th>
                        <th>Practice Name</th>
                        <th>Referral Doctor</th>
                        <th>Enquiry Source</th>
                        <th>Referral Created</th>
                        <th>Referral Received</th>
                        <th>Referral Processed</th>
                        <th>Appointment Type</th>
                        <th>Speciality</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in referralData">
                        <td>{{data.DWID}}</td>
                        <td>{{data.RegionName}}</td>
                        <td>{{data.CCGName}}</td>
                        <td>{{data.PracticeName}}</td>
                        <td>{{data.ReferralDoctor}}</td>
                        <td>{{data.EnquirySource}}</td>
                        <td>{{data.ReferralCreated | convertdate}}</td>
                        <td>{{data.ReferralRecevied | convertdate}}</td>
                        <td>{{data.ReferralProcessed | convertdate}}</td>
                        <td>{{data.AppointmentType}}</td>
                        <td>{{ data.specialitydetails | getspecialitycoll }}</td>
                    </tr>
                </tbody>
                <tbody ng-show="referralData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div ng-show="referralData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>