<style type="text/css">
    .appointmentlist .app-pa-name {
        max-width: 190px;
        vertical-align: middle;
    }
</style>
<div class="wrapper appointmentlist" ng-controller="appointmentListController">
    <div class="container-fluid">

        <div class="form-inline" style="position: absolute;top: 70px;z-index: 10000;right: 15px;">
            <div class="form-group no-mar">
                <input type="text" style="min-width:290px;" class="form-control ng-pristine ng-untouched ng-valid"
                    ng-model="searchPatient" placeholder="Search a Patient by Name / Contact Number">
            </div>
            <!-- <div class="form-group no-mar">
                <button class="btn btn-primary" style="padding: 7px 15px !important;" ng-click="Regpatient(true)">ADD REFERRAL</button>
            </div> -->
        </div>
        <div class="app-header">
            <div class="form-inline row">
                <div class="col-sm-12">
                    <div class="sel-hos-box">
                        <label class="apptlbln">Location</label>
                        <select class="form-control" name="docAddress" style="width: 150px !important;"
                            ng-change="changeFilter('scancenter')" ng-model="scancenterColl">
                            <option value="0">All</option>
                            <option ng-repeat="hospital in hospitalCollection"
                                value="{{hospital.HospitalInfo.HospitalDetails.HospitalID}}">
                                {{hospital.HospitalInfo.HospitalDetails.HospitalName}}</option>
                        </select>
                    </div>
                    <div class="app-date" style="padding-left:2%;">
                        <label class="apptlbln">Date</label>
                        <div class="list list-inset docDateTextBox">
                            <input class="form-control icons-calendar" ng-change="changeFilter('date')"
                                ng-model="aptDate" daterangepicker  placeholder="DD-MM-YYYY - DD-MM-YYYY"  readonly
                                style="width:204px  !important;cursor: default; background-color: #fff;">
                        </div>
                    </div>
                    <div class="sel-doc-box">
                        <label class="apptlbln">Sonographer</label>
                        <div class="list list-inset docDateTextBox">
                            <select class="form-control" ng-model="sonoColl" ng-change="changeFilter('sono')">
                                <option value="0">All</option>
                                <option ng-repeat="sono in doctorList" value="{{sono.doctorid}}">{{sono.doctorname}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="sel-hos-box ml-20 pull-right">
                        <label class="apptlbln">Appointment Status</label>
                        <select class="form-control" ng-model="filteraptList">
                            <option value="">All</option>
                            <option value="B">Booked</option>
                            <!-- <option value="C">Cancelled</option> -->
                            <!-- <option value="DNA">DNA</option> -->
                            <option value="SC">Scan Completed</option>
                            <option value="FC">Feedback Completed</option>
                            <option value="VR">Verification Required</option>
                            <!-- <option value="LATECANCELLATION"> Late Cancellation </option> -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <!-- <center><i class="ion-loading-c" style="font-size:25px" ng-show="referredshowloading"></i></center> -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-container appintment_view_pane table-responsive">
                        <table st-table="rowCollection"
                            class="table new-table appointmentTableThBg appointmentlist no-mar color-theme-one color-theme">
                            <thead>
                                <tr>
                                    <!-- <th class="cursor" ng-click="orderByField='SeqNo'; reverseSort = !reverseSort">Time<img src="img/satus.png" alt=""></th> -->
                                    <th>Time</th>
                                    <th>Patient Name</th>
                                    <th>Speciality</th>
                                    <th>Sonographer</th>
                                    <th>CSW</th>
                                    <th>Region</th>
                                    <th>Location</th>
                                    <th>ScheduleDate</th>
                                    <th>Status</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>NoOfArea</th>
                                    <th></th>
                                    <th>Report</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="list in listCollection | filter: {AppointmentStatus:filteraptList} | patientFilterOne:searchPatient">
                                    <td>
                                        <span
                                            ng-show="list.StartTime != '00:00' || list.EndTime != '00:00'">{{list.StartTime}}</span>
                                        <span
                                            ng-show="list.EmergencyStartTime != '00:00' || list.EmergencyEndTime != '00:00'">{{list.EmergencyStartTime}}</span>
                                    </td>
                                    <td>
                                        <!-- <div class="profile-show">
                                            <div class="profile-avatar-image">
                                                <span ng-show="list.title == 'Mr'" class="bg1">{{list.title}}</span>
                                                <span ng-show="list.title == 'Ms'" class="bg2">{{list.title}}</span>
                                                <span ng-show="list.title == 'Miss'" class="bg3">{{list.title}}</span>
                                                <span ng-show="list.title == 'Mrs'" class="bg4">{{list.title}}</span>
                                                <span ng-show="list.title == 'Dr'" class="bg5">{{list.title}}</span>
                                                <span ng-show="list.title == 'Other'" class="bg6">{{list.title}}</span>
                                            </div>
                                            <span class="primary"><a href="javascript:void(0);" ng-click="loadpatientDetails('#viewDetails', list.PatientID)">{{list.PatientName.split('. ')[1]}}</a></span>
                                        </div> -->
                                        <span class="primary"><a href="javascript:void(0);"
                                                ng-click="loadpatientDetails('#viewDetails', list)">{{list.PatientName}}</a></span>
                                    </td>
                                    <td>{{list.speciality.join(', ')}}</td>
                                    <td>{{list.DoctorName}}</td>
                                    <td>{{list.cswname}}</td>
                                    <td>{{list.regionname}}</td>
                                    <td>{{list.HospitalName}}</td>
                                    <td>{{list.ScheduleDate}}</td>  
                                    <td class="m-wid">
                                        <select class="form-control c2" style="float:left;"
                                            ng-model="list.AppointmentStatus" ng-change="setReq($index)">
                                            <option value="B">Booked</option>
                                            <option value="C">Cancelled</option>
                                            <option value="DNA">DNA</option>
                                            <option value="SC">Scan Completed</option>
                                            <option value="FC">Feedback Completed</option>
                                            <option value="VR">Verification Required</option>
                                            <option value="LC"> Late Cancellation </option>
                                        </select>
                                        <a href="javascript:;" data-toggle="modal" data-target="#notes{{$index}}"><i
                                                class="fa fa-file-text-o cursor" aria-hidden="true" title="Add Notes"
                                                data-toggle="tooltip"
                                                style="margin: 6px 0px 0px 10px;float: left;"></i></a>

                                        <div class="modal-common new fade modal" id="notes{{$index}}">
                                            <div class="modal-common-dialog manage">
                                                <span class="close" data-dismiss="modal"
                                                    ng-click="Gnnotes = ''">X</span>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea ng-model="list.Notes" rows="10" class="form-control"
                                                            style="height: auto; width: 100%"></textarea>
                                                        <div class="mt-10">
                                                            <button class="btn btn-primary pull-right"
                                                                data-dismiss="modal">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="mm-wid">
                                        <div class="dropdown timechoose">
                                            <!-- <a class="dropdown-toggle" id="aptdropToggle1" data-toggle="dropdown">
                                            <input type="text" ng-disabled="list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'" class="form-control" data-ng-model="list.Startscantime" maxlength="5" ng-required="list.reqstart" ng-change="updateReq($index)" ng-class="{'required': list.reqstart && list.Startscantime == '00:00'}" placeholder="00:00">
                                          </a>
                                          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="list.Completescantime" data-on-set-time="onTimeSet(newDate, oldDate, 'aptdropToggle1', $index)" data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }" data-before-render="beforeRender($view, $dates, undefined)"></datetimepicker>
                                          </ul> -->
                                            <a class="dropdown-toggle" id="dropToggle1{{$index}}" data-toggle="dropdown"
                                                ng-class="{'pointer-none': list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'}">
                                                <input type="text" class="form-control"
                                                    ng-disabled="list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'"
                                                    data-ng-model="list.Startscantime" ng-required="list.reqstart"
                                                    ng-change="updateReq($index)"
                                                    ng-class="{'required': list.reqstart && list.Startscantime == '00:00'}"
                                                    ui-time-mask>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="list.Startscantime"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle1'+$index, $index)"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm', renderOn: 'end-date-changed' }"
                                                    data-on-set-time="startDateOnSetTime()"
                                                    data-before-render="startDateBeforeRender($view, $dates, list.StartTime, list.EmergencyStartTime); beforeRender($leftDate, $rightDate, $upDate, $view, $dates, list.StartTime, list.EmergencyStartTime)">
                                                </datetimepicker>
                                            </ul>

                                        </div>
                                    </td>
                                    <td class="mm-wid">
                                        <div class="dropdown timechoose">
                                            <!-- <a class="dropdown-toggle" id="aptdropToggle2" data-toggle="dropdown">
                                            <input type="text" ng-disabled="list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'" class="form-control" maxlength="5" data-ng-model="list.Completescantime" ng-required="list.reqend" ng-change="updateReq($index)" ng-class="{'required': list.reqend && list.Completescantime == '00:00'}" placeholder="00:00">
                                          </a>
                                          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="list.Completescantime" data-on-set-time="onTimeSet(newDate, oldDate, 'aptdropToggle2', $index)" data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }" data-before-render="beforeRender($view, $dates, list.Startscantime)"></datetimepicker>
                                          </ul> -->
                                            <a class="dropdown-toggle" id="dropToggle2{{$index}}" data-toggle="dropdown"
                                                ng-class="{'pointer-none': list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'}">
                                                <input type="text" class="form-control"
                                                    ng-disabled="list.AppointmentStatus != 'SC' && list.AppointmentStatus != 'VR'"
                                                    data-ng-model="list.Completescantime" ng-required="list.reqend"
                                                    ng-change="updateReq($index)"
                                                    ng-class="{'required': list.reqend && list.Completescantime == '00:00'}">
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="list.Completescantime"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle2'+$index, $index)"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm', renderOn: 'end-date-changed' }"
                                                    data-on-set-time="startDateOnSetTime()"
                                                    data-before-render="startDateBeforeRender($view, $dates, list.StartTime, list.EmergencyStartTime); beforeRender($leftDate, $rightDate, $upDate, $view, $dates, list.StartTime, list.EmergencyStartTime, true)">
                                                </datetimepicker>
                                            </ul>

                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" ng-model=list.NoOfArea>
                                    </td>
                                    <td><i class="fa fa-floppy-o cursor" aria-hidden="true" title="Save"
                                            data-toggle="tooltip" ng-click="updateAptStatus(list)"></i>
                                    
                                        <div class="modal-common new modal fade custom-modal" id="dropdowncancel" data-backdrop="static"
                                        data-keyboard="false">
                                        <div class="modal-common-dialog app-confirm">
                                            <div class="modal-header">
                                                <span class="close" data-dismiss="modal">X</span>
                                                <h4 class="modal-title">SMS Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Choose SMS to be sent.</h4>
                                                <div class="form-group clearfix">
                                                    <label class="control control--checkbox mt-10">
                                                        <span>Send SMS</span>
                                                        <input type="checkbox" ng-model="emailData.sendsms">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                
                                                </div>
                                                <div class="form-group mt-20 clearfix">
                                                    <div class="col-sm-12 text-right">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                            ng-click="SMSsend(list)">Ok</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                
                                    </td>
                                    <td><i ng-show="list.ReferrenceID != 0" class="fa fa-paperclip ml-10 cursor"
                                            aria-hidden="true" title="Attachment"
                                            ng-click="loadpatientDetails('#reportattach', list)"></i></td>
                                </tr>
                                <tr ng-show="listCollection.length == 0">
                                    <td colspan="20" class="text-center bold">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <div class="modal-common new fade modal" id="notes">
        <div class="modal-common-dialog manage">
            <span class="close" data-dismiss="modal" ng-click="Gnnotes = ''">X</span>
            <div class="row">
                <div class="col-md-12">
                    <textarea ng-model="Gnnotes" cols="30" rows="10" class="form-control" style="height: auto;"></textarea>
                    <div class="mt-10">
                        <button class="btn btn-primary pull-right" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="modal-common new fade modal" id="viewDetails">
        <div class="modal-common-dialog manage">
            <span class="close" data-dismiss="modal" ng-click="attachstatustype = ''">X</span>
            <div class="row">
                <div class="col-sm-7 text-center">
                    <div class="loadingbg" ng-if="aptPatientDetails.EnquiryDetails.enquiryFileStatus == 'SUCCESS'">
                        <embed ng-show="aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                            ng-src="{{aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}"
                            type="application/pdf" width="100%" height="100%">
                        <embed ng-show="aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                            ng-src="{{aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                            type="application/pdf" width="100%" height="100%">
                    </div>
                    <div ng-if="aptPatientDetails.EnquiryDetails.enquiryFileStatus == 'FAILURE'">
                        <p>No Data Found</p>
                    </div>
                    <div ng-if="aptPatientDetails.EnquiryDetails.enquiryFileStatus == 'IN_PROGRESS'">
                        <p>Document/Image is being processed</p>
                    </div>
                </div>
                <!-- <div class="col-sm-7"
                    ng-class="{
                'loadingbg': (aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined || aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined), 
                'loadingbg1': (aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc == undefined && aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc == undefined)}">
                    <embed ng-show="aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                        ng-src="{{aptPatientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}"
                        type="application/pdf" width="100%" height="100%">
                    <embed ng-show="aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                        ng-src="{{aptPatientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                        type="application/pdf" width="100%" height="100%">
                </div> -->
                <div class="col-sm-5">
                    <div class="patient-details">
                        <!-- <a class="edit ripeff" ng-click="editPatient(aptPatientDetails.Patient[0].PatientID)"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Patient</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-primary">{{aptPatientDetails.Patient[0].FullName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Age</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.Patient[0].CurrentAge.year}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>NHS Number</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon appointment-success-light">
                                <p>{{aptPatientDetails.Patient[0].PatientOtherDetails[0].AadhaarID}}</p>
                            </div>
                        </div>
                        <div class="row" ng-show="aptPatientDetails.PatientAddress.length > 0">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Address</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.PatientAddress[0].Address1 +', '+ aptPatientDetails.PatientAddress[0].Address2 +', '+ aptPatientDetails.PatientAddress[0].Address3 +', '+ aptPatientDetails.PatientAddress[0].CityTown +', '+ aptPatientDetails.PatientAddress[0].State +', '+ aptPatientDetails.PatientAddress[0].Country | patientAddress }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Appointment Type</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.EnquiryDetails.appointmenttypeid}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Referrer</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-info">Dr. {{aptPatientDetails.patientReferral.doctorname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Practice</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.patientReferral.practicename}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>CCG Name</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.patientReferral.ccgname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Speciality</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-secondary">{{specialityDisplay.speciality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Sub - Speciality</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{specialityDisplay.subSpeciality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Status</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.EnquiryDetails.enquirystatusid | enquirystatus}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>DayTime</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Description</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[0].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[1].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[2].PhDescription}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Evening</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Description</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[0].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[1].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[2].PhDescription}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Mobile</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Description</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[0].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[1].PhDescription}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[2].PhDescription}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Email</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.PatientEmail[0].EmailID}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>DNAs</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">Yes</p>
                                <p ng-hide="aptPatientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">No</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Clinic Notes</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.EnquiryDetails.clinicalnotes}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-common new fade modal" id="reportattach">
        <div class="modal-common-dialog manage">
            <span class="close" data-dismiss="modal">X</span>
            <div class="row">
                <div
                    ng-class="(aptPatientDetails.diagnosisReportURL == 'Not Availbale' || aptPatientDetails.diagnosisReportURL == ' ')? 'col-sm-7 loadingbg1': 'col-sm-7 loadingbg'">
                    <embed ng-src="{{aptPatientDetails.diagnosisReportURL | trustUrl}}" type="application/pdf"
                        width="100%" height="100%" ng-if="embedPDF">
                </div>
                <div class="col-sm-5">
                    <div class="patient-details">
                        <!-- <a class="edit ripeff" ng-click="Regpatient(true)"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Patient</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-primary">{{aptPatientDetails.Patient[0].FullName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>NHS Number</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon appointment-success-light">
                                <p>{{aptPatientDetails.Patient[0].PatientOtherDetails[0].AadhaarID}}</p>
                            </div>
                        </div>
                        <div class="row" ng-show="aptPatientDetails.PatientAddress.length > 0">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Address</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.PatientAddress[0].Address1 +', '+ aptPatientDetails.PatientAddress[0].Address2 +', '+ aptPatientDetails.PatientAddress[0].Address3 +', '+ aptPatientDetails.PatientAddress[0].CityTown +', '+ aptPatientDetails.PatientAddress[0].State +', '+ aptPatientDetails.PatientAddress[0].Country | patientAddress}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Referrer</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-info">Dr. {{aptPatientDetails.patientReferral.doctorname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Practice</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.patientReferral.practicename}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>CCG Name</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.patientReferral.ccgname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Speciality</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p class="appointment-secondary">{{specialityDisplay.speciality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Sub - Speciality</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{specialityDisplay.subSpeciality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Status</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.EnquiryDetails.enquirystatusid | enquirystatus}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>DayTime</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'D'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Evening</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'E'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Mobile</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.PatientPhone[0].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[0].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[1].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[1].PhNumber}}</p>
                                <p ng-show="aptPatientDetails.PatientPhone[2].PhType == 'M'">
                                    {{aptPatientDetails.PatientPhone[2].PhNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Email</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.PatientEmail[0].EmailID}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>DNAs</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p ng-show="aptPatientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">Yes</p>
                                <p ng-hide="aptPatientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">No</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left pr-30 lable">
                                <p>Clinic Notes</p>
                            </div>
                            <div class="col-sm-8 bold pl-30 collon">
                                <p>{{aptPatientDetails.EnquiryDetails.clinicalnotes}}</p>
                            </div>
                        </div>
                    </div>

                    <form name="publishpopup" class="form-inline">
                        <div class="form-group mt-20">
                            <label class="cus-radio appointment-success-light">Publish
                                <input type="radio" name="status" value="Publish" ng-model="attachstatustype" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group mt-20">
                            <label class="cus-radio appointment-info">Issues
                                <input type="radio" name="status" value="Issue" ng-model="attachstatustype" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group full-width" ng-show="attachstatustype == 'Issue'">
                            <div class="col-md-12 pl-30">
                                <select class="form-control full-width"
                                    ng-model="aptPatientDetails.EnquiryDetails.manageid"
                                    ng-required="attachstatustype == 'Issue'" convertToNumber>
                                    <option value="0">-- Select Issue Reason --</option>
                                    <option ng-repeat="iss in issueCollection" value="{{iss.manageid}}">
                                        {{iss.managedesc}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group full-width" ng-show="attachstatustype == 'Issue'">
                            <div class="col-sm-12 pt-10">
                                <textarea ng-model="aptPatientDetails.EnquiryDetails.issueReason" rows="3"
                                    class="form-control" style="width: 100%"
                                    placeholder="Enter Issue Reason"></textarea>
                            </div>
                        </div>
                        <div class="form-group full-width">
                            <div class="col-md-12 pl-20">
                                <textarea cols="30" rows="5" class="form-control full-width"
                                    ng-model="aptPatientDetails.EnquiryDetails.notes" placeholder="Notes..."
                                    style="height: auto;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 pl-30">
                                <label>
                                    <span class="bold">Status : </span>
                                    <span ng-show="attachstatustype == 'Issue'">Issue</span>
                                    <span ng-show="attachstatustype == 'Publish'">Completed</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group full-width text-right">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-filled-one mr-15"
                                    data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-filled-one" ng-click="updateReport()"
                                    data-dismiss="modal" ng-disabled="!publishpopup.$valid">OK</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>