<!-- Branch Listing -->
<div class="animated listview" ng-controller="listViewController">
    <div class="" ng-show="canledershow">
    <div class="admin-top-header sep-bot">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group clearfix" style="max-width: 300px;margin: 0 auto;">
                    <label for="range">Filter By Date <em>*</em></label>
                    <input type="text" class="form-control icons-calendar" referraldatepicker ng-model="date" placeholder="DD-MM-YYYY" required ng-change="getList()">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row pb-20">
            <div class="col-sm-4 mt-20 mb-20" ng-repeat="list in listCollection">
                <div class="clsApp_list">
                    <div class="bg-gray">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Sono:</label>
                                <h4 class="bold"> {{list.DoctorName}}</h4>
                            </div>
                            <div class="col-sm-6">
                                <label>CSW:</label>
                                <h4 class="bold"> {{list.cswname}}</h4>
                            </div>
                        </div>
                        <div class="row mt-10 pt-5 border-top">
                            <div class="col-sm-3 pr-0">
                                <span class="text-13 redlc"> Sono: <i class="fa fa-envelope-o cursor" ng-click="sendSonoEmail(list)" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-sm-3 pr-0">
                                <span class="text-13 redlc"> CSW: <i class="fa fa-envelope-o cursor" ng-click="sendSupportEmail(list)" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-sm-6">
                                <span class="text-13 redlc"> Location: <i class="fa fa-envelope-o cursor" ng-click="sendAptEmail(list)" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="clsInner">
                        <div class="gray-dark">
                            <div class="col-sm-06">
                                <p class="text-14"> Location Name: <strong class="text-capitalize black">{{list.HospitalName}}</strong> </p>
                            </div>
                            <div class="col-sm-06">
                                <p class="text-14"> Region Name: <strong class="text-capitalize black">{{list.regionname}}</strong> </p>
                            </div>
                            <!--                             <div class="col-sm-7">
                                <ul class="clearfix">
                                    <li> utc +01:00 </li>
                                    <li> frmc_wand </li>
                                </ul>
                            </div> -->
                        </div>
                        <!-- <p class="text-capitalize pt-5"> {{list.HospitalName}} </p> -->

                        <div class="clearfix">
                            <table class="table no-mar">
                                <!-- <thead>
                                    <tr>
                                        <th colspan="3"> {{list.cswname}} </th>
                                    </tr>
                                </thead> -->
                                <tbody ng-repeat="slot in list.updatedSlots">
                                    <tr ng-show="!slot.break" ng-class="{'appointment-danger': slot.Bookstatus == 'E', 'appointment-info': slot.emergency == true}">
                                        <td> {{slot.time}} </td>
                                        <td ng-click="showPatientHistory(slot)"> <span ng-show="slot.patient">{{slot.PatientName}} </span><span ng-show="!slot.patient">-</span></td>
                                        <td class="text-uppercase"><span ng-show="slot.patient">{{slot.Dicomcode}}</span><span ng-show="!slot.patient">-</span></td>
                                        <td> {{slot.Status}}</td>
                                    </tr>
                                    <tr ng-show="slot.break">
                                        <td colspan="3" class="no-pad">
                                            <div class="text-center p-5 clsBreak"> <span> break time -  </span> {{slot.start}} - {{slot.end}} </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="list.updatedSlots.length == 0">
                                    <tr>
                                        <td colspan="3" class="no-pad">
                                            <div class="text-center p-20 clsBreak">No Data Found</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bold text-center" ng-show="listCollection.length == 0">
        No records found
    </div>
</div>
<div class="past-records" ng-show="!searchshow">
    <div class="plr-15">
        <div class="patients-profile clearfix">
            <div class="profile-detail">
                <div class="profile-avatar"
                    ng-hide="imageurl != null && imageurl.length != 0">
                    <img ng-hide="gender == 'F'" class="pt-photo" src="img/srch_defaultusr_male.png"
                        width="58" height="58">
                    <img ng-show="gender == 'F'" class="pt-photo" src="img/srch_defaultusr_female.png"
                        width="58" height="58">
                </div>
                <div class="profile-avatar"
                    ng-show="imageurl != null && imageurl.length != 0">
                    <img ng-srcset="{{imageurl}}">
                </div>
                <div class="profile-name">
                    <h3 ng-bind="patientname"></h3>
                    <p>
                        <span>{{age}} y</span> /
                        <span>{{gender == 'M' ? 'Male' : gender == 'F' ? 'Female' :
                            gender == 'U' ? 'Unknown' : 'Others' }}</span>
                    </p>
                </div>
            </div>
            <ul>
                <li>
                    <h3>NHS NUMBER</h3>
                    <p>{{nhsid}}</p>
                </li>
                <li class="">
                    <h3>DW ID</h3>
                    <p>{{patientid}}</p>
                </li>
            </ul>
            <div class="pat-strip-icon">

                <a href="javascritp:;" class="app-td-icon ap-iv view-vitals-popup"
                    ng-click="getPatientDetails('#patientView')">
                    <i class="fa fa-eye dis_inline patient_view" data-tooltip="View Patient Info"
                        aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pr-0">
        <div class="previous-cases">
            <ul class="pr-tab">
                <li class="{{(case.isSelected) ? 'active':''}}"
                    ng-repeat="case in caseViewCollection | orderBy: -referalreceived">
                    <div class="interm-consult" ng-click="detailedView(case, $index)">
                        <h6><span>Received Date </span><strong>{{case.referalreceived}}</strong></h6>
                        <h6 class="clsEye"><span>Referrer </span><strong>{{case.referdoctorname}}</strong> <a
                                href="javascript:void(0);" ng-click="doctorDetails('#referrerView', case)"><i
                                    class="fa fa-eye color-primary" aria-hidden="true"></i></a></h6>
                        <h6><span>Speciality </span><strong>{{case.speciality}}</strong></h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="follow-ups clearfix">            
            <div class="table-responsive col-sm-12 no-pad">
                <table class="table color-theme-one">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Region</th>
                            <th>Sonographer</th>
                            <!-- <th>Location</th> -->
                            <th>Location</th>
                            <th>Reports</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-init="toggle = 1">
                        <tr>
                            <td>{{selectedCollection.referalcreated}}</td>
                            <td>{{selectedCollection.regionname}}</td>
                            <td>{{selectedCollection.sonographarname}}</td>
                            <!-- <td>{{selectedCollection.citylocation}}</td> -->
                            <td>{{selectedCollection.scancentre}}, {{selectedCollection.citylocation}}</td>
                            <td class="reports">
                                <span><a href="javascript:void(0);"
                                        ng-click="getPatientDetails('#referralpopup')">Referral</a></span>
                                <span class="ml-10"><a href="javascript:void(0);"
                                        ng-click="getPatientDetails('#scanpopup')">Scan</a></span>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="addnotes()" data-toggle="modal"
                                    data-target="#notes"><i class="fa fa-file-text-o mr-10 color-b cursor"
                                        aria-hidden="true"></i></a>
                                <input class="custom-file-input" type="file" name="otherfiles" id="UploadDocument3"
                                    accept=".pdf, .doc, .docx, .jpg, .jped, .png" />
                            </td>
                        </tr>
                        <tr class="inner" ng-show="toggle == 1">
                            <td colspan="15">
                                <table class="table color-theme-two mb-10">

                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Activity</th>
                                            <th>Comments / Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        

                                        <tr ng-repeat="list in enquiriesCollection">
                                            <td>{{list.dateNew}}</td>
                                            <td>{{list.username}}</td>
                                            <td ng-class="{'appointment-success': list.enquirystatusid == 'BOOKED' || list.enquirystatusid == 'SCANCOMPLETED', 'appointment-danger': list.enquirystatusid == 'DNA' }"
                                                ng-hide="list.enquirystatusid == 'TRIAGE'"><span
                                                    ng-show="list.statusflag != 'RS'">{{list.enquirystatusid
                                                        | enquirystatus}}</span> <span class="appointment-info"
                                                    ng-show="list.statusflag == 'RS'">Rescheduled</span></td>
                                            <td ng-show="list.enquirystatusid == 'TRIAGE'">Referral Added</td>
                                            <td
                                                ng-show="list.enquirystatusid != 'BOOKED' && list.enquirystatusid != 'ReminderAdded' && list.enquirystatusid != 'ReminderCompleted' && list.enquirystatusid != 'COMPLETE'">
                                                <div
                                                    ng-hide="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail' || list.enquirystatusid == 'DocumentUpload'">
                                                    {{list.notes}}</div>

                                                <div class="truncate"
                                                    ng-show="list.enquirystatusid == 'DocumentUpload'">
                                                    <a href={{list.documenturl}}
                                                        target="_blank">{{list.documenturl}}</a>
                                                </div>

                                                <div class="email"
                                                    ng-show="list.enquirystatusid == 'appointEmail' || list.enquirystatusid == 'exclusionEmail' || list.enquirystatusid == 'declinedEmail' || list.enquirystatusid == 'dnaEmail' || list.enquirystatusid == 'contactusEmail' || list.enquirystatusid == 'nocontactEmail' || list.enquirystatusid == 'urgentnocontactEmail' || list.enquirystatusid == 'patientDeclinedEmail'">
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = true; list.emailobj.sendletter = false; emailActoin(list, false, true)">Resend
                                                        Email</a>
                                                    <a href="javascript:void(0);"
                                                        ng-click="list.emailobj.sendemail = false; list.emailobj.sendletter = true; emailActoin(list, true, false)">Download
                                                        Letter</a>
                                                </div>

                                            </td>
                                            <td ng-show="list.enquirystatusid == 'BOOKED'">
                                                <p class="no-mar"><strong>Time:</strong> {{list.appointmentdate |
                                                        convertdate }} : {{list.appointmenttime}}</p>
                                                <p class="no-mar"><strong>Sonographer Name:</strong>
                                                    {{list.sonographerName}}</p>
                                                <p class="no-mar"><strong>Location Name:</strong>
                                                    {{list.hospitalname}}</p>
                                                <p class="no-mar"><strong>Address:</strong>
                                                    {{list.Address1 +', '+ list.Address2 +', '+ list.Address3 +', '+ list.Address4 | patientAddress}}
                                                </p>
                                                <p class="no-mar"><strong>Notes:</strong> {{list.notes}}</p>
                                            </td>
                                            <td
                                                ng-show="list.enquirystatusid == 'ReminderAdded' || list.enquirystatusid == 'ReminderCompleted'">
                                                <p class="no-mar"><strong>Reminder Due Date:</strong> {{list.reminderduedate |
                                                            convertdate }}</p>
                                                <p class="no-mar"><strong>Reminder Notes:</strong>
                                                    {{list.notes}}</p>
                                            </td>
                                            <td ng-show="list.enquirystatusid == 'COMPLETE'">

                                                <div class="email">
                                                    <span>Sono: {{list.sonographerName}}</span> <br>
                                                    <a href="javascript:void(0);"
                                                        ng-click="sendpublishemail(list)">Resend
                                                        Email</a>
                                                    <a href="{{list.reportdocument}}" target="_blank">Download
                                                        Letter</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="no-record-wrap" ng-show="caseidhistory.length ==0">
    <img src="img/no-data/no past records_review.png">
    <div class="no-records-txt-line2">No previous visit by this patient</div>
</div>
<div class="modal-common new fade modal" id="referrerView">
    <div class="modal-common-dialog view">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Name</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-primary">
                        <p>{{doctorInfo.doctor[0].FullName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Sex</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctor[0].Gender == 'M' ? 'Male' : doctorInfo.doctor[0].Gender == 'F' ?
                            'Female' : doctorInfo.doctor[0].Gender == 'U' ? 'Unknown' : 'Others' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>External Practice(s)</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p ng-repeat="doc in doctorInfo.PractiesDetails">{{doc.practicename}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>CCG</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-info">
                        <p ng-repeat="doc in doctorInfo.PractiesDetails">{{doc.ccgname}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Daytime Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[0].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Evening Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[1].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Mobile Tel</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Fax No</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorOtherDetails.faxno}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-success-light">
                        <p>{{doctorInfo.doctorEmail[0].EmailID}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>GP Code</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon appointment-danger">
                        <p>{{doctorInfo.doctorOtherDetails.gpcode}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Notes</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>{{doctorInfo.doctorOtherDetails.notes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-common new fade modal" id="patientView">
    <div class="modal-common-dialog view">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Patient</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p class="appointment-primary">{{patientDetails.Patient[0].FullName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Age</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.Patient[0].CurrentAge.year}}</p>
                    </div>
                </div>
                <div class="row" ng-show="patientDetails.PatientAddress.length > 0">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Address</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.PatientAddress[0].Address1 +', '+ patientDetails.PatientAddress[0].Address2 +', '+ patientDetails.PatientAddress[0].Address3 +', '+ patientDetails.PatientAddress[0].CityTown +', '+ patientDetails.PatientAddress[0].State +', '+ patientDetails.PatientAddress[0].Country | patientAddress}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>NHS Number</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon appointment-success-light">
                        <p>{{patientDetails.Patient[0].PatientOtherDetails[0].AadhaarID}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Status</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.EnquiryDetails.enquirystatusid | enquirystatus}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>DayTime</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'D'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'D'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'D'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'D'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'D'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'D'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Evening</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'E'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'E'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'E'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'E'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'E'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'E'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Mobile</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'M'">
                            {{patientDetails.PatientPhone[0].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'M'">
                            {{patientDetails.PatientPhone[1].PhNumber}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'M'">
                            {{patientDetails.PatientPhone[2].PhNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Description</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.PatientPhone[0].PhType == 'M'">
                            {{patientDetails.PatientPhone[0].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[1].PhType == 'M'">
                            {{patientDetails.PatientPhone[1].PhDescription}}</p>
                        <p ng-show="patientDetails.PatientPhone[2].PhType == 'M'">
                            {{patientDetails.PatientPhone[2].PhDescription}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p>{{patientDetails.PatientEmail[0].EmailID}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right pr-30 lable">
                        <p>DNAs</p>
                    </div>
                    <div class="col-sm-9 bold pl-30 collon">
                        <p ng-show="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">Yes</p>
                        <p ng-hide="patientDetails.EnquiryDetails.appointmenttypeid == 'DNA'">No</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-common auto fade modal" id="referralpopup">
    <div class="modal-common-dialog manage" style="min-height: 600px;">
        <span class="close" data-dismiss="modal" ng-click="attachstatustype = ''">X</span>
        <!-- <div class="col-sm-12 loadingbg"
            ng-class="{'loadingbg': (patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined || patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined), 'loadingbg1': (patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc == undefined && patientDetails.EnquiryDetails.enquiryfileurl.additional_doc == undefined)}">
            <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}" type="application/pdf"
                width="100%" height="600px">
            <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                type="application/pdf" width="100%" height="600px">
        </div> -->

        <div class="col-sm-12 text-center">
            <div class="loadingbg" ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'SUCCESS'">
                <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc != undefined"
                    ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.enquiry_doc | trustUrl}}"
                    type="application/pdf" width="100%" height="100%">
                <embed ng-show="patientDetails.EnquiryDetails.enquiryfileurl.additional_doc != undefined"
                    ng-src="{{patientDetails.EnquiryDetails.enquiryfileurl.additional_doc | trustUrl}}"
                    type="application/pdf" width="100%" height="100%">
            </div>
            <div ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'FAILURE'">
                <p>No Data Found</p>
            </div>
            <div ng-if="patientDetails.EnquiryDetails.enquiryFileStatus == 'IN_PROGRESS'">
                <p>Document/Image is being processed</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-common auto fade modal" id="scanpopup">
    <div class="modal-common-dialog manage" style="min-height: 600px;">
        <span class="close" data-dismiss="modal" ng-click="attachstatustype = ''">X</span>
        <div
            ng-class="(patientDetails.diagnosisReportURL != 'Not Availbale')? 'col-sm-12 loadingbg': 'col-sm-12 loadingbg1'">
            <embed ng-src="{{patientDetails.diagnosisReportURL | trustUrl}}" type="application/pdf" width="100%"
                height="600px">
        </div>
    </div>
</div>

<div class="modal-common new fade modal" id="notes">
    <div class="modal-common-dialog manage">
        <span class="close" data-dismiss="modal" ng-click="Gnnotes = ''">X</span>
        <div class="row">
            <div class="col-md-12">
                <textarea ng-model="Gnnotes" rows="10" class="form-control"
                    style="height: auto; width: 100%"></textarea>
                <div class="mt-10">
                    <button class="btn btn-primary pull-right" ng-disabled="Gnnotes == ''"
                        ng-click="submitnotes()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<script>
</script>