<div class="container-fluid referral" ng-controller="referralsController">
    <div class="clearfix">
        <div class="new-enquiry mb-20 mt-0">
            <div class="table-responsive">
                <table class="table color-theme-one">
                    <thead>
                        <tr>
                            <th class="text-center">SNo</th>
                            <th>Received Date &amp; Time</th>
                            <th>Patient Name</th>
                            <th>Referring GP</th>
                            <th>Practice Info</th>
                            <th>Region</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in referralColl">
                            <td class="text-center">{{ data.sno }}</td>
                            <td>{{ data.referalreceived | convertdate}}</td>
                            <td>{{ data.patientname }}</td>
                            <td>{{ data.doctorname }}</td>
                            <td>{{ data.practicename }}</td>
                            <td>{{ data.regionname }}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="editPatient(data.patientid, data.patientenquiryid)">Add Referral</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="text-center mt-10">
                <button ng-show="loadMore == true" class="btn load-more" ng-click="nextPage()">Load More ...</button>
            </div>
        </div>
    </div>
</div>