<style>
 .c7report .color-theme-one.table>thead>tr>th {
    background: #073b6b;
    color: #fff;
    width: 1%;
}
</style>

<div class="c7report" ng-controller="c7DailyReportController">

    <div class="report-cont">
        <figure class="pull-right cursor export-excel" title="Export to Excel" ng-if="dailyReportData.length > 0" ng-click="exportTOExcel()"><img src="images/export-excel.png" alt=""></figure>
        <div ng-hide="dailyReportData.length==0 && dailySpecialityReportData.length==0">
            <div class="row">
                <div class="col-lg-3 col-md-11">
                    <div class="form-group">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control searchbar" placeholder="Search Region" ng-model="searchRegion" ng-change="showregionccg = undefined">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table color-theme-one">
                    <thead>
                        <!-- <tr>
                        <th></th>
                        <th></th>
                        <th></th>ort

                        <th></th>   
                        <th></th>                     
                    </tr> -->
                        <tr>
                            <th ng-click="setSortRegion()">
                                <a style="color: #fff;">Region</a>
                            </th>
                            <th>New</th>
                            <th>Follow ups</th>
                            <th>No contact</th>
                            <th>Issues</th>
                            <th>Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dailyReportData | orderBy: regionname : sortRegion |filter:{regionname:searchRegion}">
                            <td>{{data.regionname}}</td>
                            <td>{{data.newtriagebook}}</td>
                            <td>{{data.followup}}</td>
                            <td>{{data.nocontact}}</td>
                            <td>{{data.issue}}</td>
                            <td>{{data.totalregion}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="dailyReportData.length==0">
                        <tr>
                            <td class="bold text-center" colspan="20">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row pt-20">
                <div class="col-sm-8">
                    <h3 class="no-mar clsTitle"> Issues </h3>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary" ng-click="exportIssueTOExcel()" ng-disabled="dailySpecialityReportData.length==0">Issues Export to Excel</button>
                </div>
            </div>

            <div class="table-responsive" style="margin-top: 25px;">
                <table class="table color-theme-one">
                    <thead>
                        <!--  <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                                             
                    </tr> -->
                        <tr>
                            <th>DW ID</th>
                            <th>Received Date</th>
                            <th>Speciality</th>
                            <th>Region</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="specialdata in dailySpecialityReportData">
                            <td>{{specialdata.patientid}}</td>
                            <td>{{specialdata.referalreceived | date:'yyyy-MM-dd'}}</td>
                            <td>{{specialdata.speciality}}</td>
                            <td>{{specialdata.regionname}}</td> 
                            <td>{{specialdata.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-show="dailyReportData.length==0 && dailySpecialityReportData.length==0" class="bold text-center" colspan="20">
            No records found
        </div>
    </div>
</div>