<div class="billing-cominsoon text-center">
    <img src="img/no-data/no permissions.png">
    <div class="msg">
        <p class="goback-text">This report is available for "All" branch & doctor filters only</p>
        <p class="no-records-txt-line2"></p>
    </div>
</div>