            <div class="appintment_view_pane_detailed"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select User</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-4">
                                 <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                 <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-4 text-center">
                <h3>Appointment Stats</h3>
             </div>
             <div class="col-lg-5">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.TotalCancelledPatientObj.length > 0"></uib-pagination>
             </div>
         </div>
         <!-- end of pagination -->
         <!-- title -->
         <!-- End of title -->
         <div class="report-details-wrap" >
             <div class="appintment_view_pane_detailed" ng-if="detailedData.TotalCancelledPatientObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Date</div>
                             <div class="rTableHead detailedTableVal">Appointment Time</div>
                             <div class="rTableHead detailedTableVal">Doctor Name</div>
                             <!-- <div class="rTableHead detailedTableVal">Patient ID</div> -->
                             <div class="rTableHead detailedTableVal">Patient Name</div>
                             <!-- <div class="rTableHead detailedTableVal">Contact Number</div> -->
                             <div class="rTableHead detailedTableVal">Branch Name</div>
                             <div class="rTableHead detailedTableVal">Appointment Type</div>
                             <div class="rTableHead detailedTableVal">Status</div>
                             <div class="rTableHead detailedTableVal">Reason for cancellation</div>
                         </div>
                         <div class="rTableBody">
                            <div class=" rTableRow" ng-repeat="data in detailedData.TotalCancelledPatientObj">
                                <div class="rTableCell" ng-bind="data.AppointmentDate | date:'dd-MMM-yyyy'"></div>
                                <div class="rTableCell" ng-bind="data.AppointmentTime"></div>
                                <div class="rTableCell" ng-bind="data.DoctorName"></div>
                                <!-- <div class="rTableCell" ng-bind="data.PatientDisplayID"></div> -->
                                <div class="rTableCell" ng-bind="data.PatientName"></div>
                                <!-- <div class="rTableCell" ng-bind="data.PhoneNumber"></div> -->
                                <div class="rTableCell" ng-bind="data.BranchName"></div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'FOLLOWUP'"> Follow Up</div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'HOMEVISIT'">Home Visit</div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'NEWPATIENT'">New Patient</div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'OLDPATIENT'">Old Patient</div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'NURSING'">Nursing</div>
                                <div class="rTableCell" ng-if="data.AppointmentType == 'URGENT'">Urgent Visit</div>
                                <div class="rTableCell" ng-show="data.AppointmentType == 'OTHDNT' || data.AppointmentType == 'OTHERS' || data.AppointmentType == 'ALLMRDRR'">Others</div>
                                <div class="rTableCell" ng-bind="data.Status"></div>
                                <div class="rTableCell" ng-bind="(data.Reason == 'NA')?'':data.Reason"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.TotalCancelledPatientObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div> 
         </div>
      </div>
   </div>
</div>