            <div class="appintment_view_pane_detailed"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select User</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-4 hide">
                                 <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            </div>
                            <div class="col-md-2 form-group" ng-show="campaignvalue.AppointmentVisit == 'Y' && ReferralData.ReferralList.length>0">
                                <label class="dashfillbl">Referral</label>
                                <select name="Source" class="form-control select-dropdown" id="Source" ng-model="ReferralData.Source" ng-change="SourceChange(ReferralData.Source)">
                                    <option ng-selected="" value="">Select Referral</option>
                                    <option ng-repeat="Ref in ReferralData.ReferralList | filter:{'ActiveIND':'Y'}" value="{{Ref.ReferralID}}" ng-bind="Ref.ReferralTitle"></option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group" ng-show="campaignvalue.AppointmentVisit == 'Y' && ReferralData.subSourceList.length > 0">
                                <label class="dashfillbl">Sub Referral</label>
                                <select name="SubSource" class="form-control select-dropdown" id="SubSource" ng-model="ReferralData.SubSource" ng-change="subSourceChange()">
                                    <option value="" ng-selected="">Select Sub Referral</option>
                                    <option ng-repeat="sub in ReferralData.subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}" ng-bind="sub.SubCatagoryDesc"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                    <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-5 text-center">
                <h3>Campaign Stats</h3>
             </div>
             <div class="col-lg-4">
                 <div class="switch-toggle well" style="margin-right:10px; float:right;">
                     <input id="set-tog22-msg-no" btn-radio="'N'" value="N" ng-model="campaignvalue.AppointmentVisit" ng-checked="campaignvalue.AppointmentVisit == 'N' " name="view1" type="radio" ng-change="AppointmentVisit('APP',campaignvalue.AppointmentVisit)">
                     <label for="set-tog22-msg-no" onclick="">Registration</label>
                     <input id="set-tog22-msg-yes" btn-radio="'Y'" value="Y" ng-model="campaignvalue.AppointmentVisit" ng-checked="campaignvalue.AppointmentVisit == 'Y' " name="view1" type="radio" ng-change="AppointmentVisit('APP',campaignvalue.AppointmentVisit)">
                     <label for="set-tog22-msg-yes" onclick="">Appointment</label>
                     <a class="btn btn-primary"></a>
                 </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-9 hide">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.rows.length > 0"></uib-pagination>
             </div>
         </div>
         <!-- end of pagination -->
         <div class="report-details-wrap" >
             <div class="appintment_view_pane_detailed" ng-if="detailedData.rows.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">S.no</div>
                             <div class="rTableHead detailedTableVal">Campaign Name</div>
                             <div class="rTableHead detailedTableVal">Patient Count</div>
                             <div class="rTableHead detailedTableVal" ng-bind="'Total Revenue (' + currencyType + ')'"></div>
                         </div>
                         <div class="rTableBody">
                            <div class=" rTableRow" ng-repeat="data in detailedData.rows">
                                <div class="rTableCell" ng-bind="$index+1"></div>
                                <div class="rTableCell" ng-bind="data.CampaignName"></div>
                                <div class="rTableCell" ng-bind="data.PatientCount"></div>
                                <div class="rTableCell" ng-bind="data.TotalRevenue"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.rows.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div> 
         </div>
      </div>
   </div>
</div>