       <div class="appintment_view_pane_detailed">  
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select USer</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                <label class="dashfillbl">Payment Type</label>
                                <select ng-model="detailedPage.paymentType" class="form-control"  ng-change="changeDoctorDetails(viewtype)" name="getPayment">
                                    <option value="">All</option>
                                    <option value="CASH">Cash</option>
                                    <option value="CHEQUE">Cheque</option>
                                    <option value="CREDITCARD">Credit Card</option>
                                    <option value="DEBITCARD">Debit Card</option>
                                    <option value="INSURANCE">Insurance</option>
                                    <option value="CREDIT">Credit</option>
                                    <option value="EMI">EMI</option>
                                    <option value="PAYTM">PayTM</option>
                                    <option value="FREECHARGE">Free Charge</option>
                                    <option value="ECHS">ECHS</option>
                                    <option value="ONLINEPAYMENT">OnLine Payment</option>
                                    <option value="BAJAJRECEIPT">Bajaj Receipt</option>
                                    <option value="EHS">EHS</option>
                                    <option value="SPF">Arogya Bhadratha</option>
                                    <option value="EXISEDEP">Arogya Sahayatha(Exise Dep)</option>
                                    <option value="RGI">Reliance Ins</option>
                                    <option value="SBIBUDDY">SBI Buddy</option>
                                    <option value="OTHERS">Others</option>
                              </select >
                            </div>
                            <div class="col-lg-2">
                                <a href="javascript:;" class="" ng-click="ShowRprt('cashrpt')" style="display: inline-block;color:#28465a;text-decoration:underline;">Detailed Cash Received</a>
                                <button class="btn btn-primary " ng-click="showPage('cash',true,'export',totalLoadCount)">Export to excel</button>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                     <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-4 text-center">
                <h3>Cash Received Stats</h3>
             </div>
             <div class="col-lg-5 pull-right">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.TotalCashReceivedObj.length > 0"></uib-pagination>
             </div>
         </div>
         <div class="col-md-12 cash-rec-lab text-right" style="margin-top: -26px;">
            <label ng-bind="'Total Cash Received: ' +currencyType"></label> <label ng-bind="detailedData.TotalCashReceivedSum | number"></label>
         </div>
         <br/>
         <!-- end of pagination -->
         <div class="report-details-wrap report-details-wrap1" >
             <div class="appintment_view_pane_detailed" ng-if="detailedData.TotalCashReceivedObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Consultation Date</div>
                             <div class="rTableHead detailedTableVal">Branch</div>
                             <div class="rTableHead detailedTableVal">Doctor Name</div>
                             <div class="rTableHead detailedTableVal">Payment Type</div>
                             <div class="rTableHead detailedTableVal" ng-bind="'Amount Received (' + currencyType + ')'"></div>
                         </div>
                         <div class="rTableBody">
                             <div class=" rTableRow" ng-repeat="data in detailedData.TotalCashReceivedObj">
                                 <div class="rTableCell" ng-bind="(data.Date).substring(0,10)| date:'dd-MMMM-yyyy'"></div>
                                 <div class="rTableCell" ng-bind="data.Branch"></div>
                                 <div class="rTableCell" ng-bind="'Dr. '+data.DoctorName"></div>
                                 <div class="rTableCell" ng-bind="data.PaymentType"></div>
                                 <div class="rTableCell" ng-bind="data.AmountReceived"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div class="col-md-12 cash-rec-lab text-right" ng-if="detailedData.TotalCashReceivedObj.length > 0">
               <h2><span ng-bind="currencyType"></span><span ng-bind="pagewisetotal | number"></span></h2>
             </div>
             <div ng-if="detailedData.TotalCashReceivedObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div> 
         </div>
      </div>
   </div>
</div>