       <div class="appintment_view_pane_detailed"> 
                <div class="row"  ng-show="readAdminAccess">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-3">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                    <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-5 text-center">
                <h3>Consultant Stats</h3>
             </div>
             <div class="col-lg-4">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.TopTrendingConsultantsObj.length > 0"></uib-pagination>
             </div>
         </div>
         <!-- end of pagination -->
         <div class="report-details-wrap" ng-show="readAdminAccess">
             <div class="appintment_view_pane_detailed" ng-if="detailedData.TopTrendingConsultantsObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Consultant Name</div>
                             <div class="rTableHead detailedTableVal">Branch</div>
                             <div class="rTableHead detailedTableVal">Speciality</div>
                             <div class="rTableHead detailedTableVal">No Of Treatment(s)</div>
                             <div class="rTableHead detailedTableVal" ng-bind="'Amount Received (' + currencyType + ')'"></div>
                         </div>
                         <div class="rTableBody">
                             <div class=" rTableRow" ng-repeat="data in detailedData.TopTrendingConsultantsObj">
                                 <div class="rTableCell" ng-bind="data.ConsultantName"></div>
                                 <div class="rTableCell" ng-bind="data.Branch"></div>
                                 <div class="rTableCell" ng-bind="data.Speciality"></div>
                                 <div class="rTableCell" ng-bind="data.NoOfTretamentsDone"></div>
                                 <div class="rTableCell" ng-bind="data.TotalCashCollected"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.TopTrendingConsultantsObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div> 
         </div>
         <div ng-show="!readAdminAccess">
            <div class="dash-features no-data text-center">
                <img src="img/no-data/no permissions.png">
                <div class="msg">
                    <p class="goback-text">You have no permission to view this report</p>
                    <p class="no-records-txt-line2">Please contact the administrator of your hospital / clinic to view this report.
                    </p>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>