
                <!--Doctor diary -->
                <div id="DoctorDiary" class="tab-pane fade ng-scope in" ng-controller="hCuedoctorDiaryController">
                    <div class="tab-pane ">
                        <div class="appintment_view_pane"  ng-show="access_key">
                            <div class="row">
                                <div class="col-lg-12">
                                	<div class="diary-form-container">
                                    	<div class="dash-from">
                                        <label>From </label>
                                        <input ng-model="cash_fromDate" datepickerreport ng-change="getData(cash_fromDate,cash_toDate)" readonly style="width: 120px;" class="select-dropdown">
                                        <img src="images/calendar-icon.png" />
                                    </div>
                                    	<div class="dash-from">
                                        <label>To </label>
                                        <input ng-model="cash_toDate" datepickerreport ng-change="getData(cash_fromDate,cash_toDate)" readonly style="width: 120px;" class="select-dropdown">
                                        <img src="images/calendar-icon.png" />
                                    </div>
                                        <div class="dash-from">
                                            <label class="sp-lt">Select Branch </label>
                                            <select ng-model="cash_clinicId" ng-selected="cash_clinicId.HospitalInfo.HospitalDetails.HospitalID" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in hospitalDetails | filter:hositalFiler" ng-change="getDoctorfromClinic(cash_clinicId)" class="select-dropdown" style="width:120px;"></select>
                                        </div>
                                        <div class="dash-from">
                                            <label class="sp-lt">Select User </label>
                                            <select ng-model="cash_doctorId" ng-selected="cash_doctorId.DoctorID" ng-options="doctorData as doctorData.FullName for doctorData in doctorDataList | unique:'DoctorID'" ng-change="getData(cash_fromDate,cash_toDate)" class="select-dropdown" style="width:120px; margin-right: 15px;"></select>
                                            <span ng-click="searchData()" class="hide">GO</span>
                                        </div>
                                    </div>
                                    	<div class="date-search">
										
										<a href="javascript:;" class="show-graph active pull-right" ng-click="doctorIncentive()">Doctor Incentive Report</a>
                                        <a href="javascript:;" class="show-graph active pull-right" ng-click="doctorPerformance()">Doctor Performance Report</a>
										<a href="javascript:;" class="show-graph active pull-right" ng-click="consolidateIncentive()">Hospital Performance Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-lg-3">
                                 <div class="marmistop">
                                    <a href="javascript:;" class="back-list" ng-click="showPage()">Back to dashboard</a>
                                 </div>
                             </div>
                             <div class="col-lg-5 text-center">
                                <h3>Doctor Diary Stats</h3>
                             </div>
                             <div class="col-lg-4">
                             </div>
                         </div>
                        <div ng-show="!access_key">
                            <div class="dash-features no-data text-center">
                                <img src="img/no-data/no permissions.png">
                                <div class="msg">
                                    <p class="goback-text">You have no permission to view this report</p>
                                    <p class="no-records-txt-line2">
                                        Please contact the administrator of your hospital / clinic to view this report.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--New Design-->
                        <div class="report-details-wrap" ng-show="access_key">
                         <div class="clearfix"></div>
                            <div class="h-rep-noscroll">
                                <div class="row docsdiary">
                                <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <div class="text-center dash-totall">
                                            <label style="background: #5fc7ba">No. of Consultations</label>
                                            <div class="dash-double-boxx">
                                                <div class="dash-new-visits row">
                                                    <p class="h-diary-count" ng-click="getconsultationlist()">{{getDoctorDiaryReports.ConsultationCount}}</p>
                                                </div>
                                                <a href="javascript:;" class="dash-fups" ng-click="getconsultationlist()" style="border-bottom: none;">
                                                    <span>Amount</span>
                                                    <p>{{getDoctorDiaryReports.ConsultationAmount}}</p>
                                                </a>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-center dash-totall">
                                            <label style="background: #9abbb7">No. of Investigations</label>
                                            <div class="dash-double-boxx">
                                                <div class="dash-new-visits row">
                                                    <p class="h-diary-count" ng-click="getInvestigationlist()">{{getDoctorDiaryReports.InvestigationsCount}}</p>
                                                </div>
                                                <a href="javascript:;" class="dash-fups" ng-click="getInvestigationlist()" style="border-bottom: none;">
                                                    <span>Amount</span>
                                                    <p>{{getDoctorDiaryReports.InvestigationsAmount}}</p>
                                                </a>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-center dash-totall">
                                            <label style="background: #6bc75f">No. of Treatments</label>
                                            <div class="dash-double-boxx">
                                                <div class="dash-new-visits row">
                                                    <p class="h-diary-count" ng-click="getTreatmentlist()">{{getDoctorDiaryReports.TreatmentsCount}}</p>
                                                </div>
                                                <a href="javascript:;" class="dash-fups" ng-click="getTreatmentlist()" style="border-bottom: none;">
                                                    <span>Amount</span>
                                                    <p>{{getDoctorDiaryReports.TreatmentsRevenue}}</p>
                                                </a>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-center dash-totall">
                                            <label style="background: #858aa4">Total</label>
                                            <div class="dash-double-boxx row" style="text-align: center;">
                                                <span class="diary-treatment-amt">{{getDoctorDiaryReports.TotalValue}}</span>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                 </div>
                                 <div class="row docsdiary row-margin">
                                 <div class="col-md-1"></div>
                                 <div class="col-md-2"></div>
                                 <div class="col-md-2">
                                        <div class="text-center dash-totall">
                                            <label style="background: #c7b75f">No. of Conversions</label>
                                            <div class="dash-double-boxx">
                                                <div class="dash-new-visits row">
                                                    <p class="h-diary-count" ng-click="getConversionlist()">{{getDoctorDiaryReports.ConversionsCount}}</p>
                                                </div>
                                                <a href="javascript:;" class="dash-fups" ng-click="getConversionlist()" style="border-bottom: none;">
                                                    <span>Amount</span>
                                                    <p>{{getDoctorDiaryReports.ConversionsAmount}}</p>
                                                </a>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-center dash-totall" >
                                            <label style="background: #858aa4">No. of Non-Conversions</label>
                                            <div class="dash-double-boxx row" style="text-align: center;cursor: pointer;" ng-click="getNonConversionlist()">
                                                <span class="non-conv-amt">{{getDoctorDiaryReports.NonConversionsCount}}</span>
                                            </div>
                                            <div class="dash-view-boxx ng-scope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End of New Design-->
             
                        <!--Consultation list-->
                        <br>
                        <div ng-if="getConsultationlistReports.length > 0" ng-show="consultShow" class="table-container mar-top-15">
                            <table class="table new-table table-striped appointmentTableThBg appointmentlist">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Contact Number</th>
                                        <th>Procedure Name</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="consultationlist in getConsultationlistReports">
                                        <td><span ng-bind="consultationlist.SNO"></span></td>
                                        <td><span ng-bind="consultationlist.ConsultDate| date:'dd-MMMM-yyyy'"></span></td>
                                        <td><span ng-bind="consultationlist.PatientDisplayID"></span></td>
                                        <td><span ng-bind="consultationlist.PatientName"></span></td>
                                        <td><span ng-bind="consultationlist.ContactNumber"></span></td>
                                        <td><span ng-bind="consultationlist.ProcedureName"></span></td>
                                        <td><span ng-bind="consultationlist.BilledCost"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="countNo" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged('CONSULT',currentPage)" on-select-page="setPage(page)" ng-show="getConsultationlistReports.length > 0"></uib-pagination>
                        </div>
                        <!-- End of Consultation list-->
                        <!--Treatment List-->
                        <div ng-if="getTreatmentlistReports.length > 0" ng-show="treatShow" class="table-container mar-top-15">
                            <table class="table new-table table-striped appointmentTableThBg appointmentlist">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Patient Name</th>
                                        <th>Procedure Name</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="treatmentlist in getTreatmentlistReports">
                                        <td><span ng-bind="treatmentlist.SNO"></span></td>
                                        <td><span ng-bind="treatmentlist.ConsultDate| date:'dd-MMMM-yyyy'"></span></td>
                                        <td><span ng-bind="treatmentlist.PatientName"></span></td>
                                        <td><span ng-bind="treatmentlist.ProcedureName"></span></td>
                                        <td><span ng-bind="treatmentlist.BilledCost"></span></td>

                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="countNo" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged('TRTMNTS',currentPage)" on-select-page="setPage(page)" ng-show="getTreatmentlistReports.length > 0"></uib-pagination>
                        </div>
                        <!--End of Treatment List-->
                        <!--Conversion List-->
                        <div ng-if="getConversionlistReports.length > 0" ng-show="conversShow" class="table-container mar-top-15">
                            <div class="date-search">
                                <a href="javascript:;" class="show-graph active pull-right" ng-click="doctorConversion('conversion')">EXPORT TO EXCEL</a>
                            </div>
                            <table class="table new-table table-striped appointmentTableThBg appointmentlist">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Contact Number</th>
                                        <th>Doctor Name</th>
                                        <th>Clinic Name</th>
                                        <th>Procedure Name</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Conversionlist in getConversionlistReports">
                                        <td><span ng-bind="Conversionlist.SNO"></span></td>
                                        <td><span ng-bind="Conversionlist.ConsultDate| date:'dd-MMMM-yyyy'"></span></td>
                                        <td><span ng-bind="Conversionlist.PatientDisplayID"></span></td>
                                        <td><span ng-bind="Conversionlist.PatientName"></span></td>
                                        <td><span ng-bind="Conversionlist.ContactNumber"></span></td>
                                        <td><span ng-bind="Conversionlist.DoctorName"></span></td>
                                        <td><span ng-bind="Conversionlist.ClinicName"></span></td>
                                        <td><span ng-bind="Conversionlist.ProcedureName"></span></td>
                                        <td><span ng-bind="Conversionlist.BilledCost"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="countNo" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged('CONVERS',currentPage)" on-select-page="setPage(page)" ng-show="getConversionlistReports.length > 0"></uib-pagination>
                        </div>
                        <!--End of Conversion List-->
                        <!--Start NonConversion List-->
                        <div ng-if="getNonConversionlistReports.length > 0" ng-show="nonconversShow" class="table-container mar-top-15">
                            <div class="date-search">
                                <a href="javascript:;" class="show-graph active pull-right" ng-click="doctorConversion('nonconversion')">EXPORT TO EXCEL</a>
                            </div>
                            <table class="table new-table table-striped appointmentTableThBg appointmentlist">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Contact Number</th>
                                        <th>Doctor Name</th>
                                        <th>Clinic Name</th>
                                        <th>Procedure Name</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Conversionlist in getNonConversionlistReports">
                                        <td><span ng-bind="Conversionlist.SNO"></span></td>
                                        <td><span ng-bind="Conversionlist.ConsultDate| date:'dd-MMMM-yyyy'"></span></td>
                                        <td><span ng-bind="Conversionlist.PatientDisplayID"></span></td>
                                        <td><span ng-bind="Conversionlist.PatientName"></span></td>
                                        <td><span ng-bind="Conversionlist.ContactNumber"></span></td>
                                        <td><span ng-bind="Conversionlist.DoctorName"></span></td>
                                        <td><span ng-bind="Conversionlist.ClinicName"></span></td>
                                        <td><span ng-bind="Conversionlist.ProcedureName"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="countNo" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged('NONCONVERS',currentPage)" on-select-page="setPage(page)" ng-show="getNonConversionlistReports.length > 0"></uib-pagination>
                        </div>
                        <!--End of NonConversion List-->
                        <!--Investigation List-->
                        <div ng-if="getInvestigationlistReports.length > 0" ng-show="investShow" class="table-container mar-top-15">
                            <table class="table new-table table-striped appointmentTableThBg appointmentlist">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Contact Number</th>
                                        <th>Procedure Name</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Investigationlist in getInvestigationlistReports">
                                        <td><span ng-bind="Investigationlist.SNO"></span></td>
                                        <td><span ng-bind="Investigationlist.ConsultDate| date:'dd-MMMM-yyyy'"></span></td>
                                        <td><span ng-bind="Investigationlist.PatientDisplayID"></span></td>
                                        <td><span ng-bind="Investigationlist.PatientName"></span></td>
                                        <td><span ng-bind="Investigationlist.ContactNumber"></span></td>
                                        <td><span ng-bind="Investigationlist.ProcedureName"></span></td>
                                        <td><span ng-bind="Investigationlist.BilledCost"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="countNo" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged('INVESTE',currentPage)" on-select-page="setPage(page)" ng-show="getInvestigationlistReports.length > 0"></uib-pagination>
                        </div>
                        <!--End of Investigation List-->

                    </div>
                    <!--End of Doctor diary -->
                </div>
                <!--Doctor diary Ends-->