       <div class="appintment_view_pane_detailed"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select User</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <style type="text/css">
            .feedbackpage ul
            {
            	margin-right:12px;
            }
         </style>
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                     <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-4 text-center">
                <h3>Patient Feedback</h3> 
             </div>
             <div class="col-lg-5 feedbackpage">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.FeedbackReportObj.length > 0"></uib-pagination>
             </div>
         </div>
         <!--<div class="col-lg-8 cash-rec-lab" style="margin-top: -26px;">
            <label>Total Patient visited :</label>
            <span ng-bind="detailedData.Count"></span>
        </div>-->
        <br/>
         <!-- end of pagination -->
         <div class="report-details-wrap report-details-wrap1" >
             <div class="appintment_view_pane_detailed" ng-if= "detailedData.FeedbackReportObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Review Date</div>
							 <div class="rTableHead detailedTableVal">Patient</div>
							 <div class="rTableHead detailedTableVal">Patient ID</div>
							 <div class="rTableHead detailedTableVal">Phone</div>
							 <div class="rTableHead detailedTableVal">Age/Sex</div>
                             <div class="rTableHead detailedTableVal">Doctor</div>
                             <div class="rTableHead detailedTableVal">Branch</div>
                             <div class="rTableHead detailedTableVal">Question</div>
                             <div class="rTableHead detailedTableVal">Feedback</div>
							 <div class="rTableHead detailedTableVal">Rating</div>
                             <div class="rTableHead detailedTableVal">Comments</div>
                            
                         </div>
                         <div class="rTableBody">
                             <div class="rTableRow" ng-repeat="data in detailedData.FeedbackReportObj">
                                 <div class="rTableCell" ng-bind="data.RatingDate | date:'dd-MMM-yyyy'" style="min-width: 110px;"></div>
								 <div class="rTableCell" ng-bind="data.PatientName" style="min-width: 110px;"></div>
								 <div class="rTableCell" ng-bind="data.PatientId" style="min-width: 158px;"></div>
								  <div class="rTableCell" ng-bind="data.MobileNumber"></div>
								 <div class="rTableCell" ng-bind="data.Age +'/'+ data.Gender"></div>
                                 <div class="rTableCell" ng-bind="data.DoctorName"></div>
                                 <div class="rTableCell" ng-bind="data.Branch" style="min-width: 200px;"></div>
                                <div style= "color: rgb(40, 70, 90);vertical-align: middle;padding: 10px 15px; min-width:200px;" ng-repeat="feed in data.ToImproved">
                                 <span ng-hide="data.FeedbackMode=='PATIENTAPP'">Q{{$index + 1}}:{{feed.question}}</span>
                                 <span ng-show="data.FeedbackMode=='PATIENTAPP'">{{feed.question}}</span><br />
                                </div>
                                 <div class="rTableCell" ng-bind="data.Feedback"></div> 
                                 <div style= "color: rgb(40, 70, 90);vertical-align: middle;padding: 10px 15px; min-width:120px;" ng-repeat="star in data.ToImproved">
									<fieldset class="rating-stars rep-rat-star" ng-if="star.rankvalue == 10">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                    </fieldset>
                                    <fieldset class="rating-stars rep-rat-star" ng-if="star.rankvalue == 8">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                    </fieldset>
                                    <fieldset class="rating-stars rep-rat-star" ng-if="star.rankvalue == 6 || star.rankvalue == 7">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                    </fieldset>
                                    <fieldset class="rating-stars rep-rat-star" ng-if="star.rankvalue == 4 || star.rankvalue == 5">
                                        <img src="img/prof-star-ico.png">
                                        <img src="img/prof-star-ico.png">
                                    </fieldset>
                                    <fieldset class="rating-stars rep-rat-star" ng-if="star.rankvalue == 2">
                                        <img src="img/prof-star-ico.png">
                                    </fieldset>
                                 </div>
                                 <div class="rTableCell" ng-bind="data.Comments"></div>
								
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.FeedbackReportObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div>
         </div>
      </div>
   </div>
</div>