       <div class="appintment_view_pane_detailed"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select User</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            
						   
						    <a href="javascript:;" class="" ng-click="ShowDetailRprt()" style="display: inline-block;color:#28465a;text-decoration:underline;margin-left:10px;margin-top:20px;vertical-align:top">Detailed Patient Visit Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                     <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-4 text-center">
                <h3>Patient Stats</h3>
             </div>
             <div class="col-lg-5">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)" ng-if="detailedData.TotalNewPatientVisitedObj.length > 0"></uib-pagination>
             </div>
         </div>
         <div class="col-lg-8 cash-rec-lab" style="margin-top: -26px;">
            <label>Total Patient visited :</label>
            <span ng-bind="detailedData.Count"></span>
        </div>
        <br/>
         <!-- end of pagination -->
         <div class="report-details-wrap report-details-wrap1" >
             <div class="appintment_view_pane_detailed" ng-if="detailedData.TotalNewPatientVisitedObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Consultation Date</div>
                             <div class="rTableHead detailedTableVal">Patient ID</div>
                             <div class="rTableHead detailedTableVal">Patient Name</div>
                             <div class="rTableHead detailedTableVal">Gender</div>
                             <div class="rTableHead detailedTableVal">D.O.B</div>
                             <div class="rTableHead detailedTableVal">Contact Number</div>
                             <div class="rTableHead detailedTableVal">Referral Source</div>
                             <div class="rTableHead detailedTableVal">Sub-Referral Source</div>
                             <div class="rTableHead detailedTableVal">Patient Type</div>
                             <div class="rTableHead detailedTableVal">Doctor Name</div>
                             <div class="rTableHead detailedTableVal">Treatment</div>
                             <div class="rTableHead detailedTableVal">Branch</div>
                             <div class="rTableHead detailedTableVal" ng-bind="'Amount Received (' + currencyType + ')'"></div>
                         </div>
                         <div class="rTableBody">
                             <div class="rTableRow" ng-repeat="data in detailedData.TotalNewPatientVisitedObj">
                                 <div class="rTableCell" ng-bind="data.ConsultationDt | date:'dd-MMM-yyyy'"></div>
                                 <div class="rTableCell" ng-bind="data.PatientDisPlayID"></div>
                                 <div class="rTableCell" ng-bind="data.PatientName"></div>
                                 <div class="rTableCell" ng-bind="(data.AdditionalReportDtls.PatientGender == 'M')?'Male':'Female'"></div>
                                 <div class="rTableCell" ng-bind="data.AdditionalReportDtls.PatientDOB | date:'dd-MMM-yyyy'"></div>
                                 <div class="rTableCell" ng-bind="data.AdditionalReportDtls.contactnumber"></div>
                                 <div class="rTableCell" ng-bind="(data.AdditionalReportDtls.ReferralSource == undefined)?'Others':data.AdditionalReportDtls.ReferralSource"></div>
                                 <div class="rTableCell" ng-bind="(data.AdditionalReportDtls.SubReferralSource == undefined)?'Others':data.AdditionalReportDtls.SubReferralSource"></div>
                                 <div class="rTableCell" ng-bind="(data.PatientType == 'N')?'Follow Up':'New Visit'"></div>
                                 <div class="rTableCell" ng-bind="data.DoctorName"></div>
                                 <div class="rTableCell" ng-bind="(data.Treatment == '')?'-':data.Treatment"></div>
                                 <div class="rTableCell" ng-bind="data.Branch"></div>
                                 <div class="rTableCell" ng-bind="data.BilledCost"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.TotalNewPatientVisitedObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div>
         </div>
      </div>
   </div>
</div>