       <div class="appintment_view_pane_detailed"> 
                <div class="row">
                    <div class="col-lg-12" ng-show="PayoutPagesaccess">
                        <div class="row">
                            <div class="col-lg-2">
                                 <label class="dashfillbl">From :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">To :</label>
                                <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select Branch</label>
                                 <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                            </div>
                            <div class="col-lg-2">
                                 <label class="dashfillbl">Select User</label>
                                <select class="form-control" ng-model="detailedPage.doctorList"  ng-options="doctorData as doctorData.FullName for doctorData in doctorList |  unique:'DoctorID'" ng-change="changeDoctorDetails(viewtype)"></select>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary excelBtnDetails" ng-click="showPage(viewtype,true,'export',totalLoadCount)">Export to excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         <!-- pagination -->
         <div class="row">
             <div class="col-lg-3">
                 <div class="marmistop">
                     <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                 </div>
             </div>
             <div class="col-lg-4 text-center">
                <h3>Payouts Stats</h3>
             </div>
             <div class="col-lg-5" ng-show="PayoutPagesaccess">
                 <uib-pagination total-items="totalItems" max-size="maxSize" class="pull-right pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="currentPage" ng-change="pageChanged(currentPage,viewtype)" on-select-page="setPage(page)"  ng-if="detailedData.BillingSplitObj.length > 0"></uib-pagination>
             </div>
         </div>
         <!-- end of pagination -->
         <div class="report-details-wrap" ng-show="PayoutPagesaccess">
             <div class="appintment_view_pane_detailed"  ng-if="detailedData.BillingSplitObj.length > 0">
                 <!-- table -->
                 <div class="branch-data-list">
                     <div class="rTable">
                         <div class="rTableHeading ng-scope">
                             <div class="rTableHead detailedTableVal">Date</div>
                             <div class="rTableHead detailedTableVal">Branch</div>
                             <div class="rTableHead detailedTableVal">Doctor Name</div>
                             <div class="rTableHead detailedTableVal">Patient Name</div>
                             <div class="rTableHead detailedTableVal">Treatment</div>
                             <div class="rTableHead detailedTableVal">Doctor Share</div>
                             <div class="rTableHead detailedTableVal">Clinic Share</div>
                             <div class="rTableHead detailedTableVal">Membership Amount</div>
                             <div class="rTableHead detailedTableVal" ng-bind="'Total Amount (' + currencyType + ')'"></div>
                         </div>
                         <div class="rTableBody" ng-repeat="data in detailedData.BillingSplitObj">
                            <div class=" rTableRow">
                                <div class="rTableCell" ng-bind="(data.Date).substring(0,10)| date:'dd-MMMM-yyyy'"></div>
                                <div class="rTableCell" ng-bind="data.Branch"></div>
                                <div class="rTableCell" ng-bind="'Dr. '+ data.DoctorName"></div>
                                <div class="rTableCell" ng-bind="data.PatientName"></div>
                                <div class="rTableCell" ng-bind="data.TreatmentName"></div>
                                <div class="rTableCell" ng-bind="data.DoctorShare"></div>
                                <div class="rTableCell" ng-bind="data.ClinicShare"></div>
                                <div class="rTableCell" ng-bind="data.MembershipAmt"></div>
                                <div class="rTableCell" ng-bind="data.TotalAmount"></div>
                             </div>
                         </div>
                     </div> 

                 </div>
                 <!-- MSI Table -->
             </div>
             <div ng-if="detailedData.BillingSplitObj.length == 0">
                <div class="col-lg-12">
                     <div class="text-center">
                        <div class="dash-features no-data">
                           <img src="img/no-data/no feature.png">
                           <div class="msg">
                              <p class="goback-text">No reports to display</p>
                              <p class="no-records-txt-line2">There is no data to display. Please try changing the time span, clinic or doctor
                              <br> to view detailed reports.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
             </div> 
         </div>
          <div class="report-details-wrap" ng-show="!PayoutPagesaccess">
            <div class="report-details-wrap">
                <div class="dash-features no-data text-center">
                    <img src="img/no-data/no permissions.png">
                    <div class="msg">
                        <p class="goback-text">This feature isn't available to you yet</p>
                        <p class="no-records-txt-line2" ng-hide="urlpath">Get more efficient with detailed reports and statistics. Please contact <a href="mailto:support@hcue.co">support@hcue.co</a> for more details. </p>
                        <p class="no-records-txt-line2" ng-show="urlpath">Get more efficient with detailed reports and statistics. Please contact <a href="mailto:justdentalindia@gmail.com">justdentalindia@gmail.com</a> for more details. </p>
                    </div>
                </div>
              </div>
          </div>
      </div>
   </div>
</div>