<div class="tab-pane fade ng-scope in">
    <div class="tab-pane ">
        <div class="appintment_view_pane">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <label class="dashfillbl">From :</label>
                            <input class="form-control icons-calendar" ng-model="detailedPage.startDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                        </div>
                        <div class="col-lg-2">
                            <label class="dashfillbl">To :</label>
                            <input class="form-control icons-calendar" ng-model="detailedPage.endDate" datepickerreport ng-change="getDoctor(detailedPage.hospitalList,viewtype,true)">
                        </div>
                        <div class="col-lg-2">
                            <label class="dashfillbl">Branch</label>
                            <select class="form-control" ng-model="detailedPage.hospitalList" ng-options="hospitalData as hospitalData.HospitalInfo.HospitalDetails.HospitalName for hospitalData in branchDoctorDetails | filter:hospitalFilter" ng-change="getDoctor(detailedPage.hospitalList,viewtype)"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="marmistop">
                    <a href="javascript:;" class="back-list" ng-click="showPage('graphView')">Back to dashboard</a>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <h3>SMS Report</h3>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        
        <div class="report-details-wrap">
            <div class="clearfix"></div>
            <div class="h-rep-noscroll">
                <div class="row docsdiary">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="text-center dash-totall">
                            <label style="background: #5fc7ba"> Allocated SMS</label>
                            <div class="dash-double-boxx row" style="text-align: center;">
                                <span class="diary-treatment-amt" ng-bind="detailedData.totalAvailableSms"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" ng-hide="detailedData.totalPaidAvailableSms == 0">
                        <div class="text-center dash-totall">
                            <label style="background: #6bc75f">Renewal SMS</label>
                            <div class="dash-double-boxx row" style="text-align: center;">
                                <span class="diary-treatment-amt" ng-bind="detailedData.totalPaidAvailableSms"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center dash-totall">
                            <label style="background: #c7b75f">Sent SMS</label>
                            <div class="dash-double-boxx row" style="text-align: center;">
                                <span class="diary-treatment-amt">{{detailedData.totalAvailableSms + detailedData.totalPaidAvailableSms - detailedData.totalPendingSms}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center dash-totall">
                            <label style="background: #858aa4">Available SMS</label>
                            <div class="dash-double-boxx row" style="text-align: center;">
                                <span class="diary-treatment-amt" ng-bind="detailedData.totalPendingSms"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

        
        <br>
        <div class="report-details-wrap">
            <div class="appintment_view_pane_detailed" ng-if="detailedData.smsDtls.length > 0">
                <!-- table -->
                <div class="branch-data-list">
                    <div class="rTable">
                        <div class="rTableHeading ng-scope">
                            <div class="rTableHead detailedTableVal">Date</div>
                            <div class="rTableHead detailedTableVal">Branch</div>
                            <div class="rTableHead detailedTableVal">Prescription</div>
                            <div class="rTableHead detailedTableVal">Billing Details</div>
                            <div class="rTableHead detailedTableVal">Communication</div>
                            <div class="rTableHead detailedTableVal">Welcome</div>
                            <div class="rTableHead detailedTableVal">Appointment Reminder - Doctor</div>
                            <div class="rTableHead detailedTableVal">Followup Reminder - Patient</div>
                            <div class="rTableHead detailedTableVal">Birthday Wishes</div>
                        </div>
                        <div class="rTableBody">
                            <div class="rTableRow" ng-repeat="sms in detailedData.smsDtls">
                                <div class="rTableCell" ng-bind="sms.TransactionDate| date:'dd-MMMM-yyyy'"></div>
                                <div class="rTableCell" ng-bind="sms.HospitalName"></div>
                                <div class="rTableCell" ng-bind="sms.PrescriptionSms"></div>
                                <div class="rTableCell" ng-bind="sms.BillingSms"></div>
                                <div class="rTableCell" ng-bind="sms.CommunicationSms"></div>
                                <div class="rTableCell" ng-bind="sms.ReferralSms"></div>
                                <div class="rTableCell" ng-bind="sms.DoctorReminder"></div>
                                <div class="rTableCell" ng-bind="sms.PatRemainder"></div>
                                <div class="rTableCell" ng-bind="sms.BirthdaySms"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MSI Table -->
            </div>
            <div ng-if="detailedData.smsDtls.length == 0">
                <div class="col-lg-12">
                    <div class="text-center">
                        <div class="dash-features no-data">
                            <img src="img/no-data/no feature.png">
                            <div class="msg">
                                <p class="goback-text">No reports to display</p>
                                <p class="no-records-txt-line2">
                                    There is no data to display. Please try changing the time span, clinic
                                    <br> to view detailed reports.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
