﻿<div ng-controller="doctorlistController">
    <div class="app-row">
        <div class="app-header care-team-header">
            <div class="row">
                <div class="col-lg-5 col-md-11" style="height: 35px;">
                    <div class="form-group">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control searchbar" ng-model="searchDoc" placeholder="Search Doctor" ng-change="updateFilter()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-7 col-md-1">
                    <a class="btn btn-primary  pull-right" tooltip="Add" data-toggle="modal" data-target="#AddEditDoctor1" ng-click="declaredoctorVariables()" ref="" role="button">Add New Doctor</a>
                </div>
            </div>
        </div>
    </div>
    <div class="summary-reports norecords text-center" ng-show='alldoctor.length == 0'>
        <img src="img/no-data/no doctor - care.png">
        <p>You haven't added any doctor yet</p>
        <p>
            Start adding doctor to your network by searching our database
            <br> or add a new doctor by yourself.
        </p>
    </div>
    <div ng-hide="alldoctor.length == 0">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table color-theme-one doc">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>GP Code</th>
                                        <!-- <th>Practice</th>
                                        <th>Practice Code</th> -->
                                        <th>Contact Number</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="doctor in alldoctor | orderBy : '!active' as doctorCollection" ng-class="{'disable': doctor.active == false || doctor.active == null}">
                                        <td>{{doctor.doctorname}}</td>
                                        <td>{{doctor.gpcode}}</td>
                                        <!-- <td>{{doctor.practicename}}</td>
                                        <td>{{doctor.practicecode}}</td> -->
                                        <td>{{doctor.phonenumber}}</td>
                                        <td class="min-wids">
                                            <a href="javascript:void(0);" ng-click="toggleModal('#AddEditDoctor1'); getdoctorToEdit(doctor.doctorid)">
                                                <i class="fa fa-pencil" aria-hidden="true" title="Edit" data-toggle="tooltip"></i>
                                            </a>
                                            <!-- <a href="javascript:void(0);" ng-show="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow1'); deletedoctor(doctor, doctor.active)">
                                                <i class="fa fa-ban" aria-hidden="true" title="Deactivate" data-toggle="tooltip"></i>                 
                                            </a> -->

                                            <a href="javascript:void(0);" type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" ng-show="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow1'); deletedoctor(doctor, doctor.active); $event.stopPropagation()">
                                                <div class="handle" title="Deactivate" data-toggle="tooltip">
                                                    <i class="fa fa-check"> </i>
                                                </div>
                                            </a>
                                            <!--  <a href="javascript:void(0);" ng-hide="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow1'); deletedoctor(doctor, doctor.active)">
                                                <i class="fa fa-check" aria-hidden="true" title="Activate" data-toggle="tooltip"></i>
                                            </a> -->

                                            <a href="javascript:;" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-hide="doctor.active" ng-click="toggleModal('#deleteDoctorPopupWindow1'); deletedoctor(doctor, doctor.active); $event.stopPropagation()">
                                                <div class="handle" title="Activate" data-toggle="tooltip">
                                                    <i class="fa fa-times"> </i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div ng-show="doctorCollection.length == 0 && alldoctor.length != 0" class="text-center bold">
                            No Search Result Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="pageNumberDoctor" class="text-center mt-10">
            <button class="btn load-more" ng-click="loadmoreDoctor()">Load More ...</button>
        </div>
    </div>
    <!-- Doctor -->
    <div class="modal-common new modal fade adddoc" id="AddEditDoctor1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title" ng-show="!doctoredit">Add New Doctor</h4>
                <h4 class="modal-title" ng-show="doctoredit">Edit Doctor</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <div class="form_wrapper">
                <div class="clearfix sep_border">
                    <form name="addDoctor1" class="css-form clearfix" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.Title == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Title
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="Name" ng-model="addupdatedoctor.doctorDetails.Title" class="form-control" placeholder="Title">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.FirstName == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Forename
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="Name" class="form-control" ng-model="addupdatedoctor.doctorDetails.FirstName" placeholder="Forename">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorDetails.LastName == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">
                                        Surname
                                        <em>*</em>
                                    </label>
                                    <input type="text" name="Name" ng-model="addupdatedoctor.doctorDetails.LastName" class="form-control" placeholder="Surname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Sex <em>*</em></label>
                                    <select class="form-control" ng-model="addupdatedoctor.doctorDetails.Gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Date of Birth</label>
                                    <input type="text" name="Name" class="form-control icons-calendar" datepickeraddpatient ng-model="addupdatedoctor.doctorDetails.DOB" readonly placeholder="Date of Birth">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Select External Practice (s)</label>

                                    <ui-select ng-model="allpractice.selected" reset-search-input="true" theme="bootstrap" append-to-body="false" required="" ng-change="externalpractices()">
                                        <ui-select-match placeholder="Search External Practices">
                                            <span ng-bind="$select.selected.practicename"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="" group-filter="" repeat="data in allpractice | filter: $select.search | filter:{active:true}">
                                            <!-- <span ng-bind="data.practicename"></span> -->
                                            <small>
                                                <span><strong>Practice:</strong> {{data.practicename}}</span> <br>
                                                <span><strong>CCG:</strong> {{data.ccgname}}</span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && newcount.length == 0)? 'required': ''">
                                    <label for="recipient-name" class="control-label">External Practice(s) <em>*</em></label>
                                    <div class="table-responsive">
                                        <table class="table color-theme-two">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Postcode</th>
                                                    <th>CCG</th>
                                                    <th>Telephone</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="paractice in activePractices | filter:{isActive : true} as newcount">
                                                    <td>{{paractice.practicecode}}</td>
                                                    <td>{{paractice.practicename}}</td>
                                                    <td>{{paractice.postcode}}</td>
                                                    <td>{{paractice.ccgname}}</td>
                                                    <td>{{paractice.contactnumber}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" ng-click="paractice.isActive = false">
                                                            <i class="fa fa-trash-o" aria-hidden="true" title="Manage"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Daytime Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[0].PhNumber" placeholder="Daytime Tel">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Evening Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[1].PhNumber" placeholder="Evening Tel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Mobile Tel</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.DoctorPhone[2].PhNumber" placeholder="Mobile Tel">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Fax No</label>
                                    <input type="text" numbers-only name="Code" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.faxno" placeholder="Fax No">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Email</label>
                                    <input type="text" name="DoctorEmail" class="form-control" ng-model="addupdatedoctor.DoctorEmail[0].EmailID" placeholder="Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                                    <div ng-show="addDoctor1.DoctorEmail.$touched" class="error">
                                        <span ng-show="addDoctor1.DoctorEmail.$error.pattern">Enter a valid Email id</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorOtherDetails.gpcode == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label">GP Registration Number <em>*</em></label>
                                    <input type="text" name="Code" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.gpcode" placeholder="GP Registration Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="(doctorerrormessage == true && addupdatedoctor.doctorOtherDetails.typevalue == '')? 'required': ''">
                                    <label for="recipient-name" class="control-label" >Type <em>*</em></label>
                                    <select name="" id="" class="form-control" ng-model="addupdatedoctor.doctorOtherDetails.typevalue">
                                        <option value="">Select</option>
                                        <option value="GP">GP</option>
                                        <option value="Anaesthetist">Anaesthetist</option>
                                        <option value="Optician">Optician</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Notes</label>
                                    <textarea name="" id="" cols="30" rows="5" ng-model="addupdatedoctor.doctorOtherDetails.notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pt-20">
                            <a class="btn btn-filled mr-10" data-dismiss="modal">
                                Cancel
                            </a>
                            <a ng-show="!doctoredit" class="btn btn-primary mw-100" ng-click="adddoctor()">
                                Add
                            </a>
                            <a ng-show="doctoredit" class="btn btn-primary mw-100" ng-click="updatedoctor()">
                                Update
                            </a>

                            <span class="clsRequried_filed"> you must fill in all of the requried (<span> <i class="fa fa-star clsRed"></i> </span>) fields </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-common modal fade" id="deleteDoctorPopupWindow1" data-backdrop="static" data-keyboard="false">
        <div class="modal-common-dialog app-new-popup">
            <div class="model-popup-header">
                <h4 class="modal-title">Confirm</h4>
                <span class="close" data-dismiss="modal">X</span>
            </div>
            <p ng-hide="doctoractive" class="referral-suc-msg">Are you sure do you wish to activate this doctor ?</p>
            <p ng-show="doctoractive" class="referral-suc-msg">Are you sure do you wish to inactivate this doctor ?</p>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-grey light-font" data-dismiss="modal">No</button>
                <button ng-hide="doctoractive" ng-click="deleteDoctorpopupclick(true)" class="btn btn-primary" id="AddNewPaintent">Yes</button>
                <button ng-show="doctoractive" ng-click="deleteDoctorpopupclick(false)" class="btn btn-primary" id="AddNewPaintent">Yes</button>
            </div>
        </div>
    </div>
</div>