<!-- Branch Listing -->
<div class="animated scheduling" ng-controller="adminSchedulingController">
    <div class="admin-top-header">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="form-group date-select">
                    <i class="fa fa-chevron-left" aria-hidden="true" ng-click="changeDate(-1)"></i>
                    <input type="text" class="form-control icons-calendar" referraldatepicker placeholder="DD-MM-YYYY"
                        ng-change="changeDate(0)" ng-model="ScheduleDate">
                    <i class="fa fa-chevron-right" aria-hidden="true" ng-click="changeDate(1)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 no-pad">
                <div class="head gray">
                    <select class="form-control" ng-model="selectedRegion" ng-change="filterbyregion()">
                        <option value="">Select Region</option>
                        <option ng-repeat="region in regionList" value="{{region.regionid}}">{{region.regionname}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-9 no-pad">
                <div class="head blue text-center">
                    <h3>Create or Update Schedule</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="schedule-slot">
                    <form name="schedule" novalidate="novalidate">
                        <div class="col-sm-3 no-pad">
                            <div class="clinic-coll">
                                <div class="clinic-list"
                                    ng-class="{'selected': selectClinic == $index, 'completed': hospital.scheduledetail.Active == 'Y'}"
                                    ng-repeat="hospital in hospitalCollection | filter: {districtregion:selectedRegion} | orderBy: 'sort'"
                                    ng-click="fillClinicData(hospital); setClinic($index);">
                                    <h6>{{hospital.hospitalname}}</h6>
                                    <span><span>Region: </span>{{hospital.regionName}}</span>
                                    
                                    <span class="options">
                                        <i class="fa fa-plus" ng-show="hospital.addnew"
                                            ng-click="showCollection(hospital)" aria-hidden="true"></i>
                                        <div class="pl-button" ng-show="hospital.scheduledetail.Active == 'Y'">
                                        <a href="javascript:;" class="i-delete" data-tooltip="Delete" ng-click="getDeleteScheduleDetails(hospital)"></a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 no-pad">
                            <div class="doctor-list" ng-show="addEditSchedule">
                                <div class="col-sm-6">
                                    <label>Select Sonographer <em>*</em></label>
                                    <select class="form-control" ng-model="selectedHos.sonographerid" convert-to-number
                                        required="required" ng-change="setMinpercase(selectedHos.sonographerid)">
                                        <option ng-show="doc.roleid == 'SONOGRAPHER'"
                                            ng-repeat="doc in selectedHos.doctordetails" value="{{doc.doctorid}}">
                                            {{doc.doctorname}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Select Support Worker <em>*</em></label>
                                    <select class="form-control" ng-model="selectedHos.supportworkerid"
                                        convert-to-number required="required">
                                        <option ng-show="doc.roleid == 'CLINICALSUPPWORKER'"
                                            ng-repeat="doc in selectedHos.doctordetails" value="{{doc.doctorid}}">
                                            {{doc.doctorname}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mt-20">
                                    <label>Slot In Minutes <em>*</em></label>
                                    <select class="form-control" ng-model="selectedHos.scheduledetail.MinPerCase"
                                        convert-to-number required="required">
                                        <option value="5">05</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mt-20">
                                    <label> Cost <em>*</em></label>
                                    <div class="radio-options no-mar">
                                        <div class="radio inline-show mt-0">
                                            <label>
                                                <input type="radio" ng-model="selectedHos.RoomCostStatus"
                                                    name="costtype" value="F"> Room Cost For Full Day
                                            </label>
                                        </div>
                                        <div class="radio inline-show">
                                            <label>
                                                <input type="radio" ng-model="selectedHos.RoomCostStatus"
                                                    name="costtype" value="H"> Room Cost For Half Day
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-20 errorborder">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4>Working Hours <span style="font-size:12px;"> (Time Format- HH:MM) </span></h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>From Time <em>*</em></label>
                                                    <div class="dropdown timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle1"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control" id="workFromTime" name="workFromTime"
                                                                data-ng-model="selectedHos.scheduledetail.FromTime1"
                                                                required="required" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.FromTime1"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle1')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, 5, undefined)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>To Time <em>*</em></label>
                                                    <div class="dropdown timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle2"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.ToTime1"
                                                                required="required" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.ToTime1"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle2')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, selectedHos.scheduledetail.FromTime1)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4>Urgent time slots</h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>From Time <em>*</em></label>
                                                    <div class="dropdown timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle3"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.FromTime2"
                                                                required="required" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                            aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.FromTime2"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle3')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, undefined)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>To Time <em>*</em></label>
                                                    <div class="dropdown timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle4"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.ToTime2"
                                                                required="required" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                            aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.ToTime2"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle4')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, selectedHos.scheduledetail.FromTime2)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-20 errorborder">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4>Break Time 1</h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>From Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle5"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime1"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle5')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, undefined)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>To Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle6"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime1"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle6')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, 5, selectedHos.scheduledetail.FromBreakTime1)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4>Break Time 2</h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>From Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle7"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                            aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime2"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle7')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, undefined)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>To Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle8"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                            aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime2"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle8')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, 5, selectedHos.scheduledetail.FromBreakTime2)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mt-20 errorborder">
                                            <h4>Break Time 3</h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>From Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle9"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime3" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.FromBreakTime3"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle9')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, selectedHos.scheduledetail.MinPerCase, undefined)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>To Time </label>
                                                    <div class="dropup timechoose timeformat">
                                                        <a class="dropdown-toggle" id="dropToggle10"
                                                            data-toggle="dropdown">
                                                            <input type="text" class="form-control"
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime3" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                                <span class="formatspan">(HH:MM)</span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker
                                                                data-ng-model="selectedHos.scheduledetail.ToBreakTime3"
                                                                data-on-set-time="onTimeSet(newDate, oldDate, 'dropToggle10')"
                                                                data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                                data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, 5, selectedHos.scheduledetail.FromBreakTime3)">
                                                            </datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mt-50 pt-20">
                                            <!-- <label class="control control--checkbox pull-left mt-10">
                                                <span>Apply the same for next 7 days</span>
                                                <input type="checkbox" ng-model="selectedHos.applyNextSevenDays">
                                                <div class="control__indicator"></div>
                                            </label> -->
                                            <div class="pull-right mt-10">
                                                <button ng-show="!selectedHos.scheduledetail.AddressConsultID"
                                                    class="btn btn-primary" ng-click="addSchedule(selectedHos, false);"
                                                    ng-disabled="!schedule.$valid">Create</button>
                                                <button ng-show="selectedHos.scheduledetail.AddressConsultID"
                                                    class="btn btn-primary update" ng-click="addSchedule(selectedHos, true);" 
                                                    ng-disabled="!schedule.$valid">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="viewUp" ng-show="showNewColl">
                <span class="close" ng-click="showNewColl = false;">X</span>

                <div class="schedule-slot selected">
                    <div class="col-sm-3">
                        <div class="clinic-list" ng-click="fillClinicData(hospitalNew);">
                            <h6>{{hospitalNew.hospitalname}}</h6>
                            <span><span>Region: </span> {{hospitalNew.regionName}}</span>
                        </div>
                    </div>
                    <div class="col-sm-9 pt-20 pb-20">
                        <div class="row pb-20">
                            <div class="col-sm-4">
                                <label>Select Sonographer <em>*</em></label>
                                <select class="form-control" ng-model="hospitalNew.sonographerid" convert-to-number>
                                    <option ng-show="doc.roleid == 'SONOGRAPHER'"
                                        ng-repeat="doc in hospitalNew.doctordetails" value="{{doc.doctorid}}">
                                        {{doc.doctorname}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Support Worker <em>*</em></label>
                                <select class="form-control" ng-model="hospitalNew.supportworkerid" convert-to-number>
                                    <option ng-show="doc.roleid == 'CLINICALSUPPWORKER'"
                                        ng-repeat="doc in hospitalNew.doctordetails" value="{{doc.doctorid}}">
                                        {{doc.doctorname}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Time Slot <em>*</em></label>
                                <select class="form-control" ng-model="hospitalNew.scheduledetail.MinPerCase"
                                    convert-to-number>
                                    <option value="0"></option>
                                    <option value="5">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="doctor-list">
                        </div> -->
                        <div class="row">
                            <div class="col-sm-6 pb-15 errorborder">
                                <h4>Working Hours <span style="font-size:12px;"> (Time Format- HH:MM) </span></h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>From Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew1New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.FromTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.FromTime1"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew1New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>To Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew2New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.ToTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.ToTime1"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew2New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pb-15 errorborder">
                                <h4>Urgent Time</h4>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <label>From Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew9New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.FromTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.FromTime2"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew9New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>To Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew10New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.ToTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                                aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.ToTime2"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew10New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pb-15 errorborder">
                                <h4>Break Time 1</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>From Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenewNew" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime1"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew3New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>To Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew4New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.ToBreakTime1" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.ToBreakTime1"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew4New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pb-15 errorborder">
                                <h4>Break Time 2</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>From Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew5New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime2"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew5New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>To Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew6New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.ToBreakTime2" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.ToBreakTime2"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew6New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pb-15 errorborder">
                                <h4>Break Time 3</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>From Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew7New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime3" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker
                                                    data-ng-model="hospitalNew.scheduledetail.FromBreakTime3"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew7New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>To Time</label>
                                        <div class="dropdown timechoose timeformat">
                                            <a class="dropdown-toggle" id="dropTogglenew8New" data-toggle="dropdown">
                                                <input type="text" class="form-control"
                                                    data-ng-model="hospitalNew.scheduledetail.ToBreakTime3" ng-pattern="/^([0-1]?[0-9]|2[0-3]):([0-5][0-9])(:[0-5][0-9])?$/">
                                                    <span class="formatspan">(HH:MM)</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="hospitalNew.scheduledetail.ToBreakTime3"
                                                    data-on-set-time="onTimeSet(newDate, oldDate, 'dropTogglenew8New')"
                                                    data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 5, modelType: 'HH:mm' }"
                                                    data-before-render="beforeRender($leftDate, $rightDate, $upDate, $view, $dates, hospitalNew.scheduledetail.MinPerCase)">
                                                </datetimepicker>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button ng-show="!hospitalNew.scheduledetail.AddressConsultID" class="btn btn-primary"
                                    ng-click="addSchedule(hospitalNew, $index, false)">Create</button>
                                <button ng-show="hospitalNew.scheduledetail.AddressConsultID"
                                    class="btn btn-primary update"
                                    ng-click="addSchedule(hospitalNew, $index, true)">Update</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 no-pad">
                        <ul class="slot-booking">
                            <li>
                                <label>In Minutes</label>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li ng-show="selectBreakNew == '1New' || showfirstBreakNew == 1">
                            </li>
                            <li ng-show="selectBreakNew == '1New' || showfirstBreakNew == 1">
                            </li>
                            <li ng-show="selectBreakNew == '2New'">
                            </li>
                            <li ng-show="selectBreakNew == '2New'">
                            </li>
                            <li ng-show="selectBreakNew == '3New'">
                            </li>
                            <li ng-show="selectBreakNew == '3New'">
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <ul class="break-slots">
                            <li ng-class="{'active': selectBreakNew == '1New' }" ng-click="showBreakNew('1New'); showfirstBreakNew = 0">Break Time 1 - <span>{{hospitalNew.scheduledetail.FromBreakTime1}} - {{hospitalNew.scheduledetail.ToBreakTime1}}</span></li>
                            <li ng-class="{'active': selectBreakNew == '2New'}" ng-click="showBreakNew('2New'); showfirstBreakNew = 0">Break Time 2 - <span>{{hospitalNew.scheduledetail.FromBreakTime2}} - {{hospitalNew.scheduledetail.ToBreakTime2}}</span></li>
                            <li ng-class="{'active': selectBreakNew == '3New'}" ng-click="showBreakNew('3New'); showfirstBreakNew = 0">Break Time 3 - <span>{{hospitalNew.scheduledetail.FromBreakTime3}} - {{hospitalNew.scheduledetail.ToBreakTime3}}</span></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>