<div class="c7report" ng-controller="appointmentsWithIndicationController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="date-range">
                            <label for="range">Filter By Range <em>*</em></label>
                            <div class="form-group clearfix no-mar">
                                <input class="form-control col-sm-6 icons-calendar" placeholder="DD-MM-YYYY" ng-model="daterange" type="text" daterangedashboardpicker id="dashdaterange">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 text-left pt-20">
                        <figure class="cursor export-excel ml-10" title="Export to Excel" ng-click="getAppointmentData()"><img src="images/export-excel.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <!-- <div ng-show="appointmentData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>