<div class="admin-dashborad">
    <!-- <h3>License Information</h3>
            <div class="licenses-info clearfix">
                <div class="license-purchased animated fadeIn">
                  <h1 ng-bind="(dashboardData.LicensePurchased == 0)?'Unlimited':dashboardData.LicensePurchased"></h1>
                  <p>License Purchased</p>
                </div>
                <div class="branch-allowed animated fadeIn">
                  <h1 ng-bind="(dashboardData.BranchesAllowed == 0)?'Unlimited':dashboardData.BranchesAllowed"></h1>
                  <p>Branches allowed</p>
                </div>
                <div class="dr-purchased animated fadeIn">
                  <h1 ng-bind="(dashboardData.DoctorsAllowedPerBranch == 0)?'Unlimited':dashboardData.DoctorsAllowedPerBranch"></h1>
                  <p>Doctors allowed</p>
                </div>
                <div class="recep-branch animated fadeIn">
                  <h1 ng-bind="(dashboardData.ReceptionistAllowedPerBranch == 0)?'Unlimited':dashboardData.ReceptionistAllowedPerBranch"></h1>
                  <p>Receptionists allowed</p>
                </div>
                <div class="unlimited-purchase animated fadeIn">
                  <h1>Unlimited</h1>
                  <p>Number of Consultants</p>
                </div>
                <a href="javascript:;" class="i-settings hide"></a>
            </div> -->

    <div class="row">
        <div class="col-lg-6 no-pad-right">
            <div class="user-statistics">
                <h3>Usage Statistics</h3>
                <div class="dash-branch animated zoomIn">
                    <h4>Agents</h4>
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageUser')"></a>
                    <div class="branch-count">
                        <img src="img/admin-img/Recept.png">
                        <div class="bc-no">
                            <div class="bc-no-1">
                                <h1 ng-bind="dashboardData.AgentAdded"></h1>
                                <span>Agents Added</span>
                            </div>
                            <!-- <div class="bc-no-1" ng-if="dashboardData.ReceptionistAllowedPerBranch != 0">
                                <h1 ng-bind="dashboardData.ReceptionistAvailable"></h1>
                                <span>Available</span>
                            </div>
                            <div class="bc-no-1" ng-if="dashboardData.ReceptionistAllowedPerBranch == 0">
                                <h1 ng-bind="'Unlimited'"></h1>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="dash-branch animated zoomIn">
                    <h4>Lead Agent</h4>
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageUser')"></a>
                    <div class="branch-count">
                        <img src="img/admin-img/Const.png">
                        <div class="bc-no">
                            <div class="bc-no-1">
                                <h1 ng-bind="dashboardData.LeadAgentAdded"></h1>
                                <span>Lead Agent Added</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dash-branch animated zoomIn">
                    <h4>Support Workers</h4>
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageUser')"></a>
                    <div class="branch-count">
                        <img src="img/admin-img/Const.png">
                        <div class="bc-no">
                            <div class="bc-no-1">
                                <h1 ng-bind="dashboardData.ClinicalSupportWorkerAdded"></h1>
                                <span>Support Workers Added</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dash-branch animated zoomIn">
                    <h4>Sonographers</h4>
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageUser')"></a>
                    <div class="branch-count">
                        <img src="img/admin-img/Doctors.png">
                        <div class="bc-no">
                            <div class="bc-no-1">
                                <h1 ng-bind="dashboardData.SonographerAdded"></h1>
                                <span>Sonographers Added</span>
                            </div>
                            <!-- <div class="bc-no-1" ng-if="dashboardData.DoctorsAllowedPerBranch != 0">
                                <h1 ng-bind="dashboardData.DoctorsAvailable"></h1>
                                <span>Available</span>
                            </div>
                            <div class="bc-no-1" ng-if="dashboardData.DoctorsAllowedPerBranch == 0">
                                <h1 ng-bind="'Unlimited'"></h1>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="dash-branch animated zoomIn">
                    <h4>Locations</h4>
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageBranch')"></a>
                    <div class="branch-count">
                        <img src="img/admin-img/Branches.png">
                        <div class="bc-no">
                            <div class="bc-no-1">
                                <h1 ng-bind="dashboardData.BranchesCreated"></h1>
                                <span>Locations Created</span>
                            </div>
                           <!--  <div class="bc-no-1" ng-if="dashboardData.BranchesAllowed != 0">
                                <h1 ng-bind="dashboardData.BranchesAvailable"></h1>
                                <span>Available</span>
                            </div>
                            <div class="bc-no-1" ng-if="dashboardData.BranchesAllowed == 0">
                                <h1 ng-bind="'Unlimited'"></h1>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="user-statistics">
                <h3>Users &amp; Profiles</h3>
                <div class="dash-user-profiles animated zoomIn">
                    <a href="javascript:;" class="i-settings" ng-click="adminMain.showPage('manageUser')"></a>
                    <div class="total-users-added">
                        <h1 ng-bind="dashboardData.TotalUserCount"></h1>
                        <p>Total Users Added</p>
                    </div>
                    <div class="total-pro-created">
                        <h1 ng-bind="dashboardData.Profilecount"></h1>
                        <p>Profiles Created</p>
                        <a href="javascript:;" class="i-arrow-big" ng-click="showMe=true"></a>
                    </div>
                </div>
                <div class="list-profile animated zoomInLeft" ng-show="showMe==true">
                    <h5>Profiles Created</h5>
                    <a href="javascript:;" ng-click="showMe=false" class="i-close" data-tooltip="Close"><img src="img/admin-img/close-icon.png"></a>
                    <ul>
                        <li ng-repeat="key in dashboardData.Profilelist | orderBy:key" ng-bind="key" ng-if="dashboardData.Profilelist.length > 0"></li>
                        <li ng-bind="'No Profile Created'" ng-if="dashboardData.Profilelist.length == 0"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  <!--   <div class="row">
        <div class="col-lg-12 text-center">
            <p class="f-text" ng-hide="urlpath">For More Branch / User Licenses, Please contact our support team. Call <strong>+91 95432 79999</strong> or Email <strong>hello@hcue.co</strong></p>
            <p class="f-text" ng-show="urlpath">For More Branch / User Licenses, Please contact our support team. Email <strong>justdentalindia@gmail.com</strong></p>
        </div>
    </div> -->
</div>