 <div>
 		<input type="checkbox" class="checkbox" ng-model="property[value]"
           ng-true-value="'YES'" ng-false-value="'NO'" id="{{property[descvalue]}}" ng-change="action(property)" text ='descvalue'/ >
           <span class="lbl"></span>
        <label for="{{property[descvalue]}}">{{property[descvalue]}}</label>
           
    </div>