 <div>
 		<select>
 			<option value="pos" selected>+</option>
 			<option value="neg">-</option>
 		</select>
        <input type="text" class="optho-min-box optho-input-box" id="property[idname]" ng-model="property[value]" ng-blur="action(property)" placeholder="{{placeholder}}"/>
    </div>