<style type="text/css">
.modal-common {
    z-index: 999;
}

#getDateValueList {
    width: 160px;
    padding-right: 5px;
}

.hospitalListBox {
    max-width: 200px;
}

.doctorListBox {
    /*  display: inline-block;
        width: 250px; */
    margin-top: 15px;
}

span.char {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 37px;
    font-size: 13px;
    text-transform: uppercase;
}

span.char.hcuegreen {
    background-color: #039394;
}

span.char.orange {
    background-color: #F37224;
}

.appointmentlist .app-pa-name {
    max-width: 190px;
    vertical-align: middle;
}

.modal-dialog {
    width: 800px !important;
}

.pac-container {
    z-index: 1200;
}
</style>
<div class="wrapper" ng-controller="hcueAppointmentListVitalsController">
    <div class="modal-overlay" ng-show="showpatientvitals == true"></div>
    <div class="modal-common" ng-show="showpatientvitals == true " id="refdoctor">
        <div class="modal-common-dialog app-new-popup" style="width: 815px;">
            <div class="model-popup-header">
                <h4 class="modal-title" id="myModalLabel">Parameters</h4>
            </div>
            <div class="row">
                <!-- Bp -->
                <div class="col-md-4" style="display:none;" id="bp">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar-2"><img src="img/vitals/icon-bp-black.png"></div>
                            <div class="count">
                                <small>BP (Mm/Hg)</small>
                                <input type="text" id='bplow' class="form-control temp-box ng-valid ng-valid-maxlength ng-touched ng-dirty ng-valid-parse ng-pristine ng-untouched" maxlength="3" placeholder="Systolic" ng-model="bplow" numbers-only="numbers-only" style="float: left; width: 48%; display: none;" ng-change="focusNext(bplow)">
                                <input type="text" id='bphigh' class="form-control temp-box ng-pristine ng-valid ng-valid-maxlength ng-touched ng-untouched" maxlength="3" placeholder="Diastolic" ng-model="bphigh" numbers-only="numbers-only" style="float: left; width: 48%; display: none; margin-left: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- height -->
                <div class="col-md-4" style="display:none;" id="height">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/icon-height-black.png"></div>
                            <div class="count">
                                <small>Height (Cms)</small>
                                <input type="text" ng-change="bmiCalcultaion()" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="height" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- weight -->
                <div class="col-md-4" style="display:none;" id="weight">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/icon-weight-black.png"></div>
                            <div class="count">
                                <small>Weight (Kgs)</small>
                                <input type="text" ng-change="bmiCalcultaion()" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="weight" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bmi -->
                <div class="col-md-4" style="display:none;" id="bmivalue">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/bmi.png" /></div>
                            <div class="count">
                                <small>BMI</small>
                                <input type="text" id="bmi" class="form-control temp-box" placeholder="" ng-model="Bmivalue" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fasting/pp -->
                <div class="col-md-4" style="display:none;" id="fasting">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line"><img src="img/vitals/icon-sugar-black.png"></div>
                            <div class="count">
                                <small>Fasting &amp; PP</small>
                                <input type="text" id="sugarfast" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="3" placeholder="Fasting" ng-model="sugarfast" numbers-only="numbers-only" style="float: left;width: 48%;display: none;" ng-change="focusNext(sugarfast)">
                                <input type="text" id="sugarpp" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="3" placeholder="PP" ng-model="sugarpp" numbers-only="numbers-only" style="float: left;width: 48%;display: none;margin-left: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sugar -->
                <div class="col-md-4" style="display:none;" id="random">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/icon-sugar-black.png"></div>
                            <div class="count">
                                <small>Sugar Random</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="SugarRa" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- temp -->
                <div class="col-md-4" style="display:none;" id="tmp">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar"><img src="img/vitals/icon-temp-black.png"></div>
                            <div class="count">
                                <small>Temperature (*F)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="Farenheit" ng-model="temperature" numbers-only-temp="numbers-only-temp" maxlength="5">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pulse -->
                <div class="col-md-4" style="display:none;" id="Pulse">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar"><img src="img/vitals/icon-pulse-rate.png"></div>
                            <div class="count">
                                <small>Pulse Rate (bpm)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Pulse" maxlength="3" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- spo2 -->
                <div class="col-md-4" style="display:none;" id="Spo2">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar"><img src="img/vitals/spo2a.png"></div>
                            <div class="count">
                                <small>SpO2 (%)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Spo2" maxlength="2" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- blood -->
                <div class="col-md-4" style="display:none;" id="bloodGroup">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/icon-bloodgroup-black.png"></div>
                            <div class="count">
                                <small>Blood Group</small>
                                <div class="box-enter bo-bg">
                                    <select class="form-control select-dropdown ng-pristine ng-untouched ng-valid" ng-model="bloodgroup" style="padding: 0 5px;font-size: 12px;color: #777;">
                                        <option value="">Select</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- head -->
                <div class="col-md-4" style="display:none;" id="headcf">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line-2"><img src="img/vitals/head_circumference.png" /></div>
                            <div class="count">
                                <small>Head Circumference (cms)</small>
                                <input type="text" id="hcf" class="form-control temp-box" placeholder="" maxlength="6" numbersdots-only="numbersdots-only" ng-model="hcf">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- resp -->
                <div class="col-md-4" style="display:none;" id="Resp">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar"><img src="img/vitals/respiratory.png"></div>
                            <div class="count">
                                <small>Respiratory Rate (Per Min)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Resp" maxlength="2" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- lipid -->
                <div class="col-md-4" style="display:none;" id="lipid">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!-- <div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>Lipid Profile (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Lipid" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chol -->
                <div class="col-md-4" style="display:none;" id="chol">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!-- <div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>Total Cholesterol (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Chol" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hdl -->
                <div class="col-md-4" style="display:none;" id="hdl">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!-- <div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>HDL (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Hdl" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ldl -->
                <div class="col-md-4" style="display:none;" id="ldl">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!-- <div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>LDL (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Ldl" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ldl -->
                <div class="col-md-4" style="display:none;" id="trig">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!-- <div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>Triglycerides (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Trig" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- serum -->
                <div class="col-md-4" style="display:none;" id="serum">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <!--<div class="chart stats-line-2"><img src="img/icon-height-black.png"></div>-->
                            <div class="count">
                                <small>Serum Creatinine (Mg/DL)</small>
                                <input type="text" class="form-control temp-box ng-pristine ng-untouched ng-valid ng-valid-maxlength" placeholder="" ng-model="Serum" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pefr -->
                <div class="col-md-4" style="display:none;" id="Pefr">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="count">
                                <small>PEFR ( L/Min)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Pefr" maxlength="3" numbers-only="numbers-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hba -->
                <div class="col-md-4" style="display:none;" id="hba">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="count">
                                <small>HBA1c (%)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Hba" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wstc -->
                <div class="col-md-4" style="display:none;" id="wstc">
                    <div class="mini-charts-item custom-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="count">
                                <small>Waist circumference (cm)</small>
                                <input type="text" class="form-control temp-box" placeholder="" ng-model="Wstc" maxlength="6" numbersdots-only="numbersdots-only">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="vitalshow == true" class="billing-cominsoon norecords-found-patients text-center">
                    <img src="img/setting-noresulticon.png">
                    <div class="msg">
                        <p class="goback-text-line2">No Vitals have been added yet</p>
                    </div>
                    <p>
                        <a href="javascript:;" ng-click="settings()" class="appt-list-link" style="">Vital Settings</a>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-show="vitalshow == true" class="btn btn-grey" data-dismiss="modal" ng-click="Closevitals()">Cancel</button>
                <button class="btn btn-primary" ng-show="vitalshow == true" type="button" ng-click="Savevitals()">Save</button>
                <button class="btn btn-primary" ng-hide="vitalshow == true" type="button" ng-click="Closevitals()">Ok</button>
            </div>
        </div>
    </div>
    <div class="modal-overlay" ng-show="checkInalert == true"></div>
    <div class="modal-common" ng-show="checkInalert == true " id="chekin">
        <div class="modal-common-dialog pup-400">
            <div class="model-popup-header">
                <h4 class="modal-title" id="myModalLabel" style="padding:15px 0px !important;">Check-in not allowed</h4>
            </div>
            <div class="chout-msg">
                <p>'Check-in' cannot be done when the consultation is completed or cancelled.</p>
            </div>
            <div class="text-center"><a href="javascript:;" ng-click="closeAlert()" class="btn btn-primary">Done</a></div>
        </div>
    </div>
    <div class="modal-overlay" ng-show="checkInEdit == true"></div>
    <div class="modal-common" ng-show="checkInEdit == true " id="chekin">
        <div class="modal-common-dialog">
            <div class="model-popup-header">
                <h4 class="modal-title" id="myModalLabel" style="padding:15px 0px !important;">Check In</h4>
            </div>
            <div class="row">
                <div class="col-lg-12 dia-notes form-group">
                    <h4>Visit Reason</h4>
                    <div class="d-notes-box clearfix">
                        <textarea placeholder="Enter Visit Reason" style="width: 560px  !important;" class="msd-elastic form-control" ng-model="VisitReason" aw-limit-length="500" uib-typeahead="visitReasonitem as visitReasonitem.VisitRsnTitle for visitReasonitem in visitReasonList | filter:$viewValue | filter:{ActiveIND:'Y'}|limitTo:12" ng-change="visitReasonOnChange()" typeahead-on-select="onItemSelected(VisitReason)" typeahead-template-url="customTemplateMedHistory.html" typeahead-min-length="3" typeahead-wait-ms="500"></textarea>
                        <a href="javascript:void(0);" class="tbox-clear" title="" value="Clear All" ng-hide="VisitReason == undefined || VisitReason == ''" ng-click="clearVisitReason()">Clear</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group" ng-show="ReferralList.length>0">
                    <label for="" class="">Referral</label>
                    <select name="Source" class="form-control select-dropdown" id="Source" ng-model="Source" ng-change="SourceChange(Source)">
                        <option ng-selected="" value="">Select Referral</option>
                        <option ng-repeat="Ref in ReferralList | filter:{'ActiveIND':'Y'}" ng-selected="Source == Ref.ReferralID" value="{{Ref.ReferralID}}" ng-bind="Ref.ReferralTitle"></option>
                    </select>
                </div>
                <div class="col-md-6 form-group" ng-show="subSourceList.length > 0">
                    <label for="" class="">Sub Referral</label>
                    <select name="SubSource" class="form-control select-dropdown" id="SubSource" ng-model="SubSource">
                        <option value="" ng-selected="">Select Sub Referral</option>
                        <option ng-repeat="sub in subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}" ng-selected="sub.SubCatagoryID==SubSource" ng-bind="sub.SubCatagoryDesc"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-5 no-pad">
                        <div class="patientlist-ltime">
                            <span ng-show="checkInTime == true">Checked-In @<strong ng-bind="checkedInTime"></strong></span>
                        </div>
                    </div>
                    <div class="col-lg-7 no-pad">
                        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="closeCheckIn()">Cancel</button>
                        <button class="btn btn-primary" type="button" ng-click="submitCheckIn()">{{SubmitName}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="app-header">
            <div class="form-inline row">
                <div class="col-lg-12">
                    <div class="sel-hos-box">
                        <label class="apptlbln">Practice</label>
                        <select class="form-control docAddressTextBox select-dropdown " name="docAddress" ng-model="appControl.AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress" ng-change="loadDoctor(appControl.AppListselectedclinic,true,'list')" style="width: 150px !important;">
                        </select>
                    </div>
                    <div class="app-date" style="padding-left:2%;">
                        <label class="apptlbln">Date</label>
                        <div class="list list-inset docDateTextBox" ng-show="appointmentlistID == true">
                            <input class="form-control icons-calendar" ng-model="referredappointmentdate" datepickerappointmentlist ng-change="getListingDetailsonDateChange(referredappointmentdate,'list')" readonly style="width:170px !important;cursor: default;    background-color: #fff;">
                        </div>
                        <div class="date-pick" ng-hide="true">
                            <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ng-show="showCalendarID == true"></daypilot-navigator>
                        </div>
                    </div>
                    <!-- <div class="sel-doc-box">  -->
                    <!-- <div ng-show="(isAccessRightsApplicable && allDoctorAllowed)" class=""> -->
                    <!-- <label>Doctors</label> -->
                    <!-- <select class="form-control docAddressTextBox select-dropdown" name="docID" ng-model="selectedDoctor" ng-options="s.FullName for s in clinicDoctorList | filter:greaterThan('DoctorID',1)" ng-change="loadAppointments(selectedDoctor)" style="width: 150px !important;"> -->
                    <!-- <option value="">All Doctors</option> -->
                    <!-- </select> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <div class="sel-doc-box" ng-if="(isAccessRightsApplicable && allDoctorAllowed)">
                        <div class="dropdown dropdown-scroll">
                            <label class="apptlbln">Sonographers</label>
                            <!--<button class="form-input select-dropdown" style="width: 170px; text-align: left;" type="button" ng-click="ClearSearchDoctorText()" id="dropdownMenu1" data-toggle="dropdown">
                                All Doctors 
                            </button>-->
                            <button class="form-input select-dropdown boxshadowbill" style="width: 170px; text-align: left;" type="button" id="dropdownMenu1" data-toggle="dropdown" ng-click="cleardoctor()">
                                {{selectedDoctor.FullName}}
                            </button>
                            <div class="dropdown-menu dr-drop-app apptsearchdroplist" role="menu" aria-labelledby="dropdownMenu1">
                                <div class="input-group input-group-sm search-control">
                                    <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search Doctor" ng-model="query.value" />
                                </div>
                                <ul>
                                    <li role="presentation" ng-repeat="item in clinicDoctorList | filter:{'FullName':query.value}">
                                        <a href="javascript:;" ng-click="loadAppointments(item)"> {{item.FullName}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sel-doc-box" ng-if="(isAccessRightsApplicable && allDoctorAllowed)">
                        <div class="dropdown dropdown-scroll">
                            <label class="apptlbln">Location</label>
                            <!--<button class="form-input select-dropdown" style="width: 170px; text-align: left;" type="button" ng-click="ClearSearchDoctorText()" id="dropdownMenu1" data-toggle="dropdown">
                                All Doctors 
                            </button>-->
                            <button class="form-input select-dropdown boxshadowbill" style="width: 170px; text-align: left;" type="button" id="dropdownMenu1" data-toggle="dropdown" ng-click="cleardoctor()">
                                {{selectedDoctor.FullName}}
                            </button>
                            <div class="dropdown-menu dr-drop-app apptsearchdroplist" role="menu" aria-labelledby="dropdownMenu1">
                                <div class="input-group input-group-sm search-control">
                                    <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search Doctor" ng-model="query.value" />
                                </div>
                                <ul>
                                    <li role="presentation" ng-repeat="item in clinicDoctorList | filter:{'FullName':query.value}">
                                        <a href="javascript:;" ng-click="loadAppointments(item)"> {{item.FullName}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sel-hos-box">
                        <button class="btn btn-filled" style="margin: 0 10px;">24 to 48 Hrs</button>
                        <button class="btn btn-primary">Confirmed</button>
                    </div>
                </div>
                <div class="col-md-4 pull-right hide">
                    <div class="pull-right">
                        <!--<input type="button" value="Register Patient" class="btn btn-filled" ng-click="Regpatient(true)" name="Reg">-->
                        <a ng-hide="(loginUserType == 'Receptionist' || loginUserType == 'Administrator')" href="#/phonenumber" class="btn btn-primary">Walk-In Consultation</a>
                    </div>
                    <div ng-hide="true">
                        <button type="submit" name="today" class="btn todayButtonAppointment btn-primary">Today
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <center><i class="ion-loading-c" style="font-size:25px" ng-show="referredshowloading"></i></center>
            <div class="row" ng-hide="referredappointmentlist.length==0">
                <div class="col">
                    <!-- <div class="list-border margin-y10px " ng-class="item.active"   ng-repeat="item in referredappointmentlist  "> -->
                    <div class="table-container data-grid appintment_view_pane" ng-class="item.active">
                        <!-- <div class="col-md-5 no-pad">
                            <p class="today-appointment">Todays Appointments - 25</p>
                        </div> -->
                        <div class="form-group col-md-3 pull-left no-pad">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-search i-ser-app"></i>
                                <input type="text" class="form-control" placeholder="Search list below" ng-model="searchDoctorList" style="    padding-left: 35px;">
                                <i class="fa search-patient-clearfield" ng-hide="searchDoctorList == ''||searchDoctorList == undefined" data-ng-click="ClearsearchDoctorList()"></i>
                            </div>
                        </div>
                        <table st-table="rowCollection" class="table new-table table-striped appointmentTableThBg appointmentlist">
                            <thead>
                                <tr ng-hide="referredappointmentlist.length==0">
                                    <th><a href="javascript:;" ng-click="orderByField='SeqNo'; reverseSort = !reverseSort" class="appoint-status">Time<img src="img/satus.png" alt=""></a></th>
                                    <th>Check In</th>
                                    <th>Token</th>
                                    <th class="app-pa-name">Patient Name</th>
                                    <th>Age &amp; Gender</th>
                                    <th>Contact No.</th>
                                    <th ng-hide="true">Email ID</th>
                                    <th>
                                        <a href="javascript:;" ng-click="orderByField='AppointmentStatus'; reverseSort = !reverseSort" class="appoint-status">Status <img src="img/satus.png" alt=""></a>
                                    </th>
                                    <th ng-if="isAccessRightsApplicable">Doctor Name</th>
                                    <th>Due ({{currencyType}})</th>
                                    <!-- <th>
                                       
                                    </th>
                                    <th></th>
                                    <th></th> -->
                                    <th ng-if="!isAccessRightsApplicable">
                                        <!-- <button type="submit" name="today" class="pull-right" ng-click="GetReferredAppointmentByConsultIds()"><img src="img/icon-reload.png" data-tooltip="Refresh" alt=""></button> -->
                                        <a href="" data-tooltip="Refresh" class="pull-right" ng-click="loadDoctor(appControl.AppListselectedclinic,true,'list')">
                                            <img src="img/icon-reload.png" alt="">
                                            <span class="app-ref-btn">Refresh</span>
                                        </a>
                                    </th>
                                    <th ng-if="isAccessRightsApplicable">
                                        <!--  <button type="submit" name="today" class="pull-right" ng-click="GetReferredAppointmentByDoctorID()"><img src="img/icon-reload.png" data-tooltip="Refresh" alt=""></button> -->
                                        <a href="" class="pull-right" ng-click="loadDoctor(appControl.AppListselectedclinic,true,'list')">
                                            <img src="img/icon-reload.png" alt="">
                                            <span class="app-ref-btn">Refresh</span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in referredappointmentlist | orderBy:orderByField:reverseSort |filter:searchDoctorList as resultnotfound" class="appointment-row">
                                    <td>{{row.StartTime}}</td>
                                    <td>
                                        <button class="chkin-btn" ng-click="checkin(row)" ng-class="row.CheckInTime ? ' btn-primary-green' : ''">IN</button>
                                    </td>
                                    <td>{{(row.TokenNumber == 0)? "Walk-In" : row.TokenNumber}}</td>
                                    <td class="app-pa-name">
                                        <a class="" ng-click="open(row)">
                                            <div class="profile-show">
                                                <div class="profile-avatar-image">
                                                    <span ng-show="row.title == 'Mr'" style="background:{{row.colors}}">{{row.PatientName | limitTo:2:4}}
                                                   </span>
                                                    <span ng-show="row.title == 'Mrs'" style="background:{{row.colors}}">
                                                        {{row.PatientName | limitTo:2:5}}
                                                    </span>
                                                    <span ng-show="row.title == 'Baby'" style="background:{{row.colors}}">
                                                        {{row.PatientName | limitTo:2:6}}
                                                    </span>
                                                    <span ng-hide="row.title == 'Baby' || row.title == 'Mr' || row.title == 'Mrs' " style="background:{{row.colors}}">
                                                        {{row.PatientName | limitTo:2}}
                                                    </span>
                                                </div>
                                                <span>
                                                    {{row.PatientName | firstUpper}}
                                                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td>{{(row.Age == undefined)?"-":row.Age}} / {{row.Gender}}</td>
                                    <td>{{row.PatientDetails.Patient[0].PhNumber}}</td>
                                    <td>
                                        <span class="appointment-booked" ng-show="row.AppointmentStatus=='B'">{{row.AppointmentStatus =='B' ? "Booked" :""}}</span>
                                        <span class="appointment-cancelled" ng-show="row.AppointmentStatus=='C'">{{row.AppointmentStatus =='C' ? "Cancelled" :""}}</span>
                                        <span class="appointment-completed" ng-show="row.AppointmentStatus=='E'">{{row.AppointmentStatus =='E' ? "Completed" :""}}</span>
                                        <span class="appointment-started" ng-show="row.AppointmentStatus=='S'">{{row.AppointmentStatus =='S' ? "Started" :""}}</span>
                                        <span class="appointment-checked" ng-show="row.AppointmentStatus=='I'">{{row.AppointmentStatus =='I' ? "Checked-In" :""}}</span>
                                        <span class="appointment-paused" ng-show="row.AppointmentStatus=='P'">{{row.AppointmentStatus =='P' ? "Paused" :""}}</span>
                                    </td>
                                    <td ng-if="isAccessRightsApplicable">{{row.DoctorName}}</td>
                                    <td style="color:red;">{{(row.totalBalanceCost == 0) ? '' : (row.totalBalanceCost| number:0)}} </td>
                                    <td>
                                        <div class="pull-right">
                                            <a data-tooltip="Enter Parameters" ng-show="chkFutureDate(referredappointmentdate) && {{row.AppointmentStatus =='B' || row.AppointmentStatus =='S' || row.AppointmentStatus =='I' }}" class="app-td-icon ap-iv view-vitals-popup" ng-click="PatientVitals(row)"><i class="icon-app-vitals"></i>
                                            </a>
                                            <a data-tooltip="Billing" ng-show="chkFutureDate(referredappointmentdate) && {{row.AppointmentStatus =='B' || row.AppointmentStatus =='S' || row.AppointmentStatus =='I' ||  row.AppointmentStatus =='P'}}" class="app-ib app-td-icon" ng-click="CallPreBilling(row)"> <i class="icon-app-billing"></i> </a>
                                            <a data-tooltip="Start Appointment" ng-show="chkFutureDate(referredappointmentdate) && {{(row.AppointmentStatus =='B' || row.AppointmentStatus =='S' || row.AppointmentStatus =='I' ||  row.AppointmentStatus =='P') && (loginUserType != 'Receptionist' && loginUserType != 'Administrator')}}" class="app-is app-td-sp-icon" ng-click="consultationEntry(row)"><i class="icon-app-start"></i></a>
                                            <a data-tooltip="Billing" ng-show="{{row.AppointmentStatus=='E'}}" class="app-td-bg-icon" ng-click="CallBilling(row)"><i class="icon-app-billing"></i></a>
                                            <a class="app-ic app-td-cl-icon" ng-click="CancelAppointmentPatient(row)" data-tooltip="Cancel Appointment" ng-show="{{row.AppointmentStatus =='B' || row.AppointmentStatus =='I' }}">
                                                <i class="icon-app-cancel"></i></a>
                                            <a class="app-td-icon print-gc-prr" ng-click="callMedicines(row)" data-tooltip="Print" ng-show="{{row.AppointmentStatus =='E'}}">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="billing-cominsoon norecords-found-patients text-center" ng-show="referredappointmentlist.length !=0 && resultnotfound.length == 0">
                <img src="img/no-data/no-results.png">
                <div class="msg">
                    <p class="goback-text"> Sorry, no results found! </p>
                    <p class="goback-text-line2">Please check the spelling or try searching with some other name</p>
                </div>
            </div>
            <div class="billing-cominsoon text-center" style="margin: 80px 0;color:#b3b3b3;font-size:15px;" ng-show="referredappointmentlist.length==0">
                <img src="img/no-data/no-results-appointment.png">
                <div class="msg">
                    <p class="goback-text">No appointments booked</p>
                    <p>There are no appointments booked for this day.
                        <br> Book an appointment now.</p>
                    <p>
                        <!--  <a href="javascript:;" class="appt-list-link" style="" ng-click="Regpatient(true)">Register Patient</a> [OR] &nbsp; -->
                        <a href="javascript:;" class="appt-list-link" style="" ng-click="loadCalenderEvent('day')">Book Appointment</a>
                    </p>
                </div>
            </div>
            <!-- <div class="billing-cominsoon text-center" style="margin-top: 170px" ng-show="referredappointmentlist.length ==0">
                <img src="img/no-result-ico.png" >
                <div class="msg"> No New Appointments</div>

                </div>-->
        </div>
        <div class="modal-overlay" id="refdoc" ng-show="cancelAppPopup == true"></div>
        <div class="modal-common" ng-show="cancelAppPopup == true" id="cancelAppModal">
            <div class="modal-common-dialog">
                <div class="model-popup-header">
                    <h4 class="modal-title" id="myModalLabel">Cancel Appointment</h4>
                    <a id="close_popup" ng-click="closeCancelPopup()" class="light-font pull-right fclosepopup" style="">x</a>
                </div>
                <form name="Cancelform" novalidate>
                    <div class="form_wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <p> Are you sure do you want to cancel this appointment for {{Patientname}} </p>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Reason for cancellation</label>
                                    <input type="text" name="Name" class="form-control" aw-limit-length="75" ng-model="Cancelinfo.CancelReason" style="font-size: 14px;    border: 1px solid #c5dad6;height: 32px;" placeholder="Enter Reason">
                                </div>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-grey light-font" ng-click="closeCancelPopup()">
                                    No</button>
                                <button type="button" class="btn btn-primary" ng-click="Update(Cancelinfo,Cancelform)">Yes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <!-- Patient Edit -->
        <div id="modal" role="dialog" class="modal hide fade">
            <div ng-controller="hCueUpdatePatintInfo">
                <div class="modal-header">
                    Item Dialog
                </div>
                <div class="modal-body">
                    <label for="txtName" />
                    <input type="text" id="txtName" ng-model="{{row.PatientDetails.Patient[0].FullName}}" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
        <div ng-controller="hCueUpdatePatintInfo">
            <!-- {{items}} -->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="addnew-patient">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Update Patient Info
                           <!--  <a id="close_popup" ng-click="cancel()" class="light-font pull-right appointment-popup" >
                            <i class="icon-app-cancel"></i></a> -->
                        </h4>
                    </div>
                </div>
                <!-- <ul>
                            <li ng-repeat="item in items">
                                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>  -->
                <div class="modal-body">
                    <form name="patientform" class="addnew-patient-body" novalidate>
                        <div class="row update-patient" style="height: 355px;overflow-y: scroll; width: 100%;">
                            <div class="col-lg-7 border-right-pop">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3">
                                                    <label class="light-label">Title</label>
                                                    <select name="patient_title" id="patient_title" class="form-control select-dropdown ng-valid ng-touched ng-dirty ng-valid-parse ng-pristine" ng-model="updatepat.Title" style="padding-top: 4px; padding-bottom: 4px;">
                                                        <option value="Mr">Mr</option>
                                                        <option value="Mrs">Mrs</option>
                                                        <option value="Miss">Miss</option>
                                                        <option value="Master">Master</option>
                                                        <option value="Baby">Baby</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-9 col-md-9">
                                                    <label class="light-label">Name<em>*</em></label>
                                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="fullName" required="" placeholder="Enter name" maxlength="50" ng-model="updatepat.fullName">
                                                    <div ng-show="patientform.$submitted || patientform.fullName.$touched">
                                                        <span class="error-msg" ng-show="patientform.fullName.$error.required">Enter Patient Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="position:relative;">
                                    <div class="col-md-6">
                                        <div class="memb-dob">
                                            <label class="light-label">Date of Birth<em>*</em></label>
                                            <input class="form-control icons-calendar " placeholder="DD/MM/YYYY" ng-model="updatepat.DOB" type="text" ng-change="getDate(updatepat.DOB)" datepickeraddpatient ng-class="{submitted:patientform.submitted}" readonly="readonly" style="background-color: #fff;">
                                            <i class="fa fa-date"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="lbl-or lbl-or-pos">(OR)</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="light-label">Age<em>*</em></label>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" aw-limit-length="3" numbers-only="numbers-only" ng-model="dYear" ng-change="setAge(dYear)" placeholder="0">
                                                <span class="reg-patient-grey-txt age-years">Years</span>
                                            </div>
                                            <div class="col-lg-4 no-pad">
                                                <select class="form-control select-dropdown reg-mnth-drpdwn " ng-model="mYear" ng-change="setMonth(mYear)">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                </select>
                                                <span class="reg-patient-grey-txt age-mnths">Months</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="light-label">Gender<em>*</em></label>
                                            <div class="input-set gender-list">
                                                <div class="input-set-row">
                                                    <label class="item item-radio light-label">
                                                        <input type="radio" name="group" value="M" ng-checked="updatepat.Gender =='M'" ng-click="Gender='M'" ng-model="updatepat.Gender" class="ng-pristine ng-untouched ng-valid"> Male
                                                        <i class="radio-icon ion-checkmark"></i>
                                                    </label>
                                                    <label class="item item-radio light-label">
                                                        <input type="radio" name="group" value="F" ng-checked="updatepat.Gender =='F'" ng-click="Gender='F'" ng-model="updatepat.Gender" class="ng-pristine ng-untouched ng-valid" checked="checked"> Female
                                                        <i class="radio-icon ion-checkmark"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="light-label">Blood Group</label>
                                        <select class="form-control select-dropdown " placeholder="Choose Option" ng-model="updatepat.BloodGroup">
                                            <option value="">Select Blood Group </option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                        </select>
                                    </div>
                                    <span class="error-msg" style="display: block;position: absolute; bottom: 0;left: 15px;">{{error_age}}</span>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="light-label">Phone Number</label>
                                            <div class="clearfix"></div>
                                            <div class="col-md-3" style="display:none">
                                                <input type="text" name="stdcode" ng-model="stdCode" placeholder="STD" class="form-control ng-pristine ng-untouched ng-valid" numbers-only="numbers-only" aw-limit-length="5" ng-trim="false">
                                            </div>
                                            <div>
                                                <input class="form-control ng-pristine ng-valid ng-valid-minlength ng-valid-maxlength ng-touched" type="tel" name="alternativephone" onkeypress="return isNumber(event)" ng-minlength="10" ng-maxlength="10" placeholder="Enter Phone Number" ng-model="updatepat.PhNumber">
                                            </div>
                                            <span ng-show="patientform.$submitted || patientform.alternativephone.$error"> <span class="error-msg ng-hide" ng-show="patientform.alternativephone.$error.minlength || patientform.alternativephone.$error.maxlength">Enter a valid number</span> </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <label class="light-label">E-mail</label>
                                        <input type="email" name="EmailID" class="form-control" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" placeholder="Enter Email Id" maxlength="100" ng-model="updatepat.EmailID">
                                        <div ng-show="patientform.$submitted || patientform.EmailID.$touched">
                                            <span class="error-msg" ng-show="patientform.EmailID.$error.pattern">Enter Valid Email-ID</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="light-label">Aadhaar Card Number</label>
                                        <input class="form-control addrow-form" ng-model="updatepat.AdharNo" type="text" placeholder="Enter Aadhaar Card Number" numbers-only="numbers-only" aw-limit-length="12">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="light-label">Pan Number</label>
                                        <input class="form-control addrow-form" placeholder="Enter Pan Number" ng-model="updatepat.PanNo" type="text" aw-limit-length="10">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="light-label">Passport Number</label>
                                        <input class="form-control addrow-form" placeholder="Enter Passport Number" ng-model="updatepat.PassportNo" type="text" aw-limit-length="15">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="light-label">Visa Status</label>
                                        <input class="form-control addrow-form" placeholder="Enter Visa Status" ng-model="updatepat.Visastatus" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="light-label">Nationality</label>
                                        <input class="form-control addrow-form" placeholder="Enter Nationality" ng-model="updatepat.Nationality" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="light-label">Address</label>
                                            <input type="text" placeholder="Enter Patient Address" maxlength="100" ng-model="updatepat.Address1" class="form-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input name="" places-auto-complete class="form-input addrow-form" placeholder="Street Name (Powered by Google)" maxlength="100" value="" type="text" details="latlng" ng-model="updatepat.Address2" on-place-changed="placeChanged()" details="latlng" required ng-class="{submitted:patientform.submitted}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-input addrow-form" placeholder="Country" maxlength="10" ng-model="updatepat.Country" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-input addrow-form" placeholder="State" maxlength="10" ng-model="updatepat.State" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-input addrow-form" placeholder="City" maxlength="100" ng-model="updatepat.CityTown" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-input addrow-form" placeholder="Area" maxlength="100" id="Location" ng-model="updatepat.Location" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="" class="form-input addrow-form" placeholder="Landmark" maxlength="100" value="" type="text" ng-model="updatepat.LandMark">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input name="" class="form-input addrow-form pincode-input" placeholder="Pincode" value="" type="text" numbers-only="numbers-only" aw-limit-length="6" ng-model="updatepat.PinCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="patientform.$submitted || patientform.DOB.$touched">
                            <span class="error-msg" ng-show="updatepat.DOB == '' && mYear =='0' && dYear ==''">Please Select DOB</span>
                        </div>
                        <div class="row modal-footer">
                            <center>
                                <i class="ion-loading-c" ng-show="showloading" style="font-size:40px"></i>
                            </center>
                            <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
                            <button class="btn btn-primary" ng-click="UpdatePatient(patientform,updatepat)">Update</button>
                        </div>
                    </form>
                </div>
            </script>
            <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button> -->
            <!-- <div ng-show="selected">Selection from a modal: {{ selected }}</div>  -->
        </div>
    </div>
</div>
<!-- Auto complete -->
<script type="text/ng-template" id="customTemplateMedHistory.html">
    <a class="searchByResultTEst">
        <span ng-bind-html="match.model.VisitRsnTitle | uibTypeaheadHighlight:query" style="width:100% !important;"></span>
    </a>
</script>
<script>
$(document).ready(function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    $("#getDateValueList").attr("value", today);
});
//getDateValueList
</script>
<!-- <script src="https://code.angularjs.org/1.4.0-beta.5/angular.js"></script> -->