<style type="text/css">
.modal-common-dialog {
    margin: -1px auto 0;
    /*border: 1px solid #f0f0f0 !important;*/
}

.pa-app-details {
    background: #7b8ea0 !important;
    padding: 10px;
    border-radius: 0px;
}

.app-name-pp h6 {
    margin: 0;
    color: #bec0c0;
    font-family: 'proxima_novalight';
}

.app-name-pp span {
    color: #bec0c0;
}

.app-name-pp h4 {
    margin-bottom: 0;
    color: #FFF;
    font-family: 'proxima_novalight';
}

.choose-action {
    width: 380px;
    margin: 20px auto 0;
    overflow: hidden;
}

.choose-action h5 {
    text-align: center;
    margin-bottom: 20px;
}


/* .choose-action a {
  float: left;
} */

.reschedule-btn {
    background-color: #E06317;
}

.can-app-btn {
    background: #c6c6c6;
    color: #fff;
    margin-right: 20px;
    border: none;
}

.reschedule-app-time {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding: 15px 0;
}

.reschedule-app-time h4 {
    margin: 0 0 15px;
    font-family: 'proxima_novalight';
}

.reschedule-app-time label {
    font-size: 13px;
    font-family: 'proxima_novalight';
}

.reschedule-app-time select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccdedb;
}

.reschedule-app-time input[type="text"] {
    width: 100%;
    border: 1px solid #ccdedb;
    border-radius: 4px;
    padding: 5px;
}

.reschedule-app-time .choose-action {
    width: 146px
}

.can-app-box {
    text-align: center;
    padding: 10px 0 0;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
.modal-common-dialog {
    width: auto !important;
    border-radius: 0
}

/* .can-app-box .choose-action {
  width: 110px
} */
</style>
<div ng-controller="hcueAppointmentEditController">
    <!-- <div class="modal-overlay" ng-hide="showEditAppointmentID == true"></div> -->
        <!--Cancel Appointment Popup-->
        <div class="alternats-tablets " ng-class="Rescheduledisabled && !isEvent ?'show':''">
                        <form name="Appform" method="post">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap ">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <!-- <img src="images/male.png" alt=""> -->
                            <img ng-src="{{profileImage}}" alt="" ng-hide="profileImage==''"> 
                            <img src="images/default.png" alt="" ng-show="profileImage==''">
                            <!-- user name -->
                            <h4>{{(Title.length > 0)? (Title + '. '):""}} {{patName}}</h4>
                            <p>{{sex}} - {{age}}</p>
                            <p class="costom">{{mobileNumber}}</p>
                            <!-- <p class="costom">akshayaravi@gmail.com</p> -->
                            <!-- Booked Date & Time section start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Booked Date & Time</h4>
                                <p class="dates">{{Bookeddt | date :   format : 'yyyy-MM-dd'}}</p>
                                <time>{{StartTime}} Hrs to {{EndTime}} Hrs</time>
                            </div>
                            <!--Booked Date & Time section end -->
                            <!-- doctor details start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Appointment with</h4>
                                <p class="droctor-name" ng-hide="drnameshow">Dr. {{doctorName}}</p>
                                <p class="droctor-name" ng-show="drnameshow">{{doctorName}}</p>
                                <p class="doctor-speciality">{{doctorSpecialities}}</p>
                            </div>
                            <!-- doctor details end -->
                        </div>
                        <div class="calender-details">
                            <!-- Cancelling section heading-->
                            <div class="clearfix">
                                <h5 class="pull-left">You are <b>Cancelling</b> this Appointment</h5>
                                <a href="javascript:;" title="Reschedule Appointment" class="pull-right create-event" ng-click="EnableEdit()">Reschedule Appointment</a>
                            </div>
                            <div class="row mt-sp">
                                <div class="form-section col-md-12 margin-bottom-25">
                                    <label>Reason for Cancellation</label>
                                    <textarea name="" placeholder="Enter reason" class="char-counter"  ng-model="appointment_reason" maxlength="75"></textarea>
                                    <!-- <select name="" class="popup-dropdown" placeholder="Select Appointment Type">
                                        <option value="">Select the reason for Cancellation</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="clearfix ">
                                <div class="clearfix float-checkbox pull-left" >
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup12" id="popup12" ng-model="notifySMS" value="popup1">
                                        <label for="popup12">Send SMS</label>
                                    </div>
                                    <div class="popup-checkbox" ng-show="showAppNotification ">
                                        <input type="checkbox" name="popup212" id="popup212" ng-model="notifyMAIL" value="popup212">
                                        <label for="popup212">Send Email</label>
                                    </div>
                                </div>
                                <button type="submit" class="popup-button pull-right" ng-click="CancelAppointmentFrmCancel()">CANCEL APPOINTMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!--End of Cancel Appointment Popup-->

    <!--Cancel Event Popup-->
        <div class="alternats-tablets " ng-class="Rescheduledisabled && isEvent?'show':''" >
                        <form name="Appform" method="post">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap ">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <!-- <img src="images/male.png" alt=""> -->
                            <img ng-src="{{doctorImage}}" alt="" ng-hide="doctorImage==''">
                            <img src="images/default.png" alt="" ng-show="doctorImage==''">
                            <!-- user name -->
                            <h4>Dr. {{doctorName}}</h4>
                            <!-- <p>Male - 35y 10m</p>
                            <p class="costom">+91 9876543213</p> -->
                            <!-- <p class="costom">{{doctorSpecialities}}</p> -->
                            <!-- Booked Date & Time section start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Booked Date & Time</h4>
                                <p class="dates">{{Bookeddt | date :   format : 'yyyy-MM-dd'}} - {{BookedEnddt}}</p>
                                <time>{{StartTime}} Hrs to {{EndTime==" 23:59 "?"24:00":EndTime}} Hrs</time>
                            </div>
                            <!--Booked Date & Time section end -->
                            
                        </div>
                        <div class="calender-details">
                            <!-- Cancelling section heading-->
                            <div class="clearfix">
                                <h5 class="pull-left">You are <b>Cancelling</b> this Event</h5>
                                <a href="javascript:;" title="Reschedule Event" class="pull-right create-event" ng-click="EnableEdit()">Reschedule Event</a>
                            </div>
                            <div class="row">
                                <div class="form-section col-md-12 margin-bottom-25">
                                    <label>Reason for Cancellation</label>
                                    <textarea name="" placeholder="Enter reason" class="char-counter"  ng-model="appointment_reason" maxlength="75"></textarea>
                                    
                                </div>
                            </div>
                            <div class="clearfix float-checkbox">
                                <div class="popup-checkbox">
                                    <input type="checkbox" name="event12" id="event12"  ng-model="doctorSMS">
                                    <label for="event12">Send SMS for Doctor</label>
                                </div>
                                <div class="popup-checkbox"  ng-hide="urlpath">
                                    <input type="checkbox" name="event21" id="event21"  ng-model="doctorEmail">
                                    <label for="event21">Send Email for Doctor</label>
                                </div>
                            </div>
                            <div class="clearfix ">
                                
                                <button type="submit" class="popup-button pull-right" ng-click="cancelEvent()">CANCEL EVENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!--End of Cancel Event Popup-->

    <!--Reschedule Appointment Popup-->
    <div class="alternats-tablets " ng-class="Canceldisabled && !isEvent?'show':''">
                        <form name="Appform" method="post">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap ">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <!-- <img src="images/male.png" alt=""> -->
                            <img ng-src="{{profileImage}}" alt="" ng-hide="profileImage==''"> 
                            <img src="images/default.png" alt="" ng-show="profileImage==''">
                            
                            <!-- user name -->
                            <h4>{{(Title.length > 0)? (Title + '. '):""}} {{patName}}</h4>
                            <p>{{sex}} - {{age}}</p>
                            <p class="costom">{{(mobileNumber.length>0)?mobileNumber:''}}</p>
                            <!-- <p class="costom">akshayaravi@gmail.com</p> -->
                            <!-- Previous Appointment section start -->
                            <div class="calender-user-section" ng-class="isRescheduled?'previous-appointment':''">
                                <h4 class="heading">Previous Appointment</h4>
                                <p class="dates">{{Bookeddt | date :  'MMM,dd yyyy'}}</p>
                                <time >{{StartTime}} Hrs to {{EndTime}} Hrs</time>
                            </div>
                            <!-- Previous Appointment section end -->
                            <!-- Reschedule section start -->
                            <div class="calender-user-section" ng-hide="isRescheduled">
                                <h6>Select Date & Time to Reschedule</h6>
                            </div>
                            <!-- Reschedule section end -->
                             <!-- Rescheduled Date and Time section start -->
                            <div class="calender-user-section" ng-show="isRescheduled">
                                <h4 class="heading">Reschedule Date & Time</h4>
                                <p class="dates">{{newdt}}</p>
                                <time>{{StartTimeHour}}:{{StartTimeMin}} Hrs to {{EndTimeHour}}:{{EndTimeMin}} Hrs</time>
                            </div>
                            <!-- Rescheduled Date and Time section end -->
                            <!-- doctor details start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Appointment with</h4>
                                <p class="droctor-name" ng-hide="drnameshow">Dr. {{doctorName}}</p>
                                <p class="droctor-name" ng-show="drnameshow">{{doctorName}}</p>
                                <p class="doctor-speciality">{{doctorSpecialities}}</p>
                            </div>
                            <!-- doctor details end -->
                        </div>
                        <div class="calender-details">
                            <!-- Rescheduling section heading-->
                            <div class="clearfix" ng-hide="disabledRescheduling == 'S'">
                                <h5 class="pull-left">You are <b>Rescheduling</b> this Appointment</h5>
                                <a href="javascript:;" title="Cancel Appointment" class="pull-right create-event" ng-click="EnableCancel()">Cancel Appointment</a>
                            </div>
                            <h4>rescheduled to</h4>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-section">
                                        <label>Date</label>
                                        <input class="text-section popup-icon-calendar" ng-disabled="disabledRescheduling == 'S'" id="dtEdit" ng-model="dtEdit" datepickerappointmentlist ng-change="chgDate(dtEdit)" style="width:160px !important;">
                                        <!-- <i class="icon-Calendar"></i> -->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-section">
                                        <label>Start Time <span>(Hrs)</span></label>
                                        <div class="popup-timing">
                                            <select name="" ng-disabled="disabledRescheduling == 'S'" class="popup-dropdown" ng-options="hr as hr for hr in hourList" ng-model="StartTimeHour" ng-change="timeChange()"></select>
                                            <select name="" ng-disabled="disabledRescheduling == 'S'" class="popup-dropdown" ng-options="min as min for min in minList" ng-model="StartTimeMin" ng-change="timeChange()"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-section">
                                        <label>End Time <span>(Hrs)</span></label>
                                        <div class="popup-timing">
                                            <select class="popup-dropdown" ng-options="hr as hr for hr in hourList" ng-model="EndTimeHour" ng-change="timeChange()"></select>
                                        <select class="popup-dropdown" ng-options="min as min for min in minList" ng-model="EndTimeMin" ng-change="timeChange()"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12 form-section">
                                <label>Visit Reason</label>
                                <textarea ng-disabled="disabledRescheduling == 'S'" name="" placeholder="Enter Visit Reason" class="char-counter"  ng-model="ResVisitrsn"  maxlength="200"></textarea>
                            </div>
                            </div>
                            <div class="row">
                                <div class="form-section col-md-8">
                                    <label>Appointment Type</label>
                                    <select name="" ng-disabled="disabledRescheduling == 'S'" class="popup-dropdown" ng-model="doctorVisitReason" placeholder="Select Appointment Type">
                                
                                                <option value="">Select Appointment Type</option>
                                        <option value="OTHERS">Others</option>
                                        <option value="HOMEVISIT">Home Visit</option>
                                        <option value="FOLLOWUP">Follow-Up Visit</option>
                                        <option value="NEWPATIENT">New Patient Visit</option>
                                        <option value="OLDPATIENT">Existing Patient</option>
                                        <option value="NURSING">Nursing Only</option>
                                        <option value="URGENT">Urgent Visit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix float-checkbox" ng-hide="disabledRescheduling == 'S'">
                                <div class="popup-checkbox" ng-show="showAppNotification">
                                    <input type="checkbox" name="popup11" id="popup11" value="popup1" ng-model="notifySMS">
                                    <label for="popup11">Send SMS</label>
                                </div>
                                <div class="popup-checkbox" ng-show="showAppNotification ">
                                    <input type="checkbox" name="popup22" id="popup22" value="popup2" ng-model="notifyMAIL">
                                    <label for="popup22">Send Email</label>
                                </div>
                            </div>
                            <div class="clearfix">
                                
                                <button type="submit" class="popup-button " ng-click="addEditedAppointment()" ng-class="!isRescheduled?'no-action':''">RESCHEDULE APPOINTMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!-- Rescheduling Appointment popup end-->

<!--Reschedule Event Popup-->
    <div class="alternats-tablets " ng-class="Canceldisabled && isEvent?'show':''">
                        <form name="Appform" method="post">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap ">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <!-- <img src="images/male.png" alt=""> -->
                            <img ng-src="{{doctorImage}}" alt="" ng-hide="doctorImage==''">
                            <img src="images/default.png" alt="" ng-show="doctorImage==''">
                            <!-- user name -->
                            <h4>{{doctorName=="All Doctors"?"":"Dr. "}}{{doctorName}}</h4>
                            <!-- <p class="costom">{{doctorSpecialities}}</p> -->
                            <!-- <p>Male - 35y 10m</p>
                            <p class="costom">+91 9876543213</p>
                            <p class="costom">akshayaravi@gmail.com</p> -->
                            <!-- Previous Appointment section start -->
                            <div class="calender-user-section" ng-class="isRescheduled?'previous-appointment':''">
                                <h4 class="heading">Previous Date & Time</h4>
                                <p class="dates">{{Bookeddt | date :  'MMM d, yyyy'}} - {{BookedEnddt}}</p>
                                <time ng-hide="isAllDay">{{StartTime}} Hrs to {{EndTime=="23:59"?"24:00":EndTime}} Hrs</time>
                            </div>
                            <!-- Previous Appointment section end -->
                            <!-- Reschedule section start -->
                            <div class="calender-user-section" ng-hide="isRescheduled">
                                <h6>Select Date & Time to Reschedule</h6>
                            </div>
                            <!-- Reschedule section end -->
                             <!-- Rescheduled Date and Time section start -->
                            <div class="calender-user-section" ng-show="isRescheduled">
                                <h4 class="heading">Rescheduled Date & Time</h4>
                                <p class="dates">{{newdt}} - {{enddt}}</p>
                                <time ng-hide="isAllDay">{{StartTimeHour}}:{{StartTimeMin}} Hrs to {{(EndTimeHour=="00" && EndTimeMin=="00")?"24":EndTimeHour}}:{{EndTimeMin}} Hrs</time>
                            </div>
                            <!-- Rescheduled Date and Time section end -->
                            
                            <!-- doctor details end -->
                        </div>
                        <div class="calender-details">
                            <!-- Rescheduling section heading-->
                            <div class="clearfix">
                                <h5 class="pull-left">You are <b>Rescheduling</b> this Event</h5>
                                <a href="javascript:;" title="Cancel Event" class="pull-right create-event" ng-click="EnableCancel()">Cancel Event</a>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 no-pad-right">
                                    <div class="form-section">
                                        <label>Event Title</label> 
                                        <input type="text" name="" class="text-section" placeholder="e.g., World heart day" ng-model="eventTitle"  maxlength="75">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-section">
                                        <label>Event Description</label> 
                                        <input type="text" name="" class="text-section" placeholder="e.g., Platform for raising awareness about CVD" maxlength="200" ng-model="eventDesc">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-section">
                                        <label>Venue</label> 
                                        <input type="text" name="" class="text-section" placeholder="Enter event location or venue description" ng-model="eventVenue" maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="showEventDoctors">
                                <div class="col-lg-7">
                                    <div class="form-section">
                                        <label>Invite Doctors</label> 
                                        <select class="form-control select-dropdown" ng-model="selectedDoctor" ng-options="s.FullName for s in clinicDoctorList" ng-change="changeDoctor()">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h4>rescheduled to</h4>

                            <div class="row">
                                <div class="col-md-12 no-pad-right">
                                    <div class="evt-new">
                                        <div class="form-section">
                                            <label>Start Date</label> 
                                            <input class="text-section popup-icon-calendar" id="getDateValueList" ng-model="dtEdit" datepickerappointmentlist ng-change="chgStartDate()" style="width:160px !important;">
                                        </div>
                                        <div class="form-section" style="margin: 0 10px;">
                                            <label>Start Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown" ng-model="StartTimeHour" ng-options="hrs as hrs for hrs in hourList" ng-disabled="isAllDay" ng-change="timeChange()">               
                                                </select>
                                                <select name="" class="popup-dropdown"  ng-model="StartTimeMin" ng-options="min as min for min in minList" ng-disabled="isAllDay" ng-change="timeChange()">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="evt-new">
                                        <div class="form-section">
                                            <label>End Date</label>
                                            <input class="text-section popup-icon-calendar"  ng-model="dtEnd" datepickerminmaxdate mindate="{{dtEdit|date:MM-dd-yyyy}}" maxdate="15" ng-change="chgEndDate(dtEnd)" style="width:160px !important;" ng-disabled="!isAllDay">
                                        </div>
                                        <div class="form-section" style="margin-left: 10px;">
                                            <label>End Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown"  ng-model="EndTimeHour" ng-options="hr as hr for hr in hourList" ng-disabled="isAllDay" ng-change="timeChange()">
                                                </select>
                                                <select name="" class="popup-dropdown"  ng-model="EndTimeMin" ng-options="min as min for min in minList" ng-disabled="isAllDay" ng-change="timeChange()">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="clearfix float-checkbox">
                                    <div class="popup-checkbox">
                                        <input type="checkbox" name="popup8" id="popup8" value="popup8" ng-model="isAllDay" ng-change="toggleAllDay()">
                                        <label for="popup8">All Day Event</label>
                                    </div>
                                    <div class="popup-checkbox">
                                        <input type="checkbox" name="popup9" id="popup9" value="popup9" ng-model="isImportant" ng-change="toggleImportant()">
                                        <label for="popup9">Important Event</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" ng-show="isImportant">
                                <div class="clearfix float-checkbox">
                                    <div class="popup-checkbox rb" ng-show="showReschedule">
                                        <input type="radio" name="eventradio" ng-checked="rescheduleAppointment" id="eventRadio1" ng-value="true" ng-model="rescheduleAppointment">
                                        <label for="eventRadio1">
                                            <span></span>
                                            Reschedule All Appointments
                                        </label>
                                    </div>

                                    <div class="popup-checkbox rb">
                                        <input type="radio" ng-checked="!rescheduleAppointment" name="eventradio" id="eventRadio2" ng-value="false" ng-model="rescheduleAppointment">
                                        <label for="eventRadio2">
                                            <span></span>
                                            Cancel All Appointments
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 no-pad-right">
                                    <div class="clearfix float-checkbox n-cal">
                                        <h6>Notify Doctors Via:</h6>
                                        <div class="popup-checkbox pull-left">
                                            <input type="checkbox" id="event11" name="event11" ng-model="doctorSMS">
                                            <label for="event11">SMS</label>
                                        </div>
                                        <div class="popup-checkbox pull-left" ng-hide="urlpath">
                                            <input type="checkbox" id="event22" name="event22"  ng-model="doctorEmail">
                                            <label for="event22">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 no-pad-right">
                                    <div class="clearfix float-checkbox n-cal margin-bottom-25" ng-show="isImportant && showPatNotification">
                                        <h6>Notify Patients Via:</h6>
                                        <div class="popup-checkbox">
                                            <input type="checkbox" id="event33" name="event33"  ng-model="patientSMS">
                                            <label for="event33">SMS</label>
                                        </div>
                                        <div class="popup-checkbox"  ng-hide="urlpath">
                                            <input type="checkbox" id="event44" name="event44" ng-model="patientEmail">
                                            <label for="event44">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="(patientSMS || patientEmail) && isImportant && showPatNotification">
                                <div class="col-lg-12">
                                    <div class="form-section">
                                        <label>Reason for Rescheduling / Cancellation Appointments<span> (will be sent to patients)</span></label> 
                                        <input type="text" name="" class="text-section" maxlength="75" ng-model="cancelReason" placeholder="e.g.,  Attending the 'World heart day' event on 29th Sept">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                
                                <button type="submit" class="popup-button pull-right" ng-click="rescheduleEvent()" ng-class="!isRescheduled?'no-action':''">RESCHEDULE EVENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!-- Rescheduling Event popup end-->

                    
