<style type="text/css">
#headerdiv{
    z-index: 10 !important;
}

    .panel-body {
        padding: 4px;
        background-color: transparent;
            margin: -4px !important;
    }

        .panel-body th,
        .panel-body td {
            border: none !important;
        }

    .new-event {
        margin-top: 20px;
    }

    .searchByResultTEst span {
        margin: 0 6px;
    }

    .light-label {
        font-size: 1em;
    }

    .modal-footer {
        padding: 15px 0;
    }

    .searchByResultTEst span {
        margin: 0 6px;
        overflow: hidden !important;
        /*width: 20%;
        text-overflow: ellipsis;
        white-space: nowrap !important;*/
    }

    .appointmentlist-nav {
        padding-bottom: 0px !important;
    }

    .h-bukappt-pop {
        padding-bottom: 0px !important;
    }
    .ba-popup .dropdown-menu > li > a {
        padding: 7px 15px 1px !important
    }
    .repeat-section{background:#eee;padding-top: 10px;margin-bottom: 10px;width:108.5%;}
</style>
<div ng-controller="hCueDocAppointmentList">
    
    <!--Book Appointment-->
    <div class="alternats-tablets "  ng-class="isCreateEvent?'':'show'">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" class="calender-popop-close" ng-click="closeBookAppPopup()"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <img ng-src="{{selectedPatientImage}}" alt="" ng-hide="selectedPatientImage==''"> 
                            <img src="images/default.png" alt="" ng-show="selectedPatientImage==''">
                            <!-- defult name -->
                            <h4 class="defult-name" ng-hide="isPatientSelected">Search Patient</h4>
                            <!-- user name -->
                            <h4 ng-show="isPatientSelected">{{selectedPatientTitle}} {{selectedPatientName}}</h4>
                            <p ng-show="isPatientSelected">{{selectedPatientGender}} - {{selectedPatientAge}}</p>
                            <p class="costom" ng-show="isPatientSelected">{{selectedPatientNumber}}</p>
                            <!-- <p class="costom">akshayaravi@gmail.com</p> -->
                            <!-- Selected Date and Time section start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Selected Date & Time</h4>
                                <p class="dates">{{appStartDate}}</p>
                                <time>{{StartTimeHour}}:{{StartTimeMin}} Hrs to {{EndTimeHour}}:{{EndTimeMin}} Hrs</time>
                            </div>
                            
                            <!-- Previous Appointment section end -->
                            <div class="calender-user-section">
                                <h4 class="heading">Appointment with</h4>
                                <p class="droctor-name" ng-hide="drnameshow">{{doctorName}}</p>
                                <p class="droctor-name" ng-show="drnameshow">{{doctorName}}</p>
                                <p class="doctor-speciality">{{doctorSpecialities}}</p>
                            </div>
                        </div>
                        <form name="calendarBooking">
                            <div class="calender-details bukapptline">
                                <!-- Booking section heading-->
                                <div class="clearfix">
                                <h5 class="pull-left">You are <b>{{bookType}}</b> {{bookType=="Rebooking"?"this":"an"}} Appointment</h5>
                                    <!-- <a href="javascript:;" ng-click="createEvent()" title="Create Event" class="pull-right create-event">Create Event</a> -->
                                </div>
                                <!-- <div class="form-section" ng-show="bookType=='Rebooking'">
                                    <p class="popup-error-text">Rebook this appointment as you can't Reschedule / Cancel {{appStatus}} Appointment.</p>
                                </div> -->
                                <div class="search-options">
                                    <ul class="clearfix">
                                        <li ng-show="bookType=='Rebooking'" class="search-patients">Selected Patient:</li>
                                        <li ng-hide="bookType=='Rebooking'" class="search-patients">Search Patients:</li>
                                        <li ng-hide="bookType=='Rebooking'">
                                            <!-- <div class="popup-checkbox" ng-hide="drshow">
                                                <input type="checkbox" name="popup3" id="popup3" value="popup3" ng-model="SearchByPatients" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="bookType=='Rebooking'" ng-change="searchToggle()">
                                                <label for="popup3">My Patient</label>
                                            </div> -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-section"  ng-show="SearchByPatients == 'Y'">
                                    <input type="text" name="" value="" placeholder="Search Patient by Name / Contact Number / Email" 
                                           class="text-section" ng-model="SearchBy" ng-change="SearchByText()"  ng-disabled="bookType=='Rebooking'">
                                    <div class="popup-patient-search" ng-show="patients.length>0 && SearchBy.length>2">
                                        <ul class="clearfix">
                                            <li ng-repeat="patientitem in patients" ng-click="selectedPatient(patientitem)">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <font>{{patientitem.patientname}}</font>
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{patientitem.gender}}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{patientitem.age}}y
                                                    </div>
                                                    <!-- <div class="col-md-3">
                                                        {{patientitem.ContactNumber}}
                                                    </div> -->
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <div class="form-section"  ng-show="SearchByPatients == 'N'">
                                    <input type="text" name="" value="" placeholder="Search Patient by Name / Contact Number" 
                                           class="text-section" ng-model="SearchBy" ng-change="SearchByText()"  ng-disabled="bookType=='Rebooking'">
                                    <div class="popup-patient-search" ng-show="patients.length>0 && SearchBy.length>2">
                                        <ul class="clearfix">
                                            <li ng-repeat="patientitem in patients"  ng-click="selectedPatient(patientitem)">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <font>{{patientitem.patientname}}</font>
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{patientitem.gender}}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{patientitem.age}} 
                                                    </div>
                                                    <div class="col-md-3" >                                               
                                                        {{patientitem.PhNumber}}
                                                    </div>
                                                  
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <div class="form-section" ng-show="showRegisterPatient && SearchBy.length>=3">
                                    <p class="popup-error-text">Entered Name/Number is not found in our records. <a href="javascript:;" ng-click="AddPatient()" class="popup-register-text">Click here</a> to Register Patient.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-section">
                                            <label>Date</label>
                                            <input ng-model="appDate" class="text-section popup-icon-calendar" ng-change="chgAppDt(appDate)" type="text" datepickerappointmentcalendar readonly disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-section">
                                            <label>Start Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown" ng-options="hr as hr for hr in hourList" ng-model="StartTimeHour">
                                                    
                                                </select>
                                                <select name="" class="popup-dropdown" ng-options="min as min for min in minList" ng-model="StartTimeMin">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-section">
                                            <label>End Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown" ng-options="hr as hr for hr in hourList" ng-model="EndTimeHour">
                                                    
                                                </select>
                                                <select name="" class="popup-dropdown" ng-options="min as min for min in minList" ng-model="EndTimeMin">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-section">
                                            <label>Slot Min</label>
                                            <div class="popup-timing">
                                                <!-- <select name="" class="popup-dropdown" ng-options="hr as hr for hr in hourList" ng-model="EndTimeHour">
                                                    
                                                </select> -->
                                                <!-- <select name="" class="popup-dropdown" ng-options="min as min for min in minList" ng-model="EndTimeMin">
                                                    
                                                </select> -->
                                                <input type="text" style="width: -1%;" name="" class="text-section" ng-model="slotTime" disabled>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="form-section col-md-8">
                                        <div class="popup-checkbox">
                                                <input type="checkbox" name="Repeat" id="Repeat" ng-model="isRepeat" ng-true-value="'Y'" ng-false-value="'N'"/>
                                                <label for="Repeat">Repeat</label>
                                            </div>
                                    </div>
                                </div> -->
                                <!-- <div ng-show="isRepeat=='Y'" class="row repeat-section">
                                    <div class="col-md-6">
                                        <div class="form-section">
                                            <label>Repeats Every</label>
                                            <div class="popup-timing">
                                                <input class="text-section" type="number" value="1" min="1" max="60" ng-model="repeatInterval" style="width:30%" ng-disabled="repeatType=='ALTERDAYS'"/>
                                                <select name="" class="form-control select-dropdown" ng-model="repeatType" style="width:60%;top: -2px;height: 32px" ng-change="repeatTypeChange(repeatType)">
                                                    <option value="DAY">Day</option>
                                                    <option value="ALTERDAYS">Alternate Day</option>
                                                    <option value="WEEK">Week</option>
                                                    <option value="MONTH">Month</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-5">
                                        <div class="form-section">
                                            <label>End Date</label>
                                            <div class="popup-timing">
                                                <input ng-model="repeatEndDate" class="text-section popup-icon-calendar" type="text" datepickerappointmentlist readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="form-section col-md-6" ng-show="showAppointmentDoctors">
                                        <label>Choose Sonographer <em>*</em></label>
                                        <select class="form-control select-dropdown" ng-model="selectedAppointmentDoctor" ng-options="s.FullName for s in clinicAppDoctorList" ng-change="changeAppointmentDoctor()" required="required" disabled>
                                            </select>
                                    </div>
                                    <div class="form-section col-md-6" ng-show="showAppointmentDoctors">
                                        <label>Location <em>*</em></label>
                                        <select class="form-control select-dropdown " name="docAddress" ng-model="scanCentreValue" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="changeScanCentre(scanCentreValue)" required="required" disabled>
                                            </select>
                                    </div>
                                <!-- </div>
                                <div class="row"> -->
                                    <!-- <div class="form-section col-md-6">
    								  <label class="uppercase required field-label light-label" style="float: left;">Appointment Type <span ng-if="showmandatory == 'Y'"><em>*</em></span></label>
                                        <select name="" class="popup-dropdown" placeholder="Select Appointment Type" ng-model="appointment_type" ng-change="apptypechange(appointment_type)" >
                                           <option value="">Select Appointment Type</option>
                                            <option value="OTHERS">Others</option>
                                            <option value="HOMEVISIT">Home Visit</option>
                                            <option value="FOLLOWUP">Follow-Up Visit</option>
                                            <option value="NEWPATIENT">New Patient Visit</option>
                                            <option value="OLDPATIENT">Existing Patient</option>
                                            <option value="NURSING">Nursing Only</option>
                                            <option value="URGENT">Urgent Visit</option>
                                        </select>
                                    </div> -->
                                </div>
                               <!--  <div class="row accordion-addrow">
                                    <div class="col-md-4">
                                        <span>Referral Created <em>*</em></span>
                                        <input ng-model="referralCreated" class="form-control icons-calendar" placeholder="DD-MM-YYYY" type="text" referraldatepicker required="required">
                                    </div>
                                    <div class="col-md-4">
                                        <span>Referral Received <em>*</em></span>
                                        <input ng-model="referralReceived" class="form-control icons-calendar" placeholder="DD-MM-YYYY" type="text" referraldatepicker required="required" data-min-date="{{addUpdatePat.patientDetails.EnquiryDetails.referalcreated}}">
                                    </div>
                                    <div class="col-md-4">
                                        <span>Referral Processed <em>*</em></span>
                                        <input ng-model="referralProcessed" class="form-control icons-calendar" disabled placeholder="DD-MM-YYYY" type="text" referraldatepicker>
                                    </div>
                                </div>
                                <div class="row accordion-addrow">
                                    <div class="col-md-12">
                                        <span>PRESENTING COMPLAINT</span>
                                        <textarea ng-model="presentComplaint" class="form-input pa-reg-name" placeholder="PRESENTING COMPLAINT" type="text" style="height:60px !important"></textarea>
                                    </div>
                                </div>
                                <div class="row accordion-addrow">
                                    <div class="col-md-12">
                                        <span>PROVISIONAL DIAGNOSIS</span>
                                        <textarea ng-model="provisionDiagnosis" class="form-input pa-reg-name" placeholder="PROVISIONAL DIAGNOSIS" type="text" style="height:60px !important"></textarea>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12 mb-10">
                                        <span>Speciality <em>*</em></span>
                                        <ui-select ng-model="specialityCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false" required ng-change="selectspeciality()" required="required">
                                            <ui-select-match placeholder="">
                                                <span ng-bind="$select.selected.specialitydesc"></span>
                                            </ui-select-match>
                                            <ui-select-choices group-by="" group-filter="" repeat="data in specialityCollection | filter: $select.search">
                                                <span ng-bind="data.specialitydesc"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-5">
                                        <span>Sub Speciality</span>

                                        <ui-select ng-model="subSpecialityCollection.selected" reset-search-input="false" theme="bootstrap" append-to-body="false" ng-change="selectsubspeciality()">
                                            <ui-select-match placeholder="">
                                                <span ng-bind="$select.selected.DoctorSpecialityDesc"></span>
                                            </ui-select-match>
                                            <ui-select-choices group-by="" group-filter="" repeat="data in subSpecialityCollection | filter: $select.search">
                                                <span ng-bind="data.DoctorSpecialityDesc"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-md-7">
                                        <span>Appointment Type <em>*</em></span>
                                        <div class="input-set-row">
                                            <span class="input-col input-checkbox new-radio">
                                                <label class="item item-radio">
                                                    <input ng-model="appointmenttypeid" type="radio" name="apttype" value="URGENT" checked="checked" required="required">
                                                    <div class="item-content" style="display: inline-block;">
                                                        <i class="icon ion-man"></i> Urgent</div>
                                                    <i class="radio-icon ion-checkmark"></i>
                                                </label>
                                            </span>
                                            <span class="input-col input-checkbox new-radio">
                                                <label class="item item-radio">
                                                    <input ng-model="appointmenttypeid" type="radio" name="apttype" value="ROUTINE" required="required">
                                                    <div class="item-content" style="display: inline-block;">
                                                        <i class="icon ion-woman"></i>Routine</div>
                                                    <i class="radio-icon ion-checkmark"></i>
                                                </label>
                                            </span>
                                            <span class="input-col input-checkbox new-radio">
                                                <label class="item item-radio">
                                                    <input ng-model="appointmenttypeid" type="radio" name="apttype" value="DVT" required="required">
                                                    <div class="item-content" style="display: inline-block;">
                                                        <i class="icon ion-woman"></i>DVT</div>
                                                    <i class="radio-icon ion-checkmark"></i>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row accordion-addrow mt-15">
                                    <div class="col-md-6">
                                        <span>Enquiry Source <em>*</em></span>
                                        <select name="" id="" class="form-control" ng-model="enquirysourceid" required="required">
                                            <option value="FAX">Fax</option>
                                            <option value="EMAIL">e-mail</option>
                                            <option value="ERS">eRS</option>
                                            <option value="ELECTRINIC">Electronic</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="row">
                                <div class="col-md-12 form-section">
                                    <label>Visit Reason</label>
                                    <textarea placeholder="Enter Visit Reason" class="msd-elastic" ng-model="appointment_reason" aw-limit-length="500" uib-typeahead="visitReasonitem as visitReasonitem.VisitRsnTitle for visitReasonitem in visitReasonList | filter:$viewValue | filter:{ActiveIND:'Y'}|limitTo:12" ng-change="visitReasonOnChange()" typeahead-on-select="onItemSelected(appointment_reason)" typeahead-template-url="customTemplateMedHistory.html" typeahead-min-length="3" typeahead-wait-ms="500"></textarea>
                                </div>
                                </div> -->
                                <!-- <div class="row">
                                    <div class="col-md-6" ng-show="ReferralList.length > 0">
                                        <div class="form-section">
                                            <label>Referral Source</label>
                                            <select name="" class="popup-dropdown" placeholder="Select Referral Source" ng-model="Source" ng-change="SourceChange(Source)">
                                                <option value="">Select Referral Source</option>
                                                <option ng-repeat="Ref in ReferralList | filter:{'ActiveIND':'Y'}" value="{{Ref.ReferralID}}">{{Ref.ReferralTitle}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-section" ng-show="subSourceList.length > 0">
                                            <label>Sub Referral</label>
                                            <select name="" class="popup-dropdown" placeholder="Select Sub Referral" ng-model="SubSource">
                                                <option value="">Select Sub Referral</option>
                                                <option ng-repeat="sub in subSourceList | filter:{'ActiveIND':'Y'}" value="{{sub.SubCatagoryID}}">{{sub.SubCatagoryDesc}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="clearfix float-checkbox margin-bottom-25" >
                                    <div class="popup-checkbox" ng-show="showAppNotification">
                                        <input type="checkbox" name="popup1" id="popup1" value="popup1" ng-model="notifySMS">
                                        <label for="popup1">Send SMS</label>
                                    </div>
                                    <div class="popup-checkbox" ng-show="showAppNotification ">
                                        <input type="checkbox" name="popupemail1" id="popupemail1" value="popupemail1"  ng-model="notifyMAIL">
                                        <label for="popupemail1">Send Email</label>
                                    </div>
                                </div> -->
                                <div class="clearfix">
                                    <!-- <p class="pull-left add-patients" ng-hide="bookType=='Rebooking'">+<a href="javascript:;" title="" class="" ng-click="AddPatient()">ADD PATIENT</a></p> -->
                                    <button type="submit" class="btn btn-primary pull-right" ng-click="addAppointmentFormDataSubmit()" data-dismiss="modal" ng-disabled="!calendarBooking.$valid">{{bookTypeBtn}} APPOINTMENT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--End of Book Appointment-->
    <!--Book Event-->
    <div class="alternats-tablets " ng-class="isCreateEvent?'show':''">
        <div class="middlealign">
            <div>
                <div class="calender-popup-wrap">
                    <div class="hcue-calender-popup clearfix">
                        <a href="javascript:;" title="close" ng-click="closeBookAppPopup()" class="calender-popop-close"><img src="images/calender-popop-close.png" alt=""></a>
                        <div class="calender-user">
                            <img ng-src="{{doctorImage}}" alt="" ng-hide="doctorImage==''">
                            <img src="images/default.png" alt="" ng-show="doctorImage==''">
                            <!-- user name -->                      
                            <h4 ng-show="drnameshow">{{doctorName=="All Doctors"?"":""}}{{doctorName}}</h4>
                            <h4 ng-hide="drnameshow">{{doctorName=="All Doctors"?"":"Dr. "}}{{doctorName}}</h4>
                            <!-- <p>Male - 35y 10m</p>
                            <p class="costom">+91 9876543213</p> -->
                            <!-- <p class="costom">{{doctorSpecialities}}</p> -->
                            <!-- Selected Date and Time section start -->
                            <div class="calender-user-section">
                                <h4 class="heading">Selected Date & Time</h4>
                                <p class="dates">{{eventStartDate}} - {{eventEndDate}}</p>
                                <time  ng-hide="isAllDay">{{eventStartHr}}:{{eventStartMin}} Hrs to {{eventEndHr=="00"?"24":eventEndHr}}:{{eventEndHr=="00"?"00":eventEndMin}} Hrs</time>
                            </div>
                        </div>
                        <div class="calender-details">
                            <!-- Rescheduling section heading-->
                            <div class="clearfix">
                            <h5 class="pull-left" style="    background-color: #f8f8f8;">You are <b>Creating</b> an Event</h5>
                                <a href="javascript:;" ng-click="createAppointment()" title="Book Appointment" class="pull-right create-event">Book Appointment</a>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 no-pad-right">
                                    <div class="form-section">
                                        <label>Event Title</label> 
                                        <input type="text" name="" class="text-section" placeholder="e.g., World heart day" ng-model="eventTitle"  maxlength="75">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-section">
                                        <label>Event Description</label> 
                                        <input type="text" name="" class="text-section" placeholder="e.g., Platform for raising awareness about CVD" maxlength="200" ng-model="eventDesc">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-section">
                                        <label>Venue</label> 
                                        <input type="text" name="" class="text-section" placeholder="Enter event location or venue description" ng-model="eventVenue" maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="showEventDoctors">
                                <div class="col-lg-7">
                                    <div class="form-section">
                                        <label>Invite Doctors</label> 
                                        <select class="form-control select-dropdown" ng-model="selectedDoctor" ng-options="s.FullName for s in clinicDoctorList" ng-change="changeDoctor()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 no-pad-right">
                                    <div class="evt-new">
                                        <div class="form-section">
                                            <label>Start Date</label> 
                                            <input class="text-section popup-icon-calendar" id="getDateValueList" ng-model="dtEdit" datepickerappointmentcalendar ng-change="chgDate(dtEdit)" style="width:160px !important;">
                                        </div>
                                        <div class="form-section" style="margin: 0 10px;">
                                            <label>Start Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown" ng-model="eventStartHr" ng-options="hrs as hrs for hrs in hourList" ng-disabled="isAllDay">               
                                                </select>
                                                <select name="" class="popup-dropdown"  ng-model="eventStartMin" ng-options="min as min for min in minList" ng-disabled="isAllDay">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="evt-new">
                                        <div class="form-section">
                                            <label>End Date</label>
                                            <input class="text-section popup-icon-calendar"  ng-model="dtEnd" datepickerminmaxdate mindate="{{dtEdit|date:MM-dd-yyyy}}" maxdate="15" ng-change="chgendDate(dtEnd)" style="width:160px !important;" ng-disabled="!isAllDay">
                                        </div>
                                        <div class="form-section" style="margin-left: 10px;">
                                            <label>End Time <span>(Hrs)</span></label>
                                            <div class="popup-timing">
                                                <select name="" class="popup-dropdown"  ng-model="eventEndHr" ng-options="hr as hr for hr in hourList" ng-disabled="isAllDay">
                                                </select>
                                                <select name="" class="popup-dropdown"  ng-model="eventEndMin" ng-options="min as min for min in minList" ng-disabled="isAllDay">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>                            
                            <div class="clearfix">
                                <div class="clearfix float-checkbox">
                                    <div class="popup-checkbox">
                                        <input type="checkbox" name="popup8" id="popup8" value="popup8" ng-model="isAllDay" ng-change="toggleAllDay()">
                                        <label for="popup8">All Day Event</label>
                                    </div>
                                    <div class="popup-checkbox">
                                        <input type="checkbox" name="popup9" id="popup9" value="popup9" ng-model="isImportant" ng-change="toggleImportant()">
                                        <label for="popup9">Important Event</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" ng-show="isImportant">
                                <div class="clearfix float-checkbox">
                                    <div class="popup-checkbox rb" ng-show="showReschedule">
                                        <input type="radio" name="eventradio" ng-checked="rescheduleAppointment" id="eventRadio1" ng-value="true" ng-model="rescheduleAppointment">
                                        <label for="eventRadio1">
                                            <span></span>
                                            Reschedule All Appointments
                                        </label>
                                    </div>

                                    <div class="popup-checkbox rb">
                                        <input type="radio" ng-checked="!rescheduleAppointment" name="eventradio" id="eventRadio2" ng-value="false" ng-model="rescheduleAppointment">
                                        <label for="eventRadio2">
                                            <span></span>
                                            Cancel All Appointments
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 no-pad-right">
                                    <div class="clearfix float-checkbox n-cal">
                                        <h6>Notify Doctors Via:</h6>
                                        <div class="popup-checkbox pull-left">
                                            <input type="checkbox" id="event1" name="event1" ng-model="doctorSMS">
                                            <label for="event1">SMS</label>
                                        </div>
                                        <div class="popup-checkbox pull-left" ng-hide="urlpath">
                                            <input type="checkbox" id="event2" name="event2"  ng-model="doctorEmail">
                                            <label for="event2">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 no-pad-right">
                                    <div class="clearfix float-checkbox n-cal margin-bottom-25" ng-show="isImportant && showPatNotification">
                                        <h6>Notify Patients Via:</h6>
                                        <div class="popup-checkbox">
                                            <input type="checkbox" id="event3" name="event3"  ng-model="patientSMS">
                                            <label for="event3">SMS</label>
                                        </div>
                                        <div class="popup-checkbox" ng-hide="urlpath">
                                            <input type="checkbox" id="event4" name="event4" ng-model="patientEmail">
                                            <label for="event4">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="(patientSMS || patientEmail) && isImportant && showPatNotification">
                                <div class="col-lg-12">
                                    <div class="form-section">
                                        <label>Reason for Rescheduling / Cancellation Appointments<span> (will be sent to patients)</span></label> 
                                        <input type="text" name="" class="text-section" maxlength="75" ng-model="cancelReason" placeholder="e.g.,  Attending the 'World heart day' event on 29th Sept">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button type="submit" class="popup-button pull-right" ng-click="bookEvent()">Create Event</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Book Event-->
</div>

<script type="text/javascript">
    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.attr("action"), f.serialize(), function (result) {
            DayPilot.Modal.close(result);
        });
        return false;
    });

    $("#delete").click(function () {
        $.post("backend_delete.php", {
            id: $("#id").val()
        }, function (result) {
            DayPilot.Modal.close(result);
        });
        return false;
    });

    $("#cancel").click(function () {
        DayPilot.Modal.close();
        return false;
    });

    $("#cancel1").click(function () {
        DayPilot.Modal.close();
        return false;
    });

    $("#close_popuppatient").click(function () {
        $('.addnew-patient').hide();
        // $('#patient').show();
    });


    $("#AddNewPaintent").on('click', function () {
        $('.overlay').show();
        //$('#patient').hide();
        $('.addnew-patient').show();
        // DayPilot.Modal.close();
        return false;
    });

    $('#close_popup').click(function (e) {
        e.preventDefault();
        $('.overlay').hide();
        $('.addPatient').hide();
    });

    $(document).ready(function () {
        //alert('123');
        $("#name").focus();
        $('.overlay').hide();
        $('.addPatient').hide();
    });
    $('.calendar_default_event').on('click', function (e) {
        alert('123');
        e.preventDefault();
        e.stopPropagation();
    });
</script>
<script type="text/ng-template" id="customTemplate.html">
    <a class="searchByResultTEst">

        <span ng-if="match.model.Patient[0].Title.length >0" ng-bind-html="match.model.Patient[0].Title +'.'+ match.model.Patient[0].FullName | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.Patient[0].Title.length == undefined" ng-bind-html="match.model.Patient[0].FullName | uibTypeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.Patient[0].Gender | uibTypeaheadHighlight:query" style="width: 5%"></span>
        <span ng-bind-html="((match.model.Patient[0].CurrentAge === undefined) ? ((match.model.Patient[0].Age)): (((match.model.Patient[0].CurrentAge.year > 0) ? match.model.Patient[0].CurrentAge.year + 'y': '') + ' ' + ((match.model.Patient[0].CurrentAge.month > 0)? match.model.Patient[0].CurrentAge.month + 'm' : '')))"> </span>
        <span ng-if="match.model.PatientPhone[0].PhNumber == undefined" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PatientPhone[0].PhNumber.toString().length < 6" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PatientPhone[0].PhNumber != undefined" ng-bind-html="match.model.PatientPhone[0].PhNumber | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="customLocalTemplate.html">
    <a class="searchByResultTEst">

        <!-- <span ng-if="match.model.Title.length >0" ng-bind-html="match.model.Patient[0].Title +'.'+ match.model.FullName | uibTypeaheadHighlight:query"></span>-->
        <span  ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.Gender | uibTypeaheadHighlight:query" style="width: 5%"></span>
        <span ng-bind-html="((match.model.CurrentAge === undefined) ? ((match.model.Age)) : (((match.model.CurrentAge.year > 0) ? match.model.CurrentAge.year + 'y'
            : '') + ' ' + ((match.model.CurrentAge.month > 0)? match.model.CurrentAge.month + 'm' : '')))" style="width: 15%">
        </span>
        <span ng-if="match.model.PhoneNumber == undefined" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PhoneNumber.toString().length < 6" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PhoneNumber != undefined" ng-bind-html="match.model.PhoneNumber | uibTypeaheadHighlight:query"></span>
		<span ng-hide="match.model.EmailID == undefined"ng-bind-html="match.model.EmailID | uibTypeaheadHighlight:query" 
        style="overflow: visible !important; vertical-align: top; "></span>
    </a>
</script>
