﻿<div class="app-header">
    <div class="app-header">
        <div class="form-inline row">
            <div class="col-lg-8">
                <div class="sel-hos-box">
                    <label>Hospital/Clinic</label>
                    <select class="form-control docAddressTextBox select-dropdown " disabled name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="GetAppointmentByHospitalID(AppListselectedclinic, true)" style="width: 150px !important;"></select>
                </div>
                <div class="app-date">
                    <label>Date</label>
                    <div class="list list-inset docDateTextBox">
                        <input class="form-control" ng-model="referredappointmentdate" disabled datepickerappointmentlist ng-change="getListingDetailsonDateChange(referredappointmentdate)" style="width:170px !important;">
                        <i class="icon-Calendar"></i>
                    </div>
                    <div class="date-pick" ng-hide="true">
                        <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ng-show="showCalendarID == true"></daypilot-navigator>
                    </div>
                </div>
                <div class="sel-doc-box">
                    <div ng-if="(isAccessRightsApplicable)" class="">
                        <label>Doctors</label>
                        <select class="form-control docAddressTextBox select-dropdown" name="docID" ng-model="selectedDoctor" ng-options="s.FullName for s in clinicConsultDoctorList" ng-change="getBilingChange(selectedDoctor)" style="width: 150px !important;"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="billing-due-section" ng-if="previousBillingDataList.length > 0">
        <div class="billing-due-header clearfix">
            <p class="pull-left heading">Previous Consultation Due</p>
            <!-- <p class="pull-right">Amount in {{currencyType}} </p> -->
        </div>
        <div class="row">
            ro
            <div class="col-lg-8">
                <div class="vist-reason">
                    <label>Patient Name : </label>


                    <span class="ng-binding">{{Patients.fullName}}</span>
                </div>
                <div class="vist-reason">
                    <label>Patient Mobile : </label>
                    <span class="ng-binding">{{Patients.Phnumber}}</span>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                Amount in {{(Currencycode == 'INR') ? 'INR' : Currencycode}}
            </div>
        </div>

        <div class="due-table-header">
            <table>
                <thead>
                    <tr>
                        <th width="10%" class="text-center">Date</th>
                        <!-- <th width="10%" class="text-center">Invoice Number</th>-->
                        <th width="30%" class="text-center">Treatment</th>
                        <th width="10%" class="text-center">Treatment Cost</th>
                        <!-- <th width="10%" class="text-center">Quantity</th>-->
                        <th width="20%" class="text-center">Discount% (Amount)</th>
                        <th width="10%" class="text-center">Total Cost</th>
                        <th width="10%" class="text-center">Received</th>
                        <th width="10%" class="text-center">Balance</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="due-table-row" ng-repeat="preitem in previousBillingDataList">

            <table>
                <thead>
                    <tr>
                        <th width="10%" class="text-center">{{FormatDate(preitem.BillDate)}}</th>
                        <!--<th width="10%" class="text-center">INV987673</th>-->
                        <th width="30%" class="text-center">{{preitem.ProcedureName}}</th>
                        <th width="10%" class="text-center">{{preitem.ProcedureCost}}</th>
                        <!-- <th width="10%" class="text-center">{{preitem.ProcedureName}}</th>-->
                        <th width="20%" class="text-center">{{preitem.DiscountCost}}% ({{preitem.DiscountAmount}})</th>
                        <th width="10%" class="text-center">
                            {{preitem.ProcedureCost - preitem.DiscountAmount}}</
                            th>
                        </th>
                        </
                        <th width="10%" class="text-center">{{preitem.Previouspaid}}</th>
                        <th width="10%" class="text-center">{{preitem.Balance | number}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="second-row">
                        <td align="center">
                            <div class="form-inner-field due-date">
                                <input type="text" class="form-control text-center" ng-model="todayDate" placeholder="YYYY-MM-DD" readonly="" />
                            </div>
                        </td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            <div class="form-inner-field">
                                <input type="text" placeholder="" ng-model="preitem.BilledCost" numbers-only="numbers-only" maxlength="5" ng-blur="processItems(preitem,'P','na')" class="form-control text-center" />
                            </div>
                        </td>
                        <td align="center" class="due-red"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="due-table-footer">
            <table>
                <thead>
                    <tr>
                        <!--    <th width="12%" class="text-right">Mode of Payment:</th>
                        <th width="15%">
                            <select class="form-control select-dropdown">
                                <option value="CA">Cash</option>
                                <option value="CC">Credit Card</option>
                            </select>
                        </th>  -->
                        <th width="43%"></th>
                        <!-- <th width="15%" class="text-right balance-text">Total Cost:</th>
                        <th width="10%" class="text-center total-balance">{{preAmountInfo.totalCost | number}}</th>-->
                        <th width="20%" class="text-r
                        <th width="20%" class="text-right balance-text">Total Received:</th>
                        <th width="10%" class="text-center total-balance">{{preAmountInfo.advance| number}}</th>
                        <th width="20%" class="text-right balance-text">Total Balance:</th>
                        <th width="10%" class="text-center total-balance">{{preAmountInfo.balance| number}}</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="clearfix">
            <a href="" class="print-button" ng-click="billprevprint(previousBillingDataList)">Print previous Bill</a>
        </div>
    </div>

    <div id="liBilling" class="ng-pristine ng-untouched ng-valid" ng-model="DivBilling">
        <div class="appintment_view_pane clearfix">
            <div class="col-lg-12 paddinh-not">
                <div class="billing-div">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="vist-reason">
                                <label>Patient Name : </label>
                                <span class="ng-binding">{{Patients.fullName}}</span>
                            </div>
                            <div class="vist-reason">
                                <label>Patient Mobile : </label>
                                <span class="ng-binding">{{Patients.Phnumber}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <div>Amount in {{(Currencycode == 'INR') ? 'INR' : Currencycode}}</div>
                            <!--<div style="width: 70%; margin-top: 5px; float: right;"  ng-show= "Sarayucode == 'PRIMEINDIA'">
                                <select class="form-control select-dropdown" ng-model="selectedMembershipID" ng-change="MembershipSelected()"
                                ng-options="item.MembershipId as item.MembershipName for item in membershipDiscountInfo | filter:{ActiveIND:'Y'}" ng-disabled = "disableMemberdd" />
                            </div>-->
                        </div>
                    </div>

                    <p class="pull-left" ng-show="showInvoiceNumber"><b>Invoice Number :</b> {{invoiceNumber}}</p>
                    <p class="pull-right" ng-show="showReceiptNumber"><b>Receipt Number :</b> {{receiptNumber}}</p>
                    <table class="table">
                        <tr>
                            <th width="25%">Date</th>
                            <th width="30%">Treatment</th>
                            <th width="10%">Cost</th>
                            <th width="10%">Discount % </th>
                            <th width="10%">Received</th>
                            <th width="10%">Balance</th>
                        </tr>
                        <tr ng-repeat="item in currentBillingProcedureList">
                            <td>
                                <div ng-show="item.Status">{{FormatDate(item.BillDate)}}</div>
                                <div class="b-date" ng-hide="item.Status">
                                    <input type="text" class="form-control" ng-model="FormatDate(item.BillDate)" placeholder="15/02/2016" /><i class="icon-calender"></i>
                                </div>
                            </td>
                            <td>
                                <div class="b-tt">
                                    <div class="container-fluid" style="padding:0;" ng-hide="item.Status">
                                        <input type="text" ng-model="selectedTreatment" uib-typeahead="Predlist as Predlist.ProcedureName for Predlist in treatmentsArray | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onTreatmentItemSelected(selectedTreatment,$index)" ng-blur="onCustomTreatment(selectedTreatment,$index)" ng-change="entertreatment(selectedTreatment)" style=" float left;">
                                        <!--<div class="col-lg-8  date-cal-icn" angucomplete-alt id="txt_new_treatment"
                                             placeholder="Search Treatment"
                                             maxlength="50"
                                             pause="100"
                                             selected-object="selectedtreat"
                                             local-data="treatmentsArray"
                                             search-fields="ProcedureName"
                                             title-field="ProcedureName"
                                             minlength="1"
                                             class="col-lg-11 date-cal-icn"
                                             input-class="form-control form-control-small"
                                             match-class="highlight">
                                        </div> -->
                                        <a href="" ng-show="$last" class="app-bill-add-btn" ng-click="AddnewItem()"><img src="img/plus-symbole-icon.png" alt="" /></a>
                                        <a class="bill-delete-btn" ng-click="DeletenewItem(item)"><img src="img/appoint-close-ico.png" alt=""></a>
                                    </div>
                                    <div class="container-fluid" style="padding:0;" ng-show="item.Status">
                                        {{item.ProcedureName}}
                                    </div>
                                    <!--<span>Notes: Additonal Materials used</span>-->
                                    <i class="icon-calender"></i>
                                </div>
                            </td>
                            <td class="b-tt">

                                <input type="text" placeholder="" ng-model="item.ProcedureCost" numbers-only="numbers-only" maxlength="5" class="form-control" ng-disabled="(item.costStatus && item.Status)" ng-blur="processItems(item,'C')" />
                                <span style="position:absolute;height:100%;font-size: 15px;left:20px; top:16px">

                                </span>
                            </td>
                            <td class="b-tt">
                                <input type="text" placeholder="" ng-disabled="RecepDiscountUpdate == 'Y' && RoleID == 'RECPTNIST' " ng-model="item.DiscountCost" ng-blur="focusOnAmount(item,'C')" numbers-only="numbers-only" maxlength="2" class="form-control" ng-hide="item.Status" />
                                <div ng-show="item.Status"> {{item.DiscountCost }}</div>
                                <!--<span style="margin-top:10px;"> {{item.DiscountAmount}}</span>-->
                            </td>
                            </
                            <td class="b-tt">

                                <input type="text" placeholder="" ng-model="item.BilledCost" numbers-only="numbers-only" maxlength="5" ng-blur="processItems(item,'C','na')" class="form-control" /><span style="margin-top:10px;"> {{item.Previouspaid | number}}</span>
                                <span style="position:absolute;height:100%;font-size: 15px;left:20px; top:16px">

                                </span>
                            </td>
                            <td><span class="minus-amt"> {{item.Balance | number}}</span></td>
                        </tr>
                        <tr bgcolor="#e9eef3">
                            <td colspan="2" align="right" style="text-align: right !important">Total Cost:</td>
                            <td><strong> {{AmountInfo.totalCost | number}}</strong></td>
                            <td align="right" style="text-align: right !important">Total Received:</td>
                            <td> {{AmountInfo.advance | number}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="b-btm-msg" ng-show="HospitalCD == 'PRIMEINDIA'">
                                    <span>Mode of Payment</span>
                                    <select class="form-control select-dropdown" ng-model="PaymentInfo.billingPayment">
                                        <option value="CASH">Cash</option>
                                        <option value="CHEQUE">Cheque</option>
                                        <option value="CREDITCARD">Credit Card</option>
                                        <option value="DEBITCARD">Debit Card</option>
                                        <option value="INSURANCE">Insurance</option>
                                        <option value="CREDIT">Credit</option>
                                        <option value="EMI">EMI</option>
                                        <option value="OTHERS">Others</option>
                                    </select>
                                </div>
                                <div class="b-btm-msg" ng-hide="HospitalCD == 'PRIMEINDIA'">
                                    <span>Mode of Payment</span>
                                    <select class="form-control select-dropdown" ng-model="PaymentInfo.billingPayment">
                                        <option value="CASH">Cash</option>
                                        <option value="CHEQUE">Cheque</option>
                                        <option value="CREDITCARD">Credit Card</option>
                                        <option value="DEBITCARD">Debit Card</option>
                                        <option value="EMI">EMI</option>
                                        <option value="OTHERS">Others</option>
                                    </select>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="right" style="text-align: right !important">Total Balance:</td>
                            <td><strong>{{AmountInfo.balance| number}}</strong></td>
                        </tr>

                    </table>
                    <form name="Paymenttypeinfo">
                        <div class="row-bg-billing" ng-show="PaymentInfo.billingPayment == 'CREDIT' || PaymentInfo.billingPayment == 'INSURANCE'">
                            <div class="form-group">
                                <label for="" style="margin: 6px 0 0 15px; float: left;">Payment Company </label>
                                <div class="col-md-4">
                                    <select name="payCredit" class="form-control select-dropdown" id="payCredit" ng-change="getCreditdata(PaymentInfo.payCredit)" ng-model="PaymentInfo.payCredit">
                                        <option value=""> Select List</option>
                                        <option ng-repeat="pay in PaymentList | filter:{'ActiveIND':'Y'}" value="{{pay.PaymentCompanyID}}">{{pay.CompanyName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid row-bg-billing chkrow" ng-show="PaymentInfo.billingPayment == 'CHEQUE'">
                            <div class="col-lg-4">

                                <div class="amnt-res-inp">
                                    <label>Cheque Number </label>
                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="chequeNumber" placeholder="Enter cheque number" ng-model="PaymentInfo.chequeNumber" numbers-only>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="amnt-res-inp">
                                    <label>Bank Name </label>
                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="bankName" placeholder="Enter bank name" ng-model="PaymentInfo.bankName" alphabets-only>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="amnt-res-inp">
                                    <label>Date </label>
                                    <input class="form-input select-dropdown" placeholder="Select Date" ng-model="PaymentInfo.Day" datepickerappointmentlist style="width:180px !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid row-bg-billing creditrow" ng-show="PaymentInfo.billingPayment == 'CREDITCARD' || PaymentInfo.billingPayment =='DEBITCARD'">
                            <div class="col-lg-3">
                                <div class="amnt-res-inp">
                                    <label>Card Number </label>
                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="cardNumber" placeholder="Enter card number" ng-model="PaymentInfo.cardNumber" numbers-only style="width: 150px !important">
                                </div>
                            </div>
                            <div class="col-lg-3 no-pad">
                                <div class="amnt-res-inp">
                                    <label>Bank Name </label>
                                    <input type="text" class="form-control creditin1 ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="nameOfBank" placeholder="Enter bank name" ng-model="PaymentInfo.nameOfBank" alphabets-only>
                                </div>
                            </div>
                            <div class="col-lg-3 no-pad">
                                <div class="amnt-res-inp">
                                    <label>Card Type</label>
                                    <select class="form-input select-dropdown creditin3" name="cardType" ng-model="PaymentInfo.cardType">
                                        <option value="">Select Card Type</option>
                                        <option value="Visa">Visa</option>
                                        <option value="MasterCard">MasterCard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 no-pad">
                                <div class="amnt-res-inp">
                                    <label>Name On Card </label>
                                    <input type="text" class="form-control creditin4 ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="nameOnCard" placeholder="Enter name on card" ng-model="PaymentInfo.nameOnCard" alphabets-only>
                                </div>
                            </div>
                            <br>
                            <div class="row-fluid row-bg-billing">
                                <div class="col-lg-12">
                                    <div class="amnt-res-inp">
                                        <label class="validlbl">Valid Till</label>
                                        <select class="form-input cc-year select-dropdown" ng-model="PaymentInfo.validyear" name="validyear">
                                            <option value="">Year</option>
                                            <option value="{{yList}}">{{yList}}</option>
                                            <option value="{{yList+1}}">{{yList+1}}</option>
                                            <option value="{{yList+2}}">{{yList+2}}</option>
                                            <option value="{{yList+3}}">{{yList+3}}</option>
                                            <option value="{{yList+4}}">{{yList+4}}</option>
                                            <option value="{{yList+5}}">{{yList+5}}</option>
                                            <option value="{{yList+6}}">{{yList+6}}</option>
                                            <option value="{{yList+7}}">{{yList+7}}</option>
                                            <option value="{{yList+8}}">{{yList+8}}</option>
                                            <option value="{{yList+9}}">{{yList+9}}</option>
                                            <option value="{{yList+10}}">{{yList+10}}</option>
                                            <option value="{{yList+11}}">{{yList+11}}</option>
                                            <option value="{{yList+12}}">{{yList+12}}</option>
                                            <option value="{{yList+13}}">{{yList+13}}</option>
                                            <option value="{{yList+14}}">{{yList+14}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="form-input select-dropdown cc-month reg-mnth-drpdwn " name="validmonth" ng-model="PaymentInfo.validmonth">
                                            <option value="">month</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
                <a href="" class="print-bill-btn" ng-click="BillPrint()">Print Bill</a>
            </div>
        </div>
        <div style="margin:15px 0; overflow: hidden;">
            <!-- <div class="col-lg-12"> -->
            <!-- <a href="" class="print-bill-btn" ng-click="BillPrint()">Print Bill</a> -->
            <!--<a href="" class="primary-btn">Email Bill</a>-->
            <a href="javascript:;" class="bill-submit-btn" style="float: right" ng-click="Submit()">Submit</a>
        </div>
        <!-- </div> -->
    </div>
</div>