<style type="text/css">
.modal-common {
    z-index: 999;
}

#getDateValueList {
    width: 160px;
    padding-right: 5px;
}

.hospitalListBox {
    max-width: 200px;
}

.doctorListBox {
    /*  display: inline-block;
    width: 250px; */
    margin-top: 15px;
}

.appintment_view_pane {}
</style>
<style>
span.char {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 37px;
    font-size: 13px;
    text-transform: uppercase;
}

span.char.hcuegreen {
    background-color: #039394;
}

span.char.orange {
    background-color: #F37224;
}
.no-mar{margin:0!important;}
.text-bold{font-weight: bold}
.tcenter{text-align: center;}
.bdr-b{border-bottom:1px solid #EFEFEF;}
.pad-b-2{padding-bottom: 2px;}
.pad-b-5{padding-bottom: 5px;}

.manage_view_header{padding:7px 25px;}
.manage_view_pane{padding:0px;margin-top:0px;overflow: hidden;}
.manage_view_pane h4{padding:10px 20px;font-size: 16px;color:white;background: #7b8ea0;margin-top: 0px;}
.manage_view_list li{list-style-type: none}
.manage_view_list li a,.manage_view_content{margin:10px 10px; border:1px solid #d6d6d6;border-radius: 3px;display: block;}
.manage_view_list li a:hover{background:#FAFAFA;}
.manage_view_list h6{font-size: 15px;color:#000;font-weight: bold;margin:5px 0px;}
.manage_view_list h6 span{font-size: 12px;color:#888;}
.manage_view_list h6 input{vertical-align: text-bottom;margin-right:5px;}
.manage_date{font-weight: normal;color:#888;margin-top:5px!important;padding-right: 15px;font-size: 12px;text-align: right;}
.manage_info{padding-right: 15px;}
.manage_info_bg{background:#fafafa;}
.manage_date span{display: block;font-size: 12px;color:#888;text-align: right}
.manage_info span{color:#888;font-size: 12px;padding:0 10px 0 0;font-weight: normal}
.manage_view_list p,.manage_view_list a{color:#000;}
.manage_view_list p{margin:0px;}
.model-popup-header a#close_popup{margin-right:10px;line-height: 25px}
.manage_view_list .phone-icon{background:url('./img/mobile_icon.png')no-repeat left center;padding-left: 20px;font-weight:500;}
.manage_book_info{padding:5px;margin:0 0 5px 0;border:1px solid #d6d6d6;border-radius: 3px}
.manage_book_info p{margin:0px;}
.manage_book_info>div{border-right:1px solid #eaeaea;padding:5px;}
.manage_book_info>div:last-child{border-right:0px;}
.manage_book_info select{display: inline-block;width:100%;padding:5px 0px;border-color:#CCC;border-radius:3px;}
.manage-timings{max-height: 200px;overflow: auto;}
.manage-timings .timings li{display:inline-block;}
.manage-timings .timings li a{display: inline-block;width:43px;border:1px solid #28465a;border-radius: 2px;margin:3px;text-align: center;padding:2px 3px;}
.manage-timings .timings li a{font-size: 10px;color:#28465a;}
.manage-timings .timings li:hover a{background: #EFEFEF}
.manage-timings .timings li:hover a{font-size: 10px;color:#000;}
.manage-timings .timings li a.active{background:#28465a;border-color:#28465a;}
.manage-timings .timings li a.active{color:#fff;}
.model-popup-header{margin:-20px -20px 10px -20px;}
.model-popup-header h4{padding:7px 0;margin-bottom: 0px}
.manage_popup .btn{padding:3px 8px;font-size:12px }
.manage_popup .modal-footer{margin-top: 0px}
.manage_popup .modal-footer .btn{font-size:14px }
.manage_popup .manage_view_list .phone-icon{font-size: 18px;}
.manage_popup .well{margin-bottom:0px;}
.manage_popup .well .text-info{color:#333!important;}
.manage_popup .well .btn-info.active .text-info{color:#fff!important;}
.manage_popup small{font-size: 12px}
.manage_popup .btn-info.active{height:25px!important;border-radius:4px!important;}
.manage_popup .btn-info.active:hover{border-radius:4px!important;}
.manage_addr{font-size: 12px;}
</style>
<div class="wrapper" ng-controller="hcueManageAppointmentList" id= "refdoctor">

<!-- Modal Manage View Book Appointment-->
<div class="modal-overlay" ng-show="showpatientmanage == true"></div><!--ng-show="showpatientvitals == true"-->
    <div class="modal-common" id="refdoctor" ng-show="showpatientmanage == true">
        <div class="modal-common-dialog app-new-popup manage_popup" ng-show="showpatientmanage == true">

            <div class="model-popup-header">
                <h4 class="modal-title" id="myModalLabel">
                    Book Appointment<a id="close_popup" ng-click="manageCancel()" class="light-font pull-right appointment-popup">
                        <i class="icon-app-cancel"></i>
                    </a>
                </h4>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <ul class="manage_view_list">
                          <li>
                              <div class="manage_view_content no-mar">
                                <div class="row no-mar vcenter bdr-b pad-b-2">
                                <div class="col-sm-10"> 
                                <h6>{{selectedManagePatientDetails.PatientDetails.Patient[0].FullName}}</h6> 
                                    <span>
								
									{{((selectedManagePatientDetails.PatientDetails.Patient[0].CurrentAge === undefined) ? '' :
									(((selectedManagePatientDetails.PatientDetails.Patient[0].CurrentAge.year > 0) ? 
									selectedManagePatientDetails.PatientDetails.Patient[0].CurrentAge.year + " y" : '' )+ ' ' + 
									(((selectedManagePatientDetails.PatientDetails.Patient[0].CurrentAge.month > 0) ? 
									selectedManagePatientDetails.PatientDetails.Patient[0].CurrentAge.month + " m" : ''))))
								 }}/ {{selectedManagePatientDetails.PatientDetails.Patient[0].Gender == 'M' ? 'Male':'Female'}}
								   </span> 
								 <p class="single-line phone-icon">{{selectedManagePatientDetails.PatientDetails.PatientPhone[0].PhNumber}}</p>
                                </div>
                                <div class="col-sm-2 no-pad">
                                    <p class="manage_date pull-right"><span>Requested on</span>{{selectedManagePatientDetails.ConsultationDt | date :   format : 'yyyy-MM-dd'}}</p>
                                    <p class="manage_date pull-right"><span>Time: </span>{{selectedManagePatientDetails.StartTime}}</p>
                                 </div>
                                </div>
                                <div class="row no-mar pad-b-5 manage_info_bg">
                                <div class="col-sm-6"> 
                                <p class="manage_info"><span>Speciality Requested</span>{{GetSpecialityById(selectedManagePatientDetails.SpecialityCD)}}</p>
                                </div>
                                <div class="col-sm-6 no-pad">
                                    <p class="manage_info pull-right text-bold"><span>Branch</span>{{selectedManagePatientDetails.Location}}</p>
                                </div>
                                </div>
                              </div>
                          </li>
                    </ul>
                </div>
                </div>
                <div class="row manage_book_info">
                <div class="col-sm-4 no-pad">
                    <p class="text-bold">Branch</p>
                    <select class="select-dropdown"><option>{{mangeDoctorDetails.HospitalInfo.HospitalDetails.HospitalName}}</option></select> 
                   
                </div>
                <!--<div class="col-sm-4 no-pad">
                <p class="text-bold">Speciality {{specialityList | json}}</p>
                <select><option>General Physician</option></select>
                    <select id="manageaddressId" name="managedocAddress" >
                        <option ng-repeat="key as value for (key, value)  in specialityList" value="{{key}}">{{value}}</option>

                    </select>
                </div>-->  
                <div class="col-sm-4 no-pad">
                    <p class="text-bold">Doctor</p>
                    <!--<select><option>Dr. Narendra Kumar</option><option>Dr. Narendra Dandayuda Pani</option></select>-->
                    <select id="manageaddressId" class="select-dropdown" ng-change="manageChangeDr()" name="managedocAddress" ng-model="manageSelectedDr" ng-options="drObj.DoctorID as drObj.FullName for drObj in mangeDoctorDetails.DoctorDetails">
                        <option value=""> --Select Doctor-- </option>
                        <option id='{{drObj.DoctorID}}' value='{{drObj.FullName}}'>{{drObj.FullName}}</option>

                    </select>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    
                    <div style="display:inline-block; min-height:200px;">
                      <uib-datepicker ng-model="tmpDT" class="well well-sm" ng-click='openDatePicker($event)' datepicker-options="options"></uib-datepicker>
                    </div>

                    
                </div>
                <div class="col-sm-6 manage-timings">
                    <ul class="timings">
				
                        <!--<li><a href="">10:00</a></li>
                        <li><a href="">10:15</a></li>
                        <li><a href="">10:30</a></li>
                        <li><a href="">10:45</a></li>
                        <li class="active"><a href="">11:00</a></li>
                        <li class=""><a href="">11:15</a></li>
                        <li class=""><a href="">11:30</a></li>
                        <li class=""><a href="">11:45</a></li>
                        <li class=""><a href="">12:00</a></li>
                        <li class=""><a href="">12:10</a></li>
                        <li class=""><a href="">12:30</a></li>
                        <li class=""><a href="">12:45</a></li>
                        <li class=""><a href="">01:00</a></li>
                        <li class=""><a href="">01:15</a></li>
                        <li class=""><a href="">01:30</a></li>
                        <li class=""><a href="">01:45</a></li>
                        <li><a href="">02:00</a></li>
                        <li><a href="">02:15</a></li>
                        <li><a href="">02:30</a></li>
                        <li><a href="">02:45</a></li>
                        <li><a href="">03:00</a></li> -->
						<li ng-repeat="slotData in setValue">
							<a href="javascript:;"  ng-click = "selectedslot(slotData)" class="{{slotData == highlightSlotValAppointment ? 'active' : '' }}">{{slotData.startTime}}</a>
						</li>
                    </ul>
                    <div class="text-center" ng-if="setValue.length == 0">
                        <h4>Time slot not available for the selected date</h4>
                    </div>
                </div>
                
                </div>
            <div class="modal-footer">
                
                <button class="btn btn-primary" type="button" ng-click="SaveHospitalAppointment()">Book Appointment</button>
            </div>
        </div>
    </div>
<!--Modal Manage View Book Appointment End-->

<!-- Modal Manage View Book Appointment-->
<div class="modal-overlay" ng-show="showpatientlab == true"></div><!--ng-show="showpatientvitals == true"-->
    <div class="modal-common" id="refdoctor" ng-show="showpatientlab == true">
        <div class="modal-common-dialog app-new-popup manage_popup" ng-show="showpatientlab == true">
            
            <div class="model-popup-header">
                <h4 class="modal-title" id="myModalLabel">Book Lab Appointment<a id="close_popup" ng-click="cancelLabPopup()" class="light-font pull-right appointment-popup" >
                            <i class="icon-app-cancel"></i></a></h4>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                   <ul class="manage_view_list">
                          <li>
                              <div class="manage_view_content no-mar">
                                <div class="row no-mar vcenter bdr-b pad-b-2">
                                <div class="col-sm-10"> 
                                <h6>{{selectedLabpatientdetails.patientDetails.fullName}} <span>
								{{((selectedLabpatientdetails.patientDetails.CurrentAge === undefined) ? selectedLabpatientdetails.patientDetails.Age :(((selectedLabpatientdetails.patientDetails.CurrentAge.year > 0) ?selectedLabpatientdetails.patientDetails.CurrentAge.year + " y" : '' )+ ' ' + (((selectedLabpatientdetails.patientDetails.CurrentAge.month > 0) ? selectedLabpatientdetails.patientDetails.CurrentAge.month + " m" : ''))))
								 }}/ {{selectedLabpatientdetails.patientDetails.Patient[0].Gender == 'M' ? 'Male':'Female'}}</span></h6>
                                <p class="single-line phone-icon">{{selectedLabpatientdetails.patientDetails.contactNumber}}</p>
                                </div>
                                <div class="col-sm-2 no-pad">
                                    <p class="manage_date pull-right"><span>Requested on</span>{{selectedLabpatientdetails.appointmentDetails.ConsultationDt | date :   format : 'yyyy-MM-dd'}}</p>
                                </div>
                                </div>
                                <div class="row no-mar pad-b-5 manage_info_bg">
                               
                                
                                </div>
                              </div>
                          </li>
                    </ul>
                </div>
                </div>
                <div class="row manage_book_info">
                <div class="col-sm-4 no-pad">
                    <p class="text-bold">Branch</p>
                    {{selectedLabpatientdetails.partnerDetails.LocationDesc}}
                </div>
                <div class="col-sm-8 no-pad">
                    <p class="text-bold" ng-if="selectedLabpatientdetails.labTest.length > 0">Lab Test</p> 
					<p > {{selectedLabpatientdetails.labTest[0].LabTestName}} </p>
                    <!-- <select>
					<option>Echo Cardio Gram Test</option>
					<option>X-Ray</option></select> -->
                </div>  
            </div>
            <div class="row">
                <div class="col-sm-6">
                    
                    <div style="display:inline-block; min-height:200px;">
                      <uib-datepicker ng-model="datchangeval" class="well well-sm" ng-click='datechangeforlabapp($event)' datepicker-options="options"></uib-datepicker>
                    </div>

                    
                </div>
                <div class="col-sm-6 manage-timings">
                    <ul class="timings" >
                      <!--   <li><a href="">10:00</a></li>
                        <li><a href="">10:15</a></li>
                        <li><a href="">10:30</a></li>
                        <li><a href="">10:45</a></li>
                        <li class="active"><a href="">11:00</a></li>
                        <li class=""><a href="">11:15</a></li>
                        <li class=""><a href="">11:30</a></li>
                        <li class=""><a href="">11:45</a></li>
                        <li class=""><a href="">12:00</a></li>
                        <li class=""><a href="">12:10</a></li>
                        <li class=""><a href="">12:30</a></li>
                        <li class=""><a href="">12:45</a></li>
                        <li class=""><a href="">01:00</a></li>
                        <li class=""><a href="">01:15</a></li>
                        <li class=""><a href="">01:30</a></li>
                        <li class=""><a href="">01:45</a></li>
                        <li><a href="">02:00</a></li>
                        <li><a href="">02:15</a></li>
                        <li><a href="">02:30</a></li>
                        <li><a href="">02:45</a></li>
                        <li><a href="">03:00</a></li>
                        <li><a href="">03:15</a></li>
                        <li><a href="">03:30</a></li>
                        <li><a href="">03:45</a></li>
                        <li><a href="">04:00</a></li>
                        <li><a href="">04:15</a></li>
                        <li><a href="">04:30</a></li>
                        <li><a href="">04:45</a></li>
                        <li><a href="">05:00</a></li>
                        <li><a href="">05:15</a></li>
                        <li><a href="">05:30</a></li>
                        <li><a href="">05:45</a></li>
                        <li><a href="">06:00</a></li> 
						<li><a href="">06:15</a></li>
                        <li><a href="">06:30</a></li>
                        <li><a href="">06:45</a></li>
                        <li><a href="">07:00</a></li> <li><a href="">07:15</a></li>
                        <li><a href="">07:30</a></li>
                        <li><a href="">07:45</a></li>
                        <li><a href="">08:00</a></li> <li><a href="">08:15</a></li>
                        <li><a href="">08:30</a></li>
                        <li><a href="">08:45</a></li>
                        <li><a href="">09:00</a></li>
 -->                
					<li ng-repeat="slotLabData in labslotlist">
							<a href="javascript:;" ng-model = "startTime" class="{{slotLabData == highlightslotval ? 'active' : '' }}" ng-click = "selectedLabslot(slotLabData)">{{slotLabData}}</a>
						</li>
					</ul>
                </div>
                </div>
            <div class="modal-footer">
                
                <button class="btn btn-primary" type="button" ng-click="sendLabLeads()">Send to Lab</button>
            </div>
        </div>
    </div>
<!--Modal End-->


    
    <div class="app-header manage_view_header" style="margin-top:0px;">
        <div class="form-inline row">
            <!--  <li>
              <label class="col-sm-3">Doctor</label>
              <div class="col-sm-9">
                <select class="form-control" name="docAddress" ng-change="docAddress()" ng-model="selectedItem">
                  <option ng-repeat="doctorclinic in doctoraddress" value="{{doctorclinic.AddressID}}">{{doctorclinic.ClinicName}}</option>
                </select>
              </div>
            </li> -->
            

            <div class="col-md-3">
                <div class="app-date">
                    <label>Date</label>
                    <div class="list list-inset docDateTextBox" ng-show="appointmentlistID == true">
                        <!--<i class="icon-calleder"></i>
                                <div class="form-group">
                                     <label class="item item-input item-select">-->
                       <input class="form-input" ng-model="appointmentreqdate"  datepickerappointmentlist ng-change="getLabAppointmentDetails(appointmentreqdate)" style="width:170px !important;">
                        
					  <i class="icon-Calendar"></i>
                        <!--  <input type="date" id="getDateValueList" class="dob form-control" 
                                         ng-model="referredappointmentdate" ng-change="getListingDetailsonDateChange()" /> -->
                        <!--</label>
                                </div>-->
                    </div>
                    <div class="date-pick" ng-hide="true">
                        <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ng-show="showCalendarID == true"></daypilot-navigator>
                    </div>
                </div>
            </div>
                        
           
        </div>
    </div>
    <div class=" ">
        <div class="custom-tab-pane">
            <center><i class="ion-loading-c" style="font-size:25px" ng-show="referredshowloading"></i></center>
            <div class="row">
                <div class="col-sm-6">
                    <div class="table-container data-grid appintment_view_pane no-mar manage_view_pane" ng-show = "mangeHospitalAppointments.length > 0 "  ng-class="item.active">
                    <h4>Appointment Requests</h4> 
                      <ul class="manage_view_list" ng-repeat="obj in mangeHospitalAppointments" >
                          <li>
                              <a ng-click="showManageAppointment(obj)">
                                <div class="row no-mar vcenter bdr-b pad-b-2">
                                <div class="col-sm-10">
                                  
                                <h6>{{obj.PatientDetails.Patient[0].FullName}} <span>
								
								
								
								{{((obj.PatientDetails.Patient[0].CurrentAge === undefined) ? '' :
									(((obj.PatientDetails.Patient[0].CurrentAge.year > 0) ? 
									obj.PatientDetails.Patient[0].CurrentAge.year + " y" : '' )+ ' ' + 
									(((obj.PatientDetails.Patient[0].CurrentAge.month > 0) ? 
									obj.PatientDetails.Patient[0].CurrentAge.month + " m" : ''))))
								 }}/ {{obj.PatientDetails.Patient[0].Gender == 'M' ? 'Male':'Female'}}
								</span></h6>
                                <p class="single-line phone-icon">{{obj.PatientDetails.PatientPhone[0].PhNumber}}</p>
                                </div>
                                <div class="col-sm-2 no-pad">
                                    <p class="manage_date pull-right"><span>Requested on</span>{{obj.ConsultationDt | date :   format : 'yyyy-MM-dd'}}</p>
                                    <p class="manage_date pull-right"><span>Time: </span>{{obj.StartTime}}</p>
                                </div>
                                </div>
                                <div class="row no-mar pad-b-5 manage_info_bg">
                                <div class="col-sm-6">
                                <p class="manage_info"><span>Speciality</span> {{GetSpecialityById(obj.SpecialityCD)}}</p>
                                </div>
                                <div class="col-sm-6 no-pad">
                                    <p class="manage_info pull-right text-bold"><span>Branch</span>{{obj.Location}}</p>
                                </div>
                                </div>
                              </a>
                          </li>
                      </ul>
                    </div>
					
					<div class="billing-cominsoon text-center" style="margin-top: 120px;color:#b3b3b3;font-size:15px;" ng-show="mangeHospitalAppointments.length==0  && mangeHospitalLab.length !== 0  ">
                <svg version="1.1" id="Layer_1" style="fill:#e9e9e9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" d="M8.1,9.803" />
                        <g>
                            <rect x="9.013" y="8.246" width="1.919" height="1.919" />
                            <rect x="4.763" y="12.633" width="1.919" height="1.92" />
                            <rect x="4.763" y="8.246" width="1.919" height="1.919" />
                            <rect x="9.013" y="12.633" width="1.919" height="1.92" />
                            <rect x="13.263" y="8.246" width="1.919" height="1.919" />
                            <rect x="13.263" y="12.633" width="1.919" height="1.92" />
                            <path d="M17.896,3.393h-4.881V1.774c0-0.151-0.123-0.274-0.273-0.274c-0.152,0-0.274,0.123-0.274,0.274v1.618H7.696V1.774
                                c0-0.151-0.122-0.274-0.273-0.274S7.148,1.623,7.148,1.774v1.618H2.104c-0.151,0-0.274,0.123-0.274,0.273v14.561
                                c0,0.152,0.123,0.273,0.274,0.273h15.793c0.151,0,0.274-0.121,0.274-0.273V3.666C18.171,3.516,18.048,3.393,17.896,3.393z
                                 M17.623,17.953H2.377V3.94h4.771v0.905c0,0.151,0.123,0.274,0.274,0.274s0.273-0.123,0.273-0.274V3.94h4.771v0.905
                                c0,0.151,0.122,0.274,0.274,0.274c0.15,0,0.273-0.123,0.273-0.274V3.94h4.607V17.953z" />
                        </g>
                    </g>
                </svg>
                <div class="msg"> Sorry! You have no appointment requests</div>
            </div>
					
                </div>
               <div class="col-sm-6">
			   
                    <div class="table-container data-grid appintment_view_pane no-mar manage_view_pane" ng-show = "mangeHospitalLab.length > 0" ng-class="item.active" >
                    <h4>Lab Requests</h4>  
                      <ul class="manage_view_list"  ng-repeat = "labitem in mangeHospitalLab"> 
                          <li>
                              <a ng-click="labAppointmentPopup(labitem)">
                                <div class="row no-mar vcenter bdr-b pad-b-2">
                                <div class="col-sm-10"> 
                                <h6>{{labitem.patientDetails.fullName}} <span>
								{{((labitem.patientDetails.CurrentAge === undefined) ? labitem.patientDetails.Age :(((labitem.patientDetails.CurrentAge.year > 0) ?labitem.patientDetails.CurrentAge.year + " y" : '' )+ ' ' + (((labitem.patientDetails.CurrentAge.month > 0) ? labitem.patientDetails.CurrentAge.month + " m" : ''))))}} / {{labitem.patientDetails.gender == 'M' ? 'Male' : 'Female'}}</span>
								   <p class="single-line phone-icon">{{(labitem.patientDetails.contactNumber === undefined) ? '' : labitem.patientDetails.contactNumber }}</p>
								 </div>
                                <div class="col-sm-2 no-pad">
                                    <p class="manage_date pull-right"><span>Requested on</span>{{labitem.appointmentDetails.ConsultationDt | date :   format : 'MMM-dd-yyyy'}}</p>
                                </div>
                                </div>
                                <div class="row no-mar pad-b-5 manage_info_bg">
                                <div class="col-sm-8">
                                <p class="manage_info"><span ng-show="labitem.labTest.length > 0 ">Test</span>{{labitem.labTest[0].LabTestName}}</p>
                                </div>
                                <div class="col-sm-4 no-pad">
                                    <p class="manage_info pull-right text-bold"><span>Branch</span>{{labitem.partnerDetails.LocationDesc}}</p>
                                </div>
                                </div>
                              </a>
                          </li>
                           
                      </ul>
                    </div>
					<div class="billing-cominsoon text-center" style="margin-top: 120px;color:#b3b3b3;font-size:15px;
                    " ng-show="mangeHospitalLab.length==0 && mangeHospitalAppointments.length !==0">
                <svg version="1.1" id="Layer_1" style="fill:#e9e9e9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" d="M8.1,9.803" />
                        <g>
                            <rect x="9.013" y="8.246" width="1.919" height="1.919" />
                            <rect x="4.763" y="12.633" width="1.919" height="1.92" />
                            <rect x="4.763" y="8.246" width="1.919" height="1.919" />
                            <rect x="9.013" y="12.633" width="1.919" height="1.92" />
                            <rect x="13.263" y="8.246" width="1.919" height="1.919" />
                            <rect x="13.263" y="12.633" width="1.919" height="1.92" />
                            <path d="M17.896,3.393h-4.881V1.774c0-0.151-0.123-0.274-0.273-0.274c-0.152,0-0.274,0.123-0.274,0.274v1.618H7.696V1.774
                                c0-0.151-0.122-0.274-0.273-0.274S7.148,1.623,7.148,1.774v1.618H2.104c-0.151,0-0.274,0.123-0.274,0.273v14.561
                                c0,0.152,0.123,0.273,0.274,0.273h15.793c0.151,0,0.274-0.121,0.274-0.273V3.666C18.171,3.516,18.048,3.393,17.896,3.393z
                                 M17.623,17.953H2.377V3.94h4.771v0.905c0,0.151,0.123,0.274,0.274,0.274s0.273-0.123,0.273-0.274V3.94h4.771v0.905
                                c0,0.151,0.122,0.274,0.274,0.274c0.15,0,0.273-0.123,0.273-0.274V3.94h4.607V17.953z" />
                        </g>
                    </g>
                </svg>
                <div class="msg"> Sorry! You have no lab requests</div>
            </div>
                </div>
            </div>
            <div class="billing-cominsoon text-center" style="margin-top: 170px;color:#b3b3b3;font-size:15px;
            " ng-show="mangeHospitalAppointments.length==0 && mangeHospitalLab.length == 0 ">
                <svg version="1.1" id="Layer_1" style="fill:#e9e9e9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" d="M8.1,9.803" />
                        <g>
                            <rect x="9.013" y="8.246" width="1.919" height="1.919" />
                            <rect x="4.763" y="12.633" width="1.919" height="1.92" />
                            <rect x="4.763" y="8.246" width="1.919" height="1.919" />
                            <rect x="9.013" y="12.633" width="1.919" height="1.92" />
                            <rect x="13.263" y="8.246" width="1.919" height="1.919" />
                            <rect x="13.263" y="12.633" width="1.919" height="1.92" />
                            <path d="M17.896,3.393h-4.881V1.774c0-0.151-0.123-0.274-0.273-0.274c-0.152,0-0.274,0.123-0.274,0.274v1.618H7.696V1.774
                                c0-0.151-0.122-0.274-0.273-0.274S7.148,1.623,7.148,1.774v1.618H2.104c-0.151,0-0.274,0.123-0.274,0.273v14.561
                                c0,0.152,0.123,0.273,0.274,0.273h15.793c0.151,0,0.274-0.121,0.274-0.273V3.666C18.171,3.516,18.048,3.393,17.896,3.393z
                                 M17.623,17.953H2.377V3.94h4.771v0.905c0,0.151,0.123,0.274,0.274,0.274s0.273-0.123,0.273-0.274V3.94h4.771v0.905
                                c0,0.151,0.122,0.274,0.274,0.274c0.15,0,0.273-0.123,0.273-0.274V3.94h4.607V17.953z" />
                        </g>
                    </g>
                </svg>
                <div class="msg"> Sorry! You have no appointments</div>
            </div>
			
			
			
			
            <!-- <div class="billing-cominsoon text-center" style="margin-top: 170px" ng-show="referredappointmentlist.length ==0">
                <img src="img/no-result-ico.png" >
                <div class="msg"> No New Appointments</div>
                </div>-->
        </div>
        <!-- Patient Edit -->
        <div id="modal" role="dialog" class="modal hide fade">
            <div ng-controller="hCueUpdatePatintInfo">
                <div class="modal-header">
                    Item Dialog
                </div>
                <div class="modal-body">
                    <label for="txtName" />
                    <input type="text" id="txtName" ng-model="{{row.PatientDetails.Patient[0].FullName
}}" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
<!--         <div ng-controller="hCueUpdatePatintInfo">
           
            <script type="text/ng-template" id="myModalContent.html">
                <div class="addnew-patient">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Update Patient Record
                            <a id="close_popup" ng-click="cancel()" class="light-font pull-right appointment-popup" >
                            <i class="icon-app-cancel"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="modal-body ">
                   
                    <div class="modal-body">
                        <form name="patientform" class="addnew-patient-body" novalidate>
                            <div class="row">
                                <div class="col-sm-6" ng-hide="true">
                                    <div class="form-group">
                                        <label>First Name<em>*</em></label>
                                        <div class="input-set">
                                            <div class="input-set-row"> <span class="input-col input-col-icon"><i class="fa fa-user"></i> </span> <span class="input-col">
                                <input type="text" name="firstname" class="form-control" placeholder="enter first name" required ng-model="items.PatientDetails.Patient[0].FirstName">
                                </span> </div>
                                        </div>
                                        <span ng-show="patientform.$submitted || patientform.firstname.$touched"> <span class="error-msg"  ng-show="patientform.firstname.$error.required">Enter first name</span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3">
                                                <label class="light-label">Title</label>
                                                <select name="patient_title" id="patient_title" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse ng-pristine" ng-model="items.PatientDetails.Patient[0].Title" style="
    padding-top: 4px;
    padding-bottom: 4px;
">
                                                    <option value="Mr">Mr</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Miss">Miss</option>
                                                    <option value="Master">Master</option>
                                                    <option value="Baby">Baby</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-9 col-md-9">
                                                <label class="light-label">Name<em>*</em></label>
                                                <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="firstname" required="" placeholder="Enter name" ng-model="items.PatientDetails.Patient[0].FullName">
                                                <span ng-show="patientform.$submitted  || patientform.firstname.$touched" class="ng-hide" style="">
                                <span class="error-msg" ng-show="patientform.firstname.$error.required" style="">Enter name</span>
                                                </span>
                                            </div>
                                            <span ng-show="patientform.$submitted || patientform.FullName.$touched" class="ng-hide" style=""> <span class="error-msg ng-hide" ng-show="patientform.FullName.$error.required">Enter fullname</span>
                                            </span>
                                        </div>
                                        <span ng-show="patientform.$submitted || patientform.FullName.$touched"> <span class="error-msg"  ng-show="patientform.FullName.$error.required">Enter fullname</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3" style="
    width: 70px;
    margin-top: 0px;
">
                                    <label class="light-label" style="width: 152px;">Age</label>
                                    <input type="number" value="0" name="age" ng-change="numbererrormsg()" class="form-control ng-valid-minlength ng-valid-maxlength ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-pristine ng-valid ng-valid-required ng-valid-min ng-valid-max" required="" placeholder="Enter age" ng-model="ageSplits.year" min="0" max="150" ng-minlength="1" maxlength="3" aw-limit-length="3" ng-trim="false" style="width: 59px; padding-right: 12px;">
                                    <span class="error-msg"></span>
                                    <label style="
                                color: #969696;
                                font-size: 14px;
                                color: #969696;
                                font-size: 14px;
                                font-size: 14px;
                                position: absolute;
                                color: #969696;
                                padding-top: 4px;
                                font-weight: normal;
                                    font-family: 'proxima_novalight';
                                ">Years</label>
                                </div>
                                <div class="col-lg-3" style="
                                    width: 90px;
                                    height: 75px;
                                    margin-top: 21px;
                                    padding-left: 9px;
                                    padding-right: 10px;
                                    margin-right: 12px;">
                                    <select class="form-control ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-pristine ng-untouched ng-valid ng-valid-required" required="" ng-model="ageSplits.months" style="padding-top: 6px;margin-top: 0px;     width: 61px;">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                    </select>
                                    <span class="error-msg ng-binding"></span>
                                    <label style="
                                padding-right: 5px;
                                color: #969696;
                                font-size: 14px;
                                font-size: 14px;
                                position: absolute;
                                color: #969696;
                                padding-top: 5px;
                                font-family: 'proxima_novalight';">Months
                                    </label>
                                    <span class="error-msg">{{error_age}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="light-label">Gender<em>*</em></label>
                                        <div class="input-set gender-list">
                                            <div class="input-set-row">
                                                <label class="item item-radio light-label">
                                                    <input type="radio" name="group" value="M" ng-checked="items.PatientDetails.Patient[0].Gender =='M'" ng-click="Gender='M'" ng-model="items.PatientDetails.Patient[0].Gender" class="ng-pristine ng-untouched ng-valid"> Male
                                                    <i class="radio-icon ion-checkmark"></i>
                                                </label>
                                                <label class="item item-radio light-label">
                                                    <input type="radio" name="group" value="F" ng-checked="items.PatientDetails.Patient[0].Gender =='F'" ng-click="Gender='F'" ng-model="items.PatientDetails.Patient[0].Gender" class="ng-pristine ng-untouched ng-valid" checked="checked"> Female
                                                    <i class="radio-icon ion-checkmark"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="light-label">Phone Number</label>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3" style="display:none">
                                            <input type="text" name="stdcode" ng-model="stdCode" placeholder="STD" class="form-control ng-pristine ng-untouched ng-valid" numbers-only="numbers-only" aw-limit-length="5" ng-trim="false">
                                        </div>
                                        <div class="col-md-12" style="padding-left: 0px;">
                                            <input class="form-control ng-pristine ng-valid ng-valid-minlength ng-valid-maxlength ng-touched" type="tel" name="alternativephone" onkeypress="return isNumber(event)" ng-minlength="6" ng-maxlength="10" placeholder="" ng-model="items.PatientDetails.PatientPhone[0].PhNumber" style="
    width: 175px;
">
                                        </div>
                                        <span ng-show="patientform.$submitted || patientform.alternativephone.$error"> <span class="error-msg ng-hide" ng-show="patientform.alternativephone.$error.minlength || patientform.alternativephone.$error.maxlength">Enter a valid alternative number 6 to 10 digits</span> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide="true">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>E-mail <small>(optional)</small></label>
                                        <div class="input-set">
                                            <div class="input-set-row"> <span class="input-col input-col-icon"><i class="fa fa-envelope"></i> </span> <span class="input-col">
                                      <input type="email"  name="emailid" class="form-control"   ng-pattern="emailpattern" placeholder="enter patient email id" ng-model="items.PatientDetails.patientEmail[0].EmailID">
                                      </span> </div>
                                        </div>
                                        <span ng-show="patientform.$submitted || patientform.emailid.$error"> <span class="error-msg"  ng-show="patientform.emailid.$error.pattern">Enter a valid e-mail id</span> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide="true">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address 1 <small>(optional)</small></label>
                                        <div class="input-set">
                                            <div class="input-set-row"> <span class="input-col input-col-icon"><i class="fa fa-map-marker"></i> </span> <span class="input-col">
                                      <input type="text" id="Autocomplete" placeholder="Enter Patient Address" class="form-control" details="latlng" ng-autocomplete ng-model="items.PatientDetails.patientAddress[0].Address1" ng-focus="disableTap()">
                                      </span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide="true">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address 2 <small>(optional)</small></label>
                                        <div class="input-set theme-orange">
                                            <div class="input-set-row"> <span class="input-col input-col-icon"><i class="fa fa-map-marker"></i> </span> <span class="input-col">
                                      <input type="text" placeholder="enter patient address" ng-model="items.PatientDetails.patientAddress[0].Address2" class="form-control">
                                      </span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row modal-footer">
                                <center>
                                    <i class="ion-loading-c" ng-show="showloading" style="font-size:40px"></i>
                                </center>
                                <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
                                <button class="btn btn-primary" ng-click="UpdatePatient(patientform,items)">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </script>
            
        </div> -->
    </div>
</div>
<script>
$(document).ready(function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    $("#getDateValueList").attr("value", today);
});
//getDateValueList


</script>
<!-- <script src="https://code.angularjs.org/1.4.0-beta.5/angular.js"></script> -->