<style type="text/css">
.dr-list-wrap {
    position: relative;
    margin-left: 2%;
    float: left;
}

.hcue_doctorList {
    display: block;
    width: 290px;
    border: 1px solid #ccc;
    clear: both;
    position: absolute;
    top: 31px;
    left: 48px;
    background: #fff;
    z-index: 999;
}

ul.hcue_ListingDoctors {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    position: relative;
    height: 170px;
    overflow: auto;
    margin-bottom: 0;
}

ul.hcue_ListingDoctors li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

ul.hcue_ListingDoctors li {
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    overflow: hidden;
    cursor: pointer;
}

ul.hcue_ListingDoctors li:last-child {
    border: 0px !important;
}

ul.hcue_ListingDoctors li a {
    padding: 7px 10px;
    display: block;
    overflow: hidden;
}

.hcue_DoctorName {
    float: left;
    padding-left: 10px;
    color: #000;
    margin: 7px 0 0;
    font-size: 14px;
}

.hcue_DoctorAppointmentCount {
    padding: 0 5px;
    background-color: #f2f2f2;
    color: #fff;
    position: relative;
    top: 4px;
    width: 22px;
    height: 22px;
    display: block;
    vertical-align: middle;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px;
    border-radius: 50%;
    float: right;
}

ul.hcue_ListingDoctors li a:hover {
    background: #fafbd8;
}

.hcue_DoctorAppoinmentColor1 {
    background-color: #7c7c7c;
}

.hcue_DoctorAppoinmentColor2 {
    background-color: #28465A;
}

.dr-list-wrap label {
    float: left;
    margin: 5px 5px 0 0;
}

.dr-list-wrap .dr-select-name {
    float: left;
    width: 242px;
    padding: 5px 10px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #a3a3a3;
    background-color: #fff;
    border: 1px solid #afafaf;
    height: 30px;
}
</style>
<style>
.data-grid tr th {
    background-color: #7B8EA0 !important;
    color: #fff;
}

.b-date input {
    width: 60%;
    height: 35px;
    padding-left: 5px;
}

.b-tt {
    position: relative;
}

.b-tt input {
    height: 35px;
    padding: 5px;
    padding-left: 15px;
    font-size: 13px;
    width: 175px;
    float: left;
}

.b-tt span {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    display: block;
}

#liBilling .table th,
#liBilling .table td {
    text-align: left !important;
}

.minus-amt {
    font-size: 16px;
    color: #f00;
}

.plus-amt {
    font-size: 16px;
    color: #009900;
}

.b-btm-msg select {
    float: left;
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.b-btm-msg input {
    float: left;
    border: 1px solid #e7e7e7;
    height: 35px;
    padding: 5px;
    font-size: 13px;
}

.b-btm-msg span {
    float: left;
    font-size: 14px;
    margin: 8px 10px 0 0;
    padding: 0;
}

.print-bill-btn {
    background: #26a792;
}

.bill-submit-btn {
    background: #F57104;
}

.print-bill-btn,
.bill-submit-btn {
    padding: 5px 10px;
    color: #fff;
    float: left;
    border-radius: 4px;
}

.email-bill-btn {
    margin-left: 15px;
}

.print-bill-btn:hover,
.bill-submit-btn:hover {
    color: #fff;
}

a.bill-done-btn {
    float: right;
    margin: 5px 35px 0 0;
    background: #F57104;
    padding: 3px 10px 4px;
    border-radius: 4px;
    color: #fff;
}

.b-tt .col-lg-8 {
    padding: 0;
}

.app-bill-add-btn img,
.bill-delete-btn img {
    width: 22px;
    height: 22px;
    margin-top: 7px;
}

.app-bill-add-btn img {
    margin-left: 8px;
}

.bill-delete-btn img {
    margin-left: 5px;
}

.vist-reason {
    margin: 0 0 15px 0;
}

.view-frame {
    padding-top: 0;
}

#PrintDiv {
    margin-top: 125px;
}

.app-billing {
    padding-top: 15px;
}

.row-bg-billing {
    background-color: #e9eef3;
    width: 100% !important;
    overflow: hidden;
    padding: 8px 0;
    margin-bottom: 10px;
}

.paage-content {
    padding-top: 60px;
}

.billingtablestyle thead tr th {
    background-color: #a2b0bc;
}

.b-tt-new input {
    height: 35px;
    padding: 5px;
    padding-left: 15px;
    font-size: 13px;
    width: 95px;
    float: left;
}
.appointmentTableThBg thead tr th {
    background-color: #a2b0bc;
    border-top: none !important;
    border-bottom: none !important;
    color: #fff;
    /* font-family: 'proxima_novalight' !important; */
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}
</style>
<div class="container-fluid" ng-controller="newServiceListController">
    <!--Book App-->
    <div class="top_menu clearfix serlistmenu">
        <ul class="nav nav-tabs pull-left">
            <li class="{{ tabno ==1 ? 'active' :''}}">
                <a href="javascript:;" ng-class="ShowTab(1)" aria-controls="Service" ng-click="tabno=1">Service</a>
            </li>
            <li class="{{ tabno ==3 ? 'active' :''}}">
                <a href="javascript:;" ng-class="ShowTab(3)" aria-controls="Billing" ng-click="Billing()">Billing</a>
            </li>
            <li class="{{ tabno ==2 ? 'active' :''}}">
                <a href="javascript:;" ng-class="ShowTab(2)" aria-controls="Book" ng-click=BookAppointemtnFrmNurse()>Book Appointment</a>
            </li>
        </ul>
        <!--<div class="pull-right">
            <input type="button" value="Register Patient" class="btn btn-filled ser-regbtn" ng-click="Regpatient(true)" name="Reg">
        </div>-->
    </div>
    <div class="new-service-table" class="active" id="Service" ng-show="tabno ==1">
        <div class="app-header">
            <div class="form-inline row">
                <div class="col-lg-8">
                    <div class="sel-hos-box">
                        <label>Hospital/Clinic</label>
                        <select class="form-control docAddressTextBox select-dropdown" disabled name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="GetAppointmentByHospitalID(AppListselectedclinic, true)" style="width: 150px !important;"></select>
                    </div>
                    <div class="app-date">
                        <label>Date</label>
                        <div class="list list-inset docDateTextBox">
                            <input class="form-control" ng-model="referredappointmentdate" disabled datepickerappointmentlist ng-change="getListingDetailsonDateChange(referredappointmentdate)" style="width:170px !important;">
                            <i class="icon-Calendar"></i>
                        </div>
                        <div class="date-pick" ng-hide="true">
                            <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ng-show="showCalendarID == true"></daypilot-navigator>
                        </div>
                    </div>
                    <!--<div class="sel-doc-box">
                        <div ng-if="(isAccessRightsApplicable)" class="">
                            <label>Doctors</label>
                            <select class="form-control docAddressTextBox select-dropdown" disabled name="docID" ng-model="selectedDoctor" ng-options="s.FullName for s in clinicDoctorList | filter:greaterThan('DoctorID',1)" ng-change="DrChange(selectedDoctor)" style="width: 150px !important;"></select>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!--<div class="col-md-4 pull-right">
            <div class="ser-search-box">
                <div class="ser-box-form">
                    <input type="text" ng-model="SearchBy" ng-change="Searchbytext()"
                           uib-typeahead="patientitem as patientitem.FullName for patientitem in patients | filter:$viewValue"
                           typeahead-template-url="customLocalTemplate.html" typeahead-wait-ms="500" typeahead-on-select="onPatientSelected(SearchBy)"
                           name="SearchBy" placeholder="Search existing patients by Name / Mobile / Email ID" class="form-control ">
                    <i class="ser-serach-icon"></i>
                </div>
            </div>

        </div>-->
        <div class="service-tab" ng-show="Searchvalue == true">
            <ul>
                <li class="{{ subtabno ==1 ? 'active' :''}}"> <a href="javascript:;" ng-class="ShowTab(1)" aria-controls="PService" ng-click="subtabno=1"> Previous Services</a></li>
                <li class="{{ subtabno ==2 ? 'active' :''}}"><a href="javascript:;" ng-class="ShowTab(2)" aria-controls="NService" ng-click="subtabno=2">New Services</a></li>
            </ul>
            <h3> {{patients.fullName}}<span ng-hide="patients.currentAge.year == 0"> {{patients.currentAge.year}} y</span><span ng-hide="patients.currentAge.month == 0"> {{patients.currentAge.month}} m </span> <span>/ {{patients.sex == 'M' ? "Male" : "Female"}}</span></h3>
        </div>
        <div class="service-table-wrapper" class="active" id="PService" ng-show="subtabno ==1 && Searchvalue == true">
            <div class="service-left-nav">
                <ul>
                    <li ng-repeat="prevlist in AllListPrevvalue">
                        <a href="javascript:;" ng-click="getServiceDetails(prevlist)" class="{{ prevlist.ServiceCaseID == serviceid ? 'active' :''}}"> 
                            {{prevlist.ServiceName}}
                            <span>{{prevlist.ServiceDate| date : format : 'dd-MMM-yyyy'}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="service-right-table" ng-show="AllListPrevvalue.length > 0">
                <button class="btn btn-primary pull-right" ng-click="ContinueFollowup(PrevListServices)">Continue with Follow-up</button>
                <table>
                    <tr ng-repeat="prevlist in PrevListServices[0].ServiceDetails track by $index">
                        <td>{{prevlist.ServiceDate| date : format : 'dd-MM-yyyy'}}</td>
                        <td>{{prevlist.ServiceTime}}</td>
                        <td>
                            <h6>{{prevlist.ServiceName}}</h6>
                            <p>Notes: {{prevlist.ServiceNotes}}</p>
                        </td>
                        <td>Consulted by: <strong>{{prevlist.ConsultName}}</strong></td>
                        <td>Supervised by: <strong>{{prevlist.SupervisorName}}</strong></td>
                    </tr>
                </table>
            </div>
            <!--No Services-->
            <div class="no-service-found" ng-show="AllListPrevvalue.length == 0 || AllListPrevvalue.length ==undefined ">
                <img src="img/new-icons/injection.png">
                <h5>No previous services found for this patient</h5>
            </div>
        </div>
        <!--new service-->
        <div class="new-service-table" class="active" id="NService" ng-show="subtabno ==2">
            <div class="service-table-wrapper service-table-mar">
                <form name="NewserviceForm" novalidate>
                    <div class="app-header clearfix">
                        <div class="sel-doc-margin">
                            <label>Service</label>
                            <input type="text" ng-model="Newserviceinfo.ServiceName" ng-change="Searchbytext()" uib-typeahead="patientitem as patientitem.ProcedureName for patientitem in treatmentList | filter:$viewValue" typeahead-template-url="customTreatment.html" typeahead-wait-ms="500" typeahead-on-select="onPatientSelected(Newserviceinfo.ServiceName)" name="SearchBy" placeholder="Type service name" class="form-control select-dropdown">
                            <i class="ser-serach-icon"></i>
                            <!--<select class="form-control docAddressTextBox select-dropdown" ng-model="Newserviceinfo.ServiceName">
                                <option value="Injection"> Injection / Vaccination / Infusion</option>
                                <option value="Dressing">Dressing</option>
                                <option value="Suture">Suture / Staple removal</option>
                                <option value="IV Drips">IV Drips</option>
                                <option value="Vitals measurement (BP, Random Sugar etc)">Vitals measurement (BP, Random Sugar etc)</option>
                                <option value="First Aid / Emergency Services">First Aid / Emergency Services</option>
                                <option value="Theraphies (Physio, Ultrasound etc..)">Theraphies (Physio, Ultrasound etc..)</option>
                                <option value="Nebulization">Nebulization</option>
                                <option value="Dressing">Dressing</option>
                            </select>-->
                        </div>
                        <div class="sel-doc-margin">
                            <label>Consulted by</label>
                            <select class="form-control docAddressTextBox select-dropdown" ng-model="Newserviceinfo.ConsultID" ng-options="s.FullName for s in clinicNewConsultDoctorList " ng-change="DrChange(Newserviceinfo.ConsultID)" required></select>
                            <!--<div ng-show="NewserviceForm.$submitted || NewserviceForm.ConsultID.$touched">
                                <div class="popover fade top in set-inv-add-errstck ng-scope" style="" ng-show="Newserviceinfo.ConsultID.length == '' || Newserviceinfo.ConsultID.length == undefined ">
                                    <div class="popover-inner">
                                        <div class="popover-content"> Please Select Item Type </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="sel-doc-margin">
                            <label>Supervised by</label>
                            <select class="form-control docAddressTextBox select-dropdown" ng-model="Newserviceinfo.SupervisorID" ng-options="s.FullName for s in clinicNewSupervisorDoctorList" ng-change="DrChange(Newserviceinfo.SupervisorID)"></select>
                        </div>
                        <div class="sel-doc-margin" style="margin-right: 10px">
                            <label>Notes</label>
                            <input type="text" class="form-control" ng-model="Newserviceinfo.ServiceNotes" placeholder="Enter notes here" style="width: 175px !important">
                        </div>
                        <div class="sel-doc-margin">
                            <button class="btn btn-primary" ng-click="addService(NewserviceForm,Newserviceinfo)">
                                {{btntext}}
                            </button>
                        </div>
                    </div>
                </form>
                <div class="app-header-new-service" style="margin-top:0px;">
                    <div class="service-list-table nst" ng-show="followupvalue.length > 0">
                        <table class="table new-table table-striped appointmentlist">
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th class="app-pa-name">Consulted by</th>
                                    <th>Supervised by</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr ng-repeat="followlist in followupvalue.ServiceDetails"> -->
                                <tr ng-repeat="followlist in followupvalue">
                                    <td>
                                        <span class="service-inj"> {{followlist.ServiceName}} </span>
                                        <span class="service-notes"> Notes: {{followlist.ServiceNotes}}</span>
                                    </td>
                                    <td class="app-pa-name"> {{followlist.ConsultName}}</td>
                                    <td> {{followlist.SupervisorName}} </td>
                                    <td class="">
                                        <select class="form-control select-dropdown " ng-model="followlist.ServiceStatus" ng-disabled="followlist.ServiceStatus == 'E'" ng-change="changeStatus(followlist)">
                                            <option value="B">In Progress</option>
                                            <option value="E">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="">
                                            <a href="javascript:;" data-tooltip="Edit" ng-click="OpenEdit(followlist)">
                                                <img src="img/ser-edit-icon.png">
                                            </a>
                                            <!--<a href="javascript:;">
                                                <img src="img/remove.png">
                                             </a>-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--No Services-->
                    <div class="no-service-found" ng-hide="followupvalue.length > 0">
                        <img src="img/new-icons/injection.png">
                        <h5>No new services has been added yet</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-service-table" class="active" id="Book" ng-show="tabno ==2">
        <div class="app-header">
            <div class="form-inline row">
                <div class="col-lg-8">
                    <div class="sel-hos-box">
                        <label>Select a hospital / clinic</label>
                        <select class="form-control docAddressTextBox select-dropdown " name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="GetAppointmentByHospitalID(AppListselectedclinic, true)" style="width: 150px !important;"></select>
                    </div>
                    <div class="app-date">
                        <label>Date</label>
                        <div class="list list-inset docDateTextBox">
                            <input class="form-control" ng-model="referredappointmentdate" datepickerappointmentlist style="width:170px !important;" ng-change="GetAvailableslot(referredappointmentdate)">
                            <i class="icon-Calendar"></i>
                        </div>
                    </div>
                    <div class="dr-list-wrap">
                        <label>Doctor</label>
                        <div class="dr-select-name select-dropdown" ng-click="showDoctorList()">{{selectedDoctorView}}</div>
                        <!-- Doctor Listing in the top -->
                        <div class="hcue_doctorList" ng-show="showDoctorListing">
                            <ul class="hcue_ListingDoctors">
                                <li ng-repeat="item in clinicConsultDoctorList" class="{{selectedDocCSSid == item.DoctorID ? 'active_doctor' : '' }}" ng-click="getSelectedDoctorAppointment(item)">
                                    <a href="javascript:;">
                                        <img ng-src="{{item.Gender == 'F' ? 'img/register-defaultuser-ico.png':'img/register-defaultuser-ico.png'}}" class="img-responsive img-circle" />
                                        <h6 class="hcue_DoctorName">{{item.FullName}}</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Doctor Listing -->
                    </div>
                </div>
            </div>
        </div>
        <div class="service-book-app" ng-show="Doctorslotlist.length > 0">
            <h3>{{patients.fullName}}<span> {{patients.currentAge.year}}y {{patients.currentAge.month}}m / {{patients.sex == 'M' ? "Male" : "Female"}}</span></h3>
            <div class="service-schedule-table">
                <ul class="clearfix">
                    <li ng-repeat="slotData in Doctorslotlist" class="{{slotData.StartTime < time == true ? 'app-over' : '' }}">
                        <a href="javascript:;" class="{{slotData.StartTime == selectedTime ? 'app-select':''}}" ng-model="startTime" ng-click="selectedslot(slotData)">{{slotData.StartTime}}</a>
                    </li>
                    <!--<li class="app-over"><a href="javascript:;">05:05</a></li>
                    <li class="app-select"><a href="javascript:;">05:10</a></li>
                    <li><a href="javascript:;">05:15</a></li>
                    <li><a href="javascript:;">05:20</a></li>
                    <li><a href="javascript:;">05:25</a></li>
                    <li><a href="javascript:;">05:30</a></li>
                    <li><a href="javascript:;">05:35</a></li>
                    <li><a href="javascript:;">05:40</a></li>
                    <li><a href="javascript:;">05:45</a></li>
                    <li><a href="javascript:;">05:50</a></li>
                    <li><a href="javascript:;">05:55</a></li>
                    <li><a href="javascript:;">06:00</a></li>
                    <li><a href="javascript:;">06:05</a></li>
                    <li><a href="javascript:;">06:10</a></li>-->
                </ul>
                
                <div class="schedule-table-bottom">
                    <div class="table-hint">
                        <!--<div class="table-avail"><i class="ta-avail"></i><span>Available</span></div>-->
                        <!--<div class="table-unavail"><i class="ta-unavail"></i><span>Unavailable</span></div>-->
                        <!--<div class="table-selected"><i class="ta-selected"></i><span>Selected</span></div>-->
                        <div class="error-msg" ng-show="selectedSlotAppointmentInfo != undefined">
                            <span>This slot have already occupied</span>
                        </div>
                    </div>
                    <div class="confirm-app" ng-show="showname == true">
                        <h4>You have selected <strong> {{referredappointmentdate | date : format : 'dd-MMM-yyyy'}} , Time {{SelectedSlotValue.StartTime}} Hrs</strong> with Dr. {{selectedDoctorView}}</h4>
                        <button class="btn btn-primary" ng-class="(showname == false) ? 'btn-disable-dental' : ''" ng-disabled="showname == false" ng-click="BookAppointment()">Confirm Appointment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-service-table" class="active" id="Billing" ng-show="tabno ==3">
        <div class="app-header">
            <div class="form-inline row">
                <div class="col-lg-8">
                    <div class="sel-hos-box">
                        <label>Hospital/Clinic</label>
                        <select class="form-control docAddressTextBox select-dropdown " disabled name="docAddress" ng-model="AppListselectedclinic" ng-options="s.ClinicName for s in AppListdoctoraddress | filter:{'Active':'Y'}" ng-change="GetAppointmentByHospitalID(AppListselectedclinic, true)" style="width: 150px !important;"></select>
                    </div>
                    <div class="app-date">
                        <label>Date</label>
                        <div class="list list-inset docDateTextBox">
                            <input class="form-control" ng-model="referredappointmentdate" disabled datepickerappointmentlist ng-change="getListingDetailsonDateChange(referredappointmentdate)" style="width:170px !important;">
                            <i class="icon-Calendar"></i>
                        </div>
                        <div class="date-pick" ng-hide="true">
                            <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ng-show="showCalendarID == true"></daypilot-navigator>
                        </div>
                    </div>
                    <div class="sel-doc-box">
                        <div ng-if="(isAccessRightsApplicable)" class="">
                            <label>Doctors</label>
                            <select class="form-control docAddressTextBox select-dropdown" name="docID" ng-model="selectedBillingDoctor" ng-options="s.FullName for s in clinicNewBillingDoctorList" ng-change="getBilingChange(selectedBillingDoctor)" style="width: 150px !important;"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-billing">
            <div class="container-fluid">
                <div class="row">
                    <div id="liBilling" class="ng-pristine ng-untouched ng-valid" ng-model="DivBilling">
                        <div class="billing_view_pane clearfix">
                            <div class="panel-heading panelheadbg">
                                <span class="txt-color-grey">Service Billing</span>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="billing-div">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="vist-reason">
                                                <label>Patient Name : </label>
                                                <span class="ng-binding veralignbtm">{{Patients.fullName}}</span>
                                            </div>
                                            <div class="vist-reason">
                                                <label>Mobile : </label>
                                                <span class="ng-binding veralignbtm">{{Patients.Phnumber}}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <div>Amount in {{(Currencycode == 'INR') ? 'INR' : Currencycode}}</div>
                                            <!--<div style="width: 70%; margin-top: 5px; float: right;"  ng-show= "Sarayucode == 'PRIMEINDIA'">
                                            <select class="form-control select-dropdown" ng-model="selectedMembershipID" ng-change="MembershipSelected()"
                                            ng-options="item.MembershipId as item.MembershipName for item in membershipDiscountInfo | filter:{ActiveIND:'Y'}" ng-disabled = "disableMemberdd" />
                                        </div>-->
                                        </div>
                                    </div>
                                    <p class="pull-left" ng-show="showInvoiceNumber"><b>Invoice Number :</b> {{invoiceNumber}}</p>
                                    <p class="pull-right" ng-show="showReceiptNumber"><b>Receipt Number :</b> {{receiptNumber}}</p>
                                    <table class="table appointmentTableThBg billingtablestyle mar-btm-bill">
                                    <thead>
                                        <tr>
                                            <th width="15%">Date</th>
                                            <th width="20%">Treatment</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Discount % </th>
                                            <th width="10%">Received</th>
                                            <th width="10%">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in currentBillingProcedureList">
                                            <td>
                                                <div ng-show="item.Status">{{FormatDate(item.InvoiceDate)}}</div>
                                                <div class="b-date" ng-hide="item.Status">
                                                    <input type="text" class="form-control  icons-calendar" ng-model="item.InvoiceDate" datepickerappointmentbill placeholder="15/02/2016" /><i class="icon-calender"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="b-tt">
                                                    <div class="container-fluid" style="padding:0;" ng-hide="item.Status">
                                                        <input type="text" ng-model="selectedTreatment" uib-typeahead="Predlist as Predlist.ProcedureName for Predlist in treatmentsArray | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onTreatmentItemSelected(selectedTreatment,$index)" ng-blur="onCustomTreatment(selectedTreatment,$index)" ng-change="entertreatment(selectedTreatment)" style=" float left;">
                                                        <!--<div class="col-lg-8  date-cal-icn" angucomplete-alt id="txt_new_treatment"
                                                         placeholder="Search Treatment"
                                                         maxlength="50"
                                                         pause="100"
                                                         selected-object="selectedtreat"
                                                         local-data="treatmentsArray"
                                                         search-fields="ProcedureName"
                                                         title-field="ProcedureName"
                                                         minlength="1"
                                                         class="col-lg-11 date-cal-icn"
                                                         input-class="form-control form-control-small"
                                                         match-class="highlight">
                                                    </div> -->
                                                        <a href="" ng-show="$last" class="app-bill-add-btn" ng-click="AddnewItem()">
                                                            <img src="img/plus-symbole-icon.png" alt="" width="18px" height="18px" />
                                                        </a>
                                                        <a class="bill-delete-btn" ng-click="DeletenewItem(item)"><img src="img/appoint-close-ico.png" alt=""></a>
                                                    </div>
                                                    <div class="container-fluid" style="padding:0;" ng-show="item.Status">
                                                        {{item.ProcedureName}}
                                                    </div>
                                                    <!--<span>Notes: Additonal Materials used</span>-->
                                                    <i class="icon-calender"></i>
                                                </div>
                                            </td>
                                            <td class="b-tt-new">
                                                <input type="text" placeholder="" ng-model="item.ProcedureCost" numbers-only="numbers-only" maxlength="5" class="form-control" ng-disabled="(item.costStatus && item.Status)" ng-blur="processItems(item,'C')" />
                                                <span style="position:absolute;height:100%;font-size: 15px;left:20px; top:16px">

                                                </span>
                                            </td>
                                            <td class="b-tt-new">
                                                <input type="text" placeholder="" ng-disabled="RecepDiscountUpdate == 'Y' && RoleID == 'RECPTNIST' " ng-model="item.DiscountCost" ng-blur="focusOnAmount(item,'C')" numbers-only="numbers-only" maxlength="2" class="form-control" ng-hide="item.Status" />
                                                <div ng-show="item.Status"> {{item.DiscountCost }}</div>
                                                <!--<span style="margin-top:10px;"> {{item.DiscountAmount}}</span>-->
                                            </td>
                                            <td class="b-tt-new">
                                                <input type="text" placeholder="" ng-model="item.BilledCost" numbers-only="numbers-only" maxlength="5" ng-blur="processItems(item,'C','na')" class="form-control" /><span style="margin-top:10px;"> {{item.Previouspaid | number}}</span>
                                                <span style="position:absolute;height:100%;font-size: 15px;left:20px; top:16px">

                                                </span>
                                            </td>
                                            <td><span class="minus-amt"> {{item.Balance | number}}</span></td>
                                        </tr>
                                        <tr bgcolor="#e9eef3">
                                            <td></td>
                                            <td> </td>
                                            <td>Total Cost: <strong> {{AmountInfo.totalCost | number}}</strong></td>
                                            <td></td>
                                            <td>Total Received: <strong>{{AmountInfo.advance | number}}</strong></td>
                                            <td>Total Balance: <strong>{{AmountInfo.balance| number}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="b-btm-msg" ng-show="HospitalCD == 'PRIMEINDIA'">
                                                    <span>Mode of Payment</span>
                                                    <select class="form-control select-dropdown" ng-model="PaymentInfo.billingPayment">
                                                        <option value="CASH">Cash</option>
                                                        <option value="CHEQUE">Cheque</option>
                                                        <option value="CREDITCARD">Credit Card</option>
                                                        <option value="DEBITCARD">Debit Card</option>
                                                        <option value="INSURANCE">Insurance</option>
                                                        <option value="CREDIT">Credit</option>
                                                        <option value="EMI">EMI</option>
                                                        <option value="OTHERS">Others</option>
                                                    </select>
                                                </div>
                                                <div class="b-btm-msg" ng-hide="HospitalCD == 'PRIMEINDIA'">
                                                    <span>Mode of Payment</span>
                                                    <select class="form-control select-dropdown" ng-model="PaymentInfo.billingPayment" style="    width: 125px;">
                                                        <option value="CASH">Cash</option>
                                                        <option value="CHEQUE">Cheque</option>
                                                        <option value="CREDITCARD">Credit Card</option>
                                                        <option value="DEBITCARD">Debit Card</option>
                                                        <option value="EMI">EMI</option>
                                                        <option value="OTHERS">Others</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td ></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                    <form name="Paymenttypeinfo">
                                        <div class="row-bg-billing" ng-show="PaymentInfo.billingPayment == 'CREDIT' || PaymentInfo.billingPayment == 'INSURANCE'">
                                            <div class="form-group">
                                                <label for="" style="margin: 6px 0 0 15px; float: left;">Payment Company </label>
                                                <div class="col-md-4">
                                                    <select name="payCredit" class="form-control select-dropdown" id="payCredit" ng-change="getCreditdata(PaymentInfo.payCredit)" ng-model="PaymentInfo.payCredit">
                                                        <option value=""> Select List</option>
                                                        <option ng-repeat="pay in PaymentList | filter:{'ActiveIND':'Y'}" value="{{pay.PaymentCompanyID}}">{{pay.CompanyName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid row-bg-billing chkrow" ng-show="PaymentInfo.billingPayment == 'CHEQUE'">
                                            <div class="col-lg-4">
                                                <div class="amnt-res-inp">
                                                    <label>Cheque Number </label>
                                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="chequeNumber" placeholder="Enter cheque number" ng-model="PaymentInfo.chequeNumber" numbers-only>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="amnt-res-inp">
                                                    <label>Bank Name </label>
                                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="bankName" placeholder="Enter bank name" ng-model="PaymentInfo.bankName" alphabets-only>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="amnt-res-inp">
                                                    <label>Date </label>
                                                    <input class="form-input select-dropdown" placeholder="Select Date" ng-model="PaymentInfo.Day" datepickerappointmentlist style="width:180px !important;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid row-bg-billing creditrow" ng-show="PaymentInfo.billingPayment == 'CREDITCARD' || PaymentInfo.billingPayment =='DEBITCARD'">
                                            <div class="col-lg-3">
                                                <div class="amnt-res-inp">
                                                    <label>Card Number </label>
                                                    <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="cardNumber" placeholder="Enter card number" ng-model="PaymentInfo.cardNumber" numbers-only style="width: 150px !important">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 no-pad">
                                                <div class="amnt-res-inp">
                                                    <label>Bank Name </label>
                                                    <input type="text" class="form-control creditin1 ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="nameOfBank" placeholder="Enter bank name" ng-model="PaymentInfo.nameOfBank" alphabets-only>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 no-pad">
                                                <div class="amnt-res-inp">
                                                    <label>Card Type</label>
                                                    <select class="form-input select-dropdown creditin3" name="cardType" ng-model="PaymentInfo.cardType">
                                                        <option value="">Select Card Type</option>
                                                        <option value="Visa">Visa</option>
                                                        <option value="MasterCard">MasterCard</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 no-pad">
                                                <div class="amnt-res-inp">
                                                    <label>Name On Card </label>
                                                    <input type="text" class="form-control creditin4 ng-touched ng-dirty ng-valid-parse ng-valid-required ng-pristine ng-untouched ng-invalid ng-invalid-required" name="nameOnCard" placeholder="Enter name on card" ng-model="PaymentInfo.nameOnCard" alphabets-only style="    width: 45%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row-fluid row-bg-billing">
                                                <div class="col-lg-12">
                                                    <div class="amnt-res-inp">
                                                        <label class="validlbl">Valid Till</label>
                                                        <select class="form-input cc-year select-dropdown" ng-model="PaymentInfo.validyear" name="validyear">
                                                            <option value="">Year</option>
                                                            <option value="{{yList}}">{{yList}}</option>
                                                            <option value="{{yList+1}}">{{yList+1}}</option>
                                                            <option value="{{yList+2}}">{{yList+2}}</option>
                                                            <option value="{{yList+3}}">{{yList+3}}</option>
                                                            <option value="{{yList+4}}">{{yList+4}}</option>
                                                            <option value="{{yList+5}}">{{yList+5}}</option>
                                                            <option value="{{yList+6}}">{{yList+6}}</option>
                                                            <option value="{{yList+7}}">{{yList+7}}</option>
                                                            <option value="{{yList+8}}">{{yList+8}}</option>
                                                            <option value="{{yList+9}}">{{yList+9}}</option>
                                                            <option value="{{yList+10}}">{{yList+10}}</option>
                                                            <option value="{{yList+11}}">{{yList+11}}</option>
                                                            <option value="{{yList+12}}">{{yList+12}}</option>
                                                            <option value="{{yList+13}}">{{yList+13}}</option>
                                                            <option value="{{yList+14}}">{{yList+14}}</option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <select class="form-input select-dropdown cc-month reg-mnth-drpdwn " name="validmonth" ng-model="PaymentInfo.validmonth">
                                                            <option value="">month</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div style="margin:15px 0; overflow: hidden;">
                            <!-- <div class="col-lg-12"> -->
                            <!-- <a href="" class="print-bill-btn" ng-click="BillPrint()">Print Bill</a> -->
                            <!--<a href="" class="primary-btn">Email Bill</a>-->
                            <a href="javascript:;" class="btn btn-primary" style="float: right" ng-click="Submit()">Submit & Print</a>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="customLocalTemplate.html">
    <a class="searchByResultTEst">
        <!-- <span ng-if="match.model.Title.length >0" ng-bind-html="match.model.Patient[0].Title +'.'+ match.model.FullName | uibTypeaheadHighlight:query"></span>-->
        <span ng-bind-html="match.model.FullName | uibTypeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.Gender | uibTypeaheadHighlight:query" style="width: 5%"></span>
        <span ng-bind-html="((match.model.CurrentAge === undefined) ? ((match.model.Age)) : (((match.model.CurrentAge.year >
            0) ? match.model.CurrentAge.year + 'y'
            : '') + ' ' + ((match.model.CurrentAge.month > 0)? match.model.CurrentAge.month + 'm' : '')))" style="width: 15%">
        </span>
        <span ng-if="match.model.PhoneNumber == undefined" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PhoneNumber.toString().length < 6" ng-bind-html="'' | uibTypeaheadHighlight:query"></span>
        <span ng-if="match.model.PhoneNumber != undefined" ng-bind-html="match.model.PhoneNumber | uibTypeaheadHighlight:query"></span>
        <span ng-hide="match.model.EmailID == undefined" ng-bind-html="match.model.EmailID | uibTypeaheadHighlight:query"
              style="overflow: visible !important; vertical-align: top; "></span>
    </a>
</script>
<script type="text/ng-template" id="customTreatment.html">
    <a class="searchByResultTEst" style="padding-left:15px">
        <span ng-bind-html="match.model.ProcedureName | uibTypeaheadHighlight:query"></span>
    </a>
</script>
