<div class="container-fluid">

    <div class="report mb-50">
        <div class="table-responsive">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th></th>
                        <th>Appointment Date</th>
                        <th>Status</th>
                        <th>Patient</th>
                        <th>Appointment Type</th>
                        <th>Region(s)</th>
                        <th>Review Date</th>
                        <th>Reviewed By</th>
                        <th>Referrer</th>
                        <th>GP Practice Name</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody ng-init="toggle = 1">
                    <tr>
                        <td ng-click="toggle = !toggle"><span class="toggle open" ng-class="{'open': toggle == 1}"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                        <td>25/04/2017<br>14:10</td>
                        <td class="appointment-danger">Issue</td>
                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr CarolynOooo SmithO</a></td>
                        <td>US - General Abdominal - 20 Minutes</td>
                        <td></td>
                        <td>05/12/2017<br>14:24</td>
                        <td>Dianne Peter</td>
                        <td>DR J Maklin</td>
                        <td>Earlstone & Seabank Medical Center - WGP</td>
                        <td class="min-wids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#reportattach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>

                        </td>
                    </tr>
                    <tr class="inner" ng-show="toggle == 1">
                        <td colspan="15">
                            <table class="table color-theme-two mb-10">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Practitioner</th>
                                        <th>Location</th>
                                        <th>Activity</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>26-08-2018 13:16</td>
                                        <td>Jonathan Leonard</td>
                                        <td></td>
                                        <td></td>
                                        <td>First call</td>
                                        <td>Call Unsuccessful</td>
                                    </tr>
                                    <tr>
                                        <td>27-08-2018 13:16</td>
                                        <td>Jonathan Leonard</td>
                                        <td></td>
                                        <td></td>
                                        <td>2nd Call</td>
                                        <td>Call Unsuccessful</td>
                                    </tr>
                                    <tr>
                                        <td>28-08-2018 18:16</td>
                                        <td>Jonathan Leonard</td>
                                        <td></td>
                                        <td></td>
                                        <td>3rd call</td>
                                        <td>Patient Detail Updated</td>
                                    </tr>
                                    <tr>
                                        <td>26-08-2018 13:16</td>
                                        <td>Jonathan Leonard</td>
                                        <td></td>
                                        <td></td>
                                        <td>4th Call</td>
                                        <td>Appointment Booked <b>(08-06-2018 06:12 PM)</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                        <td>03/09/2017<br>08:30</td>
                        <td class="appointment-success-light">Completed</td>
                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">MsRogerO EdwardO</a></td>
                        <td>US - Abdominal & Pelvis Female - 30 Minutes</td>
                        <td></td>
                        <td>14/09/2017<br>21:29</td>
                        <td>Shahzad Akram</td>
                        <td>DR Timothy Du Sautoy</td>
                        <td>Enderby Medical Center - ELR</td>
                        <td class="min-wids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#reportattach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                        <td>03/09/2017<br>09:00</td>
                        <td class="appointment-success-light">Completed</td>
                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr ScottO SandersO</a></td>
                        <td>US - Musculoskeletal - 20 Minutes</td>
                        <td></td>
                        <td>25/04/2016<br>14:10</td>
                        <td>Dianne Peter</td>
                        <td>DR J Maklin</td>
                        <td>Earlstone & Seabank Medical Center - WGP</td>

                        <td class="min-wids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#reportattach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                        <td>25/04/2016<br>14:10</td>
                        <td class="appointment-danger">Issue</td>
                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr Carolyn Smith</a></td>
                        <td>US - General Abominal - 20 Minutes</td>
                        <td></td>
                        <td>25/04/2016<br>14:10</td>
                        <td>Dianne Peter</td>
                        <td>DR J Maklin</td>
                        <td>Earlstone & Seabank Medical Center - WGP</td>

                        <td class="min-wids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#reportattach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                        <td>25/04/2016<br>14:10</td>
                        <td class="appointment-success-light">Completed</td>
                        <td class="primary"><a href="javascript:void(0);" data-toggle="modal" data-target="#views">Mr Carolyn Smith</a></td>
                        <td>US - General Abominal - 20 Minutes</td>
                        <td></td>
                        <td>25/04/2016<br>14:10</td>
                        <td>Dianne Peter</td>
                        <td>DR J Maklin</td>
                        <td>Earlstone & Seabank Medical Center - WGP</td>
                        <td class="min-wids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#reportattach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-common new fade modal" id="reportattach">
    <div class="modal-common-dialog manage">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-7">
                <embed src="referral.pdf" type="application/pdf" width="100%" height="100%" internalinstanceid="9">
            </div>
            <div class="col-sm-5">
                <div class="patient-details">
                    <a class="edit ripeff" ng-click="Regpatient(true)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Patient</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p class="appointment-primary">Miss Charmaine Burns</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Referrer</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p class="appointment-info">Dr.E M Smith</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Due</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>26-08-2018</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Method</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>-</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Speciality</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p class="appointment-secondary">Musculoskeletel</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Sub - Speciality</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>US Abdomen, US Urinary Tracty</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Status</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>New</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>DayTime</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>01329552440</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Evening</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>01329552440</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Mobile</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>+91 478414 5647</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Email</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>n/a</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>DNAs</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>n/a</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right pr-30 lable">
                            <p>Notes</p>
                        </div>
                        <div class="col-sm-9 bold pl-30 collon">
                            <p>n/a</p>
                        </div>
                    </div>
                </div>

                <form class="form-inline ng-pristine ng-valid" ng-init="status = 1">
                    <div class="form-group mt-20">
                        <label class="cus-radio appointment-success-light" ng-click=" issueReason = 0">Publish
                                    <input type="radio" name="status" checked="checked" ng-click="status = 1">
                                    <span class="checkmark"></span>
                                </label>
                    </div>
                    <div class="form-group mt-20">
                        <label class="cus-radio appointment-info" ng-click="">Issues
                                    <input type="radio" name="status" ng-click="status = 0; issueReason = 1">
                                    <span class="checkmark"></span>
                                </label>
                    </div>
                    <!-- <div class="form-group mt-20">
                                <label class="cus-radio appointment-danger" ng-click="rej = true">Reject
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                    <div class="form-group full-width">
                        <div class="col-md-12 pl-30" ng-show="issueReason == true">
                            <select class="form-control full-width">
                                        <option value="">-- Select Issue Reason --</option>
                                        <option value="AQP Exclusion">AQP Exclusion</option>
                                        <option value="Cancelled by GP">Cancelled by GP</option>
                                        <option value="DNA">DNA</option>
                                        <option value="Duplicate">Duplicate</option>
                                        <option value="No Contact with Patient">No Contact with Patient</option>
                                        <option value="Patient Declined">Patient Declined</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                        </div>
                    </div>
                    <div class="form-group full-width">
                        <div class="col-md-12 pl-20">
                            <textarea cols="30" rows="5" class="form-control full-width" placeholder="Notes..."></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-12 pl-30">
                            <label><span class="bold">Status : </span><span ng-show="status == 0">Issue</span><span ng-show="status == 1">Completed</span></label>
                        </div>
                    </div>
                    <div class="form-group full-width text-right">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-filled-one" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-common new fade modal" id="views">
    <div class="modal-common-dialog view">
        <span class="close" data-dismiss="modal">X</span>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Received</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>26-08-2018</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Action</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>2nd Booking follow-up call</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Patient</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p class="appointment-primary">Miss Charmaine Burns</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Referrer</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p class="appointment-info">Dr.E M Smith</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Due</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>26-08-2018</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Method</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>-</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Type</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p class="appointment-secondary">Musculoskeletel</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Region</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>US Abdomen, US Urinary Tracty</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Status</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>New</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Notes</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p class="appointment-success-light">15 min</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>DayTime</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>01329552440</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Evening</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>01329552440</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Mobile</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>+91 478414 5647</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>n/a</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right pr-40 lable">
                        <p>DNAs</p>
                    </div>
                    <div class="col-sm-8 bold pl-40 collon">
                        <p>n/a</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>