<style type="text/css">
    #getDateValueList {
        width: 160px;
        padding-right: 5px;
    }
    
    .hospitalListBox {
        max-width: 200px;
    }
    
    .doctorListBox {
        margin-top: 15px;
    }
    
    span.char.orange {
        background-color: #F37224;
    }
    
    .appointmentlist .app-pa-name {
        max-width: 190px;
        vertical-align: middle;
    }
    
    .modal-dialog {
        width: 800px !important;
    }
    
    .pac-container {
        z-index: 1200;
    }
    
    body {
        background: #f00
    }
</style>




<div class="container-fluid" ng-controller="hcueAppointmentListVitalsController">

    <div class="container-fluid">
        <div class="new-enquiry mb-50 row">
            <div class="table-responsive">
                <table class="table color-theme-one">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <select class="status-select">
                                    <option value="-1">Status</option>
                                    <option value="To Triage">To Triage</option>
                                    <option value="Awaiting Appoinment">Awaiting Appoinment</option>
                                    <option value="Booked">Booked</option>
                                    <option value="Awaiting 2nd Call">Awaiting 2nd Call</option>
                                    <option value="Awaiting 3rd Call">Awaiting 3rd Call</option>
                                    <option value="Awaiting 4th Call">Awaiting 4th Call</option>
                                    <option value="Final Call">Final Call</option>
                                    <option value="Inactive">Inactive</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Issues">Issues</option>
                                    <option value="DNA">DNA</option>
                                </select>
                            </th>
                            <th>Received</th>
                            <th>Due</th>
                            <th>Patient</th>
                            <th>DW ID</th>
                            <th>Referrer</th>
                            <th>Speciality</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-init="toggle = 1">
                        <tr class="bg-red">
                            <td ng-click="toggle = !toggle"><span class="toggle" ng-class="{'open': toggle == 1}"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-primary">To Triage</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr class="inner" ng-show="toggle == 1">
                            <td colspan="15">
                                <table class="table color-theme-two mb-10">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Practitioner</th>
                                            <th>Location</th>
                                            <th>Activity</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>26-08-2018 13:16</td>
                                            <td>Jonathan Leonard</td>
                                            <td></td>
                                            <td></td>
                                            <td>First call</td>
                                            <td>Call Unsuccessful</td>
                                        </tr>
                                        <tr>
                                            <td>27-08-2018 13:16</td>
                                            <td>Jonathan Leonard</td>
                                            <td></td>
                                            <td></td>
                                            <td>2nd Call</td>
                                            <td>Call Unsuccessful</td>
                                        </tr>
                                        <tr>
                                            <td>28-08-2018 18:16</td>
                                            <td>Jonathan Leonard</td>
                                            <td></td>
                                            <td></td>
                                            <td>3rd call</td>
                                            <td>Patient Detail Updated</td>
                                        </tr>
                                        <tr>
                                            <td>26-08-2018 13:16</td>
                                            <td>Jonathan Leonard</td>
                                            <td></td>
                                            <td></td>
                                            <td>4th Call</td>
                                            <td>Appoinment Booked <b>(08-06-2018 06:12 PM)</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table color-theme-three mb-10">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Practitioner</th>
                                            <th>Location</th>
                                            <th>Activity</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>26-08-2017 10:00</td>
                                            <td>Jonathan Leonard</td>
                                            <td></td>
                                            <td></td>
                                            <td class="appointment-danger">DNA</td>
                                            <td>Patient not came for test</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-danger">Rejected</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-success">Issue</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-urgent">
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Awaiting Appoinment</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-red">
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-success-light">Booked</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Awaiting 2nd Call</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Awaiting 3rd Call</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-urgent">
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Awaiting 4th Call</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Final Call</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-red">
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-success-light">Inactive</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="toggle"><img class="plus" src="images/expand.png" alt=""><img class="minus" src="images/collapse.png" alt=""></span></td>
                            <td class="appointment-info">Complete</td>
                            <td>26-08-2018</td>
                            <td>26-08-2018</td>
                            <td>Miss Charmaine Burns</td>
                            <td>123214213</td>
                            <td>Mr Jone</td>
                            <td>Musculoskeletel</td>
                            <td class="min-wids">

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#attach"><i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i></a>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#manage"><i class="fa fa-cog" aria-hidden="true" title="Manage"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- <div class="servicelist-tab">
            <center><i class="ion-loading-c" style="font-size:25px" ng-show="referredshowloading"></i></center>
            <div class="billing-cominsoon text-center" style="margin-top: 80px;color:#b3b3b3;font-size:15px;" ng-show="referrednurseapplist.length==0">
                <img src="img/no-data/no services.png">
                <div class="msg">
                    <p class="goback-text">No Service found</p>
                    <p class="no-records-txt-line2">There are no services booked for this day</p>
                    <p>Discover new insights and get more efficient with <br> the detailed metrics and data.</p> 
                </div>
            </div>
        </div> -->
        <div class="modal-overlay" ng-show="cancelAppPopup == true"></div>
        <div class="modal-common" ng-show="cancelAppPopup == true">
            <div class="modal-common-dialog">
                <div class="model-popup-header">
                    <h4 class="modal-title" id="myModalLabel">Add New Doctor</h4>
                    <a id="close_popup" ng-click="closeCancelPopup()" class="light-font pull-right fclosepopup">x</a>
                </div>
                <form name="Cancelform" novalidate>
                    <div class="form_wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <p> Are you sure do you want to cancel this appointment for {{Patientname}} </p>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Reason for cancellation</label>
                                    <input type="text" name="Name" class="form-control" ng-model="Cancelinfo.CancelReason" style="font-size: 14px;    border: 1px solid #c5dad6;height: 32px;" placeholder="Enter Reason">
                                </div>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-grey light-font" ng-click="closeCancelPopup()">
                                    No</button>
                                <button type="button" class="btn btn-primary" ng-click="Update(Cancelinfo,Cancelform)">Yes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>


    </div>
    <script>
        $('.selectpicker').selectpicker();
    </script>
</div>