<div role="tabpanel" class="tab-pane" id="vitals">
	<div class="row vitals keypad-holder">
		<div class="col-md-3" >
			<h6 class="temp margin-b-none">Temperature</h6>
			<div class="form-group box-enter bo-temp">
				<span>℉</span>
				<input type="text" class="temp-box form-control ng-pristine ng-untouched ng-valid" placeholder="" ng-model="temperature" ng-change="SearchByText()">
			</div>
		</div>
		<div class="col-md-3" ng-click="VitalClick('BP')">
			<h6 class="bp margin-b-none">BP</h6>
			<div class="form-group box-enter bo-bp">
				<span>mm/Hg</span>
				<input type="text" ng-change="SearchByText()" class="temp-box form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="7" placeholder="" ng-model="bp">
			</div>
		</div>
		<div class="col-md-3" ng-click="VitalClick('SF')">
			<h6 class="fasting-pp margin-b-none">Fasting/PP</h6>
			<div class="box-enter form-group bo-temp"> <span>mg/dl</span>
				<input type="text" class="temp-box form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="7" placeholder="" ng-model="sugar" ng-change="SearchByText()">
			</div>
		</div>
		<div class="col-md-3 show-more" ng-click="morevitals=!morevitals">
			<a class="pad-y20px" href="">
				<img src="img/icon-plus.png" alt="" ng-show="!morevitals"><span ng-show="!morevitals">Show More</span>
				<img src="img/icon-close.png" alt="" ng-show="morevitals" class="ng-hide"><span ng-show="morevitals" class="ng-hide">Hide</span>
			</a>
		</div>
	 
	</div>
	
		<div class="row vitals add-note" ng-show="morevitals ==true">
			<div class="col-md-3">
				<h6 class="blood-group margin-b-none">Blood Group</h6>
				<div class="form-group box-enter bo-weight">
					<span>&nbsp;</span>
					<input type="text"  class="temp-box form-control ng-pristine ng-untouched ng-valid" placeholder="" ng-model="bloodgroup" ng-change="SearchByText()">
				</div>
			</div>
			<div class="col-md-3">
				<h6 class="weight margin-b-none">Weight</h6>
				<div class="form-group box-enter bo-weight">
					<span>Kgs</span>
					<input type="text" class="temp-box form-control ng-pristine ng-untouched ng-valid" placeholder="" ng-model="weight" ng-change="SearchByText()">
					
				</div>
			</div>
			<div class="col-md-3" ng-click="VitalClick('H')">
				<h6 class="height margin-b-none">Height</h6>
				<div class="form-group box-enter bo-bp">
					<span>cms</span>
					<input type="text" class="temp-box form-control ng-pristine ng-untouched ng-valid" placeholder="" ng-model="height" ng-change="SearchByText">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" ng-click="Update()"">Save</button>
		</div>
	
 </div>
