<link rel="icon" href="../../favicon.ico" />
<title>C7 Health AMP</title>
<link href="../app/css/hcue.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/layout.css" />
<link href="../app/css/login.css" rel="stylesheet" />
<div class="wrapper webapp-login animated fadeIn">
  <!-- <header>
        <div class="container-fluid">
            <div class="row">
                <div class="logo-hCue pull-left top-bar-logo">
                    <img src="images/c7-logo.jpg" alt="">
                    <h1>C7</h1>
                    <h2>Health AMP</h2>
                </div>
                <div class="col-md-5 pull-right text-right">
                    <div class="support-no" ng-hide="urlpath">
                        <span>For Support</span>
                        <h4><span class="glyphicon glyphicon-phone"></span> &nbsp; 0845 490 3176 </h4>
                    </div>
                    <div class="support-no" ng-show="urlpath">
                        <span>For Support</span>
                        <h4><span class=""></span> &nbsp; justdentalindia@gmail.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
  <div class="login-section">
    <div class="left-cont">
      <div class="row">
        <div class="col-sm-6">
          <div class="log">
            <img src="images/diagnostic world-logo.png" alt="" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="support-no text-right pb-20" ng-hide="urlpath">
            <span>For Support</span>
            <h4>
              <span class="glyphicon glyphicon-phone"></span> &nbsp; 0845 490
              3176
            </h4>
          </div>
          <div class="support-no text-right pb-20" ng-show="urlpath">
            <span>For Support</span>
            <h4><span class=""></span> &nbsp; justdentalindia@gmail.com</h4>
          </div>
        </div>
      </div>
      <p class="auth">Notice to All Users</p>
      <!-- <h5>This computer system is for authorized use only. Users have no explicit or implicit expectation of privacy.</h5> -->
      <p>
        This system enables you to access a patient’s confidential and sensitive
        personal data. Only Authorised users may access this system (and any
        data or information contained therein). Legal action, including under
        the Computer Misuse Act 1990, may be taken against any unauthorised use
        of, or access to, this system and/or any data it contains. Your access
        and use of this system is subject to (and signifies your acceptance of)
        the relevant license terms, terms and conditions and applicable laws
        which govern, or relate to, the system and its use (together with any
        other relevant notices or policies which have been brought to your
        attention), all as may be updated from time to time. Save as expressly
        provided for in the relevant terms of use, we accept no responsibility
        for errors or omissions.
      </p>
      <div class="footer">
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <address>
              58-59 Birmingham Research Park, Vincent Drive, Birmingham - B15
              2SQ
            </address>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <ul class="phone">
                  <li>0121 726 7117</li>
                  <li>0121 726 7118</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="mail">
                  <li>
                    <a href="mailTo:info@diagnosticworld.co.uk">info@diagnosticworld.co.uk</a>
                  </li>
                  <li>
                    <a href="mailTo:diagnosticworld.co.uk">diagnosticworld.co.uk</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-cont text-center">
      <div class="formContent zoomIn animated">
        <div class="fadeIn first">
          <img src="images/c7-logo.png" id="icon" alt="User Icon" />
        </div>
        <form name="loginform" class="" ng-submit="LoginClick(loginform,logininfo)" novalidate>
          <div class="from-group">
            <input type="email" name="emailid" placeholder="Email ID" required ng-pattern="emailpattern"
              ng-model="logininfo.username" />
            <div class="error-mesg-wrap" ng-show="loginform.$submitted || loginform.emailid.$touched">
              <span class="list list-inset error-msg" ng-show="loginform.emailid.$error.required">Enter a Email
                id</span>
              <span class="list list-inset error-msg" ng-show="loginform.emailid.$error.pattern">Enter a valid Email
                id</span>
            </div>
          </div>
          <div class="from-group">
            <input type="password" name="password" placeholder="Password" ng-model="logininfo.password" />
            <div class="error-mesg-wrap" ng-show="loginform.$submitted || loginform.password.$touched">
              <span class="error-msg" ng-show="loginform.password.$error.required">Enter a Password
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="list list-inset error-mesg-wrap">
              <span class="list error-msg" ng-show="error">{{
                errordesc
              }}</span>
            </div>
            <center>
              <i class="ion-loading-c" ng-show="showloading" style="font-size:40px"></i>
            </center>
            <input type="submit" value="Log In" />
          </div>
        </form>
        <div class="formFooter">
          <a class="underlineHover dib" ng-click="clearemail(forgot)" data-target="#forgotpwd"
            data-toggle="modal">Forgot
            Password?</a>
        </div>
      </div>
      <!-- <div class="footer">
                <div class="row">
                    <div class="col-sm-5">
                        <address>58-59 Birmingham Reasearch Park Vincent Drive Birmingham B15 2SQ</address>
                    </div>
                    <div class="col-sm-7">
                        <ul>
                            <li>012 726 7117 | 0845 490 3176 </li>
                            <li>0121 726 7118</li>
                            <li><a href="mailTo:diagnosticworld.co.uk">diagnosticworld.co.uk</a></li>
                            <li><a href="mailTo:info@diagnosticworld.co.uk">info@diagnosticworld.co.uk</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="forgotpwd" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal">X</span>
        <h4 class="modal-title">Forgot Password</h4>
      </div>
      <form name="forgot">
        <div class="modal-body">
          <div class="form-group clearfix">
            <div class="col-sm-4">
              <label for=""> Enter your Email Id </label>
            </div>
            <div class="col-sm-8">
              <input type="email" name="forgotemail" class="form-control" ng-model="forgotemail" ng-required="true"
                ng-pattern="email_pattern" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="forgot.reset()">
            Cancel
          </button>
          <button type="button" class="btn btn-primary" ng-disabled="forgot.forgotemail.$invalid"
            ng-click="submitforgot()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>