<ion-side-menus enable-menu-with-back-views="false" >
	<ion-side-menu-content >
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons >
				<button class="button button-icon ion-android-hmenu button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" class="ham-menu" ng-controller="hCueMenuController">
		<div class="pro-top">
			<img   class="pro-img" ng-if="doctorinfo.profileimage.length > 2" data-ng-src="data:image/png;base64,{{doctorinfo.profileimage}}"  ng-click="MovetoUpload('doctorprofile',doctorinfo.doctorid)" alt="Doctor Name">
			<h4>{{doctorinfo.doctordata.doctor[0].FullName}} <span>{{GetQualification(doctorinfo.doctordata.doctor[0].Qualification)}}</span></h4>
			<p class="specialist">
				{{GetSpeciality(doctorinfo.doctordata.doctor[0].SpecialityCD)}}
			</p>
		</div>
		<ion-content drag-content="false">
			<ion-list >
				<ion-item menu-close>
					<a href="#/app/profile"><i class="icon-mp"></i>MY Profile</a>
				</ion-item>
				<ion-item menu-close >
					<a ng-click="StartConsult()"><i class="icon-msearch"></i>Start Consultation</a>
				</ion-item>
				<ion-item menu-close>
					<a href="#/app/searchpatient"><i class="icon-ma"></i>My Patients</a>
				</ion-item>
				<ion-item menu-close href="#/app/mycareteam">
					<a  href="#/app/mycareteam"><i class="icon-mct"></i>Care Providers</a>
				</ion-item>
				<ion-item menu-close href="#/app/comingreferral">
					<a  href="#/app/comingreferral"><i class="icon-dashboard"></i>My Dashboard</a>
				</ion-item>
				<!--<ion-item menu-close href="#/app/comingreferral">
				<a  href="#/app/comingreferral"><i class="icon-mct"></i>Add referral</a>
				</ion-item>
				<ion-item menu-close href="#/app/pharmasearch">
				<a href="#/app/pharmasearch"><i class="icon-mhd"></i>My Pharmacies</a>
				</ion-item>
				<ion-item menu-close href="#/app/labsearch">
				<a href="#/app/labsearch"><i class="icon-mhd"></i>My Lab /Location</a>
				</ion-item>-->
				<!-- <ion-item menu-close href="#/app/playlists">
				<a href="#"><i class="icon-people"></i>Change Password</a>
				</ion-item>-->
				<ion-item menu-close href="#/app/settings">
					<a href="#/app/settings"><i class="icon-settings"></i>Settings</a>
				</ion-item>
				<ion-item menu-close href="#/app/help">
					<a href="#/app/help"><i class="icon-help"></i>Help</a>
				</ion-item>
				<!--  <ion-item menu-close href="#/app/signout">
				<a href="#/app/signout"><i class="icon-setting"></i>Logout</a>
				</ion-item>-->

			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
