<style>
    body {
        background: url(img/bg_partten.jpg) repeat 0 0 #3472ab
    }
    .header-top {
        width: 100%;
        padding: 0 5%;
    }
    header {
        padding: 30px 0 20px;
        overflow: hidden;
        text-align: center
    }
    header a {
        display: inline-block;
        text-align: center
    }	
    header p {
        font-family: 'Abel', sans-serif;
        font-size: 24px;
        color: #ffba27;
        margin: 15px 0 0
    }

</style>



<div class="container" >
	<div id="wrapper">
		<div id="" class="animate form">
			 <span class="list list-inset error-msg" ng-show="error">{{errordesc}}</span>
			<form method="POST" name="signupForm" ng-submit="signup(signupForm)"> 
				<h2 class="form-signin-heading">Sign Up</h2>

				<!-- Full Name -->
				<label for="fullName" class="sr-only">Your Name</label>
				<input class="form-control" id="fullName" type="text" placeholder="Full Name"  ng-model="signupForm.fullName" required>
				<p ng-show="signupForm.fullName.lenght > 0">You name is required.</p>
				<!-- End of full name -->
				
				<!-- Email -->
				<label for="inputEmail" class="sr-only">Email Address</label>
				<input class="form-control" name="email" id="email" type="email" placeholder="Email" required="" ng-model="signupForm.emailID">
				<p ng-show="signupForm.emailID.$invalid && !signupForm.emailID.$pristine" class="help-block">Enter a valid email.</p>
				<!-- End of email -->
				
				<!-- Mobile number -->
				
				<label for="m-no" class="sr-only">Mobile Number</label>
				<input class="form-control" id="mobileNumber" type="number" placeholder="Contact Number" required ng-model="signupForm.mobileNumber">
				<div ng-show="signupForm.$submitted || signupForm.mobileNumber.$touched">
					<p ng-show="signupForm.mobileNumber.$error.required && submitted" class="help-block">Please Enter Mobile Number.</p>
				</div>
				<!-- End of mobile number -->

				<label for="m-no" class="sr-only">Password</label>
				<input type="password" id="pwd" class="form-control" placeholder="Password" required ng-model="signupForm.password">

				<label for="m-no" class="sr-only">Confirm Password</label>
				<input type="password" id="c-pwd" class="form-control" placeholder="Confirm Password" required ng-model="signupForm.changepassword">
				<div ng-show="signupForm.password != signupForm.changepassword">
					Password missmatch
				</div>
				<button class="btn btn-block signup-btn ripple" type="submit">Sign Up</button>
				<p>Already a member ? <a class="to_register" ng-click="toggleLogin()"> Go and Sign In </a></p>
			</form>
			{{ formData }}
		</div>
	</div>
</div>