﻿
<table width="100%"> 
    <tr><td><div class="item-input-search">
                      <i class="icon-search-small"></i>
                      <input type="text" class="search"  ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false" />

            </div></td></tr>
    <tr><td>
    <div class="listingcontainer items" ng-hide="!model.length || selected">
	    <div class="dataitem" ng-repeat="item in items | filter: model track by $index" ng-click="handleSelection(item)" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
		<p class="title" >{{item.name}}</p>
	</div>
</div> </td></tr>
</table>
 