﻿ <table width="100%"> 
    <tr><td><div class="item-input-search">
                <i class="icon-search-small"></i>
                     <input type="text"  class="search" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false"  ng-change="GetMedicineFromLocalDB()"/>
            </div></td></tr>
    <tr><td>
        <div class="listingcontainer items" ng-hide="!model.length || selected">
	        <ul>
                <li ng-repeat="item in items | filter: model track by $index" ng-click="handleSelection(item)">
                    <img ng-src="{{GetMedicineImage(item.MedicineType)}}"/>{{item.Medicine}}</li> 
            </ul>
        </div></td></tr>
</table>
