<div class="c7report" ng-controller="c7RejectedReportController">
    <div class="row">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group no-mar clearfix">
                            <label>CCG <em>*</em></label>
                            <select class="form-control" ng-model="ccgId">
                                    <option value="0">All</option>
                                    <option ng-repeat="ccg in allCCG" value="{{ccg.ccgid}}">{{ccg.ccgname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Select Date</label>
                            <input class="form-control icons-calendar" placeholder="DD-MM-YYYY - DD-MM-YYYY" ng-model="date" daterangedashboardpicker type="text">
                        </div>
                    </div>

                    <div class="col-md-3 text-center pt-20">
                        <button class="btn btn-primary" ng-click="getrejectedData()">Apply</button>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="range">Search Patient</label>
                            <input class="form-control" placeholder="DW ID" ng-model="dwidSearch" type="text">
                        </div>
                    </div>
                    <!-- <div class="col-md-2 text-right pt-20">
                        <button class="btn btn-primary" ng-click="exportTOExcel()" ng-disabled="rejectedData.length==0">Export to Excel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="report-cont">
        <div class="table-responsive">
            <table class="table color-theme-one">
                <thead>
                    <tr>
                        <th>Date Received</th>
                        <th>DW ID</th>
                        <th>CCG</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in rejectedData | filter: {dwid:dwidSearch}">
                        <td>{{data.dateReceived | convertdate}}</td>
                        <td>{{data.dwid}}</td>
                        <td>{{data.ccgname}}</td>
                        <td>{{data.reason}}</td>
                    </tr>
                </tbody>
                <tbody ng-show="rejectedData.length==0">
                    <tr>
                        <td class="bold text-center" colspan="20">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div ng-show="rejectedData.length==0" class="bold text-center" colspan="20">
            No records found
        </div> -->
    </div>
</div>